<div class="structured-data-container">
    <div class="header-sec">
        <div class="title">{{'structuredData.structuredData' | translate}}</div>
        <div class="d-flex align-items-center">
            <div class="kr-sg-input-search m-0" [ngClass]="{'d-none': !searchActive}">                               
                <input type="text" id="direct-search" [(ngModel)]="searchText" (keyup.enter)="searchItems()" placeholder="Search" autocomplete="off" class="input-search pl-2" placeholder="Search">           
            </div> 
            <div class="seach-block">
                <span [ngClass]="{'d-none': searchActive}" id="btn_toggle_search_structured_data" (click)="toggleSearch(true)"><img src="assets/icons/search.svg" [ngClass]="{'d-none': searchActive}">{{'search' | translate}}</span>
                <img [ngClass]="{'d-none': !searchActive}" id="btn_close_search_structured_data" src="assets/images/close.svg" (click)="toggleSearch(false)">
            </div>   
            <!-- Commented for now -->
            <!-- <div class="adv-search" id="btn_toggle__advanced_search_structured_data" (click)="openAdvancedSearch()"><img src="assets/icons/content/indent.svg">{{'structuredData.advancedSearch' | translate}}</div> -->
            <div class="kr-sg-dropdowns w-auto add_data" ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                <div class="dropdown dropdown-open">
                    <button class="dropdown-toggle dropdown-input" id="btn_toggle_add_file_structured_data" ngbDropdownToggle><img src="assets/icons/add_plus.svg">{{'structuredData.addField' | translate}}</button>                                            
                    <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                      <li id="btn_open_import_structured_data" (click)="openAddStructuredData('structuredData')">{{'structuredData.import' | translate}}</li>
                      <li id="btn_open_manual_structured_data" (click)="openAddStructuredData('structuredDataManual')">{{'structuredData.addManually' | translate}}</li>                  
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <perfect-scrollbar class="structured-data-scroll">
        <div *ngIf="!isLoading">
            <ng-container *ngIf="structuredDataItemsList.length">
                <div class="structured-data-table-sec">
                    <!-- Commented for now -->
                    <!-- <div class="toast-block-blue row m-0 align-items-center">
                        <div class="col-9 d-flex p-0 align-items-center">
                            <img src="assets/icons/structured-data/Info.svg" class="mr-2">
                            <span class="info-text">Data has already been indexed</span>
                        </div>      
                        <div class="col-3 p-0 text-right"><img class="close-icon" src="assets/icons/modal-close.svg"></div>                                                                                                                              
                    </div> -->
                    <div class="row align-items-center m-0 position-relative">
                        <div class="filter-sec text-left mb-1 col-7 p-0" *ngIf="appliedAdvancedSearch.length">
                            <span class="filter_text">{{advancedSearchInput}} <img src="assets/icons/structured-data/close-filter.svg" class="ml-3"></span> <span class="ml-3 filter-title">{{'structuredData.editFilter' | translate}}</span>
                        </div>
                        <div class="filter-sec text-right mb-1 col-5 p-0" [ngClass]="{'col-12' : !appliedAdvancedSearch.length}">
                            <button id="btn_delete_all_structured_data" class="kr-sg-button-danger btn_lg" *ngIf="selectedStructuredData.length" (click)="deleteStructuredDataPopup()">{{'structuredData.delete' | translate}}</button>
                        </div>                        
                    </div>
                    <div class="structured-data" *ngFor="let data of structuredDataItemsList;let d_index = index">
                        <div class="kr-sg-checkbox d-block" [ngClass]="{'isChecked' : data.isChecked}">
                            <input id="checkbox_drp{{d_index}}" (click)="selectData(data, d_index)" [checked]="data.isChecked" class="checkbox-custom" type="checkbox">
                            <label for="checkbox_drp{{d_index}}" class="checkbox-custom-label"></label>
                        </div>
                        <div class="data-content">
                            <!-- <pre>{{data._source.parsedData}}</pre> -->
                            <ngx-codemirror #codemirror name="jsonEditor" [options]="codeMirrorOptions" [(ngModel)]="data.parsedData"></ngx-codemirror>
                            <span class="ml-3 view-json" *ngIf="data.objectLength > 5" (click)="editJson(data)">{{'structuredData.viewJson' | translate}}</span>
                        </div>
                        <!-- Commented for now -->
                        <!-- <div class="toast-block">
                            <img src="assets/icons/green-check-circle.svg" class="successfullyIndex mr-2">
                            <span class="info-text">{{'structuredData.success_indexing' | translate}} </span>
                            <span class="index_data ml-2">{{'structuredData.index_data' | translate}}</span>
                            <img class="close-icon" src="assets/icons/modal-close.svg">
                        </div> -->
                        <div class="action-links">
                            <img src="assets/icons/edit-pencil.svg" (click)="editJson(data)" id="btn_edit_structured_data" placement="top-center" container='body' ngbTooltip="Edit" tooltipClass="ngb_tooltip_custom_class sampleJson">
                            <img src="assets/icons/delete-table.svg" (click)="deleteStructuredDataPopup(data)"  id="btn_delete_structured_data" placement="top-center" container='body' ngbTooltip="Delete" tooltipClass="ngb_tooltip_custom_class sampleJson">
                        </div>
                        <!-- Commented for now -->
                        <!-- <div class="info-link"><img src="assets/icons/info.svg"></div> -->
                        <!-- <div class="indexing">
                            <button class="kr-sg-button-secondary btn_md">Index</button>
                        </div> -->
                    </div>
                    <!-- <div class="structured-data">
                        <div class="kr-sg-checkbox d-block">
                            <input id="checkbox_drp2" class="checkbox-custom" type="checkbox">
                            <label for="checkbox_drp2" class="checkbox-custom-label"></label>
                        </div>
                        <div class="data-content">
                            To access Citibank Online as a first time user, you will need to create a User ID and Internet Password. You can create a User ID and Internet Password using the Debit Card for your Rupee Checking Account and the ATM Personal Identification Number.
                        </div>
                        <div class="action-links">
                            <img src="assets/icons/edit-pencil.svg" placement="top-center" container='body' ngbTooltip="Edit" tooltipClass="ngb_tooltip_custom_class sampleJson">
                            <img src="assets/icons/delete-table.svg" placement="top-center" container='body' ngbTooltip="Delete" tooltipClass="ngb_tooltip_custom_class sampleJson">
                        </div>
                        <div class="info-link"><img src="assets/icons/info.svg"></div>
                    </div> -->
                </div>
                <app-record-pagination id="pagination_structured_data" class="pagination" [totalRecord]='structuredDataItemsList.length' [limitpage]='20' (pageChanged)="paginate($event)"></app-record-pagination>
            </ng-container>
            <div class="empty_records d-flex text-center col-12 row" *ngIf="noItems">
                <div class="col-12">
                    <img class="action_icon" src="assets/images/structured-data-empty.svg" >
                </div>
                <div class="offset-2 col-8 row mt-2 text-center">
                    <ng-container *ngIf="noItems && !emptySearchResults">
                        <span class="col-12 no-data">{{'structuredData.no_structuer_data' | translate}}</span>
                        <span class="col-12">{{'structuredData.help_text' | translate}}</span>
                        <div class="kr-sg-dropdowns w-auto add_data offset-5 mt-1" ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" id="btn_empty_toggle_add_file_structured_data" ngbDropdownToggle>{{'structuredData.addData' | translate}}</button>                                            
                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                  <li id="btn_open_import_structured_data" (click)="openAddStructuredData('structuredData')">{{'structuredData.import' | translate}}</li>
                                  <li id="btn_open_manual_structured_data" (click)="openAddStructuredData('structuredDataManual')">{{'structuredData.addManually' | translate}}</li>                  
                                </ul>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="noItems && emptySearchResults">
                        <span class="col-12 mt-5">{{'structuredData.empty_search_result' | translate}}</span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="mainLoadingSpinner" *ngIf="isLoading" >
            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
            <span class="please-wait-message">{{'synonyms.please_wait' | translate}}</span>
        </div>
    </perfect-scrollbar>
</div>

<kr-modal modalType="center" modalClass="modal_popups_ imort-structure-data" #addStructuredDataModalPop>
    <app-add-structured-data [selectedSourceType]="selectedSourceType" (closeStructuredDataModal)="cancleSourceAddition($event)"></app-add-structured-data>
</kr-modal>

<kr-modal modalType="center" modalClass="modal_popups_ imort-structure-data" #advancedSearchModalPop>
    <div class="modal-header">
        <div class="title">{{'structuredData.advancedSearch' | translate }}</div>
        <div class="close_icon"><img id="btn_close_advanced_search" (click)="cancleAdvansedSearch()" src="assets/icons/modal-close.svg"></div>
      </div>
        <div class="modal-body">
            <div class="kr-sg-input-text text">
                <div class="label-text">{{'structuredData.searchFilter' | translate}}</div>
                <input type="text" [(ngModel)]="advancedSearchInput" placeholder="Placeholder text" class="input-text">
                <div class="desc">{{'structuredData.searchFilterDesc' | translate}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="kr-sg-button-secondary backbtn btn_md mr-2" id="btn_cancel_advanced_search" (click)="cancleAdvansedSearch()">{{'structuredData.cancel' | translate}}</button>
            <button class="kr-sg-button-primary btn_lg mr-3" id="btn_apply_advanced_search" [disabled]="!advancedSearchInput.length" (click)="applyAdvancedSearch()">{{ 'structuredData.apply' | translate}}</button>
        </div>
</kr-modal>

<kr-modal modalType="default" #structuredDataStatusModalPop>
    <app-structured-data-status-modal (closeStructuredDataStatusModal)="closeStructuredDataStatusModal()" [structuredDataDocPayload]="structuredDataDocPayload"></app-structured-data-status-modal>
</kr-modal>