<!-- Sidebar -->
<div
  class="sidebar-fixed position-fixed activeMenu toShowAppHeader"
  *ngIf="show"
>
  <i class="si-close main-menu-icon" (click)="toggleMainMenu.emit()"></i>
  <ng-container
    *ngIf="
      (settingMainMenu || sourceMenu) &&
      appSelectionService?.env_dep_type !== 'installer'
    "
  >
    <div
      class="upgrade_your_plan_price {{
        usageDetails?.queryPercentageUsed >= 80 &&
          'upgrade_your_plan_price_with_text'
      }}"
      *ngIf="showUpgrade"
    >
      <div class="product-subscription-alert">
        <div class="px-1 close-btn" (click)="showUpgrade = !showUpgrade">
          <i class="si-close-red"></i>
        </div>
        <img
          ngSrc="assets/images/pricing-plan/new-plan-pricing-img/order-confirmation.png"
          class="product-subscription-img {{
            usageDetails?.queryPercentageUsed >= 80 &&
              'product-subscription-img_with_text'
          }}"
          width="456"
          height="304"
        />
        <p
          class="product-subscription-desc"
          *ngIf="usageDetails?.queryPercentageUsed >= 80"
        >
          {{
            (usageDetails?.queryPercentageUsed >= 80 &&
            usageDetails?.queryPercentageUsed < 100
              ? 'app_menu_utlization_80%'
              : 'app_menu_utlization_100%'
            ) | translate
          }}
        </p>
        <div
          class="upgrade-plan-btn"
          [ngClass]="{
            danger: usageDetails?.queryPercentageUsed > 80,
            warning:
              usageDetails?.queryPercentageUsed > 50 &&
              usageDetails?.queryPercentageUsed <= 80
          }"
          (click)="upgrade()"
          (mouseover)="showNotificationBanner('over')"
          (mouseout)="showNotificationBanner('out')"
        >
          <i class="si-publish si-icon m-r-2"></i
          >{{ 'app_menu_upgrade_plan' | translate }}
        </div>
        <div class="hover-documnet-show-data">
          <div class="card-data- card1">
            <div class="img-block">
              <img src="assets/icons/pricing/query-limits.svg" />
            </div>
            <div class="content-sec">
              <div class="title">{{ 'app_menu_query_limit' | translate }}</div>
              <div class="desc-text">
                {{ 'app_menu_percent_of_queries' | translate }}
              </div>
              <div class="count-data">
                <div class="linit-k">
                  <span>{{ usageDetails?.searchCount | valueFormat }}</span> /
                  {{ usageDetails?.searchLimit | valueFormat }}
                </div>
                <div class="percentage">
                  {{ usageDetails?.queryPercentageUsed }}%
                </div>
              </div>
            </div>
            <ng-container>
              <ngb-progressbar
                height="10px"
                [type]="
                  usageDetails?.queryPercentageUsed > 80
                    ? 'danger'
                    : usageDetails?.queryPercentageUsed > 50 &&
                      usageDetails?.queryPercentageUsed <= 80
                    ? 'warning'
                    : 'primary'
                "
                [value]="usageDetails?.queryPercentageUsed"
                max="100"
              ></ngb-progressbar>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <perfect-scrollbar class="perfect-scroll">
    <div
      class="list-group list-group-flush"
      *ngIf="!settingMainMenu && !sourceMenu"
    >
      <div class="default-index-title">
        <div
          class="kr-sg-dropdowns"
          #selectIndexConfigDrop="ngbDropdown"
          ngbDropdown
          [placement]="'bottom'"
        >
          <div class="dropdown dropdown-open">
            <button
              class="dropdown-toggle dropdown-input"
              title="{{ selectedIndexConfig?.name }}"
              ngbDropdownToggle
            >
              <span class="text-truncate">{{ selectedIndexConfig?.name }}</span>
            </button>
            <ul
              class="dropdown-menu content-menu queryPipelineDefault"
              ngbDropdownMenu
            >
              <perfect-scrollbar>
                <ul class="pl-0">
                  <li
                    class="list-name text-truncate"
                    [ngClass]="{ nostars: config.default || !config.default }"
                    (click)="
                      selectIndexPipelineId(config, selectIndexConfigDrop)
                    "
                    *ngFor="let config of indexConfigs"
                  >
                    <img
                      src="assets/icons/star.svg"
                      *ngIf="config.default"
                      class="star"
                      [container]="'body'"
                      ngbTooltip="{{ 'app_menu_Default_Index' | translate }}"
                      placement="top-center"
                    />
                    <img
                      src="assets/icons/start-black.svg"
                      [container]="'body'"
                      (click)="
                        $event.stopPropagation(); markAsDefaultIndex(config)
                      "
                      *ngIf="!config.default && !editName"
                      class="star-black"
                      ngbTooltip="Make as Default"
                      placement="top-center"
                    />
                    <span
                      *ngIf="
                        selectedIndexConfig?._id === config._id &&
                          editIndexName;
                        else indexName
                      "
                    >
                      <input
                        type="text"
                        class="edit-name"
                        name="editIndexName"
                        [(ngModel)]="editIndexNameVal"
                        id="editIndexNameID"
                        (click)="$event.stopPropagation()"
                        (keypress)="onKeypressIndexEvent($event, config)"
                      />
                    </span>
                    <ng-template #indexName>
                      <span
                        class="config_name text-truncate"
                        placement="top-center"
                        [container]="'body'"
                        ngbTooltip="{{
                          config.name === 'Default'
                            ? ('app_menu_Default_Index' | translate)
                            : config.name
                        }}"
                        >{{
                          config.name === 'Default'
                            ? ('app_menu_Default_Index' | translate)
                            : config.name
                        }}</span
                      >
                    </ng-template>
                    <div class="action-icons-data">
                      <div
                        class="clone"
                        *ngIf="!editIndexName"
                        (click)="
                          $event.stopPropagation();
                          openIndexModalPopup('clone', config);
                          selectIndexConfigDrop.close()
                        "
                        ngbTooltip="{{ 'sa_clone' | translate }}"
                        placement="top-center"
                        [container]="'body'"
                      >
                        <img src="assets/icons/clone.svg" />
                      </div>
                      <div
                        class="edit-black"
                        *ngIf="!editIndexName && !config.default"
                        (click)="
                          $event.stopPropagation();
                          editIndexConfig(config, 'edit')
                        "
                        ngbTooltip="{{ 'sa_edit' | translate }}"
                        placement="top-center"
                        [container]="'body'"
                      >
                        <img src="assets/icons/edit-pencil.svg" />
                      </div>
                      <div
                        class="delete"
                        *ngIf="!editIndexName && !config.default"
                        ngbTooltip="{{ 'sa_delete' | translate }}"
                        placement="top-center"
                        [container]="'body'"
                        (click)="
                          $event.stopPropagation();
                          checkExistInExperiment(config, 'index')
                        "
                      >
                        <img src="assets/icons/delete.svg" />
                      </div>
                    </div>
                  </li>
                </ul>
              </perfect-scrollbar>

              <div
                class="create-new"
                (click)="
                  openIndexModalPopup('default'); selectIndexConfigDrop.close()
                "
              >
                <img class="mr-2" src="assets\images\plus-add.svg" />{{
                  'app_menu_create_new' | translate
                }}
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="index-config-nav-block">
        <div class="index-title text-truncate">
          {{ 'app_menu_index_config' | translate }}
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/FieldManagementComponent']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('fields')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-file-upload"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/fields.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/fields-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'fields_fields' | translate }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/traits']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('traits')"
          mat-button
        >
          <span class="inlineIconBox leftAdjust">
            <i class="si-traits"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/traits.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/traits-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'app_menu_traits' | translate }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/workbench']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('workbench')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-work-bench"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/index.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/index-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'app_menu_Workbench' | translate }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/index-configuration-settings']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('indexconfigsettings')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/Settings.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/Settings-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-settings"></i>
            <!-- <i class="si-settings defaultIcon"></i>
						<i class="si-settings activeIcon"></i> -->
          </span>
          <span class="linkTitle">{{ 'index_Settings' | translate }} </span>
        </div>
      </div>

      <div class="search-config-nav-block mb-2">
        <div class="search-config-title text-truncate">
          {{ 'app_menu_Search_Configuration' | translate }}
        </div>
        <div class="search-config-elipse-block pr-0">
          <div class="title text-truncate" title="{{ selectedConfig?.name }}">
            {{ selectedConfig?.name }}
          </div>
          <div
            class="kr-sg-dropdowns kr_sg_dropdowns"
            #selectSearchConfigDrop="ngbDropdown"
            ngbDropdown
            [container]="'body'"
            [placement]="'bottom-left'"
          >
            <div class="dropdown dropdown-open">
              <button
                class="dropdown-toggle dropdown-input before-none"
                ngbDropdownToggle
              >
                <img src="assets/icons/sidemenu/dropdownup.svg" />
              </button>
              <ul
                class="dropdown-menu content-menu queryPipelineConfig"
                ngbDropdownMenu
              >
                <div class="title-main">
                  {{ 'app_menu_search_profile' | translate }}
                </div>
                <div
                  class="create-new"
                  (click)="
                    openModalPopup('default'); selectSearchConfigDrop.close()
                  "
                >
                  <img class="mr-2" src="assets\images\plus-add.svg" />{{
                    'app_menu_New_Profile' | translate
                  }}
                </div>
                <perfect-scrollbar>
                  <li
                    class="list-name text-truncate"
                    [ngClass]="{ nostars: !config.default || config.default }"
                    (click)="
                      selectQueryPipelineId(config, selectSearchConfigDrop)
                    "
                    *ngFor="let config of queryConfigs"
                  >
                    <img
                      src="assets/icons/sidemenu/pin.svg"
                      *ngIf="config.default"
                      class="star"
                      [container]="'body'"
                      ngbTooltip="Default"
                      placement="top-center"
                    />
                    <img
                      src="assets/icons/sidemenu/unpin.svg"
                      [container]="'body'"
                      (click)="$event.stopPropagation(); markAsDefault(config)"
                      *ngIf="!config.default && !editName"
                      class="star-black"
                      ngbTooltip="Make as Default"
                      placement="top-center"
                      [container]="'body'"
                    />
                    <span
                      *ngIf="
                        selectedConfig._id === config._id && editName;
                        else name
                      "
                    >
                      <input
                        type="text"
                        class="edit-name"
                        name="editName"
                        [(ngModel)]="editNameVal"
                        id="editNameID"
                        (click)="$event.stopPropagation()"
                        (keypress)="onKeypressEvent($event, config)"
                      />
                    </span>
                    <ng-template #name>
                      <span
                        class="config_name text-truncate"
                        placement="top-center"
                        [container]="'body'"
                        ngbTooltip="{{
                          config.name === 'Default'
                            ? ('app_menu_Default_search' | translate)
                            : config.name
                        }}"
                        >{{
                          config.name === 'Default'
                            ? ('app_menu_Default_search' | translate)
                            : config.name
                        }}</span
                      >
                    </ng-template>
                    <div class="action-icons-data">
                      <div
                        class="clone"
                        *ngIf="!editName"
                        (click)="
                          $event.stopPropagation();
                          openModalPopup('clone', config);
                          selectSearchConfigDrop.close()
                        "
                        ngbTooltip="{{ 'sa_clone' | translate }}"
                        placement="top-center"
                        [container]="'body'"
                      >
                        <img src="assets/icons/sidemenu/copy.svg" />
                      </div>
                      <div
                        class="edit-black"
                        *ngIf="!editName && !config.default"
                        (click)="
                          $event.stopPropagation(); editConfig(config, 'edit')
                        "
                        ngbTooltip="{{ 'sa_edit' | translate }}"
                        placement="top-center"
                        [container]="'body'"
                      >
                        <img src="assets/icons/sidemenu/edit.svg" />
                      </div>
                      <div
                        class="delete"
                        *ngIf="!editName && !config.default"
                        (click)="
                          $event.stopPropagation();
                          checkExistInExperiment(config, 'search')
                        "
                        ngbTooltip="{{ 'sa_delete' | translate }}"
                        placement="top-center"
                        [container]="'body'"
                      >
                        <img src="assets/icons/sidemenu/delete.svg" />
                      </div>
                    </div>
                  </li>
                </perfect-scrollbar>
              </ul>
            </div>
          </div>
        </div>
        <div
          mat-button
          class="mat-button"
          [routerLink]="['/search-settings']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('searchSettings', 'search_settings')"
          mat-button
        >
          <span class="inlineIconBox leftAdjust">
            <i class="si-settings"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/Settings.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/Settings-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{
            'search_settings_title' | translate
          }}</span>
          <span class="linkTitle d-none">{{
            'app_menu_Weights' | translate
          }}</span>
        </div>
        <div
          mat-button
          class="mat-button"
          [routerLink]="['/answerSnippet']"
          skipLocationChange
          routerLinkActive="active"
          mat-button
        >
          <span class="inlineIconBox leftAdjust">
            <i class="si-qestionandanswers"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/answer-snippet.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/answer-snippet-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'answer_snippets' | translate }}</span>
        </div>
        <div
          mat-button
          class="mat-button"
          [routerLink]="['/resultranking']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('resultranking')"
          mat-button
        >
          <span class="inlineIconBox leftAdjust">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/results.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/results-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-results-ranking"></i>
          </span>
          <span class="linkTitle">{{
            'app_menu_Results_Ranking' | translate
          }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/facets']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('synonyms')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/facets.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/facets-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-facets"></i>
          </span>
          <span class="linkTitle">{{ 'app_menu_Facets' | translate }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/rules']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('synonyms')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/rules.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/rules-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-business-rules"></i>
          </span>
          <span class="linkTitle">{{
            'app_menu_Business_Rules' | translate
          }}</span>
        </div>
      </div>

      <div class="search-experience-nav-block mb-2">
        <div class="search-experience-title text-truncate">
          {{ 'app_menu_search_experience' | translate }}
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/search-experience']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('index')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/search-interface.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/search-interface-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-search-interface"></i>
          </span>
          <span class="linkTitle">{{
            'app_menu_search_interface' | translate
          }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/resultTemplate']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('index')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/result-template.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/result-template-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-result-templates"></i>
          </span>
          <span class="linkTitle">{{
            'app_menu_result_templates' | translate
          }}</span>
        </div>
      </div>
    </div>

    <div
      class="list-group list-group-flush"
      *ngIf="!settingMainMenu && sourceMenu"
    >
      <div class="sources-block-nav-items">
        <div class="link-side-menu add-sources-btn pr-2">
          <div class="source_title">{{ 'app_menu_sources' | translate }}</div>
          <div
            class="add-sources"
            [routerLink]="['/sources']"
            skipLocationChange
            routerLinkActive="active"
            (click)="preview('Source')"
          >
          <i class="si-sources-index-list"></i>
            <!-- <img src="assets/icons/sidemenu/new-icons/add-source.svg" /> -->
          </div>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/content']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('Content')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-file-upload"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/page.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/page-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'app_menu_content' | translate }}</span>
        </div>

        <div
          [routerLink]="['/faqs']"
          mat-button
          class="mat-button"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('Faqs')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-faq-qns"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/faq.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/faq-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'app_menu_FAQs' | translate }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          id="botActionsTab"
          [routerLink]="['/botActions']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('Bot Actions')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-actions"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/actions.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/actions-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'app_menu_Actions' | translate }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/structuredData']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('Structured Data')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-data"></i>
            <!-- <img
              src="assets/icons/sidemenu/structured_data.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/structured_data_active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{
            'structuredData_structured_data' | translate
          }}</span>
        </div>

        <div
          mat-button
          class="mat-button"
          [routerLink]="['/connectors']"
          skipLocationChange
          routerLinkActive="active"
          (click)="preview('Connector')"
          mat-button
        >
          <span class="inlineIconBox">
            <i class="si-conectors"></i>
            <!-- <img
              src="assets/icons/sidemenu/new-icons/connectors.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/connectors-active.svg"
              class="activeIcon"
            /> -->
          </span>
          <span class="linkTitle">{{ 'app_menu_Connectors' | translate }}</span>
        </div>
      </div>
    </div>

    <!-- Inside config tab menus -->
    <div
      class="list-group list-group-flush inside-config-tab-left-menus"
      *ngIf="settingMainMenu && !sourceMenu"
    >
      <div
        mat-button
        class="mat-button {{ isRouteDisabled && 'disable_btn' }}"
        [ngClass]="{ disable_btn: isRouteDisabled }"
        [routerLink]="['/generalSettings']"
        skipLocationChange
        routerLinkActive="active"
        (click)="preview('traits')"
        mat-button
      >
        <span class="inlineIconBox leftAdjust">
          <!-- <img
            src="assets/icons/sidemenu/new-icons/Settings.svg"
            class="defaultIcon"
          />
          <img
            src="assets/icons/sidemenu/new-icons/Settings-active.svg"
            class="activeIcon"
          /> -->
          <i class="si-settings"></i>
        </span>
        <span class="linkTitle" [ngClass]="{ disable_btn: isRouteDisabled }">{{
          'app_menu_General_Settings' | translate
        }}</span>
      </div>

      <!-- <div class="inside-menu-title">SETTINGS</div> -->
      <div
        mat-button
        class="mat-button {{ isRouteDisabled && 'disable_btn' }}"
        [ngClass]="{ disable_btn: isRouteDisabled }"
        [routerLink]="['/settings']"
        skipLocationChange
        routerLinkActive="active"
        (click)="preview('traits')"
        mat-button
      >
        <span class="inlineIconBox leftAdjust">
          <!-- <img
            src="assets/icons/sidemenu/new-icons/channels.svg"
            class="defaultIcon"
          />
          <img
            src="assets/icons/sidemenu/new-icons/channels-active.svg"
            class="activeIcon"
          /> -->
          <i class="si-channels"></i>
        </span>
        <span class="linkTitle" [ngClass]="{ disable_btn: isRouteDisabled }">{{
          'app_menu_Channels' | translate
        }}</span>
      </div>
      <div
        mat-button
        class="mat-button {{ isRouteDisabled && 'disable_btn' }}"
        [ngClass]="{ disable_btn: isRouteDisabled }"
        [routerLink]="['/credentials-list']"
        skipLocationChange
        routerLinkActive="active"
        (click)="preview('index')"
        mat-button
      >
        <span class="inlineIconBox">
          <!-- <img
            src="assets/icons/sidemenu/new-icons/credentials.svg"
            class="defaultIcon"
          />
          <img
            src="assets/icons/sidemenu/new-icons/credentials-active.svg"
            class="activeIcon"
          /> -->
          <i class="si-credentials"></i>
        </span>
        <span class="linkTitle" [ngClass]="{ disable_btn: isRouteDisabled }">{{
          'app_menu_Credentials' | translate
        }}</span>
      </div>
      <div
        mat-button
        class="mat-button {{ isRouteDisabled && 'disable_btn' }}"
        [ngClass]="{ disable_btn: isRouteDisabled }"
        [routerLink]="['/team-management']"
        skipLocationChange
        routerLinkActive="active"
        (click)="preview('index')"
        mat-button
      >
        <span class="inlineIconBox">
          <!-- <img
            src="assets/icons/sidemenu/new-icons/team_management.svg"
            class="defaultIcon"
          />
          <img
            src="assets/icons/sidemenu/new-icons/team_management-active.svg"
            class="activeIcon"
          /> -->
          <i class="si-teams"></i>
        </span>
        <span class="linkTitle" [ngClass]="{ disable_btn: isRouteDisabled }"
          >{{ 'app_menu_Team' | translate }}
        </span>
      </div>

      <div *ngIf="appSelectionService?.env_dep_type !== 'installer'">
        <div class="inside-menu-title mt-3">
          {{ 'app_menu_BILLING_&_USAGE' | translate }}
        </div>
        <div
          mat-button
          class="mat-button"
          [routerLink]="['/pricing']"
          skipLocationChange
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="preview('index', 'pricing')"
          mat-button
        >
          <span class="inlineIconBox leftAdjust">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/plandetails.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/plandetails-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-doc-files"></i>
          </span>
          <span class="linkTitle"
            >{{ 'app_menu_plan_details' | translate }}
          </span>
        </div>
        <div
          mat-button
          class="mat-button {{ isRouteDisabled && 'disable_btn' }}"
          [routerLink]="['/pricing/usageLog']"
          skipLocationChange
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="preview('index')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/usagelog.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/usagelog-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-usager-log"></i>
          </span>
          <span class="linkTitle">{{ 'app_menu_Usage_Log' | translate }}</span>
        </div>
        <div
          mat-button
          class="mat-button {{ isRouteDisabled && 'disable_btn' }}"
          [routerLink]="['/pricing/invoices']"
          skipLocationChange
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="preview('index')"
          mat-button
        >
          <span class="inlineIconBox">
            <!-- <img
              src="assets/icons/sidemenu/new-icons/invoice.svg"
              class="defaultIcon"
            />
            <img
              src="assets/icons/sidemenu/new-icons/invoice-active.svg"
              class="activeIcon"
            /> -->
            <i class="si-invoices"></i>
          </span>
          <span class="linkTitle">{{ 'invoices_invoices' | translate }}</span>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>

<!-- Sidebar -->

<kr-modal
  modalType="center"
  modalClass="modal_popups_ add-experment-popup smallModal"
  #addFieldModalPop
>
  <div class="modal-header">
    <div class="title">
      {{ newConfigObj.method === 'default' ? 'New' : ('sa_clone' | translate) }}
      Search Configuration
    </div>
    <div class="close_icon" (click)="closeModalPopup()">
      <img ngSrc="assets/icons/modal-close.svg" width="16" height="16" />
    </div>
  </div>
  <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body textAlignLeft">
      <div class="group-radiobutton">
        <div class="kr-sg-radiobutton">
          <input
            id="createQueryConfig"
            [(ngModel)]="newConfigObj.method"
            name="default"
            value="default"
            class="radio-custom"
            type="radio"
          />
          <label for="createQueryConfig" class="radio-custom-label">
            {{ 'app_menu_Create_New' | translate }}</label
          >
        </div>
        <div class="kr-sg-radiobutton">
          <input
            id="cloneQueryConfig"
            [(ngModel)]="newConfigObj.method"
            (change)="selectDefault()"
            name="clone"
            value="clone"
            class="radio-custom"
            type="radio"
          />
          <label for="cloneQueryConfig" class="radio-custom-label">
            {{ 'app_menu_Clone_Configuration' | translate }}</label
          >
        </div>
      </div>
      <ng-container *ngIf="newConfigObj.method === 'clone'">
        <div class="kr-sg-dropdowns kr_sg_dropdowns mb-2 pb-1 pt-4">
          <div class="label-text">
            {{ 'app_menu_Search_Configuration' | translate }}
          </div>
          <div class="dropdown dropdown-open">
            <button
              class="dropdown-toggle dropdown-input"
              [ngClass]="{
                'err-block': !newConfigObj.config_name.length && submitted
              }"
              data-toggle="dropdown"
            >
              {{
                newConfigObj.config_name === ''
                  ? 'Select Search Configuration to be
							cloned'
                  : newConfigObj.config_name
              }}
            </button>
            <img
              *ngIf="
                newConfigObj.method === 'clone' &&
                !newConfigObj.config_name.length &&
                submitted
              "
              id="searchConfigWarning"
              src="assets/icons/warning_escalation.svg"
              style="top: 29%; position: absolute; right: 1.5%; display: block"
              height="12"
              width="12"
            />
            <ul class="dropdown-menu content-menu">
              <li
                *ngFor="let config of queryConfigs"
                (click)="selectConfig(config)"
              >
                <a>{{ config.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <div class="kr-sg-input-text pt-3">
        <div class="label-text">
          {{
            newConfigObj.method === 'clone'
              ? 'Search Configuration Name'
              : 'Configuration
					Name'
          }}
        </div>
        <input
          type="text"
          maxlength="60"
          [ngClass]="{ 'err-block': !newConfigObj.name.length && submitted }"
          placeholder="{{
            newConfigObj.method === 'clone'
              ? ('app_menu_name_search_config' | translate)
              : ('facets_enter_name' | translate)
          }}"
          [(ngModel)]="newConfigObj.name"
          class="input-text"
        />
        <img
          *ngIf="!newConfigObj.name.length && submitted"
          id="searchNameWarning"
          src="assets/icons/warning_escalation.svg"
          style="top: 70%; position: absolute; right: 1.5%; display: block"
          height="12"
          width="12"
        />
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-left">
    <button
      type="button"
      class="kr-sg-button-primary btn_lg float-right"
      (click)="createConfig()"
    >
      {{
        newConfigObj.method === 'clone'
          ? ('sa_clone' | translate)
          : ('sa_add' | translate)
      }}
    </button>
    <!-- [disabled]="!newConfigObj.name" -->
    <button
      type="button"
      class="kr-sg-button-secondary btn_lg float-right"
      (click)="closeModalPopup()"
    >
      {{ 'sa_cancel' | translate }}
    </button>
  </div>
</kr-modal>
<!--index config popup-->
<kr-modal
  modalType="center"
  modalClass="modal_popups_ add-experment-popup smallModal"
  #addIndexFieldModalPop
>
  <div class="modal-header">
    <div class="title">
      {{
        newIndexConfigObj.method === 'default'
          ? 'New'
          : ('sa_clone' | translate)
      }}
      Index Configuration
    </div>
    <div class="close_icon" (click)="closeIndexModalPopup()">
      <img ngSrc="assets/icons/modal-close.svg" width="16" height="16" />
    </div>
  </div>
  <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body textAlignLeft">
      <div class="group-radiobutton">
        <div class="kr-sg-radiobutton">
          <input
            id="createIndexConfig"
            [(ngModel)]="newIndexConfigObj.method"
            name="creationType"
            value="default"
            class="radio-custom"
            type="radio"
          />
          <label for="createIndexConfig" class="radio-custom-label">{{
            'app_menu_create_new' | translate
          }}</label>
        </div>
        <div class="kr-sg-radiobutton">
          <input
            id="cloneIndexConfig"
            [(ngModel)]="newIndexConfigObj.method"
            (change)="selectDefault()"
            name="creationType"
            value="clone"
            class="radio-custom"
            type="radio"
          />
          <label for="cloneIndexConfig" class="radio-custom-label">{{
            'app_menu_Clone_Configuration' | translate
          }}</label>
        </div>
      </div>
      <ng-container *ngIf="newIndexConfigObj.method === 'clone'">
        <div class="kr-sg-dropdowns kr_sg_dropdowns mb-2 pb-1 pt-4">
          <div class="label-text">
            {{ 'app_menu_Index_Configuration' | translate }}
          </div>
          <div class="dropdown dropdown-open">
            <button
              class="dropdown-toggle dropdown-input"
              [ngClass]="{
                'err-block':
                  !newIndexConfigObj.index_config_name.length && submitted
              }"
              data-toggle="dropdown"
            >
              {{
                newIndexConfigObj.index_config_name === ''
                  ? 'Select Index
							Configuration to be cloned'
                  : newIndexConfigObj.index_config_name
              }}
            </button>
            <img
              *ngIf="
                newIndexConfigObj.method === 'clone' &&
                !newIndexConfigObj.index_config_name.length &&
                submitted
              "
              id="indexNameWarning"
              src="assets/icons/warning_escalation.svg"
              style="top: 29%; position: absolute; right: 1.5%; display: block"
              height="12"
              width="12"
            />
            <ul class="dropdown-menu content-menu">
              <li
                *ngFor="let config of indexConfigs"
                (click)="selectIndexConfig(config)"
              >
                <a>{{ config.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <div class="kr-sg-input-text pt-4">
        <div class="label-text">
          {{
            newIndexConfigObj.method === 'clone'
              ? ('app_menu__index_config_name' | translate)
              : ('app_menu__name_of_index_config_name' | translate)
          }}
        </div>
        <input
          type="text"
          maxlength="60"
          [ngClass]="{
            'err-block': !newIndexConfigObj.name.length && submitted
          }"
          placeholder="{{
            newIndexConfigObj.method === 'clone'
              ? ('app_menu_name_index_config' | translate)
              : ('facets_enter_name' | translate)
          }}"
          [(ngModel)]="newIndexConfigObj.name"
          class="input-text"
        />
        <img
          *ngIf="!newIndexConfigObj.name.length && submitted"
          id="indexNameWarning"
          src="assets/icons/warning_escalation.svg"
          style="top: 72%; position: absolute; right: 1.5%; display: block"
          height="12"
          width="12"
        />
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-left">
    <button
      type="button"
      class="kr-sg-button-primary btn_lg float-right"
      (click)="createIndexConfig()"
    >
      {{
        newIndexConfigObj.method === 'clone'
          ? ('sa_clone' | translate)
          : ('sa_add' | translate)
      }}
    </button>
    <!-- [disabled]="!newIndexConfigObj.name" -->
    <button
      type="button"
      class="kr-sg-button-secondary btn_lg float-right"
      (click)="closeIndexModalPopup()"
    >
      {{ 'sa_cancel' | translate }}
    </button>
  </div>
</kr-modal>

<!--Plan upgrade component -->
<app-plan-upgrade #plans></app-plan-upgrade>