<div class="main-metrics-container">
    <div class="header-sec row m-0 col-12">
        <div class="bread-cum-sec col-3 p-0 d-flex align-items-center">
            <div class="bread-name">Analytics</div>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMCAYAAABBV8wuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAClSURBVHgBbU+xDcIwEPQ7ibIGI8AIGQNREJepYAMYAQoUkSC9U9iUFhNkFNgAWoTsByNhKQ5XnPR3uv971khtasQJi8At2X0CeR+b4KlGVSYAq4yehRDi8U14qsRCEtHlBblh/3BEtW2kwrBqaGrJOVz5qA2wu3NuGGi786ZBvRuJrdT9b049nTq9dETlp+4s/HFANc0AjCUoKjG/hVspg3UserwBA09CgWDEywYAAAAASUVORK5CYII=">
            <div class="bread-name active-name">Results Insights</div>
        </div>
        <div class="d-flex justify-content-end align-items-center col-9 p-0">
            <div class="date-info">All conversation sessions between <span class="bold-text">01-08-2020 to 07-08-2020</span></div>                
            <div class="date-select">
                <span class="day time active">24 Hrs</span>
                <span class="week time">7 Days</span>
                <span class="custom time">Custom</span>
            </div>
            <div class="export"><img src="assets/icons/share.svg"></div>
        </div>
    </div>
    <perfect-scrollbar class="scroll_content">                     
        <div class="data-information-content col-12 m-0 row split-tables">
            <div class="col-12 box-content">
                <div class="row m-0 col-12 p-0 align-items-center">                    
                    <div class="title-card col-4 p-0">Top Search Results</div>
                    <div class="col-8 d-flex justify-content-end p-0 search-filter-block">
                        <div class="kr-sg-input-search">                               
                            <input type="text" placeholder="Search" class="input-search">
                            <img src="assets/icons/search_gray.svg" class="search-icon">
                        </div>                       
                    </div>                    
                </div>
                <div class="searched-details d-flex">
                    <div class="bulb-icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFISURBVHgBlVHRUYNAEL29uwIQUgADFhArMTMh/9iBVABWEFJB8m8c04F2YP6dmBRgJvwLOd8ih5jgjO4Mw7K89+7tO+GMfN+NglT8sQZRMAXHIf7wxuGCyBzel28JCymt5hgP8TiCxKr6qJJitduBlBlD/v5hE5NVYhV+gfRCgmZlWeY8l1oDZNKqrK74mwXObHiT8HEQXd722Mu8KHzqzuQPhBEjnLQ4JZblMW+st6WhZLjZLzeEphA9BXsFcE7tqsFrJlgAmrXUMkabn6wQw82zPeDMakUyQTApJ2tndW/EFOHciL4dGVDcv66R4Ewp2QaklEoNUuY0m+S/ibjHeWPxKwhJ1xZgyAyPTWBa65Sx9VqsAtUMl9qeYgOw1c0B15Vx8iR6ionY6aK2qtWhS7Sl+4gI6I4JtVX04j/ljoOtOwm3v/3/BFVkg8kakxD7AAAAAElFTkSuQmCC"></div>
                    <div class="seach-content">
                        <div class="names"><b>4%</b> of all searches resulted in zero clicks</div>
                        <div class="names"><b>46%</b> of all searches resulted in multiple clicks</div>
                        <div class="names"><b>4%</b> of all searches resulted in zero clicks</div>
                        <div class="names"><b>46%</b> of all searches resulted in multiple clicks</div>
                        <div class="names"><b>48%</b> of all the total searches resulted in almost no clicks</div>
                    </div>
                </div>  
                <div class="tab-sec-data">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#querieswithresults">Queries with results</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#querieswithoutresults">Queries without results</a>
                        </li>              
                    </ul>
                    <div class="tab-content">           
                        <div id="querieswithresults" class="tab-pane tab-data-content active show">
                            <div class="table_data_content">
                                <div class="table_header row m-0">
                                    <div class="col-8 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Search Results <span class=" " placement="top-left" ngbTooltip="Use key board shortcuts" [container]='"body"' tooltipClass="metrics_tooltips m-0"><img src="assets/icons/Info_gray.svg"></span></div>
                                    <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Appearances <span class="info-icon" placement="top-center" ngbTooltip="Use key board shortcuts" [container]='"body"' tooltipClass="metrics_tooltips m-0"><img src="assets/icons/Info_gray.svg"></span></div>
                                    <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">No of Clicks <span class="info-icon" placement="top-right" ngbTooltip="Use key board shortcuts" [container]='"body"' tooltipClass="metrics_tooltips m-0"><img src="assets/icons/Info_gray.svg"></span></div>                                    
                                </div>
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Access to debit account Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div>   
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Opening a new account in HDFC Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div>    
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Password change of Saving account Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div> 
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Opening a new account in HDFC Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div>                                                                    
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Changing of Net banking Pin Ut enim ad minim veniam</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div> 
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Access to debit account Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div id="querieswithoutresults" class="tab-pane fade tab-data-content">
                            <div class="table_data_content">
                                <div class="table_header row m-0">
                                    <div class="col-8 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Search Results <span class="info-icon" placement="top-left" ngbTooltip="Use key board shortcuts" [container]='"body"' tooltipClass="metrics_tooltips m-0"><img src="assets/icons/Info_gray.svg"></span></div>
                                    <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Appearances <span class="info-icon" placement="top-center" ngbTooltip="Use key board shortcuts" [container]='"body"' tooltipClass="metrics_tooltips m-0"><img src="assets/icons/Info_gray.svg"></span></div>
                                    <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">No of Clicks <span class="info-icon" placement="top-right" ngbTooltip="Use key board shortcuts" [container]='"body"' tooltipClass="metrics_tooltips m-0"><img src="assets/icons/Info_gray.svg"></span></div>                                    
                                </div>
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Access to debit account Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div>   
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Opening a new account in HDFC Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div>    
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Password change of Saving account Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div> 
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Opening a new account in HDFC Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div>                                                                    
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Changing of Net banking Pin Ut enim ad minim veniam</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div> 
                                <div class="table_body row m-0">                                
                                    <div class="col-8 title">Access to debit account Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</div>
                                    <div class="col-2 title">1000</div>                                                         
                                    <div class="col-2 title">
                                        <span class="count">4837</span>
                                        <div class="view-query" (click)="openModalPopup()">
                                            <img src="assets/icons/view-query.svg">    
                                            <span>View Queries</span>                           
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>                                 
                    </div>   
                </div>                              
            </div>
        </div>
    </perfect-scrollbar>  
</div>


<kr-modal modalType="center" #viewQueries modalClass="modal_popups_ view-query-modal">
  <div class="modal-header">
    <div>
        <div class="small-title">Search Queries for</div>
        <div class="title-small">How do I access my account online at Citibank Online?</div>
        <div class="response">FAQ Response</div>
    </div>
    <div class="close_icon" (click)="closeModalPopup()"><img src="assets/icons/modal-close.svg"></div>
  </div>
  <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body">
        <div class="table_data_content">
            <div class="table_header row m-0">
                <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Search Results</div>
                <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Appearances</div>
                <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">No of Clicks</div>
                <div class="col-2 title"><img src="assets/icons/sort_up_down.svg" class="mr-1">Click-Through Rate</div>
                <div class="col-2 title d-flex align-items-start"><img src="assets/icons/sort_up_down.svg" class="mr-1"><span>Avg Position</span></div>
                <div class="col-1 title d-flex align-items-start"><img src="assets/icons/sort_up_down.svg" class="mr-1"><span>Positive Feedback</span></div>
                <div class="col-1 title d-flex align-items-start"><img src="assets/icons/sort_up_down.svg" class="mr-1"><span>Negative Feedback</span></div>
            </div>
            <div class="table_body row m-0">
                <div class="col-2 title d-flex align-items-center">
                    <span class="img-sec"><img src="assets/icons/question-box.svg"></span>
                    <span class="results">Access Account Details Online</span>
                </div>
                <div class="col-2 title">1249</div>
                <div class="col-2 title">1000</div>
                <div class="col-2 title">90%</div>
                <div class="col-2 title">2.8</div>
                <div class="col-1 title">4736</div>                       
                <div class="col-1 title">4837</div>
            </div>       
            <div class="table_body row m-0">
                <div class="col-2 title d-flex align-items-center">
                    <span class="img-sec"><img src="assets/icons/question-box.svg"></span>
                    <span class="results">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
                </div>
                <div class="col-2 title">1249</div>
                <div class="col-2 title">1000</div>
                <div class="col-2 title">90%</div>
                <div class="col-2 title">2.8</div>
                <div class="col-1 title">4736</div>                       
                <div class="col-1 title">4837</div>
            </div>                                       
        </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer">
      <button class="kr-sg-button-primary btn_lg">Proceed</button>
      <button class="kr-sg-button-secondary btn_lg">Back</button>
  </div>
</kr-modal> 