<div class="invoice-container">
    <div class="header-sec">
        <div class="title">Invoices</div>
        <div class="d-flex align-items-center">
            <div class="kr-sg-input-search">
                <input type="text" placeholder="Search" class="input-search"  autocomplete="off">
                <img src="assets/icons/search_gray.svg" class="search-icon">               
            </div>           
            <div class="seach-block">
                <img src="assets/icons/search.svg">{{'search' | translate}}             
            </div> 
            <div class="download-icon" tooltipClass="tooltip_custom margin-10" placement="bottom-right" container='body' ngbTooltip="Download Log">
                <img src="assets/icons/usage-log/download.svg">
            </div>           
        </div>
    </div>
    <div class="plan-type">
        <div class="current-plan">Current Plan</div>
        <div class="type">Free</div>
    </div>
    <perfect-scrollbar class="scroll-invoice-content">
        <div class="invoice-table-data">
            <div class="invoice-table-header row col-12">
                <div class="title col-2">INVOICE ID</div>
                <div class="title col-3">BILLING period</div>
                <div class="title col-2">INVOICE AMOUNT</div>
                <div class="title col-2">SUBSCRIPTION</div>
                <div class="title col-3 d-flex align-items-center"><img src="assets/icons/usage-log/sort.svg" class="mr-1"> INVOICE DATE</div>
            </div>
            <div class="invoice-table-body row col-12">
                <div class="title col-2">SA0087</div>
                <div class="title col-3">3 Jun 2020 - 12 Nov 2020</div>
                <div class="title col-2">$0</div>
                <div class="title col-2">Annual</div>
                <div class="title col-3">3 Jun 2020</div>
                <div class="actions-invoice">
                    <div class="view"><img src="assets/icons/usage-log/view.svg"></div>
                    <div class="download-invoice"><img src="assets/icons/usage-log/download.svg"></div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>