

<div class="analytics-bg-content">
    <div class="main-heading">Choose index to display analytics</div>
    <div class="kr-sg-dropdowns" #selectIndexConfigDrop='ngbDropdown' ngbDropdown [placement]="'bottom-left'">
        <div class="dropdown dropdown-open">
            <button class="dropdown-toggle dropdown-input"  ngbDropdownToggle>
                <span class="text-truncate">{{this.selecteddropname}}</span>
            </button>
            <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                <perfect-scrollbar class="scroll-search-field">
                    <li ngbDropdownItem class="list-item-li" 
                    [ngClass]="{'active' : (selecteddropname==config.name)}"
                    (click)="getDetails(config)" *ngFor="let config of indexConfigs">
                        <a>{{config.name=='Default'?'DefaultIndex':config.name}}</a>
                    </li>
                </perfect-scrollbar>                    
            </ul>
        </div>
    </div>
</div>