
<div class="contentContainer" [ngClass]="{'fullHeight':!selectedSourceType || (selectedSourceType && (selectedSourceType.resourceType === 'manual')),'modalBody':resourceIDToOpen}">
  <div class="modal-type-header" *ngIf="resourceIDToOpen">
    <div class="title">{{selectedSourceType.name}}</div>
    <div class="close_icon" (click)='cancleSourceAddition()'><img src="assets/icons/modal-close.svg"></div>
  </div>
  <!-- <h4 *ngIf="resourceIDToOpen" class="header-title"><img src="assets/images/closeCross.png" class="closeCross" (click)='cancleSourceAddition()'></h4> -->
  <perfect-scrollbar [ngClass]="{'fullHeightPS':!selectedSourceType || (selectedSourceType && (selectedSourceType.resourceType === 'manual'))}">
    <div class="h-100 position-relative addNewSource">
      <div class="sources-content-box-list h-100" *ngIf="!selectedSourceType">
        <div class="crawlContent row m-0 mb-4" *ngFor="let sourceCatagory of availableSources">
          <div class="col-12 main-title label_text">{{sourceCatagory.title}}</div>
          <div class="webDomain" (click)="selectSource(source)" *ngFor="let source of sourceCatagory.sources">
            <div class="box-block">
              <div class="title label_text m-0">{{source.name}}</div>
              <div class="imageDiv">
                <img src="{{source.icon}}">
              </div>
              <div class="info-text">{{source.description}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- FAQ Extract Doc-->
      <div *ngIf="selectedSourceType" class="crerateWebCrawl" [ngClass]="{'pr-0': resourceIDToOpen}">
        <div class="crawl-form-title" *ngIf="!resourceIDToOpen">{{selectedSourceType.name}}</div>
        <app-add-faq (addFaq)="addManualFaq($event)" (cancelfaqEvent)="faqCancle()" *ngIf="selectedSourceType.resourceType === 'manual'"></app-add-faq>  
        <form #sourceCreation="ngForm" *ngIf="selectedSourceType.resourceType !== 'manual'">
          <div class="kr-sg-input-text mb-4">
            <div class="label-text">Source Title</div>
            <input type="url" autocomplete="off" id="addSourceTitleInput" name="sourceTitle" placeholder="Enter source"
              [(ngModel)]="newSourceObj.name" class="input-text" required>
          </div>
          <div class="kr-sg-input-text-area mb-3">
            <div class="label-text">Description</div>
            <textarea autocomplete="off" [(ngModel)]="newSourceObj.desc" name="sourceDesc" placeholder="Enter description"
              class="input-text"></textarea>
          </div>
          <!-- File uploader with Drag & Drop START HERE -->
          <div class="kr-sg-input-text-area mb-4" *ngIf="(selectedSourceType.sourceType==='faq') || (selectedSourceType.resourceType==='document')">
            <div class="kr-sg-file-drag-drop">           
              <div class="drag-drop-sec">
                <div _ngcontent-gpv-c11="" class="imageDiv">
                  <img _ngcontent-gpv-c11="" class="ng-tns-c11-2" src="assets/images/source-icos/drog_frop.svg">
                </div>
                <div class="custom-file">
                  <input type="file" id="sourceFileUploader" class="custom-file-input "
                    (change)="fileChangeListener($event)"  aria-describedby="inputGroupFileAddon01"
                    accept=".csv,.pdf">
                </div>
                <label for="sourceFileUploader" class="drag-label">Drag and Drop<span class="or-divider">Or</span><span class="browse">Browse</span></label>
              </div>
              <div class="kr-sg-file-drag-drop" *ngIf="fileObj.fileName">
                <div class="uploaded-file-name" [ngClass]="{'error':(fileObj.fileUploadError && !fileObj.fileUploadInProgress)}">
                  <div class="file-close-text">
                    <img src="assets/images/close.svg" class="close-file" (click)="removeFile()">
                    <div class="file-name" [innerHTML]="fileObj.fileName"></div>
                  </div>
                  <div class="progress-status">
                    <img *ngIf="fileObj.fileUploadInProgress" class="progSpinner" src="assets/icons/spinner.svg">
                    <img *ngIf="fileObj.fileUploadError && !fileObj.fileUploadInProgress" src="assets/icons/info.svg">
                  </div>
                </div>
                <div class="error-text" *ngIf="fileObj.fileUploadError && !fileObj.fileUploadInProgress">Error in uploading file</div>
              </div>
            </div>
            <div class="kr-sg-input-text mb-4" *ngIf="(selectedSourceType.sourceType==='faq')">
              <div class="label_text mt-3 text-center">or</div>
            </div>
          </div>
        <!-- File uploader with Drag & Drop ENDS HERE -->
          <div *ngIf="(selectedSourceType.sourceType==='faq') || (selectedSourceType.resourceType === 'webdomain')">
            <div class="kr-sg-input-text mb-4">
              <div class="label-text">Source URL</div>
              <input type="text" autocomplete="off" name="url" (keyup)="urlChange()" (change)="urlChange()" [disabled]="fileObj.fileId || fileObj.fileName" placeholder="Enter Url" [(ngModel)]="newSourceObj.url"
                class="input-text">
            </div>
            <div class="advanced-settings-title"  *ngIf="(selectedSourceType.sourceType==='faq') || (selectedSourceType.resourceType === 'webdomain')" data-toggle="collapse" data-target="#settings">Advance Settings</div>
            <div *ngIf="(selectedSourceType.sourceType==='faq') || (selectedSourceType.resourceType === 'webdomain')" id="settings" class="collapse advance-setttings">
              
              <div class="inner-content row m-0">
                <div class="col-6 input-paddings pl-0">
                  <div class="kr-sg-input-text">                   
                    <input type="text" class="input-text pointer-none" value="Schedule">                
                  </div>
                    <label class="kr-sg-toggle">
                      <input type="checkbox" name="scheduleOpts" [(ngModel)]="crwalObject.advanceOpts.scheduleOpts">
                      <div class="slider"></div>
                    </label>
                </div>
                <div class="col-6 input-paddings pr-0">
                  <div class="kr-sg-dropdowns">
                    <div class="dropdown dropdown-open"> 
                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" [disabled]="!crwalObject.advanceOpts.scheduleOpts" >Monthly</button>                                            
                        <ul class="dropdown-menu content-menu">                                             
                          <li><a>Monthly</a></li>
                          <!-- name="crwalPeriod" [(ngModel)]="crwalObject.advanceOpts.schedulePeriod" -->
                          <!-- <li><a>Weekly</a></li>
                          <li><a>Daily</a></li> -->
                        </ul>
                      </div>
                  </div>
                </div>
                <div class="col-12 p-0 input-paddings">
                  <div class="kr-sg-input-text">                   
                    <input type="text" value="Crawl Everything" class="input-text pointer-none">                
                  </div>
                  <label class="kr-sg-toggle full-input">
                    <input type="checkbox" id="crwalEveryId" name = "crwalEvery" [(ngModel)]="crwalObject.advanceOpts.crawlEverything">
                    <div class="slider"></div>
                  </label>
                </div>
                <div *ngIf ="crwalObject.advanceOpts.crawlEverything" class="w-100 show-allow-urls">
                  <div class="allow-list-data-label label_text">Allow List <img src="assets/icons/Info-small.svg" class="ml-1"></div>
                  <div class="allow-urls-sec row">
                    <div class="col-2 p-0 title">Allow URLS</div>
                    <div class="col-10 p-0 d-flex align-items-center">
                      <div class="kr-sg-dropdowns">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Contains</button>                                            
                            <ul class="dropdown-menu content-menu">                                               
                              <li><a>Contains</a></li>
                              <!-- <li><a>begins</a></li>
                              <li><a>ends</a></li> -->
                            </ul>
                          </div>
                      </div>
                      <div class="kr-sg-input-text">                      
                        <input type="text" autocomplete="off" [(ngModel)] = "allowUrl.url" name= "allowVal" placeholder="Enter/Path" class="input-text">                        
                      </div>
                      <div class="add-urls" (click)="allowUrls(allowUrl)"><img src="assets/icons/add-urls.svg"></div>
                    </div>
                    <div *ngIf="crwalObject && crwalObject.advanceOpts && crwalObject.advanceOpts.allowedURLs.length" class="w-100">
                      <div class="alw-data w-100" *ngFor="let rec of crwalObject.advanceOpts.allowedURLs;let i = index">
                        <!-- <div class="ad-pannel">{{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }}  </div> -->
                        <div class="alw-list w-100"> {{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }} </div>
                      </div>
                    </div>                    
                  </div>
                  <!-- Block List -->
                  <div class="allow-list-data-label label_text">Block List <img src="assets/icons/Info-small.svg" class="ml-1"></div>
                  <div class="allow-urls-sec row">
                    <div class="col-2 p-0 title">Block URLS</div>
                    <div class="col-10 p-0 d-flex align-items-center">
                      <div class="kr-sg-dropdowns">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Contains</button>                                            
                            <ul class="dropdown-menu content-menu">                                               
                              <li ><a>Contains</a></li>
                            </ul>
                          </div>
                      </div>
                      <div class="kr-sg-input-text">                      
                        <input type="text" autocomplete="off" [(ngModel)] = "blockUrl.url" name= "blockVal" placeholder="Enter/Path" class="input-text">                        
                      </div>
                      <div class="add-urls" (click)="blockUrls(blockUrl)"><img src="assets/icons/add-urls.svg"></div>
                    </div>
                    <div *ngIf="crwalObject && crwalObject.advanceOpts && crwalObject.advanceOpts.blockedURLs.length" class="w-100">
                      <span class="" *ngFor="let rec of crwalObject.advanceOpts.blockedURLs;let i = index">
                        <!-- <div class="ad-pannel">{{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }}  </div> -->
                        <div class="alw-list"> {{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }} </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row m-0">
                <div class="col-md-6 ad-sch" >
                  <span class="ad-txt">Schedule</span>
                  <label class="kr-sg-toggle">
                    <input type="checkbox" name="scheduleOpts" [(ngModel)]="crwalObject.advanceOpts.scheduleOpts">
                    <div class="slider"></div>
                  </label>
                </div>
                <div class="col-md-6 ">
                   <select class="alw-btn" [disabled]="!crwalObject.advanceOpts.scheduleOpts" name="crwalPeriod" [(ngModel)]="crwalObject.advanceOpts.schedulePeriod" style="width: 378px;">
                    <option value="">Select</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Weekly"> Weekly</option>
                    <option value="Daily">Daily</option>
                  </select>
                </div>
              </div>
              <div class="row ad-sch">
                  <span class="ad-txt">Crwal Everything</span>
                  <label class="kr-sg-toggle">
                    <input type="checkbox" id="crwalEveryId" name = "crwalEvery" [(ngModel)]="crwalObject.advanceOpts.crawlEverything">
                    <div class="slider"></div>
                </label>
              </div> -->
              <div *ngIf ="!crwalObject.advanceOpts.crawlEverything" class="d-none">
                <span class="ad-title">Allow urls</span>
                <div class="row ad-sch ad-allow">
                  <div class="row">
                    <div class="col-md-2 ad-txt">Alow Urls : </div>
                    <div class="col-md-4">
                      <select class="alw-btn" [(ngModel)] = "allowUrl.condition" name= "allowcon" style="width: 250px;">
                        <option value="">Select</option>
                        <option value="Contains">Contains</option>
                        <option value="begins"> begins</option>
                        <option value="ends">ends</option>
                      </select>
                     
                    </div>
                    <div class="col-md-4">
                      <input type="text" autocomplete="off" [(ngModel)] = "allowUrl.url" name= "allowVal" style="width: 280px;">
                    </div>
                    <div class="col-md-1">
                      <button class="alw-btn" (click)="allowUrls(allowUrl)"><img src="assets/images/add.svg"></button>
                    </div>
                  </div>
                  <br>
                  <div *ngIf="crwalObject && crwalObject.advanceOpts && crwalObject.advanceOpts.allowedURLs.length">
                      <span class=" " *ngFor="let rec of crwalObject.advanceOpts.allowedURLs;let i = index">
                      <!-- <div class="ad-pannel">{{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }}  </div> -->
                      <div class="alw-list"> {{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }} </div>
                    </span>
                  </div>

                  
              </div>
              <!-- <span class="ad-title">Block Urls</span>
              <div class="row ad-sch ad-allow">
                <div class="row">
                  <div class="col-md-2 ad-txt">Block Urls :</div>
                  <div class="col-md-4">
                    <select class="alw-btn" [(ngModel)] = "blockUrl.condition" name= "blockCon" style="width: 250px;">
                      <option value="">Select</option>
                      <option value="Contains">Contains</option>
                      <option value="begins"> begins</option>
                      <option value="ends">ends</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <input type="text" autocomplete="off" [(ngModel)] = "blockUrl.url" name= "blockVal" style="width: 280px;">
                  </div>
                  <div class="col-md-1">
                    <button class="alw-btn" (click)="blockUrls(blockUrl)"><img src="assets/images/add.svg"></button>
                  </div>
                </div>
                <br>
                <div *ngIf="crwalObject && crwalObject.advanceOpts && crwalObject.advanceOpts.blockedURLs.length">
                  <span class="" *ngFor="let rec of crwalObject.advanceOpts.blockedURLs;let i = index">
                    <div class="alw-list"> {{(i + 1)  + ' :' + rec.condition + ' ' + rec.url  }} </div>
                  </span>
                </div>
            </div> -->
              </div>              
            </div>

            <div class="kr-sg-input-text-area mb-4 radio-pad" *ngIf="(selectedSourceType.sourceType==='faq') && (selectedSourceType.resourceAdded) && false"> <!-- Not supporting for now-->
              <div class="kr-sg-radiobutton d-block">
                <input id="radio-17" name="radio" class="radio-custom" type="radio">
                <label for="radio-17" class="radio-custom-label">Index Automatically</label>
              </div>
              <div class="kr-sg-radiobutton d-block">
                <input id="radio-18" name="radio" class="radio-custom" type="radio">
                <label for="radio-18" class="radio-custom-label">Extraxt & Review</label>
              </div>
            </div>
          </div>
          <div class="buttonFooter" *ngIf="(selectedSourceType.resourceType !== 'manual')" [ngClass]="{'centerModel': resourceIDToOpen}">
            <button class="kr-sg-button-primary btn_md mr-3" [disabled]="sourceCreation.invalid || !selectedSourceType.resourceAdded"
              (click)="proceedSource()">Proceed</button>
            <button class="kr-sg-button-secondary-two btn_md mr-2" (click)="cancleSourceAddition()">Back</button>
          </div>
        </form>
      </div>
    </div>
  </perfect-scrollbar>
</div>
<kr-modal modalType="default" #statusModalPop>
  <div class="status-modal-popup">
    <div class="modal_content" *ngIf="selectedSourceType">
      <div class="modal-header">{{selectedSourceType.name}} <img src="assets/images/close.svg" (click)="closeStatusModal()"></div>
      <div class="modal-body" >
        <div class="success-check"  *ngIf="((statusObject && statusObject.validation && statusObject.validation.validated) && !(statusObject.status==='failed')) || (statusObject.status==='success')">
          <img src="assets/icons/check-white.svg">
        </div>
        <div class="configInProgress" *ngIf="!(statusObject && statusObject.validation && statusObject.validation.validated) && !((statusObject.status==='success') || (statusObject.status==='failed'))">
          <img class="loadingConfigs" src="assets/icons/gear-spinner.svg">
        </div>
        <div class="error-check" *ngIf="(statusObject.status==='failed')">
          <img src="assets/images/exclamationCircle-Red.svg">
        </div>
        <div class="message-success text-center" *ngIf="(statusObject && statusObject.validation && statusObject.validation.validated) && !((statusObject.status==='success') || (statusObject.status==='failed'))">
          {{(statusObject.validation.urlValidation && statusObject.validation.validated)?'Successfully Configured':'Configuration In Progress'}}
        </div>
        <div class="message-success text-center" *ngIf="(statusObject.status==='success')">
         Source added Successfully
        </div>
        <div class="message-success text-center" *ngIf="(statusObject.status==='failed')">
          Failed to add Source
        </div>
        <ng-container *ngIf="statusObject && statusObject.validation && !(statusObject.status==='failed')">
        <div class="status-identification-content">
          <div class="content-title" *ngIf="selectedSourceType && (selectedSourceType.resourceType === 'webdomain')">
            <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!statusObject.validation.urlValidation">
            <img *ngIf="statusObject.validation.urlValidation" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
            <span>Initial URL validation done</span>
          </div>
          <div class="content-title" *ngIf="selectedSourceType && (selectedSourceType.resourceType === 'document')">
            <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!statusObject.validation.validated">
            <img *ngIf="statusObject.validation.validated" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
            <span>Initial file validation done</span>
          </div>
         
          <!-- <div class="content-title">
            <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!initialValidations.validated">
            <img *ngIf="initialValidations.validated" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
            <span>Network Connectivity</span>
          </div>  -->
          <div *ngIf="(selectedSourceType.sourceType === 'content') && (selectedSourceType.resourceType === 'webdomain')">
            <!-- <div class="content-title">
              <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!initialValidations.validated">
              <img *ngIf="initialValidations.validated" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
              <span>Network Connectivity</span>
            </div> -->
            
            <div class="content-title">
              <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!statusObject.validation.validated">
              <img *ngIf="statusObject.validation.validated" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
              <span>Indexing Ristrictions</span>
            </div>
          </div>
          <div class="content-title" *ngIf="selectedSourceType.sourceType === 'faq'">
            <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!statusObject.validation.validated">
            <img *ngIf="statusObject.validation.validated" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
            <span>Indexing Ristrictions</span>
          </div>
          <div class="content-title" *ngIf="statusObject.validation && statusObject.validation.sitemaps">
            <img src="assets/images/source-icos/inprogress-blue.svg" *ngIf="!statusObject.validation.validated">
            <img *ngIf="statusObject.validation.sitemaps" src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
            <span *ngIf="!statusObject.validation.sitemaps">Sitemaps</span>
            <!-- <span *ngIf="!statusObject.validation.sitemaps">No Sitemaps</span> -->
            <span *ngIf="statusObject.validation.sitemaps">{{statusObject.validation.sitemaps.length}} Sitemaps</span>
          </div>
        </div>
        </ng-container>
        <div class="progressNote" *ngIf="(selectedSourceType.sourceType === 'content') && !((statusObject.status==='success') || (statusObject.status==='failed'))"> 
          <div *ngIf="(selectedSourceType.resourceType === 'webdomain')">Crawling In-progress</div>
          <div *ngIf="(selectedSourceType.resourceType === 'document')">Crawling In-progress</div>
        </div>
        <div class="progressNote" *ngIf="(selectedSourceType.sourceType === 'faq') && !((statusObject.status==='success') || (statusObject.status==='failed'))"> 
          <div>Faq Extraction  In Progress</div>
        </div>
        <div class="text-center" *ngIf="!((statusObject.status==='success') || (statusObject.status==='failed'))">
          <mat-progress-bar mode="indeterminate" class="mat_progress_bar"></mat-progress-bar>
          <div class="relaxNote">You will be notified when the extraction progress is done</div>
        </div>
      </div>
      <div class="modal-footer" [ngClass]="{'centerModel': resourceIDToOpen}">
          <button type="button" class="kr-sg-button-primary btn_md" data-dismiss="modal" (click)="closeStatusModal()">Ok</button>
          <button type="button" class="kr-sg-button-secondary btn_md d-none" data-dismiss="modal" (click)="closeStatusModal()">Cancel</button>
      </div>
    </div>    
  </div> 
</kr-modal>