@import './../../../app/scss/variables/variables.scss';
.mainLoadingSpinner{
    position: absolute;
    top: 45%;
    left: 45%;  
    background:  transparent;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }  
}
.contentContainer{
    padding-left: 65px;
    // padding-top: 30px;
    height: calc(100vh - 123px);
    background: #fff;
    overflow: hidden;
    &.modalBody{
        height: calc(100vh - 60px) !important;
    }
    perfect-scrollbar{
        padding-right: 15px;
    }
    .header-title{
        position: absolute;
        top: 0;
        left: 10px;    
    }
    &.fullHeight{
        height: calc(100vh - 62px) !important;
    }   
    .addNewSource{       
        padding-top: 30px; 
        .label-text, .label_text{
            font-weight: 500;
            color: #202124;
            font-size: 12px;
            margin-bottom: 2px;
        }
        .kr-sg-input-text{
            input{
                border: 1px solid #BDC1C6;
                border-radius: 4px;
                font-size: 12px;
                &:focus{
                    border: solid 1px #1372ff !important;
                }
                &::placeholder{
                    color: #BDC1C6;
                }
            }
        }
        .kr-sg-input-text-area{
            textarea{
                border: 1px solid #BDC1C6;
                min-height: 70px;
                font-size: 12px;
                &::placeholder{
                    color: #BDC1C6;
                }
                &:focus{
                    border: solid 1px #1372ff !important;
                }
            }
        }
        .kr-sg-file-drag-drop{
            .drag-drop-sec{
                border: 1px dashed #BDC1C6;
                border-radius: 4px;
                background: #FFFFFF;
                padding: 17px 0;
                .imageDiv{
                    margin-bottom: 10px;
                    img{

                    }
                }
                .custom-file {
                    height: 0;
                    display: block;                    
                }
                .drag-label{
                    color: #202124;
                    font-weight: normal;
                    cursor: pointer;
                    span{
                        &.or-divider{
                            color: #9AA0A6;
                            padding: 0 24px;
                        }   
                        &.browse{    
                            color: #0D6EFD;
                            text-decoration: underline;                                
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .crerateWebCrawl{
            width: 87%;
            padding: 0 80px 0 15px;
            .crawl-form-title{
                font-size: 16px;
                font-weight: bold;
                color: #202124;
                margin-bottom: 18px;
            }
            .buttonFooter{      
                position: fixed;
                width: 100%;
                background-color: #fff;
                left: 80px;
                bottom: 0;
                padding: 13px;
                box-shadow: 0px -1px 8px rgba(32, 33, 36, 0.2);
                padding-left: 245px;
                .kr-sg-button-primary{
                    background: #0D6EFD;
                    color: #FFFFFF;
                    height: 34px;
                }
                .kr-sg-button-secondary-two{
                    border: 1px solid #BDC1C6;
                    border-radius: 4px;
                    height: 34px;
                    background: #FFFFFF;
                    color: #202124;
                    &.cancel{
                        color: #202124;
                        border: 0;
                    }
                }
                &.centerModel{
                    background-color: #fff;
                    text-align: left;
                    width: 80%;
                    left: calc(10% - 2px);
                    padding-left: 30px;
                }
            }
        }
    }    
    .imageDiv{       
        img{
            height: 65px;
            width: 65px;
        }
    }
    .kr-sg-data-table section.table-content .content-body{
        cursor: pointer;
    }
    .sources-content-box-list{
        position: relative;
        .crawlContent{
            .main-title{
                padding-left: 15px;
                color: #202124;
                font-weight: bold;
                font-size: 20px;
            }
            .webDomain{    
                padding: 15px;   
                .check{
                    position: absolute;
                    right: 10px;
                    top: 12px;
                }
                &.selected{
                    .box-block{
                        border: 1px solid #85B7FE;
                        background-color: #F3F8FF;
                        .title{
                            color: #07377F;
                        }
                        .info-text{
                            color: #07377F;
                        }
                    }  
                }    
                .box-block{
                    background: #fff;           
                    border-radius: 6px;
                    border: 1px solid #BDC1C6;
                    padding: 25px 20px;
                    text-align: center;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    width: 250px;
                    height: 250px;
                    &:hover{                        
                        border: 1px solid #85B7FE;
                        background-color: #F3F8FF;
                        .title{
                            color: #07377F;
                        }
                        .info-text{
                            color: #07377F;
                        }
                    }
                    .title{
                        color: #202124;
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .imageDiv{
                        padding: 46px 0;
                        img{
                            height: 65px;
                            width: 65px;
                        }
                    }
                    .info-text{
                        color: #5F6368;             
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }           
            }
        }
        .buttonFooter{      
            position: fixed;
            width: 100%;
            background-color: #fff;
            left: 80px;
            bottom: 0;
            padding: 13px;
            box-shadow: 0px -1px 8px rgba(32, 33, 36, 0.2);
            padding-left: 245px;
            .kr-sg-button-primary{
                background: #0D6EFD;
                color: #FFFFFF;
                height: 34px;
            }
            .kr-sg-button-secondary-two{
                border: 1px solid #BDC1C6;
                border-radius: 4px;
                height: 34px;
                background: #FFFFFF;
                color: #202124;
                &.cancel{
                    color: #202124;
                    border: 0;
                }
            }
        }
    } 
    .kr-sg-file-drag-drop{
        .progress-status{
            .progSpinner{
                width: 30px;
                height: 30px;
            }
        }
    }
    .table-list-content{
        .kr-sg-data-table{
            .table-action-header{
                .kr-sg-input-search{
                    margin: 0;
                    width: 250px;
                }
            }  
            .table-content{
                margin-top: 12px;
                .table-header{
                    background: #f3f3f4;
                    border-bottom: 1px solid #e5e8ec;
                    .col{
                        font-weight: bold;
                        color: #202124;
                    }
                }
                .col{
                    .action_icon{                        
                        cursor: pointer;
                        visibility: hidden;
                    }
                }
                .content-body{
                    &:hover{
                        .action_icon{
                            visibility: visible;
                        }
                    }
                }
            }          
        }
    }   
}

.status-modal-popup{
    .modal_content{
        .modal-header{
            background: #FFFFFF;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            height: auto;
            text-align: left;
            display: block;
            padding: 17px 30px;
            font-weight: 600;
            img{
                float: right;
                cursor: pointer;
            }
        }
        .modal-body{
            padding: 45px 35px;
            background: #EFF0F1;
            .configInProgress{
                margin-bottom: 28px;
            }
            .message-success{
                color: #202124;
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .content-title{
                color: #202124;
                font-size: 14px;
                margin-bottom: 15px;
                img{
                    margin-right: 12px;
                }
            }
            .status-identification-content{
                width: 230px;
                margin: 0 auto;
                text-align: left;
            }
            .progressNote{
                color: #202124;
                font-weight: 500;
                font-size: 14px;
                margin: 40px 0 20px 0;
            }
            .relaxNote{
                color: #9AA0A6;
                font-size: 14px;
                font-weight: normal;
                margin: 20px 0 0 0;
            } 
            .mat_progress_bar{
                width: 275px;
                margin: 0 auto;              
                background: #BDC1C6;
                border-radius: 2px;
            }    
            .error-check{
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin: 10px auto;
                margin-bottom: 15px;
                position: relative;
            img {
                width: 50px;
                height: 50px;
                left: 0px;
                top: -25px;
                position: relative;
            }
            }       
        }
        .modal-footer{
            text-align: left;
            display: block;
            height: auto;
            padding: 10px 30px;
            background: #FFFFFF;
            border-radius: 4px;
            .kr-sg-button-primary{
                height: 34px;
                margin: 0 15px 0 0;
                background: #0D6EFD;
                color: #fff;
                &:disabled{
                    background: #F3F2F1;
                    color: #9AA0A6;
                }
            }
            .kr-sg-button-secondary{
                height: 34px;
                margin: 0 15px 0 0;
                background: #fff;
                border: 1px solid #BDC1C6;                
                border-radius: 4px;
                color: #202124;
                &:disabled{
                    color: #BDC1C6;
                }
            }
        }
    }
}

::ng-deep perfect-scrollbar{
    .ps__thumb-y{
        width: 3px !important;
    }
    .ps__rail-y{
        width: 3px !important;
    }
    .ps__thumb-x{
        width: 3px !important;
        display: none;
    }
    .ps__rail-x{
        width: 3px !important;
        display: none;
    }
}

::ng-deep.mat_progress_bar{
    width: 275px;
    margin: 0 auto;              
    background: #BDC1C6;
    border-radius: 2px;
    .mat-progress-bar-fill{
        background: #0D6EFD;
        &::after{
            background: #0D6EFD;
        }
    }
}

::ng-deep #sourceSlider {
    .sliderComponent {
        z-index: 100 !important;
        // background: rgba(38, 52, 74,0.5);
        .sliderDialogComponent{
            width: 65% !important;
            max-width: 65% !important;
        }
        .sliderBody{
            height: calc(100vh - 70px);
            .table-view-details{
                .row_table{
                    padding: 8px 0;
                    border-bottom: 1px solid #e5e8ec;
                    .pageBodyContent{
                        height: 300px;
                        .htmlBodyPreview{
                            white-space: pre-wrap;
                        }
                    }
                    .title{
                        color: #8a959f;
                        font-size: 14px;
                        padding: 0 10px;
                    }
                    .info-content-sec{
                        color: #202124;
                        font-size: 14px;
                        padding: 0 10px;
                        .external_link{
                            margin-left: 4px;
                            cursor: pointer;
                        }
                        .desc{
                            margin-top: 12px;
                            &:first-child{
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
            .noPages{
                padding-top: 20%;
                text-align: center;
            }
            .info-content{
                padding: 15px;                
                border-radius: 8px;
                &.pageTitleContainer{
                    padding-bottom: 30px;
                }
                &.previewSection{
                    overflow-y: scroll;
                    max-height: 100px;
                    .previewContent {
                        white-space: pre-wrap;
                    }
                }
                &.bg-color{
                    background: #f2f3f5;
                }
                .viewPageDetails{
                    position: relative;
                    display: block;
                    left: -110px;
                    top: 5px;
                    margin-left: 106px;
                    a{
                        text-decoration: underline;
                        color: #009dab;
                        padding-left: 5px;
                        cursor: pointer;
                    }
                }
                .row_content{
                    padding: 3px 0;
                    .left-info-title{
                        color: #8a959f;
                        font-size: 14px;
                        span{
                            float: right;
                        }
                    }
                    .right-info-title{
                        color: #202124;
                        font-size: 14px;
                        padding-left: 25px;
                        a{
                            text-decoration: underline;
                            color: #009dab;
                            padding-left: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .content-accordion-sec{
                .search-header{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 15px;
                    .kr-sg-input-search{
                        width: 250px;
                    }
                }  
                .header-sec{
                    padding: 15px;
                    background: #f2f3f5;
                }    
                .accordion-section{
                    margin-bottom: 20px;
                    .card_content{
                        border-bottom: 1px solid #e5e8ec;
                        .card_header{
                            .card_link{
                                display: block;
                                padding: 15px;
                                text-decoration: none !important;
                                color: #202124;
                                // border-bottom: 1px solid #e5e8ec;
                                position: relative;
                                &.collapsed{
                                    background: #fff;
                                    &::before{                                                                
                                        content: "";                                       
                                        background-image: url('/assets/icons/carrot-right.svg');                                                                    
                                    }
                                    &:hover{
                                        background: #f2f3f5;
                                        .actions{
                                            display: block;
                                        }
                                    }
                                }
                                &::before{                                                                
                                    content: "";
                                    position: absolute;
                                    background-image: url('/assets/icons/carrot-down-comp.svg');
                                    background-size: 14px;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    width: 14px;
                                    left: 3px;                                   
                                    height: 100%;
                                    top: 0;                                   
                                }                                
                                &:hover{
                                    background: #fff;
                                    .actions{
                                        display: block !important;
                                    }
                                }
                                .content{
                                    .link-name{
                                        font-size: 14px;                                       
                                        color: #202124;
                                    }
                                    .date{
                                        font-size: 14px;                                        
                                        color: #202124;
                                    }
                                    .actions{
                                        text-align: right;
                                        display: none;
                                        img{
                                            margin: 0 0 0 20px;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .collapse{
                            position: relative;
                            &.show{
                               
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                width: 1px;
                                height: 100%;
                                background: #e5e8ec;
                                left: 10px;
                                top: -10px;
                            }
                            .card_body{
                                padding: 0px 0px 0px 30px;
                                .info-content{
                                    border-radius: 8px;
                                    background: #fff !important;
                                    border: 1px solid #e5e8ec;
                                    padding: 15px 20px;
                                    max-height: 130px;
                                    overflow: hidden;
                                    white-space: pre;
                                    .viewPageDetails{
                                        margin-left: 106px;
                                        a{
                                            text-decoration: underline;
                                            color: #009dab;
                                            padding-left: 5px;
                                            cursor: pointer;
                                        }
                                    }
                                   
                                    }
                            }
                        }
                    }
                }          
            }
        }
    }
}

.ad-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600; 
}
.ad-txt{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 1%;
}
.ad-sch{
    //position: absolute;
    background: #FFFFFF;
    border: 1px solid #BDC1C6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem;
}
.ad-select{
    width: 415px !important
}
.ad-op{
   
    margin-left:2px;
}
.cur{
    cursor: pointer;
}
.ad-allow{
    
}
.ad-pannel{
    background: #FFFFFF;
    border: 1px solid #BDC1C6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 12px;
}

.kr-sg-toggle{
    float: right;
}
.row{
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    //padding-right: 15px;
    //padding-left: 15px;
}
.alw-btn{
    background: #EFF0F1;
    border-radius: 4px;
    width: 34px;
    height: 34px;
    border: none;
    margin-left: 10%;
}
.alw-list{
    background: #FFFFFF;
    border: 1px solid #E4E5E7;
    box-sizing: border-box;
    border-radius: 4px;
    width: 800px;
    margin-bottom: 1%;
    height: 50px;
    padding: 0.90rem;
   
}