<!-- search Bar -->
<div class="contentContainer">
    <div class="mainLoadingSpinner" *ngIf="loadingContent" >
      <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
      <span class="please-wait-message">Please Wait!</span>
    </div>
    
  <div class="table-list-content">
      <div class="kr-sg-data-table" *ngIf="!loadingContent">
        <div class="table-action-header">
          <div class="kr-sg-input-search m-0">                               
            <input type="text" placeholder="Search" class="input-search" name='searchSources' placeholder="Search" id="searchSynonymsId" [(ngModel)]="synonym" (keyup)="applyFilter($event.target.value)">           
            <img *ngIf="searchSources" (click)="applyFilter('')" class="search-icon" src="assets/images/close.svg">
            <img *ngIf="!searchSources" class="search-icon"src="assets/images/search_gray.svg">
          </div> 
        </div>                       
    </div>   
    <div class="left-btns float-right">
      <button id="addNewSynonymBtn" (click)='enableAddNewSynonymBtn()' class="kr-sg-button-primary btn_lg mr-0"><img src="assets/icons/plus-white.svg" class="mr-2" >Add Synonym</button>
    </div>
  </div>
  <!-- search Bar -->
  <!-- synonyms Card Header -->
  <div class="add-synonyms-inputs" *ngIf="!loadingContent && newSynonymObj.addNew">
    <div class="input-group-items">
      <div class="synonymTypeBlock">
        <div class="group-radiobutton">
          <div class="kr-sg-radiobutton">
              <input id="buttonIdSynonyms" value="synonym" name="synonymType" class="radio-custom" [(ngModel)]="newSynonymObj.type" type="radio">
              <label for="buttonIdSynonyms" class="radio-custom-label">Synonyms</label>
          </div>
          <div class="kr-sg-radiobutton">
              <input id="buttonIdOneWaySynonyms" value="oneWaySynonym" name="synonymType" [(ngModel)]="newSynonymObj.type" class="radio-custom" type="radio">
              <label for="buttonIdOneWaySynonyms" class="radio-custom-label">One-Way Synonym</label>
          </div>
       </div> 
      </div>
      <div class="keyword row p-3" *ngIf="newSynonymObj.type==='oneWaySynonym'">
        <div class="kr-sg-input-text">
          <input type="text" id="synonymName" name="synonymName" autocomplete="off" [(ngModel)]="synonymObj.keyword" [ngModelOptions]="{standalone: true}" placeholder="Keyword" required class="input-text">
        </div>
      </div>
      <div class="tags row p-3">
        <div class="chip-sys-data">                      
            <mat-form-field  class="example-chip-list" [floatLabel]="'never'">
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let syn of synArr" [selectable]="selectable" [removable]="removable" (removed)="remove(syn)"><span *ngIf="syn">{{syn}}</span>
                    <mat-icon matChipRemove><img src="assets/images/close.svg"></mat-icon>
                  </mat-chip>
                  <input placeholder="Synonyms" [value]="typedQuery" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" #suggestedInput [(ngModel)]="synonymObj.synonyms" [ngModelOptions]="{standalone: true}" autocomplete="off">
                </mat-chip-list>
            </mat-form-field>
        </div>
     </div>
     <div class="saveCacleSynBlock row pt-3">
       <div class="float-right">
        <button class="kr-sg-button-primary mr-2 ml-3" (click)="addSynonyms(synonymObj)">Save</button>
        <button class="kr-sg-button-secondary" (click)="cancleAddSynonyms()">Cancle</button>
       </div>
    </div>
    </div>
 </div>
  <perfect-scrollbar class="table-scroll-perfect-synonyms">
    <div class="empty-questions-selected"  *ngIf="!(synonymData && synonymData.length) && !loadingContent">
      <img src="assets/images/icons/empty_ill.svg">
      <div class="heading">No Synonyms Available</div>
      <div class="desc">Please add Synonyms</div>
    </div>
      <!-- DATA TABLE START HERE -->
      <div class="kr-sg-data-table">
        <section class="table-content">
            <header class="table-header" >
                <div class="col_ col-8">TERMS</div>
                <div class="col_ col-4">TYPE</div>
            </header>
            <div class="content-body" *ngFor="let synonym of synonymData;let i = index">
              <div *ngIf="currentEditIndex === i">
                <div class="add-synonyms-inputs">
                  <div class="input-group-items">
                    <div class="synonymTypeBlock">
                      <div class="group-radiobutton">
                        <div class="kr-sg-radiobutton">
                            <input id="buttonIdSynonyms" value="synonym" name="synonymType" class="radio-custom" [(ngModel)]="synonym.type" type="radio">
                            <label for="buttonIdSynonyms" class="radio-custom-label">Synonyms</label>
                        </div>
                        <div class="kr-sg-radiobutton">
                            <input id="buttonIdOneWaySynonyms" value="oneWaySynonym" name="synonymType" [(ngModel)]="synonym.type" class="radio-custom" type="radio">
                            <label for="buttonIdOneWaySynonyms" class="radio-custom-label">One-Way Synonym</label>
                        </div>
                     </div> 
                    </div>
                    <div class="keyword row p-3" *ngIf="synonym.type==='oneWaySynonym'">
                      <div class="kr-sg-input-text">
                        <input type="text" id="synonymName" name="synonymName" autocomplete="off" [(ngModel)]="synonym.keyword" [ngModelOptions]="{standalone: true}" placeholder="Keyword" required class="input-text">
                      </div>
                    </div>
                    <div class="tags row p-3">
                      <div class="chip-sys-data">                      
                          <mat-form-field  class="example-chip-list" [floatLabel]="'never'">
                              <mat-chip-list #chipList>
                                <mat-chip *ngFor="let syn of synonym.synonyms" [selectable]="selectable" [removable]="removable" (removed)="remove(syn)"><span *ngIf="syn">{{syn}}</span>
                                  <mat-icon matChipRemove><img src="assets/images/close.svg"></mat-icon>
                                </mat-chip>
                                <input placeholder="Synonyms" [value]="typedQuery" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" #suggestedInput [(ngModel)]="synonym.synonyms" [ngModelOptions]="{standalone: true}" autocomplete="off">
                              </mat-chip-list>
                          </mat-form-field>
                      </div>
                   </div>
                   <div class="saveCacleSynBlock float-right pt-3">
                    <button class="kr-sg-button-primary" (click)="addSynonyms(synonymObj)">Save</button>
                    <button class="kr-sg-button-secondary" (click)="cancleAddSynonyms()">Cancle</button>
                  </div>
                  </div>
               </div>
              </div>
            <ng-container *ngIf="currentEditIndex !== i">
              <div class="col_ col-8">
                <span *ngIf="synonym.keyword">{{synonym.keyword}}<span><img src="assets/icons/oneWayArrow.svg"></span></span>
                <span>
                  <span *ngFor="let eachSyn of synonym.synonyms;let i = index">{{eachSyn}}
                    <img *ngIf="synonym.keyword && (i < synonym.synonyms.length-1)" src="assets/icons/OR.svg">
                    <img *ngIf="!synonym.keyword" src="assets/icons/twoWayArrow.svg">
                  </span>
                </span>
              </div>
              <div class="col_ col-4">
                <span *ngIf="synonym.keyword">One-way Synonym</span>
                <span *ngIf="!synonym.keyword">Synonym</span>
                <span class="float-right">
                  <span class="actions-links mr-3" (click) = "editSynRecord(synonym,$event,i);currentEditIndex = i" ngbTooltip='edit' [container]='"body"'><img class="action_icon"  src="assets/images/edit-pencil.svg"></span>
                   <span class="actions-links" (click) = "deleteSynRecord(synonym,$event)" ngbTooltip='Delete' [container]='"body"'><img class="action_icon" src="assets/icons/delete-table.svg"></span>                  
                </span>
              </div>
             </ng-container>
            </div>
        </section>                               
    </div>   
    <ul class="list-group synonyms_added_group" *ngIf="!loadingContent && haveRecord && false">      
        <li class="list_group" *ngFor="let synonym of synonymData;let i = index">         
          <div class="panel-group">
                <div class="panel panel-default">                    
                      <div class="row m-0 row_data" data-toggle="collapse" (click) = "editSynRecord(synonym,$event,i)">               
                          <div class="col-md-11 p-0">
                              <span [innerHTML] = "synonym.keyword + ' '" class="main-sys"></span>
                              <span class="sys-chips-added">                               
                                <span *ngIf="synonym.synonyms.length"><span class="eyphan">-</span>
                                <span *ngFor="let eachSyn of synonym.synonyms;let i = index" class="data-list"> <span *ngIf="i != synonym.synonyms.length-1;else last" > {{eachSyn + ' , '}}</span><ng-template #last>{{eachSyn + ''}}</ng-template>
                              </span>
                              </span>       
                              </span>

                          </div>
                          <div class="col-md-1 p-0 text-right actions-btns">                  
                              <span class="actions-links mr-3" (click) = "editSynRecord(synonym,$event,i)" ngbTooltip='edit' [container]='"body"'><img class="action_icon"  src="assets/images/edit-pencil.svg"></span>
                              <span class="actions-links" (click) = "deleteSynRecord(synonym,$event)" ngbTooltip='Delete' [container]='"body"'><img class="action_icon" src="assets/icons/delete-table.svg"></span>                  
                          </div>
                      </div>
                      <div id="collapse_{{i}}" class="panel-collapse collapse body-inner">
                          <div class="panel-body">
                              <mat-form-field  class="example-chip-list" [floatLabel]="'never'">
                                  <mat-chip-list #chipList [attr.aria-label]="'tag selection'">
                                    <mat-chip *ngFor="let syn of synonym.synonyms"  [selectable]="selectable" [removable]="removable" (removed)="removeList(syn,synonym._id,i)"><span class="mat-val" *ngIf="syn">{{syn}}</span>
                                      <mat-icon matChipRemove><img src="assets/images/close.svg"></mat-icon>
                                    </mat-chip>                                  
                                    <input placeholder="Synonyms"
                                          [matChipInputFor]="chipList"
                                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                          [matChipInputAddOnBlur]="addOnBlur"
                                          (matChipInputTokenEnd)="addList($event,synonym._id,i)"  #suggestedInput>
                                          <!-- <button type="button" class="btn btn-light" (click)="addSynonymsAddedName(syn,i)">+</button> -->
                                  </mat-chip-list>
                                </mat-form-field>
                          </div>
                      </div>
                </div>
            </div>           
        </li>
      </ul>
  </perfect-scrollbar> 
</div>

