<div class="business-rules-wrapper">
    <div class="header-sec col-12 row m-0">
        <div class="col-4 lef-sec p-0"><span class="title">Business Rules</span></div>
        <div class="col-4 lef-sec p-0 d-none">
            <div class="selected-count">
                <span class="outer-border">
                    <span class="inner-bg"></span>
                </span>
                2 Rules Selected
            </div>
            <div class="kr-sg-checkbox m-0">
                <input id="checkbox-1" class="checkbox-custom" type="checkbox" checked>
                <label for="checkbox-1" class="checkbox-custom-label"></label>
                <span class="allselected">All Rules Selected</span>
            </div>
        </div>
        <div class="col-8 right-sec p-0">
            <div class="kr-sg-input-search m-0 d-none">                               
                <input type="text" placeholder="Search" autocomplete="off" class="input-search" placeholder="Search">           
            </div> 
            <div class="seach-block">
                <img src="assets/icons/search.svg">
                <img src="assets/images/close.svg" class="d-none">Seach
            </div>
            <div class="add_feild">
                <img src="assets/icons/add_plus.svg">Add Field
            </div>
            <div class="clock"><img src="assets/icons/clock.svg"></div>
        </div>
        <div class="col-8 right-sec p-0 d-none">
            <button class="kr-sg-button-danger btn_lg">Delete</button>
        </div>
    </div>
    <div class="table_section">
        <div class="header_sec row m-0">
            <div class="col-3 content withcheckbox">
                <div class="kr-sg-checkbox p-0 m-0">
                    <input id="selectAllFacets" class="checkbox-custom" type="checkbox">
                    <label for="selectAllFacets" class="checkbox-custom-label"></label>
                </div>
                <div class="title"><img src="assets/icons/sort_up_down.svg" class="pr-1">NAME</div>
            </div>
            <div class="col-3 content"><img src="assets/icons/sort_up_down.svg" class="pr-1">condition</div>
            <div class="col-3 content"><img src="assets/icons/sort_up_down.svg" class="pr-1">outcome</div>
            <div class="col-3 content"><img src="assets/icons/sort_up_down.svg" class="pr-1">STATUS</div>
        </div>
        <perfect-scrollbar class="scroll_table">                     
            <div class="body_sec row m-0">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one" class="checkbox-custom" type="checkbox">
                        <label for="one" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Q1 Campaign Promotion for Credit Cards</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="active-status"><span class="indication"></span>Active</span>
                   <div class="actions-icons">
                       <img src="assets/images/edit-pencil.svg">
                       <img src="assets/icons/delete-table.svg">
                   </div>
                </div>
            </div>   
            <div class="body_sec row m-0 selected">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one2" class="checkbox-custom" type="checkbox" checked>
                        <label for="one2" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Loan Products Eligibility</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="in-active-status"><span class="indication"></span>Inactive</span>
                    <div class="actions-icons">
                        <img src="assets/images/edit-pencil.svg">
                        <img src="assets/icons/delete-table.svg">
                    </div>
                </div>
            </div> 
            <div class="body_sec row m-0 selected">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one3" class="checkbox-custom" type="checkbox" checked>
                        <label for="one3" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Personalization for Savings Products</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="active-status"><span class="indication"></span>Active</span>
                   <div class="actions-icons">
                    <img src="assets/images/edit-pencil.svg">
                    <img src="assets/icons/delete-table.svg">
                    </div>
                </div>
            </div>    
            <div class="body_sec row m-0">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one" class="checkbox-custom" type="checkbox">
                        <label for="one" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Q1 Campaign Promotion for Credit Cards</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="active-status"><span class="indication"></span>Active</span>
                   <div class="actions-icons">
                    <img src="assets/images/edit-pencil.svg">
                    <img src="assets/icons/delete-table.svg">
                    </div>
                </div>
            </div> 
        </perfect-scrollbar>
    </div>
</div>
