<div class="business-rules-wrapper">
    <div class="header-sec col-12 row m-0">
        <div class="col-4 lef-sec p-0"><span class="title">Business Rules</span></div>
        <div class="col-4 lef-sec p-0 d-none">
            <div class="selected-count">
                <span class="outer-border">
                    <span class="inner-bg"></span>
                </span>
                2 Rules Selected
            </div>
            <div class="kr-sg-checkbox m-0">
                <input id="checkbox-1" class="checkbox-custom" type="checkbox" checked>
                <label for="checkbox-1" class="checkbox-custom-label"></label>
                <span class="allselected">All Rules Selected</span>
            </div>
        </div>
        <div class="col-8 right-sec p-0">
            <div class="kr-sg-input-search m-0 d-none">                               
                <input type="text" placeholder="Search" autocomplete="off" class="input-search" placeholder="Search">           
            </div> 
            <div class="seach-block">
                <img src="assets/icons/search.svg">
                <img src="assets/images/close.svg" class="d-none">Seach
            </div>
            <div class="add_feild" (click)="openModalPopup()">
                <img src="assets/icons/add_plus.svg">Add Field
            </div>
            <div class="clock"><img src="assets/icons/clock.svg"></div>
        </div>
        <div class="col-8 right-sec p-0 d-none">
            <button class="kr-sg-button-danger btn_lg">Delete</button>
        </div>
    </div>
    <div class="table_section">
        <div class="header_sec row m-0">
            <div class="col-3 content withcheckbox">
                <div class="kr-sg-checkbox p-0 m-0">
                    <input id="selectAllFacets" class="checkbox-custom" type="checkbox">
                    <label for="selectAllFacets" class="checkbox-custom-label"></label>
                </div>
                <div class="title"><img src="assets/icons/sort_up_down.svg" class="pr-1">NAME</div>
            </div>
            <div class="col-3 content"><img src="assets/icons/sort_up_down.svg" class="pr-1">condition</div>
            <div class="col-3 content"><img src="assets/icons/sort_up_down.svg" class="pr-1">outcome</div>
            <div class="col-3 content"><img src="assets/icons/sort_up_down.svg" class="pr-1">STATUS</div>
        </div>
        <perfect-scrollbar class="scroll_table">                     
            <div class="body_sec row m-0">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one" class="checkbox-custom" type="checkbox">
                        <label for="one" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Q1 Campaign Promotion for Credit Cards</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="active-status"><span class="indication"></span>Active</span>
                   <div class="actions-icons">
                       <img src="assets/images/edit-pencil.svg">
                       <img src="assets/icons/delete-table.svg">
                   </div>
                </div>
            </div>   
            <div class="body_sec row m-0 selected">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one2" class="checkbox-custom" type="checkbox" checked>
                        <label for="one2" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Loan Products Eligibility</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="in-active-status"><span class="indication"></span>Inactive</span>
                    <div class="actions-icons">
                        <img src="assets/images/edit-pencil.svg">
                        <img src="assets/icons/delete-table.svg">
                    </div>
                </div>
            </div> 
            <div class="body_sec row m-0 selected">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one3" class="checkbox-custom" type="checkbox" checked>
                        <label for="one3" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Personalization for Savings Products</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="active-status"><span class="indication"></span>Active</span>
                   <div class="actions-icons">
                    <img src="assets/images/edit-pencil.svg">
                    <img src="assets/icons/delete-table.svg">
                    </div>
                </div>
            </div>    
            <div class="body_sec row m-0">
                <div class="col-3 content withcheckbox">                   
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="one" class="checkbox-custom" type="checkbox">
                        <label for="one" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Q1 Campaign Promotion for Credit Cards</div>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1"><span class="small-text">SearchContext :</span> RecentSearches</span>
                    <span class="outer-name mr-1 mb-1">Contains</span>
                    <span class="tags-input mr-1 mb-1">Credit</span>
                    <span class="divider mr-1 mb-1">OR</span>
                </div>
                <div class="col-3 content">
                    <span class="tags-input mr-1 mb-1">3x BoostResult</span>
                    <span class="outer-name mr-1 mb-1">Containing</span>
                    <span class="tags-input mr-1 mb-1">OfferType: CardOffers</span>
                </div>
                <div class="col-3 content actions">
                   <span class="active-status"><span class="indication"></span>Active</span>
                   <div class="actions-icons">
                    <img src="assets/images/edit-pencil.svg">
                    <img src="assets/icons/delete-table.svg">
                    </div>
                </div>
            </div> 
        </perfect-scrollbar>
    </div>
</div>


<kr-modal modalType="center" #addBusinessRules modalClass="modal_popups_ business-rules-popup">
  <div class="modal-header">
    <div class="title font-weight-bold">Add Rule</div>
    <label class="kr-sg-toggle toggle-switch">                                       
        <input type="checkbox">
        <div class="slider"><span class="enabled">Rule Active</span><span class="disabled">Rule Inactive</span></div>
    </label>  
    <div class="close_icon" (click)="closeModalPopup()"><img class="ng-tns-c11-2" src="assets/icons/modal-close.svg"></div>
  </div>
  <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body">
        <div class="kr-sg-input-text">
            <div class="label-text">Rule Name</div>
            <input type="text" placeholder="Rule Name" class="input-text">           
        </div>
        <div class="rules-block row m-0">
            <div class="condition-add-text col-3 pl-0 pr-4">
                <div class="title">Condition</div>
                <div class="desc_text">The context of this section as to when the trigger takes place.</div>
                <div class="add-condition"><img src="assets/icons/plus-blue.svg">Add Condition</div>
            </div>
            <div class="input-conditions col-9">
                <div class="row m-0">
                    <div class="col-2 p-0 title">
                        Select Context
                    </div>
                    <div class="col-10">
                        <div class="kr-sg-dropdowns">                           
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">User Context</button>                                            
                                <ul class="dropdown-menu content-menu">                                                                          
                                  <li><a href="#">Option 1</a></li>
                                  <li><a href="#">Option 2</a></li>
                                  <li><a href="#">Option 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-2 p-0 title">
                        Select Context
                    </div>
                    <div class="col-10">
                        <div class="kr-sg-dropdowns">                           
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">User Context</button>                                            
                                <ul class="dropdown-menu content-menu">                                                                          
                                  <li><a href="#">Option 1</a></li>
                                  <li><a href="#">Option 2</a></li>
                                  <li><a href="#">Option 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="delete-rule">
                <img src="assets/icons/modal-close.svg">
            </div> -->
        </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer">
      <button class="kr-sg-button-primary btn_lg">Proceed</button>
      <button class="kr-sg-button-secondary btn_lg">Back</button>
  </div>
</kr-modal> 