@import './../../../app/scss/variables/variables.scss';
.business-rules-wrapper {
    height: calc(100vh - 61px);
    .header-sec {
        background: #F8F9FA;
        padding: 9px 24px;
        align-items: center;
        min-height: 52px;
        margin-bottom: 17px !important;
        .lef-sec {
            .title {
                color: #000000;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
            .selected-count {
                color: #000000;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                .outer-border {
                    width: 18px;
                    height: 18px;
                    border: 1px solid #0D6EFD;
                    box-sizing: border-box;
                    border-radius: 2px;
                    display: inline-block;
                    padding: 3px;
                    text-align: center;
                    margin-right: 24px;
                    .inner-bg {
                        background: #0D6EFD;
                        border-radius: 2px;
                        display: block;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            .kr-sg-checkbox {
                padding: 0 0 0 10px;
                .allselected {
                    padding-left: 12px;
                    color: #000000;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        .right-sec {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .kr-sg-input-search {
                width: 215px;
                right: 10px;
                position: relative;
                &.active {
                    display: block;
                    width: 215px;
                }
            }
            .seach-block {
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                margin-right: 30px;
                img {
                    margin-right: 7px;
                    cursor: pointer;
                    position: relative;
                    top: -1px;
                }
            }
            .add_feild {
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                margin-right: 30px;
                cursor: pointer;
                img {
                    margin-right: 7px;
                    position: relative;
                    top: -1px;
                }
            }
            .clock {
                cursor: pointer;
                img {
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
    .mainLoadingSpinner {
        position: absolute;
        background: transparent;
        width: 223px;
        height: 40px;
        padding-top: 10px;
        border-radius: 4px;
        opacity: 0.95;
        padding-left: 5px;
        width: 100%;
        .please-wait-message {
            position: relative;
            color: #29293b;
            top: -16px;
            left: 25px;
            font-size: 12px;
        }
    }
    .empty-rules {
        width: 320px;
        margin: 0 auto;
        // height: calc(100% - 60px);
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: calc(100vh - 225px);
        img {
            width: 75%;
            margin: 0 auto;
        }
        .heading {
            margin: 18px 0 8px 0;
            color: $primaryColor;
        }
        .desc {
            color: $secondaryColor;
            font-size: 14px;
        }
    }
    .table_section {
        padding: 0 0 0 24px;
        .header_sec {
            align-items: center;
            padding: 16px 0;
            box-shadow: inset 0px -1px 0px #E4E5E7;
            margin-right: 24px !important;
            .upArrow {
                transform: rotate(180deg) !important;
            }
            .content {
                color: #9AA0A6;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                // text-transform: uppercase;
                padding: 0 10px;
                img {
                    position: relative;
                    top: -1px;
                }
                &.withcheckbox {
                    display: flex;
                    // align-items: center;
                    .kr-sg-checkbox {
                        .checkbox-custom {
                            height: auto;
                            position: absolute;
                            +.checkbox-custom-label {
                                &::before {
                                    padding: 0;
                                    margin-right: 0;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                    .title {
                        padding-left: 24px;
                    }
                }
            }
        }
        .scroll_table {
            height: calc(100vh - 184px);
            padding-right: 24px;
        }
        .body_sec {
            // align-items: center;
            padding: 16px 0px;
            box-shadow: inset 0px -1px 0px #E4E5E7;
            cursor: pointer;
            transition: 0.3s all ease;
            &.selected {
                background: #F3F8FF;
                border-radius: 0px;
                border: 0;
                .content {
                    &.withcheckbox {
                        .kr-sg-checkbox {
                            visibility: visible !important;
                        }
                    }
                    &.actions {
                        .actions-icons {
                            display: none !important;
                        }
                    }
                }
                &:hover {
                    background: #F3F8FF;
                }
            }
            .content {
                color: #202124;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                padding: 0 10px;
                position: relative;
                &.withcheckbox {
                    display: flex;
                    align-items: center;
                    .kr-sg-checkbox {
                        visibility: hidden !important;
                        .checkbox-custom {
                            height: auto;
                            position: absolute;
                            +.checkbox-custom-label {
                                &::before {
                                    padding: 0;
                                    margin-right: 0;
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                    .title {
                        padding-left: 24px;
                        color: #202124;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
                .tags-input {
                    border: 1px solid #BDC1C6;
                    box-sizing: border-box;
                    border-radius: 4px;
                    display: inline-block;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    color: #5F6368;
                    padding: 1px 6px;
                    .small-text {
                        color: #BDC1C6;
                    }
                }
                .divider {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    color: #9AA0A6;
                    text-transform: uppercase;
                }
                .outer-name {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    color: #9AA0A6;
                }
                &.actions {
                    .actions-icons {
                        position: absolute;
                        right: 15px;
                        top: 0;
                        display: none;
                        img {
                            margin-left: 25px;
                            cursor: pointer;
                        }
                    }
                    .in-active-status {
                        padding: 5px 10px;
                        color: #3C4043;
                        text-align: center;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        background: #EFF0F1;
                        border-radius: 5px;
                        display: inline-flex;
                        align-items: center;
                        .indication {
                            display: inline-block;
                            background: #9AA0A6;
                            width: 7px;
                            height: 7px;
                            border-radius: 100%;
                            margin-right: 7px;
                        }
                    }
                    .active-status {
                        padding: 5px 10px;
                        color: #135423;
                        text-align: center;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        background: #EAF6EC;
                        border-radius: 5px;
                        display: inline-flex;
                        align-items: center;
                        .indication {
                            display: inline-block;
                            background: #28A745;
                            width: 7px;
                            height: 7px;
                            border-radius: 100%;
                            margin-right: 7px;
                        }
                    }
                }
            }
            &:hover {
                background: #F8F9FA;
                transition: 0.3s all ease-in;
                .content {
                    .kr-sg-checkbox {
                        visibility: visible !important;
                    }
                    &.actions {
                        .actions-icons {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.activeDrop {
    z-index: 9999999 !important;
}

::ng-deep perfect-scrollbar .ps--active-y {
    .ps__thumb-y {
        width: 3px !important;
    }
    .ps__rail-y {
        width: 3px !important;
    }
    .ps__thumb-x {
        display: none !important;
    }
    .ps__rail-x {
        display: none !important;
    }
}

::ng-deep .business-rules-popup {
    .date-chip {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-infix {
                    .mat-chip-list {
                        .mat-chip-list-wrapper {
                            min-height: 34px;
                        }
                    }
                }
            }
        }
    }
    .toggle-switch {
        position: absolute;
        right: 165px;
        margin-top: 3px;
        .slider {
            span {
                width: 130px !important;
                top: -1px !important;
            }
        }
    }
    .rules-block {
        margin: 20px 0;
        border-bottom: 1px solid #D8D8D8;
        .condition-add-text {
            .title {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 6px;
            }
            .desc_text {
                color: #9AA0A6;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 16px;
            }
            .add-condition {
                color: #0D6EFD;
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                cursor: pointer;
                img {
                    margin-right: 4px;
                }
            }
        }
        .input-conditions {
            padding-right: 0;
            .input-bg-sec {
                width: 100%;
                background: #F8F9FA;
                border-radius: 4px;
                padding: 16px 20px;
                .search-content-sec {
                    align-items: center;
                    margin-bottom: 16px !important;
                    .title {
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
                .setparameetres-sec {
                    align-items: center;
                    .title {
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
                .tags {
                    padding-right: 0;
                    .chip-sys-data {
                        width: 100%;
                        // background: #fff;
                    }
                }
                .action-scontent-sec {
                    align-items: center;
                    margin-bottom: 16px !important;
                    .title {
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .right-side-sec {
                        app-range-slider {
                            .custom-created-range-slider {
                                .single-slider {
                                    width: 100%;
                                    margin: 0;
                                    .slider-track-high {
                                        background: #E4E5E7;
                                    }
                                    .slider-selection {
                                        background: #0D6EFD !important;
                                    }
                                    .countThreshold {
                                        width: 100%;
                                        display: none;
                                    }
                                    .slider-horizontal {
                                        width: 100%;
                                        // .tooltip-main {
                                        //     display: none;
                                        // }
                                        .slider-tick,
                                        .slider-handle {
                                            background: #0D6EFD !important;
                                            box-shadow: 0px 0.25px 1px rgba(7, 55, 127, 0.25), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                                        }
                                    }
                                    .slider-track {
                                        height: 2px;
                                        width: 100%;
                                        margin-top: -3px;
                                    }
                                }
                            }
                        }
                        .result-slider-title {
                            color: #9AA0A6;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            position: relative;
                            top: -2px;
                        }
                        .slider-count {
                            color: #000000;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 22px;
                            padding-left: 5px;
                        }
                    }
                }
                .response-content-sec {
                    align-items: center;
                    margin-bottom: 16px !important;
                    .title {
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
            .delete-rule {
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}

.dropdownDiv {
    padding: 0 !important;
    z-index: 999;
    .kr-sg-dropdowns {
        .dropdown-open {
            .dropdown-input {
                height: 30px;
                line-height: 28px;
            }
        }
    }
    &::after {
        display: none;
    }
}

.mb-13 {
    margin-bottom: 13px;
}

::ng-deep .example-chip-list {
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            padding: 0 !important;
            background: #fff;
            .mat-form-field-infix {
                .mat-chip-list {
                    .mat-chip-list-wrapper {
                        .mat-chip {
                            margin: 3px;
                        }
                        .mat-chip.firstChip{
                            background-color: #d3d4d6;
                           
                        }
                    }
                }
            }
        }
    }
}

.select_data_placeholder {
    padding-left: 10px;
    color: #BDC1C6;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACfSURBVHgB3ZDBDcIwEATXTvinBErgiSBIC6EASoBKKCUlpAIkPyiADqADUoDBXGTuB07yzVjy7eP2tFrgC8kCf1iSc9VWhUfWrLg7/jLkyOpSLnbabFgdAtBgEOaWA0GiGOfxOqVWZ7CUcdZIBXqP22eMF1lIzntqP4QAAzzU4K7usk0ZSu4pttpiJFMwaEtcs0rXKk9oTffHyvp5w7cfn3EjP1+jAAsAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right;
    width: 108px;
    &.w-120 {
        width: 120px;
    }
}

.info-number-placeholder {
    color: #9AA0A6;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin: 4px 0;
}

.info-warning-container {
    background: #FFFBEA;
    border: 1px solid #806D16;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 10px;
    align-items: center;
    margin-bottom: 80px !important;
    .w-text {
        color: #806D16;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }
    .know-more {
        color: #0D6EFD;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
    }
}

.empty-scroll {
    height: calc(100vh - 162px);
}

::ng-deep .dateRangePicker+ngx-daterangepicker-material .md-drppicker .calendar.right {
    display: none !important;
}

.dropdown-menu.content-menu li.active {
    font-weight: 800;
    background-color: transparent !important;
}
::ng-deep ngx-daterangepicker-material{
    z-index: 11111111;
}
::ng-deep ngx-daterangepicker-material .md-drppicker {
    th {
        color: #202124;
    }
    .calendar th span {
        font-weight: 400 !important;
    }
    td.active,td.active:hover{
        background-color: #0D6EFD !important;
    }
    td{
        border: none !important;
        &:hover{
            background-color: #0D6EFD !important;
            opacity: 1;
            span{
                color: #ffffff;
            }
        }
        &.in-range{
            background-color: #0D6EFD !important;
            opacity: 1;
            span{
                color: #ffffff !important;
            }
        }
        &.active {
            background-color: #0D6EFD !important;
            span{
                color: #ffffff !important;
            }
        }
    }
}
 
::ng-deep ngx-daterangepicker-material .md-drppicker .buttons .buttons_input {
    button.btn.btn-default {
        display: none !important;
    }
    button.btn {
        float: left !important;
        background: transparent !important;
        color: #0D6EFD;
        box-shadow: none !important;
        position: relative;
        border: 0px !important;
    }
    button.btn:after {
        content: "Done";
        text-transform: capitalize !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #0D6EFD;
        background: white;
    }
}

::ng-deep ngx-daterangepicker-material {
    position: absolute;
    bottom: -11px !important;
}



.kr-sg-input-search .pl-33 {
    padding-left: 33px;
}

.kr-sg-input-search .pr-28 {
    padding-right: 28px;
}

.kr-sg-input-search .close-icon {
    position: absolute;
    right: 11px;
    top: 12px;
    cursor: pointer;
}
.kr-sg-dropdowns {
    &.disabled {
        .dropdown-open {
            .dropdown-input{
                background-color: #EFF0F1 !important;
                border: 1px solid #EFF0F1 !important;
                &::before{
                    opacity: 0.3;
                }
            }
        }
    }   
}
.lh-5{
    line-height: 5px !important;
}