<div class="business-rules-wrapper">
    <div class="header-sec col-12 row m-0">
        <div class="col-4 lef-sec p-0" *ngIf="!(selcectionObj && selcectionObj.selectedItems && selcectionObj.selectedCount)">
            <app-useronboarding-journey [componentType]='componentType'></app-useronboarding-journey>
            <span class="title">Business Rules</span>
        </div>
        <div class="col-4 lef-sec p-0" *ngIf="selcectionObj && selcectionObj.selectedItems && selcectionObj.selectedCount">
            <div class="selected-count" *ngIf="!selcectionObj.selectAll">
                <span class="mr-1">
                    <img (click)="selectAllFromPartial()" src="assets/icons/resultranking/selected-checkbox.svg" class="search-icon">
                </span>
                <span class="pl-3">
                 {{ selcectionObj.selectedCount }}  {{ (selcectionObj.selectedCount >1 ?"businessRules.rules_selected":"businessRules.rule_selected") | translate }}
                </span>
            </div>
            <div class="kr-sg-checkbox m-0" *ngIf="selcectionObj.selectAll">
                <input id="checkbox-1" class="checkbox-custom" type="checkbox" [(ngModel)]="selcectionObj.selectAll" (change)="selectAll()"/>
                <label for="checkbox-1" class="checkbox-custom-label"></label>
                <span class="allselected">{{ selcectionObj.selectedCount }} {{ (selcectionObj.selectedCount >1 ?"businessRules.rules_selected":"businessRules.rule_selected") | translate }}</span>
            </div>
        </div>
        <div class="col-8 right-sec p-0" *ngIf=" !(selcectionObj && selcectionObj.selectedItems && selcectionObj.selectedCount)">
            <div class="kr-sg-input-search" [ngClass]="{ 'd-none': !showSearch }">
                <input type="text" placeholder="Search"  maxlength="60" id="inputSearch" class="input-search" (keyup)="searchByRule()" [ngClass]="{'pl-33':!searchRules,'pl-2':searchRules}" autocomplete="off" [(ngModel)]="searchRules" (focusout)="focusoutSearch()" (mouseover)="searchImgSrc = (searchFocusIn ? 'assets/icons/search_gray.svg' :'assets/icons/search_gray_dark.svg')"
                    (mouseout)="searchFocusIn=false;searchImgSrc = 'assets/icons/search_gray.svg'" (focus)="searchFocusIn=true;searchImgSrc = 'assets/icons/search_gray.svg'">
                <img [src]="searchImgSrc" class="search-icon" *ngIf="!searchRules">
                <img class="close-icon" *ngIf="searchRules" src="assets/icons/close_icon.svg" [ngClass]="{'pr-22':searchRules}" (mouseover)="activeClose=true" (mouseout)="activeClose=false" (click)="searchRules='';toggleSearch(false)">
            </div>
            <!-- <div class="kr-sg-input-search m-0" [ngClass]="{ active: showSearch }">
                <input type="text" placeholder="Search" id="searchInput" autocomplete="off" class="input-search" placeholder="Search" [(ngModel)]="searchRules" />
            </div> -->
            <div *ngIf="!loadingContent && rules && beforeFilterRules.length && !showSearch" class="seach-block" (click)="toggleSearch();focusinSearch('inputSearch')">
                <img src="assets/icons/search.svg" />
                <!-- <img *ngIf="showSearch" src="assets/images/close.svg" /> -->
                {{ "search" | translate }}
            </div>
            <div class="add_feild mr-0" (click)="createNewRule()" *ngIf="rules && beforeFilterRules && beforeFilterRules.length">
                <img src="assets/icons/add_plus.svg" />{{ "businessRules.add_rule" | translate }}
            </div>
            <div class="clock d-none"><img src="assets/icons/clock.svg" /></div>
        </div>
        <div class="col-8 right-sec p-0" *ngIf="selcectionObj && selcectionObj.selectedItems && selcectionObj.selectedCount">
            <button class="kr-sg-button-danger btn_lg" (click)="deleteMultiePop()">
        {{ "businessRules.delete" | translate }}
      </button>
        </div>
    </div>
    <div class="mainLoadingSpinner" *ngIf="loadingContent">
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">Please Wait!</span>
    </div>
    <ng-container *ngIf="loadingContent1 && !(rules && beforeFilterRules && beforeFilterRules.length)">
        <perfect-scrollbar class="empty-scroll">
            <div class="empty-landing-screen">
                <div class="img-block" *ngIf="!emptyItems"><img class="action_icon" (load)="imageLoad()" src="assets/images/businessrules-empty.svg"></div>
                <ng-container *ngIf="loadImageText">
                    <div class="empty-title">You haven’t added any rules yet!</div>
                    <div class="desc-text"> Rule is powerful tool to personalize and fine-tune search results. SearchAssist allows you to define rules based on Search , Page and User-contexts. Rules can also be used for merchandising and promotions.
                    </div>
                    <div class="kr-sg-dropdowns" ngbDropdown [container]="'body'">
                        <button class="kr-sg-button-primary btn_lg px-3" (click)="createNewRule()">Add Rules</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="noItems && emptySearchResults">
                    <div class="desc-text">Your Search Query doesn't match with any record.</div>
                </ng-container>
            </div>
        </perfect-scrollbar>
    </ng-container>
    <div class="table_section" *ngIf="!loadingContent && rules && beforeFilterRules && beforeFilterRules.length">
        <div class="header_sec row m-0">
            <div class="col-3 content withcheckbox ">
                <!-- <div class="kr-sg-checkbox p-0 m-0">
                    <input id="selectAllRules" class="checkbox-custom" type="checkbox" (change)="selectAll()" [(ngModel)]="selcectionObj.selectAll" />
                    <label for="selectAllRules" class="checkbox-custom-label"></label>
                </div> -->
                <div class="title cursor-pointer" (click)="sortBy('ruleName')">
                    <img *ngIf="!(selectedSort && selectedSort === 'ruleName')" src="assets/icons/sort_up_down.svg" class="pr-1" />
                    <img *ngIf="selectedSort && selectedSort === 'ruleName'" [ngClass]="{ upArrow: !isAsc }" src="assets/icons/caretDown.svg" class="pr-1" /> {{ "name_caps" | translate }}
                </div>
            </div>
            <div class="col-3 content">
                {{ "businessRules.condition_caps" | translate }}
            </div>
            <div class="col-3 content">
                {{ "businessRules.outcome_caps" | translate }}
            </div>
            <div class="col-3 content cursor-pointer d-flex align-items-center" (click)="sortBy('isRuleActive')">
                <span class="d-flex align-items-center flex-column mr-1">
                <img *ngIf="!(selectedSort && selectedSort === 'isRuleActive')" src="assets/icons/sort_up_down.svg" class="pr-1" />
                <img *ngIf="selectedSort && selectedSort === 'isRuleActive'" [ngClass]="{ upArrow: isAsc }" src="assets/icons/caretDown.svg" class="pr-1" /></span> {{ "businessRules.status_caps" | translate }}
                <div class="ml-2 kr-sg-dropdowns type_sort_dropdown" #isRuleActiveFilter="ngbDropdown" ngbDropdown [container]="'body'" [autoClose]="true" [placement]="'bottom-right'">
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle (click)="$event.stopImmediatePropagation()">
                            <img class="custom-dropdown-toggle-icon" src="assets/icons/Vector.svg">
                        </button>
                        <ul class="dropdown-menu content-menu type_sort_dropdown-content" ngbDropdownMenu>
                            <li (click)="isRuleActiveFilter.close();filterTable('all','isRuleActive')">
                                <span class="list-name">All</span>
                                <img [ngClass]="{'hide': filterSystem.isRuleActiveFilter !== 'all'}" src="assets/icons/check-blue.svg"></li>
                                <li *ngFor="let docType of isRuleActiveArr" (click)="isRuleActiveFilter.close();filterTable(docType,'isRuleActive')">
                                    <span
                                        class="list-name">{{docType == false ? 'Inactive' :(docType == true? 'Active': '')}}</span><img
                                        [ngClass]="{'hide': filterSystem.isRuleActiveFilter !== docType}" src="assets/icons/check-blue.svg"></li>                       
                        </ul>
                    </div>
            </div>
        </div>
        
    </div>
    <perfect-scrollbar class="scroll_table">
        <!-- <div class="body_sec row m-0" *ngFor="let ruleObj of rules | filter: [searchRules, 'ruleName']" [ngClass]="{ -->
            <div class="body_sec row m-0" *ngFor="let ruleObj of rules" [ngClass]="{
        selected:
          selcectionObj &&
          selcectionObj.selectedItems &&
          selcectionObj.selectedItems[ruleObj._id]
      }">
            <div class="col-3 content withcheckbox align-items-start">
                <div class="kr-sg-checkbox p-0 m-0">
                    <input id="{{ ruleObj._id }}" class="checkbox-custom selectRuleCheckBoxDiv" type="checkbox" (change)="checkUncheckfacets(ruleObj)" />
                    <label for="{{ ruleObj._id }}" class="checkbox-custom-label"></label>
                </div>
                <div class="title text-truncate"  [tooltipClass]="'whiteTooltip'" container="body" ngbTooltip="{{ ruleObj.ruleName }}">{{ ruleObj.ruleName }}</div>
            </div>
            <div class="col-3 content">
                <ng-container *ngFor="let rule of ruleObj.rules; let ruleIndex = index">
                    <!-- <br *ngIf="ruleIndex > 0"> -->
                    <div class="d-flex align-items-center flex-wrap">
                        <span class="divider" *ngIf="ruleIndex > 0">{{"and_caps" | translate}}</span>
                        <span class="tags-input mr-1 mb-1 contextCategory">
                            <span class="small-text" >{{ "businessRules." + rule.contextType | translate}} :</span> 
                            <span container="body" ngbTooltip='{{ "businessRules." + rule.contextCategory | translate }}'>{{ "businessRules." + rule.contextCategory | translate }}</span>
                        </span>
                    </div>                    
                    <div class="d-flex align-items-start mb-2">
                        <div class="d-inline-block">
                            <span class="outer-name mr-1 mb-1 ml-4 d-inline-block" [ngClass]="{'ml-4':ruleIndex > 0}">{{ rule.operator | titlecase}}</span>
                        </div>
                        <div class="d-flex align-items-start flex-wrap">
                            <ng-container *ngFor="let value of rule.value; let valueIndex = index">
                                <span class="tags-input mr-1 mb-1" *ngIf="value && !checkIsArray(value)" container="body" ngbTooltip="{{value | dateFormatPipe: 'DD MMM YYYY'}}">{{value | dateFormatPipe: 'DD MMM YYYY'}}</span>
                                <span class="tags-input mr-1 mb-1" *ngIf="value && value.length && checkIsArray(value)"><span *ngFor="let num of value; let numIndex = index" container="body" ngbTooltip="{{num | dateFormatPipe: 'DD MMM YYYY'}}">{{num | dateFormatPipe: 'DD MMM YYYY'}}<span *ngIf="!numIndex"> - </span></span></span>
                                <span class="divider" *ngIf="valueIndex < rule.value.length - 1">{{ "or_caps" | translate}}</span>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-3 content">
                <ng-container *ngFor="let outcome of ruleObj.outcomes">
                    <div>
                        <span class="tags-input mr-1 mb-1"><span *ngIf=" outcome.outcomeType === 'boost' ||  outcome.outcomeType === 'lower'">{{ outcome.scale }}x</span>{{"businessRules.action" + outcome.outcomeType | translate}}Result
                        </span>
                    </div>
                    <div class="d-inline-flex align-items-start">
                        <span class="outer-name mr-1 mb-1">{{"businessRules." + outcome.outcomeOperator | translate }}</span>
                        <span class="tags-input mr-1 mb-1 outcome-tags-input">{{ outcome.fieldName }}:
                            <span *ngFor="let value of outcome.outcomeValue;let valueIndex = index"  container="body" ngbTooltip="{{value}}">{{ value }}
                                <span *ngIf="valueIndex < outcome.outcomeValue.length - 1" class="divider ">{{ "or_caps" | translate }}</span>
                            </span>
                        </span>
                    </div>
                    <img class="pl-1 d-inline-flex" *ngIf="outcome.showFieldWarning && outcome.showFieldWarning !== 'false'" src="assets/icons/info-blue.svg"  container="body" ngbTooltip="{{fieldWarnings[outcome.showFieldWarning] || outcome.showFieldWarning}}" tooltipClass="{{modifyFieldWarningMsg(outcome.showFieldWarning)?'my-custom-warning-class':'text-left-warning'}}"
                    />
                </ng-container>
            </div>
            <div class="col-3 content actions">
                <span class="active-status" *ngIf="ruleObj.isRuleActive"><span class="indication"></span>{{ "businessRules.active" | translate }}</span>
                <span class="in-active-status" *ngIf="!ruleObj.isRuleActive"><span class="indication"></span>{{ "businessRules.In-Active" | translate }}</span>
                <div class="actions-icons">
                    <img src="assets/images/edit-pencil.svg" (click)="editRule(ruleObj)" ngbTooltip='Edit' [container]="'body'" />
                    <img src="assets/icons/delete-table.svg" (click)="deleteRulePop(ruleObj, ruleIndex)" ngbTooltip='Delete' [container]="'body'"  />
                </div>
            </div>
        </div>
        <div class="divBlockEmptylastChild text-center">
            <div class="desc">No search results found</div>
        </div>
        <app-record-pagination *ngIf="totalRecord && totalRecord>10" [totalRecord]='totalRecord' [limitpage]='10' (pageChanged)="paginate($event)"></app-record-pagination>
    </perfect-scrollbar>
    <div class="empty-rules" *ngIf="!loadingContent && !(rules && beforeFilterRules && beforeFilterRules.length)">
        <img src="assets/images/icons/empty_ill.svg" />
        <div class="heading">No Rules Available</div>
        <div class="desc">Please add rules</div>
    </div>
</div>

<kr-modal modalType="center" #addBusinessRules modalClass="modal_popups_ business-rules-popup">
    <div class="modal-header">
        <div class="title font-weight-bold">{{ (addEditRuleObj._id ?"businessRules.edit_rule" :"businessRules.add_rule") | translate }}</div>
        <label class="kr-sg-toggle toggle-switch">
      <input type="checkbox" [(ngModel)]="addEditRuleObj.isRuleActive" />
      <div class="slider">
        <span class="enabled">{{"businessRules.rule_active" | translate}}</span><span class="disabled">{{"businessRules.rule_in_active" | translate}}</span>
      </div>
    </label>
        <div class="close_icon" (click)="closeModalPopup()">
            <img src="assets/icons/modal-close.svg" />
        </div>
    </div>
    <perfect-scrollbar class="perfect-scroll-modal-body">
        <div class="modal-body">

            <div class="kr-sg-input-text mb-5">
                <div class="label-text">{{ "businessRules.rule_name" | translate }}</div>
                <input type="text" placeholder="Rule Name"  maxlength="60" class="input-text" [(ngModel)]="addEditRuleObj.ruleName" [ngClass]="{'err-block' : (!addEditRuleObj.ruleName.length && submitted)}"/>
                <img *ngIf="!addEditRuleObj.ruleName && submitted" id="ruleNameWarning" src="assets/icons/warning_escalation.svg" style="top: 60%; position: absolute; right: 1.5%; display: block;" height="12" width="12" />
            </div>
            <div class="rules-block row">
                <div class="condition-add-text col-3 pl-0 pr-4">
                    <div class="title">{{ "businessRules.condition" | translate }}</div>
                    <div class="desc_text">{{ "businessRules.condition_desc" | translate }}</div>
                    <div class="add-condition" (click)="addNewRule()"><img src="assets/icons/plus-blue.svg" />Add Condition</div>
                </div>
                <div class="input-conditions col-9">
                    <ng-container *ngFor="let ruleObj of rulesArrayforAddEdit; let ruleIndex = index">
                        <div class="d-flex align-items-center w-100 mb-13 position-relative">
                            <div class="input-bg-sec">
                                <div class="row m-0 search-content-sec">
                                    <div class="col-2 p-0 title">Select Context</div>
                                    <div class="col-4 pr-0">
                                        <div class="kr-sg-dropdowns w-auto">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" (click)="currentEditInex = null">{{"businessRules." + ruleObj.contextType | translate}}</button>
                                                <ul class="dropdown-menu content-menu">
                                                    <li *ngFor="let contextType of ruleOptions.contextTypes" (click)="ruleSelection(ruleObj, contextType, 'contextType')" [ngClass]="{'active':ruleObj.contextType===contextType}">
                                                        <a>{{"businessRules." + contextType | translate}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 search-content-sec">
                                    <div class="col-2 p-0 title">Set Parameters</div>
                                    <div class="col-4 pr-0">
                                        <div class="kr-sg-dropdowns w-auto" ngbDropdown (click)="currentEditInex = index" *ngIf="ruleObj.contextType !=='userContext'">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>
                                                {{"businessRules." + ruleObj.contextCategory | translate}}
                                                </button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                                    <li ngbDropdownItem *ngFor=" let contextCategory of ruleOptions[ruleObj.contextType]" (click)="ruleSelection(ruleObj,contextCategory,'contextCategory')" [ngClass]="{'active':ruleObj.contextCategory===contextCategory}">
                                                        {{"businessRules." + contextCategory | translate}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngIf="ruleObj.contextType ==='userContext'">
                                            <input type="text" id="userType"class="w-100" [(ngModel)]="ruleObj.contextCategory" />
                                        </div>
                                    </div>
                                    <div class="col-3 pr-0">
                                        <div class="kr-sg-dropdowns d-inline-block" ngbDropdown (click)="currentEditInex = index">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>{{((ruleObj.dataType)?("businessRules." + ruleObj.dataType): 'choose_an_option')  | translate}}</button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                                    <li ngbDropdownItem *ngFor="let dataType of ruleOptions.dataTypes" (click)="ruleSelection(ruleObj,dataType,'dataType')" [ngClass]="{'active':ruleObj.dataType===dataType}">{{"businessRules." + dataType | translate}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 pr-0">
                                        <div class="kr-sg-dropdowns d-inline-block" ngbDropdown (click)="currentEditInex = index">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>{{((ruleObj.operator)?("businessRules." + ruleObj.operator):'choose_an_option')  | translate}}</button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                                    <ng-container *ngIf="ruleObj.dataType && conditions[ruleObj.dataType]">
                                                        <li ngbDropdownItem *ngFor="let operator of conditions[ruleObj.dataType]" (click)="ruleSelection(ruleObj,operator,'operator')" [ngClass]="{'active':ruleObj.operator===operator}">{{"businessRules." + operator | translate}} </li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 setparameetres-sec">
                                    <div class="col-2 p-0 title"></div>
                                    <div class="tags row m-0 col-10">
                                        <div class="chip-sys-data">
                                            <mat-form-field class="example-chip-list" [ngClass]="{'date-chip': ruleObj.dataType == 'date'}">
                                                <mat-chip-list #chipList [attr.aria-label]="'tag selection'" class="date-range-picker-right-d-none">

                                                    <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType !== 'date') && (ruleObj.dataType !== 'number')">
                                                        <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                            <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag,index)" [ngClass]="{'firstChip':index==0}">
                                                                <span class="mat-val" container="body" ngbTooltip="{{value}}" *ngIf="value">{{value}}</span>
                                                                <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                            </mat-chip>
                                                            <span>OR</span>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'number')">
                                                        <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                            <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag,index)" [ngClass]="{'firstChip':index==0}">
                                                                <span class="mat-val" *ngIf="value && value.length && checkIsArray(value)">
                                  <span *ngFor="let num of value; let numIndex = index"  container="body" ngbTooltip="{{num}}">{{num}}<span *ngIf="!numIndex"> - </span></span>
                                                                </span>
                                                                <span class="mat-val" *ngIf="value && !checkIsArray(value)">
                                  <span >{{value}}</span>
                                                                </span>
                                                                <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                            </mat-chip>
                                                            <span>OR</span>
                                                        </ng-container>
                                                    </ng-container>
                                                    <!-- <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'date') && (ruleObj.operator !== 'between')">
                                                        <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                            <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag,index)">
                                                                <span class="mat-val" *ngIf="value">{{value | dateFormatPipe: 'DD MMM YYYY'}}</span>
                                                                <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                            </mat-chip>
                                                            <span>OR</span>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'date') && (ruleObj.operator === 'between')">
                                                        <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                            <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag,index)">
                                                                <span class="mat-val" *ngIf="value && value.length">
                                <span *ngFor="let date of value; let dateIndex = index">
                                  {{date | dateFormatPipe: 'DD MMM YYYY'}} <span *ngIf="!dateIndex"> - </span>
                                                                </span>
                                                                </span>
                                                                <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                            </mat-chip>
                                                            <span>OR</span>
                                                        </ng-container>
                                                    </ng-container> -->
                                                    <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'date')">
                                                        <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                            <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag,index)" [ngClass]="{'firstChip':index==0}">
                                                                <span class="mat-val" *ngIf="value && value.length && checkIsArray(value)">
                                                                    <span *ngFor="let date of value; let dateIndex = index"  container="body" ngbTooltip="{{date | dateFormatPipe: 'DD MMM YYYY'}}">
                                                                        {{date | dateFormatPipe: 'DD MMM YYYY'}} <span *ngIf="!dateIndex"> - </span>
                                                                    </span>
                                                                </span>
                                                                <span class="mat-val" *ngIf="value  && !checkIsArray(value)"  container="body" ngbTooltip="{{value | dateFormatPipe: 'DD MMM YYYY'}}">{{value | dateFormatPipe: 'DD MMM
                                                                    YYYY'}}</span>
                                                                <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                            </mat-chip>
                                                            <span>OR</span>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="(ruleObj.dataType != 'date') && (ruleObj.dataType != 'number')">
                                                        <input placeholder="Type Keyword and Enter" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addRules($event, ruleObj, i)" suggestedInput />
                                                    </ng-container>

                                                    <ng-container *ngIf="ruleObj.dataType == 'date'">
                                                        <ng-container *ngIf="ruleObj.operator === 'between'">
                                                            <span class="select_data_placeholder w-120 py-1" (click)="openDateTimePicker(ruleObj,ruleIndex)">Select Range </span>
                                                            <input class="dateRangePicker d-none" id="rangePicker_{{ruleIndex}}" ngxDaterangepickerMd #dateRangePicker placeholder="Select range" showCancel="true" [locale]="{format: 'DD/MM/YYYY hh:mm', displayFormat: 'DD MMM YYYY'}" [(ngModel)]="ruleObj.dateValue"
                                                                (datesUpdated)="onDatesUpdated($event,ruleObj)" />
                                                        </ng-container>
                                                        <ng-container *ngIf="ruleObj.operator !== 'between'">
                                                            <span (click)="openDateTimePicker(ruleObj,ruleIndex)" class="select_data_placeholder py-1">Select Date</span>
                                                            <input class="singleDatePicker d-none" id="datePicker_{{ruleIndex}}" [singleDatePicker]="true" ngxDaterangepickerMd #datePicker *ngIf="ruleObj.operator !== 'between'" placeholder="Select Date" showCancel="false" [locale]="{format: 'DD/MM/YYYY hh:mm', displayFormat: 'DD MMM YYYY'}"
                                                                [(ngModel)]="ruleObj.dateValue" (datesUpdated)="onDatesUpdated($event,ruleObj)" />
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container *ngIf="ruleObj.dataType == 'number'">
                                                        <input [placeholder]="ruleObj.operator == 'between' ? 'Type Range' : 'Type Keyword and Enter'" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addRules($event, ruleObj, i)"  />
                                                    </ng-container>
                                                </mat-chip-list>
                                            </mat-form-field>
                                            <ng-container *ngIf="ruleObj.dataType == 'number'  && ruleObj.operator == 'between'">
                                                <div class="info-number-placeholder"><img src="assets/icons/business-rules/info.svg" class="mr-1">Range separated by ‘ - ‘</div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="delete-rule" (click)="removeRule(ruleIndex)">
                                <img src="assets/icons/modal-close.svg" />
                            </div>
                        </div>
                        <div class="position-absolute" style="left: -33px !important;color:#9AA0A6;" *ngIf="rulesArrayforAddEdit && rulesArrayforAddEdit.length-1 !==ruleIndex">AND</div>
                    </ng-container>
                    <ng-container *ngIf="!rulesArrayforAddEdit.length">
                        <div class="row m-0 col-12 info-warning-container">
                            <div class="col-10 pl-0 w-text"><img src="assets/icons/business-rules/warning-info.svg">Defining a rule without condition can have unexpected impact on search relevance.</div>
                            <div class="know-more col-2 pl-0 text-right">Know More</div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="rules-block row">
                <div class="condition-add-text col-3 pl-0 pr-4">
                    <div class="title">{{ "businessRules.outcome_caps_small" | translate }}</div>
                    <div class="desc_text">{{ "businessRules.condition_desc_outcome" | translate }}</div>
                    <div class="add-condition" (click)="addNewOutcome()"><img src="assets/icons/plus-blue.svg" />Add Outcome</div>
                </div>
                <div class="input-conditions col-9">
                    <ng-container *ngFor="let outcomeObj of outcomeArrayforAddEdit; let index = index">
                        <div class="d-flex align-items-center w-100 mb-13 position-relative">
                            <div class="input-bg-sec">
                                <div class="row m-0 action-scontent-sec">
                                    <div class="col-2 p-0 title">Action</div>
                                    <div class="col-10 row m-0 align-items-center right-side-sec pr-0">
                                        <div class="kr-sg-dropdowns col-4 pl-0">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" (click)="currentEditInex = null">
                          {{ "businessRules." + outcomeObj.outcomeType | translate }}
                        </button>
                                                <ul class="dropdown-menu content-menu">
                                                    <li *ngFor="let outcomeType of ruleOptions.actions" (click)="outcomeSclection(outcomeObj,outcomeType,'outcomeType')" [ngClass]="{'active':outcomeObj.outcomeType===outcomeType}">
                                                        <a>{{"businessRules." + outcomeType | translate}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="outcomeObj.outcomeType === 'boost' || outcomeObj.outcomeType === 'lower'">
                                            <div class="col-4 pr-0 business-rules-outcome-slider">
                                                <app-range-slider [customClass]="'weightsSlider'" [allData]="outcomeObj.sliderObj" [addTextToTooltip]="'X'" (valueEvent)="valueEvent($event, outcomeObj)"></app-range-slider>
                                            </div>
                                            <div class="col-4 pr-0 text-right">
                                                <span class="result-slider-title" *ngIf="outcomeObj.outcomeType === 'boost'">{{"businessRules.boostResults" | translate }}</span>
                                                <span class="result-slider-title" *ngIf="outcomeObj.outcomeType === 'lower'">{{"businessRules.lowerResults" | translate }}</span>
                                                <span class="slider-count">{{ outcomeObj.scale }}x</span>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row m-0 response-content-sec">
                                    <div class="col-2 p-0 title">Response</div>
                                    <div class="col-10 row m-0 align-items-center right-side-sec pr-0" [ngClass]="{activeDrop: currentEditInex === index}">
                                        <div class="kr-sg-dropdowns col-4 pl-0" ngbDropdown (click)="currentEditInex = index">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>
                          {{outcomeObj.fieldName? outcomeObj.fieldName : "Choose field"}}
                        </button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu style="overflow-y: hidden;">
                                                    
                                                    <li class="search-box">
                                                        <input type="text" (keydown)="$event.stopPropagation()" (keyup)="getFieldAutoComplete($event,outcomeObj)" placeholder="Search" class="seach-input" />
                                                    </li>
                                                    <perfect-scrollbar class="empty-scroll" style="max-height: 189px !important;">
                                                    <ng-container *ngIf="fieldAutoSuggestion && fieldAutoSuggestion.length">
                                                        <li ngbDropdownItem *ngFor="let suggestion of fieldAutoSuggestion" (click)="selectField(suggestion, outcomeObj)" [ngClass]="{'active':outcomeObj.fieldName===suggestion.fieldName}">{{ suggestion.fieldName }}</li>
                                                    </ng-container>
                                                    </perfect-scrollbar>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="kr-sg-dropdowns col-4 pl-0 disabled" ngbDropdown (click)="currentEditInex = index">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle [disabled]="true">
                          {{outcomeObj.fieldDataType? (("businessRules."+outcomeObj.fieldDataType) | translate): "String"}}
                        </button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="kr-sg-dropdowns pl-0 col-4" ngbDropdown (click)="currentEditInex = index">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>{{"businessRules." + outcomeObj.outcomeOperator | translate}}
                        </button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                                    <li ngbDropdownItem *ngFor="let operator of conditions.string" (click)="outcomeSclection(outcomeObj,operator,'outcomeOperator')" [ngClass]="{'active':outcomeObj.outcomeOperator===operator}">{{"businessRules." + operator | translate}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 response-content-sec">
                                    <div class="col-2 p-0 title"></div>
                                    <div class="col-10 row m-0 align-items-center right-side-sec pr-0">
                                        <div class="kr-sg-dropdowns pl-0 col-4" ngbDropdown (click)="currentEditInex = index">
                                            <div class="dropdown dropdown-open">
                                                <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>{{"businessRules." + outcomeObj.outcomeValueType | translate}}
                        </button>
                                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                                    <li ngbDropdownItem (click)="outcomeSclection(outcomeObj,'static','outcomeValueType')" [ngClass]="{'active':outcomeObj.outcomeValueType==='static'}">{{"businessRules.static" | translate}}</li>
                                                    <li ngbDropdownItem (click)="outcomeSclection(outcomeObj,'dynamic','outcomeValueType')" [ngClass]="{'active':outcomeObj.outcomeValueType==='dynamic'}">{{"businessRules.dynamic" | translate}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="chip-sys-data col-8 pl-0">
                                            <mat-form-field class="example-chip-list" [floatLabel]="'never'">
                                                <mat-chip-list #chipList [attr.aria-label]="'tag selection'">
                                                    <ng-container *ngFor="let value of outcomeObj.outcomeValue; let valueindex = index">
                                                        <mat-chip [selectable]="selectable" (removed)="removeTag(outcomeObj.outcomeValue, tag,valueindex)" [ngClass]="{'firstChip':valueindex==0}"><span class="mat-val" *ngIf="value" container="body" ngbTooltip="{{value}}">{{value}}</span>
                                                            <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                        </mat-chip>
                                                        <span>OR</span>
                                                    </ng-container>
                                                    <input #contextSuggestedImput [placeholder]="'Type Keyword and Enter'" (click)='buildCurrentContextSuggetions(outcomeObj)' [(ngModel)]="outcomeObj.newValue" (keyup)='buildCurrentContextSuggetions(outcomeObj)' [matChipInputFor]="chipList" [matAutocomplete]="auto"
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addOutcome($event, outcomeObj, i)" />
                                                </mat-chip-list>
                                                <mat-autocomplete #auto="matAutocomplete" class="mat_autofocus_dropdown" (optionSelected)="selected($event,outcomeObj,index)">
                                                    <mat-option *ngFor="let suggesion of currentSugg">
                                                        {{suggesion}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="delete-rule" (click)="removeOutcome(index)">
                                <img src="assets/icons/modal-close.svg" />
                            </div>
                        </div>
                        <div class=" position-absolute" style="left: -33px !important; color:#9AA0A6" *ngIf="outcomeArrayforAddEdit && outcomeArrayforAddEdit.length-1 !==index">AND</div>
                    </ng-container>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
    <div class="modal-footer">
        <button class="kr-sg-button-primary btn_lg" *ngIf="addEditRuleObj._id"  (click)="updateRule(addEditRuleObj)"> Save</button>
        <button class="kr-sg-button-primary btn_lg" *ngIf="!addEditRuleObj._id"  (click)="createRule()">ADD</button>
        <button class="kr-sg-button-secondary btn_lg" (click)="closeModalPopup()">{{addEditRuleObj._id?"Cancel":"Back"}}</button>
    </div>
</kr-modal>

<app-upgrade-plan #plans></app-upgrade-plan>