<div class="contentContainer">
    <div class="mainLoadingSpinner" *ngIf="loadingContent" >
      <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
      <span class="please-wait-message">{{'please_wait'| translate}}</span>
    </div>
    <div class="header-sec-stopwords">
      <div class="title">{{'stopWords.stop_words'| translate}}</div>
      <div class="toggle_switch">
        <label class="kr-sg-toggle" *ngIf="(stopwords && stopwords.length)">                                       
          <input type="checkbox" checked  (change)="enableStopWords($event)" [(ngModel)]="enabled">
          <div class="slider" ><span class="enabled">{{'stopWords.enable_stop_word_removal'| translate}}</span><span class="disabled">{{'stopWords.disable_stop_word_removal'| translate}}</span></div>
        </label>
      </div>     
    </div>    
    <div *ngIf="loadingContent1" class="stop-words-wrapper">
      <app-useronboarding-journey [componentType]='componentType'></app-useronboarding-journey>
      <div class="m-0 row addStopWordsBlock" *ngIf="((stopwords && stopwords.length) && !loadingContent) || createFromScratch">
        <div class="label_text col-12 p-0">{{'stopWords.add_stop_word'| translate}}</div>
        <div class="kr-sg-input-text">
            <input [class.err-block]="((!newStopWord || !newStopWord.length) && submitted)" type="text" autocomplete="off" (keyup)="validate($event)" placeholder="Multiple words can be added with comma separation" class="input-text" [(ngModel)]="newStopWord">
            <img *ngIf="(!newStopWord || !newStopWord.length) && submitted" id="searchTermWarning" src="assets/icons/warning_escalation.svg" style="top: 29%; position: absolute; right: 1.5%; display: block;" height="12" width="12" />
            <div class="error-msg" *ngIf="validation.duplicate"><img class="pr-1" src="assets/icons/warning_escalation.svg">{{'stopWords.stop_word_already_added'| translate}}</div>
            <div class="error-msg" *ngIf="validation.spaceFound"><img class="pr-1" src="assets/icons/warning_escalation.svg">{{'stopWords.stop_word_should_not_have_space_in_between'| translate}}</div>
        </div>
        <div class="addStopWordsButton">
            <button class="kr-sg-button-primary btn_lg" (click)="addStopWord()">{{'stopWords.add'| translate}}</button> <!-- [disabled]="validation.duplicate || validation.spaceFound || !newStopWord" -->
        </div>
     </div> 

     <div class="empty-stopwords" *ngIf="showAddStopWordsContainer && !(stopwords && stopwords.length) && !loadingContent && !createFromScratch">
      <div class="main_heading">{{'stopWords.lets_start_by_adding_stop_words'| translate}}</div>
      <div class="desc_info">{{'stopWords.select_on_how_would_you_like_to_add_stop_words'| translate}}</div>
      <div class="radio-sec">
        <div class="radio_block">            
          <div class="kr-sg-radiobutton">
            <input id="defaultStopWords" maxlength="60" value="default" name="defaultStopWords" [(ngModel)]="stopWordsIntiType" class="radio-custom" type="radio" checked>
            <label for="defaultStopWords" class="radio-custom-label">
              <div class="label_heading">{{'stopWords.default_stop_words'| translate}}</div>
              <div class="lable_dec">{{'Eg. if, me, I, can, don’t, not, won’t, should, would, isn’t, may, am, etc...'| translate}}</div>
            </label>
          </div>
        </div>
        <div class="radio_block">
          <div class="kr-sg-radiobutton">
            <input id="customStopWords" value="scratch" name="customStopWords" [(ngModel)]="stopWordsIntiType" class="radio-custom" type="radio">
            <label for="customStopWords" class="radio-custom-label">
              <div class="label_heading">{{'stopWords.start_from_scratch'| translate}}</div>
              <div class="lable_dec">{{'stopWords.add_custom_stop_words' | translate}}</div>
            </label>
          </div> 
        </div>
      </div>
      <div class="text-center">
        <button class="kr-sg-button-primary btn_lg" (click)="createInit()">{{'stopWords.Continue' | translate}}</button>
      </div>
      </div>  
      <ng-container *ngIf="!(stopwords && stopwords.length) && !loadingContent && !createFromScratch">
        <div class="empty_screen_data">
          <perfect-scrollbar class="scoll-empty-screen" *ngIf="!showAddStopWordsContainer">
            <div class="empty-landing-screen">
              <div class="img-block"*ngIf="!emptyItems"><img class="action_icon"  (load)="imageLoad()" src="assets/images/stopwords-empty.png"></div>
              <ng-container *ngIf="loadImageText">
              <div class="empty-title">You haven’t added any Stop words yet!</div>
              <div class="desc-text"> Stop words are a set of common words (such as the, a, to, all) that dilutes the importance of keywords in a search query. SearchAssist allows you to use either the default set of stop words or add a custom set as per your need.</div>
              <div class="kr-sg-dropdowns" ngbDropdown [container]="'body'">                                          
                <div class="dropdown dropdown-open">
                  <button class="kr-sg-button-primary btn_lg px-2"  (click)="showAddStopWordsContainer=true">Add Stop Words</button>                                            
                </div>                                    
              </div>
            </ng-container>   
              <ng-container *ngIf="noItems && emptySearchResults">
                  <div class="desc-text">Your Search Query doesn't match with any record.</div>
              </ng-container>
            </div>
          </perfect-scrollbar>          
        </div>
      </ng-container>               
      <ng-container>
      <div class="listingHeader row m-0" *ngIf="stopwords && stopwords.length">
        <div class="col-5 p-0" >
          <div class="desc-info-text" *ngIf="searchStopwords">{{'Showing ' + getActiveSearch()  +' results for ‘'+ searchStopwords  +'’'}}</div>
        </div>         
        <div class="col-7 p-0 d-flex align-items-center justify-content-end"> 
          <div class="kr-sg-input-search m-0"  [ngClass]="{'d-none': !showSearch}">                               
            <input type="text" maxlength="60" placeholder="Search" id="inputSearch" class="input-search"  [ngClass]="{'pl-33':!searchStopwords,'pl-2':searchStopwords}" autocomplete="off" [(ngModel)]="searchStopwords"  maxlength="50" (mouseover)="searchImgSrc = (searchFocusIn ? 'assets/icons/search_gray.svg' :'assets/icons/search_gray_dark.svg')"
            (mouseout)="searchFocusIn=false;searchImgSrc = 'assets/icons/search_gray.svg'" (focus)="searchFocusIn=true;searchImgSrc = 'assets/icons/search_gray.svg'">
        <img [src]="searchImgSrc" class="search-icon" *ngIf="!searchStopwords">
        <img class="close-icon" src="assets/icons/close_icon.svg" [ngClass]="{'pr-22':searchStopwords}" (mouseover)="activeClose=true" (mouseout)="activeClose=false"  (click)="focusoutSearch()"  placement="top-center" container='body' ngbTooltip="Cancel" tooltipClass="ngb_tooltip_custom_class sampleJson">
        </div> 
          <div class="searchBlock" (click)="showSearch=!showSearch;focusinSearch('inputSearch')" *ngIf="(stopwords && stopwords.length)">
            <span [ngClass]="{'d-none': showSearch}" class="mr-3" id="btn_toggle_search_structured_data" ><img src="assets/icons/search.svg" [ngClass]="{'d-none': showSearch}">{{'search' | translate}}</span>
        </div>
          <div class="kr-sg-dropdowns w-auto exportdropdown" ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
            <div class="dropdown dropdown-open">
                <button class="dropdown-toggle dropdown-input p-0 border-0" ngbDropdownToggle><img src="assets/icons/elipse.svg"></button>                                            
                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                  <li class="restoreDefaults" (click)="restoreStopWords($event)">
                    <img class="label-icon d-none" src="assets/icons/return_black.svg"><span class="label_txt">{{'stopWords.reset_to_default' | translate}}</span>              
                  </li> 
                  <li (click)='deleteAllStopWords(event)' >Delete All</li>                         
                </ul>
            </div>
        </div>
         
        </div>                     
      </div>
      <perfect-scrollbar class="table-scroll-perfect-synonyms">
        <ng-container *ngIf="!loadingWords">
          <div class="stopWordsListing"  *ngIf="(stopwords && stopwords.length) && !loadingContent">
            <span class="wordTag" *ngFor="let word of stopwords | filter: [searchStopwords] ; let index = index">
              <span class="word stopwordBlock" >{{word}}</span>
              <span class="deleteTag"><img (click)="deleteInfividualStopWords(index,$event,word,stopwords)" src="assets/icons/clode_stop_word.svg"></span>
            </span>
            <div class="divBlockEmptylastChild text-center">         
              <div class="desc">{{'stopWords.no_search_results_found' | translate}}</div>
            </div>
          </div>
        </ng-container>
      </perfect-scrollbar> 
      </ng-container>
    </div>
</div>