<!-- New Layouts -->

<div class="channels-main-container">
    <div class="header-sec-breadcums col-12 row m-0 " *ngIf="slider==0">
        <div class="col-4 lef-sec p-0"><span class="title">Channels</span></div>
        <div class="col-8 right-sec p-0">
            <div class="kr-sg-input-search m-0" [ngClass]="{'active': showSearch}">
                <input type="text" placeholder="Search" id='searchInput' autocomplete="off" class="input-search"
                    placeholder="Search" [(ngModel)]="searchchannel">
            </div>
            <div class="seach-block" (click)="toggleSearch()"><img *ngIf="!showSearch"
                    src="assets/icons/search.svg"><img *ngIf="showSearch" src="assets/images/close.svg">Search
            </div>
            <!-- <div class="seach-block"><img src="assets/icons/search.svg">{{'search' | translate}}
            </div> -->
            <div class="clock"><img src="assets/icons/clock.svg"></div>
        </div>
    </div>
    <div class="header-sec row m-0 col-12" *ngIf="slider!==0">
        <div class="bread-cum-sec col-12 p-0 d-flex align-items-center">
            <div class="bread-name">Channels</div>
            <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMCAYAAABBV8wuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAClSURBVHgBbU+xDcIwEPQ7ibIGI8AIGQNREJepYAMYAQoUkSC9U9iUFhNkFNgAWoTsByNhKQ5XnPR3uv971khtasQJi8At2X0CeR+b4KlGVSYAq4yehRDi8U14qsRCEtHlBblh/3BEtW2kwrBqaGrJOVz5qA2wu3NuGGi786ZBvRuJrdT9b049nTq9dETlp+4s/HFANc0AjCUoKjG/hVspg3UserwBA09CgWDEywYAAAAASUVORK5CYII=">
            <div class="bread-name active-name">Web/Mobile Client</div>
            <!-- <img src="assets/icons/viewinstruction.svg">
         <div class="bread-name active-name1"  *ngIf="existingCredential">View Instructions</div> -->
        </div>
    </div>

    <div class="body-sec" *ngIf="slider==0">
        <div class="info-data">
            <div class="img-block"><img src="assets/icons/Info_gray.svg"></div>
            <div class="info-title">Configure destinations for your bot to communicate with one or more of the channel
                selection below. Each channel may have a unique process to enable it but the instructions are provided.
            </div>
        </div>
        <div class="card_data row m-0">
            <div class="card-content active" *ngFor=" let channel of channels">
                <div class="dropdown kr-sg-overflow-menu d-none">
                    <div class="dropdown-toggle" id="menu1" data-toggle="dropdown"><img class="action_icon"
                            src="assets/icons/elipse-black.svg"></div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><a>Disable Configutation</a></li>
                        <li><a>Delete Configuration</a></li>
                    </ul>
                </div>
                <div class="main" (click)=" proceedChannel(channel)">
                    <div class="img-block"><img src="{{channel.icon}}"></div>
                    <div class="main-title">{{channel.name}}</div>
                    <div class="configuration" *ngIf="channel.enable">CONFIGURED</div>
                </div>

            </div>

        </div>
    </div>

    <perfect-scrollbar class="stepjourney-scroll">
        <div class="body-sec">
            <div class="progress_indiactors row" *ngIf="slider!==0 && !existingCredential">
                <div class="progress_bar col-4 text-center active-bar step">
                    <div class="circle"></div>
                    <div class="title ">Instructions</div>
                </div>

                <div class="progress_bar col-4 p-0 text-center  step" [ngClass]="{'active-bar' : slider>1}">
                    <div class="circle"></div>
                    <div class="title">Select Credential</div>

                </div>
                <div class="progress_bar col-4 p-0 text-center step" [ngClass]="{'active-bar' : slider>2}">
                    <div class="circle"></div>
                    <div class="title">Generate Token</div>
                </div>
            </div>
            <div class="row card-steps" *ngIf="slider==1">
                <div class="card_list">
                    <div class="step-title">STEP 1</div>
                    <div class="img-block"><img src="assets/images/icons/sdkdownload.svg"></div>
                    <div class="title-main">Download FindlyKit SDK</div>
                    <div class="desc-text">Download the Kore.ai FindlyKit SDK from our GitHub Repo</div>
                </div>
                <div class="card_list">
                    <div class="step-title">STEP 2</div>
                    <div class="img-block"><img src="assets/images/icons/callback.svg"></div>
                    <div class="title-main">Register Credential</div>
                    <div class="desc-text">Create an credential or register an existing credential from below.</div>
                </div>
                <div class="card_list">
                    <div class="step-title">STEP 3</div>
                    <div class="img-block"><img src="assets/images/icons/register-credentials.svg"></div>
                    <div class="title-main">Define Callback URL</div>
                    <div class="desc-text">Define the callback URL of your credential to be invoked for FindlyKit SDK
                        events.</div>
                </div>
                <div class="card_list">
                    <div class="step-title">STEP 4</div>
                    <div class="img-block"><img src="assets/images/icons/selectevent.svg"></div>
                    <div class="title-main pl-5">Select Events</div>
                    <div class="desc-text">Select the required events and complete the setup process.</div>
                </div>
            </div>
            <div class="select_credentials_sec" *ngIf="slider==2">
                <div class="main-heading">Seems like there are no credentails created</div>
                <div class="desc-text">Create a credential to associate it with the channel</div>
                <div class="kr-sg-input-text">
                    <div class="label-text">Credential Name</div>
                    <input type="text" placeholder="Type Name" class="input-text" [(ngModel)]="credntial.name" required>


                </div>
                <div class="kr-sg-checkbox d-block p-0">
                    <input id="checkbox-1" class="checkbox-custom" type="checkbox" [(ngModel)]="credntial.anonymus"
                        checked>
                    <label for="checkbox-1" class="checkbox-custom-label">Allow anonymous users to chat with the
                        bot</label>
                </div>
                <div class="kr-sg-checkbox d-block p-0">
                    <input id="checkbox-2" class="checkbox-custom" type="checkbox" [(ngModel)]="credntial.register"
                        checked>
                    <label for="checkbox-2" class="checkbox-custom-label">Auto register new users on Kore.ai Bots
                        Platform</label>
                </div>
                <div class="kr-sg-dropdowns">
                    <div class="label-text">JWT Signing Algorithm Used For Client App Authentication</div>
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" required>
                            {{ credntial.awt ? credntial.awt: 'Select Signing Algorithm'}}</button>
                        <ul class="dropdown-menu content-menu">
                            <li (click)="jwtAuth('RS256')"><a>RS256</a></li>
                            <li (click)="jwtAuth('HS256')"><a>HS256</a></li>
                        </ul>
                    </div>
                </div>
                <label class="kr-sg-toggle">
                    <input type="checkbox" checked>
                    <div class="slider"><span class="enabled">Push Notifications Enabled</span><span
                            class="disabled">Push Notifications Enabled</span></div>
                </label>
            </div>

            <div class="generator-token-sec" *ngIf="slider==3" [ngClass]="{'m-0': existingCredential}">
                <div class=" mb-3" *ngIf="existingCredential">

                    <div class="sel-title">Select Credential</div>
                    <div class="kr-sg-dropdowns credentials-dropdown">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span
                                    class="select-placeholder">{{listData?listData.appName:'Select or Add Credential'}}</span></button>
                            <ul class="dropdown-menu content-menu">
                                <li *ngFor="let channel of channnelConguired.apps" (click)="selctedChannel(channel)">
                                    <a>{{channel.appName}}</a>
                                </li>
                                <li class="add-custom" (click)="newCredential()"><a>Add New Credential</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-data">
                    <div class="input-data">
                        <div class="label-text">App Name</div>
                        <div class="input-box mb-4">
                            <div class="kr-sg-input-text">
                                <input type="text" class="input-text" [value]="selectedApp.name" readonly>
                            </div>
                            <div class="copy-btn" (click)="copy(selectedApp.name,clipAppName)"><img src="assets/images/icons/copy.svg">Copy</div>
                        </div>
                    </div>
                    <div class="input-data">
                        <div class="label-text">App ID</div>
                        <div class="input-box mb-4">
                            <div class="kr-sg-input-text">
                                <input type="text" class="input-text" [value]="selectedApp._id" readonly>
                            </div>
                            <div class="copy-btn" (click)="copy(selectedApp._id,clipAppID)"><img
                                    src="assets/images/icons/copy.svg">Copy</div>
                        </div>
                    </div>
                    <div class="input-data">
                        <div class="label-text">Client ID</div>
                        <div class="input-box mb-4">
                            <div class="kr-sg-input-text">
                                <input type="text" class="input-text" [value]="listData.clientId" readonly>
                            </div>
                            <div class="copy-btn" (click)="copy(listData.clientId,clipClientId)"><img
                                    src="assets/images/icons/copy.svg">Copy</div>
                        </div>
                    </div>
                    <div class="input-data">
                        <div class="label-text">Client Secret ID</div>
                        <div class="input-box mb-4">
                            <div class="kr-sg-input-text">
                                <input type="password"  class="input-text"
                                    [value]="listData.clientSecret" readonly>
                                <img src="assets/images/icons/eye.svg" class="eye" type="eye" (click)="showPasword()">
                            </div>
                            <div class="copy-btn" (click)="copy(listData.clientSecret,clipclientSecret)"><img
                                    src="assets/images/icons/copy.svg">Copy</div>
                        </div>
                    </div>
                    <div class="input-data">
                        <div class="label-text">Index ID</div>
                        <div class="input-box mb-4">
                            <div class="kr-sg-input-text">
                                <input type="text" class="input-text" [value]="serachIndexId" readonly>
                            </div>
                            <div class="copy-btn" (click)="copy(serachIndexId,clipSerachIndexId)"><img
                                    src="assets/images/icons/copy.svg">Copy</div>
                        </div>
                    </div>

                    <div class="border-line"></div>
                    <div class="accordion-sec">View JSON Web Encryption Public Key <img
                            src="assets/images/icons/carrot_up.svg"></div>
                </div>
                <div class="group-radiobutton">
                    <div class="heading-title">Allow Alert Task Setup</div>
                    <div class="kr-sg-radiobutton d-block">
                        <input id="radio-32" name="radio" class="radio-custom" type="radio" checked>
                        <label for="radio-32" class="radio-custom-label">Yes, let users setup alert tasks using the web
                            client</label>
                    </div>
                    <div class="kr-sg-radiobutton d-block">
                        <input id="radio-33" name="radio" class="radio-custom" type="radio">
                        <label for="radio-33" class="radio-custom-label">No, do not list alert tasks or allow users to
                            setup alert tasks using the web client</label>
                    </div>
                </div>
                <label class="kr-sg-toggle">
                    <input type="checkbox" checked>
                    <div class="slider"><span class="enabled">Channel Enabled</span><span class="disabled">Channel
                            Enabled</span></div>
                </label>
            </div>
        </div>
    </perfect-scrollbar>
    <div class="footer-sec">
        <div class="btn-sec">
            <div>
                <button class="kr-sg-button-secondary btn_lg" (click)="cancel()">Cancel</button>
            </div>
            <div>
                <button class="kr-sg-button-secondary btn_lg mr-3" *ngIf=!existingCredential
                    (click)="back()">Back</button>
                <button class="kr-sg-button-primary btn_lg" (click)="continue()" *ngIf="slider!==3"
                    [disabled]="(!(credntial.name) || !(credntial.awt)) && (slider==2)"> Continue</button>
                <button class="kr-sg-button-primary btn_lg" *ngIf="slider==3"
                    (click)="configureCredential()">Save</button>

            </div>
        </div>
    </div>
</div>
<kr-modal modalType="center" #addCredential modalClass="modal_popups_ view-query-modal">
    <div class="modal-header">
        <span> Add Credential</span>
        <div class="close_icon" (click)="closeModalPopup()"><img src="assets/icons/modal-close.svg"></div>
    </div>
    <!-- <perfect-scrollbar class="perfect-scroll-modal-body"> -->
    <div class="modal-body">
        <div class="kr-sg-input-text mb-4">
            <div class="label-text">Credential Name</div>
            <input type="text" autocomplete="off" name="credname" placeholder="Enter Name" [(ngModel)]="credntial.name"
                class="input-text">
        </div>
        <div class="kr-sg-checkbox d-block p-0">
            <input id="checkbox_1" class="checkbox-custom" type="checkbox" [(ngModel)]="credntial.anonymus">
            <label for="checkbox_1" class="checkbox-custom-label">Allow anonymous users to chat with bot</label>
        </div>
        <div class="kr-sg-checkbox d-block p-0">
            <input id="checkbox_2" class="checkbox-custom" type="checkbox" [(ngModel)]="credntial.register">
            <label for="checkbox_2" class="checkbox-custom-label">Auto register new user Kore.ai Bots Platform</label>
        </div>
        <hr>

        <div class="label-text">JWT Signing Algorithm Used For Client App Authentication</div>
        <div class="kr-sg-dropdowns">
            <div class="dropdown dropdown-open">
                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span class="select-placeholder">
                        {{credntial.awt}}</span> </button>
                <ul class="dropdown-menu content-menu">
                    <li (click)="jwtAuth('RS256')"><a>RS256</a></li>
                    <li (click)="jwtAuth('HS256')"><a>HS256</a></li>
                </ul>
            </div>
        </div>
        <div class="switch-toggle mt-4">
            <label class="kr-sg-toggle">
                <input type="checkbox" [(ngModel)]="credntial.enabled">
                <div class="slider"><span class="enabled">Push Notifications Enabled</span><span class="disabled">Push
                        Notifications Enabled</span></div>
            </label>
        </div>


    </div>
    <!-- </perfect-scrollbar> -->
    <div class="modal-footer">
        <button class="kr-sg-button-primary btn_lg" (click)="createCredential()">Add</button>
        <button class="kr-sg-button-secondary btn_lg" (click)="closeModalPopup()">Cancel</button>
    </div>
</kr-modal>

<!-- Instruction slider -->
<div class="instructions-slide d-none ">
    <div class="header-sec">
        <div class="title">Instructions</div>
        <div class="close-link"><img src="assets/images/close.svg"></div>
    </div>
    <div class="instructions-body">
        <div class="steps-inst">
            <div class="title">STEP 1</div>
            <div class="content-sec">
                <div class="img-block"><img src="assets/images/icons/sdkdownload.svg"></div>
                <div class="titles-data">
                    <div class="primary-title">Download FindlyKit SDK</div>
                    <div class="secondary-title">Download the Kore.ai FindlyKit SDK from our GitHub Repo</div>
                </div>
            </div>
        </div>
        <div class="steps-inst">
            <div class="title">STEP 2</div>
            <div class="content-sec">
                <div class="img-block"><img src="assets/images/icons/register-credentials.svg"></div>
                <div class="titles-data">
                    <div class="primary-title">Register Credential</div>
                    <div class="secondary-title">Create an credential or register an existing credential from below.
                    </div>
                </div>
            </div>
        </div>
        <div class="steps-inst">
            <div class="title">STEP 3</div>
            <div class="content-sec">
                <div class="img-block"><img src="assets/images/icons/selectevent.svg"></div>
                <div class="titles-data">
                    <div class="primary-title">Define Callback URL</div>
                    <div class="secondary-title">Define the callback URL of your credential to be invoked for FindlyKit
                        SDK events.</div>
                </div>
            </div>
        </div>
        <div class="steps-inst">
            <div class="title">STEP 4</div>
            <div class="content-sec">
                <div class="img-block"><img src="assets/images/icons/callback.svg"></div>
                <div class="titles-data">
                    <div class="primary-title">Select Events</div>
                    <div class="secondary-title">Select the required events and complete the setup process. </div>
                </div>
            </div>
        </div>
    </div>
</div>