<div class="small-talk-body-data">
    <div class="title-heading">{{"genaralSettings_small_talk" | translate}}</div>
    <div class="title-desc-text">{{"genaralSettings_small_talk" | translate}}</div>
    <label class="kr-sg-toggle">                                       
        <input type="checkbox" [(ngModel)]="enable">
        <div class="slider"><span  (click)="enableST(false)" class="enabled" >{{"genaralSettings_enabled" | translate}}</span>
            <span   (click)="enableST(true)" class="disabled">{{"genaralSettings_disabled" | translate}}</span>
        </div>
    </label>
</div>
