@import './scss/variables/variables.scss';
::ng-deep.krFindlyAppComponent{
    .toShowAppHeader{
        display: none;
    }
    .appContent{
        padding-right: 0;
        padding-top: 0;
        padding-left: 0px;
    }
    .autoSearchTools{
        display: none;
    }
    &.appSelected{
        .toShowAppHeader{
            display: block !important;
        }
        .appContent{
            padding-left: 245px;
            display: block;
            padding-right: 0;
            padding-top: 61px;
        }
        .autoSearchTools{
            display: list-item;
        }
    }
}
// app-content{
// &.container-fluid{
// 	@extend %noPadding;
// }
// }