@import './scss/variables/variables.scss';
::ng-deep.krFindlyAppComponent{
    .toShowAppHeader{
        display: none;
    }
    .appContent{
        padding-right: 0;
        padding-top: 0;
        padding-left: 0px;
        .botContainer{
            .table-list-content{
                .kr-sg-data-table{
                    .table-action-header{
                    }

                    .table-content{
                        .table-scroll-perfect{
                            .content-body{
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
    .autoSearchTools{
        display: none;
    }
    .trainBlock{
        display: none;
    }
    .headerTabsContainer{
        display: none;
    }
    .myappname{
        display: none;
    }
    .no-landing-screen{
        display: none;
    }
    .app-dropdown{
        display: none;
    }
    .test-button{
        display: none;
    }
    .notification-dropdown{
        visibility: hidden;
    }
    .dropdown-toggle.dropdown-input.notification{
        pointer-events: none;
    }
    &.appSelected{
        .trainBlock{
            display: block !important;
        }
        .headerTabsContainer{
            display: block !important;
        }
        .myappname{
            display: block !important;
        }
        .toShowAppHeader{
            display: block !important;
        }
        .appContent{
            padding-left: 245px;
            display: block;
            padding-right: 0;
            padding-top: 61px;
        }
        .autoSearchTools{
            display: list-item;
        }
        .landing-screen{
            display: none;
        }
        .no-landing-screen{
            display: block !important;
        }
        .app-dropdown{
            display: block !important;
        }
        .test-button{
            display: block !important;
        }
        .notification-dropdown{
            visibility: visible !important;
        }
        .dropdown-toggle.dropdown-input.notification{
            pointer-events: unset;
        }
    }
}
// app-content{
// &.container-fluid{
// 	@extend %noPadding;
// }
// }