<!--choose plan popup-->
<kr-modal modalType="center" modalClass="modal_popups_ kr-full" tabindex="-1" #choosePlanModel>
    <perfect-scrollbar>
      <div class="modal-body">
        <div class="pricing-paln-change-modal">
          <div class="close-modal" (click)="closeSelectedPopup('choose_plan')">{{"sa_close" | translate}}<span class="close-span"><i class="si-close close-icon"></i></span></div>     
          <div class="pricing-main-header">
            <h2 class="pricing-header">{{"plan_straight_forward_pricing" | translate}}</h2>
            <p class="pricing-desc">{{"plan_simple_usage_based_pricing_info" | translate}}</p>
          </div>
          <div class="pricing-plan-tiles-block"> 
            <div class="plan-tile-block" *ngFor="let plan of filterPlansData;trackBy:trackByPlans" [ngClass]="{'plan-tile-active':(plan?.name===selectedPlan?.planName&&selectedPlan?.billing?.unit===plan?.billing?.unit)}">
              <div class="plan-type-block">
                <div class="plan-img"><img src="assets/images/pricing-plan/new-plan-pricing-img/pricing-plan-{{plan?.name|lowercase}}.svg" alt="pricing-plan-{{plan?.name|lowercase}}" title="pricing-plan-{{plan?.name|lowercase}}" class="plan-type-img" /></div>
                <div class="plan-details">
                  <div class="plan-type">
                    <div class="plan-name">{{plan?.name}}</div>
                  </div>
                  <div class="plan-cost-details">
                    <div class="plan-cost">{{plan?.planAmount&&('$'+plan?.planAmount)||("plans_custom_plans"|translate)}} <span class="plan-duration-type">{{(plan?.billing?.unit)&&("/ ")+("plan_"+plan?.billing?.unit+"_cap"|translate)||''}}</span></div>
                  </div>
                </div>
                <div class="plan-duration-switcher {{(![planNames.standard].includes(plan?.name|lowercase))&&'d-none'}}">
                  <div class="pricing-paln-types">
                    <div class="pricing-paln-tab" *ngFor="let type of ['month','year']" (click)="typeOfPlan(type)" [ngClass]="{'tab-active':type===termPlan}" placement="bottom" [ngbTooltip]="(type==='year')?'20% OFF Yearly':''" [container]='"body"' tooltipClass="metrics_tooltips metrics_tooltips_green m-0">{{"plan_"+type|translate}}</div>
                  </div>
                </div>
                <span class="plan-close" data-dismiss="modal"><i class="si-close"></i></span>
              </div>
              <div class="plan-tag-line">
                <div>{{plan?.description}}</div>
              </div>
              <div class="plan-upgrade-block">
                <div>
                  <button class="btn" [ngClass]="{'current-paln':(plan?.name===selectedPlan?.planName&&selectedPlan?.billing?.unit===plan?.billing?.unit)}" *ngIf="((plan?.name|lowercase)===planNames.standard)&&termPlan==='month'" (click)="((plan?.name===selectedPlan?.planName))?null:(selectedPlan?.planName==='Enterprise')?contactusModel('open',plan):[openSelectedPopup('payment_gateway'),orderConfirmData=plan]">{{((plan?.name===selectedPlan?.planName)?("invoices_current_plan"):(selectedPlan?.planName==='Enterprise')?'plan_talk_to_us':'plan_choose_plan')|translate}}</button>
                  <button class="btn" [ngClass]="{'current-paln':(plan?.name===selectedPlan?.planName&&selectedPlan?.billing?.unit===plan?.billing?.unit)}" *ngIf="((plan?.name|lowercase)===planNames.standard)&&termPlan==='year'" (click)="contactusModel('open',plan)">{{('plan_talk_to_us')|translate}}</button>
                  <button class="btn" [ngClass]="{'current-paln':plan?.name===selectedPlan?.planName}" *ngIf="[planNames.unlimited,planNames.enterprise].includes(plan?.name|lowercase)" (click)="plan?.name===selectedPlan?.planName?null:contactusModel('open',plan)" placement="left" [ngbTooltip]="(plan?.name!==selectedPlan?.planName)?('plan_contact_us_change'|translate):''" [container]='"body"' tooltipClass="metrics_tooltips m-0">{{((plan?.name===selectedPlan?.planName)?'invoices_current_plan':'plan_talk_to_us')|translate}}</button>
               </div>
              </div>
              <div class="plan-features-block">
                  <div class="plan-feature-desc" [ngClass]="{'font-weight-bold':[planNames.standard,planNames.free].includes(plan?.name|lowercase)}"><span class="icon-si"><i class="si-green-check"></i></span> {{ plan?.featureAccess?.searchQueries?.displayText}}</div>
                  <div class="plan-sub-features">
                    <div class="plan-sub-feature-hding color-green" *ngIf="[planNames.enterprise,planNames.unlimited].includes(plan?.name|lowercase)">{{"plan_everything" | translate}}<strong>{{"plan_standard"|translate}}</strong>{{"plan_plus" | translate}}</div>
                    <ng-container *ngFor="let feature of plan?.featureData">
                      <div class="plan-feature-desc" *ngIf="feature?.displayOnBanner"><span class="icon-si"><i class="si-green-check"></i></span> {{feature?.displayText}} </div>
                    </ng-container>
                    <div class="plan-sub-feature-hding color-black"><strong>{{"plan_support"|translate}}</strong></div>                    
                    <div class="plan-feature-desc {{(plan?.name|lowercase)!==planNames.standard&&'d-none'}}"><span class="icon-si"><i class="si-green-check"></i></span>{{plan?.name}} {{"plan_koreAi_support" | translate}}</div>
                    <div class="plan-feature-desc {{(plan?.name|lowercase)!==planNames.standard&&'d-none'}}" *ngFor="let koreAi of ['plan_koreAi_community','plan_koreAi_academay']" ><span class="icon-si"><i class="si-green-check"></i></span>{{koreAi | translate}}</div>
                    <div class="plan-feature-desc {{(plan?.name|lowercase)===planNames.standard&&'d-none'}}"><span class="icon-si"><i class="si-green-check"></i></span>{{plan?.name}} {{"plan_support_upgrade_option" | translate}}</div>
                  </div>
              </div>
            </div>
          </div>
  
          <!-- free trial plan banner first time start from here -->
          <div class="free-trial-plan-block" *ngIf="(selectedPlan?.planName|lowercase)===planNames.free">
            <div class="free-trial-banner">
              <img class="free-trial-plan-banner"  src="assets/images/pricing-plan/new-plan-pricing-img/free-trial-plan-banner.svg" alt="free-trial-plan-banner"/>
            </div>
            <div class="free-trial-banner-content">
              <div class="free-trial-banner-header">{{"plan_trail_heading"|translate}}</div>
              <div class="free-trial-banner-list">
                <ul class="free-trial-banner-ul">
                  <li class="free-trial-banner-ul-li" *ngFor="let trail of ['plan_index_profile','plan_data_retention','plan_active_app','plan_mandatory_attribution','plan_data_retention_post_expiry']">{{trail|translate}}</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- free trial plan banner first time ends here -->
  
          <!-- compare plan start from here -->
          <div class="compare-plans-section">
            <div class="pricing-main-header">
              <h2 class="pricing-header">{{"plan_compare_plans" | translate}}</h2>
              <p class="pricing-desc">{{"plan_compare_the_features_info" | translate}}</p>
            </div>
  
            <div class="compare-plan-tabs row">
              <div class="compare-plan-tab-name col-lg-3 offset-lg-3">{{"plan_standard" | translate}}</div>
              <div class="compare-plan-tab-name col-lg-3">{{"plan_enterprise" | translate}}</div>
            </div>
           <ng-container *ngFor="let feature of featureTypes">
            <div class="plan-table-block">
              <div class="plan-table-header">{{feature|uppercase}}</div>
              <div class="row plan-table-body border-btm pad-10-0" *ngFor="let plan of listPlanFeaturesData&&listPlanFeaturesData[0]" [ngClass]="{'d-none':feature!==(plan[1]?.featureType)}">
                <div class="col col-lg-3">
                  <div><span class="border-btm-dasshed" placement="right" [ngbTooltip]="plan[2]?.hoverText" [container]='"body"' tooltipClass="tooltip-global-">{{plan[1].desc}}</span></div>
                </div>
                <div class="col col-lg-3">
                  <div *ngIf="plan[1]?.fullDisplayText&&plan[1]?.fullDisplayText!=='-'&&(_array?.isArray(plan[1]?.fullDisplayText))">
                    <ul *ngFor="let plan1 of plan[1]?.fullDisplayText">
                      <li>{{plan1}}</li>
                    </ul>
                  </div>
                  <div *ngIf="plan[1]?.fullDisplayText&&plan[1]?.fullDisplayText!=='-'&&plan[1]?.fullDisplayText!=='full'&&!(_array?.isArray(plan[1]?.fullDisplayText))"><span>{{plan[1]?.fullDisplayText}}</span></div>
                  <div *ngIf="((plan[1]?.fullDisplayText===undefined||plan[1]?.fullDisplayText==='-')&&plan[1]?.access==='full')||plan[1]?.fullDisplayText==='full'"><span><i class="si-green-check"></i></span></div>
                  <div *ngIf="(plan[1]?.fullDisplayText===undefined||plan[1]?.fullDisplayText==='-')&&plan[1]?.access==='none'"><span><i class="si-close-red"></i></span></div>
                </div>
                <div class="col col-lg-3">
                  <div *ngIf="plan[2]?.fullDisplayText&&(_array?.isArray(plan[2]?.fullDisplayText))">
                    <ul *ngFor="let plan2 of plan[2]?.fullDisplayText">
                      <li>{{plan2}}</li>
                    </ul>
                  </div>
                  <div *ngIf="plan[2]?.fullDisplayText&&!(_array?.isArray(plan[2]?.fullDisplayText))"><span>{{plan[2]?.fullDisplayText}}</span></div>
                  <div *ngIf="(plan[2]?.fullDisplayText===undefined||plan[2]?.fullDisplayText==='-')&&plan[2]?.access==='full'"><span><i class="si-green-check"></i></span></div>
                  <div *ngIf="(plan[2]?.fullDisplayText===undefined||plan[2]?.fullDisplayText==='-')&&plan[2]?.access==='none'"><span><i class="si-close-red"></i></span></div>
                </div>
              </div>
            </div>
          </ng-container>
          </div>
          
          <!-- compare plan ends here -->
  
          <!-- faq section start from here -->
          <div class="faq-list-section">
            <div class="faq-list-block">
              <div class="faq-list-header">
               {{"plan_frequenty_asked_questions" | translate}}
              </div>
              <div class="faq-list-acc-section">
                <div class="p-pricing-faq-tile" *ngFor="let faq of frequentFAQs;let i=index;">
                  <div class="p-pricing-accordian-faq">
                      <a [href]="'#collap'+i" data-toggle="collapse" class="p-pricing-accordian-faq-header collapsed">
                          <div class="d-flex justify-content-between align-items-center p-pricing-accordian-faq-py">
                              <div class="ng-binding">{{faq?.question}}</div>
                          </div>
                          <i class="si si-carrotup icon-chev-angle"></i>
                      </a>
                  </div>
                  <div [id]="'collap'+i" class="p-pricing-faq-ans collapse">
                      <div class="desc">{{faq?.answer}}</div>                                          
                  </div>
              </div>
              </div>
            </div>
          </div>
          <!-- faq section ends here -->
        </div>
     </div>
    </perfect-scrollbar>
  </kr-modal>
  
  <!--order confirm & payment gateway popup-->
  <kr-modal modalType="center" modalClass="modal_popups_ payment_gateway" #paymentGatewayModel>
    <div class="modal-header">
      <div class="title">{{((selectedPaymentPage==='payment_confirm')?"plan_order_confirmation":"plan_payment_details")| translate}}</div>
      <div class="close_icon" (click)="closeSelectedPopup('payment_gateway')">
        <img src="assets/icons/modal-close.svg">
      </div>
    </div>
  <perfect-scrollbar class="scoll-iframe-load-payment">
      <div class="modal-body">
        <div class="plan-order-steps" [ngSwitch]="selectedPaymentPage">

                 <!-- payment mode hold start from here -->
                 <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'!payment_confirm'">
                <div class="col-12">
                  <div class="payment-success-route">
                    <div class="rotaion-img">
                      <img src="assets/images/pricing-plan/rotaion-spinner.svg" />
                    </div>
                    <div class="request-hding">{{"plan_please_weight"| translate}}</div>
                    <div class="request-desc">{{"plan_thankyou_for_your_order_desc"| translate}} </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="payment-success-route">
                    <div class="rotaion-img">
                      <img src="assets/images/pricing-plan/rotaion-spinner.svg" />
                    </div>
                    <div class="request-hding">{{"plan_please_weight"| translate}}</div>
                    <div class="request-desc">{{"plan_looks_like_it_is_taking_longer_desc"| translate}}</div>
                    <div class="request-desc">{{"plan_you_can_either_choose_to_wait_desc"| translate}}</div>
                  </div>
                </div>
                </div>

                <!-- order confirmation start from here -->
                 <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_confirm'">
                  <div class="col-6">
                    <div class="order-img">
                      <img src="assets/images/pricing-plan/new-plan-pricing-img/order-confirmation.png" class="order-stage-img" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="order-header text-center">{{"plan_order_summary"| translate}}</div>
                    <div class="order-summary-table">
                      <div class="order-summary-header">{{"plan_you_are_changing_from2"| translate}} {{selectedPlan?.planName}} {{"plan_planTo" | translate}} {{orderConfirmData?.name}} {{"plan_plana"| translate}}</div>
                      <div class="row order-summary-table-body">
                        <div class="col col-lg-6">
                          <div class="order-summary-table-header">{{"plan_plan_caps"| translate}}</div>
                        </div>
                        <div class="col col-lg-6">
                          <div class="order-summary-table-header text-right">{{"plan_amount_caps" | translate}}</div>
                        </div>
                      </div>
        
                      <div class="row order-summary-table-body">
                        <div class="col col-lg-6">
                          <div class="order-summary-table-row">{{orderConfirmData?.name}} {{"plan_amount_caps" | translate}}</div>
                        </div>
                        <div class="col col-lg-6">
                          <div class="order-summary-table-row text-right">{{"plan_$" | translate}} {{orderConfirmData?.planAmount}}</div>
                        </div>
                      </div>      
                      <div class="order-type">
                        <div class="order-type-option" *ngFor="let type of ['month','year']" (click)="typeOfPlan(type);choosePlanType(type);" [ngClass]="{'order-option-selected':type===termPlan,'disabled':type==='year'}">{{"plan_"+type|translate}}</div>
                      </div>      
                    </div>
                  </div>
                </div>

                <!-- iframe page start here -->                                         
                <div class="row col-12 m-0 h-100" id="i_frame_page" *ngSwitchCase="'payment_iframe'">
                  <div class="payment-loader w-100" *ngIf="showLoader">
                    <img src="assets/images/logoIcon.png" class="loaderLogoImage">
                  </div> 
                    <iframe width="100%" height="100%" scrolling="yes" frameborder="0" [src]="urlSafe" (load)="showHideSpinner()" allowfullscreen></iframe>
                </div>

                <!-- payment mode success screen start here -->
                <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_success'">
                  <div class="col-6">
                    <div class="order-img">
                      <img src="assets/images/pricing-plan/new-plan-pricing-img/payment-successful.png" class="order-stage-img" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="payment-status-overview">
                      <div class="payment-status-img"> <img src="assets/images/pricing-plan/plan-order/payment-confirm-success.svg" /></div>
                      <div class="payment-status-header">{{"plan_yay_payment_successful" | translate}}</div>
                      <div class="payment-status-desc">{{"plan_thankyou_subscribe_text"|translate}} {{selectedPlan?.planName}} {{"plan_plana"|translate}}</div>
                      <div class="payment-status-expire">{{"plan_expires_on" | translate}} {{(selectedPlan?.endDate|date:'dd MMM yyyy')}}</div>
                      <div class="payment-status-btn">
                        <button class="kr-sg-button-secondary btn_lg payment-download-invoice" (click)="downloadInvoice()">{{"plan_downloadinvoice" | translate}} <span class="px-2"><i class="si si-download-file primaryColor"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- payment mode failure screen start here -->
                <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_fail'">
                  <div class="col-6">
                    <div class="order-img">
                      <img src="assets/images/pricing-plan/new-plan-pricing-img/payment-failed.png" class="order-stage-img" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="payment-status-overview">
                      <div class="payment-status-img"> <img src="assets/images/pricing-plan/plan-order/payment-confirm-fail.svg" /></div>
                      <div class="payment-status-header">{{"plan_payment_failed2" | translate}}</div>
                      <div class="payment-status-desc">{{(orderConfirmData?.overage?.ingestDocs?.limit|valueFormat)}} {{"plan_documents_added_and" | translate}} {{(orderConfirmData?.overage?.searchQueries?.limit|valueFormat)}} {{"plan_queries_add_per" | translate}} {{orderConfirmData?.billing?.unit}}</div>
                      <div class="payment-status-expire">Something Went Wrong</div>
                      <div class="payment-status-btn">
                        <button class="kr-sg-button-secondary btn_lg">{{"plan_something_went_wrong" | translate}} <span class="px-2"><i class="si si-re-fresh primaryColor"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- payment mode hold screen start here -->
                <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_hold'">
                  <div class="col-6">
                    <div class="order-img">
                      <img src="assets/images/pricing-plan/new-plan-pricing-img/payment-on-hold.svg" class="order-stage-img" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="payment-status-overview">
                      <div class="payment-status-img"> <img src="assets/images/pricing-plan/plan-order/payment-confirm-hold.svg" /></div>
                      <div class="payment-status-header">{{"plan_payment_on_hold" | translate}}</div>
                      <div class="payment-status-desc">{{"plan_we will_send_you_an_email_info" | translate}}</div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="modal-footer text-right">
      <button class="kr-sg-button-primary btn_lg" (click)="openPaymentGateway()" *ngIf="selectedPaymentPage==='payment_confirm'" [disabled]="btnLoader"><span class="loader-spin-inside-btn" *ngIf="btnLoader"></span>{{"plan_proceed"| translate}}</button>
      <button class="kr-sg-button-ghost btn_lg" (click)="closeSelectedPopup('payment_gateway')" *ngIf="['payment_iframe'].includes(selectedPaymentPage)">{{"plan_cancel_payment"|translate}}</button>
      <button class="kr-sg-button-ghost btn_lg" (click)="closeSelectedPopup('payment_gateway')" *ngIf="['payment_confirm'].includes(selectedPaymentPage)">{{"plan_no_thanks"|translate}}</button>
      <button class="kr-sg-button-primary btn_lg" (click)="closeSelectedPopup('payment_gateway')" *ngIf="['payment_success'].includes(selectedPaymentPage)">{{"plan_done"|translate}}</button>
      <button class="kr-sg-button-ghost btn_lg" (click)="closeSelectedPopup('payment_gateway')" *ngIf="['payment_fail','payment_hold'].includes(selectedPaymentPage)">{{"plan_close"|translate}}</button>
    </div>
  </kr-modal>
  
  <!--Add overage modal-->
  <kr-modal modalType="center" modalClass="modal_popups_ overage_modal" #addOverageModel>
    <div class="modal-header">
      <div class="title">{{((overagesObject.isOpted)?"plan_overage_heading_out":"plan_overage_heading_in")| translate}}</div>
      <div class="close_icon" (click)="overageModal('close')">
        <img src="assets/icons/modal-close.svg">
      </div>
    </div>
    <perfect-scrollbar>
      <div class="modal-body">
        <div class="row col-12 m-0 add-overage-block">
          <div class="col-5">
            <div class="order-img">
              <img src="assets/images/pricing-plan/new-plan-pricing-img/overage-opt-out.png" class="order-stage-img" />
            </div>
          </div>
          <div class="col-7">
           <section class="add-overage-section">
            <div class="order-header text-center">{{"plan_order_summary"| translate}}</div>
            <div class="order-compare-plan-query">
            <div class="queries-overage-block">
                <div class="check-box-container">
                  <div class="kr-sg-checkbox">
                    <input id="checkbox-1" class="checkbox-custom" type="checkbox" [(ngModel)]="overagesObject.isCheckboxEnabled">
                    <label for="checkbox-1" class="checkbox-custom-label">{{"plan_queries_overage"|translate}}</label>
                  </div>
                </div>
                <div class="quantity-deatils">{{"plan_25_50K"|translate}} {{"plan_queries"|translate}}</div>
            </div>  
            <div class="query-note">
              <div class="note-left-header">{{"plan_note"|translate}}:</div>
              <div class="note-desc">{{"plan_opt_in_overages_text"|translate}}</div>
            </div>
            <div class="info-link-bot-notification current-billing-notification" *ngIf="overagesObject.isOpted">
              <div class="link-bot-warning"><i class="si-warning"></i></div>
              <div class="title-text">{{"plan_current_billing_cycle"|translate}}</div>
              <div class="link-bot-close" (click)="overageModal('close_notification')"><i class="si-close"></i></div>
            </div>
            </div>
  
            <div class="order-compare-plan">
              <div class="order-suggation-type mt-1">
                <div class="suggation-text">{{"plan_you_can_also_compare_and_upgrade_desc"| translate}}</div>
              </div>
              <div class="compare-plans-link">
                <div class="compare-plans-link-btn" (click)="openSelectedPopup('choose_plan')">{{"plan_compare_all_plans"|translate}}</div>
              </div>
            </div>
           </section>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="modal-footer text-right">
      <button class="kr-sg-button-primary btn_lg" (click)="buyOverage()" [disabled]="btnLoader||(!overagesObject.isCheckboxEnabled)"><span class="loader-spin-inside-btn" *ngIf="btnLoader"></span>{{"plan_proceed"| translate}}</button>
      <button class="kr-sg-button-secondary btn_lg" (click)="overageModal('close')">{{"plan_no_thanks"| translate}}</button>
    </div>
  </kr-modal>
  
  <!--change plan/excess data show popup-->
  <kr-modal modalType="above-modal-drop" modalClass="modal_popups_ order-confirmation excess-modal-data" #changePlanModel>
    <perfect-scrollbar>
      <div class="modal-body">
        <div class="desc-text-info">
          {{"plan_please"| translate}} <span>{{"plan_delete_excess"| translate}}</span> {{"plan_choose_another_plan"| translate}}.
        </div>
        <div class="excess-table-data">
          <div class="excess-header col-12 row">
            <div class="col-4">{{"plan_features"| translate}}</div>
            <div class="col-4">{{"plan_current_usage"| translate}}</div>
            <div class="col-4">{{"plan_limit"| translate}}</div>
          </div>
          <div class="excess-table-body col-12 row" *ngFor="let feature of featuresExceededUsage">
            <div class="excess-type col-4">{{feature?.name}}</div>
            <div class="excess-name col-4">{{feature?.used}}</div>
            <div class="excess-type col-4">{{feature?.targetLimit}}</div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="modal-footer text-right">
      <button class="kr-sg-button-primary btn_lg" (click)="openExcessDataPopup('close')">{{"plan_okay"| translate}}</button>
    </div>
  </kr-modal>
  
  <!--contact us form popup-->
  <kr-modal modalType="above-modal-drop" modalClass="modal_popups_ contact-us-modal_" #contactUsModel>
    <div class="right-sec-form"> 
      <div class="modal-header">
        <div class="modal-hding">{{"plan_please_tell_us"|translate}}</div>
        <div class="close_icon" (click)="contactusModel('close');validations=false">
          <span class="close-icon-span"><i class="si-close"></i></span>
        </div>
      </div>
    <perfect-scrollbar class="scroll-talktous">
        <div class="scroll-content">
          <!-- <div class="group-radiobutton mb-3">            
            <div class="kr-sg-radiobutton" *ngFor="let radioBtn of enterpriseRadioBtnArray;let i=index;">
                <input id={{i}} name={{i}} class="radio-custom" type="radio" [value]="radioBtn.value" [(ngModel)]="enterpriseForm.targetPlan">
                <label for={{i}} class="radio-custom-label">{{radioBtn.name|translate}}</label>
            </div>
          </div>        -->
          <div class="kr-sg-input-text mb-3">
            <div class="label-text">{{"plan_name"| translate}}<sup class="field-mandatory">*</sup></div>
            <input type="text" placeholder="{{'plan_name' | translate}}" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.name" [ngClass]="{'error':validations && !enterpriseForm.name }">
          </div>
          <div class="kr-sg-input-text mb-3">
            <div class="label-text">{{"plan_email"| translate}}<sup class="field-mandatory">*</sup></div>
            <input type="text" placeholder="{{'plan_email' | translate}}" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.email" [ngClass]="{'error':validations && !enterpriseForm.email }">
          </div>
          <div class="kr-sg-input-text mb-3">
            <div class="label-text">{{"plan_contact_number"| translate}}</div>
            <input type='text' placeholder="{{'plan_optional' | translate}}" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.phone">
          </div>
          <div class="kr-sg-input-text mb-3">
            <div class="label-text">{{"plan_company_name"| translate}}</div>
            <input type="text" placeholder="{{'plan_optional' | translate}}" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.company">
          </div>
          <!-- Country-->
          <div class="label-text mb-1">{{"plan_select_country" | translate}}<sup class="field-mandatory">*</sup></div>
          <div class="kr-sg-dropdowns col-13 pl-0 mb-3" ngbDropdown>
            <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" id="counryBasic" data-toggle="dropdown" [ngClass]="{'error':validations && !enterpriseForm.country }"
                ngbDropdownToggle (click)="clearcontent()">
                {{enterpriseForm.country?enterpriseForm.country:"Choose Country"}}
              </button>
              <ul class="dropdown-menu content-menu faq-filter-add col-12 mw-100" style="overflow-y: hidden;"
                ngbDropdownMenu>
                <li class="search-box">
                  <input id="searchBoxId" autocomplete="off" type="text" [(ngModel)]="search_country"
                    placeholder="{{'sa_search' | translate}}" class="seach-input" autofocus />
                </li>
                <perfect-scrollbar class="scroll-search-field h-178">
                  <ng-container>
                    <li ngbDropdownItem
                      *ngFor="let country of countriesList | filter : [search_country, 'name']"
                      (click)="enterpriseForm.country = country.name"
                      [ngClass]="{'highlight':enterpriseForm.country == country.name}">
                      {{ country.name }}
                    </li>
                  </ng-container>
                </perfect-scrollbar>
              </ul>
            </div>
          </div>
          <!-- Country-->
          <div class="kr-sg-input-text-area mb-3">
            <div class="label-text">{{"plan_message" | translate}}</div>
            <textarea placeholder="{{'plan_optional' | translate}}" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.message"></textarea>
          </div>
        </div>
    </perfect-scrollbar>
    <div class="text-right talk-to-us-footer">
      <button class="kr-sg-button-secondary backbtn btn_lg mr-2" (click)="contactusModel('close');validations=false;">{{"sa_cancel" | translate}}</button>
      <button class="kr-sg-button-primary btn_lg" (click)="submitEnterpriseRequest()" [disabled]="btnLoader"><span class="loader-spin-inside-btn" *ngIf="btnLoader"></span>{{"plan_submit_request" | translate}}</button>
    </div>
  </div> 
  </kr-modal>
  
  <!--Confirm upgrade/downgrade modal-->
  <kr-modal modalType="above-modal-drop" modalClass="modal_popups_ revert-cancellation-popup above-modal-drop-class" #confirmUpgradeModel>
    <div class="modal-header">
      <div class="title">{{"plan_are_you_sure_you_want_to_continue" | translate}}</div>
      <div class="close_icon" (click)="closeConfirmUpgradeModal('close')">
        <img src="assets/icons/modal-close.svg">
      </div>
    </div>
    <!-- <div class="modal-body">
      <div class="desc-text-info">Your cancellation request will be reverted and current plan will be retained</div>
    </div> -->
    <div class="modal-footer text-right">
      <button class="kr-sg-button-primary btn_lg" (click)="downgradePlan()" [disabled]="btnLoader"><span class="loader-spin-inside-btn" *ngIf="btnLoader"></span>{{"plan_submit" | translate}}</button>
      <button class="kr-sg-button-secondary btn_lg" (click)="closeConfirmUpgradeModal('close')">{{"sa_cancel" | translate}}</button>
    </div>
  </kr-modal>
  
  <!--Upgrade modal wrt free Plan-->
  <kr-modal modalType="above-modal-drop" modalClass="modal_popups_ revert-cancellation-popup above-modal-drop-class upgrade-now-plan-modal-popup" #freePlanUpgradeModel>
    <div class="user-avthar-power">
      <img src="assets/images\pricing-plan\full-power-plan/fully-upgrade-plan-power.svg" />
    </div>
    <div class="modalbody p-0">
      <div class="modal-close" (click)="closeSelectedPopup('free_upgrade')"><i class="si-close"></i></div>
      <div class="bg-svg">
        <img src="assets/images/pricing-plan/full-power-plan/fully-upgrade-plan-bg.svg" />
      </div>
      <div class="upgrade-now-plan">
        
        <div class="u-n-p-header">{{"plan_unlock_full_power"|translate}}</div>
        <div class="u-n-p-desc">{{"plan_file_upload_feature_not_available"|translate}} {{this.selectedPlan?.planName}} {{"plan_upgrade_access_file_upload"|translate}}</div>
        <div class="plan-features-block">
          <div class="plan-feature-desc" *ngFor="let planFeature of ['plan_access_all_connectors','plan_training_ui','plan_delivery_ai']">
            <span class="icon-si"><i class="si-green-check"></i></span> {{planFeature|translate}}
          </div>
          <div class="and-more">{{"plan_more"|translate}}</div>
        </div>
        <div class="upgrade-now-btn-block" (click)="freePlanUpgrade()">
          <div class="upgrade-now-btn">
            <div class="btn-iocn">
              <i class="si-publish"></i>
            </div>
            <div class="btn-txt">{{"plan_upgrade_now"|translate}}</div>
          </div>
        </div>
      </div>
      
    </div>
  </kr-modal>
  
  
  <!--landing page onboarding journy popup-->
  <kr-modal modalType="above-modal-drop" modalClass="modal_popups_ onboarding-Journy-Model" #onboardingJournyModel>
    <div class="main-block">
      <div class="left-section">
        <div class="close-pop-up" (click)="closeSelectedPopup('onboardingJourny')"><i class="si-close"></i></div>
        <div class="left-content-block">
          <div class="brand-logo"><img src="assets/images/pricing-plan/new-plan-pricing-img/search-assist-app-logo.svg" /></div>
          <div class="brand-header-logo"><img src="assets/images/pricing-plan/new-plan-pricing-img/search-assist-logo-text.svg" /></div>
          <div class="brand-trial-plan">{{"plan_welcome_to_30days_text"|translate}}</div>
          <div class="brand-trial-plan-details">{{"plan_explore_capabilities_text"|translate}}</div>
          <div class="brand-trial-plan-btn">
            <button class="kr-sg-button-primary btn_md" (click)="closeSelectedPopup('onboardingJourny')">{{"plan_lets_explore"|translate}}</button>
          </div>
          <div class="brand-trial-plan-footer-text"><span class="hyper-text" (click)="exploreButton()">{{"plan_contact_us"|translate}}</span> {{"plan_custom_enterprise_plan"|translate}}</div>
        </div>
      </div>
      <div class="right-section">
        <img src="assets/images/pricing-plan/new-plan-pricing-img/onbording-landng-page-banner.svg" alt="onboarding journy banner" class="onboarding-journy-banner" />
      </div>
    </div>
  </kr-modal>