<header>
    <nav class="findlyHeader navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div id="open-chat-window-no-clicks" class="open-chat-window-no-clicks"></div>
        <div class="container-fluid p-0">
            <div class="logoTabsContainer align-items-center">
                <img src="assets/images/logos/findly-logo.svg" class="logoKoreIcon landing-screen" [routerLink]="['/apps']" routerLinkActive="active" skipLocationChange (click)="analyticsClick('apps',true)">
                <img src="assets/images/logos/findly-logo-small.svg" class="logoKoreIcon no-landing-screen" [routerLink]="['/apps']" routerLinkActive="active" skipLocationChange (click)="analyticsClick('apps',true)">
                <!-- <div class="myappname" *ngIf="appName">
                    <div container="body" ngbTooltip="{{appName}}" class="name">{{appName}}</div>
                </div> -->
                <div class="headerTabsContainer">
                    <div class="headerMenuTab" [ngClass]="{'active' : mainMenu == '/summary'}" skipLocationChange routerLinkActive="active" (click)="analyticsClick('/summary')">
                        <span>Overview</span>
                        <span routerLink="/summary" class="d-none"></span>
                    </div>
                    <div class="headerMenuTab" [ngClass]="{'active' : mainMenu == '/content'}" skipLocationChange routerLinkActive="active" (click)="analyticsClick('/content')">
                        <span>SOURCES</span>
                        <span routerLink="/source" class="d-none"></span>
                        <span routerLink="/content" class="d-none"></span>
                        <span routerLink="/faqs" class="d-none"></span>
                        <span routerLink="/botActions" class="d-none"></span>
                        <span routerLink="/structuredData" class="d-none"></span>
                    </div>
                    <div class="headerMenuTab" id="sourceTab" [ngClass]="{'active' : mainMenu == '/index'}" skipLocationChange routerLinkActive="active" (click)="analyticsClick('/index')">
                        <span>Indices</span>
                        <span routerLink="/searchInterface" class="d-none"></span>
                        <span routerLink="/search-experience" class="d-none"></span>
                        <span routerLink="/indices" class="d-none"></span>
                        <span routerLink="/synonyms" class="d-none"></span>
                        <span routerLink="/stopWords" class="d-none"></span>
                        <span routerLink="/ml-threshold" class="d-none"></span>
                        <span routerLink="/traits" class="d-none"></span>
                        <span routerLink="/rules" class="d-none"></span>
                        <span routerLink="/index" class="d-none"></span>
                        <span routerLink="/query" class="d-none"></span>
                        <span routerLink="/attributes" class="d-none"></span>
                        <span routerLink="/weights" class="d-none"></span>
                        <span routerLink="/resultranking" class="d-none"></span>
                        <span routerLink="/facets" class="d-none"></span>
                        <span routerLink="/FieldManagementComponent" class="d-none"></span>
                    </div>
                    <!-- <div class="headerMenuTab" id='experimentsTab' [ngClass]="{'active' : mainMenu == '/experiments'}" (click)="analyticsClick('/experiments')">Experiments</div> -->
                    <div class="kr-sg-dropdowns headerMenuTab" [ngClass]="{'active' : (mainMenu == '/dashboard'
                     || mainMenu == '/userEngagement' || mainMenu == '/searchInsights' || mainMenu == '/resultInsights' || mainMenu == '/experiments')}">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input cust-repeat-type" data-toggle="dropdown"> Analytics</button>
                            <ul class="dropdown-menu content-menu content-width">
                                <li class="experment-link" (click)="analyticsClick('/experiments')" id="experimentsTab" [ngClass]="{'active' : mainMenu == '/experiments'}"><a>Experiments</a></li>
                                <li (click)="analyticsClick('/dashboard')" id="dashboardTab" [ngClass]="{'active' : mainMenu == '/dashboard'}"><a>Dashboard</a></li>
                                <li (click)="analyticsClick('/userEngagement')" [ngClass]="{'active' : mainMenu == '/userEngagement'}"><a>User Engagement</a></li>
                                <li (click)="analyticsClick('/searchInsights')" [ngClass]="{'active' : mainMenu == '/searchInsights'}"><a>Search Insights</a></li>
                                <li (click)="analyticsClick('/resultInsights')" [ngClass]="{'active' : mainMenu == '/resultInsights'}"><a>Results Insights</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="headerMenuTab" [routerLink]="['/dashboard']" skipLocationChange routerLinkActive="active" (click)="analyticsClick('metrics')">Analytics</div> -->
                    <!-- <div class="headerMenuTab" id='experimentsTab' [ngClass]="{'active' : mainMenu == '/experiments'}" (click)="analyticsClick('/experiments')">Experiments</div> -->
                    <div class="headerMenuTab" id='channelsTab' [ngClass]="{'active' : mainMenu == '/generalSettings'}" skipLocationChange routerLinkActive="active" (click)="analyticsClick('/generalSettings')">
                        <span>MANAGE</span>
                        <span routerLink="/actions" class="d-none"></span>
                        <span routerLink="/smallTalk" class="d-none"></span>
                        <span routerLink="/settings" class="d-none"></span>
                        <span routerLink="/credentials-list" class="d-none"></span>
                        <span routerLink="/team-management" class="d-none"></span>
                        <span routerLink="/pricing" class="d-none"></span>
                        <span routerLink="/usageLog" class="d-none"></span>
                        <span routerLink="/invoices" class="d-none"></span>
                        <span routerLink="/generalSettings" class="d-none"></span>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav nav-flex-icons align-items-center right-menu-content flex-row justify-content-end">
                <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight (click)="triggerRoute(null,r)" [result]="r.displayName" [term]="t"></ngb-highlight>
                </ng-template> 
                <li class="nav-item autoSearchTools d-none">
                    <img src="assets/icons/sidemenu/search.svg" (click)="toggleSearch(true)" [ngClass]="{'d-none': searchActive}">                   
                    <div class="kr-sg-input-search" [ngClass]="{'d-none': !searchActive}">
                        <input type="text" placeholder="Search" id="inputSearch" class="input-search" (keyup.enter)="triggerRoute(searchText)" [ngClass]="{'pl-33':!searchText}" autocomplete="off" [(ngModel)]="searchText"  (mouseover)="searchImgSrc = (searchFocusIn ? 'assets/icons/search_gray.svg' :'assets/icons/search_gray_dark.svg')"
                            (mouseout)="searchFocusIn=false;searchImgSrc = 'assets/icons/search_gray.svg'" (focus)="searchFocusIn=true;searchImgSrc = 'assets/icons/search_gray.svg'" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter">
                        <img [src]="searchImgSrc" class="search-icon" *ngIf="!searchText">
                        <img class="close-icon" *ngIf="searchText" src="assets/icons/close_icon.svg" [ngClass]="{'pr-22':searchText}"  (click)="searchText ='';toggleSearch(false)">
                    </div>
                </li>
                <!-- <div class="text-right nav-item trainBlock d-none">
                    <button class="kr-sg-button-primary btn_lg" [disabled]='training' (click)="train()">{{(training)?'Training...':'Train'}}</button>
                </div> -->
                <li class="nav-item app-dropdown">
                    <div class="kr-sg-dropdowns"  ngbDropdown #myDrop="ngbDropdown" [placement]="'bottom-center'">
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle (click)="getAllApps()">{{appName}}</button>
                            <ul class="dropdown-menu content-menu" ngbDropdownMenu>
                                <div class="search-assist-apps">
                                    <div class="main-title">SearchAssist Apps</div>
                                    <div class="apps-block">
                                        <div class="title-secondary">Recent Apps</div>
                                        <div class="app-name-block" *ngFor='let app of recentApps' (click)="openApp(app);myDrop.close()">
                                            <div class="app-name">{{app.name}}</div>
                                            <div class="shared-name d-none">{{app.createdBy===userId?'My App':'Shared by '+app.userDetails.fullName}}</div>
                                        </div>                                                       
                                    </div>
                                    <div class="view-app-apps"  [routerLink]="['/apps']" routerLinkActive="active" skipLocationChange (click)="analyticsClick('apps',true)">View all Apps</div>
                                    <div class="create-new-app" (click)="openCreateApp()">Create New App</div>
                                </div>
                            </ul>
                        </div>                                            
                    </div>
                </li>
                <li class="nav-item test-button">
                    <button placement="bottom" #testButtonTooltip="ngbTooltip" ngbTooltip="Preview & Customize search results." container='body' tooltipClass="test-icon-tooltip" class="kr-sg-button-secondary btn_lg rr-tour-test-btn" id="test-btn-launch-sdk" (click)="openOrCloseSearchSDK()">Test</button>
                </li>
                <li (click)="train()" class="nav-item train-btn" ngbTooltip="Train your App" container='body' tooltipClass="train-icon-tooltip" [ngClass]='{"active-train":training}'>
                    <div class="loader-train"></div>
                    <img src="assets/icons/train.svg" class="defaultIcon">
                </li>
                <li class="nav-item search-block show-search1">
                    <div class="search_icon" [ngClass]="{'active-search-top' : showSearch}">
                        <img src="assets/icons/sidemenu/search.svg" (click)="focusinSearch()" (mouseover)="activeSearch=true" (mouseout)="activeSearch=false">
                    </div>
                    <div class="global-searc-container" *ngIf='showSearch'>
                        <div class="kr-sg-input-search">  
    
                            <input type="text" class="input-search" id="globalSearch"  searchImgSrc='assets/icons/search.svg' placeholder="Search" [ngClass]="{'pl-2':searchText}" (focusout)="focusoutSearch();"  (keyup.enter)="triggerRoute(searchText)" autocomplete="off" [(ngModel)]="searchText" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (mouseover)="searchImgSrc = (searchFocusIn ? 'assets/icons/search_gray.svg' :'assets/icons/search_gray_dark.svg')" (mouseout)="searchFocusIn=false;searchImgSrc = 'assets/icons/search_gray.svg'" (focus)="searchFocusIn=true;searchImgSrc = 'assets/icons/search_gray.svg'" autofocus>
                            <img [src]="searchImgSrc" class="search-icon" *ngIf="!searchText">
                            <img class="close-icon" *ngIf="searchText" src="assets/icons/close_icon.svg"  [ngClass]="{'pr-22':searchText}" (click)="searchText='';showSearch=!showSearch;"  placement="top-center" container='body' ngbTooltip="Cancel" tooltipClass="ngb_tooltip_custom_class sampleJson">
                        </div>
                    </div>
                </li>
                <li class="nav-item notification-block">                                      
                    <div class="kr-sg-dropdowns" ngbDropdown>
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input notification" id="dropdownBasic1" ngbDropdownToggle (mouseup)="notificationIconClick()">
                                <img src="assets/icons/sidemenu/notification.svg">
                                <sup *ngIf="isAnyRecordFailed" class="red-notification"></sup>
                                <sup *ngIf="isAnyRecordCompleted" class="completed-notification"></sup>
                                <img src="assets/icons/notification-ring.svg" class="inProgress notification-icon" *ngIf="isAnyRecordInprogress" placement="top" container='body'>
                            </button>
                            <ul class="dropdown-menu content-menu notification-dropdown" ngbDropdownMenu id="notification-dropdown">
                                <div class="notification-dropdown-status">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link active" data-toggle="tab" href="#statusupdates">Status Updates 
                                            <sup *ngIf="isAnyRecordFailed" class="red-notification"></sup>
                                            <sup *ngIf="isAnyRecordCompleted" class="completed-notification"></sup>
                                          </a>
                                        </li>
                                        <!-- <li class="nav-item">
                                          <a class="nav-link disabled" data-toggle="tab" href="#activities">Activities</a>
                                        </li> -->
                                    </ul>
                                    <div class="tab-content">
                                        <div id="statusupdates" class="tab-pane active">
                                            <div class="statusDocker">
                                                <div class="statusDockerBody">
                                                    <perfect-scrollbar class="perfect-scroll-modal-body docker">
                                                        <div class="docker-list" *ngIf="!statusDockerLoading">
                                                            <div class="row ml-0 mr-0 col-12 row-content" *ngFor="let task of dockersList; let index = index" [class.docUnRead]="checkRecordInDocs('unread', task)">
                                                                <div class="col-9 pl-0 task_content">
                                                                    <div class="heading text-truncate" [class.external_link]="((task.extractionSourceId && (task.jobType == 'web' || task.jobType == 'faq')) || (task.jobType == 'STRUCTURED_DATA_INGESTION'))" (click)="((task.extractionSourceId && (task.jobType == 'web' || task.jobType == 'faq')) || (task.jobType == 'STRUCTURED_DATA_INGESTION')) && navigateTo(task)" [title]="task.name">{{task.name}}</div>
                                                                    <div class="desc" *ngIf="getStatusView(task.status)">{{task.status | titlecase}} <span class="tooltip-data" ngbTooltip='{{task.createdOn}}' tooltipClass="date-tooltip" placement="right-center" [container]="'body'"><img src="assets/icons/docker/clock.svg"></span></div>
                                                                    <div class="desc" *ngIf="!getStatusView(task.status)">{{getStatusView(task.status, 'other')}} <span class="tooltip-data" ngbTooltip='{{task.createdOn}}' tooltipClass="date-tooltip" placement="right-center" [container]="'body'"><img src="assets/icons/docker/clock.svg"></span></div>
                                                                </div>
                                                                <div class="col-3 d-flex p-0 align-items-center justify-content-end">
                                                                    <div class="img-block">
                                                                        <img src="assets/icons/docker/info.svg" *ngIf="task.status === 'FAILURE'">
                                                                        <img src="assets/icons/docker/return.svg" *ngIf="task.status === 'HALTED'" (click)="recrawl(task)">
                                                                        <!-- <img src="assets/icons/docker/download.svg" *ngIf="(task.status === 'SUCCESS') && (task.jobType === 'faq')"> -->
                                                                        <img src="assets/icons/docker/check.svg" *ngIf="(task.status === 'SUCCESS')">
                                                                        <!-- <img src="assets/icons/docker/external-link.svg" (click)="navigateTo(task)" *ngIf="(task.extractionSourceId && (task.jobType == 'web' || task.jobType == 'faq')) || (task.jobType == 'STRUCTURED_DATA_INGESTION')">                         -->
                                                                    </div>
                                                                    <div class="status-blcok">                        
                                                                        <img src="assets/icons/ringLoading.svg" class="inProgress" *ngIf="task.status === 'IN_PROGRESS' || task.status === 'validation' || task.status === 'QUEUED'" placement="top" container='body'>
                                                                        <span *ngIf="(task.status == 'IN_PROGRESS' || task.status === 'validation' || task.status === 'QUEUED') && (task.percentageComplete > 0)" class="run-percentageDone">{{task.percentageComplete}}%</span>
                                                                        <img src="assets/icons/docker/close.svg" (click)="removeRecord(task, index)" *ngIf="(task.status !== 'IN_PROGRESS' && task.status !== 'validation' && task.status !== 'QUEUED')">
                                                                    </div>
                                                                </div>
                                                            </div>         
                                                            <div *ngIf="!dockersList.length" class="recordsEmpty">
                                                                You got no records in StatusDocker.
                                                            </div>
                                                        </div>
                                                        <div class="statusDockerLoadingSpinner row m-0" *ngIf="statusDockerLoading" >
                                                            <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                                                            <span class="please-wait-message ml-3">{{'please_wait' | translate}}</span>
                                                        </div>
                                                    </perfect-scrollbar>
                                                    <div class="clear_icon text-right" [class.disabled]="!dockersList.length" (click)="clearAllRecords()">{{'clear_all' | translate}}</div>
                                                </div>
                                            </div>                                        
                                        </div>
                                        <div id="activities" class="tab-pane fade">
                                          <h3>Activities</h3>                                          
                                        </div>                                        
                                    </div>
                                </div>
                            </ul>
                        </div>                                            
                    </div>
                </li>
                <!-- <li class="nav-item search-block show-search2">
                    <div class="search_icon" [ngClass]="{'active-search-top' : showSearch}">
                        <img src="assets/icons/sidemenu/search.svg" (click)="showSearch=!showSearch;searchText=''">
                    </div>
                    <div class="global-searc-container" *ngIf='showSearch'>
                        <div class="kr-sg-input-search">     
                            <input type="text" placeholder="Search" class="input-search" (keyup.enter)="triggerRoute(searchText)" autocomplete="off" [(ngModel)]="searchText" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter">                                                      
                            <img src="assets/icons/search_gray.svg" class="search-icon">
                        </div>
                    </div>
                </li> -->
                <!-- <li class="nav-item help-icon">
                    <img src="assets/icons/sidemenu/help.svg">
                </li> -->
                <li class="nav-item user_icon">
                    <button mat-button [matMenuTriggerFor]="menu" class="headerIcons p-0"><img src="assets/images/avatar.svg"></button>
                    <mat-menu #menu="matMenu" class="headerDropDown">
                        <div class="accountsSwitchDiv">
                            <div class="titleaccounts">Accounts</div>
                            <button mat-menu-item class="accountName"><img src="assets/images/tick-icon-green.svg" class="tick-icon-green"> account one</button>
                            <button mat-menu-item class="accountName"><img src="assets/images/tick-icon-green.svg" class="tick-icon-green"> account two</button>
                        </div>
                        <button mat-menu-item (click)="switchAccount()" class="switchAccount" *ngIf="showSwichAccountOption">Switch Account</button>
                        <button mat-menu-item (click)="logoutClick()" class="logOut"><img src="assets/images/poweroffIcon.svg" class="poweroffIcon">Logout</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--create new app popup-->
<!-- <kr-modal modalType="default" #createAppPop>
    <div class="modal-header">
          <h4 class="modal-title">Create App</h4>
        </div>
        <div class="modal-body textAlignLeft">
          <div class="kr-sg-input-text mb-3">
            <div class="label-text">App Name</div>
            <input maxlength="128" type="text" autocomplete="off" placeholder="Enter App Name" class="input-text" [(ngModel)]="newApp.name" name="appName"  id="enterAppName" (blur)="inputChanged('enterName')" (change)="inputChanged('enterName')">
            <img id="infoWarning" src="assets/icons/warning_escalation.svg" style="display: none;" height="12" width="12" />
          </div>
          <div class="kr-sg-input-text-area mb-2">
            <div class="label-text">Description</div>
            <textarea maxlength="512" placeholder="Enter App Description " autocomplete="off" class="input-text" [(ngModel)]="newApp.description" name="appDesc"></textarea>
          </div>
          <div class="kr-sg-dropdowns w-100 mt-1">
            <div class="label-text">Language</div>
            <div class="dropdown dropdown-open">
                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" disabled>English</button>                                            
                <ul class="dropdown-menu content-menu">
                <li class="search-box">
                    <input maxlength="128" type="text" placeholder="Search" class="seach-input">
                </li>                                                
                  <li><a>English</a></li>
                  <li><a>German</a></li>
                  <li><a>French</a></li>
                </ul>
             </div>
        </div>
        </div>
        <div class="modal-footer" [ngClass]="{'disabled': creatingInProgress}">
           <button type="button" class="btn kr-btn-cancel" data-dismiss="modal" (click)="closeCreateApp()">Close</button>
           <button type="button" class="kr-sg-button-primary btn_lg"  data-dismiss="modal" (click)='validateSource()'>{{creatingInProgress?'Creating...':'Create'}}</button>
       
          </div>
  
  
  </kr-modal> -->

  <kr-modal modalType="default" #createAppPop modalClass="creating-new-app-modal">
    <div class="modal-header">
        <div class="modal-title">Create App</div>
        <div class="close_modal" (click)="closeCreateApp()"><img src="assets/icons/close.svg"></div>
    </div>
    <div class="modal-body">
      <div class="kr-sg-input-text mb-3">
        <div class="label-text">App Name</div>
        <input maxlength="128" type="text" autocomplete="off" placeholder="Enter App Name"  [(ngModel)]="newApp.name" name="appName" id="enterAppName" (blur)="inputChanged('enterName')" (change)="inputChanged('enterName')">
        <img id="infoWarning" src="assets/icons/warning_escalation.svg" style="display: none;" height="12" width="12" />
      </div>
      <div class="kr-sg-input-text">
        <div class="label-text">Description</div>
        <input class="input-text" maxlength="512" placeholder="Enter App Description" autocomplete="off" [(ngModel)]="newApp.description" name="appDesc">
      </div>
      <div class="kr-sg-dropdowns w-100">
        <div class="label-text">Language</div>
        <div class="dropdown dropdown-open">
            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" disabled>English</button>                                            
            <ul class="dropdown-menu content-menu">
              <li><a>English</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer" [ngClass]="{'disabled': creatingInProgress}">
        <button type="button" class="kr-sg-button-secondary btn_lg" data-dismiss="modal" (click)="closeCreateApp()">Cancel</button>
        <button   type="button" class="kr-sg-button-primary btn_lg"  data-dismiss="modal" (click)='validateSource()'>Create</button>
    </div>
  </kr-modal>