@import './../../../app/scss/variables/variables.scss';
.fieldManagementComponent{
    .mainLoadingSpinner{
        position: absolute;
        top: 40%;
        background:  transparent;
        width: 223px;
        height: 40px;
        padding-top: 10px;
        border-radius: 4px;
        opacity: 0.95;
        padding-left: 5px;
        width: 100%;
        .please-wait-message {
            position: relative;
            color: #29293b;
            top: -16px;
            left: 25px;
            font-size: 12px;
        }  
    } 
    .table_sec{
        height: 100%;
        margin: auto;
        text-align: center;
       
        .seach_add_feild{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 24px;
            margin: 0px 0px 10px 0px;
            background: #F5F8FA;
            border-radius: 4px;
            .title{               
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;                            
            }  
            .kr-sg-input-search{
                display: inline-block;
                width: 215px;
                height: 20px;
                position: relative;
                bottom: 6px;
                right: 10px;               
                &.active{
                    display: block;
                    width: 300px;
                }
                .close-icon{
                    position: absolute;
                    right: 11px;
                    top: 12px;
                    cursor: pointer;
                }
                .input-search{
                    border: 1px solid #E4E5E7;                            
                    border-radius: 4px;
                    padding-left: 36px;
                    padding-right: 15px;
                    font-size: 14px;
                    &:focus{
                        border: 1px solid #1372ff;
                    }
                    &::placeholder{
                        color: #BDC1C6;
                    }
                }
                .search-icon{
                    left: 12px;
                    top: 10px;
                    position: absolute;
                }
            } 
            .seach-block{
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                // line-height: 14px;
                margin-right: 30px;
                img{
                    margin-right: 7px;
                    cursor: pointer;
                }
            }
            .add_feild{
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                cursor: pointer;
                img{
                    margin-right: 7px;
                }
            }
        }
        .table_data_content{
            padding: 0 24px;
            text-align: left;
            .table_header{
                padding: 18px 15px;
                border-bottom: 1px solid #E4E5E7;
                .title{
                    padding: 0 5px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 14px;
                    text-transform: uppercase;
                    color: #9AA0A6;
                }
                .col_{
                    font-weight: 500;                       
                    color: #9AA0A6;
                    font-size: 12px;   
                    cursor: pointer;         
                    .sortImg{                                                       
                        position: static;
                        &.upArrow {
                            transform: none !important;
                        }
                        &.downArrow {
                            transform: rotate(180deg) !important;
                            top: -1px !important;
                            position: relative;
                        }
                        &.assending{
                            transform: rotate(180deg);
                        }
                        &.decending{
                            transform: rotate(0deg);
                        }
                    }            
                }
            }
            .table_body_content{
                height: calc(100vh - 183px);
                text-align: left;
                .table_body{
                    padding: 18px 15px;
                    box-shadow: inset 0px -1px 0px #E4E5E7;                        
                    transition: 0.3s all ease-in;
                    // cursor: pointer;
                    &:hover{
                        background: #F8F9FA;
                        .action_links{
                            visibility: visible;
                            img{
                                cursor: pointer;
                            }
                        }
                    }
                    .title{
                        padding: 0px 5px 0px 22px;
                        font-style: normal;
                        font-size: 14px;
                        line-height: 14px;
                        color: #202124;   
                        cursor: default;
                        word-break: break-word;
                        img{
                            cursor: pointer;
                        } 
                    }
                    .action_links{
                        padding: 0 5px;
                        visibility: hidden;
                    }
                }
            }
            .footer-simulate{
                text-align: right;
                margin: 30px 0;                    
            }
        }
    }
}
.empty-list{
    width: 320px;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;                       
    -webkit-box-pack: center;                       
    -ms-flex-pack: center;                       
    justify-content: center;   
    height: calc(100% - 146px);
    img{
        width: 75%;
        margin: 0 auto;
    }     
    .heading{
        margin: 18px 0 8px 0;
        color: $primaryColor;
    }
    .desc{
        color: $secondaryColor;
        font-size: 14px;
        padding-top: 10px;
    }
} 
.kr-sg-inline-notification {
    padding-bottom: 10px;
}
.kr-sg-inline-notification .bulb-icon {
    margin-right: 5px;
    position: relative;
    top: -1px;
}
perfect-scrollbar .ps--active-y{
    padding-bottom: 85px;
}

.dropdown_overflow{
    background: #FFFFFF;
    box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
    // box-shadow: 0px 5px 10px rgba(32, 33, 36, 0.3);

    padding: 10px 0px;
    border: 0;        
    margin: 0px 0 0 0;
    max-height: 300px;
    overflow: auto;
}
.type_sort_dropdown{   
    .dropdown-open{                                
        .dropdown-input{
            img{
                top: 0px !important;
            }
        }
    }
}

.kr-sg-input-text{
    .kr-sg-input-search {
        input.input-search.err-block{
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 54, 70);
        }
    }
}

::ng-deep .modal_popups_.fieldsAddModalPopup .modal-header {
    height: 54px !important;
    padding: 18px 30px !important;
}
::ng-deep .modal_popups_.fieldsAddModalPopup .modal-header .close_icon {
    width: 21px !important;
    height: 21px !important;
    line-height: 18px !important;
}
::ng-deep .modal_popups_.fieldsAddModalPopup .modal-body {
    padding: 10px 28px !important;
}
::ng-deep .fieldsAddModalPopup .modal-dialog .modal-content .modal-body .top_sec{
    padding-bottom: 20px !important;
    margin-bottom: 20px !important;
}

::ng-deep .fieldsAddModalPopup.modal_popups_ .modal-footer {
    padding: 11px 30px !important;
    height: 56px !important;
}

::ng-deep .kr-modal{
    &.kr-center{
        &.smallModal{
            &.fieldsAddModalPopup{
                .modal-dialog{
                    max-width: 625px !important;
                    height: 85% !important;
                    .modal-content{
                        border-radius: 8px !important;
                    }
                }
            }
        }
    }

}