
@import './../../../app/scss/variables/variables.scss';
.add-questions-form{
    padding: 20px 30px;
    padding-bottom: 20px;
    &.followup{
        background-color: $backgroundColor;
        margin-left: 45px;
    }
    .drp_custon_input{
        .dropdown-input{
            &::before{
                display: none !important;
            }
        }
        .search-icon{
            top: 10px;
        }
    }
    .label-text{
        color: #202124;
        font-weight: 500;
        font-size: 12px;
        &.bot-res-title{
            color: #9B9B9B;
            font-weight: 600;
            font-size: 10px;
            text-transform: uppercase;
            img{
                float: right;
                position: relative;
                top: 3px;
                cursor: pointer;
            }
        }
    }
    .layout-select{
        display: flex;
        // background: #E7F1FF;
        // border-radius: 4px;
        // padding: 11px 20px;
        align-items: center;
        // margin: 20px 0 10px 0;
        position: relative;
        width: 60%;
        .title{
            color: #202124;
            font-size: 12px;
            margin-right: 6px;
            width: 85px;
        }
        .img-block{
            // padding: 9px 0px;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 4px;
            // width: 55px;
            // height: 55px;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-right: 6px;
            cursor: pointer;
            img{
                padding: 4px;
                background: #fff;
                border-radius: 5px;        
            }
            &.active{               
                background: #FFFFFF;
                border: 1px solid #0D6EFD;                           
                img{

                }
            }
        }
        .drag-info-title{
            color: #85B7FE;
            font-weight: 500;
            font-size: 14px;
        }
        .delete-icon{
            position: absolute;
            right: 15px;
            cursor: pointer;
        }
    } 
    .body-top-content{
        padding: 10px 0 10px;
        .question-content{
            .title-que{
                color: #202124;
                font-weight: 500;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    display: inline-block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 10px;
                }
                img{
                   cursor: pointer;
                }
            }
            .keywords{
                font-size: 12px;
                color: #9AA0A6;
                .key-title{
    
                }
                .keys{
                    padding: 0 0 0 8px;
                }
            }                            
            .bot-response-title{
                color: #9AA0A6;
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 2px;
                margin-top: 15px;
            }
            .condition-tags{
                color: #9AA0A6;
                font-weight: normal;
                font-size: 12px;
            }
            .condition-view-mode{
                background: #F8F9FA;
                border-radius: 10px;
                padding: 15px 20px;
                margin-top: 25px;
                .condition-view-mode-data{
                    margin-bottom: 6px;
                    .tag-name{
                        color: #5F6368;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 12px;
                        border: 1px solid #BDC1C6;
                        box-sizing: border-box;
                        border-radius: 4px;
                        padding: 2px 6px;
                        display: inline-block;
                        margin-right: 5px;
                    }
                    .default-data{
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        display: inline-block;
                        margin-right: 5px;
                        &.and-rule{
                            color: #9AA0A6;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
            .conditionalBlock{
                color: #202124;
                font-size: 14px;   
                padding-right: 10px;                                                                                           
            }
            .bot-response-view-mode{         
                .split_mode{
                    &.split_mode_verticle{
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        border-radius: 8px;
                        .img-view-mode{
                            width: 50%;                           
                            background: #E8E8E8;
                            padding: 10px;
                            border-radius: 8px 0px 0px 8px;
                            align-items: center;
                            display: flex;
                        }
                        .desc-info{
                            width: 50%;
                            padding: 10px 0px 10px 20px !important;
                        }
                    }
                }                                                     
                .desc-info{
                    line-height: 21px;
                    padding: 10px 0 20px 0;
                    // border-bottom: 1px solid #E4E5E7;
                    &:last-child{
                        border: 0;
                        padding-bottom: 0;
                    }
                }
                .img-view-mode{
                    padding: 10px 0 20px 0;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        // height: 200px;                                        
                    }
                }
            }
        } 
    }
    .add-alternative-questions{
        padding: 0px 0px;
        align-items: center;
        // background: #EFF0F1;
        margin: 40px 0 0 0;
        .question-name{
            color: #202124;
            font-weight: 500;
            font-size: 14px;
        }
        .que-desc{
            color: #8A959F;
            font-size: 12px;
        }
        .kr-sg-button-primary{
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid #BDC1C6;
            background: #FFFFFF;
            color: #202124;
        }
    }
    .added-questions-list{
        padding: 13px 0px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px #E4E5E7;
        position: relative;
        transition: 0.3s all ease;
        .question-name{
            color: #202124;
            font-weight: 500;
            font-size: 14px;
            padding-right: 20px;
        }
        .added-tags{
            color: #5F6368;
            font-size: 12px;
            padding-right: 20px;                                
        }
        .delete-icon{                               
            display: none;
            position: absolute;
            right: 30px;
            top: 27px;
        }
        &:hover{
            .delete-icon{                                   
                display: block;
                &.pos-trash {
                    top: 16px;
                }
            }
        }
    }
    .responseEditorContainer{
        background: #F3F3F3;
        border-radius: 10px;
        padding: 0 20px 20px 20px;
        margin: 15px 0;        
        .left_sec{           
            padding: 0;
            padding-right: 15px;
            .content-data{
                .multi-select{
                    .kr-sg-toggle {
                        .slider {
                            span{
                                top: 0 !important;
                            }
                        }
                    }
                }
            }
            }
            .bot_rsponse_advance_mode{
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin: 20px 0;
                .delete-response{
                    position: absolute;
                    right: -16px;
                    margin-top: -2px;
                    cursor: pointer;
                }
                   
            }
        }
        .right_sec{           
            padding: 0;
            padding-left: 15px;
            .tabs-sec{
                .tab-title {
                    color: #595959;
                }
            }
            .content-data{
                background: #ECECEC;
                border: 1px dashed #ECECEC;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 25px;
                height: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                .responsePreviewBlock{
                    // background: #ffffff;
                    padding: 20px 0 20px 20px;
                    margin:  0 !important;
                    height: 327px;
                    width: 100%;
                    word-break: break-word;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07), 0px 0px 10.0172px rgba(0, 0, 0, 0.035);
                    border-radius: 8px;
                    perfect-scrollbar{
                        padding-right: 20px;
                        .desc-info{
                            font-size: 10px !important;
                            line-height: normal !important;
                            border: 0 !important;
                            padding: 0 !important;
                            margin: 0 !important;
                        }
                        .img-view-mode{
                            padding-top: 0 !important;
                        }
                        .split_mode_verticle{
                            .desc-info{
                                padding: 10px 0px 10px 20px !important;
                            }
                        }
                    }
                }
                .info-bubble-faq{
                    background: #F3F8FF;
                    border: 1px solid #85B7FE;
                    box-sizing: border-box;
                    border-radius: 4px;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px;
                    margin: 20px 0;
                    .info_img{

                    }
                    .bubnle-info{
                        color: #07377F;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        margin-left: 10px;
                    }
                    .know-more-data{
                        color: #0D6EFD;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;              
                        text-align: right;
                        width: 100%;
                        cursor: pointer;                        
                        margin-top: 16px;
                    }
                }
            }
        }                
        .bottom_sec{
            .left_sec{
                .kr-sg-input-text{
                    input{
                        &.readonly{
                            background: #EFF0F1;
                            border-radius: 4px;
                            border: 0 !important;
                            &::placeholder{
                                color: #BDC1C6;
                            }
                        }
                    }
                   }
                   .upload-image-size-info{
                    color: #9AA0A6;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                   }
                
            }
        }
    } 
    .tabs-sec{
        border-bottom: 1px solid #D8D8D8;
        margin-right: 0px;
        .tab-title{
            padding: 11px 20px;
            display: inline-block;
            color: #8A959F;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            background: transparent;
            &.active{
                color: #0D6EFD;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: -1px;
                    left: 0;
                    transition: 0.4s all ease;
                    border-bottom: 2px solid #0D6EFD;
                }
            }
        }
    }
    .text-area-editor{
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #BDC1C6;
        &.image-split-mode{
            display: flex;
            justify-content: space-between;
            .upload-content-wrapper{
                margin: 0;
                width: 49%;
                .image-selections{
                    flex-direction: column;
                    height: 100%;
                    .info-text{
                        margin-left: 0;
                        margin-top: 15px;
                    }
                }
            }
            .kr-sg-input-text-area{
                width: 49%;
                .editorContainer {
                    outline: none;
                    overflow: auto;
                    .editorDivContainer{
                        min-height: 200px;
                        outline: none;
                        overflow: auto;
                        padding-bottom: 50px;
                    }
                }
                .editor-actons{
                    .edit-action{
                        width: 25px;
                        padding: 4px 0px;
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        &.swap-positions{
            .upload-content-wrapper{
                background: #F8F9FA;
                border: 2px dashed #A8C8DD;               
                border-radius: 4px;
            }
            .kr-sg-input-text-area{
                background: #F8F9FA;
                border: 2px dashed #A8C8DD;               
                border-radius: 4px;
            }
        }
        .upload-content-wrapper{
            position: relative;
            overflow: hidden;
            background: #F8F9FA;
            border: 1px solid #BDC1C6;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: center;
            padding: 17px;
            margin: 10px 0;
            cursor: pointer;
            .image-selections{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .img_block{
                    img{

                    }
                }
                .info-text{
                    color: #4788C7;
                    font-weight: 600;
                    font-size: 14px;
                    margin-left: 20px;
                }
            }
            input{
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                padding: 0;
                border: 0;
                border-radius: 0;
                cursor: pointer;
            }
            .uploaded-image-preview{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .editor-actons{
            border: 0;
            display: flex;
            padding: 5px;
            .edit-action{
                border-radius: 4px;
                text-align: center;                                      
                margin-right: 6px;                    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                cursor: pointer;                   
                img{

                }
            }                
        }
        .kr-sg-input-text-area{
            position: relative;
            border-top: 1px solid #BDC1C6;
            box-sizing: border-box;
            // border-radius: 4px;
            padding: 0 0px 0 20px;            
            line-height: normal;
          
            .editor-actons{
                position: absolute;
                bottom: 10px;
                border: 0;
                left: 20px;
                display: flex;
                .edit-action{
                    background: #EFF0F1;
                    border-radius: 4px;
                    text-align: center;                                      
                    margin-right: 6px;                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;                   
                    img{

                    }
                }                
            }
            .external-tab-content{
                padding: 20px 20px 20px 0px;
            }
            textarea{
                min-height: 320px;
                resize: vertical;
                border: 0;
                padding: 18px 20px 0 0;
                color: #292929;
                font-size: 14px;
                line-height: 24px;
                background: transparent;
                resize: none;
                &::-webkit-resizer {                    
                    border-color: 0;
                    background-image: url("^assets/icons/editor/bg-resize.svg");
                    width: 15px;
                    height: 15px;                                        
                }
            }
        }
    }   
    .btn-sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        button{
            margin-right: 20px;
            font-size: 14px;
        }
    }      


.deleteResponseDiv{
    position: relative;
    float: right;
    color: #DD3646;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    img{
        margin-right: 6px;
        position: relative;
        top: -2px;
    }
}
.advanced_mode_faq{
    position: relative;
    float: right;
    .kr-sg-toggle {
        position: relative;
        display: inline-block;
        margin-left: -200px;
        width: 30px;
        height: 16px;
        input{
            opacity: 0;
            width: 0;
            height: 0;
            &:checked{
                + .slider{
                    border: 1px solid #0D6EFD;
                    background: #0D6EFD;
                    &::before{
                        -webkit-transform: translateX(13px);
                        -ms-transform: translateX(13px);
                        transform: translateX(13px);
                        background-color: #fff;
                    }
                    span{
                        &.yes{
                            color: #161620;
                        }  
                        &.no{                                                        
                            color: #9AA0A6;                                    
                        }                                                          
                    }
                    span{
                        &.enabled{
                            color: $primaryColor;
                            display: block;
                        }  
                        &.disabled{
                            display: none;
                        }                                                          
                    }                
                }
                &:disabled{
                    + .slider{
                        background-color: $hoverColor;
                        opacity: 0.3;
                        box-shadow: 0 0 1px $hoverColor;
                    }
                }
            }
            &:focus{
                + .slider{                
                    // box-shadow: 0 0 1px $hoverColor;
                    border: 1px solid #0D6EFD;
                }
            }   
            &:disabled{
                cursor: auto;            
            }   
        }
        .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 18px;
            border: 1px solid #BDC1C6;
            background: #fff;
            span{
                &.no{                           
                    font-size: 12px;
                    margin-left: -65px;
                    color: #161620;                            
                }
                &.yes{                                                        
                    color: #9AA0A6;
                    padding-left: 40px;
                    font-size: 12px;
                }
            }
            &::before{
                position: absolute;
                content: "";
                height: 12px;
                top: 1px;
                width: 12px;
                left: 2px;
                right: 0;
                background-color: #BDC1C6;
                transition: 0.4s;
                border-radius: 50%;
            }
        }
    }           
} 
.imageUrlAdded{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #9AA0A6;
    margin-left: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
:host ::ng-deep .alternative-question-results{
    .alternative-question{
        padding: 15px 0px !important;
    }  
}
:host ::ng-deep .example-chip-list {
    width: 100%;
    .and{
        text-transform: uppercase;
        font-size: 10px;
        color: #6D6868;
        padding: 0 7px 0 10px;
    }
    .mat-form-field-wrapper{
        padding: 0;
        .mat-form-field-flex{
            .mat-form-field-infix{
                margin: 0;
                padding: 0;
                border: 0;
                .mat-chip-list{
                    .mat-chip-list-wrapper{
                        border-radius: 3px;
                        border: solid 1px #BDC1C6;       
                        margin: 0;
                        font-family: Inter !important;
                        background-color: white;
                        min-height: 34px;
                        .mat-input-element{
                            margin: 0;
                            border: 0;
                            height: 32px;
                            padding-left: 10px;
                            &:focus{   
                                border: 0 !important;                             
                                outline: 0 !important;
                            }
                        }
                        .mat-chip{
                            border-radius: 4px;
                            background-color: #EFF0F1;
                            padding: 0px 9px;
                            margin: 3px 0px 3px 3px;
                            min-height: 26px;
                            &:hover{
                                &::after{
                                    opacity: 0.09;
                                }
                            }
                            .mat-val{
                                color: #202124;
                                font-size: 12px;
                                font-weight: normal;                                
                            }
                            .mat-icon{
                                width: auto;
                                height: auto;
                                opacity: 0.8;
                                img{
                                    width: 11px;
                                    height: 11px;
                                    vertical-align: middle;
                                    position: relative;
                                    top: -1px;
                                    left: 2px;
                                }
                            }
                        }                        
                    }                        
                }
            }
        }                        
    }
 
    
    .mat-form-field-label-wrapper{
        padding: 0;
        height: 32px;                            
        top: 2px;
        .mat-form-field-label{
            margin: 0;
            top: 6px;
            left: 10px;
            span{
                font-weight: 400 !important;
                color: #9B9B9B !important;
            }
        }
    }
    .mat-form-field-subscript-wrapper{
        margin: 0;
        top: 0;
    }
    .mat-form-field-underline{
        display: none;
    }
} 

:host ::ng-deep .ace_print-margin {
    visibility: hidden;
    display: none;
}
.add_image_button_sec{
    margin: 17px 0 0 0;
    .dec-info-text{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;        
        color: #9AA0A6;
        margin-left: 15px;
    }
}
.-ml-20{
    margin-left: -20px;
}

.conditional-sec-new{
    background: #F8F9FA;
    border-radius: 10px;
    padding: 17px 20px;
    margin-top: 25px;
    .input-conditions{           
        padding: 0;
        
        .input-bg-sec{
            width: 100%;
            background: #F1F1F1;
            border-radius: 4px;
            padding: 16px 20px;
            .search-content-sec{
                align-items: center;
                margin-bottom: 16px !important;
                .title{
                    color: #9AA0A6;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
            .setparameetres-sec{
                align-items: center;                    
                .title{
                    color: #9AA0A6;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }                    
            }
            .tags{
                padding-right: 0;
                .chip-sys-data{
                    width: 100%;
                    background: #fff;
                }
            }
            .action-scontent-sec{
                align-items: center;
                margin-bottom: 16px !important;
                .title{
                    color: #9AA0A6;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
                .right-side-sec{
                    app-range-slider{
                        .custom-created-range-slider{
                            .single-slider{
                                width: 100%;
                                margin: 0;
                                .slider-track-high{
                                    background: #E4E5E7;
                                }        
                                .slider-selection{
                                    background: #0D6EFD !important;
                                }                            
                                .countThreshold{
                                    width: 100%;
                                    display: none;
                                }                                    
                                .slider-horizontal{
                                    width: 100%;
                                    .tooltip-main{
                                        display: none;
                                    }
                                    .slider-tick, .slider-handle{
                                        background: #0D6EFD !important;
                                        box-shadow: 0px 0.25px 1px rgba(7, 55, 127, 0.25), 0px 0.85px 3px rgba(0, 0, 0, 0.19);
                                    }   
                                }
                                .slider-track{
                                    height: 2px;
                                    width: 100%;
                                    margin-top: -3px;
                                }
                            }                               
                        }
                    }
                    .result-slider-title{
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        position: relative;
                        top: -2px;
                    }
                    .slider-count{
                        color: #000000;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 22px;
                        padding-left: 5px;
                    }
                }
            }
            .response-content-sec{
                align-items: center;
                margin-bottom: 16px !important;
                .title{
                    color: #9AA0A6;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
        .delete-rule{
            margin-left: 10px;
            cursor: pointer;
        }
    }
}
.dropdownDiv{
    padding: 0 !important;
    z-index: 999;
    .kr-sg-dropdowns{
        .dropdown-open {
            .dropdown-input{
                height: 30px;
                line-height: 28px;
            }
        }
    }
    &::after{
        display: none;
    }
}
.mb-13{
    margin-bottom: 13px;
}
.add-condition{
    color: #0D6EFD;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 0;
    cursor: pointer;
    display: inline-block;
    img{
        margin-right: 6px;
    }
}
.conditional-sec-new{
    .date-chip {
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-infix {
                    .mat-chip-list {
                        .mat-chip-list-wrapper {
                            min-height: 34px;
                        }
                    }
                }
            }
        }
    }
}

.select_data_placeholder {
    padding-left: 10px;
    color: #BDC1C6;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACfSURBVHgB3ZDBDcIwEATXTvinBErgiSBIC6EASoBKKCUlpAIkPyiADqADUoDBXGTuB07yzVjy7eP2tFrgC8kCf1iSc9VWhUfWrLg7/jLkyOpSLnbabFgdAtBgEOaWA0GiGOfxOqVWZ7CUcdZIBXqP22eMF1lIzntqP4QAAzzU4K7usk0ZSu4pttpiJFMwaEtcs0rXKk9oTffHyvp5w7cfn3EjP1+jAAsAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right;
    width: 108px;
    &.w-120 {
        width: 120px;
    }
}
.info-number-placeholder {
    color: #9AA0A6;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin: 4px 0;
}
.dropdown-menu.content-menu li.active {
    font-weight: 800;
    background-color: transparent !important;
}