<div class="add-questions-form" [ngClass]="inputClass">
  <form [formGroup]="form">
    <div class="kr-sg-input-text mb-15">
      <div class="label-text">Question</div>
      <input type="text" placeholder="Enter your question" class="input-text" formControlName="question">             
    </div>
    <div for="tagInput" class="label-text">Tags</div>
    <mat-form-field class="example-chip-list mb-15" [floatLabel]="'never'">
      <mat-chip-list #chipList aria-label="tag selection">
        <mat-chip *ngFor="let tag of tags; let index = index;" (removed)="remove(tag)">
            <div class="mat-val" (click)="$event.stopPropagation()"> {{tag}}</div>
            <mat-icon matChipRemove><img src="assets/images/close.svg"></mat-icon>
        </mat-chip>
        <input placeholder="Type & enter"
              (focus)= "getAltTags($event)"
              [value] = "typedQuery"
               [matChipInputFor]="chipList"
               [matAutocomplete]="suggestedItems"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)" id="tagInput" #suggestedInput (click)="$event.stopPropagation()">
        </mat-chip-list>
      <mat-autocomplete #suggestedItems="matAutocomplete" (optionSelected)="selectedTag($event)">
        <ng-container *ngFor = "let suggestion of suggestionTags">
          <mat-option *ngIf="checkDuplicateTags(suggestion)">
            {{suggestion}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
    <p class="d-none">Group</p>
    <app-group-input class="d-none"></app-group-input>
    <div class="label-text bot-res-title">Bot Response <img *ngIf="false" src="assets/icons/sidemenu/delete-table.svg"></div>
    <md-editor formControlName="botResponse" [options]="options" required height="300px"></md-editor>
    <div class="layout-select hide">
      <div class="d-flex align-items-center m-0 col-7 p-0">
        <div class="title">Select Layout</div>
        <div class="img-block active">
          <img src="assets/icons/editor/no-image.svg" class="d-none">
          <img src="assets/icons/editor/no-image-active.svg">
        </div>
        <div class="img-block">
          <img src="assets/icons/editor/image-horizantal.svg">
          <img src="assets/icons/editor/image-horizantal-active.svg" class="d-none">
        </div>
        <div class="img-block">
          <img src="assets/icons/editor/image-vertical.svg">
          <img src="assets/icons/editor/image-vertical-active.svg" class="d-none">
        </div>
      </div>
      <div class="col-5 pr-0 drag-info-title">Drag to swap the position of the image</div>
    </div>
    <!-- add clases when image split mode .image-split-mode and swapmode add this class .swap-positions-->
    <div class="text-area-editor" *ngIf="false">
      <div class="upload-content-wrapper">
        <div class="image-selections">
            <div class="img_block"><img src="assets/icons/editor/upload-image.svg"></div>
            <div class="info-text">Upload Image or Video</div>
        </div>
        <input type="file" name="myfile"/>
        <div class="uploaded-image-preview d-none">
          <img src="assets/icons/sidemenu/card-image.png">
        </div>        
      </div>
      <div class="kr-sg-input-text-area"> 
        <div class="tabs-sec">
          <span class="tab-title active">editor</span>
          <span class="tab-title">&lt;/&gt; CODE</span>
        </div>
        <div class="editor-actons">
          <!-- <span class="edit-action">
            <img src="assets/icons/editor/alphabits.svg">
          </span> -->
          <span (click)="onSelected('italic')" class="edit-action">
            <img src="assets/icons/editor/italic.svg">
          </span>
          <span (click)="onSelected('bold')" class="edit-action">
            <img src="assets/icons/editor/bold.svg">
          </span>
          <span  class="edit-action">
            <img src="assets/icons/editor/link.svg">
          </span>
          <span (click)="onSelected('indentLeft')" class="edit-action">
            <img src="assets/icons/editor/align-left.svg">
          </span>
          <!-- <span class="edit-action">
            <img src="assets/icons/editor/align-center.svg">
          </span> -->
          <span (click)="onSelected('indentRight')" class="edit-action">
            <img src="assets/icons/editor/align-right.svg">
          </span>
          <span class="edit-action" (click)="onSelected('ordered')">
            <img src="assets/images/markup/list-ordered.svg">
          </span>
          <span (click)="onSelected('unordered')"  class="edit-action">
            <img src="assets/images/markup/list-unordered.svg">
          </span>
          
        </div>       
        <textarea  formControlName="botResponse" class="input-text" id="mainChatInputContainer"></textarea>                                
      </div>
    </div>
    <div class="btn-sec">
      <div class="left-btns">
        <button class="kr-sg-button-primary btn_lg" (click)="save()" [disabled]="form.invalid || loading">{{loading ? 'Saving..' : 'Save'}}</button>
        <button class="kr-sg-button-secondary btn_lg" (click)="cancel()">Cancel</button>
      </div>
      <div class="right-btns">        
        <button class="kr-sg-button-secondary btn_lg mr-0 d-none"><img src="assets/icons/editor/plus-add.svg" class="mr-2">Another Bot Response</button>
        <button class="kr-sg-button-tertiary" (click)='addAltQues()'>Add Alternate Question</button>
        <button class="kr-sg-button-tertiary" (click)='addFollowupQues()'>Add Followup Question</button>
      </div>
    </div>
  </form>
  <div *ngIf='isAdd'>
    <p>Add Alternate Question</p>
    <app-tags-inp [faqServ]='faqServiceAlt'></app-tags-inp>
  </div>
  <div *ngIf='isAlt'>
    <p>Add Followup Question</p>
    <app-tags-inp [faqServ]='faqServiceFollow'></app-tags-inp>
  </div>
</div>
<!-- <tui-editor [options] = "markOptions" ></tui-editor> -->
