<div class="add-faq-modal-popup">
<ng-template #botResponse let-responses="responses" let-responseObj='responseObj' let-type="reponseType" let-id='id' let-index='index'>  
  <!-- <md-editor formControlName="botResponse" [options]="options" required height="300px"></md-editor> -->
  <!-- add clases when image split mode .image-split-mode and swapmode add this class .swap-positions-->
  <!-- <div class="text-area-editor" [ngClass]="{'swap-positions': responseObj.responseType==='horizontalSplit','image-split-mode': responseObj.responseType ==='verticalSplit'}"> -->
    <div class="text-area-editor">
    <!-- <div class="upload-content-wrapper hide"  *ngIf="(responseObj.responseType !== 'default')">
      <div class="image-selections" (click)="openImgApp(responseObj,index,type)" *ngIf="!(responseObj && responseObj.image && responseObj.image.url)">
          <div class="img_block"><img  src="assets/icons/editor/upload-image.svg"></div>
          <div class="info-text">Upload Image or Video</div>
      </div>
      <div (click)="openImgApp(responseObj,index,type)" class="uploaded-image-preview"  *ngIf="responseObj && responseObj.image && responseObj.image.url && ((responseObj.responseType==='horizontalSplit') || (responseObj.responseType ==='verticalSplit'))">
        <img src="{{responseObj.image.url}}">
      </div>        
    </div> -->
    
    <div class="editor-actons" >
      <!-- <span class="edit-action">
        <img src="assets/icons/editor/alphabits.svg">
      </span> -->
      <span (click)="onSelected('bold')" class="edit-action">
        <img src="assets/icons/editor/bold.svg">
      </span>
      <span (click)="onSelected('italic')" class="edit-action">
        <img src="assets/icons/editor/italic.svg">
      </span>
      <span  class="edit-action" (click)="onSelected('link')">
        <img src="assets/icons/editor/link.svg">
      </span>
      <span (click)="onSelected('indentLeft')" class="edit-action">
        <img src="assets/icons/editor/align-left.svg">
      </span>
      <!-- <span class="edit-action">
        <img src="assets/icons/editor/align-center.svg">
      </span> -->
      <span (click)="onSelected('indentRight')" class="edit-action">
        <img src="assets/icons/editor/align-right.svg">
      </span>
      <span class="edit-action" (click)="onSelected('ordered')">
        <img src="assets/images/markup/list-ordered.svg">
      </span>
      <span (click)="onSelected('unordered')"  class="edit-action">
        <img src="assets/images/markup/list-unordered.svg">
      </span>
    </div> 
    <div class="kr-sg-input-text-area"> 
      <div *ngIf="responseObj.type==='javascript'" class="-ml-20">
         <ngx-codemirror #codemirror [options]="codeMirrorOptions" [(ngModel)]="responseObj.text" (ngModelChange)="setEditorContent($event,responseObj,type,index)"> </ngx-codemirror>
      </div>
      <textarea [perfectScrollbar]="config"  (focus)="selectCurrentFocusedResponse(id,responseObj,type,index)"  [(ngModel)]="responseObj.text" class="input-text" style="padding-bottom: 40px;" id="mainChatInputContainer{{type}}_{{index}}"></textarea>
      <div *ngIf="responseObj.type==='external'" class="external-tab-content" >
        <div class="kr-sg-dropdowns mb-3">
          <div class="label-text">{{"addFaq.source" | translate}}</div>
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Custom</button>                                            
              <ul class="dropdown-menu content-menu">
                <li><a>{{"addFaq.custom" | translate}}</a></li>
                <li><a>{{"addFaq.add_new_options" | translate}}</a></li>
              </ul>
          </div>
        </div>
        <div class="kr-sg-input-text mb-3">
            <div class="label-text">{{"addFaq.referenceId" | translate}}</div>
            <input type="text" placeholder="Enter ReferenceId" class="input-text" autocomplete="off">
        </div>
        <!-- <button class="kr-sg-button-primary btn_lg" (click)="openPreviewModal()">Preiew</button> -->
     </div>
    </div>
  </div>
  <!-- <div *ngIf="(responseObj.responseType !== 'default')" class="add_image_button_sec">
   <button class="kr-sg-button-secondary btn_lg" (click)="openImgApp(responseObj,index,type)">Add Image</button>
   <span class="imageUrlAdded" *ngIf="responseObj && responseObj.imgurl" title="{{responseObj.imgurl}}">{{responseObj.imgurl}}</span>
   <span class="dec-info-text" *ngIf="(responseObj.responseType ==='verticalSplit') && (!( responseObj.imgurl))">Add Image with Dimensions of 200px by 400px </span>
   <span class="dec-info-text" *ngIf="(responseObj.responseType ==='horizontalSplit') && (!(responseObj.imgurl))">Add Image with Dimensions of 400px by 200px </span>
  </div> -->
</ng-template>
<ng-template #botResponsePreview let-responses="responses" let-responseObj='responseObj' let-type="reponseType"
  let-id='id' let-index='index'>
  <div class="body-top-content" (click)="currentEditIndex = index">
    <div class="question-content">
      <div class="conditionalBlock bot-response-view-mode">
        <div class="split_mode">
          <div class="img-view-mode" *ngIf="responseObj.image_url">
            <img src="{{responseObj.image_url}}">
          </div>
          <ng-container>
            <div class="desc-info" 
              [innerHtml]='convertMDtoHTML.helpers.convertMDtoHTML(responseObj.text)'></div>
            <div class="desc-info desc-info-javascript-message" *ngIf="responseObj.type==='javascript'">
              </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="add-questions-form" [ngClass]="inputClass">
  <form [formGroup]="form">
    <div class="kr-sg-input-text mb-15">
      <div class="label-text">{{"addFaq.question" | translate}}</div>
      <input type="text" placeholder="Enter Your Question" class="input-text" formControlName="question" autocomplete="off">             
    </div>
    <!-- <div for="tagInput" class="label-text">Key Terms</div>
    <mat-form-field class="example-chip-list mb-15" [floatLabel]="'never'">
      <mat-chip-list #chipList aria-label="tag selection">
        <mat-chip *ngFor="let tag of tags; let index = index;" (removed)="remove(tag)">
            <div class="mat-val" (click)="$event.stopPropagation()"> {{tag}}</div>
            <mat-icon matChipRemove><img src="assets/images/close.svg"></mat-icon>
        </mat-chip>
        <input placeholder="Type & enter"
              (focus)= "getAltTags($event)"
                [value]="typedQuery"
               [matChipInputFor]="chipList"
               [matAutocomplete]="suggestedItems"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)" id="tagInput" #suggestedInput (click)="$event.stopPropagation()" autocomplete="off">
        </mat-chip-list>
      <mat-autocomplete #suggestedItems="matAutocomplete" (optionSelected)="selectedTag($event)">
        <ng-container *ngFor = "let suggestion of suggestionTags">
          <mat-option *ngIf="checkDuplicateTags(suggestion)">
            {{suggestion}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field> -->
    <!-- <div class="mb-15">
      <div class="label-text">Groups</div>
      <app-group-input></app-group-input>
    </div> -->
  </form>
  <!-- <hr> -->
  <!-- <div class="text">
    <div class="heading">Answer(s)</div>
    <div class="desc">Reorder the conditioned responses to execute in specific order</div>
  </div> -->
  <ng-container *ngFor="let faqObj of faqResponse.defaultAnswers ; let index = index">
    <div class="body-top-content pointer" title="Click to edit this response" (click)="currentEditIndex = index">
      <div class="question-content">
        <div class="label-text" *ngIf="index==0">Response <span *ngIf="faqData && faqResponse.defaultAnswers.length>1">({{faqResponse.defaultAnswers.length}})</span>  <div class="deleteResponseDiv red" *ngIf="faqResponse.defaultAnswers.length == 1" (click)="$event.stopPropagation();delete(index)" ngbTooltip="Delete"><img src="assets/images/delete_response.svg"></div></div>
       
        
        <div class="conditionalBlock bot-response-view-mode" [ngClass]="{'pl-2':faqResponse.defaultAnswers.length>1}">
          <div class="bot-response-title"  *ngIf="faqResponse.defaultAnswers.length > 1" [ngClass]="{'text-black':currentEditIndex == index}"> {{"addFaq.response" | translate}}<span *ngIf="faqResponse.defaultAnswers.length > 1">{{index + 1}}</span>
            <div class="deleteResponseDiv red" (click)="$event.stopPropagation();delete(index)" ngbTooltip="Delete"><img src="assets/images/delete_response.svg"></div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="responseEditorContainer" [ngClass]="{'bg-transparent px-0 py-0':currentEditIndex !== index, 'ml-2':faqResponse.defaultAnswers.length>1}">
    <div  [hidden]="currentEditIndex !== index">
      <div class="bottom_sec ">
        <div class="col-12 left_sec editResponseMode">        
          <div class="content-data">
              <ng-container *ngTemplateOutlet="botResponse; context{$implicit: faqResponse,responses:faqResponse.defaultAnswers,responseObj:faqObj,reponseType:'default',id:'default_',index:index }"> </ng-container>
          </div>
        </div>  
        <div class="col-12 right_sec previewResponseMode d-none"> 
          <div class="content-data">
              <div class="preview-response-title"> {{"addFaq.response_preview" | translate}} </div>
            <div class="responsePreviewBlock">
              <perfect-scrollbar>
                <ng-container *ngTemplateOutlet="botResponsePreview; context{$implicit: faqResponse,responses:faqResponse.defaultAnswers,responseObj:faqObj,reponseType:'default',id:'default_',index:index }"> </ng-container>
              </perfect-scrollbar>
            </div>
          </div>  
        </div>
      </div>   
      <div class="bottom_sec d-flex">
        <div class="col-6 left_sec d-none">  
          <!--          
          <div class="multi-select mb-2">         
            <label class="kr-sg-toggle">                                       
              <input type="checkbox" class="h-auto" [(ngModel)]="uploadImage.slide">
              <div class="slider">
                <span class="enabled">Yes</span>
                <span class="disabled">No</span>
              </div>
            </label>
          </div> -->
          <div class="kr-sg-input-text mb-2 mt-3 "> 
             <!-- image optional preview related changes -->
             <div class="d-flex justify-content-between align-items-center">
              <div class="label-text w-100">{{"addFaq.image_optional" | translate}} </div>
              <div class="know-more-data" (click)="openPreviewImgModal(faqObj.image_url);">{{"addFaq.preview" | translate}} </div>
            </div>
            <!-- image optional preview related changes -->
            <input type="text" autocomplete="off" placeholder="http(s)://" class="input-text"  [(ngModel)]="faqObj.image_url" name="appName">         
          </div>
          <!-- <div class="upload-image-size-info">Upload Image Dimensions of 200px by 400px </div> -->
        </div>
        <div class="col-12 right_sec p-0" *ngIf="bubblePopUp">        
          <div class="content-data p-0 bg-transparent mt-3 h-auto">
            <!-- <ng-container *ngIf="image && image.url">
              <div class="preview-title mt-3 pt-1">IMAGE</div>
              <div class="responsePreviewBlock adjust-height">
                <perfect-scrollbar>
                    <img [src]="image.url">
                </perfect-scrollbar>
              </div>  
            </ng-container>              -->
              <div class="info-bubble-faq my-0">
                <div class="info_img">
                  <img src="assets/icons/faq/Info.svg">
                </div>
                <div class="bubnle-info" >
                  {{"addFaq.template_outlook" | translate}} 
                </div>
                <img class="close-info"(click)="closebubblePopUp()"src="assets/icons/modal-close.svg">                
                <!-- <div class="know-more-data">Know more</div> -->
            </div>
          </div>
        </div>
      </div>   
    </div>
    <div class="col-12 p-0 pointer body_sec" title="Click to edit this response" [hidden]="currentEditIndex == index">
      <div class="previewResponseMod">
      <div class="responsePreviewBlock">
      <ng-container *ngTemplateOutlet="botResponsePreview; context{$implicit: faqResponse,responses:faqResponse.defaultAnswers,responseObj:faqObj,reponseType:'default',id:'default_',index:index }"> </ng-container>
    </div>
  </div>
    </div>
    <div class="d-flex mt-4 ml-2" *ngIf="(currentEditIndex === index)">
      <label>{{"addFaq.add_conditions" | translate}}</label>
      <div>
        <label class="kr-sg-toggle with-label" >
          <input type="checkbox" [checked]='(faqObj.answerType === "condition")' (click)="changeResponseType(faqObj,index)">
          <div class="slider"><span class="disabled"></span><span class="enabled"></span></div>
        </label>
      </div>
    </div>
    
    <div class="body-top-content">
      <div class="question-content">
        <div class="conditionalBlock">
          <div class="condition-view-mode" *ngIf="(faqObj && faqObj.answerType === 'condition') && (currentEditIndex !== index)">
            <div class="label_text">{{"addFaq.conditions" | translate}}</div>
            <ng-container *ngFor="let item of faqObj.conditions;  let index = index">
              <div class="condition-view-mode-data">
                <span class="default-data and-rule" *ngIf="index > 0">{{"addFaq.add" | translate}}</span>
                <span class="tag-name">{{item.contextType}}</span>
                <span class="tag-name">{{item.contextCategory}}</span>
                <span class="default-data">{{item.operator}}</span>   
                <span class="tag-name" *ngFor="let value of item.value">{{value}}</span>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="(faqObj && faqObj.answerType === 'condition') && (currentEditIndex === index)">
           <div class="conditional-sec-new">
              <!-- <div class="label-text mb-2">Conditions</div> -->
              <div class="input-conditions col-12">
                <ng-container *ngFor="let ruleObj of faqObj.conditions; let conditionIndex = index">
                    <div class="d-flex align-items-center w-100 mb-13">
                        <div class="input-bg-sec">
                            <div class="row m-0 search-content-sec">
                                <div class="col-2 p-0 title">
                                  {{"addFaq.select_contect" | translate}}
                                </div>
                                <div class="col-4 pr-0">
                                    <div class="kr-sg-dropdowns w-auto" ngbDropdown (click)="currentEditInex = index" >                           
                                        <div class="dropdown dropdown-open">
                                            <button class="dropdown-toggle dropdown-input"  data-toggle="dropdown" ngbDropdownToggle>{{'businessRules.' +  ruleObj.contextType | translate}}</button>                                            
                                            <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>                                                                          
                                            <li ngbDropdownItem *ngFor="let contextType of ruleOptions.contextTypes" (click)="ruleSelection(ruleObj,contextType,'contextType')"  [ngClass]="{'active':ruleObj.contextType===contextType}"><a>{{'businessRules.' + contextType | translate}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 search-content-sec">
                                <div class="col-2 p-0 title">
                                  {{"addFaq.select_parameters" | translate}} 
                                </div>
                                <div class="col-4 pr-0">
                                  <div class="kr-sg-dropdowns w-auto" ngbDropdown (click)="currentEditInex = index" *ngIf="ruleObj.contextType !=='userContext'">
                                      <div class="dropdown dropdown-open">
                                          <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>
                   {{"businessRules." + ruleObj.contextCategory | translate}}
                  </button>
                                          <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                              <li ngbDropdownItem *ngFor=" let contextCategory of ruleOptions[ruleObj.contextType]" (click)="ruleSelection(ruleObj,contextCategory,'contextCategory')" [ngClass]="{'active':ruleObj.contextCategory===contextCategory}">
                                                  {{"businessRules." + contextCategory | translate}}
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="kr-sg-input-text" *ngIf="ruleObj.contextType ==='userContext'">                               
                                    <input type="text" id="userType" [(ngModel)]="ruleObj.contextCategory" class="input-text">
                                </div>
                                
                              </div>
                              <div class="col-3 pr-0">
                                <div class="kr-sg-dropdowns d-inline-block" ngbDropdown (click)="currentEditInex = index">
                                    <div class="dropdown dropdown-open">
                                        <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>{{((ruleObj.dataType)?("businessRules." + ruleObj.dataType): 'choose_an_option')  | translate}}</button>
                                        <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                          <ng-container *ngFor="let dataType of ruleOptions.dataTypes">
                                            <li ngbDropdownItem [hidden]="(dataType == 'date' || dataType == 'number') && ruleObj.contextType =='searchContext'" (click)="ruleSelection(ruleObj,dataType,'dataType')" [ngClass]="{'active':ruleObj.dataType===dataType}">{{"businessRules." + dataType | translate}}
                                            </li>
                                          </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 pr-0">
                              <div class="kr-sg-dropdowns d-inline-block" ngbDropdown (click)="currentEditInex = index">
                                  <div class="dropdown dropdown-open">
                                      <button class="dropdown-toggle dropdown-input" id="dropdownBasic1" ngbDropdownToggle>{{((ruleObj.operator)?("businessRules." + ruleObj.operator):'choose_an_option')  | translate}}</button>
                                      <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                          <ng-container *ngIf="ruleObj.dataType && conditions[ruleObj.dataType]">
                                              <li ngbDropdownItem *ngFor="let operator of conditions[ruleObj.dataType]" (click)="ruleSelection(ruleObj,operator,'operator')" [ngClass]="{'active':ruleObj.operator===operator}">{{"businessRules." + operator | translate}} </li>
                                          </ng-container>
                                      </ul>
                                  </div>
                              </div>
                             
                            </div>
                        </div>
                        <div class="row m-0 setparameetres-sec">
                          <div class="col-2 p-0 title"></div>
                          <div class="tags row m-0 col-10">
                              <div class="chip-sys-data ">
                                  <mat-form-field class="example-chip-list" [ngClass]="{'date-chip': ruleObj.dataType == 'date'}">
                                      <mat-chip-list #chipList [attr.aria-label]="'tag selection'" class="date-range-picker-right-d-none">
    
                                          <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType !== 'date') && (ruleObj.dataType !== 'number')">
                                              <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                  <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag)">
                                                      <span class="mat-val" *ngIf="value">{{value}}</span>
                                                      <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                  </mat-chip>
                                                  <span class="and"> {{"addFaq.or_caps" | translate}}</span>
                                              </ng-container>
                                          </ng-container>
                                          <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'number')">
                                              <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                  <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag)">
                                                      <span class="mat-val" *ngIf="value && value.length && ruleObj.operator == 'between'">
                        <span *ngFor="let num of value; let numIndex = index">{{num}}<span *ngIf="!numIndex"> - </span></span>
                                                      </span>
                                                      <span class="mat-val" *ngIf="value && ruleObj.operator !== 'between'">
                        <span >{{value}}</span>
                                                      </span>
                                                      <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                  </mat-chip>
                                                  <span>{{"addFaq.or_caps" | translate}}</span>
                                              </ng-container>
                                          </ng-container>
                                          <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'date') && (ruleObj.operator !== 'between')">
                                              <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                  <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag)">
                                                      <span class="mat-val" *ngIf="value">{{value | dateFormatPipe: 'DD MMM YYYY'}}</span>
                                                      <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                  </mat-chip>
                                                  <span>{{"addFaq.or_caps" | translate}}</span>
                                              </ng-container>
                                          </ng-container>
    
                                          <ng-container *ngIf="ruleObj.value && ruleObj.value.length && (ruleObj.dataType === 'date') && (ruleObj.operator === 'between')">
                                              <ng-container *ngFor="let value of ruleObj.value; let index = index">
                                                  <mat-chip [selectable]="selectable" (removed)="removeTag(ruleObj.value, tag)">
                                                      <span class="mat-val" *ngIf="value && value.length">
                      <span *ngFor="let date of value; let dateIndex = index">
                        {{date | dateFormatPipe: 'DD MMM YYYY'}} <span *ngIf="!dateIndex"> - </span>
                                                      </span>
                                                      </span>
                                                      <mat-icon matChipRemove><img src="assets/images/close.svg" /></mat-icon>
                                                  </mat-chip>
                                                  <span>{{"addFaq.or_caps" | translate}}</span>
                                              </ng-container>
                                          </ng-container>
    
                                          <ng-container *ngIf="(ruleObj.dataType != 'date') && (ruleObj.dataType != 'number')">
                                              <input placeholder="Type Keyword" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addRules($event, ruleObj, i)" suggestedInput/>
                                          </ng-container>
    
                                          <ng-container *ngIf="ruleObj.dataType == 'date'">
                                              <ng-container *ngIf="ruleObj.operator === 'between'">
                                                  <span class="select_data_placeholder w-120 py-1" (click)="openDateTimePicker(ruleObj,conditionIndex)">Select Range </span>
                                                  <input class="dateRangePicker d-none" id="rangePicker_{{conditionIndex}}" ngxDaterangepickerMd #dateRangePicker placeholder="Select range" showCancel="true" [locale]="{format: 'DD/MM/YYYY hh:mm', displayFormat: 'DD MMM YYYY'}" 
                                                      (datesUpdated)="onDatesUpdated($event,ruleObj)" />
                                              </ng-container>
                                              <ng-container *ngIf="ruleObj.operator !== 'between'">
                                                  <span (click)="openDateTimePicker(ruleObj,conditionIndex)" class="select_data_placeholder py-1">Select Date</span>
                                                  <input class="singleDatePicker d-none" id="datePicker_{{conditionIndex}}" [singleDatePicker]="true" ngxDaterangepickerMd #datePicker *ngIf="ruleObj.operator !== 'between'" placeholder="Select Date" showCancel="false" [locale]="{format: 'DD/MM/YYYY hh:mm', displayFormat: 'DD MMM YYYY'}"
                                                     (datesUpdated)="onDatesUpdated($event,ruleObj)" />
                                              </ng-container>
                                          </ng-container>
    
                                          <ng-container *ngIf="ruleObj.dataType == 'number'">
                                              <input [placeholder]="ruleObj.operator == 'between' ? 'Type Range' : 'Type Keyword'" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addRules($event, ruleObj, i)" />
                                          </ng-container>
                                      </mat-chip-list>
                                  </mat-form-field>
                                  <ng-container *ngIf="ruleObj.dataType == 'number'  && ruleObj.operator == 'between'">
                                      <div class="info-number-placeholder"><img src="assets/icons/business-rules/info.svg" class="mr-1">{{"addFaq.range_seperated_by" | translate}} ‘ - ‘</div>
                                  </ng-container>
                              </div>
                          </div>
                      </div>
                    </div>   
                    <div class="delete-rule" (click)='removeRule(ruleIndex,faqObj.conditions)'>
                      <img src="assets/icons/modal-close.svg">
                    </div>
                    </div>                             
                </ng-container>               
              </div> 
           </div>
            <div class="add-condition" (click)="addNewRule(index,faqObj)"><img src="assets/icons/plus-blue.svg">{{"addFaq.add_condition" | translate}}</div>
          </ng-container>
        </div>
      </div>
    </div>
      
    </div>
  </ng-container>
  <div class="btn-sec">
    <div class="left-btns">
      <button class="kr-sg-button-secondary btn_lg mr-0" (click)="addAnotherResponse('default')"><img src="assets/icons/editor/plus-add.svg" class="mr-2" >{{"addFaq.response" | translate}}</button>
    </div>
  </div>
  <div class="btn-sec" *ngIf="!faqData && false">
    <div class="left-btns">
      <button class="kr-sg-button-primary btn_lg" (click)="save()">{{loading ? 'Saving..' : 'Save'}}</button>
      <button class="kr-sg-button-secondary btn_lg" (click)="cancel()">{{"addFaq.cancel" | translate}}</button>
    </div>
    <div class="right-btns">        
      <button class="kr-sg-button-secondary btn_lg mr-0" (click)="addAnotherResponse('default')"><img src="assets/icons/editor/plus-add.svg" class="mr-2" >{{"addFaq.add_response" | translate}}</button>
      <!-- <button class="kr-sg-button-tertiary"  *ngIf="!isFollowUp" (click)='addAltQues()'>Add Alternate Question</button>
      <button class="kr-sg-button-tertiary"  *ngIf="!isFollowUp" (click)='addFollowupQues()'>Add Followup Question</button> -->
    </div>
  </div>
  <hr>
  <div class="add-alternative-questions row" *ngIf="!isFollowUp && faqData"> 
    <div class="col-8 pl-0 pr-2">
        <div class="label-text text-truncate">{{"addFaq.alternate_questions" | translate}}
            <span *ngIf="faqData">{{faqData._source.faq_alt_questions?.length>0?'('+faqData._source.faq_alt_questions?.length+')':''}}</span>
            <!-- ({{(selectedFaq.alternateQuestions?selectedFaq.alternateQuestions.length:0)}}) -->
        </div>
        <div class="added-tags text-truncate">Add alternate forms of the question.</div>
    </div>
    <div class=" col-4 text-right pr-0 alter-add-btn" *ngIf="faqData._source.faq_alt_questions?.length>0 || isAdd">
        <button class="kr-sg-button-ghost px-0" (click)="addAltQues();" (mouseout)="addSrc = 'assets/icons/add_plus.svg'" (mouseover)="addSrc = 'assets/icons/editor/plus-add.svg'"><img src="{{addSrc}}" class="mr-2" [ngClass]="{'alternate-add-plus-icon':(addSrc === 'assets/icons/editor/plus-add.svg')}">{{"addFaq.alternate_questions" | translate}}</button>
    </div>
    <div class="col-12 p-0 " *ngIf="!faqData._source.faq_alt_questions?.length && !isAdd">
        <button class="kr-sg-button-primary btn_lg" (click)="addAltQues()">{{"addFaq.add" | translate}}</button>
    </div>
  </div>
  <div *ngIf="isAdd" class="alternative-question-results">
      <app-add-alternate-question (cancelAltQuestion)="isAdd=false;" (saveAltQuestion)="addAnotherAlternate($event)" [faqServ]="faqServiceAlt" [isFromFaqsForm]="true"></app-add-alternate-question>
  </div>
  
  <ng-container *ngIf="faqData && faqData._source && faqData._source.faq_alt_questions?.length">
  <div class="added-questions-list py-0" *ngFor="let alternateQuestion of faqData._source?.faq_alt_questions; let alterIndex = index" >
     <div class="pointer content-body-question row" *ngIf="editAltQuestionIndex !== alterIndex" (click)="editAltQuestion(alternateQuestion,alterIndex);">
      
      <div class=" col-10 group-name question-name text-truncate" title="{{alternateQuestion}}">{{alternateQuestion}}</div>
      <!-- <div class="added-tags text-truncate">
          <span class="tags-data" *ngFor="let keyword of alternateQuestion?.keywords">#{{keyword.keyword}}&nbsp;</span>
      </div> -->
      <div class="col-2 action-btns pr-1">
        <img src="assets/icons/delete-table.svg"  (click)="delAltQues(alternateQuestion,alterIndex,$event)">
      </div>
     </div>
     <div *ngIf="editAltQuestionIndex === alterIndex" class="lh-50">
      <div class="d-flex">
        <div class="input-alter-text">
          <input autocomplete="off" type="text" placeholder="Enter question" [attr.id]="faqServ?.addVariation?.alternate?'alt':'follow'" class="input-text w-100" [(ngModel)]='alternateQuestion' (keyup.enter)="closeAltQuestion();">
        </div>
        <div class="img-cancel-block">
          <img class="" src="assets/icons/modal-close.svg" (click)="alternateQuestion = altQuestionEdit;closeAltQuestion();">
        </div>
      </div>
     </div>
  </div>
  </ng-container>
</div>

<kr-modal modalType="default" #createImagePop>
  <div class="modal-header">
        <h4 class="modal-title">{{"addFaq.provide_img_url" | translate}}</h4>
      </div>
      <div class="modal-body textAlignLeft">
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">{{"addFaq.url_caps" | translate}}</div>
          <input maxlength="5128" type="text" autocomplete="off" placeholder="Enter Url" class="input-text" [(ngModel)]="imgInfo.url" name="appName">
        </div>
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">{{"addFaq.name" | translate}}</div>
          <input maxlength="128" type="text" autocomplete="off" placeholder="Enter Name" class="input-text" [(ngModel)]="imgInfo.alt" name="appName">
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!imgInfo.url"  type="button" class="btn kr-btn-primary"  data-dismiss="modal" (click)='addImage()' >Add</button>
        <!-- <button type="button" class="btn kr-btn-cancel" data-dismiss="modal" (click)="closeImgApp()">Close</button> -->
      </div>
</kr-modal>
<kr-modal modalType="default" modalClass="provideLinkPopup" #createLinkPop>
  <div class="modal-header">
        <h4 class="modal-title">{{"addFaq.provide_link_url" | translate}}</h4>
      </div>
      <div class="modal-body textAlignLeft">
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">{{"addFaq.url_caps" | translate}}</div>
          <input maxlength="1024" type="text" autocomplete="off" placeholder="App name" class="input-text" [(ngModel)]="linkInfo.link" name="LinkURL">
        </div>
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">{{"addFaq.link_text" | translate}}</div>
          <input maxlength="1024" type="text" placeholder="Enter Link Trxt" autocomplete="off" class="input-text" [(ngModel)]="linkInfo.linkText" name="LinkText">
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!linkInfo.link"  type="button" class="btn kr-btn-primary"  data-dismiss="modal" (click)='saveLink()' >Save</button>
        <button type="button" class="btn kr-btn-cancel" data-dismiss="modal" (click)="closeLinkApp()">{{"addFaq.close" | translate}}</button>
      </div>
</kr-modal>

<kr-modal modalType="default" #externalResponsePop modalClass="modal_popups_">
  <div class="modal-header">
    <div class="title">{{"addFaq.external" | translate}}</div>
    <div class="close_icon"><img (click)="closeExternalPopUpRef()" src="assets/icons/modal-close.svg"></div>
  </div>
<perfect-scrollbar class="perfect-scroll-modal-body">
  <div class="modal-body textAlignLeft">
    <div>{{"addFaq.contact_details_info" | translate}}</div>
   </div>
</perfect-scrollbar> 
  <div class="modal-footer text-left">
      <button class="kr-sg-button-secondary btn_lg" (click)="closeExternalPopUpRef()">{{"addFaq.close" | translate}}</button>
  </div>
</kr-modal>

<!-- preview image modal popup start from here -->
<kr-modal id="previewImageModalPop" modalType="default" #previewImageModalPop modalClass="modal_popups_ previewImageModalPop">
  <div class="modal-header previewImageModalPopHeader">
    <div class="title"></div>
    <div class="close_icon" (click)="closePreviewImgModal();"><img src="assets/icons/modal-close.svg"></div>
  </div>
 
    <div class="modal-body">
      <div class="previewImageBlock">
        <perfect-scrollbar>
          <img [src]="image.url">
      </perfect-scrollbar>
      </div>
    </div>
 
</kr-modal> 
<!-- preview image modal popup start from here -->
</div>