
@import './../../../app/scss/variables/variables.scss';
.add-questions-form{
    padding: 20px 30px;
    padding-bottom: 20px;
    &.followup{
        background-color: $backgroundColor;
        margin-left: 45px;
    }
    .drp_custon_input{
        .dropdown-input{
            &::before{
                display: none !important;
            }
        }
        .search-icon{
            top: 10px;
        }
    }
    .label-text{
        color: #202124;
        font-weight: 500;
        font-size: 12px;
        &.bot-res-title{
            color: #9B9B9B;
            font-weight: 600;
            font-size: 10px;
            text-transform: uppercase;
            img{
                float: right;
                position: relative;
                top: 3px;
                cursor: pointer;
            }
        }
    }
    .layout-select{
        display: flex;
        // background: #E7F1FF;
        // border-radius: 4px;
        // padding: 11px 20px;
        align-items: center;
        // margin: 20px 0 10px 0;
        position: relative;
        width: 60%;
        .title{
            color: #202124;
            font-size: 12px;
            margin-right: 6px;
            width: 85px;
        }
        .img-block{
            // padding: 9px 0px;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 4px;
            // width: 55px;
            // height: 55px;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-right: 6px;
            cursor: pointer;
            img{
                padding: 4px;
                background: #fff;
                border-radius: 5px;        
            }
            &.active{               
                background: #FFFFFF;
                border: 1px solid #0D6EFD;                           
                img{

                }
            }
        }
        .drag-info-title{
            color: #85B7FE;
            font-weight: 500;
            font-size: 14px;
        }
        .delete-icon{
            position: absolute;
            right: 15px;
            cursor: pointer;
        }
    } 
    .body-top-content{
        padding: 10px 0 10px;
        .question-content{
            .title-que{
                color: #202124;
                font-weight: 500;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span{
                    display: inline-block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 10px;
                }
                img{
                   cursor: pointer;
                }
            }
            .keywords{
                font-size: 12px;
                color: #9AA0A6;
                .key-title{
    
                }
                .keys{
                    padding: 0 0 0 8px;
                }
            }                            
            .bot-response-title{
                color: #9AA0A6;
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 2px;
                margin-top: 15px;
            }
            .condition-tags{
                color: #9AA0A6;
                font-weight: normal;
                font-size: 12px;
            }
            .conditionalBlock{
                color: #202124;
                font-size: 14px;   
                padding-right: 10px;                                                                                           
            }
            .bot-response-view-mode{                                                              
                .desc-info{
                    line-height: 21px;
                    padding: 10px 0 20px 0;
                    // border-bottom: 1px solid #E4E5E7;
                    &:last-child{
                        border: 0;
                        padding-bottom: 0;
                    }
                }
                .img-view-mode{
                    padding: 10px 0 20px 0;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        // height: 200px;                                        
                    }
                }
            }
        } 
    }
    .add-alternative-questions{
        padding: 0px 0px;
        align-items: center;
        // background: #EFF0F1;
        margin: 40px 0 0 0;
        .question-name{
            color: #202124;
            font-weight: 500;
            font-size: 14px;
        }
        .que-desc{
            color: #8A959F;
            font-size: 12px;
        }
        .kr-sg-button-primary{
            border-radius: 4px;
            font-size: 14px;
            border: 1px solid #BDC1C6;
            background: #FFFFFF;
            color: #202124;
        }
    }
    .added-questions-list{
        padding: 13px 0px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px #E4E5E7;
        position: relative;
        transition: 0.3s all ease;
        .question-name{
            color: #202124;
            font-weight: 500;
            font-size: 14px;
            padding-right: 20px;
        }
        .added-tags{
            color: #5F6368;
            font-size: 12px;
            padding-right: 20px;                                
        }
        .delete-icon{                               
            display: none;
            position: absolute;
            right: 30px;
            top: 27px;
        }
        &:hover{
            .delete-icon{                                   
                display: block;
                &.pos-trash {
                    top: 16px;
                }
            }
        }
    }
    .responseEditorContainer{
        background: #F3F3F3;
        border-radius: 5px;
      .responsePreviewBlock{
          background: #ffffff;
          padding-left:  10px !important;
        //   padding-bottom: 1.5rem!important;
        //   padding-right: 1.5rem!important;
        //   margin:  110px 1.5rem 1.5rem 1.5rem !important;
          margin:  77px 1.5rem 1.5rem 1.5rem !important;
          height: 360px;
      }
    } 
    .tabs-sec{
        border-bottom: 1px solid #D8D8D8;
        margin-right: 20px;
        .tab-title{
            padding: 11px 20px;
            display: inline-block;
            color: #8A959F;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            background: transparent;
            &.active{
                color: #0D6EFD;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: -1px;
                    left: 0;
                    transition: 0.4s all ease;
                    border-bottom: 2px solid #0D6EFD;
                }
            }
        }
    }
    .text-area-editor{
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid #BDC1C6;
        &.image-split-mode{
            display: flex;
            justify-content: space-between;
            .upload-content-wrapper{
                margin: 0;
                width: 49%;
                .image-selections{
                    flex-direction: column;
                    height: 100%;
                    .info-text{
                        margin-left: 0;
                        margin-top: 15px;
                    }
                }
            }
            .kr-sg-input-text-area{
                width: 49%;
                .editorContainer {
                    outline: none;
                    overflow: auto;
                    .editorDivContainer{
                        min-height: 200px;
                        outline: none;
                        overflow: auto;
                        padding-bottom: 50px;
                    }
                }
                .editor-actons{
                    .edit-action{
                        width: 25px;
                        padding: 4px 0px;
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
        &.swap-positions{
            .upload-content-wrapper{
                background: #F8F9FA;
                border: 2px dashed #A8C8DD;               
                border-radius: 4px;
            }
            .kr-sg-input-text-area{
                background: #F8F9FA;
                border: 2px dashed #A8C8DD;               
                border-radius: 4px;
            }
        }
        .upload-content-wrapper{
            position: relative;
            overflow: hidden;
            background: #F8F9FA;
            border: 1px solid #BDC1C6;
            box-sizing: border-box;
            border-radius: 4px;
            text-align: center;
            padding: 17px;
            margin: 10px 0;
            cursor: pointer;
            .image-selections{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .img_block{
                    img{

                    }
                }
                .info-text{
                    color: #4788C7;
                    font-weight: 600;
                    font-size: 14px;
                    margin-left: 20px;
                }
            }
            input{
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                height: 100%;
                width: 100%;
                padding: 0;
                border: 0;
                border-radius: 0;
                cursor: pointer;
            }
            .uploaded-image-preview{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .editor-actons{
            border: 0;
            display: flex;
            padding: 5px;
            .edit-action{
                border-radius: 4px;
                text-align: center;                                      
                margin-right: 6px;                    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                cursor: pointer;                   
                img{

                }
            }                
        }
        .kr-sg-input-text-area{
            position: relative;
            border-top: 1px solid #BDC1C6;
            box-sizing: border-box;
            // border-radius: 4px;
            padding: 0 0px 0 20px;            
            line-height: normal;
          
            .editor-actons{
                position: absolute;
                bottom: 10px;
                border: 0;
                left: 20px;
                display: flex;
                .edit-action{
                    background: #EFF0F1;
                    border-radius: 4px;
                    text-align: center;                                      
                    margin-right: 6px;                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;                   
                    img{

                    }
                }                
            }
            .external-tab-content{
                padding: 20px 20px 20px 0px;
            }
            textarea{
                min-height: 320px;
                resize: vertical;
                border: 0;
                padding: 18px 20px 0 0;
                color: #292929;
                font-size: 14px;
                line-height: 24px;
                background: transparent;
                &::-webkit-resizer {                    
                    border-color: 0;
                    background-image: url("^assets/icons/editor/bg-resize.svg");
                    width: 15px;
                    height: 15px;                                        
                }
            }
        }
    }   
    .btn-sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        button{
            margin-right: 20px;
            font-size: 14px;
        }
    }  
    .bot_rsponse_advance_mode{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin: 30px 0 6px 0;
        .delete-response{
            position: absolute;
            right: -16px;
            margin-top: -2px;
            cursor: pointer;
        }
           
    }
}

.deleteResponseDiv{
    position: relative;
    float: right;
    color: red;
}
.advanced_mode_faq{
    position: relative;
    float: right;
    .kr-sg-toggle {
        position: relative;
        display: inline-block;
        margin-left: -200px;
        width: 30px;
        height: 16px;
        input{
            opacity: 0;
            width: 0;
            height: 0;
            &:checked{
                + .slider{
                    border: 1px solid #0D6EFD;
                    background: #0D6EFD;
                    &::before{
                        -webkit-transform: translateX(13px);
                        -ms-transform: translateX(13px);
                        transform: translateX(13px);
                        background-color: #fff;
                    }
                    span{
                        &.yes{
                            color: #161620;
                        }  
                        &.no{                                                        
                            color: #9AA0A6;                                    
                        }                                                          
                    }
                    span{
                        &.enabled{
                            color: $primaryColor;
                            display: block;
                        }  
                        &.disabled{
                            display: none;
                        }                                                          
                    }                
                }
                &:disabled{
                    + .slider{
                        background-color: $hoverColor;
                        opacity: 0.3;
                        box-shadow: 0 0 1px $hoverColor;
                    }
                }
            }
            &:focus{
                + .slider{                
                    // box-shadow: 0 0 1px $hoverColor;
                    border: 1px solid #0D6EFD;
                }
            }   
            &:disabled{
                cursor: auto;            
            }   
        }
        .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 18px;
            border: 1px solid #BDC1C6;
            background: #fff;
            span{
                &.no{                           
                    font-size: 12px;
                    margin-left: -65px;
                    color: #161620;                            
                }
                &.yes{                                                        
                    color: #9AA0A6;
                    padding-left: 40px;
                    font-size: 12px;
                }
            }
            &::before{
                position: absolute;
                content: "";
                height: 12px;
                top: 1px;
                width: 12px;
                left: 2px;
                right: 0;
                background-color: #BDC1C6;
                transition: 0.4s;
                border-radius: 50%;
            }
        }
    }           
} 
.imageUrlAdded{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 334px;
    display: inline-block;
    padding-top: 18p;
    height: 25px;
    vertical-align: middle;
}
.mb-15{
    margin-bottom: 15px;
}
:host ::ng-deep .alternative-question-results{
    .alternative-question{
        padding: 15px 0px !important;
    }  
}
:host ::ng-deep .example-chip-list {
    width: 100%;
    .and{
        text-transform: uppercase;
        font-size: 10px;
        color: #6D6868;
        padding: 0 7px 0 10px;
    }
    .mat-form-field-wrapper{
        padding: 0;
        .mat-form-field-flex{
            .mat-form-field-infix{
                margin: 0;
                padding: 0;
                border: 0;
                .mat-chip-list{
                    .mat-chip-list-wrapper{
                        border-radius: 3px;
                        border: solid 1px #BDC1C6;       
                        margin: 0;
                        font-family: Inter !important;
                        .mat-input-element{
                            margin: 0;
                            border: 0;
                            height: 32px;
                            padding-left: 10px;
                            &:focus{   
                                border: 0 !important;                             
                                outline: 0 !important;
                            }
                        }
                        .mat-chip{
                            border-radius: 4px;
                            background-color: #e5e8ec;
                            padding: 0px 9px;
                            margin: 3px 0px 3px 3px;
                            min-height: 26px;
                            &:hover{
                                &::after{
                                    opacity: 0.09;
                                }
                            }
                            .mat-val{
                                color: #8a959f;
                                font-size: 12px;
                                font-weight: bold;                                
                            }
                            .mat-icon{
                                width: auto;
                                height: auto;
                                opacity: 0.8;
                                img{
                                    width: 11px;
                                    height: 11px;
                                    vertical-align: middle;
                                    position: relative;
                                    top: -1px;
                                    left: 2px;
                                }
                            }
                        }                        
                    }                        
                }
            }
        }                        
    }
    .mat-form-field-label-wrapper{
        padding: 0;
        height: 32px;                            
        top: 2px;
        .mat-form-field-label{
            margin: 0;
            top: 6px;
            left: 10px;
            span{
                font-weight: 400 !important;
                color: #9B9B9B !important;
            }
        }
    }
    .mat-form-field-subscript-wrapper{
        margin: 0;
        top: 0;
    }
    .mat-form-field-underline{
        display: none;
    }
} 

:host ::ng-deep .ace_print-margin {
    visibility: hidden;
    display: none;
}