@import "./../../../app/scss/variables/variables.scss";

.traits-container {
    padding-right: 15px;
    .perfect-scroll {
        height: calc(100vh - 50px);
    }
    .noTraits {
        text-align: center;
        .noTraitsImg {
            width: 245px;
            height: 182px;
        }
        .noTraitsInfo {
            .infoHeader {
                font-size: 24px;
                font-weight: 300;
                text-align: center;
                color: #202124;
                margin-top: 30px;
                display: inline-block;
            }
            .infoP {
                font-size: 14px;
                text-align: center;
                color: #5f6368;
                margin-top: 10px;
            }
            .createNewTrait {
                margin-top: 10px;
                font-size: 14px;
                color: #fff;
                background: #009dab;
                height: 30px;
                padding: 0px 20px !important;
                width: auto;
                border-radius: 3px;
                border: 1px solid #009dab;
                margin-left: 0;
                outline: 0;
                &:hover {
                    background: $hoverColor;
                    border: 1px solid $hoverColor;
                }
            }
        }
        .emptyNote {
            font-size: 14px;
            // border: solid 1px #f3d19b;
            background-color: #f8f9fa;
            margin-top: 30px;
            width: 80%;
            // height: 114px;
            border-radius: 4px;
            margin: 30px auto 0;
            text-align: left;
            padding: 24px 30px;
            .emptyTitle {
                font-size: 14px;
                font-weight: 600;
                color: #202124;
                margin-bottom: 4px;
            }
            .emptyDesc {
                font-size: 12px;
                font-weight: normal;
                color: #5f6368;
                margin-bottom: 15px;
                &.marginBottom10 {
                    margin-bottom: 10px;
                }
            }
            .emptyListDesc {
                font-size: 12px;
                font-weight: normal;
                margin-bottom: 15px;
                padding-left: 15px;
            }
        }
    }
}
.kr-modal.addTraitModalComponent {
    // text-align: right;
    .modal-dialog {
        height: 100%;
        .action {
            margin-top: 10px;
        }
        .modal-content {
            .modal-header {
                font-size: 20px;
                font-weight: normal;
                line-height: 1;
                display: inline-block;
                background-color: #fff;
                height: 69px;
                border-bottom: 1px solid #bdc1c6;
                padding: 26px 30px;
                .header-title {
                    color: #202124;
                    font-size: 14px;
                    .closeCross {
                        position: absolute;
                        right: 30px;
                        background: #fff;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        top: 20px;
                        border-radius: 50%;
                        padding: 8px;
                        cursor: pointer;
                        &:hover {
                            background: #f8f9fa;
                        }
                    }
                }
            }
            .traits-modal-scroller {
                height: calc(100vh - 165px);
            }
            .modal-body {
                padding: 25px 30px;
                .kr-sg-input-text {
                    margin-bottom: 25px;
                    .label-text {
                        color: #202124;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .text {
                        color: #202124;
                        font-size: 12px;
                        margin-bottom: 5px;
                    }
                }
                .traits-group {
                    .traits-header {
                        height: 34px;
                        border-radius: 2px;
                        box-shadow: 0 1.5px 1px 0 rgba(38, 52, 74, 0.2);
                        border: solid 1px #e5e8ec;
                        line-height: 28px;
                        background-color: #fff;
                        padding: 0 15px;
                        cursor: pointer;
                        position: relative;
                        .icon {
                            margin-right: 10px;
                            position: relative;
                        }
                        .title {
                            display: inline-block;
                        }
                        .edit-icon {
                            display: none;
                            &:hover {
                                display: block;
                            }
                        }
                        .delete-icon {
                            opacity: 0.5;
                            float: right;
                            position: absolute;
                            right: 10px;
                        }
                    }
                    .add-utterances {
                        border-radius: 2px;
                        box-shadow: 0 2px 4px 0 rgba(38, 52, 74, 0.1);
                        border: solid 1px #e5e8ec;
                        background-color: #f2f3f5;
                        padding: 15px;
                        min-height: 95px;
                        height: auto !important;
                        margin-bottom: 10px;
                        .sub-title {
                            font-size: 12px;
                            font-weight: bold;
                        }
                        .utterance-list {
                            .item {
                                position: relative;
                                margin-bottom: 5px;
                                width: 100%;
                                border: 1px solid #e5e8ec;
                                background: #fff;
                                border-radius: 3px;
                                z-index: 0;
                                min-height: 30px;
                                margin-top: 2px;
                                padding: 5px 10px;
                                clear: both;
                            }
                            .delete-icon {
                                // display: none;
                                position: absolute;
                                right: 10px;
                                &:hover {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .modal-footer {
                background-color: #fff;
                height: 60px;
                border-top: 1px solid #bdc1c6;
                justify-content: left !important;
                padding-left: 30px;
                .kr-sg-button-primary {
                    height: 34px;
                }
            }
        }
    }
}
