<div class="traits-container p-0">
    <div class="mainLoadingSpinner" *ngIf="loadingTraits" >
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">{{'Please Wait!' | translate}}</span>
    </div>
    <ng-container *ngIf="loadingTraits1">  
    <!-- NO DATA FOUND -->
        <ng-container *ngIf="!(traits.traitGroups &&  traits.traitGroups.length)">
            <perfect-scrollbar class="empty-scroll">
                <div  class="empty-landing-screen" >
                <div class="img-block"*ngIf="!emptyItems"><img class="action_icon" (load)="imageLoad()" src="assets/images/traits-empty.svg"></div>
                <ng-container *ngIf="loadImageText">
                    <div class="empty-title">You haven’t added any Traits yet!</div>
                    <div class="desc-text"> Traits are specific entities, attributes or details that the users express in their conversations.  Traits present in the utterance can be used in driving the intent detection and bot conversation flows. SearchAssist allows you to define Traits and train the utterances.
                    </div>
                    <div class="kr-sg-dropdowns" #selectSourceDrop='ngbDropdown' ngbDropdown [container]="'body'">                                         
                        <div class="dropdown dropdown-open">
                            <button class='kr-sg-button-primary btn_lg px-3' (click)='createNewTraits()'>Add Traits</button>
                        </div>                                    
                    </div>
                </ng-container>
                <ng-container *ngIf="noItems && emptySearchResults">
                    <div class="desc-text">Your Search Query doesn't match with any record.</div>
                </ng-container>
                </div>
            </perfect-scrollbar>
        </ng-container>
    <!-- TABLE CONTENT -->
    <div class="traits" *ngIf="traits.traitGroups &&  traits.traitGroups.length">
        
        <div class="table-list-content" *ngIf="traits.traitGroups &&  traits.traitGroups.length">                         
            <div class="seach_add_feild">
                <div class="title">Traits</div>
                <div class="d-flex align-items-center">
                    <div class="kr-sg-input-search m-0" [ngClass]="{'active': showSearch}">                               
                        <input type="text" placeholder="Search" autocomplete="off" class="input-search" name='searchSources' placeholder="Search" id="fieldSearchId" [(ngModel)]="serachTraits">           
                    </div> 
                    <div class="seach-block" (click)="toggleSearch()"><img *ngIf="!showSearch" src="assets/icons/search.svg"><img *ngIf="showSearch" src="assets/images/close.svg">Search</div>
                    <div class="add_feild" (click)="createNewTraits()"><img src="assets/icons/add_plus.svg"> Add Traits</div>
                    <!-- <button class="kr-sg-button-primary btn_lg" (click)="trainIndex()">Train Index</button> -->
                </div>
            </div>  
            <div class="trailts-table-header row">
                <div class="col-2 title">TRAIT GROUP</div>
                <div class="col-9 title">TRAITS</div>
            </div>                 
            <perfect-scrollbar class="traits-scroll-data">
                <div class="traits-body-sec">
                    <div class="content-body row col-12 m-0" *ngFor="let traitGroup of  traits.traitGroups | traitsFilter:serachTraits; let index = index">
                        <div class="col-2 traitGroup-name" title="{{traitGroup.groupName || '---'}}">{{traitGroup.groupName || '---'}}</div>
                        <div class="col-8 traits-groups row m-0 align-items-center pr-0">
                            <span *ngFor="let trait of traitGroup.traits| slice:0:getTraitsSliceValue(traitGroup.traits); let i=index;" class="trait-more">
                                {{i!==0 ?', ':''}}{{trait.traitName || '---'}}
                            </span>                                                                    

                            <div class="kr-sg-dropdowns traits-more-data-container" ngbDropdown [placement]="'right-top'" *ngIf="traitGroup.traits.length>getTraitsSliceValue(traitGroup.traits)">
                                <div class="dropdown dropdown-open">
                                    <button class="dropdown-toggle dropdown-input" ngbDropdownToggle (click)="$event.stopPropagation()"> +{{traitGroup.traits.length-getTraitsSliceValue(traitGroup.traits)}}</button>
                                    <ul class="dropdown-menu content-menu traits-more-data-container-dropdown" ngbDropdownMenu>
                                       <div class="inner-content">
                                            <div class="close-dropdown">
                                                <img src="assets/icons/close-dropdown.svg">
                                            </div>
                                            <perfect-scrollbar class="more-traits-scroll">
                                                <li *ngFor="let trait of traitGroup.traits| slice:getTraitsSliceValue(traitGroup.traits):(traitGroup.traits.length);" title="{{trait.traitName || '---'}}" class="text-truncate">
                                                    {{trait.traitName || '---'}}
                                                </li>
                                            </perfect-scrollbar>
                                       </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 action-links">
                            <img src="assets/icons/edit-pencil.svg" class="mr-4" (click)="editTraitFroup(traitGroup)" id="btn_edit_traits" placement="top-center" container='body' ngbTooltip="Edit" tooltipClass="ngb_tooltip_custom_class sampleJson">
                            <img src="assets/icons/delete-table.svg"(click)="deleteTraitsGroup(index,traitGroup,$event)"  id="btn_delete_traits" placement="top-center" container='body' ngbTooltip="Delete" tooltipClass="ngb_tooltip_custom_class sampleJson">
                        </div> 
                    </div>
                    <div class="divBlockEmptylastChild text-center">         
                        <div class="desc">No search results found</div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>

    </div>
    <!-- CREATE NEW TRAIT MODAL-->
    </ng-container>
</div>


<kr-modal modalType="center" #statusModalPop modalClass="modal_popups_ add-Trait-Modal-Component">
    <div class="modal-header">
        <div class="title">{{(traits.addEditTraits._id)?'Edit Trait Group':'New Trait Group'}}</div>
        <div class="close_icon" (click)='closeStatusModal()'><img src="assets/icons/modal-close.svg"></div>
    </div>
    <perfect-scrollbar class="perfect-scroll-modal-body">
        <div class="modal-body">
            <div class="kr-sg-input-text trait-group-name">
                <div class="label-text">Trait Group Name</div>
                <input type="text" autocomplete="off" placeholder="Enter Trait Group" class="input-text" maxlength="120" [(ngModel)]="traits.addEditTraits.groupName">
                <div class="eg-text">Eg: Vehicle type , Class</div>
            </div>

            <div class="kr-sg-input-text add-traits-input">              
                <input autocomplete="off" type="text" placeholder="Type and Enter to Add Traits" class="input-text" maxlength="120" #traitValue [(ngModel)]="add.traitName"(keyup.enter)="addTraits(add.traitName,$event)">
            </div>

            <ng-container *ngIf="traits.addEditTraits && traits.addEditTraits.traitsArray && traits.addEditTraits.traitsArray.length">
                <div class="content-body-traits row col-12" *ngFor="let item of traits.addEditTraits.traitsArray;let index = index;">
                    <div class="col-4 group-name" title="{{item.key}}"> {{item.key}}</div>
                    <div class="col-6 m-0 align-items-center">
                        <div class="utterances-count" *ngIf="item.data.length">{{item.data.length}} Utterances</div>
                        <div class="add-utt-title" *ngIf="!item.data.length" (click)="openAddUtteranceModel(index,item.key)">
                            <img src="assets/icons/add_blue.svg">Add utterances
                        </div> 
                    </div>
                    <div class="col-2 action-btns pr-1">
                        <img src="assets/icons/add_blue.svg" (click)="openAddUtteranceModel(index,item.key)" placement="top-center" container='body' ngbTooltip="Add Utterance" tooltipClass="ngb_tooltip_custom_class sampleJson">                      
                        <img src="assets/icons/edit-pencil.svg" id="btn_edit_traits" placement="top-center" container='body' ngbTooltip="Edit" tooltipClass="ngb_tooltip_custom_class sampleJson">
                        <img src="assets/icons/delete-table.svg" (click)="deleteTraitInGroup(item.key,traits.addEditTraits,$event,index)" id="btn_delete_traits" placement="top-center" container='body' ngbTooltip="Delete" tooltipClass="ngb_tooltip_custom_class sampleJson">
                    </div> 
                </div>                    
            </ng-container>
        </div>
    </perfect-scrollbar>
    <div class="modal-footer">
        <button class="kr-sg-button-primary btn_lg" [disabled]="!traits.addEditTraits.groupName" (click)="saveTraits(traits.addEditTraits)">Save</button>
        <button class="kr-sg-button-secondary btn_lg"  (click)="closeStatusModal()">Cancel</button>
    </div>
</kr-modal> 

<kr-modal modalType="center" #addUtteranceModalPop modalClass="modal_popups_ add-utterances-modal">
    <div class="modal-header">
        <div class="title">Berth Type <img src="assets/icons/carrotright.svg"> Lower <img src="assets/icons/carrotright.svg"> Utterance</div>
        <div class="close_icon" (click)='closeUtteranceModal()'><img src="assets/icons/modal-close.svg"></div>
    </div>
    <perfect-scrollbar class="perfect-scroll-modal-body">
        <div class="modal-body">
            <div class="kr-sg-input-text add-traits-input">
                <input  maxlength="2048" type="text" autocomplete="off" placeholder="Type and Enter to Add Utterances" class="input-text" (keyup)='addUtterance(newUtterance,currentTraitKey,$event,traits.addEditTraits,currentUtteranceIndex)' [(ngModel)]='newUtterance' name='traitName'>
            </div>

            <ng-container>
                <div class="content-body-traits row col-12">
                    <div class="col-10 group-name">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>                   
                    <div class="col-2 action-btns pr-1">                        
                        <img src="assets/icons/edit-pencil.svg" placement="top-center" container='body' ngbTooltip="Edit" tooltipClass="ngb_tooltip_custom_class sampleJson">
                        <img src="assets/icons/delete-table.svg" placement="top-center" container='body' ngbTooltip="Delete" tooltipClass="ngb_tooltip_custom_class sampleJson">
                    </div> 
                </div> 
                <div class="add-utt-title">
                    <img src="assets/icons/add_blue.svg">Add utterances
                </div>                  
            </ng-container>
        </div>
    </perfect-scrollbar>
    <div class="modal-footer">
        <button class="kr-sg-button-primary btn_lg" [disabled]="!newUtterance" (click)="addNewUtterance(newUtterance)">Add</button>
        <button class="kr-sg-button-secondary btn_lg"  (click)="closeUtteranceModal()">Cancel</button>
    </div>
</kr-modal> 


