
@import './../../../app/scss/variables/variables.scss';
.config-container {
    padding-left: 55px;
    padding-top: 52px;    
    overflow: hidden;
    height: calc(100vh);
    .configuration-page{
        display: flex;    
        height: 100%;
        .left-side-sec{
            width: 432px;
            flex-shrink: 0;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5), 2px 0 6px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0);
            background-color: $whiteColor;
            padding: 20px;
            height: 100%;  
            overflow: auto;     
            .left-sec-scrollbar{
                padding-right: 20px;
            }   
            .setup-data{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 100%;
                    background: #b0afaf;
                    left: calc(100% - 50%);
                }
                .user-avatar{
                    width: 36px;
                    height: 36px;                 
                    margin: 25px auto 25px auto;
                    background-color: $hoverColor;
                    position: relative;
                    z-index: 100;
                    border-radius: 100px;
                    line-height: 34px;
                    text-align: center;
                    img{

                    }
                }
                .card-content{
                    border-radius: 5px;
                    background-color: $borderColor;
                    padding: 4px 12px;
                    text-align: center;                  
                    margin-bottom: 25px;
                    z-index: 100;
                    position: relative;
                    .title{
                        color: #989494;
                        font-size: 12px;
                        font-weight: bold;
                    }
                    .selected-tabs{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-align: left;                      
                        padding: 10px 0 25px 0;
                        .info-title{
                            font-size: 12px;
                            padding: 4px 0 0 7px;
                            color: $hoverColor;
                            position: absolute;
                            &.warning{
                                color: $orange;
                            }
                            img{
                                // width: 12px;
                                position: relative;
                                top: -1px;
                            }
                        }
                        .tab-sec{
                            cursor: pointer;
                            width: 172px;
                            height: 50px;                                                      
                            display: flex;
                            align-items: center;
                            border-radius: 5px;
                            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                            background-color: $secondaryColor;
                            border: solid 1px transparent;
                            padding: 0 10px;
                            &.active{                                
                                border: solid 1px $hoverColor;
                                background-color: $hoverColor;
                                .img-block{                                                                       
                                    &.first{
                                        background: #fff;          
                                        opacity: 1;  
                                    }                                                        
                                }
                            }
                            .img-block{                                
                                &.first{
                                    padding: 1px 4px 2px 5px;
                                    background: #e5e8ec;
                                    border-radius: 4px;
                                    opacity: 0.4;
                                }
                                img{
                                    // width: 16px;
                                    // height: 16px;
                                }
                            }
                            .content-title{
                                font-size: 12px;
                                padding-left: 10px;
                                color: $whiteColor;
                                line-height: 14px;
                                display: inline-block;
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
            }
            .completed-percent{
                margin: 18px 20px 0 20px;
                line-height: 15px;                
                .percentage{
                    color: $hoverColor;
                    font-weight: bold;
                    font-size: 12px;
                }
                .info-title{
                    color: #6d7278;
                    font-size: 12px;
                }
            }
            .flowMessageText{
                padding: 15px 20px 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.21;
                color: $secondaryColor;
                margin: 0;
                .messageLink{
                    color: $hoverColor;
                    cursor: pointer;
                    text-decoration: none !important;
                    font-weight: bold;
                }
            }
        }
        .right-side-sec{         
            width: 100%;
            height: calc(100vh - 105px);  
            position: relative;        
            .scroll-list{
                padding: 0px 92px 50px 92px;
            }
            .deflect-setup-data{            
               padding-top: 40px;
                &.deflect-setup{
                   
                }
                &.automate-conversions{                  
                    .sub-container.disabled {
                        pointer-events: none !important;
                        opacity: 0.5 !important;
                    }
                }
                &.hands-off-experience{                  
                    .actions-box-content{                       
                        padding: 0 !important;
                        background: transparent !important;
                        .radio-buttons-sec{
                            padding: 30px 24px;
                            background: $whiteColor;
                        }
                        .submit-form{
                            padding: 22px 24px;
                            background: $whiteColor;
                            margin-top: 20px;
                            .add-field-drawer {
                                height: 100%;
                               .form-edit-header{
                                   .kg-sr-input-inline-search{
                                       input{
                                            border: 0;
                                            border-bottom: solid 1px $borderColor;
                                            background-color: $whiteColor !important;
                                            color: $primaryColor !important;
                                            border-radius: 0px !important;
                                            padding: 4px 30px !important;
                                            height: 45px !important;
                                            line-height: 45px;
                                            width: 100%;
                                       }
                                       .search-icon{
                                            top: 15px;
                                            left: 18px;
                                            width: auto;
                                            height: auto;
                                       }
                                   }
                               }
                               .form-body{
                                height: calc(100% - 45px);
                               }
                               .scroll-form-body{
                                    height: calc(100% - 53px);
                                    .static-dropdown-selection{
                                        border-radius: 3px;
                                        background-color: $backgroundColor;
                                        padding: 10px;
                                        .header-titles{
                                            .add-option-btn{
                                                color: $hoverColor;
                                                font-size: 16px;
                                                cursor: pointer;
                                                span{                                                
                                                    font-size: 12px;
                                                    padding-left: 10px;
                                                }
                                            }
                                        }
                                        .add-option-header-titles{
                                            margin-top: 10px;
                                            padding: 0 5px;
                                            height: 50px;
                                            background-color: $borderColor; 
                                            align-items: center;                                           
                                        }
                                        .add-options-sec{
                                            display: flex;
                                            align-items: center;                                           
                                            height: 35px;
                                            border: solid 1px $borderColor;
                                            background: $whiteColor;
                                            border-top: 0;
                                            .radio-sec{
                                                width: 36px;
                                                flex-shrink: 0;
                                                padding-left: 10px;
                                                .radio-custom-label{
                                                    &::before{
                                                        top: -9px !important;
                                                    }
                                                }
                                            }
                                            .input-sec{
                                                width: 100%;
                                                .input-text{
                                                    border: 0 !important;
                                                    border-left: solid 1px $borderColor !important;
                                                    border-right: solid 1px $borderColor !important;
                                                    border-radius: 0 !important;
                                                }
                                                .dropdown-input{
                                                    border: 0 !important;
                                                    border-left: solid 1px $borderColor !important;
                                                    border-right: solid 1px $borderColor !important;
                                                    border-radius: 0 !important;
                                                }
                                                .content-menu{
                                                    border-top: 1px solid $borderColor !important;
                                                }
                                            }
                                            .delete-field{
                                                width: 36px;
                                                flex-shrink: 0;
                                                text-align: center;
                                                color: $warningRed;
                                                font-size: 12px;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                               }
                               .add-field-btn{
                                    position: absolute;
                                    width: 100%;
                                    bottom: 0;
                                    height: 50px;
                                    border-radius: 4px;
                                    border-top: solid 1px $borderColor;
                                    background-color: $whiteColor;
                                    padding: 11px 20px;
                                    button{
                                        float: right;
                                    }
                               }
                            }
                            .title-text{
                                font-size: 14px;
                                color: $secondaryColor;
                                line-height: 1.25;
                                padding-bottom: 18px;
                            }
                            .form-inner{
                                display: flex;
                                // justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                .form-content{
                                    // width: 421px; 
                                    width: 58%;
                                    flex-shrink: 0;                             
                                    border-radius: 3px;
                                    border: solid 1px $borderColor;
                                    background-color: $whiteColor;                                    
                                    // &:last-child{
                                    //     margin-left: 8px;
                                    //     .form-header{
                                    //         height: auto;                                           
                                    //         padding: 20px 25px 19px 12px;
                                    //         border-radius: 0;
                                    //     }
                                    // }
                                    .form-edit-header{
                                        border-radius: 0;
                                        display: flex;
                                        align-items: center;
                                        position: relative;
                                        span{
                                            position: absolute;
                                            right: 10px;
                                            cursor: pointer;
                                        }
                                    }
                                    .form-header{                                       
                                        width: 100%;   
                                        height: auto;                                       
                                        padding: 20px 25px 19px 12px;
                                        border-radius: 0;                               
                                        background-color: #d6d7da;                                        
                                        text-align: center;                                                                              
                                        border-spacing: 0;                                       
                                        border: none;
                                        font-weight: bold;
                                        span{
                                            float: right;
                                            cursor: pointer;
                                            img{
                                                width: 20px;
                                            }
                                        }
                                    }
                                    .form-body{
                                        padding: 14px 0 0 0px;
                                        // display: inline-block;
                                        width: 100%;
                                        .scroll-form-body{
                                            height: 492px;
                                        }
                                        .mat-form-field  {
                                            width: 100%;
                                        }
                                        .toggle-optional{
                                            margin-bottom: 10px;
                                        }
                                        .kr-sg-input-text-area{
                                            textarea{
                                                resize: none;
                                                display: inherit;
                                                &.large{
                                                    min-height: 152px;
                                                }
                                            }                                            
                                        }
                                        .close-input{                                            
                                            position: absolute;
                                            top: 13px;
                                            right: -9px;
                                            width: 18px;
                                            height: 18px;
                                            background: $borderColor;
                                            border-radius: 100px;
                                            text-align: center;
                                            cursor: pointer;
                                            img{
                                                width: 8px;
                                                text-align: center;
                                                position: relative;
                                                top: -1px;
                                            }
                                        }    
                                        .no-data-form{
                                            text-align: center;
                                            padding-top: 80px;
                                            .img-block{
                                                width: 203px;
                                                margin: 0 auto;
                                                img{
                                                    width: 100%;
                                                }
                                            }
                                            .empty-title{
                                                font-size: 20px;
                                                color: #26344a;
                                                margin: 12px 0;
                                                font-weight: 500;
                                            }
                                            .empty-info{
                                                color: #8a959f;
                                                font-size: 14px;                                             
                                                padding: 0 72px;
                                                margin-bottom: 3px;
                                            }
                                        }                                    
                                    }
                                    .add-field-btn{  
                                        height: 50px;
                                        border-radius: 4px;
                                        border-top: solid 1px $borderColor;
                                        background-color: $whiteColor;
                                        padding: 11px 20px;
                                        .success-message{
                                            display: inline-block;
                                            position: relative;
                                            top: 3px;
                                            font-size: 14px;                                           
                                            color: #09a624;
                                            img{
                                                margin-right: 20px;
                                            }
                                        }                                                                              
                                        button{
                                            font-size: 12px;
                                            float: right;
                                            span{
                                                padding-left: 10px;
                                            }
                                        }
                                    }
                                }
                                .edit-form-info{
                                    padding: 0px 16px 0 40px;
                                    text-align: center;
                                    .title-info{
                                        color: #8a959f;
                                        font-size: 14px;
                                        line-height: 1.43;
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                    }

                    .actions-box-content.disabled {
                        pointer-events: none !important;
                        opacity: 0.5 !important;
                    }
                }
                &.transfer-live-chat{
                    margin-bottom: 0;
                    padding-top: 40px;
                    .box-content{
                        margin: 0;
                        .actions-box-content{
                            min-height: auto !important;
                        }

                        .actions-box-content.disabled {
                            pointer-events: none !important;
                            opacity: 0.5 !important;
                        }
                    }
               
                }
                .main-title{
                    font-size: 18px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .kr-sg-toggle{
                        position: relative;
                        left: -55px;
                        .slider{
                            span{
                                &.no{
                                    margin-left: -60px;
                                }
                                &.yes{
                                    padding-left: 40px;
                                }
                            }
                        }                        
                    }                    
                }
                .desc-info-text{
                    font-weight: normal;
                    font-size: 14px;

                    .clickable-text {
                        outline: none;
                    }
                }
                .radio-buttons-sec{
                    margin: 15px 0 0 0;
                    .desc-info-text{                       
                        line-height: 1.33;
                        margin: 3px 0;
                        font-weight: normal;
                        font-size: 14px;
                    }
                    .input-actions{
                        padding: 10px 30px;
                    }
                }
                .box-content{
                    border-radius: 3px;
                    background-color: $backgroundColor;
                    padding: 20px;
                    margin-top: 33px;
                    .label_text{                       
                        font-size: 14px;
                        margin-bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;  
                        .kr-sg-toggle{
                            position: relative;
                            left: -55px;
                            .slider{
                                span{
                                    &.no{
                                        margin-left: -60px;
                                    }
                                    &.yes{
                                        padding-left: 40px;
                                    }
                                }
                            }                        
                        }                  
                    }
                    .input-actions{
                        padding: 10px 25px;      
                        .country-code-drp-down-sec{
                            position: relative;
                            .dropdown{
                                // margin-right: 88px;
                            }
                            .kr-sg-button-primary{
                                position: absolute;
                                right: 0;
                                top: 23px;
                                font-size: 12px;
                            }
                        } 
                        .country-code-perfect-scroll{
                            max-height: 250px;
                        }                
                        .helpdesk-logo{
                            width: 88px;                                                       
                            background-color: $whiteColor;                           
                            padding: 10px;    
                            margin:0 10px 10px 0;     
                            cursor: pointer;                                            
                            &.selected{
                                border: solid 1px #d8d8d8;
                            }
                            img{
                                width: 100%;
                            }
                        }
                        .submit-request-form{
                            padding: 20px 30px;
                            border-radius: 2px;
                            border: solid 1px #d8d8d8;
                            background-color: $whiteColor;
                        }
                        .phone-number-selection{
                            padding: 20px 30px;
                            border-radius: 4px;
                            border: solid 1px #e5e8ec;
                            .pt_2{
                                padding-top: 2px;
                            }                           
                        }
                    }
                    .info-text{
                        font-size: 14px;
                        color: $secondaryColor;                                               
                    }
                    .launch-btn{
                        padding: 20px 0 0 0;
                        text-align: center;
                        button{
                            font-size: 14px;
                        }
                    }
                    &.ivr-transfor-setup{
                        .actions-box-content{
                            background: $whiteColor;
                            padding: 22px 20px;
                            margin-top: 20px;
                            // min-height: 376px;  
                            &.voice-assistance{
                                min-height: auto;
                                text-align: center;
                                padding: 25px 0;
                            }
                            
                            .input-actions.disabled {
                                pointer-events: none !important;
                                opacity: 0.5 !important;
                            }
                                         
                        }
                    }
                }
            }
            .save-action-btn{
                position: absolute;
                bottom: -53px;
                height: 50px;
                box-shadow: 0 -1px 10px 0 rgba(138, 149, 159, 0.5);
                z-index: 99;
                border: solid 1px #d8d8d8;
                background-color: $whiteColor;
                padding: 7px 7px 7px 110px;
                left: 0;
                width: 100%;                                    
                // button{
                //     min-width: 92px !important;
                // }
                .success-message{
                    display: inline-block;
                    position: relative;                    
                    font-size: 14px;                                           
                    color: #09a624;
                    margin-left: 15px;
                    img{
                        margin-right: 20px;
                    }
                }
                
                .error-message{
                    display: inline-block;
                    position: relative;                    
                    font-size: 14px;                                           
                    color: $warningRed;
                    margin-left: 15px;
                    img{
                        margin-right: 20px;
                    }
                }  
            }
            .gif-arrow-down{
                position: fixed;
                bottom: 60px;                
                right: 20px;
                // cursor: pointer;
                img{
                    width: 52px;

                    &.inverse {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .f-20{
        font-size: 20px !important;
    }
    .pl-28{
        padding-left: 28px;
    }
    .pl-20{
        padding-left: 20px !important;
    }
    .pl-30{
        padding-left: 30px !important;
    } 
    .pr-20{
        padding-right: 20px;
    }   
    .pt-20{
        padding-top: 20px;
    }
    .mb-15{
        margin-bottom: 15px;
    }
    .mb-20{
        margin-bottom: 20px;
    }
}
::ng-deep .mat-custom-progress{
    margin: 12px 0 0 0;
    height: 5px;
    border-radius: 100px;                    
    .mat-progress-bar-buffer{
        background-color:#979797;
        border-radius: 100px;
    }
    .mat-progress-bar-fill{
        &::after{
            background-color:$hoverColor;
        }
    }
}

::ng-deep .custom-mat-drawer-container{
    .mat-drawer-backdrop{
        opacity: 0.25;        
        background-color: $borderColor;
    }
    .mat-drawer{
        width: 77%;
        box-shadow: none;
        border-radius: 4px;
        border: solid 1px $borderColor;
        background-color: $whiteColor;
    }
    .mat-drawer-slider{
        .mat-drawer-inner-container{
            overflow:hidden !important;
        }
    }
}
.p-50{
    padding: 50px !important;
}
.cursor-notallowed{
    cursor: not-allowed;
}

.manage-form-please-wait-all{
    position: absolute;
    top: 45%;
    left: 45%;
    box-shadow: 0 5px 10px 0 #e9eff5;
    background:  #fff;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }  
}

.ng-touched.ng-invalid {
    border: 1px solid red !important;
}
.success-message{
    display: inline-block;
    position: relative;                    
    font-size: 14px;                                           
    color: #09a624;
    // margin-left: 15px;
    img{
        margin-right: 20px;
    }
} 

::ng-deep #edit-form {
    .sliderComponent {
        z-index: 100 !important;
        background: rgba(38, 52, 74,0.5);
        .sliderDialogComponent{
            width: calc(85% - 11px) !important;
        }
    }
}
.error-container {
    text-align: center;
    margin: 10%;
    .err-msg {
        font-size: 20px;
        color: #26344a;
        margin-top: 20px;
    }
}