<div class="widget-header-block">
    <div class="widget-header">Match Threshold</div>
    <div class="widget-desc">Define the percentage of tokens in a query that should be present in a document so as to be returned in search results.</div>
</div>

<div class="col-4 sliderContainer">
    <div class="range-slider">
        <app-range-slider [customClass]="'weightsSlider'"
        [allData]="outcomeObj.sliderObj"
        (valueEvent)="valueEvent($event, outcomeObj)">
    </app-range-slider>
    </div>
    <div class="sliderVal">{{weightModal.sliderObj.default}}</div>

<div class="landing-page-block">
    <div class="block-separate-line"></div>

    <div class="widget-header-block">
        <div class="widget-header">Search Relevance</div>
        <div class="widget-desc">Configure search relevance to ensure serach results returned contains the subject, object and verb given in the search query</div>
    </div>

    <div class="landing-page-toggle">
        <label class="kr-sg-toggle with-label">
            <input type="checkbox" checked="">
            <div class="slider">
                <span class="no">Disable</span>
                <span class="yes">Enable</span>
            </div>
        </label>
    </div>

    <div class="checkbox-with-desc-block">
        <div class="group-checkbox">
            <div class="kr-sg-checkbox d-block">
                <input id="checkbox_grp1" class="checkbox-custom" type="checkbox">
                <label for="checkbox_grp1" class="checkbox-custom-label">Subject</label>
                <div class="checkbox-custom-desc">The subject in the search query must be pesent in the document to be included in the search result</div>
            </div>
            <div class="kr-sg-checkbox d-block">
                <input id="checkbox_grp2" class="checkbox-custom" type="checkbox">
                <label for="checkbox_grp2" class="checkbox-custom-label">Object</label>
                <div class="checkbox-custom-desc">The object in the search query must be pesent in the document to be included in the search result</div>
            </div>
            <div class="kr-sg-checkbox d-block">
                <input id="checkbox_grp3" class="checkbox-custom" type="checkbox">
                <label for="checkbox_grp3" class="checkbox-custom-label">Verb</label>
                <div class="checkbox-custom-desc">The verb in the search query must be pesent in the document to be included in the search result</div>
            </div>
        </div>
    </div>


</div>