<div class="ml-threshold-container row">
    <perfect-scrollbar class="scrollBarContainer">
        <div class="toggleContainer paddinTop-30">
            <div class="label">Auto Suggestion</div>
            <div class="info">Enabling will start showing the Suggestions while query is being typed.</div>
                <label class="kr-sg-toggle with-label">
                    <input type="checkbox" checked>
                    <div class="slider"> <span class="no">No</span><span class="yes">Yes</span></div>
                </label>
        </div>
        <div class="toggleContainer d-none">
            <div class="label">Language Detection</div>
            <div class="info">Detects the language from user input. </div>
                <label class="kr-sg-toggle with-label">
                    <input type="checkbox" >
                    <div class="slider"> <span class="no">No</span><span class="yes">Yes</span></div>
                </label>
        </div>
        <!-- <h2 class="subSection">Machine Learning</h2> -->

        <div class="sliderContainer">
            <div class="label">NER Model </div>
            <div class="info">Choose the NER model to be used for entity detection</div>
            <div class="kr-sg-radiobutton">
                <input id="NER33" type="radio" value="true" name="NERRadio4"
                    class="radio-custom" checked>
                <label for="NER33" class="radio-custom-label">Conditional Random Field</label>
                </div>
                <div class="kr-sg-radiobutton">
                <input id="NER44" type="radio" value="false" name="NERRadio4"
                    class="radio-custom">
                <label for="NER44" class="radio-custom-label">Deep Neural Network</label>
            </div>
        </div>
        <!-- <h2 class="headerTitle">NLP & Machine Learning</h2> -->
        <div class="sliderContainer">
            <div class="label">Traits</div>
            <div class="info">Choose one or many classifiers you would like to enable so that they can be added to the Index or Query Pipelines</div>
            <div class="kr-sg-radiobutton">
                <input id="NER55" type="radio" value="true" name="NERRadio5"
                    class="radio-custom" checked>
                <label for="NER55" class="radio-custom-label">Traits</label>
                </div>
                <div class="kr-sg-radiobutton">
                <input id="NER66" type="radio" value="false" name="NERRadio5"
                    class="radio-custom">
                <label for="NER66" class="radio-custom-label">Custom Model</label>
            </div>
        </div>
        <div class="toggleContainer">
            <div class="label">Sentiment Model</div>
            <div class="info">Sentiment: Classifies the sentiment of the user input into Positive, Negative, Neutral</div>
                <label class="kr-sg-toggle with-label">
                    <input type="checkbox" checked>
                    <div class="slider"> <span class="no">No</span><span class="yes">Yes</span></div>
                </label>
        </div>
        <h2 class="subSection">NLP Settings</h2>
        <div class="sliderContainer">
            <div class="label">Embeddings</div>
            <div class="info">Embeddings map the words or phrases from the vocabulary are into vectors of real numbers</div>
            <div class="kr-sg-radiobutton">
                <input id="NER001" type="radio" value="bert" [checked]='radioList.nlpEmbedding == "bert"' (change)="nlpEmbedChange('bert')" name="NERRadio001" class="radio-custom">
                <label for="NER001" class="radio-custom-label">BERT</label>
            </div>
            <div class="kr-sg-radiobutton">
                <input id="NER002" type="radio" value="sent" [checked]='radioList.nlpEmbedding == "sent"' (change)="nlpEmbedChange('sent')" name="NERRadio001"
                    class="radio-custom">
                <label for="NER002" class="radio-custom-label">Sentence Encoder</label>
            </div>
            <div class="kr-sg-radiobutton">
                <input id="NER003" type="radio" value="cust" [checked]='radioList.nlpEmbedding == "cust"' (change)="nlpEmbedChange('cust')" name="NERRadio001"
                    class="radio-custom">
                <label for="NER003" class="radio-custom-label">Custom</label>
            </div>
            <div class="customUpload" *ngIf="radioList.nlpEmbedding == 'cust'">
                <input type="file">
                <button>Upload</button>
            </div>
        </div>
        <div class="sliderContainer">
            <div class="label">n-gram Sequence Length</div>
            <div class="info">Number of grams to be used for generating features eg 1,1 or 1,2 or 2,2 etc. Applicable if the network preprocessor is CountVectorizer or TFIDF vectorizer</div>
            <div class="col-12 pl-0">
                <app-range-slider [allData]='nGramData'></app-range-slider>
            </div>
        </div>
    
        <h2 class="subSection">Classification Settings</h2>

        <div class="sliderContainer">
            <div class="label">n-gram Sequence Length</div>
            <div class="info">Number of grams to be used for generating features eg 1,1 or 1,2 or 2,2 etc. Applicable if the network preprocessor is CountVectorizer or TFIDF vectorizer</div>
            <div class="col-12 pl-0">
                <app-range-slider [allData]='proxProbData'></app-range-slider>
            </div>
        </div>

        <div class="sliderContainer">
            <div class="label">Network Type</div>
            <div class="info">Predefined networks available for intent training</div>
            <div class="kr-sg-radiobutton">
                <input id="NER111" type="radio" value="true" name="NERRadio01"
                    class="radio-custom" checked>
                <label for="NER111" class="radio-custom-label">MLP</label>
                </div>
                <div class="kr-sg-radiobutton">
                <input id="NER123" type="radio" value="false" name="NERRadio01"
                    class="radio-custom">
                <label for="NER123" class="radio-custom-label">LSTM</label>
            </div>
            <div class="kr-sg-radiobutton">
                <input id="NER222" type="radio" value="false" name="NERRadio01"
                    class="radio-custom">
                <label for="NER222" class="radio-custom-label">CNN</label>
            </div>
        </div>        
        <div class="sliderContainer">
            <div class="label">Embeddings</div>
            <div class="info">Embeddings map the words or phrases from the vocabulary are into vectors of real numbers</div>
            <div class="kr-sg-radiobutton">
                <input id="NER11" type="radio" value="bert" [checked]='radioList.embedding == "bert"' (change)="embedChange('bert')" name="NERRadio1" class="radio-custom">
                <label for="NER11" class="radio-custom-label">BERT</label>
            </div>
            <div class="kr-sg-radiobutton">
                <input id="NER23" type="radio" value="sent" [checked]='radioList.embedding == "sent"' (change)="embedChange('sent')" name="NERRadio1"
                    class="radio-custom">
                <label for="NER23" class="radio-custom-label">Sentence Encoder</label>
            </div>
            <div class="kr-sg-radiobutton">
                <input id="NER21" type="radio" value="cust" [checked]='radioList.embedding == "cust"' (change)="embedChange('cust')" name="NERRadio1"
                    class="radio-custom">
                <label for="NER21" class="radio-custom-label">Custom</label>
            </div>
            <div class="customUpload" *ngIf="radioList.embedding == 'cust'">
                <input type="file">
                <button>Upload</button>
            </div>
        </div>  
        <div class="sliderContainer">
            <div class="label">Embeddings Dimensions</div>
            <div class="info">Embedding dimension in the network</div>
            <input class="fieldInput" value="300">
        </div>   
        <div class="sliderContainer">
            <div class="label">Epochs</div>
            <div class="info">Number of epochs while training</div>
            <input class="fieldInput" value="25">
        </div>   
        <div class="sliderContainer">
            <div class="label">Batch size</div>
            <div class="info">Batch size while training</div>
            <input class="fieldInput" value="10">
        </div>   
        <div class="sliderContainer">
            <div class="label">Learning rate</div>
            <div class="info">learning rate provided in the optimizer while training for updating weights</div>
            <input class="fieldInput" value="0.001">
        </div>   
        <div class="sliderContainer">
            <div class="label">Dropout</div>
            <div class="info">Dropout value to be used in the training</div>
            <input class="fieldInput" value="Dropout">
        </div>   
        <div class="sliderContainer">
            <div class="label">Vectorizer</div>
            <div class="info">TFIDF or word counts</div>
            <div class="kr-sg-radiobutton">
                <input id="Vectorizer1" type="radio" value="true" name="Vectorizer"
                    class="radio-custom" checked>
                <label for="Vectorizer1" class="radio-custom-label">Count</label>
            </div>
            <div class="kr-sg-radiobutton">
                <input id="Vectorizer2" type="radio" value="false" name="Vectorizer"
                    class="radio-custom">
                <label for="Vectorizer2" class="radio-custom-label">TFIDF</label>
            </div>
          
        </div> 
        <div class="sliderContainer">
            <div class="label">Field ID</div>
            <div class="info">Provide the field id from the documents which will be used for classification</div>
            <input class="fieldInput" value="">
        </div>  
    </perfect-scrollbar>
</div>



<div class="ml-threshold-container row d-none">
    <perfect-scrollbar class="accordian-content-sec">
        <div class="SMtrainDiv ml-threshold-train" *ngIf="true">
            <div class="helphint col-xs-12 marginB20T0">
                <div class="col-xs-1 bulbicon">
                    <span><img class="layer" src='assets/images/24x29-bulbicon.png'></span>
                </div>
                <div class="col-xs-10 textDiv"><span class="name">{{'Some of the Machine Learning parameters have been updated. Unless the engine is trained, the bot will not identify intents based on the updated settings. Click on ‘Train’ button to update the bot with new settings.'}}</span>
                </div>
                <div class="trainUtteraceBtn col-xs-1">
                    <button type="button" class="pull-right kr-sg-button-primary" (click)="trainBot();"> {{'Train'}}</button>
                </div>
            </div>
        </div>
        <div class="inputFields-accordions">
            <div class="accr-sec" [ngClass]="{'line-activate': fundamentalFlag}">
                <div class="acc-names-sec">
                    <div class="arrow-btn">
                        <img src="assets/icons/carrot-right.svg" (click)="switchFundamentalMean()"
                            *ngIf="!fundamentalFlag" class="arrow-icons">
                        <img src="assets/icons/carrot-down-comp.svg" (click)="switchFundamentalMean()"
                            *ngIf="fundamentalFlag" class="arrow-icons">
                    </div>
                    <div class="text-header" (click)="switchFundamentalMean()">
                        <div class="title">Fundamental Meaning
                            <span class="settings">1 settings</span>
                        </div>
                        <div class="desc">Configure the thresholds and configurations associated with Fundamental
                            Meaning model</div>
                    </div>
                </div>
                <div class="scope-table-list" *ngIf="fundamentalFlag">
                    <div class="protip-info">
                        <div class="bulb-icon">
                            <img class="layer" src='assets/images/24x29-bulbicon.png'>
                        </div>
                        <div class="info-tip">
                            The Fundamental Meaning and the Ranking and Resolver engines are using the Dependency Parsing
                            model for intent identification and scoring. You can customize the configuration
                        </div>
                    </div>
                    <div class="label">
                        Intent Detection using Task Name Words
                    </div>
                    <div class="info">
                        Choose whether the FM engine should identify the intents using the words present in Task Name.
                        This configuration will not impact the intent detection using Patterns.
                    </div>
                    <div class="col-12">
                        <label class="kr-sg-toggle with-label">
                            <input type="checkbox" checked>
                            <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span></div>
                        </label>
                    </div>
                    <div class="protip-info">
                        <div class="bulb-icon">
                            <img class="layer" src='assets/images/24x29-bulbicon.png'>
                        </div>
                        <div class="info-tip">
                            The Fundamental Meaning and the Ranking and Resolver engines are using the Dependency Parsing model for intent identification and scoring. You can customize the configuration
                        </div>
                    </div>
                </div>
            </div>
            <div class="accr-sec" [ngClass]="{'line-activate': knowledgeGraphFlag}">
                <div class="acc-names-sec">
                    <div class="arrow-btn">
                        <img src="assets/icons/carrot-right.svg" (click)="switchKnowledgeGraph()"
                            *ngIf="!knowledgeGraphFlag" class="arrow-icons">
                        <img src="assets/icons/carrot-down-comp.svg" (click)="switchKnowledgeGraph()"
                            *ngIf="knowledgeGraphFlag" class="arrow-icons">
                    </div>
                    <div class="text-header" (click)="switchKnowledgeGraph()">
                        <div class="title"> Knowledge Graph
                            <span class="settings">10 settings</span>
                        </div>
                        <div class="desc"> Configure the thresholds and configurations associated with Knowledge Graph
                        </div>
                    </div>
                </div>
                <div class="scope-table-list" *ngIf="knowledgeGraphFlag">
                    <div class="auto-corr">
                        <div class="label">
                            Auto Correction
                        </div>
                        <div class="info">
                            Enable to auto correct the user's input to a nearest word present in Knowledge Task terms
                            and questions
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="bot-synonyms">
                        <div class="label">
                            Bot Synonyms
                        </div>
                        <div class="info">
                            Use Bot Synonyms to detect Knowledge Graph intents
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="Lemmatization">
                        <div class="label">
                            Lemmatization using Parts of Speech
                        </div>
                        <div class="info">
                            Use of parts of speech associated with the words in the utterance to lemmatize
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="Path">
                        <div class="label">
                            Path Coverage
                        </div>
                        <div class="info">
                            Define the minimum percentage of terms in the user's utterance to be present in a path to
                            qualify the path.
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]="pathCoverData"></app-range-slider>
                        </div>
                    </div>
                    
                    <div class="Minimum">
                        <div class="label">
                            Minimum and Definitive Level for Knowledge Tasks
                        </div>
                        <div class="info">
                            Define minimum and definitive threshold to identify and respond in case of a Knowledge task.
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]="minDefKgData"></app-range-slider>
                            <div class="note">
                                <span class="circle cb-1"></span><span class="iconDesc">The Knowledge Task intents identified in this range will be ignored</span>
                            </div>
                            <div class="note">
                                <span class="circle cb-2"></span><span class="iconDesc">Low confidence range for Knowledge Task intents. If no other intents are identified, the low confidence matches are presented to the end-user for intent confirmation.</span>
                            </div>
                            <div class="note">
                                <span class="circle cb-3"></span><span class="iconDesc">Probable range for Knowledge Task. The intents identified in this range are considered for Rescoring and Ranking.</span>
                            </div>
                            <div class="note margin_btm-20">
                                <span class="circle cb-4"></span><span class="iconDesc">Definitive range for Knowledge Task. The intents identified in this range are considered and any other probable matches are discarded.</span>
                            </div>
                        </div>
                    </div>
                    <div class="kg-Suggestions">
                        <div class="label">
                            KG Suggestions Count
                        </div>
                        <div class="info">
                            Define the maximum number of KG / FAQ suggestions to be presented when definite KG / FAQ match is not available.
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]="kgSuggestionsData"></app-range-slider>
                        </div>
                    </div>
                    <div class="kg-Suggestions">
                        <div class="label">
                            Proximity of Suggested Matches
                        </div>
                        <div class="info">
                            Define the maximum difference to be allowed between top scoring and immediate next suggested questions to consider them as equally important.
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]="proxSuggData"></app-range-slider>
                        </div>
                    </div>
                    <div class="Responses">
                        <div class="label">
                            Manage Long Responses
                        </div>
                        <div class="info">
                            Define how long responses are to be displayed when the response size exceeds channel specific limitations
                        </div>
                        <div class="col-12">
                            <div class="kr-sg-radiobutton d-block">
                                <input id="1" type="radio" value="true" name="scopesRadio"
                                  class="radio-custom">
                                <label for="1" class="radio-custom-label">Do not show 'read more' link</label>
                              </div>
                              <div class="kr-sg-radiobutton d-block">
                                <input id="2" type="radio" value="false" name="scopesRadio"
                                  class="radio-custom">
                                <label for="2" class="radio-custom-label">Show 'read more' link</label>
                              </div>
                        </div>
                    </div>
                    <div class="Search">
                        <div class="label">
                            Search in Answer
                        </div>
                        <div class="info">
                            Choose whether answer text should be used for identifying FAQ intents if standard search does not find any matches
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="Qualify">
                        <div class="label">
                            Qualify Contextual Paths
                        </div>
                        <div class="info">
                            Qualify paths in the Knowledge Graph using the context tags available in the context.
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label yesNo">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no leftMargin">No</span><span class="yes">Yes</span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accr-sec" [ngClass]="{'line-activate': MLflag}">
                <div class="acc-names-sec">
                    <div class="arrow-btn">
                        <img src="assets/icons/carrot-right.svg" (click)="switchMachineLearn()"
                            *ngIf="!MLflag" class="arrow-icons">
                        <img src="assets/icons/carrot-down-comp.svg" (click)="switchMachineLearn()"
                            *ngIf="MLflag" class="arrow-icons">
                    </div>
                    <div class="text-header" (click)="switchMachineLearn()">
                        <div class="title"> Machine Learning
                            <span class="settings">7 settings</span>
                        </div>
                        <div class="desc"> Configure the thresholds and configurations associated with Machine Learning model</div>
                    </div>
                </div>
                <div class="scope-table-list" *ngIf="MLflag">
                    <div class="bot-synonyms">
                        <div class="label">
                            Bot Synonyms
                        </div>
                        <div class="info">
                            Use bot synonyms for intent detection.
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span></div>
                            </label>
                        </div>
                    </div>
                    <div class="bot-Stopwords">
                        <div class="label">
                            Stopwords
                        </div>
                        <div class="info">
                            Discard stop words present in user utterance for detecting intents. 
                            <a rel="noopener noreferrer">Manage</a>

                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span></div>
                            </label>
                        </div>
                    </div>
                    <div class="ml-def">
                        <div class="label">
                            ML Definitive Score
                        </div>
                        <div class="info">
                            Configure the threshold score for definite matches
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]="mlDefData"></app-range-slider>
                        </div>
                    </div>
                    <div class="n-gram">
                        <div class="label">
                            n-gram Sequence Length
                        </div>
                        <div class="info">
                            Define maximum length of n-gram sequences.
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]='nGramData'></app-range-slider>
                        </div>
                    </div>
                    <div class="ml-Threshold">
                        <div class="label">
                            ML Threshold
                        </div>
                        <div class="info">
                            Define the minimum ML score to qualify an intent as a probable match.
                        </div>
                        <div class="col-12 pl-0">
                            <app-range-slider [allData]='mlThreshData'></app-range-slider>
                        </div>
                    </div>
                    <div class="ml-NER">
                        <div class="label">
                            NER Model
                        </div>
                        <div class="info">
                            Choose the NER model to be used for entity detection
                        </div>
                        <div class="col-12">
                            <div class="kr-sg-radiobutton d-block">
                                <input id="NER1" type="radio" value="true" name="NERRadio"
                                  class="radio-custom">
                                <label for="NER1" class="radio-custom-label">Conditional Random Field</label>
                              </div>
                              <div class="kr-sg-radiobutton d-block">
                                <input id="NER2" type="radio" value="false" name="NERRadio"
                                  class="radio-custom">
                                <label for="NER2" class="radio-custom-label">Deep Neural Network</label>
                              </div>
                        </div>
                    </div>
                    <div class="Entity">
                        <div class="label">
                            Entity Placeholders
                        </div>
                        <div class="info">
                            Enable to replace entity values present in the training utterances with the corresponding entity placeholders in the training model
                        </div>
                        <div class="col-12">
                            <label class="kr-sg-toggle with-label">
                                <input type="checkbox" checked>
                                <div class="slider"> <span class="no">Disable</span><span class="yes">Enable</span></div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accr-sec" [ngClass]="{'line-activate': rankingResolverFlag}">
                <div class="acc-names-sec">
                    <div class="arrow-btn">
                        <img src="assets/icons/carrot-right.svg" (click)="switchrankingResolver()"
                            *ngIf="!rankingResolverFlag" class="arrow-icons">
                        <img src="assets/icons/carrot-down-comp.svg" (click)="switchrankingResolver()"
                            *ngIf="rankingResolverFlag" class="arrow-icons">
                    </div>
                    <div class="text-header" (click)="switchrankingResolver()">
                        <div class="title">Ranking and Resolver Engine
                            <span class="settings">1 settings</span>
                        </div>
                        <div class="desc">Configure the ranking and resolver engine</div>
                    </div>
                </div>
                <div class="scope-table-list" *ngIf="rankingResolverFlag">
                    <div class="label">
                        Proximity of Probable Matches
                    </div>
                    <div class="info">
                        Define the maximum difference to be allowed between top scoring and immediate next possible intents to consider them as equally important.
                    </div>
                    <div class="col-12 pl-0">
                        <app-range-slider [allData]='proxProbData'></app-range-slider>
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</div>