<div class="main-metrics-container">
    <div class="header-sec row m-0 col-12">
        <div class="bread-cum-sec col-3 p-0 d-flex align-items-center">
            <div class="bread-name">Analytics</div>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMCAYAAABBV8wuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAClSURBVHgBbU+xDcIwEPQ7ibIGI8AIGQNREJepYAMYAQoUkSC9U9iUFhNkFNgAWoTsByNhKQ5XnPR3uv971khtasQJi8At2X0CeR+b4KlGVSYAq4yehRDi8U14qsRCEtHlBblh/3BEtW2kwrBqaGrJOVz5qA2wu3NuGGi786ZBvRuJrdT9b049nTq9dETlp+4s/HFANc0AjCUoKjG/hVspg3UserwBA09CgWDEywYAAAAASUVORK5CYII=">
            <div class="bread-name active-name">User Engagement</div>
        </div>
        <div class="d-flex justify-content-end align-items-center col-9 p-0">
            <div class="date-info">All conversation sessions between <span class="bold-text">01-08-2020 to 07-08-2020</span></div>                
            <div class="date-select">
                <span class="day time active">24 Hrs</span>
                <span class="week time">7 Days</span>
                <span class="custom time">Custom</span>
            </div>
            <div class="export"><img src="assets/icons/share.svg"></div>
        </div>
    </div>
    <!-- <div class="data-percentage failed">
        <img src="assets/icons/arrow-decrease.svg">
        <span class="percentage">3%</span>
    </div> -->
    <perfect-scrollbar class="scroll_content">              
        <div *ngIf="slider === 1" class="main-dashbord-metrics">
            <div class="data-information-content col-12 m-0 row split-tables">
                <div class="col-12 box-content">
                    <div class="full-card">
                        <div class="legends-info">
                            <div class="content no-bg">
                                <div class="title">Total Users <span class="toatlsearches"></span></div>
                                <div class="count-data">
                                    <span class="count">{{totalUser}}
                                        <img style=" background: #DD3646;" *ngIf ="totalUserProgress < 0" src="assets/icons/arrow-decrease.svg">
                                        <img *ngIf ="totalUserProgress > 0"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABeSURBVHgB7c7BCcAgDAXQZIOOYDfoxh2hI3QER3AFN4j/4CGICElOgh8+YgKPEJ2M4dVSRH48SY0utDLzTZ4AfNCMFvJEAcmFaKD/bcgImJEZ0OdvCAhfYEW+ELB/Ghq8YlSvj06DAAAAAElFTkSuQmCC"></span>
                                    <span class="percentage" *ngIf ="totalUserProgress > 0">+ {{totalUserProgress}}%</span>
                                    <span class="percentage" style=" color: #DD3646;" *ngIf ="totalUserProgress < 0">{{totalUserProgress}}%</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="title">New Users <span class="withresults"></span></div>
                                <div class="count-data">
                                    <span class="count">{{newUser}}
                                        <img style=" background: #DD3646;" *ngIf ="newUserProgress < 0" src="assets/icons/arrow-decrease.svg">
                                        <img *ngIf ="newUserProgress > 0"src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABeSURBVHgB7c7BCcAgDAXQZIOOYDfoxh2hI3QER3AFN4j/4CGICElOgh8+YgKPEJ2M4dVSRH48SY0utDLzTZ4AfNCMFvJEAcmFaKD/bcgImJEZ0OdvCAhfYEW+ELB/Ghq8YlSvj06DAAAAAElFTkSuQmCC"></span>
                                    <span class="percentage" *ngIf ="newUserProgress > 0">+{{newUserProgress}}%</span>
                                    <span class="percentage"  style=" color: #DD3646;" *ngIf ="newUserProgress < 0">{{newUserProgress}}%</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="title">Repeat Users <span class="clicks"></span></div>
                                <div class="count-data " >
                                    <span class="count">{{repeatUser}}
                                        <img style=" background: #DD3646;" *ngIf ="repeatUserProgress < 0" src="assets/icons/arrow-decrease.svg">
                                        <img *ngIf ="repeatUserProgress > 0" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAYAAADwMZRfAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABeSURBVHgB7c7BCcAgDAXQZIOOYDfoxh2hI3QER3AFN4j/4CGICElOgh8+YgKPEJ2M4dVSRH48SY0utDLzTZ4AfNCMFvJEAcmFaKD/bcgImJEZ0OdvCAhfYEW+ELB/Ghq8YlSvj06DAAAAAElFTkSuQmCC"></span>
                                    <span class="percentage"  *ngIf ="repeatUserProgress > 0"><span>+</span>{{repeatUserProgress}}%</span>
                                    <span class="percentage" style=" color: #DD3646;" *ngIf ="repeatUserProgress < 0">{{repeatUserProgress}}%</span>
                                </div>
                            </div>
                        </div>
                        <div class="kr-sg-dropdowns filter-dropdown" ngbDropdown [placement]="'bottom-right'">
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle><img
                                        src="assets/icons/filter.svg"></button>
                                <ul class="dropdown-menu content-menu m-0" ngbDropdownMenu>
                                    <div class="kr-sg-checkbox d-block p-0">
                                        <input id="checkbox_1" class="checkbox-custom" type="checkbox" checked>
                                        <label for="checkbox_1" class="checkbox-custom-label">Live Search</label>
                                    </div>
                                    <div class="kr-sg-checkbox d-block p-0 m-0">
                                        <input id="checkbox_12" class="checkbox-custom" type="checkbox" checked>
                                        <label for="checkbox_12" class="checkbox-custom-label">Full Search</label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div echarts [options]="userEngagementChartData" class="demo-chart-graphMode"></div>
                    </div>
                </div>
            </div>
            <div class="data-information-content col-12 m-0 row split-tables">
                <div class="col-12 box-content">
                    <div class="full-card">
                        <div class="legends-info">
                            <div class="content no-bg">
                                <div class="title">Busy Hours<span class="toatlsearches"></span></div>
                            </div>
                        </div>
                        <div echarts [options]="heatMapChartOption" class="demo-chart-graphMode"></div>
                        <div class="d-flex justify-content-between mt-1">
                            <!-- <ng5-slider [(value)]="durationRange1" [(highValue)]="durationRange2" [options]="durationOptions" class="double_slider slider1" (userChangeEnd)="onUserChangeEnd('duration', $event, 'slider1')" (userChange)="onUserChange($event, 'slider1', true)"></ng5-slider> -->
                            <div class="row m-0 bottom-row col-12 ">
                                <div class="slider-sec col-6 p-0">
                                    <!-- <ng5-slider class = "col-3" [(value)]="durationRange1" [(highValue)]="durationRange2" [options]="durationOptions" class="double_slider slider1" (userChangeEnd)="onUserChangeEnd('duration', $event, 'slider1')" (userChange)="onUserChange($event, 'slider1', true)"></ng5-slider> -->
                                </div>
                                <div class="legend-sec col-6 p-0">
                                    <div class="title">Volume Of Users</div>
                                    <div class="legends-info">
                                        <div class="one">
                                            <div class="bg-color"></div>
                                            <div class="numbers">200 -250</div>
                                        </div>
                                        <div class="two">
                                            <div class="bg-color"></div>
                                            <div class="numbers">150 -200</div>
                                        </div>
                                        <div class="three">
                                            <div class="bg-color"></div>
                                            <div class="numbers">100 -150</div>
                                        </div>
                                        <div class="four">
                                            <div class="bg-color"></div>
                                            <div class="numbers">50 -100</div>
                                        </div>
                                        <div class="five">
                                            <div class="bg-color"></div>
                                            <div class="numbers">0 -50</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 row m-0 p-0">
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">Most Used Devices</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">Most Used Browsers</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 row m-0 p-0">
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">GEO</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">Sentiments</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </perfect-scrollbar>
</div>

<!-- <img src=" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAAxCAMAAABNqRFUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACrUExURQAAACAgIGBgYGNjayAgIFhgaGBgaCAgJWBlZSAgJGBkaCAgI2BjZiAjIyAgIyAgJV1iaF5jZyAgJF1iaWBiaWBkaSAiJF5iaCAgJF5iaCAgJCAiJCAgI15haCAiIyAiJV9jaCAgIyAgJCAiJF9jZyAgJCAgJCAhJF9jaCAgJCAgJCAhJF9jZ19jaSAgIyAhIyAhJV9iaF9jaCAhJF9iZ19jZ19jaSAhJF9jaF68u5EAAAA3dFJOUwAQEB8gICAwMEBAUFBfYGBgb3BwcHB/f4CAj4+QkJ+fn6Cvr6+wv7+/wM/Pz8/f39/f3+/v7+9s2eW/AAABYUlEQVRIx+3U3VLbMBCG4Vd0wRUiduvQVCQGQygsoLaiccC5/yvjwBASJ+CSmXCU78Qzq3nGq59ZeM7Ph1ln+rTz789JVyaTVXVOV252aqd2akP1a78r61T3AJh9kjo63ESd9jfu8PeKOp52oukPtpCv88l58AH1bd7V4X+K7+2BP+l3o73VU3jsVgdrDu8Lu2whqaoOpV0dJgDIW8rfWpvFvFVVu/hZo0pAKgNZORQwgzIFtRgvWSzdSz1LBmW6rFDH6NL5aIjeao5agicJuTAILguC3uXutaVGXaQSgXFqamlaO/NNh6YW8AWag71fVmNnK1WNHl9rChor0ygbAHfVbLFu7UuSICJiAHtZoLnXRsn9s3JgllQSCogJlCIjyK5Ri45g7CD0MCFFFQblXNV1/TcHkqjVBRQxxAS1mNgjrUskauVBixCu192fGACztGRe6mqNfPwNvXnh7yZb+NMTH4RuKyAScm4AAAAASUVORK5CYII=" -->