<div class="main-metrics-container">
    <div class="header-sec row m-0 col-12">
        <div class="bread-cum-sec col-3 p-0 d-flex align-items-center">
            <div class="bread-name">Analytics</div>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMCAYAAABBV8wuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAClSURBVHgBbU+xDcIwEPQ7ibIGI8AIGQNREJepYAMYAQoUkSC9U9iUFhNkFNgAWoTsByNhKQ5XnPR3uv971khtasQJi8At2X0CeR+b4KlGVSYAq4yehRDi8U14qsRCEtHlBblh/3BEtW2kwrBqaGrJOVz5qA2wu3NuGGi786ZBvRuJrdT9b049nTq9dETlp+4s/HFANc0AjCUoKjG/hVspg3UserwBA09CgWDEywYAAAAASUVORK5CYII=">
            <div class="bread-name active-name">User Engagement</div>
        </div>
        <div class="d-flex justify-content-end align-items-center col-9 p-0">
            <div class="date-info">All conversation sessions between <span class="bold-text">01-08-2020 to 07-08-2020</span></div>                
            <div class="date-select">
                <span class="day time active">24 Hrs</span>
                <span class="week time">7 Days</span>
                <span class="custom time">Custom</span>
            </div>
            <div class="export"><img src="assets/icons/share.svg"></div>
        </div>
    </div>
    <perfect-scrollbar class="scroll_content">              
        <div *ngIf="slider === 1" class="main-dashbord-metrics">
            <div class="data-information-content col-12 m-0 row split-tables">
                <div class="col-12 box-content">
                    <div class="full-card">
                        <div class="legends-info">
                            <div class="content">
                                <div class="title">Total Users <span class="toatlsearches"></span></div>
                                <div class="count-data">
                                    <span class="count"><img src="assets/icons/arrow_green.svg">80</span>
                                    <span class="percentage">+12%</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="title">New Users <span class="withresults"></span></div>
                                <div class="count-data">
                                    <span class="count"><img src="assets/icons/arrow_green.svg">26</span>
                                    <span class="percentage">+7%</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="title">Repeat Users <span class="clicks"></span></div>
                                <div class="count-data">
                                    <span class="count"><img src="assets/icons/arrow_green.svg">54</span>
                                    <span class="percentage">+3%</span>
                                </div>
                            </div>
                        </div>
                        <div class="kr-sg-dropdowns filter-dropdown" ngbDropdown [placement]="'bottom-right'">
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle><img
                                        src="assets/icons/filter.svg"></button>
                                <ul class="dropdown-menu content-menu m-0" ngbDropdownMenu>
                                    <div class="kr-sg-checkbox d-block p-0">
                                        <input id="checkbox_1" class="checkbox-custom" type="checkbox" checked>
                                        <label for="checkbox_1" class="checkbox-custom-label">Live Search</label>
                                    </div>
                                    <div class="kr-sg-checkbox d-block p-0 m-0">
                                        <input id="checkbox_12" class="checkbox-custom" type="checkbox" checked>
                                        <label for="checkbox_12" class="checkbox-custom-label">Full Search</label>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div echarts [options]="userEngagementChartData" class="demo-chart-graphMode"></div>
                    </div>
                </div>
            </div>
            <div class="data-information-content col-12 m-0 row split-tables">
                <div class="col-12 box-content">
                    <div class="full-card">
                        <div class="legends-info">
                            <div class="content">
                                <div class="title">Busy Hours<span class="toatlsearches"></span></div>
                            </div>
                        </div>
                        <div echarts [options]="heatMapChartOption" class="demo-chart-graphMode"></div>
                    </div>
                </div>
                <div class="col-12 row m-0 p-0">
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">Most Used Devices</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">Most Used Browsers</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 row m-0 p-0">
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">GEO</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                    <div class="col-6 box-content">
                        <div class="full-card">
                            <div class="title-card">Sentiments</div>
                            <div echarts [options]="mostClickBar" class="demo-chart-graphMode"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </perfect-scrollbar>
</div>