<div class="emptyStateContainer" aria-live="polite">
  <div class="scrollContainer">
    <div *ngIf="!(apps && apps.length)">
      <div class="empty-state-wrap">
        <div aria-hidden="true" class="col-6 empty-image">
          <img src="assets/images/noBotsPlaceholder.svg">
        </div>
        <div class="col-4 empty-message" >
          <p class="title" role="banner">{{'Hi'| translate}}{{this.authInfo.currentAccount.userInfo.fName}} {{this.authInfo.currentAccount.userInfo.lName}}</p>
          <p class="welcomenote" role="doc-acknowledgments">{{'WelcometoFindly' | translate}}</p>
        </div>
      </div>
      <div class="empty-description">
        <p>Few steps away from launching your first Findly.ai app</p>
        <div class="btnContainer">
          <button [disabled]="saveInProgress" (click)="openCreateApp()" class="addFieldBTN"><i *ngIf="saveInProgress" class="fa fa-spinner fa-spin"></i>{{saveInProgress? 'Creating App' :'Get Started'}}</button>
          <button class="seeHowBtn d-none">See how</button>
        </div>
      </div>
    </div>
    <div class="findly-dashboard" *ngIf="apps && apps.length">
      <div class="main-heading" role="doc-introduction">{{'WelcometoFindly' | translate}}</div>
      <div class="header-sec row ml-0 mr-0">
          <div class="title col-6 p-0" role="contentinfo">{{'Your_Applications' | translate}}</div>
          <div class="col-6 p-0 row justify-content-end align-items-center text-right m-0">
            <div class="kr-sg-input-search" role="searchbox">                               
              <input type="text" placeholder="Search" id="serachInputBox" class="input-search" maxlength="128" [(ngModel)]="searchApp">
              <img src="assets/icons/search.svg" class="search-icon">
            </div>
            <button class="kr-sg-button-primary btn_lg" (click)="openCreateApp()">+ Add New</button>
            <!-- <div class="add-new" (click)="openCreateApp()"><img src="assets/icons/sidemenu/plus-table.svg">Add New</div> -->
            <span class="dropdown createDropDown hide">
              <div class="dropdown-toggle" id="menu1" data-toggle="dropdown">
                <img class="gray_arrow" src="assets/icons/caretDown.svg">
                <img class="white_arrow" src="assets/icons/caretDownWhit.svg">
              </div>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li><a>Import</a></li>
              </ul>
          </span>
          </div>
      </div>
      <div class="body-sec">
        <div class="row m-0 appsListingContainer">
          <div class="col-3 cards-content" (click)="openApp(app)" *ngFor="let app of apps | filter: [ searchApp, 'name']">
            <div class="box">
              <div class="img-block">
                <img src="assets/icons/user-gray.svg">
              </div>
              <div class="content-sec">
                <div class="name"><span>{{app.name}}</span></div>
                <div class="info-text">{{app.description}}</div>
              </div>
            </div>
          </div>
          <div class="empty">No apps found that matches with {{searchApp}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<kr-modal modalType="default" #createAppPop>
  <div class="modal-header">
        <h4 class="modal-title">Create App</h4>
      </div>
      <div class="modal-body textAlignLeft">
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">Name</div>
          <input maxlength="128" type="text" placeholder="App name" class="input-text" [(ngModel)]="newApp.name" name="appName">
        </div>
        <div class="kr-sg-input-text-area mb-2">
          <div class="label-text">Description</div>
          <textarea maxlength="512" placeholder="App description " class="input-text" [(ngModel)]="newApp.description" name="appDesc"></textarea>
        </div>
        <div class="kr-sg-dropdowns w-100 mt-1">
          <div class="label-text">Language</div>
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" disabled>English</button>                                            
              <ul class="dropdown-menu content-menu">
              <li class="search-box">
                  <input maxlength="128" type="text" placeholder="Search" class="seach-input">
              </li>                                                
                <li><a>English</a></li>
                <li><a>German</a></li>
                <li><a>French</a></li>
              </ul>
           </div>
      </div>
      </div>
      <div class="modal-footer" [ngClass]="{'disabled': creatingInProgress}">
        <button [disabled]="!newApp.name"  type="button" class="btn kr-btn-primary"  data-dismiss="modal" (click)='createFindlyApp()' >{{creatingInProgress?'Createing...':'Proceed'}}</button>
        <button type="button" class="btn kr-btn-cancel" data-dismiss="modal" (click)="closeCreateApp()">Close</button>
      </div>
</kr-modal>

