<app-useronboarding-journey [componentType]='componentType'></app-useronboarding-journey>
<div class="search-experience-wrapper">
    <div class="header-title">Search Experience</div>
    <div class="tabs-sec">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active':selectedTab==='experience'}" data-toggle="tab"><span class="active-steps" [ngStyle]="show_tab_color?{'background':'#0D6EFD','color':'#fff','border': '1px solid #0D6EFD'}:{}">1</span><span class="name">Experience</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active':selectedTab==='searchwidget'}" data-toggle="tab"><span class="active-steps" [ngStyle]="show_tab_color1?{'background':'#0D6EFD','color':'#fff','border': '1px solid #0D6EFD'}:{}">2</span><span class="name">Search Widget</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active':selectedTab==='interactions'}" data-toggle="tab" ><span class="active-steps" [ngStyle]="show_tab_color2?{'background':'#0D6EFD','color':'#fff','border': '1px solid #0D6EFD'}:{}">3</span><span class="name">Interactions</span></a>
            </li>
        </ul>
        <perfect-scrollbar class="scroll-data">
          <div class="tab-content" [ngSwitch]="selectedTab">
            <div class="container" *ngSwitchCase="'experience'">              
                <div class="experience-tab">
                    <div class="left-sec">
                        <div class="kr-sg-radiobutton d-block plr-0 mb-4">
                            <input id="radio-2" name="topdown" value='top' class="radio-custom" type="radio" [(ngModel)]="searchObject.searchExperienceConfig.searchBarPosition" (click)="changeSlider('top-down')">
                            <label for="radio-2" class="radio-custom-label">Top Down</label>
                            <div class="desc-tect">Search Bar at the top</div>
                        </div>   
                        <div class="kr-sg-radiobutton d-block plr-0 mb-4">
                            <input id="radio-22" name="bottomup" value='bottom' class="radio-custom" type="radio" [(ngModel)]="searchObject.searchExperienceConfig.searchBarPosition" (click)="changeSlider('bottom-up')">
                            <label for="radio-22" class="radio-custom-label">Bottom Up</label>
                            <div class="desc-tect">Search Bar at the bottom</div>
                        </div>   
                    </div>
                    <div class="right-sec">
                        <div class="search-preview-dummy">
                            <div class="top-search" [ngClass]="{'bottom-search': searchObject.searchExperienceConfig.searchBarPosition == 'bottom'}">
                                <div class="kr-sg-input-search">                               
                                    <input type="text" placeholder="Search" class="input-search" id="myInput">
                                    <img src="assets/icons/search_gray.svg" class="search-icon">
                                </div>
                            </div>                                                 
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'searchwidget'">
                <div class="search-widget">
                    <div class="label-text">Search Box Customization</div>
                    <div class="d-flex search-customization-input">
                        <div class="kr-sg-input-search" [ngClass]="{'added-tour':tourGuide==='step1'||tourGuide==='step2'||tourGuide==='step3'}">                               
                            <input type="text" class="input-search" [ngClass]="{'activeBox':selectSearch=='inputBox'}" [ngStyle]="{'background':searchObject.searchWidgetConfig.searchBarFillColor,'border-color':searchObject.searchWidgetConfig.searchBarBorderColor}" (click)="selectSearchBox('inputBox');$event.stopPropagation();" readonly>
                            <img [src]="searchIcon" class="search-icon" [ngClass]="{'activeBox':selectSearch=='inputIcon'}" (click)="selectSearchBox('inputIcon');$event.stopPropagation();" height="15" width="15">
                            <input #elasticInput class="placeholder-custom-search" value="{{searchObject.searchWidgetConfig.searchBarPlaceholderText}}" placeholder="search" (click)="selectSearchBox('placeholderText');$event.stopPropagation()" [ngClass]="{'activeBox':selectSearch=='placeholderText'}" [ngStyle]="{'color':searchObject.searchWidgetConfig.searchBarPlaceholderTextColor,'width.px': width}" #data (change)="onEventLog('placeholderText',data.value);" (input)="resize()"> 
                            <span #hiddenText style="visibility: hidden; white-space: pre;">{{elasticInput.value}}</span>
                            <button class="btn-customize kr-sg-button-primary read-mode btn_lg inside-input-btn"  (click)="selectSearchBox('button')" [ngClass]="{'activeBox':selectSearch=='button','added-tour':tourGuide==='step4'}" [ngStyle]="{'background':searchObject.searchWidgetConfig.buttonFillColor,'border-color':searchObject.searchWidgetConfig.buttonBorderColor,'color':searchObject.searchWidgetConfig.buttonTextColor}" [disabled]="buttonDisabled" *ngIf="(searchObject.searchExperienceConfig.searchBarPosition==='top'&&searchObject.searchWidgetConfig.buttonPlacementPosition==='inside')||searchObject.searchExperienceConfig.searchBarPosition==='bottom'">
                                <span>{{searchObject.searchWidgetConfig.buttonText}}</span>
                                <div class="hover-overlay-btn-img" (click)="buttonDisabled=false" *ngIf="buttonDisabled"><img src="assets/icons/search-experience/edit.svg"></div>
                            </button>  
                        </div>                                             
                        <button class="btn-customize kr-sg-button-primary read-mode btn_lg"  (click)="selectSearchBox('button')" [ngClass]="{'activeBox':selectSearch=='button','added-tour':tourGuide==='step4'}" [ngStyle]="{'background':searchObject.searchWidgetConfig.buttonFillColor,'border-color':searchObject.searchWidgetConfig.buttonBorderColor,'color':searchObject.searchWidgetConfig.buttonTextColor}" [disabled]="buttonDisabled" *ngIf="searchObject.searchExperienceConfig.searchBarPosition==='top'&&searchObject.searchWidgetConfig.buttonPlacementPosition==='outside'">
                            <span>{{searchObject.searchWidgetConfig.buttonText}}</span>
                            <div class="hover-overlay-btn-img" (click)="buttonDisabled=false" *ngIf="buttonDisabled"><img src="assets/icons/search-experience/edit.svg"></div>
                        </button>
                        <div [ngSwitch]="tourGuide">
                            <div class="tour-guide-data" *ngSwitchCase="'step1'">
                                <div class="close-guide" (click)="tourGuide=''">
                                    <img src="assets/icons/search-experience/close-tour.svg">
                                </div>
                                <div class="title-info">Click on search box to customize border and fill color</div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="tour-length">1 of 4</div>
                                    <div class="bt-sec">
                                        <button class="kr-sg-button-primary btn_lg mr-2" (click)="tourGuide='step2'">Next</button>
                                        <!-- <button class="kr-sg-button-secondary btn_lg">Previous</button> -->
                                    </div>
                                </div>
                            </div>  
                            
                            <div class="tour-guide-data search-tour-icon" *ngSwitchCase="'step2'">
                                <div class="close-guide" (click)="tourGuide=''">
                                    <img src="assets/icons/search-experience/close-tour.svg">
                                </div>
                                <div class="title-info">Click on search icon to change the icon as per your choice</div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="tour-length">2 of 4</div>
                                    <div class="bt-sec">
                                        <button class="kr-sg-button-primary btn_lg mr-2" (click)="tourGuide='step3'">Next</button>
                                        <button class="kr-sg-button-secondary btn_lg" (click)="tourGuide='step1'">Previous</button>
                                    </div>
                                </div>
                            </div> 
    
                            <div class="tour-guide-data place-holder-text-tour" *ngSwitchCase="'step3'">
                                <div class="close-guide" (click)="tourGuide=''">
                                    <img src="assets/icons/search-experience/close-tour.svg">
                                </div>
                                <div class="title-info">Click on the text to customize text content and color</div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="tour-length">3 of 4</div>
                                    <div class="bt-sec">
                                        <button class="kr-sg-button-primary btn_lg mr-2" (click)="tourGuide='step4'">Next</button>
                                        <button class="kr-sg-button-secondary btn_lg" (click)="tourGuide='step2'">Previous</button>
                                    </div>
                                </div>
                            </div> 
    
                            <div class="tour-guide-data button-tour" *ngSwitchCase="'step4'">
                                <div class="close-guide" (click)="tourGuide=''">
                                    <img src="assets/icons/search-experience/close-tour.svg">
                                </div>
                                <div class="title-info">Click on the button to customize button text, fill color and border color</div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="tour-length">4 of 4</div>
                                    <div class="bt-sec">
                                        <button class="kr-sg-button-primary btn_lg mr-2" (click)="updateTourConfig()">Got it</button>
                                        <button class="kr-sg-button-secondary btn_lg" (click)="tourGuide='step3'">Previous</button>
                                    </div>
                                </div>
                            </div> 
                        </div>                                                  
                    </div>
                    <div [ngSwitch]="selectSearch">                        
                        <div class="fill-colors-block" *ngSwitchCase="'inputBox'">
                            <div class="fill-color">
                                <div class="label-color">Fill Color</div>                            
                                <div class="box-color" [ngClass]="{'color-pallet-container': inputBox1}" (mouseover)="toggle=true;inputBox1=true;">
                                     <input
                                        [style.background]="color"                                      
                                        [(colorPicker)]="color"
                                        [cpOutputFormat]="'hex'"
                                        [cpAlphaChannel]="'always'"
                                        (colorPickerClose)="onEventLog('inputbox1', $event)"
                                        [cpCloseClickOutside]="false"
                                        [(cpToggle)]='toggle'
                                        readonly
                                    />
                                    <div class="box-color-content" *ngIf="inputBox1">
                                        <div class="header-title-close">
                                            <div class="title-name">Choose Color</div>
                                            <div class="close-color" (click)="toggle=false;inputBox1=false;;">
                                                <img src="assets/icons/close.svg">
                                            </div>
                                        </div>
                                        <div class="selected-previous-colors flex-wrap">
                                            <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('inputbox1', col);color=col;"></div>
                                            </ng-container>                                           
                                        </div>
                                        <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color)">Save Color</div>
                                     </div>
                                </div>
                            </div>
                            <div class="fill-color">
                                <div class="label-color">Border Color</div>
                                <!--border-color-pallet-->
                                <div class="box-color" [ngClass]="{'color-pallet-container': inputBox2}" (mouseover)="toggle1=true;inputBox2=true;">
                                    <input
                                        [style.background]="color1"
                                        [(colorPicker)]="color1"
                                        [cpOutputFormat]="'hex'"
                                        [cpAlphaChannel]="'always'"
                                        (colorPickerOpen)="onEventLog('inputbox2', $event)"
                                        (colorPickerClose)="onEventLog('inputbox2', $event)"        
                                        [cpCloseClickOutside]="false"
                                        [(cpToggle)]='toggle1'                              
                                        readonly
                                    />

                                    <div class="box-color-content" *ngIf="inputBox2">
                                        <div class="header-title-close">
                                            <div class="title-name">Choose Color</div>
                                            <div class="close-color" (click)="toggle1=false;inputBox2=false;">
                                                <img src="assets/icons/close.svg">
                                            </div>
                                        </div>
                                        <div class="selected-previous-colors flex-wrap">
                                            <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('inputBox2', col);color1=col;"></div>
                                            </ng-container>                                           
                                        </div>
                                        <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color1)">Save Color</div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="drog-and-drop-block" *ngSwitchCase="'inputIcon'">
                            <div class="img-block"><img src="assets/icons/search-experience/dummy-image.svg"></div>
                            <div class="input-file">
                                <div class="title">Drag and drop or <span class="browse">browse</span></div>
                                <input type="file" name="avatar"  (change)="selectIcon($event,'searchIcon','auto')"/>
                                <span class="icon-text"><img src="assets/icons/info.svg"> Recommended icon size : 26X26 pixels</span>
                            </div>
                        </div>
                        <div class="fill-colors-block" *ngSwitchCase="'placeholderText'">
                            <div class="fill-color">
                                <div class="label-color">Text Color</div>
                                <div class="box-color" [ngClass]="{'color-pallet-container': placeholBox}" (mouseover)="toggle2=true;placeholBox=true;">
                                    <input
                                        [style.background]="color2"
                                        [(colorPicker)]="color2"
                                        [cpOutputFormat]="'hex'"
                                        [cpAlphaChannel]="'always'"
                                        (colorPickerClose)="onEventLog('placeholder', $event)"
                                        [cpCloseClickOutside]="false"
                                        [(cpToggle)]='toggle2'
                                        readonly
                                    />

                                    <div class="box-color-content" *ngIf="placeholBox">
                                        <div class="header-title-close">
                                            <div class="title-name">Choose Color</div>
                                            <div class="close-color" (click)="toggle2=false;placeholBox=false;">
                                                <img src="assets/icons/close.svg">
                                            </div>
                                        </div>
                                        <div class="selected-previous-colors flex-wrap">
                                            <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('placeholder', col);color2=col;"></div>
                                            </ng-container>                                           
                                        </div>
                                        <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color2)">Save Color</div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-enable" *ngSwitchCase="'button'">
                            <div class="label_text">Add Button</div>
                            <label class="kr-sg-toggle">                                       
                                <input type="checkbox" [(ngModel)]="searchObject.searchWidgetConfig.searchButtonEnabled">
                                <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                            </label>

                            <div class="group-radiobutton mt-3 pt-1" *ngIf="searchObject.searchExperienceConfig.searchBarPosition==='top'">
                                <div class="label_text">Button Placement</div>
                                <div class="kr-sg-radiobutton">
                                    <input id="radio-221" name="radio" class="radio-custom" type="radio" value='outside' [checked]="searchObject.searchWidgetConfig.buttonPlacementPosition=='outside'" [disabled]="!(searchObject.searchWidgetConfig.searchButtonEnabled)" [(ngModel)]="searchObject.searchWidgetConfig.buttonPlacementPosition">
                                    <label for="radio-221" class="radio-custom-label">Outside Search box</label>
                                </div>
                                <div class="kr-sg-radiobutton">
                                    <input id="radio-232" name="radio" class="radio-custom" type="radio" value='inside' [checked]="searchObject.searchWidgetConfig.buttonPlacementPosition=='inside'" [disabled]="!(searchObject.searchWidgetConfig.searchButtonEnabled)" [(ngModel)]="searchObject.searchWidgetConfig.buttonPlacementPosition">
                                    <label for="radio-232" class="radio-custom-label">Inside Search box</label>
                                </div>
                            </div> 

                            
                            <div class="kr-sg-input-text">
                                <div class="label-text">Button Text</div>
                                <input type="text" maxlength="6" #butttonText (keyup)="0" placeholder="Enter Name" class="input-text" [(ngModel)]="searchObject.searchWidgetConfig.buttonText" [disabled]="!(searchObject.searchWidgetConfig.searchButtonEnabled)">                            
                                <div class="button-text-count">{{butttonText.value.length}}/6</div>
                            </div>
                            <div class="fill-colors-block">
                                <div class="fill-color">
                                    <div class="label-color">Text Color</div>
                                    <div class="box-color" [ngClass]="{'color-pallet-container': buttonTextColor}" (mouseover)="toggle3=true;buttonTextColor=true;">
                                        <input
                                            [style.background]="color3"
                                            [(colorPicker)]="color3"
                                            [cpOutputFormat]="'hex'"
                                            [cpAlphaChannel]="'always'"
                                            (colorPickerClose)="onEventLog('buttonTextColor', $event)"
                                            [cpCloseClickOutside]="false"
                                            [(cpToggle)]='toggle3'
                                            readonly
                                            [ngClass]="{'input_disable':!(searchObject.searchWidgetConfig.searchButtonEnabled)}"
                                        />
    
                                        <div class="box-color-content" *ngIf="buttonTextColor">
                                            <div class="header-title-close">
                                                <div class="title-name">Choose Color</div>
                                                <div class="close-color" (click)="toggle3=false;buttonTextColor=false;">
                                                    <img src="assets/icons/close.svg">
                                                </div>
                                            </div>
                                            <div class="selected-previous-colors flex-wrap">
                                                <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                    <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('buttonTextColor', col);color3=col;"></div>
                                                </ng-container>                                           
                                            </div>
                                            <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color3)">Save Color</div>
                                         </div>
                                    </div>
                                </div>
                                <div class="fill-color">
                                    <div class="label-color">Fill Color</div>
                                    <div class="box-color" [ngClass]="{'color-pallet-container': buttonFill}" (mouseover)="toggle4=true;buttonFill=true;">
                                        <input
                                            [style.background]="color4"
                                            [(colorPicker)]="color4"
                                            [cpOutputFormat]="'hex'"
                                            [cpAlphaChannel]="'always'"
                                            (colorPickerClose)="onEventLog('buttonFill', $event)"
                                            [cpCloseClickOutside]="false"
                                            [(cpToggle)]='toggle4'
                                            readonly
                                            [ngClass]="{'input_disable':!(searchObject.searchWidgetConfig.searchButtonEnabled)}"
                                        />
    
                                        <div class="box-color-content" *ngIf="buttonFill">
                                            <div class="header-title-close">
                                                <div class="title-name">Choose Color</div>
                                                <div class="close-color" (click)="toggle4=false;buttonFill=false;">
                                                    <img src="assets/icons/close.svg">
                                                </div>
                                            </div>
                                            <div class="selected-previous-colors flex-wrap">
                                                <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                    <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('buttonFill', col);color4=col;"></div>
                                                </ng-container>                                           
                                            </div>
                                            <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color4)">Save Color</div>
                                         </div>
                                    </div>
                                </div>
                                <div class="fill-color">
                                    <div class="label-color">Border Color</div>
                                    <!-- border-color-pallet-->
                                    <div class="box-color" [ngClass]="{'color-pallet-container': buttonBorder}" (mouseover)="toggle5=true;buttonBorder=true;">
                                        <input
                                            [style.background]="color5"
                                            [(colorPicker)]="color5"
                                            [cpOutputFormat]="'hex'"
                                            [cpAlphaChannel]="'always'"
                                            (colorPickerClose)="onEventLog('buttonBorder', $event)"
                                            [cpCloseClickOutside]="false"
                                            [(cpToggle)]='toggle5'
                                            readonly
                                            [ngClass]="{'input_disable':!(searchObject.searchWidgetConfig.searchButtonEnabled)}"
                                        />
    
                                        <div class="box-color-content" *ngIf="buttonBorder">
                                            <div class="header-title-close">
                                                <div class="title-name">Choose Color</div>
                                                <div class="close-color" (click)="toggle5=false;buttonBorder=false;">
                                                    <img src="assets/icons/close.svg">
                                                </div>
                                            </div>
                                            <div class="selected-previous-colors flex-wrap">
                                                <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                    <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('buttonBorder', col);color5=col;"></div>
                                                </ng-container>                                           
                                            </div>
                                            <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color5)">Save Color</div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
            <div class="container" *ngSwitchCase="'interactions'">
                <div class="interactins-content col-12 p-0 row m-0">
                    <div class="left-sec col-7">
                        <div class="greeting-message border-with-padding">
                            <div class="kr-sg-input-text-area">
                                <div class="label-text">Customize Launch Greeting Message</div>
                                <textarea class="input-text" maxlength="40" #box (keyup)="0" [(ngModel)]="searchObject.searchInteractionsConfig.welcomeMsg" [ngStyle]="{'color':searchObject.searchInteractionsConfig.welcomeMsgColor}"></textarea>                                
                            </div>
                            <div class="emojis-block">
                                <div class="emoji-img"><label for="myFileInput"><img [src]="emojiIcon" width="18" height="18">
                                <input type="file" style="display: none;" id="myFileInput" (change)="selectIcon($event,'emoji','auto')" /></label>
                                </div>                                
                                <div class="fill-colors-block">
                                    <div class="fill-color">
                                        <div class="box-color" [ngClass]="{'color-pallet-container interaction-color': msgColor}" (mouseover)="toggle6=true;msgColor=true;">
                                            <input
                                                [style.background]="color6"
                                                [(colorPicker)]="color6"
                                                [cpOutputFormat]="'hex'"
                                                [cpAlphaChannel]="'always'"
                                                (colorPickerClose)="onEventLog('msgColor', $event)"
                                                [cpCloseClickOutside]="false"
                                                [(cpToggle)]='toggle6'
                                                readonly
                                            />

                                            <div class="box-color-content" *ngIf="msgColor">
                                                <div class="header-title-close">
                                                    <div class="title-name">Choose Color</div>
                                                    <div class="close-color" (click)="toggle6=false;msgColor=false;">
                                                        <img src="assets/icons/close.svg">
                                                    </div>
                                                </div>
                                                <div class="selected-previous-colors flex-wrap">
                                                    <ng-container *ngFor="let col of searchObject.searchWidgetConfig.userSelectedColors">
                                                        <div class="bg-color-selected" [ngStyle]="{'background':col}" (click)="onEventLog('msgColor', col);color6=col;"></div>
                                                    </ng-container>                                           
                                                </div>
                                                <div class="save-switch" (click)="searchObject.searchWidgetConfig.userSelectedColors.push(color6)">Save Color</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="count-length">{{box.value.length}} / 40</div>
                            </div>
                        </div>
                        <div class="border-with-padding">
                            <div class="heading-title">Show Searches</div>
                            <label class="kr-sg-toggle">                                       
                                <input type="checkbox" [(ngModel)]="searchObject.searchInteractionsConfig.showSearchesEnabled">
                                <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                            </label>
                       
                            <div class="group-radiobutton mt-3">
                                <div class="kr-sg-radiobutton">
                                    <input id="radio-22" name="radio" class="radio-custom" type="radio" value="frequent" [checked]="searchObject.searchInteractionsConfig.showSearches=='Frequent'" [(ngModel)]="searchObject.searchInteractionsConfig.showSearches" [disabled]="!searchObject.searchInteractionsConfig.showSearchesEnabled">
                                    <label for="radio-22" class="radio-custom-label">Frequent</label>
                                </div>
                                <div class="kr-sg-radiobutton">
                                    <input id="radio-23" name="radio" class="radio-custom" type="radio" value="recent" [checked]="searchObject.searchInteractionsConfig.showSearches=='recent'" [(ngModel)]="searchObject.searchInteractionsConfig.showSearches" [disabled]="!searchObject.searchInteractionsConfig.showSearchesEnabled">
                                    <label for="radio-23" class="radio-custom-label">Recent</label>
                                </div>
                            </div>                            
                        </div>
                        <div class="border-with-padding">                                                                     
                            <div class="label_text">Autocomplete</div>
                            <label class="kr-sg-toggle">                                       
                                <input type="checkbox" [(ngModel)]="searchObject.searchInteractionsConfig.autocompleteOpt">
                                <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                            </label>
                        </div>
                        <div class="border-with-padding" *ngFor="let data of suggestions"> 
                            <!-- <ng-container *ngFor="let num of data.numbers;let i=index;">
                                <span  [ngStyle]="{'margin-right':num+'px'}">{{num}}&nbsp;&nbsp;</span></ng-container >                                                                     -->
                            <div class="label_text">{{data.name}}</div>
                            <div class="kr-sg-toggle sliderContainer">  
                                <div class="range-slider">
                                <app-range-slider [customClass]='"querySlider"' [allData]='data.sliderObj' (valueEvent)="valueEvent(data.name,$event)"></app-range-slider>
                            </div></div>
                        </div>

                        <div class="border-with-padding group-checkbox">
                            <div class="heading-title">Feedback Experience </div>
                            <div class="kr-sg-checkbox">
                                <input id="checkbox_grpb" class="checkbox-custom" type="checkbox" [checked]="searchObject.searchInteractionsConfig.feedbackExperience.resultLevel" [(ngModel)]="searchObject.searchInteractionsConfig.feedbackExperience.resultLevel">
                                <label for="checkbox_grpb" class="checkbox-custom-label">Result Level</label>
                            </div>
                            <div class="kr-sg-checkbox">
                                <input id="checkbox_grpc" class="checkbox-custom" type="checkbox" disabled>
                                <label for="checkbox_grpc" class="checkbox-custom-label">Query Level</label>
                            </div>
                        </div>
                    </div>
                    <div class="right-sec col-5">
                        <div class="preview-interactions">
                            <div class="label_text">Preview</div>
                            <div class="bg-preview-content">

                            </div>
                        </div>
                    </div>
                </div>             
            </div>
          </div>
        </perfect-scrollbar>
    </div>
    <div class="footer-sec">
        <button class="kr-sg-button-secondary btn_lg" (click)="nextTab('pre')" *ngIf="selectedTab!='experience'">Previous</button>
        <button class="kr-sg-button-primary btn_lg" (click)="nextTab('nex')" *ngIf="selectedTab!=='interactions'">Next</button>     
        <button class="kr-sg-button-primary btn_lg" (click)="saveSearchExperience()" *ngIf="selectedTab=='interactions'">Done</button>    
    </div>
</div>

<!--Show model for preview-->

<kr-modal  modalType="center" modalClass="sliderComponent modal_popups_ search-customization-popup-preview" #statusModalPop id="sourceSlider">
  <div class="modal-header">
    <div class="title">Customization Preview / {{searchObject.searchExperienceConfig.searchBarPosition==='top'?"Top Down":"Bottom Up"}} Experience</div>
    <div class="close_icon" (click)="closePreviewPopup()"><img  src="assets/icons/modal-close.svg"></div>
  </div>
  <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body">
        <div class="search-widget">
            <div class="main-title">Search Widget</div>
            <div class="d-flex search-customization-input">
                <div class="kr-sg-input-search">                               
                    <input type="text" class="input-search" [ngStyle]="{'background':searchObject.searchWidgetConfig.searchBarFillColor,'border-color':searchObject.searchWidgetConfig.searchBarBorderColor}" readonly>
                    <img [src]="searchIcon" class="search-icon" height="15" width="15">
                     <span class="placeholder-text" [ngStyle]="{'color':searchObject.searchWidgetConfig.searchBarPlaceholderTextColor}">{{searchObject.searchWidgetConfig.searchBarPlaceholderText}}</span>
                     <button class="btn-customize kr-sg-button-primary read-mode btn_lg inside-input-btn" [ngStyle]="{'background':searchObject.searchWidgetConfig.buttonFillColor,'border-color':searchObject.searchWidgetConfig.buttonBorderColor,'color':searchObject.searchWidgetConfig.buttonTextColor}" *ngIf="(searchObject.searchExperienceConfig.searchBarPosition==='top'&&searchObject.searchWidgetConfig.buttonPlacementPosition==='inside')||searchObject.searchExperienceConfig.searchBarPosition==='bottom'">
                        <span>{{searchObject.searchWidgetConfig.buttonText}}</span>
                    </button>  
                </div>
                <button class="btn-customize kr-sg-button-primary read-mode btn_lg" [ngStyle]="{'background':searchObject.searchWidgetConfig.buttonFillColor,'border-color':searchObject.searchWidgetConfig.buttonBorderColor,'color':searchObject.searchWidgetConfig.buttonTextColor}" *ngIf="searchObject.searchExperienceConfig.searchBarPosition==='top'&&searchObject.searchWidgetConfig.buttonPlacementPosition==='outside'">
                    <span>{{searchObject.searchWidgetConfig.buttonText}}</span>
                    <!-- <div class="hover-overlay-btn-img" (click)="buttonDisabled=false" *ngIf="buttonDisabled">
                        <img src="assets/icons/search-experience/edit.svg">
                    </div> -->
                </button>
            </div>
        </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer">
    <button type="button" class="kr-sg-button-primary btn_lg" data-dismiss="modal">Next</button>
    <button type="button" class="kr-sg-button-secondary btn_lg" data-dismiss="modal" (click)="closePreviewPopup()">Close</button>
  </div>
</kr-modal> 