
@import './../../../../app/scss/variables/variables.scss';

.mb-15{
    margin-bottom: 15px;
}
.alternative-question {
    padding: 20px 30px;
    .label_text{
        font-weight: 500;
        font-size: 12px;
    }
}

:host ::ng-deep .example-chip-list {
    width: 100%;
    .mat-form-field-wrapper{
        padding: 0;
        .mat-form-field-flex{
            .mat-form-field-infix{
                margin: 0;
                padding: 0;
                border: 0;
                .mat-chip-list{
                    .mat-chip-list-wrapper{
                        border-radius: 3px;
                        border: solid 1px #BDC1C6;       
                        margin: 0;
                        font-family: Inter !important;
                        .mat-input-element{
                            margin: 0;
                            border: 0;
                            height: 32px;
                            padding-left: 10px;
                            &:focus{   
                                border: 0 !important;                             
                                outline: 0 !important;
                            }
                        }
                        .mat-chip{
                            border-radius: 4px;
                            background-color: #e5e8ec;
                            padding: 0px 9px;
                            margin: 3px 0px 3px 3px;
                            min-height: 26px;
                            &:hover{
                                &::after{
                                    opacity: 0.09;
                                }
                            }
                            .mat-val{
                                color: #8a959f;
                                font-size: 12px;
                                font-weight: bold;
                            }
                            .mat-icon{
                                width: auto;
                                height: auto;
                                opacity: 0.8;
                                img{
                                    width: 11px;
                                    height: 11px;
                                    vertical-align: middle;
                                    position: relative;
                                    top: -1px;
                                    left: 2px;
                                }
                            }
                        }                        
                    }                        
                }
            }
        }                        
    }
    .mat-form-field-label-wrapper{
        padding: 0;
        height: 32px;                            
        top: 2px;
        .mat-form-field-label{
            margin: 0;
            top: 6px;
            left: 10px;
            span{
                font-weight: 400 !important;
                color: #9B9B9B !important;
            }
        }
    }
    .mat-form-field-subscript-wrapper{
        margin: 0;
        top: 0;
    }
    .mat-form-field-underline{
        display: none;
    }
} 

:host ::ng-deep .ace_print-margin {
    visibility: hidden;
    display: none;
}