<div class="botContainer">
  <div class="mainLoadingSpinner" *ngIf="loadingContent">
    <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
    <span class="please-wait-message">Please Wait!</span>
  </div>
  <div class="table-list-content">
    <div class="kr-sg-data-table" *ngIf="!loadingContent">
      <div class="header-sec col-12 row m-0">
        <div class="col-4 p-0">Bot Actions</div>
        <div class="col-8 right-sec p-0">
          <div *ngIf="linkedBotID" class="modal-control-text" (click)="openBotsModalElement()">View All Bots</div>
          <div class="clock d-none"><img src="assets/icons/clock.svg"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="bot-actions-content-container" *ngIf="(bots && bots.length) && !loadingContent"> -->
  <ng-container *ngIf="linkedBotID && loadingContent1">
    <div class="bot-actions-content-container">
      <div class="linked-bot-details-container">
        <div class="linked-bot-info-container">
          <div class="linked-bot-image-container">
            <img src="assets/images/icons8-bot 3.png" class="linked-bot-image" />
          </div>
          <div class="linked-bot-info">
            <p class="bold-text">Bot Name: <span class="linked-bot-name">{{linkedBotName}}</span></p>
            <p class="normal-text">{{linkedBotDescription}}</p>
          </div>
        </div>
        <div class="linked-bot-controls-container">
          <button class="button-sync-bot-content" (click)="syncLinkedBot()"><img
              src="assets/icons/iconRefresh.svg" />&nbsp;Sync</button>
          <button class="button-unlink-bot" (click)="unlinkBot(linkedBotID)"><img
              src="assets/icons/iconUnlink.svg" />&nbsp;Unlink</button>
        </div>
      </div>
      <div class="linked-bot-content-container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#linkedBotTasks">Tasks ({{linkedBotTasks.length}})</a>
          </li>
          <!-- <li class="nav-item" style="pointer-events: none; opacity: 0.5">
            <a class="nav-link" data-toggle="tab" href="#linkedBotFAQs">FAQs ({{linkedBotFAQs.length}})</a>
          </li>
          <li class="nav-item" style="pointer-events: none; opacity: 0.5">
            <a class="nav-link" data-toggle="tab" href="#linkedBotSmallTalk">Small Talk</a>
          </li> -->
        </ul>
        <div class="enable-container">
          <label class="kr-sg-toggle large">                                       
            <input type="checkbox" checked>
            <div class="slider"><span class="enabled">Enabled</span><span class="disabled">Disabled</span></div>
        </label>
        </div>
        <div class="tab-content">
          <div id="linkedBotTasks" class="tab-pane active">
            <div class="linked-bot-tasks-content-container">
              <ng-container *ngIf="( linkedBotTasks && linkedBotTasks.length )">
                <perfect-scrollbar class="linked-bot-tasks-content-container-scroll">
                  <div class="linked-bot-tasks-list">
                    <ng-container *ngFor="let task of linkedBotTasks; let i = index">
                      <div class="card linked-bot-task-card">
                        <div class="card-body">
                          <!-- <div class="linked-bot-task-checkbox-container">
                      </div> -->
                          <div class="col-6 linked-bot-task-details-container">
                            <div class="kr-sg-checkbox p-0 m-0 d-inline-block">
                              <input id="{{task._id}}" class="checkbox-custom selectEachTaskInput" (change)="checkUncheckTasks(task)" type="checkbox">
                              <label for="{{task._id}}" class="checkbox-custom-label"></label>
                          </div>
                            <div><p class="bold-text" [ngClass]="{'kg-gray-text': (task.taskStatus =='Disabled')}">{{task.name}}</p>
                              <p class="normal-text">Bot-related Task</p></div>
                          </div>
                          <div class="col-6 linked-bot-task-views-clicks-container">
                            <span class="linked-bot-task-type">{{task.type}}</span>
                            <span class="linked-bot-task-status">{{task.taskStatus}}</span>
                            <span class="linked-bot-task-views"><img class="linked-bot-task-view-icon"
                                src="assets/icons/iconViews.svg" />&nbsp; {{task.noOfAppearences}}&nbsp;VIEWS</span>
                            <span class="linked-bot-task-clicks"><img class="linked-bot-task-click-icon"
                                src="assets/icons/iconClicks.svg" />&nbsp; {{task.noOfClicks}}&nbsp;CLICKS</span>
                            <div class="linked-task-status-control dropdown-control"><img class="ellipse-icon"
                                src="assets/icons/elipse.svg">
                              <div class="dropdown-content">
                                <ul class="dropdown-content-list">
                                  <li class="dropdown-content-list-item" *ngIf="task.taskStatus == 'Disabled'"
                                    (click)="enableTask(task._id)">Enable Task</li>
                                  <li class="dropdown-content-list-item" *ngIf="task.taskStatus == 'Enabled'"
                                    (click)="disableTask(task._id)">Disable Task</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </perfect-scrollbar>
              </ng-container>
              <ng-container *ngIf="!(linkedBotTasks && linkedBotTasks.length)">
                <div class="linked-bot-tasks-empty-content">
                  <img class="empty-content-indicator-image" src="assets/images/icons/empty_ill.svg" />
                  <div class="empty-content-container-content">
                    <p class="bold-text">No linked tasks found!</p>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div id="linkedBotFAQs" class="tab-pane">
            <div class="linked-bot-faqs-content-container">
              <ng-container *ngIf="(linkedBotFAQs && linkedBotFAQs.length)">
                <perfect-scrollbar class="linked-bot-faqs-content-container-scroll">
                  <div class="linked-bot-faqs-list">
                    <ngb-accordion #accordionList="ngbAccordion" [closeOthers]="true" class="linked-bot-FAQs-accordion">
                      <ng-container *ngFor="let faq of linkedBotFAQs; let i = index">
                        <ngb-panel id="{{'linkedBotFAQ' + i}}">
                          <ng-template ngbPanelHeader let-opened="opened">
                            <div class="accordion-header-container" (click)="accordionList.toggle('linkedBotFAQ' + i)">
                              <div class="chevron-icon-container">
                                <img src="assets/icons/iconChevron.svg"
                                  [ngStyle]="{'transform': opened === false ? 'rotate(0deg)' : 'rotate(90deg)'}" />
                              </div>
                              <div class="accordion-header-FAQ-content-container">
                                <p class="bold-text">{{faq.question}}</p>
                                <p class="normal-text" [ngStyle]="{'display': opened === false ? 'block' : 'none'}">
                                  {{faq.faqAnswerDescription}}</p>
                              </div>
                              <div class="accordion-header-FAQ-views-click-container">
                                <span class="linked-FAQ-status">Enabled</span>
                                <span class="linked-FAQ-views"><img class="linked-FAQ-view-icon"
                                    src="assets/icons/iconViews.svg" />&nbsp; {{faq.viewsCount}}&nbsp; VIEWS</span>
                                <span class="linked-FAQ-clicks"><img class="linked-FAQ-click-icon"
                                    src="assets/icons/iconClicks.svg" />&nbsp; {{faq.clicksCount}}&nbsp;CLICKS</span>
                                <div class="linked-FAQ-status-control dropup" data-toggle="dropdown"
                                  [ngStyle]="{'visibility': opened === false ? 'hidden' : 'visible'}"><img
                                    class="ellipse-icon" src="assets/icons/elipse.svg">
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item">Enable</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="accordion-panel-content-container">
                              {{faq.answer}}
                            </div>
                          </ng-template>
                        </ngb-panel>
                      </ng-container>
                    </ngb-accordion>
                  </div>
                </perfect-scrollbar>
              </ng-container>
              <ng-container *ngIf="!(linkedBotFAQs && linkedBotFAQs.length)">
                <div class="linked-bot-faqs-empty-content">
                  <img class="empty-content-indicator-image" src="assets/images/icons/empty_ill.svg" />
                  <div class="empty-content-container-content">
                    <p class="bold-text">No linked FAQs found!</p>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div id="linkedBotSmallTalk" class="tab-pane">
            <div class="linked-bot-small-talk-content-container">
              <div class="small-talk-content-unlinked">
                <img class="empty-content-indicator-image" src="assets/images/icons8-cloud_link 1.png" />
                <div class="empty-content-container-content">
                  <p class="bold-text">You haven't linked Small Talk with this bot yet!</p>
                  <p class="normal-text">Fortunately, it is very easy to link one by clicking on the button below</p>
                </div>
                <button class="kr-sg-button-primary">Link Small Talk</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- <div class="empty-content-container" *ngIf="!(bots && bots.length) && !loadingContent"> -->
  <ng-container *ngIf="!linkedBotID && !loadingContent">
    <perfect-scrollbar class="empty-scroll">
    <div  class="empty-landing-screen">
      <div class="img-block" *ngIf="!emptyItems"><img class="action_icon" (load)="imageLoad()" src="assets/images/botactions-empty.svg"></div>
      <ng-container *ngIf="loadImageText" >
          <div class="empty-title">You haven’t linked any bot yet!</div>
          <div class="desc-text"> Bot Actions are a list of tasks that are performed by the bots. SearchAssist allows you to link bots that can perform tasks for the search user.
          </div>
          <div class="kr-sg-dropdowns" ngbDropdown [container]="'body'">                                         
              <div class="dropdown dropdown-open">
                <button class="kr-sg-button-primary btn_lg px-3" (click)="openBotsModalElement()"> Link a Bot</button>                                            
              </div>
          </div>
      </ng-container>
      <ng-container *ngIf="noItems && emptySearchResults">
          <div class="desc-text">Your Search Query doesn't match with any record.</div>
      </ng-container>

  </div>
    <!-- <div class="empty-content-container">
      <img class="empty-content-indicator-image" src="assets/images/icons8-add_to_inbox 1.png" />
      <div class="empty-content-container-content">
        <p class="bold-text">You haven't linked any bot yet!</p>
        <p class="normal-text">Fortunately, it is very easy to link one by clicking on the button below</p>
      </div>
      <button class="kr-sg-button-primary" (click)="openBotsModalElement()">Link a Bot</button>
    </div> -->
  </perfect-scrollbar>
  </ng-container>

</div>

<kr-modal modalType="center" modalClass="linkExistingBotsModal" #botsModalElement>
  <div class="modal-header">
    <span class="header-title">Link Bot</span>
    <button class="button-close" (click)="closeBotsModalElement()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="empty-content-container" *ngIf="!associatedBotsExist">
      <img class="empty-content-indicator-image" src="assets/images/icons/empty_ill.svg" />
      <div class="empty-content-container-content">
        <p class="bold-text">No associated bots found!</p>
      </div>
    </div>
    <ng-container *ngIf="associatedBotsExist">
      <p class="bold-informative-text">Choose any bot from the list to link it to your SearchAssist app</p>
      <div class="search-input-container">
        <input class="search-input" type="text" placeholder="Search" [(ngModel)]="searchAssociatedBots"
          name="searchAssociatedBots" />
        <img class="search-icon" src="assets/images/search_gray.svg">
      </div>
      <div class="associated-bots-list-container">
        <div class="kr-sg-data-table">
          <section class="table-content">
            <header class="table-header">
              <div class="col_ col-3 d-flex align-items-center">
                Bot Name
              </div>
              <div class="col_ col-3 d-flex align-items-center">
                Owner
              </div>
              <div class="col_ col-4 d-flex align-items-center">
                Contents
              </div>
              <div class="col_ col-3 d-flex align-items-center">
              </div>
              <div class="col_ col-4 d-flex align-items-center">
              </div>
            </header>
            <perfect-scrollbar class="table-scroll-perfect">
              <div class="content-body" *ngFor="let bot of associatedBots | filter: [searchAssociatedBots, 'name']">
                <div class="col_ col-3 col-botName-text">{{bot.name}}</div>
                <div class="col_ col-3 col-ownerName-text">{{bot.createdBy.firstName}} {{bot.createdBy.lastName}}</div>
                <div class="col_ col-2 col-content-text"><span class="col-content-faqs"><img
                      src="assets/icons/iconFAQ.svg" class="col-content-icon" />&nbsp;{{bot.publishedFAQsCount}}
                    FAQs</span><span class="col-content-tasks"><img src="assets/icons/iconTask.svg"
                      class="col-content-icon" />&nbsp;{{bot.publishedTasksCount}} Tasks</span></div>
                <div class="col_ col-2"></div>
                <div class="col_ col-2"><button *ngIf="streamId != bot._id" class="button-bot-link"
                    (click)="linkBot(bot._id)"><img src="assets/icons/iconLink.svg">&nbsp;Link</button><button
                    *ngIf="streamId == bot._id" class="button-bot-unlink" (click)="unlinkBot(bot._id,'bulk_unlink')"><img
                      src="assets/icons/iconUnlink.svg">&nbsp;Unlink</button><img class="col-content-ellipse-icon"
                    src="assets/icons/elipse.svg"></div>
              </div>
            </perfect-scrollbar>
          </section>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="kr-sg-button-primary btn_lg" (click)="closeBotsModalElement()">Save</button>
    <button class="kr-sg-button-secondary btn_lg" (click)="closeBotsModalElement()">Cancel</button>
  </div>
</kr-modal>