
<!-- <kr-modal modalType="center" modalClass="linkExistingBotsModal" #botsModalElement>
  <div class="modal-header">
    <span class="header-title">Link Bot</span>
    <button class="button-close" (click)="closeBotsModalElement()">&times;</button>
  </div>
  <div class="modal-body">
    <div class="empty-content-container" *ngIf="!associatedBotsExist">
      <img class="empty-content-indicator-image" src="assets/images/icons/empty_ill.svg" />
      <div class="empty-content-container-content">
        <p class="bold-text">No associated bots found!</p>
      </div>
    </div>
    <ng-container *ngIf="associatedBotsExist">
      <p class="bold-informative-text">Choose any bot from the list to link it to your SearchAssist app</p>
      <div class="search-input-container">
        <input class="search-input" type="text" placeholder="Search" [(ngModel)]="searchAssociatedBots"
          name="searchAssociatedBots" />
        <img class="search-icon" src="assets/images/search_gray.svg">
      </div>
      <div class="associated-bots-list-container">
        <div class="kr-sg-data-table">
          <section class="table-content">
            <header class="table-header">
              <div class="col_ col-3 d-flex align-items-center">
                Bot Name
              </div>
              <div class="col_ col-3 d-flex align-items-center">
                Owner
              </div>
              <div class="col_ col-4 d-flex align-items-center">
                Contents
              </div>
              <div class="col_ col-3 d-flex align-items-center">
              </div>
              <div class="col_ col-4 d-flex align-items-center">
              </div>
            </header>
            <perfect-scrollbar class="table-scroll-perfect">
              <div class="content-body" *ngFor="let bot of associatedBots | filter: [searchAssociatedBots, 'name']">
                <div class="col_ col-3 col-botName-text">{{bot.name}}</div>
                <div class="col_ col-3 col-ownerName-text">{{bot.createdBy.firstName}} {{bot.createdBy.lastName}}</div>
                <div class="col_ col-2 col-content-text"><span class="col-content-faqs"><img
                      src="assets/icons/iconFAQ.svg" class="col-content-icon" />&nbsp;{{bot.publishedFAQsCount}}
                    FAQs</span><span class="col-content-tasks"><img src="assets/icons/iconTask.svg"
                      class="col-content-icon" />&nbsp;{{bot.publishedTasksCount}} Tasks</span></div>
                <div class="col_ col-2"></div>
                <div class="col_ col-2"><button *ngIf="streamId != bot._id" class="button-bot-link"
                    (click)="linkBot(bot._id)"><img src="assets/icons/iconLink.svg">&nbsp;Link</button><button
                    *ngIf="streamId == bot._id" class="button-bot-unlink" (click)="unlinkBot(bot._id,'bulk_unlink')"><img
                      src="assets/icons/iconUnlink.svg">&nbsp;Unlink</button><img class="col-content-ellipse-icon"
                    src="assets/icons/elipse.svg"></div>
              </div>
            </perfect-scrollbar>
          </section>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="kr-sg-button-primary btn_lg" (click)="closeBotsModalElement()">Save</button>
    <button class="kr-sg-button-secondary btn_lg" (click)="closeBotsModalElement()">Cancel</button>
  </div>
</kr-modal> -->



<div class="bot-actions-container">

  <div class="mainLoadingSpinner" *ngIf="loadingContent">
    <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
    <span class="please-wait-message">Please Wait!</span>
  </div>


  <div class="header-sec col-12 row m-0" *ngIf="!loadingContent">
    <div class="col-4 p-0 title-header">Bot Actions</div>
    <div class="col-8 right-sec p-0">
      <div *ngIf="linkedBotID" class="view-all-bots" (click)="openBotsModalElement()">View All Bots</div>
      <div class="clock"><img src="assets/icons/clock.svg"></div>
    </div>
  </div>


  <ng-container *ngIf="!linkedBotID && !loadingContent">
    <perfect-scrollbar class="empty-scroll">
    <div  class="empty-landing-screen">
      <div class="img-block" *ngIf="!emptyItems"><img class="action_icon" (load)="imageLoad()" src="assets/images/botactions-empty.svg"></div>
      <ng-container *ngIf="loadImageText" >
          <div class="empty-title">You haven’t linked any bot yet!</div>
          <div class="desc-text"> Bot Actions are a list of tasks that are performed by the bots. SearchAssist allows you to link bots that can perform tasks for the search user.
          </div>
          <div class="kr-sg-dropdowns" ngbDropdown [container]="'body'">                                         
              <div class="dropdown dropdown-open">
                <button class="kr-sg-button-primary btn_lg px-3" (click)="openBotsModalElement()"> Link a Bot</button>                                            
              </div>
          </div>
      </ng-container>
      <ng-container *ngIf="noItems && emptySearchResults">
          <div class="desc-text">Your Search Query doesn't match with any record.</div>
      </ng-container>

  </div>
  </perfect-scrollbar>
  </ng-container>


  <ng-container *ngIf="linkedBotID && loadingContent1">
    <div class="linked-bot-data">
      <div class="box-content-linked row col-12">
        <div class="left-sec col-8">
          <div class="img-block">
            <img src="assets/icons/actions/bot-icon.svg">
          </div>
          <div class="content-sec">
            <div class="bot-name-sec">
              Bot Name: <span class="bot-name-title">Banking Bot</span>
            </div>
            <div class="bot-desc">Perform banking related activities</div>
            <div class="bot_type">Universal Bot</div>
          </div>
        </div>
        <div class="righ-sec col-4">
          <div class="sync-btn">
            <img src="assets/icons/actions/sync.svg">Sync
          </div>
          <div class="unlink-btn">
            <img src="assets/icons/actions/unlink.svg">Unlink
          </div>
        </div>
      </div>      
    </div>
  
    <div class="task-list-data">
      <div class="header-sec-tab-checked">
          <div class="tab-sec-task row col-12"  [ngClass]="{ 'd-none' : selcectionObj.selectedCount}">
            <div class="tab-name col-6">
              <div class="name-task">Tasks({{linkedBotTasks.length}})</div>
            </div>
            <div class="col-6 search-block">
              <div class="kr-sg-input-search" [ngClass]="{'d-none': !showSearch}">
                <input type="text" autofocus="true" placeholder="Search" class="input-search" autocomplete="off"  [ngClass]="{'pl-2':searchTasks}" [(ngModel)]="searchTasks" (focusout)="showSearch= !showSearch">
                <img [src]="searchImgSrc" class="search-icon" *ngIf="!searchTasks">
                <img class="close-icon" *ngIf="searchTasks" src="assets/icons/close_icon.svg" [ngClass]="{'pr-22':searchTasks}" (click)="searchTasks='';toggleSearch(false)">
             </div>
             <div class="seach-block-name" *ngIf="(linkedBotTasks && linkedBotTasks.length)" (click)="toggleSearch(true)" [ngClass]="{'d-none': showSearch}" >
                <img src="assets/icons/search.svg"  >{{'search' | translate}}
              </div>
            </div>
          </div>
          <div class="checked-list-data row col-12"  [ngClass]="{ 'd-none' : !selcectionObj.selectedCount}">
            <div class="col-6 checkbox-data">
              <div class="kr-sg-checkbox checkbox-for-all m-0 p-0 select-all-checkbox">
                <input  id="selectAllTasks" class="checkbox-custom"  type="checkbox"  (change)="selectAll()" [(ngModel)]="selcectionObj.selectAll">
                <label  for="selectAllTasks" class="checkbox-custom-label">
                  <span class="selected-count" *ngIf="selcectionObj && selcectionObj.selectedCount">All  {{'botAction.tasksSelected' | translate}}</span>
                </label>
              </div>
              <div class="checkbox-partial-selected d-none partial-select-checkbox"  *ngIf="selcectionObj.selectedItems.length != linkedBotTasks.length">              
                <img  (click)="selectAllFromPartial()" src="assets/icons/resultranking/selected-checkbox.svg" class="icon-all-selected">
                <span class="label-text"  *ngIf="selcectionObj && selcectionObj.selectedCount">{{selcectionObj.selectedCount}}  {{'botAction.tasksSelected' | translate}}</span>
              </div>
            </div>
            <div class="col-6 btn-actions text-right">
              <button class="kr-sg-button-primary btn_lg mr-3" (click)="enableSeletedTasks()" [disabled]="enableBtnDisable">{{'botAction.enable'| translate}}</button>
              <button class=" btn_lg" [ngClass]="{ 'kr-sg-button-danger':!disableBtnDisable,'kr-sg-button-primary' : disableBtnDisable}" (click)="disableSeletedTasks()"  [disabled]="disableBtnDisable">{{'botAction.disable'| translate}}</button>
            </div>
          </div>
      </div>
      <ng-container *ngIf="( linkedBotTasks && linkedBotTasks.length )">
        <perfect-scrollbar class="scroll-task-data">
          <div class="table-body-content-task">
            <div class="data-container-sec row col-12" [ngClass]="{'checked-item':selcectionObj.selectedItems[task._id]}" *ngFor="let task of linkedBotTasks  | filter: [ searchTasks, 'name']; let i = index;">
                <div class="checkbox-info-data col-5">
                  <div class="kr-sg-checkbox checkbox-for-all m-0 p-0">
                    <input  id="cx{{task._id}}" name="{{task._id}}" class="checkbox-custom selectEachTaskInput" (change)="checkUncheckTasks(task)" type="checkbox">
                    <label for="cx{{task._id}}" class="checkbox-custom-label">
                      <span class="selected-count"></span>
                    </label>
                  </div>
                  <div class="content-sec">
                      <div class="primary-title"  [ngClass]="{'kg-gray-text': (task.taskStatus =='Disabled')}">{{task.name}}</div>
                      <div class="secondary-title">Bot-related Task</div>
                  </div>
                </div>
                <div class="col-2 task-type">{{task.type}}</div>
                <div class="col-1 enable-title">{{task.taskStatus}}</div>
                <div class="views-clicks-data col-4">
                    <div class="clicks-view-info">
                      <img src="assets/icons/actions/views.svg">{{task.noOfAppearences}}&nbsp; Views
                    </div>
                    <div class="clicks-view-info">
                      <img src="assets/icons/actions/clicks.svg">{{task.noOfClicks}}&nbsp; Clicks
                    </div>
                    <div class="kr-sg-dropdowns add elipse-action-dropdown" ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                      <div class="dropdown dropdown-open">
                          <div class="linked-task-status-control" ngbDropdownToggle>
                              <img src="assets/icons/elipse.svg">
                          </div>                      
                          <ul class="dropdown-menu content-menu faq-filter-add pt-0 pb-0" ngbDropdownMenu>                          
                              <li *ngIf="task.taskStatus == 'Disabled'" (click)="enableTask(task._id)">Enable Task</li>
                              <li *ngIf="task.taskStatus == 'Enabled'"  (click)="disableTask(task._id)">Disable Task</li>
                          </ul>
                      </div>
                  </div> 
                </div>
            </div>
           
          </div>
        </perfect-scrollbar>  
      </ng-container>
    </div>
  </ng-container>

</div>


<kr-modal modalType="center" #botsModalElement modalClass="modal_popups_ linkExistingBotsModal">
  <div class="modal-header">
    <div class="title">Link Bot</div>
    <div class="close_icon" (click)="closeBotsModalElement()"><img src="assets/icons/modal-close.svg"></div>
  </div>
  <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body">
        <div class="info-link-text">Choose any bot from the list to link it to your Findly app.</div>
        <div class="kr-sg-input-text">          
          <input type="text"placeholder="Search" [(ngModel)]="searchAssociatedBots" name="searchAssociatedBots" class="input-text"> 
          <img class="search-icon" src="assets/images/search_gray.svg">        
        </div>
        <div class="link-bot-table">
          <div class="table-header col-12 row">
              <div class="col-6 title">Bot Name</div>
              <div class="col-6 title">Owner</div>
          </div>
          <div class="table-body-link-bot row col-12">
            <div class="col-6 bot-name-data row m-0">
              <div class="col-9 name-with-type">
                Banking Integration Bot <span class="bot-type">Universal Bot</span>
              </div>
              <div class="col-3 shares-data">
                  <img src="assets/icons/actions/shares.svg">65 Tasks
              </div>
            </div>
            <div class="col-2 owner-name">Monica Rossi</div>
            <div class="col-4 link-bot-actions">
              <div class="link-bot-btn">
                <img src="assets/icons/actions/link-bot.svg">Link Bot
              </div>
              <img src="assets/icons/actions/external-link.svg" class="ext-link" placement="top-right" ngbTooltip="Open this bot in Kore.ai Platform" container='body' tooltipClass="train-icon-tooltip ml-12">
            </div>
          </div>
          <div class="table-body-link-bot row col-12">
            <div class="col-6 bot-name-data row m-0">
              <div class="col-9 name-with-type">
                Banking Integration Bot
              </div>
              <div class="col-3 shares-data">
                  <img src="assets/icons/actions/shares.svg">65 Tasks
              </div>
            </div>
            <div class="col-2 owner-name">Monica Rossi</div>
            <div class="col-4 link-bot-actions">
              <div class="link-bot-btn">
                <img src="assets/icons/actions/link-bot.svg">Link Bot
              </div>
              <img src="assets/icons/actions/external-link.svg" class="ext-link" placement="top-right" ngbTooltip="Open this bot in Kore.ai Platform" container='body' tooltipClass="train-icon-tooltip ml-12">
            </div>
          </div>
          <div class="table-body-link-bot row col-12">
            <div class="col-6 bot-name-data row m-0">
              <div class="col-9 name-with-type">
                Banking Integration Bot
              </div>
              <div class="col-3 shares-data">
                  <img src="assets/icons/actions/shares.svg">65 Tasks
              </div>
            </div>
            <div class="col-2 owner-name">Monica Rossi</div>
            <div class="col-4 link-bot-actions">
              <div class="link-bot-btn">
                <img src="assets/icons/actions/link-bot.svg">Link Bot
              </div>
              <img src="assets/icons/actions/external-link.svg" class="ext-link" placement="top-right" ngbTooltip="Open this bot in Kore.ai Platform" container='body' tooltipClass="train-icon-tooltip ml-12">
            </div>
          </div>
          <div class="table-body-link-bot row col-12">
            <div class="col-6 bot-name-data row m-0">
              <div class="col-9 name-with-type">
                Banking Integration Bot
              </div>
              <div class="col-3 shares-data">
                  <img src="assets/icons/actions/shares.svg">65 Tasks
              </div>
            </div>
            <div class="col-2 owner-name">Monica Rossi</div>
            <div class="col-4 link-bot-actions">
              <div class="link-bot-btn">
                <img src="assets/icons/actions/link-bot.svg">Link Bot
              </div>
              <img src="assets/icons/actions/external-link.svg" class="ext-link" placement="top-right" ngbTooltip="Open this bot in Kore.ai Platform" container='body' tooltipClass="train-icon-tooltip ml-12">
            </div>
          </div>
          <div class="table-body-link-bot row col-12">
            <div class="col-6 bot-name-data row m-0">
              <div class="col-9 name-with-type">
                Banking Integration Bot
              </div>
              <div class="col-3 shares-data">
                  <img src="assets/icons/actions/shares.svg">65 Tasks
              </div>
            </div>
            <div class="col-2 owner-name">Monica Rossi</div>
            <div class="col-4 link-bot-actions">
              <div class="link-bot-btn">
                <img src="assets/icons/actions/link-bot.svg">Link Bot
              </div>
              <img src="assets/icons/actions/external-link.svg" class="ext-link" placement="top-right" ngbTooltip="Open this bot in Kore.ai Platform" container='body' tooltipClass="train-icon-tooltip ml-12">
            </div>
          </div>
          <div class="table-body-link-bot row col-12">
            <div class="col-6 bot-name-data row m-0">
              <div class="col-9 name-with-type">
                Banking Integration Bot
              </div>
              <div class="col-3 shares-data">
                  <img src="assets/icons/actions/shares.svg">65 Tasks
              </div>
            </div>
            <div class="col-2 owner-name">Monica Rossi</div>
            <div class="col-4 link-bot-actions">
              <div class="link-bot-btn">
                <img src="assets/icons/actions/link-bot.svg">Link Bot
              </div>
              <img src="assets/icons/actions/external-link.svg" class="ext-link" placement="top-right" ngbTooltip="Open this bot in Kore.ai Platform" container='body' tooltipClass="train-icon-tooltip ml-12">
            </div>
          </div>
        </div>
    </div>
  </perfect-scrollbar>
</kr-modal>