<div class="contentContainer">
    <div class="mainLoadingSpinner" *ngIf="loadingContent">
      <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
      <span class="please-wait-message">Please Wait!</span>
    </div>
    
    <div class="table-list-content" *ngIf="bots && bots.length && !loadingContent">
      <div class="kr-sg-data-table with-checkbox">
        <div class="table-action-header">
          <input type="text" name='searchSources' placeholder="Search" id="searchContentSources"
            class="input-search tbsearchbar" [(ngModel)]="searchSources" (keyup)="applyFilter($event.target.value)">
          <div class="search">
            <img *ngIf="searchSources" (click)="applyFilter('')" class="search-icon" src="assets/images/close.svg">
            <span *ngIf="!searchSources" class="search-name"><img class="search-img"
                src="assets/icons/sidemenu/search-table.svg"></span>
          </div>
            <div *ngIf="currentView === 'list'" class="grid-list-view-table" (click)="currentView='grid'" ngbTooltip='Grid'><img
            src="assets/icons/grid-view.svg"></div>
            <div *ngIf="currentView === 'grid'" class="grid-list-view-table" (click)="currentView='list'" ngbTooltip='List'><img
            src="assets/icons/list-view.svg">
            </div>
      </div>
    </div>
    <ng-container >
        <perfect-scrollbar class="table-scroll-perfect list">
          <div class="list-view-data">
            <div class="row row_list">
              <div class="box-content" *ngFor="let source of bots"
                (click)="openStatusSlider(source)">
                <div class="box">
                  <div class="title">{{source.name}}</div>
                  
                  <div class="status-data">
                    <div class="created-date"> {{source.shortDesc}}</div>
                    <!-- <div class="created-date"> {{source.lMod | dateFormatPipe}}</div> -->
                  </div>
                  <div class="created-date">{{source.lMod | dateFormatPipe}}</div>
                  <div class="actions-delete">                   
                    <span class="actions-links d-none"><img class="action_icon" src="assets/icons/sidemenu/table-refresh.svg"></span>
                    <span class="actions-links" (click)="deletePages('source',source,$event)" ngbTooltip='delete' ><img class="action_icon" src="assets/icons/sidemenu/delete-table.svg"></span>
                </div>
                </div>
              </div>
            </div>
          </div>
        </perfect-scrollbar>
      </ng-container>
  </div>
  
 </div> 