@import './../../../app/scss/variables/variables.scss';
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.mainLoadingSpinner{
    position: absolute;
    top: 45%;
    left: 45%;
    // box-shadow: 0 5px 10px 0 #e9eff5;
    background:  transparent;
    width: 223px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }  
}
.botContainer{
   padding: 30px 65px 0 70px;
    height: calc(100vh - 62px);
    overflow: hidden;    
    background: #fff;
    .empty-case-showing-cotent{
        margin: 0 -5px;
    }
    .kr-sg-data-table section.table-content .content-body{
        cursor: pointer;
    }
    .kr-sg-data-table{
        section{
            .empty{
                display: none;
                text-align: center;
                width: 100%;
                padding: 10%;
                white-space: break-spaces;
            }
            div.empty:first-child {
                display: block !important;
              }
            .last-child {
                max-width: 90px !important;
            }
        }
    }
    .table-list-content{
        .kr-sg-data-table{
            .table-action-header{
                justify-content: flex-end;
                height: auto;
                background: #F8F9FA;
                padding: 5px 30px;
                border-radius: 4px; 
                margin: 0 15px 0 10px;               
                .search{
                    margin-left: 15px;
                    .search-name{
                        img{
                            margin-right: 5px;
                            position: relative;
                            top: -1px;
                        }
                    }
                }
                .kr-sg-dropdowns{
                    width: 124px;
                    margin-left: 15px;
                    .dropdown-open{
                        &.show{
                            background: #fff;
                            .dropdown-input{
                                border: 1px solid #E4E5E7;
                            }
                        }
                        .dropdown-input{
                            font-size: 12px;
                            padding: 0 15px;
                            border: 1px solid transparent;
                            background: transparent;
                            border-radius: 4px;
                            img{
                                margin-right: 6px;
                                position: relative;
                                top: -1px;
                            }
                            &::before{
                                display: none;
                            }
                            &::after{
                                display: none;
                            }
                        }
                        .content-menu{
                            box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
                            width: 140px;
                            top: 3px !important;
                            min-width: 140px;
                            padding: 10px 20px;
                            li{
                                font-size: 13px;
                                color: #202124;
                                padding: 8px 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .grid-list-view-table{
                    margin-left: 15px;
                    cursor: pointer;
                    width: 20px;
                    text-align: right;
                }
            }  
            .table-content{
                margin-top: 25px;      
                padding: 0 15px 0 10px;          
                .table-header{
                    background: #fff;
                    border-bottom: 1px solid #E4E5E7;
                    color: #9AA0A6;
                    .col{
                        font-weight: 500;                       
                        color: #9AA0A6;
                        font-size: 12px;   
                        cursor: pointer;         
                        .sortImg{
                            transform: rotate(270deg);
                            top: -0.7px;
                            position: relative;
                            &.assending{
                                transform: rotate(180deg);
                            }
                            &.decending{
                                transform: rotate(0deg);
                            }
                        }            
                    }
                }
                .col{
                    .action_icon{                        
                        cursor: pointer;
                        visibility: hidden;
                    }
                }
                .content-body{
                    padding: 9px 0;
                    border-bottom: 1px solid #E4E5E7;
                    .col{
                        color: #202124;
                        font-size: 14px;
                        &.success{
                            color: #28A745;
                        }
                        &.in-progress{
                            color: #0D6EFD;
                        }
                        &.failed{
                            color: #DD3646;
                        }
                    }
                    .inProgress{
                        width: 20px;
                        height: 20px;
                        -webkit-animation:spin 4s linear infinite;
                        -moz-animation:spin 4s linear infinite;
                        animation:spin 4s linear infinite;
                    }
                    &:hover{
                        background: #F8F9FA;
                        .action_icon{
                            visibility: visible;
                        }
                    }
                }
            }
            .list-view-data{
                .row_list{
                    margin: 10px 0 0 0 !important;
                    .box-content{
                        padding: 10px;
                        text-align: center;
                        .box{
                            background: #FFFFFF;
                            border: 1px solid #BDC1C6;
                            box-sizing: border-box;
                            border-radius: 6px;
                            width: 225px;
                            height: 225px;
                            padding: 25px 0;
                            cursor: pointer;
                            .title{
                                color: #202124;
                                font-weight: 500;
                                font-size: 16px;
                                margin-bottom: 24px;
                            }
                            .type{
                                background: #0D6EFD;
                                border-radius: 2px;
                                padding: 3px 0;
                                width: 76px;
                                margin: 0 auto;
                                color: #FFFFFF;
                                font-size: 12px;
                                margin-bottom: 30px;
                                text-transform: uppercase;
                                &.doc{
                                    background: #28A745;
                                }
                            }
                            .status-data{
                                .status-info{
                                    padding-top: 12px;
                                    .inprogressLoader{
                                        -webkit-animation:spin 4s linear infinite;
                                        -moz-animation:spin 4s linear infinite;
                                        animation:spin 4s linear infinite;
                                    }
                                    .status-name{
                                        font-size: 12px;
                                        font-weight: normal;
                                        margin-top: 10px;
                                    }
                                }
                                .count-pages{
                                    color: #9AA0A6;
                                    font-size: 12px;
                                    .pagelength{
                                        font-weight: 500;
                                        font-size: 20px;
                                        color: #202124;
                                    }
                                }
                                .created-date{
                                    margin-top: 32px;
                                    color: #9AA0A6;
                                    font-size: 12px;
                                }
                            }                            
                        }
                    }
                }
            }          
        }
        .table-scroll-perfect{
            height: calc(100vh - 214px);
            &.list{
                height: calc(100vh - 136px);
            }
        }
    }   
}
::ng-deep perfect-scrollbar{
    .ps__thumb-y{
        width: 3px !important;
    }
    .ps__rail-y{
        width: 3px !important;
    }
    .ps__thumb-x{
        display: none !important;
    }
    .ps__rail-x{
        display: none !important;
    }
}
::ng-deep perfect-scrollbar .ps-content{
    .empty{
        display: none;
        text-align: center;
        width: 100%;
        padding: 10%;
        white-space: break-spaces;
    }
    div.empty:first-child {
        display: block !important;
      } 
  }
    ::ng-deep.sliderComponent {
        // background: rgba(38, 52, 74,0.5);
        .mainLoadingSpinner{
            left: 35%;
            .please-wait-message {
                top: -19px !important;
                left: -12px !important;
                font-size: 12px;
            }
        }
        .modal-content{
            box-shadow: 0px 20px 40px rgba(32, 33, 36, 0.2);
            .modal-header{
                height: auto !important;
                padding: 22px 30px;
                border-bottom: 1px solid #BDC1C6 !important;
                background: #fff !important;
                display: block;
                .header-title{
                    display: inline-block;
                    margin: 0;
                    color: #202124;
                    font-size: 14px;
                }
                .closeCross{
                    float: right;
                    position: relative;
                    top: 3px;
                    cursor: pointer;
                }
            }
            .modal-body{
                height: calc(100vh - 70px);
                padding: 20px 0 60px 30px !important;
                perfect-scrollbar{
                    &.scroll-table{
                        padding-right: 30px;
                    }
                }
                .table-view-details{
                    .view-details-data{
                        margin-bottom: 25px;
                        .title{
                            color: #202124;
                            font-weight: 600;
                            font-size: 14px;
                            margin-bottom: 6px;
                        }
                        .desc-info{
                            color: #202124;
                            font-weight: normal;
                            font-size: 14px;
                            margin-bottom: 10px;
                            img{
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .noPages{
                    padding-top: 20%;
                    text-align: center;
                }
                .info-content{
                    padding: 15px;                
                    border-radius: 8px;
                    &.pageTitleContainer{
                        padding-bottom: 30px;
                    }
                    &.previewSection{
                        overflow-y: scroll;
                        max-height: 100px;
                        .previewContent {
                            white-space: pre-wrap;
                        }
                    }
                    &.bg-color{
                        background: #f2f3f5;
                    }
                    .viewPageDetails{
                        position: relative;
                        display: block;
                        left: -110px;
                        top: 5px;
                        margin-left: 106px;
                        a{
                            text-decoration: underline;
                            color: #0D6EFD;
                            padding-left: 5px;
                            cursor: pointer;
                        }
                    }
                    .row_content{
                        padding: 3px 0;
                        .left-info-title{
                            color: #9AA0A6;
                            font-size: 14px;
                            span{
                                float: right;
                            }
                        }
                        .right-info-title{
                            color: #202124;
                            font-size: 14px;
                            padding-left: 25px;
                            a{
                                text-decoration: underline;
                                color: #0D6EFD;
                                padding-left: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .content-accordion-sec{
                    .search-header{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 20px;
                        justify-content: space-between;        
                        .tabs-sec{
                            .tabname{
                                padding: 8px 10px;
                                border-bottom: 1px solid transparent;
                                color: #202124;
                                font-weight: 500;
                                font-size: 14px;
                                margin-right: 2px;
                                cursor: pointer;
                                &.active{
                                    border-bottom: 1px solid #0D6EFD;
                                }
                            }
                        }  
                        .right-side{
                            display: flex;
                            align-items: center;
                            .add-page{
                                color: #202124;
                                font-weight: 500;
                                font-size: 12px;
                                margin-left: 25px;
                                padding: 0 15px;
                                cursor: pointer;
                                img{
                                    position: relative;
                                    top: -1px;
                                    margin-right: 8px;
                                }
                            }
                            .kr-sg-input-search{
                                width: 300px;
                                input{
                                    padding: 4px 10px 4px 32px;
                                    background: #FFFFFF;
                                    border: 1px solid #E4E5E7;
                                    box-sizing: border-box;
                                    border-radius: 4px;
                                    color: #BDC1C6;
                                    font-weight: 300;
                                    font-size: 14px;
                                    &::placeholder{
                                        color: #BDC1C6;
                                    }
                                }
                                .search-icon{
                                    position: absolute;
                                    left: 10px;
                                    top: 9px;
                                    cursor: pointer;
                                    right: 0;                            
                                }
                            }
                        }                                      
                    }  
                    .header-sec{
                        padding: 15px 10px;
                        background: #fff;
                        border-bottom: 1px solid #E4E5E7;
                        .label_text{
                            color: #9AA0A6;
                            font-weight: 500;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }    
                    .accordion-section{
                        margin-bottom: 20px;
                        .card_content{
                            border-bottom: 1px solid #E4E5E7;
                            .card_header{
                                .card_link{
                                    display: block;
                                    padding: 15px 10px;
                                    text-decoration: none !important;
                                    color: #202124;                                    
                                    position: relative;
                                    &.collapsed{
                                        background: #fff;
                                        &::before{                                                                
                                            content: "";                                       
                                            background-image: url('/assets/icons/carrot-right.svg');                                                                    
                                        }
                                        &:hover{
                                            background: #F8F9FA;
                                            .actions{
                                                display: block;
                                            }
                                        }
                                    }
                                    &::before{                                                                
                                        content: "";
                                        position: absolute;
                                        background-image: url('/assets/icons/carrot-down-comp.svg');
                                        background-size: 14px;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        width: 14px;
                                        left: 3px;                                   
                                        height: 100%;
                                        top: 0;                                   
                                    }                                
                                    &:hover{
                                        background: #fff;
                                        .actions{
                                            display: block !important;
                                        }
                                    }
                                    .content{
                                        .link-name{
                                            font-size: 14px;
                                            color: #202124;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            max-width: 100%;
                                            text-overflow: ellipsis;
                                            padding-right: 15px !important;
                                        }
                                        .date{
                                            font-size: 14px;                                        
                                            color: #202124;
                                        }
                                        .actions{
                                            text-align: right;
                                            display: none;
                                            img{
                                                margin: 0 0 0 20px;
                                            }
                                        }
                                    }
                                }
                            }
                            // .pad_adjust{
                            //     padding: 0 0 20px 0;
                            // }
                            .collapse{
                                position: relative;
                                &.show{
                                   
                                }
                                &::before{
                                    content: '';
                                    position: absolute;
                                    width: 1px;
                                    height: 100%;
                                    background: #BDC1C6;
                                    left: 10px;
                                    top: -10px;
                                }
                                .card_body{
                                    padding: 0px 0px 0px 30px;
                                    .info-content{
                                        border-radius: 8px;
                                        background: #fff !important;
                                        border: 1px solid #BDC1C6;
                                        padding: 15px 20px;
                                        max-height: 130px;
                                        overflow: hidden;
                                        white-space: pre;
                                        margin-bottom: 20px;
                                        .viewPageDetails{
                                            margin-left: 106px;
                                            a{
                                                text-decoration: underline;
                                                color: #0D6EFD;
                                                padding-left: 5px;
                                                cursor: pointer;
                                            }
                                        }                                   
                                    }
                                }
                            }
                        }
                    }          
                }
            }
            .footer-btns{
                background: #FFFFFF;
                box-shadow: inset 0px 1px 0px #BDC1C6;
                padding: 13px 30px;
                button{
                    margin-right: 20px;
                    font-size: 14px;
                    border: 0;
                }
                .kr-sg-button-primary{
                    background: #0D6EFD;
                    border-radius: 4px;
                    color: #FFFFFF;
                    font-size: 14px;
                }
                .kr-sg-button-secondary{
                    background: #FFFFFF;
                    border: 1px solid #BDC1C6;                 
                    border-radius: 4px;
                    color: #202124;
                }
                .kr-sg-button-secondary-two{
                    background: #DD3646;
                    border-radius: 4px;
                    color: #FFFFFF;
                }
            }
        }        
    }
    .botContainer{
        font-family: 'Inter', sans-serif !important;
        .bot-box{
            width: 225px;
                height: 225px;
                background: #FFFFFF;
                border: 1px solid #BDC1C6;
                box-sizing: border-box;
                border-radius: 6px;

                &:hover .actions-bot {
                    visibility: visible;
                  }
                  .actions-bot{
                    margin-left: 75%;
                    visibility: hidden;
                   // display: none;
                }
            .title-bot{
            
                color: #202124;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 15%;
                margin-bottom: 5%;
            }
            .title-bot-desc{
                color: #9AA0A6;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: #5F6368;
            }
            .title-bot-btm{
                font-family: 'Inter', sans-serif !important;
                color: #9AA0A6 !important;
                font-size: 12px !important;
                line-height: 14px;
                text-align: center;
                margin-bottom:1%;
                margin-top: 15%;
            }
            .btm{
                //margin-bottom:7% !important;
                font-family: 'Inter', sans-serif !important;
                color: #9AA0A6 !important;
                font-size: 12px !important;
            }
            .btm-title{
                color: #202124 !important;
                font-weight: 500 !important;
                font-size: 16px !important;
            }
            .icon-gap{
                width: 25%;
                height: 25%;
                border-radius: 6px;
                margin-left: 40%;
                background: #f8f9fa;
                margin-bottom: 14%;
                visibility: hidden;
            } & :hover{
                background: #f8f9fa;
            }
            
        }
        
    }
    .list-view-data .row_list .box-content .box {
        width : 220px !important;
        height : 170px !important;
        background: #FFFFFF !important;
        // background: #f8f9fa !important;
        border: none;
    }
    .list-view-data .row_list .box-content :hover{
        background: #e5e8ec !important;
    }
    .list-view-data .row_list .box-content .box :hover{
        background : none  !important;
    }
    .bot-box:hover{
        background : none  !important;
        .actions-bot{
            visibility: visible;
        }
    }