@import './../../../app/scss/variables/variables.scss';

.bot-actions-container{
    height: calc(100vh - 62px);

    .empty-bot-actions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 53px);
        width: 500px;
        margin: 0 auto;
        .img-block{
            margin-bottom: 30px;
        }
        .title{
            color: #202124;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 8px;
        }
        .desc-text{
            color: #9AA0A6;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 30px;
        }
    }
    .header-sec {
        background: #F8F9FA;
        padding: 15px 25px;
        .title-header{            
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;            
        }       
        .right-sec {
            display: flex;
            align-items: center;
            justify-content: flex-end;            
            .clock{
                cursor: pointer;
                img{
                    position: relative;
                    top: -1px;
                }
                
            }  
            .view-all-bots{
                color: #202124;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                margin-right: 30px;
                cursor: pointer;
            }        
        }
    }
    .linked-bot-data{
        margin: 20px 25px;
        background: #F8F9FA;
        border: 1px solid #E4E5E7;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 16px 0;
        .box-content-linked{
            margin: 0;
            padding: 0 5px;
            .left-sec{
                display: flex;
                align-items: center;
                .img-block{
                    width: 40px;
                    height: 40px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
                .content-sec{
                    padding-left: 20px;
                    .bot-name-sec{
                        color: #5F6368;
                        .bot-name-title{
                            color: #3C4043;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                    .bot-desc{
                        color: #9AA0A6;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .bot_type{
                        color: #07377F;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                        background: #E7F1FF;
                        border-radius: 100px;
                        display: inline-block;
                        padding: 4px 13px;
                        margin-top: 9px;
                    }
                }
            }
            .righ-sec{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .sync-btn{
                    border: 1px solid #0D6EFD;
                    border-radius: 4px;
                    height: 34px;
                    padding: 5px 12px;
                    color: #0D6EFD;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin-right: 25px;
                    img{
                        margin-right: 6px;
                    }
                }
                .unlink-btn{
                    border: 1px solid #FF281B;
                    border-radius: 4px;
                    height: 34px;
                    padding: 5px 12px;
                    color: #FF281B;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    img{
                        margin-right: 7px;
                    }
                }
            }
        }
    }

    .scroll-task-data{
        height: calc(100vh - 330px);
    }
    .task-list-data{
        .header-sec-tab-checked{
            margin: 20px 25px;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
            padding-bottom: 1px;
            .tab-sec-task{
                margin: 0;
                padding: 0;
                height: 53px;
                align-items: center;
                background: #FFFFFF;                
                .tab-name{
                    .name-task{
                        display: inline-block;
                        color: #0D6EFD;
                        text-transform: capitalize;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background: #0D6EFD;
                            bottom: -18px;
                        }
                    }
                }
                .search-block{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .kr-sg-input-search{
                        width: 250px;
                    }
                    .seach-block-name{
                        display: flex;
                        color: #202124;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        cursor: pointer;
                        img{
                            margin-right: 4px;
                        }
                    }
                }
            }
            .checked-list-data{
                margin: 0;
                padding: 0;
                height: 53px;
                align-items: center;
                background: #FFFFFF;   
                .selected-count{
                    padding-left: 14px;
                    color: #202124;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                }
                .checkbox-partial-selected{
                    display: flex;
                    align-items: center;
                    img{

                    }
                    .label-text{
                        color: #202124;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        padding-left: 20px;
                    }
                }
            }
        }
        .table-body-content-task{
            padding: 0 25px;
            .data-container-sec{
                margin: 0 0 5px 0;
                padding: 10px 0;
                background: #FFFFFF;
                border: 1px solid #EFF0F1;
                box-sizing: border-box;
                border-radius: 4px;
                align-items: center;
                &:hover{
                    .checkbox-info-data{
                        .kr-sg-checkbox{
                            &.checkbox-for-all{
                                visibility: visible;
                            }
                        }
                    }
                }
                .checkbox-info-data{
                    display: flex;
                    align-items: center;
                    .kr-sg-checkbox{
                        height: 20px;   
                        &.checkbox-for-all{
                            visibility: hidden;
                        }                                             
                    }
                    .content-sec{
                        padding-left: 14px;
                        .primary-title{
                            color: #202124;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 20px;
                        }
                        .secondary-title{
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 20px;
                            color: #828282;
                        }
                    }
                }
                .task-type{
                    color: #9AA0A6;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 20px;
                    padding: 0 10px;
                }
                .enable-title{
                    color: #9AA0A6;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 20px;
                    padding: 0 10px;
                }
                .views-clicks-data{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .clicks-view-info{
                        display: flex;
                        color: #3C4043;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 15px;
                        text-transform: uppercase;
                        margin-right: 20px;
                        img{
                            margin-right: 7px;
                        }
                    }
                    .elipse-action-dropdown{
                        width: 24px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}




::ng-deep.linkExistingBotsModal{
    .modal-dialog{
        height: 90% !important;
        border-radius: 4px;
        .modal-content{
            border-radius: 4px !important;
            .modal-header{
                height: auto;
                padding: 12px 15px 12px 30px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                margin: 0 0 2px 0;
                display: flex !important;
                align-items: center;
                justify-content: space-between !important;
                .title{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .modal-body{
                .info-link-text{
                    color: #202124;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                }
                .kr-sg-input-text{
                    margin: 25px 0;
                    input{
                        padding-left: 35px;
                    }
                    .search-icon{
                        position: absolute;
                        left: 10px;
                        top: 9px;
                    }
                }
                .link-bot-table{
                    margin: 0 -30px;
                    .table-header{
                        padding: 0 15px;
                        margin: 0;
                        background: #FFFFFF;
                        box-shadow: inset 0px -1px 0px #e4e5e7;
                        height: 45px;
                        align-items: center;
                       .title{
                            color: #828282;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                       }
                    }
                    .table-body-link-bot{
                        align-items: center;
                        margin: 0 0 0px 0;
                        padding: 8px 0 8px 0;
                        height: 60px;
                        .bot-name-data{
                            align-items: center;
                            .name-with-type{
                                color: #202124;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                .bot-type{
                                    background: #E7F1FF;
                                    border-radius: 100px;
                                    font-weight: normal;
                                    font-size: 10px;
                                    line-height: 12px;
                                    padding: 4px 13px;
                                }
                            }
                            .shares-data{
                                padding: 0 10px 0 0px;
                                color: #5F6368;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 20px;
                                img{
                                    margin-right: 10px;
                                }
                            }
                        }
                        .owner-name{
                            color: #828282;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                        }
                        .link-bot-actions{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding-right: 30px;
                            .link-bot-btn{
                                border: 1px solid #85B7FE;
                                border-radius: 4px;
                                height: 34px;
                                display: flex;
                                align-items: center;
                                padding: 7px 10px;
                                color: #0D6EFD;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                margin-right: 30px;
                                cursor: pointer;
                                img{
                                    margin-right: 12px;
                                }
                            }
                            .ext-link{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        
    }
}   