@import "../../../../scss/variables/variables.scss";
@import "../../scss/theme-picker.scss";
$headingColor: var(--headingColor);
$headerColor: var(--headerColor);
$footerColor: var(--footerColor);
$excludeColor: var(--excludeColor);
.user-guide {
    .modal-header {
        padding: 18px 30px;
        display: block;
        text-align: center;
        position: relative;
        border-radius: 4px 4px 0 0px;
        background-color: #f2f3f5;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-bottom: 8px;
        .modal-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #202124;
            text-align: left;
        } 
        .closeCross {
            position: absolute;
            right: 13px;
            background: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            top: 10px;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
        } 
        .closeCross:hover {
            background: #f8f9fa;
        }       
    }
    .modal-body {
        padding: 21px 30px;      
        background: $whiteColor;
        .desc-text{
            color: #202124;
            line-height: 24px;
            font-size: 14px;
            padding: 0 45px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .small-text{
            font-size: 14px;
            text-align: center;
            color: #9AA0A6;
            margin: 0;
        }
        .box-content{    
            margin: 38px 0 24px 0;        
            .content{
                border: 1px solid #E4E5E7;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 20px;
                .buttons-gruop{                                        
                    .buttons{
                        display: inline-block;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 10px rgba(32, 33, 36, 0.2);
                        border-radius: 4px;
                        border: 0;
                        button{
                            padding: 0px 8px;
                            margin: 4px;
                            font-size: 12px;
                            border-radius: 4px;
                            border: 0px !important;
                            &:hover{
                                background-color: #e5e8ec;
                            }
                            &.heading_text{
                                color: $headingColor;                                                                
                            }
                            &.header{
                                color: $headerColor;                               
                            }
                            &.footer{
                                color: $footerColor;                                
                            }
                            &.ignore-text{
                                color: $excludeColor;                                                        
                            }
                        }
                    }
                    
                }
                .heading{
                    display: inline-block;
                    padding: 2px 4px;
                    margin-bottom: 4px;
                    background: #E7F1FF;
                    color: #202124;
                    font-weight: 500;
                    font-size: 16px;
                    margin-top: 10px;
                }
                .desc-info{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #202124;
                    margin-top: 5px;
                }
            }
        }
        .learn-more-link{
            margin: 0;
            text-decoration: none;
            text-align: left;
            display: inline-block;
            padding: 24px 0 5px 0;
            font-weight: 500;
            font-size: 14px;
            color: #0D6EFD;
        }
    }
    .modal-footer {
        height: auto;
        padding: 10px 0px;
        display: block;
        text-align: left;
        margin-top: 5px;
        padding-left: 30px;
        background: #FFFFFF;
        box-shadow: 0px -2px 4px rgba(32, 33, 36, 0.2);
        border-radius: 4px;
        button{
            cursor: pointer;
            margin: 0 20px 0 0px;
        }
    }
}

::ng-deep .cdk-global-scrollblock {
    overflow-y: hidden;
}
::ng-deep .kr-create-app-panel {
    width: 700px;
    .mat-dialog-container{
        background: #FFFFFF;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
}
