<div class="body-container">
  <!-- loading icon -->
  <div class="mainLoadingSpinner" *ngIf="loadingContent">
    <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
    <span class="please-wait-message">{{ 'sa_please_wait' | translate }}</span>
  </div>
  <!-- Header  start from here -->
  <div class="landing-page-header">
    <div class="widget-header-block">
      <div class="widget-header">
        {{ 'synonyms_Synonymns' | translate }}
        <span
          class="module-topic"
          tooltipClass="tooltip-global-"
          [container]="'body'"
          ngbTooltip="{{ 'contentSource_topic_guide' | translate }}"
          placement="right-center"
          (click)="openUserMetaTagsSlider()"
        >
          <i class="si-topic-guide-1"></i>
        </span>
      </div>
      <div class="widget-desc">{{ 'synonyms_header_desc' | translate }}</div>
    </div>
    <div class="landing-page-search">
      <div class="kr-sg-input-text m-0">
        <input
          type="text"
          maxlength="60"
          placeholder="{{ 'sa_search' | translate }}"
          id="inputSearch"
          class="input-search"
          [ngClass]="{ 'pl-33': !synonymSearch, 'pl-2': synonymSearch }"
          autocomplete="off"
          [(ngModel)]="synonymSearch"
          (keyup)="debouncedSearch(); (displaySearch)"
          (mouseover)="
            searchImgSrc = searchFocusIn
              ? 'assets/icons/search_gray.svg'
              : 'assets/icons/search_gray_dark.svg'
          "
          (mouseout)="
            searchFocusIn = false; searchImgSrc = 'assets/icons/search_gray.svg'
          "
          (focus)="
            searchFocusIn = true; searchImgSrc = 'assets/icons/search_gray.svg'
          "
        />
        <span class="search-icon" *ngIf="!synonymSearch?.length"
          ><i class="si-search"></i
        ></span>
        <span
          class="close-icon"
          *ngIf="synonymSearch?.length"
          [ngClass]="{ 'pr-22': synonymSearch }"
          (mouseover)="activeClose = true"
          (mouseout)="activeClose = false"
          (click)="focusoutSearch(); synonymSearch = ''"
          placement="top-center"
          container="body"
          ngbTooltip="{{ 'sa_cancel' | translate }}"
          tooltipClass="ngb_tooltip_custom_class sampleJson"
          ><i class="si-close"></i
        ></span>
      </div>
    </div>
  </div>
  <!-- Header ends here -->

  <!-- Add Synonymn Block Starts here -->
  <div class="panel-form-block">
    <div class="panel-form-radio-group">
      <div class="group-radiobutton">
        <div class="kr-sg-radiobutton">
          <input
            id="two-way-synonum"
            value="synonym"
            name="two-way-synonym"
            [(ngModel)]="addNewSynonymObj.type"
            (click)="changeSynonymType()"
            class="radio-custom"
            type="radio"
            checked
          />
          <label for="two-way-synonum" class="radio-custom-label">{{
            'synonyms_synonym' | translate
          }}</label>
        </div>
        <div class="kr-sg-radiobutton">
          <input
            id="one-way-synonum"
            value="oneWaySynonym"
            name="one-way-synonym"
            [(ngModel)]="addNewSynonymObj.type"
            (click)="changeSynonymType()"
            class="radio-custom"
            type="radio"
          />
          <label for="one-way-synonum" class="radio-custom-label">{{
            'synonyms_one_way_synonym' | translate
          }}</label>
        </div>
      </div>
    </div>
    <div class="panel-form-based-on-radio row col-12 m-0">
      <div
        class="form-search-synonym col-3 pl-0"
        *ngIf="addNewSynonymObj.type === 'oneWaySynonym'"
      >
        <div class="kr-sg-input-text">
          <input
            [class.err-block]="!addNewSynonymObj?.keyword.length && submitted"
            type="text"
            id="synonymName"
            name="synonymName"
            autocomplete="off"
            [(ngModel)]="addNewSynonymObj.keyword"
            [ngModelOptions]="{ standalone: true }"
            placeholder="{{ 'synonyms_search_terms' | translate }}"
            required
            class="input-text"
          />
        </div>
      </div>
      <div
        class="form-chip-set-synonym col-7 pr-0 pl-0"
        [ngClass]="{ 'col-10': addNewSynonymObj.type === 'synonym' }"
      >
        <div class="tags">
          <div class="chip-sys-data kr-sg-input-text">
            <mat-form-field
              class="example-chip-list"
              [class.err-block]="
                !addNewSynonymObj?.synonyms?.length && submitted
              "
              [floatLabel]="'never'"
              appearance="outline"
            >
              <mat-chip-grid #chipList>
                <mat-chip-row
                  id="sa_syn{{ index }}"
                  *ngFor="
                    let syn of addNewSynonymObj.synonyms;
                    let index = index
                  "
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(syn, 'add')"
                >
                  <span *ngIf="syn">{{ syn }}</span>
                  <i class="si-close"></i>
                </mat-chip-row>
                <input
                  placeholder="{{
                    'synonyms_type_synonym_and_enter' | translate
                  }}"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event, 'add')"
                  #suggestedInput
                  [(ngModel)]="synonymObj.synonyms"
                  [ngModelOptions]="{ standalone: true }"
                  autocomplete="off"
                />
              </mat-chip-grid>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-add-btn-synonym col-2 text-center pr-0">
        <button
          id="sa_synonym_add"
          (click)="addSynonym()"
          class="kr-sg-button-primary"
        >
          <span class="add-icon"><i class="si-add-plus"></i></span
          >{{ 'sa_add' | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- Add Synonymn Block Ends here -->

  <div class="block-separate-line"></div>

  <div
    class="presentable-table-block"
    *ngIf="
      (loadingContent && searchKeyword) || synonymData.length;
      else noSynonymRecords
    "
  >
    <!-- table start from here -->
    <div class="index-config-lang-table row m-0">
      <div class="table_data_content col-12">
        <div class="table_header row m-0 pl-2">
          <div
            class="col_ col-8 title d-flex align-items-center justify-content-start"
          >
            {{ 'synonyms_terms' | translate }}
          </div>
          <div
            class="col_ col-2 title d-flex align-items-center justify-content-start"
            (click)="sortByApi('type')"
          >
            <span
              class="d-flex align-items-center flex-column mr-2 filter-sort"
            >
              <i
                [ngClass]="getSortIconVisibility('type', 'down')"
                class="si-chev-up icon-up"
              ></i>
              <i
                [ngClass]="getSortIconVisibility('type', 'up')"
                class="si-chev-down icon-down"
              ></i>
            </span>
            {{ 'synonyms_type' | translate }}
            <div
              class="kr-sg-dropdowns type_sort_dropdown pl-2 pt-1"
              #synonymFilter="ngbDropdown"
              ngbDropdown
              [container]="'body'"
              [autoClose]="true"
              [placement]="'bottom-right'"
            >
              <div class="dropdown dropdown-open">
                <button
                  id="sa_synonym_filter_dropDown"
                  class="dropdown-toggle dropdown-input"
                  ngbDropdownToggle
                  (click)="$event.stopImmediatePropagation()"
                >
                  <img
                    class="custom-dropdown-toggle-icon"
                    src="assets/icons/Fields_Vector.svg"
                  />
                </button>

                <ul
                  class="dropdown-menu data-type-dropdown content-menu type_sort_dropdown-content"
                  ngbDropdownMenu
                >
                  <li
                    id="sa_synonym_all_filter"
                    [ngClass]="{ 'selected-list': filterObject.type === 'all' }"
                    (click)="filterTable('all'); synonymFilter.close()"
                  >
                    <span class="list-name"
                      >{{ 'fields_all' | translate }} </span
                    ><img
                      [ngClass]="{ 'd-none': filterObject.type !== 'all' }"
                      src="assets/icons/check-blue.svg"
                    />
                  </li>

                  <li
                    id="sa_synonym_synoymn_filter"
                    [ngClass]="{
                      'selected-list': filterObject.type === 'synonym'
                    }"
                    (click)="
                      filterTable('synonym', 'synonym'); synonymFilter.close()
                    "
                  >
                    <span class="list-name">{{
                      'synonyms_synonym' | translate
                    }}</span
                    ><img
                      [ngClass]="{ 'd-none': filterObject.type !== 'synonym' }"
                      src="assets/icons/check-blue.svg"
                    />
                  </li>
                  <li
                    id="sa_synonym_oneWaySynonym_filter"
                    [ngClass]="{
                      'selected-list': filterObject.type === 'oneWaySynonym'
                    }"
                    (click)="
                      filterTable('oneWaySynonym', 'oneWaySynonym');
                      synonymFilter.close()
                    "
                  >
                    <span class="list-name">{{
                      'synonyms_one_way_synonym' | translate
                    }}</span
                    ><img
                      [ngClass]="{
                        'd-none': filterObject.type !== 'oneWaySynonym'
                      }"
                      src="assets/icons/check-blue.svg"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col_ col-2 title d-flex align-items-center justify-content-start"
          >
            <!-- {{"synonyms_type_action" | translate}} -->
          </div>
        </div>
        <perfect-scrollbar class="table_body_content">
          <ng-container *ngIf="synonymData.length; else noSynonyms">
            <div
              class="table_body row m-0 pl-2"
              *ngFor="let synonymObj of synonymData; let i = index"
            >
              <ng-container *ngIf="editIndex !== i">
                <div class="col-8 title text-left">
                  <div class="table-row-view">
                    <div class="synonym-view-data row col-12 p-0 m-0">
                      <div
                        class="synonym-name col-2 p-0 text-truncate"
                        [container]="'body'"
                        ngbTooltip="{{ synonymObj.keyword }}"
                        *ngIf="synonymObj.type === 'oneWaySynonym'"
                      >
                        {{ synonymObj.keyword }}
                      </div>
                      <i
                        *ngIf="synonymObj.type === 'oneWaySynonym'"
                        class="col-1 si-right-arrow-large arrow_divider"
                      ></i>
                      <div
                        class="synonym-type-list col-8 p-0"
                        [ngClass]="{
                          'col-12': synonymObj.type !== 'oneWaySynonym'
                        }"
                      >
                        <div
                          class="d-flex align-items-center"
                          *ngFor="
                            let synonym of synonymObj.synonyms;
                            let synIndex = index
                          "
                        >
                          <div class="synonym-type-list-name">
                            {{ synonym }}
                          </div>
                          <div
                            *ngIf="
                              synonymObj.type === 'oneWaySynonym' &&
                              synIndex < synonymObj.synonyms.length - 1
                            "
                            class="synonym-type-list-and-or"
                          >
                            {{ 'sa_OR' | translate }}
                          </div>
                          <div
                            class="icon-one-or-two-way"
                            *ngIf="
                              synonymObj.type !== 'oneWaySynonym' &&
                              synIndex < synonymObj.synonyms.length - 1
                            "
                          >
                            <i class="si-arrow-two-way arrow_divider"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2 title text-left p-0">
                  <div class="Synonym-type-name">
                    {{
                      synonymObj?.type === 'synonym'
                        ? ('synonyms_synonym' | translate)
                        : ('synonyms_one_way_synonym' | translate)
                    }}
                  </div>
                </div>
                <div class="col-2 p-0 text-left">
                  <div class="action_links">
                    <span class="action_link-icon">
                      <i
                        id="sa_synonym_edit"
                        (click)="editSynonymn(i, synonymObj)"
                        ngbTooltip="{{ 'sa_edit' | translate }}"
                        [container]="'body'"
                        class="si-pencil-edit mr-2"
                      ></i>
                    </span>
                    <span class="action_link-icon link-delete">
                      <i
                        id="sa_synonym_delete"
                        (click)="deleteSynonymnConfirmationPopUp(synonymObj, i)"
                        [container]="'body'"
                        ngbTooltip="{{ 'sa_delete' | translate }}"
                        class="si-delete1"
                      ></i>
                    </span>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="editIndex === i">
                <div class="col-8 title text-left">
                  <div
                    class="table-row-edit-view table-row-view one-way-synonym"
                  >
                    <div class="synonym-view-data row col-12 p-0 m-0">
                      <div
                        class="synonym-name col-3 p-0"
                        *ngIf="editSynonymObj?.type !== 'synonym'"
                      >
                        <div class="kr-sg-input-text">
                          <input
                            id="sa_synonym_edit_keyWord{{ i }}"
                            [class.err-block]="
                              !!editSynonymObj?.keyword.length && editSubmitted
                            "
                            type="text"
                            id="synonymName"
                            name="synonymName"
                            autocomplete="off"
                            [(ngModel)]="editSynonymObj.keyword"
                            [ngModelOptions]="{ standalone: true }"
                            placeholder="{{
                              'synonyms_search_term' | translate
                            }}"
                            required
                            class="input-text"
                          />
                          <i
                            *ngIf="
                              editSynonymObj?.type === 'oneWaySynonym' &&
                              !editSynonymObj?.keyword.length &&
                              editSubmitted
                            "
                            class="si-right-arrow-large"
                            style="
                              top: 29%;
                              position: absolute;
                              right: 1.5%;
                              display: block;
                            "
                            height="12"
                            width="12"
                          ></i>
                        </div>
                      </div>
                      <div
                        *ngIf="synonymObj?.type !== 'synonym'"
                        class="synonym-direction col-1 p-0 text-center"
                      >
                        <i class="si-right-arrow-large"></i>
                      </div>
                      <div class="synonym-type-edit-list col-8 p-0">
                        <div class="tags">
                          <div class="chip-sys-data">
                            <mat-form-field
                              class="example-chip-list"
                              [class.err-block]="
                                !editSynonymObj?.synonyms?.length &&
                                editSubmitted
                              "
                              [floatLabel]="'never'"
                              appearance="outline"
                            >
                              <mat-chip-grid #chipList1>
                                <perfect-scrollbar class="mat-chip-scroll">
                                  <mat-chip-row
                                    id="sa_editSyn{{ editSynIndex }}"
                                    *ngFor="
                                      let syn of editSynonymObj.synonyms;
                                      let editSynIndex = index
                                    "
                                    [selectable]="selectable"
                                    [removable]="removable"
                                    (removed)="remove(syn, 'edit')"
                                    ><span *ngIf="syn">{{ syn }}</span>
                                    <img
                                      src="assets/images/close.svg"
                                      class="remove-icon"
                                    />
                                  </mat-chip-row>
                                  <input
                                    id="sa_synonym_input_enter"
                                    placeholder="{{
                                      'synonyms_header_desc' | translate
                                    }}"
                                    [value]=""
                                    [matChipInputFor]="chipList1"
                                    [matChipInputSeparatorKeyCodes]="
                                      separatorKeysCodes
                                    "
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event, 'edit')"
                                    autocomplete="off"
                                  />
                                </perfect-scrollbar>
                              </mat-chip-grid>
                              <img
                                *ngIf="
                                  !editSynonymObj?.synonyms.length &&
                                  editSubmitted
                                "
                                id="valuesWarningWarning"
                                src="assets/icons/warning_escalation.svg"
                                style="
                                  top: 29%;
                                  position: absolute;
                                  right: 1.5%;
                                  display: block;
                                "
                                height="12"
                                width="12"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2 title text-left p-0">
                  <div class="Synonym-type-name">
                    {{
                      synonymObj?.type === 'synonym'
                        ? ('synonyms_synonym' | translate)
                        : ('synonyms_one_way_synonym' | translate)
                    }}
                  </div>
                </div>
                <div class="col-2 p-0 text-left">
                  <div class="action_links">
                    <span class="action_link-icon">
                      <i
                        id="sa_synonym_submit_edit"
                        (click)="addEditedSynonym(editSynonymObj)"
                        class="si-green-check mr-2"
                      ></i>
                    </span>
                    <span class="action_link-icon link-delete">
                      <i
                        id="sa_synonym_cancel_edit"
                        (click)="cancelEdit(i)"
                        class="si-close"
                      ></i>
                    </span>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #noSynonyms>
            <app-empty-screen
              *ngIf="synonymSearch"
              title="{{ 'NO_SEARCH_RESULTS_FOUND' | translate }}"
              desc="{{ 'DESC_SEARCH' | translate }}"
              imgName="synonyms.png"
              [width]="150"
              [height]="150"
            >
            </app-empty-screen>
          </ng-template>
        </perfect-scrollbar>
      </div>
    </div>
  </div>

  <ng-template #noSynonymRecords>
    <app-empty-screen
      title="{{ 'TITLE' | translate }}"
      desc="{{ 'DESC' | translate }}"
      imgName="synonyms.png"
      [width]="150"
      [height]="150"
    >
    </app-empty-screen>
  </ng-template>
  <!-- panel body ends here -->
</div>
