<!-- Sidebar -->
<div class="sidebar-fixed position-fixed activeMenu">
	<div class="list-group list-group-flush">	
		<div [routerLink]="['/summary']" (click)="preview('Summary')" skipLocationChange routerLinkActive="active" mat-button class="mat-button">
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/summery.svg" class="dashboard">			
			</span>
			<span class="linkTitle">Summary</span>
		</div>

		<div class="sub-title">Sources <img src="assets/icons/sidemenu/plus.svg" [routerLink]="['/source']" skipLocationChange routerLinkActive="active" (click)="preview('Source')"></div>

		<div mat-button class="mat-button" [routerLink]="['/content']" skipLocationChange routerLinkActive="active" (click)="preview('Content')" mat-button>			
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/content.svg">				
			</span>
			<span class="linkTitle">Content</span>
		</div>
		<div [routerLink]="['/faqs']" mat-button class="mat-button" skipLocationChange routerLinkActive="active" (click)="preview('Faqs')" mat-button>
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/faq.svg">				
			</span>
			<span class="linkTitle">Faqs</span>		
		</div>
		<div mat-button class="mat-button" [routerLink]="['/botActions']" skipLocationChange routerLinkActive="active" (click)="preview('Bot Actions')" mat-button>			
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/botactions.svg">				
			</span>
			<span class="linkTitle">Bot Actions</span>
		</div>		
		
		<!-- <button mat-button>
			<span class="inlineIconBox leftAdjust">
				<img src="assets/images/left-menu-icons/newIcons/Summery.svg">				
			</span>
			<span class="linkTitle">Preview</span>
		</button> -->

		<div class="sub-title">Training</div>
		<!-- <div class="sub-menu" *ngIf="trainingMenu">
			<div mat-button class="mat-button" [routerLink]="['/ml-threshold']" skipLocationChange routerLinkActive="active" (click)="preview('ml')" mat-button>			
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/synonyms.svg" class="callHistory">				
				</span>
				<span class="linkTitle">ML configuration</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/traits']" skipLocationChange routerLinkActive="active" (click)="preview('traits')" mat-button>			
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/synonyms.svg" class="callHistory">				
				</span>
				<span class="linkTitle">Traits</span>
			</div>
		</div> -->
		<div mat-button class="mat-button" [routerLink]="['/synonyms']" skipLocationChange routerLinkActive="active" (click)="preview('synonyms')" mat-button>			
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/synonyms.svg" class="callHistory">				
			</span>
			<span class="linkTitle">Synonyms</span>
		</div>
		<div mat-button class="mat-button">
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/metrics.svg" class="publish">				
			</span>
			<span class="linkTitle">Metrics</span>
		</div>
		<div mat-button class="mat-button" [routerLink]="['/rules']" skipLocationChange routerLinkActive="active" (click)="preview('synonyms')" mat-button>
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/metrics.svg" class="publish">				
			</span>
			<span class="linkTitle">Rules</span>
		</div>
		<div mat-button class="mat-button" [routerLink]="['/ml-threshold']" skipLocationChange routerLinkActive="active" (click)="preview('ml')" mat-button>
			<span class="inlineIconBox leftAdjust">
				<img src="assets/icons/sidemenu/training.svg" class="callHistory">				
			</span>
			<span class="linkTitle">ML configuration</span>
		</div>
		<div mat-button class="mat-button" [routerLink]="['/traits']" skipLocationChange routerLinkActive="active" (click)="preview('traits')" mat-button>
			<span class="inlineIconBox leftAdjust">
				<img src="assets/icons/sidemenu/training.svg" class="callHistory">				
			</span>
			<span class="linkTitle">Traits</span>
		</div>
		<div mat-button class="mat-button settings-menu">
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/settings.svg" class="publish">				
			</span>
			<span class="linkTitle">Settings</span>
		</div>
	</div>
</div>
<!-- Sidebar -->