/* 
    Created on : 23 Aug, 2018, 3:52:47 PM
    Author     : Ravi Kiran Maddi
*/

@import './../../../app/scss/variables/variables.scss';
app-mainmenu{
	.sidebar-fixed{
		top:60px;
		background:#EFF0F1;
		width:55px;
    	z-index: 9;
    	height: calc(100% - 60px);
		transition: .33s;
		overflow: hidden;		
		position: relative;
		&.activeMenu{
			width: 245px;
			transition: 0.33s;	
			z-index: 2;
			.perfect-scroll{
				&.if-upgrade-plan{
					height: calc(100% - 76px);
				}
				.list-group{
					padding: 10px 20px;
					.sources-block-nav-items{
						padding: 10px 0 10px 0;
    					// border-bottom: 2px solid #E4E5E7;
						margin-bottom: 10px;
						.link-side-menu{
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 0 15px;
							height: 32px;
							background: #EFF0F1;
							border-radius: 4px;
							margin-bottom: 5px;
							.source_title{
								letter-spacing: 1px;
								text-transform: uppercase;
								color: #202124;
								font-weight: 900;
								font-size: 10px;
								line-height: 12px;
							}
							.add-sources{
								width: 24px;
								height: 24px;
								text-align: center;
								line-height: 21px;								
								border-radius: 4px;
								cursor: pointer;
								outline: 0 !important;
								border: 1px solid transparent;
								&:hover{
									border: 1px solid #85B7FE;
									border-radius: 4px;	
								}
								&.active{
									background: #FFFFFF;
									border: 1px solid #85B7FE;
								}
							}
						}
					}
					.default-index-title{							
						.kr-sg-dropdowns {
							.dropdown-open {
								.dropdown-input{
									background: #E4E5E7;
									border-radius: 4px;
									padding: 9px 30px 9px 15px;
									min-height: 42px;
									margin: 10px 0 20px 0;
									display: flex;
									align-items: center;
									justify-content: space-between;
									border: 0;
								}
							}
							.queryPipelineDefault{   	
								&.content-menu{
									max-height: 350px;
									width: 100%;
									overflow: auto;
									padding: 0;
									background: #FFFFFF;
									box-shadow: 0px 10px 30px rgba(32, 33, 36, 0.3);
									border-radius: 4px;
									margin: 0;
									border: 0;
									perfect-scrollbar{
										max-height: 350px;
										.ps-content{
											max-height: 350px;
										}
									}
									.list-name{					
										padding: 10px 30px 10px 33px !important;
										position: relative;
										color: #202124;
										font-weight: normal;
										font-size: 14px;
										line-height: 16px;
										border-radius: 2px;
										transition: 0.2s all ease;
										height: 36px;
										display: flex;
										align-items: center;            
										&.nostars{
											.config_name{
												width: 70px;
											}
											&:hover{
												background: #EFF0F1;
												img{
													&.star{
														display: none;
													}  
													&.star-black{
														display: block;
													}                      
												}
												.action-icons-data{
													display: flex;
												} 
											}
										}
										&:hover{
											background: #EFF0F1;                              
										}
										img{
											cursor: pointer;
											&.star{
												position: absolute;
												left: 12px;
												top: 10px;
											}   
											&.star-black{
												position: absolute;
												left: 12px;
												top: 10px;
												display: none;
											}             
										}
										.action-icons-data{
											position: absolute;
											right: 0;
											display: none;
											align-items: center;
											.edit-black{
												width: 36px;
												text-align: center;
												cursor: pointer;
											}
											.clone{
												width: 36px;
												text-align: center;
												cursor: pointer;
											}
											.delete{
												width: 36px;
												text-align: center;
												cursor: pointer;
											}
										}
									}
									.create-new{
										background: #FFFFFF;
										border-radius: 2px;
										margin-top: 2px;
										padding: 9px 10px;
										color: #0D6EFD;
										cursor: pointer;
										border-top: 1px solid #EFF0F1;
										padding-left: 12px;
										font-weight: normal;
										font-size: 14px;
										line-height: 17px;
									}
									.edit-name{
										width: 100%;
									}
								}    				
							}
						}									
					}
					.search-config-elipse-block{
						display: flex;
						align-items: center;
						justify-content: space-between;
						border-radius: 4px;
						margin: 0;
						padding: 0 15px;
						height: 32px;
						min-height: auto;	
						background: transparent;	
						.title{
							color: #202124;
							font-weight: 500;
							font-size: 14px;
							line-height: 17px;
							padding-right: 10px;
						}					
					}
					.index-config-nav-block{
						margin: 0 0 8px 0;
						.index-title{
							font-weight: 900;
							font-size: 10px;
							line-height: 12px;
							letter-spacing: 1px;
							text-transform: uppercase;
							color: #202124;
							margin: 0;
							padding: 10px 15px;
						}						
					}
					.search-config-nav-block{
						.search-config-title{
							font-weight: 900;
							font-size: 10px;
							line-height: 12px;
							letter-spacing: 1px;
							text-transform: uppercase;
							color: #202124;
							margin: 7px 0 0 0;
							padding: 10px 15px;
						}

					}

					.search-experience-nav-block{
						.search-experience-title{
							font-weight: 900;
							font-size: 10px;
							line-height: 12px;
							letter-spacing: 1px;
							text-transform: uppercase;
							color: #202124;
							margin: 7px 0 0 0;
							padding: 10px 15px;
						}

					}
				}
				.kr_sg_dropdowns{
					&.kr-sg-dropdowns{	
						width: auto;																	
						&.show {
							.dropdown-open{
								.dropdown-input{
									background: #F8F9FA;
								}
							}
						}
						.dropdown-open {
							.dropdown-input{
								padding: 0;
								width: 24px;
								height: 24px;
								border: 0;							
								border-radius: 2px;
								text-align: center;
								line-height: 0;
								background: transparent;
								&.before-none{
									&::before{
										display: none !important;
									}
								}
								&:hover{
									background: #F8F9FA;
								}
							}
						}
					}
				}				
			}			
	   }		
		.mat-button{
			text-align: left;
			color: #202124;
			padding: 0 15px;
			border-radius: 4px;		
			font-family: Inter !important;
			margin-bottom: 5px;
			display: flex;
			align-items: center;
			height: 32px;
			position: relative;
			border: 1px solid transparent;
			.defaultIcon{
				display: inline-block;
			}
			.activeIcon{
				display: none;
			}
			&.settings-menu{
				position: absolute;
				bottom: 0px;
				width: 100%;
				left: 0;
				padding: 0 25px;
				background: #E4E5E7;
				margin-bottom: 0;
				border-radius: 0;
				padding-top: 2px;
			}
			.inlineIconBox{
				display: inline-block;
				width: 25px;
				outline: none;   
				img{
					position: relative;
					// top: -1px;
				}            
			}
			.linkTitle{
				font-size: 14px;
				line-height: 17px;
				font-weight: normal;
				color: #202124;
				outline: 0 !important;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}			
			&.active{				
				background: #FFFFFF;
				border: 1px solid #85B7FE;
				box-sizing: border-box;
				border-radius: 4px;
				&::before{
					content: "";					
					position: absolute;
					height: calc(100% + 2px);
					left: -1px;
					top: -1px;
					border-radius:4px 0px 0px 4px;
					border:2px solid #07377F;
					background:#07377F;
				}
				.defaultIcon{
					display: none;
				}
				.activeIcon{
					display: inline-block;
				}	
				.linkTitle{
					color: #07377F;
				}		
			}			
			&:hover{
				color: #202124;
				border: 1px solid #85B7FE;
				border-radius: 4px;	
				// .defaultIcon{
				// 	display: none;
				// }
				// .activeIcon{
				// 	display: inline-block;
				// }		
			}			
		}				
		.inside-config-tab-left-menus{
			padding: 20px !important;
			.inside-menu-title{
				line-height: 14px;
				padding: 9px 15px;
				margin-bottom: 0px;
				border-radius: 4px;
				font-weight: 900;
				font-size: 10px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #202124;
			}

		}
	}
}
.add-experment-popup{
    .modal-dialog{
		max-width: 46% !important;
		width: 46% !important;
		height: 78% !important;
        .modal-content{
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
            border-radius: 8px !important;
            .modal-header{
                .title{
                    color: #202124;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .modal-body{
                .group-radiobutton{
					&.in-clone{
						.kr-sg-radiobutton{
							padding: 14px 0;
							border-bottom: 1px solid #E4E5E7;
						}
					}
				}
				.kr-sg-dropdowns{
					.label-text{
						font-size: 14px !important;
						font-weight: 500 !important;
						line-height: 14px;
						margin-bottom: 5px;
					}
					.dropdown-open {
						.dropdown-input{
							&.before-none{
								&::before{
									display: none !important;
								}
							}
						}
					}
					.kr-sg-input-inline-search{
						.search-with-dropdown{
							position: absolute;
							border: 0;
						}
						input{
							height: 34px;
							padding-right: 10px;
							padding-left: 30px;                        
						}
						.search-icon{
							top: 10px;
							width: auto;
							height: auto;
							left: 10px;
							right: auto;
						}
					}                            
					ul{             
						li{
							position: relative;                                                                                                      
						}
					}
				}
            }
        }
    }
}

.statusDockerContent{
	position: absolute;
    left: 152px;
    bottom: 37px;
    z-index: 9999 !important;
    overflow: hidden;
    background: #FFFFFF;
    border: 2px solid #E7F1FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    width: 320px;
	.statusDockerLoadingSpinner{
		background: transparent;
		width: 223px;
		height: 40px;
		padding-top: 10px;
		border-radius: 4px;
		opacity: 0.95;
		padding-left: 7% !important;
	}
}


.upgrade_your_plan_price{
	position: absolute;
    bottom: 24px;
    width: 185px;
    margin: 0 auto;
    left: 0;
    right: 0;
	.status-type{
		width: 12px;
		height: 12px;		
		position: absolute;
		border-radius: 100%;
		right: -5px;
		//background: #FFDA2D;
		top: -5px;
		&.red{
			background: #DD3646;
			border: 2px solid #EFF0F1;
		}
	}
	&:hover{
		.hover-documnet-show-data{
			visibility: visible;
			opacity: 1;
		}
		.status-type{
			visibility: hidden;
		}
	}
	.upgrade-plan-btn{
		background: linear-gradient(180deg, rgba(221, 54, 70, 0.3) 0%, rgba(255, 255, 255, 0) 100%), rgba(112, 39, 229, 0.8);
		box-shadow: 0px 0px 5px rgb(13 110 253 / 20%);
		border-radius: 4px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #F8F9FA;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 5px;
		cursor: pointer;
		img{
			margin-left: 5px;
		}
	}
	.hover-documnet-show-data{
		visibility: hidden;
		transition: opacity .6s;
		opacity: 0;
		position: fixed;
		background: #FFFFFF;
		box-shadow: 0px 4px 12px 2px rgba(32, 33, 36, 0.12);
		border-radius: 4px;
		width: 283px;
		height: 215px;
		z-index: 999;
		bottom: 15px;
		left: 225px;
		padding: 18px 15px;
		&::before{
			content: "";
			width: 14px;
			height: 14px;
			background: #FFFFFF;
			transform: rotate(-45deg);
			position: absolute;
			left: -7px;
			bottom: 25px;
		}
		.card1{
			background: #F3F8FF !important;
		}
		.card2{
			background: #EAF6EC !important;
		}
		.card-data-{
			display: flex;
			padding: 12px 10px 12px 6px;
			border-radius: 2px;
			margin-bottom: 10px;
			position: relative;		
			&:last-child{
				margin: 0;
			}
			.img-block{
				img{

				}
			}
			.content-sec{
				padding-left: 10px;
				width: 100%;
				.title{
					font-weight: 500;
					font-size: 12px;
					line-height: 20px;
					color: #5F6368;
				}
				.desc-text{
					font-weight: normal;
					font-size: 10px;
					line-height: 12px;
					color: #5F6368;
				}
				.count-data{
					display: flex;
					align-items: center;
					justify-content: flex-end;
					margin: 8px 0 0 0;
					.linit-k{
						font-weight: 500;
						font-size: 12px;
						line-height: 20px;
						color: #9AA0A6;
						margin-right: 20px;
						span{
							color: #5F6368;
						}
					}
					.percentage{
						color: #5F6368;
						font-weight: 500;
						font-size: 12px;
						line-height: 20px;
					}
				}
			}
			.progress{
				height: 2px !important;
				position: absolute;
				left: 0;
				width: 100%;
				bottom: 0;
				background-color: transparent;
				border-radius: 0;
				// .progress-bar{
				// 	background: #0D6EFD !important;
				// }
			}
			.query-limited-reached{
				.progress{
					height: 2px !important;
					position: absolute;
					left: 0;
					width: 100%;
					bottom: 0;
					background-color: transparent;
					border-radius: 0;
					// .progress-bar{
					// 	background: #B893F2 !important;
					// }
				}
			}
			// .limit-exceed{
			// 	.progress{
			// 		height: 2px !important;
			// 		position: absolute;
			// 		left: 0;
			// 		width: 100%;
			// 		bottom: 0;
			// 		background-color: transparent;
			// 		border-radius: 0;	
			// 		.progress-bar{
			// 			background: #DD3646 !important;
			// 		}		
			// 	}
			// }
		}
	}
}

.kr-sg-dropdowns{
	.dropdown{
		button.dropdown-input.err-block{
			// background-color: rgb(255, 255, 255);
			border-color: rgb(221, 54, 70);
		}
	}
}

.kr-sg-input-text{
	input.input-text.err-block{
		background-color: rgb(255, 255, 255);
		border-color: rgb(221, 54, 70);
	}
}

.kr-sg-dropdowns .dropdown-open .dropdown-input.err-block::before{
	right: 20px;
}