<!-- Sidebar -->
<div class="sidebar-fixed position-fixed activeMenu" *ngIf="show">
	<perfect-scrollbar class="perfect-scroll">
		<div class="list-group list-group-flush" *ngIf="!settingMainMenu">
			<!-- <div [routerLink]="['/summary']" (click)="preview('Summary')" skipLocationChange routerLinkActive="active" mat-button class="mat-button">
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/summery.svg" class="dashboard">			
			</span>
			<span class="linkTitle">Summary</span>
		</div> -->
			<!-- <div class="kr-sg-dropdowns" #selectResourceDrop='ngbDropdown' ngbDropdown [placement]="'bottom-right'">
				<div class="dropdown dropdown-open">
					<button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Default</button>
					<ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
						<li><span class="list-name">Default</span></li>
						<li class="create"><span class="list-name ">Create new</span><span class="plus">+</span></li>

					</ul>
				</div>
			</div> -->
			<div class="sub-title">Sources <img src="assets/icons/sidemenu/plus.svg" [routerLink]="['/source']"
					skipLocationChange routerLinkActive="active" (click)="preview('Source')"></div>
			<div [routerLink]="['/faqs']" mat-button class="mat-button" skipLocationChange routerLinkActive="active"
				(click)="preview('Faqs')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/faq.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/faq.svg" class="activeIcon">
				</span>
				<span class="linkTitle">FAQs</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/content']" skipLocationChange routerLinkActive="active"
				(click)="preview('Content')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/page.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/page.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Content</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/botActions']" skipLocationChange
				routerLinkActive="active" (click)="preview('Bot Actions')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/actions.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/actions.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Actions</span>
			</div>

			<!-- <button mat-button>
			<span class="inlineIconBox leftAdjust">
				<img src="assets/images/left-menu-icons/newIcons/Summery.svg">				
			</span>
			<span class="linkTitle">Preview</span>
		</button> -->

			<div class="sub-title marginTop15">Index Configuration</div>
			<div mat-button class="mat-button" [routerLink]="['/traits']" skipLocationChange routerLinkActive="active"
				(click)="preview('traits')" mat-button>
				<span class="inlineIconBox leftAdjust">
					<img src="assets/icons/sidemenu/new-icons/traits.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/traits.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Traits</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/index']" skipLocationChange routerLinkActive="active"
				(click)="preview('index')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/index.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/index.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Workbench</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/FieldManagementComponent']" skipLocationChange routerLinkActive="active"
				(click)="preview('index')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/index.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/index.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Fields</span>
			</div>
			<div class="sub-title marginTop15">Search Configuration</div>
			<div class="kr-sg-dropdowns queryPipelineConfig" #selectConfigDrop='ngbDropdown' ngbDropdown [placement]="'bottom-right'">
				<div class="dropdown dropdown-open">
					<button class="dropdown-toggle dropdown-input" ngbDropdownToggle>{{configObj[selectedConfig]?configObj[selectedConfig].name:'Loading..'}} <img src="assets/icons/caretDown.svg"></button>
					<ul class="dropdown-menu content-menu" ngbDropdownMenu>
						<li class="list-name text-truncate" [ngClass]="{'nostars': !config.default}" (click)="selectQueryPipelineId(config,selectConfigDrop)" *ngFor="let config of queryConfigs">
							<img src="assets/icons/star.svg" *ngIf="config.default" class="star" ngbTooltip='Default' placement="top-center" [container]="'body'">
							<img src="assets/icons/start-black.svg" (click)="$event.stopPropagation();markAsDefault(config)" *ngIf="!config.default && !editName" class="star-black" ngbTooltip='Make as Default' placement="top-left" [container]="'body'">
							<span *ngIf="selectedConfig == config._id && editName; else name">
								<input type ="text" class="edit-name" name="editName" [(ngModel)]="editNameVal" id="editNameID" (click)="$event.stopPropagation()" (keypress)="onKeypressEvent($event,config)">
							</span>
							<ng-template #name>
								<span >{{config.name}}</span>
							</ng-template>
							<!-- <img src="assets/icons/filter_cup.svg" class="filter"> -->
							<img src="assets/icons/edit-pencil.svg" *ngIf="!editName" (click)="$event.stopPropagation();editConfig(config,'edit')" class="edit-black">
						</li>
						<div class="create-new" (click)="openModalPopup();selectConfigDrop.close();">+ Create New</div>
					</ul>
				</div>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/weights']" skipLocationChange routerLinkActive="active"
				(click)="preview('weights')" mat-button>
				<span class="inlineIconBox leftAdjust">
					<img src="assets/icons/sidemenu/new-icons/weights.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/weights.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Weights</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/synonyms']" skipLocationChange routerLinkActive="active"
				(click)="preview('synonyms')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/synonyms.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/synonyms.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Synonyms</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/stopWords']" skipLocationChange
				routerLinkActive="active" (click)="preview('stopWords')" mat-button>
				<span class="inlineIconBox leftAdjust">
					<img src="assets/icons/sidemenu/new-icons/stop-words.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/stop-words.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Stop Words</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/resultranking']" skipLocationChange
				routerLinkActive="active" (click)="preview('resultranking')" mat-button>
				<span class="inlineIconBox leftAdjust">
					<img src="assets/icons/sidemenu/new-icons/results.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/results.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Results Ranking</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/facets']" skipLocationChange routerLinkActive="active"
				(click)="preview('synonyms')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/facets.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/facets.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Facets</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/rules']" skipLocationChange routerLinkActive="active"
				(click)="preview('synonyms')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/rules.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/rules.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Rules</span>
			</div>


			<!-- <div mat-button class="mat-button" [routerLink]="['/query']" skipLocationChange routerLinkActive="active" (click)="preview('query')" mat-button>			
				<span class="inlineIconBox">	
					<img src="assets/icons/sidemenu/new-icons/query.svg" class="defaultIcon">	
					<img src="assets/icons/sidemenu/new-icons/query-active.svg" class="activeIcon">			
				</span>
				<span class="linkTitle">Query Pipeline</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/ml-threshold']" skipLocationChange routerLinkActive="active" (click)="preview('ml')" mat-button>
				<span class="inlineIconBox leftAdjust">	
					<img src="assets/icons/sidemenu/new-icons/ml.svg" class="defaultIcon">	
					<img src="assets/icons/sidemenu/new-icons/ml-active.svg" class="activeIcon">			
				</span>
				<span class="linkTitle">NLP & Machine Learning</span>
			</div>
			
			<div mat-button class="mat-button">
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/demo.svg" class="defaultIcon">	
					<img src="assets/icons/sidemenu/new-icons/demo-active.svg" class="activeIcon">				
				</span>
				<span class="linkTitle">Demo</span>
			</div>
			<div mat-button class="mat-button">
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/general-settings.svg" class="defaultIcon">	
					<img src="assets/icons/sidemenu/new-icons/general-settings-active.svg" class="activeIcon">				
				</span>
				<span class="linkTitle">General Settings</span>
			</div> -->

			<!-- <div mat-button class="mat-button settings-menu">
			<span class="inlineIconBox">
				<img src="assets/icons/sidemenu/settings.svg" class="publish">				
			</span>
			<span class="linkTitle">Settings</span>
		</div> -->
		</div>
		<div class="list-group list-group-flush" *ngIf="settingMainMenu">
			<div class="sub-title marginTop15">SETTINGS</div>
			<div mat-button class="mat-button" [routerLink]="['/settings']" skipLocationChange routerLinkActive="active"
				(click)="preview('traits')" mat-button>
				<span class="inlineIconBox leftAdjust">
					<img src="assets/icons/sidemenu/new-icons/channels.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/channels.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Channels</span>
			</div>
			<div mat-button class="mat-button" [routerLink]="['/credentials-list']" skipLocationChange routerLinkActive="active"
				(click)="preview('index')" mat-button>
				<span class="inlineIconBox">
					<img src="assets/icons/sidemenu/new-icons/credentials.svg" class="defaultIcon">
					<img src="assets/icons/sidemenu/new-icons/credentials.svg" class="activeIcon">
				</span>
				<span class="linkTitle">Credentials</span>
			</div>
		</div>

		<div class="status-docker">
			<button class="kr-sg-button-secondary w-100" (click)="(showStatusDocker = !showStatusDocker); openStatusDocker()">
				<img src="assets/images/status-docker/Ellipse 54.png" alt="status-docker">
				<img src="assets/images/status-docker/Circle.png" alt="status-docker"> {{ 'status_docker' | translate}}
			</button>
		</div>
		<!-- <div class="sidebar-fixed position-fixed activeMenu">

		<div mat-button class="mat-button" [routerLink]="['/settings']"  skipLocationChange routerLinkActive="active" (click)="preview('weights')" mat-button>
			<span class="inlineIconBox leftAdjust">
				<img src="assets/icons/sidemenu/new-icons/weights.svg" class="defaultIcon">	
				<img src="assets/icons/sidemenu/new-icons/weights.svg" class="activeIcon">				
			</span>
			<span class="linkTitle">Channels</span>
		</div>
	 </div> 
	 -->


	</perfect-scrollbar>

</div>

<!-- Sidebar -->

<kr-modal modalType="center" modalClass="modal_popups_ add-experment-popup smallModal"  #addFieldModalPop>   
    <div class="modal-header">
        <div class="title">New Search Configuration</div>
        <div class="close_icon" (click)="closeModalPopup()"><img src="assets/icons/modal-close.svg"></div>
    </div>
    <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body textAlignLeft">
		<div class="group-radiobutton">
			<div class="kr-sg-radiobutton">
				<input id="createQueryConfig" [(ngModel)]="newConfigObj.method" name="creationType" value='default' class="radio-custom" type="radio">
				<label for="createQueryConfig" class="radio-custom-label">Create New</label>
			</div>
			<div class="kr-sg-radiobutton">
				<input id="cloneQueryConfig" [(ngModel)]="newConfigObj.method" (change)='selectDefault()' name="creationType" value='clone' class="radio-custom" type="radio">
				<label for="cloneQueryConfig" class="radio-custom-label">Clone Configuration</label>
			</div>
			<div class="kr-sg-input-text pt-4">
				<div class="label-text" >Name of Configuration</div>
				<input type="text" placeholder="Placeholder text" [(ngModel)]="newConfigObj.name" class="input-text">
			</div>
		</div>
		<ng-container *ngIf="newConfigObj.method === 'clone'">
			<div class="kr-sg-dropdowns mb-2 pb-1 pt-4">
				<div class="label-text">Select the configuration you would like to clone</div>                            
				<div class="kr-sg-input-inline-search dropdown dropdown-open">
					<button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown"></button>    
					<input type="text" placeholder="Search" class="input-search dropdown-toggle dropdown-input" [(ngModel)]="searchPipeline" data-toggle="dropdown">
					<img src="assets/icons/search_gray.svg" class="search-icon">                                                           
					<!-- <ul class="dropdown-menu content-menu">
						<perfect-scrollbar class="state-code-perfect-scroll" [disabled]="workflowService.disablePerfectScroll">
							<li><a>Option1</a></li>
							<li><a>Option1</a></li>
							<li><a>Option1</a></li>
							<li><a>Option1</a></li>
						</perfect-scrollbar>
					</ul> -->
				</div>                        
			</div>
	
			<div class="group-radiobutton in-clone">			
				<div class="kr-sg-radiobutton d-block m-0" *ngFor="let config of queryConfigs | filter: [ searchPipeline, 'name']; let i = index">
					<input id="{{config._id}}" [(ngModel)]="newConfigObj._id" value="{{config._id}}" name="cloneConfig" class="radio-custom" type="radio">
					<label for="{{config._id}}" class="radio-custom-label">{{config.name}}</label>
				</div> 
				<div class="divBlockEmptylastChild">{{!(queryConfigs && queryConfigs.length)?'No Data Found': 'No search results'}}</div>
			</div>
		</ng-container> 	
    </div>
    </perfect-scrollbar> 
    <div class="modal-footer text-left">
        <button type="button" [disabled]="!newConfigObj.name" class="kr-sg-button-primary btn_lg float-right" (click)="createConfig()">Add</button>                   
        <button type="button" class="kr-sg-button-secondary btn_lg float-right" (click)="closeModalPopup()">Cancel</button>
    </div>    
</kr-modal>

<div class="statusDockerContent p-3" *ngIf="showStatusDocker">
	<app-status-docker [statusDockerLoading]="statusDockerLoading"></app-status-docker>
</div>