/* 
    Created on : 23 Aug, 2018, 3:52:47 PM
    Author     : Ravi Kiran Maddi
*/

@import './../../../app/scss/variables/variables.scss';
app-mainmenu{
	.sidebar-fixed{
		top:60px;
		background:#EFF0F1;
		width:55px;
    	z-index: 9;
    	height: calc(100% - 60px);
		transition: .33s;
		overflow: hidden;		
		&.activeMenu{
			width: 245px;
			transition: 0.33s;	
			padding: 15px;	
			z-index: 2;
			.sub-title{
				padding: 0 13px;
				color: #5F6368;
				font-weight: 600;
				font-size: 10px;
				margin: 10px 0 7px 0;
				text-transform: uppercase;
				img{
					float: right;
					cursor: pointer;
					position: relative;
					// top: 5px;
					outline: 0;					
					border-radius: 100px;
					padding: 3px;
					&.active{
						background: #fff;
					}
					&:hover{
						background: #fff;
					}
				}
			}
	   }		
		.mat-button{
			text-align: left;
			color: #3C4043;
			padding: 1px 13px;
			border-radius: 4px;		
			font-family: Inter !important;
			margin-bottom: 5px;
			&.settings-menu{
				position: absolute;
				bottom: 0px;
				width: 100%;
				left: 0;
				padding: 0 25px;
				background: #E4E5E7;
			}
			.inlineIconBox{
				display: inline-block;
				width: 30px;
				outline: none;   
				img{
					position: relative;
					top: -2px;
				}            
			}
			.linkTitle{
				font-size: 14px;
				font-weight: normal;
				color: #3C4043;
				outline: 0 !important;
			}			
			&.active{				
				background-color: $whiteColor;				
			}			
			&:hover{
				color: #3C4043;
				background-color: $whiteColor;			
			}			
		}
		.sub-menu {
			padding-left: 10px;
		}
	}
}