<div class="onboarding-slider-container">
  <div class="close-slider" (click)="closeSupport()">
    <i class="si-close"></i>
  </div>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a
        id="Support"
        class="nav-link active"
        (click)="supportParentData = true; closeFaqSearch(); closeSearch()"
        data-toggle="pill"
        href="#support"
      >
        <i class="si-home"></i>
        <span>{{ 'onboarding_support' | translate }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link topic-guide-tab"
        id="topicguide"
        data-toggle="pill"
        (click)="triggerFaq(); closeSearch(); closeFaqSearch()"
        href="#faq"
      >
        <i class="si-topic-guide-1"></i>
        <span>{{ 'sa_topic_guide' | translate }}</span>
      </a>
    </li>
    <li
      class="nav-item"
      [ngClass]="{
        'd-none':
          router.url == '/apps' || router.url == '/' || router.url == '/**'
      }"
    >
      <a
        class="nav-link"
        data-toggle="pill"
        (click)="closeFaqSearch(); closeSearch(); checkForStatus()"
        href="#appchecklist"
      >
        <i class="si-list"></i>
        <span> {{ 'onboarding_app_checklist' | translate }}</span>
      </a>
    </li>
    <div class="version">V{{ appVersion }}</div>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="support" class="tab-pane active">
      <div class="bread-cum-search">
        <div class="bread-cum-list">
          <div
            class="first-title"
            [ngClass]="{ 'cursor-pointer': !supportParentData }"
            (click)="supportParentData = true; closeSearch()"
          >
            {{ 'onboarding_support' | translate }}
          </div>
          <i class="si-carrotup" *ngIf="!supportParentData"></i>
          <div class="secondary-title" *ngIf="!supportParentData">
            {{ breadcrumbName }}
          </div>
        </div>
        <div class="kr-sg-input-text" *ngIf="searchOpen">
          <input
            type="text"
            placeholder="{{ 'sa_search' | translate }}"
            class="input-text"
            [(ngModel)]="support_Search"
          />
          <i class="si-close" (click)="closeSearch()"></i>
        </div>
        <div class="search-icon" *ngIf="!searchOpen" (click)="openSearch()">
          <i class="si-search"></i>
        </div>
      </div>
      <perfect-scrollbar class="scroll-content-data">
        <div class="data-inner-content">
          <!-- Support tab parent  Data -->
          <div class="default-state-data" *ngIf="supportParentData">
            <div
              (click)="triggerChild(data); closeSearch()"
              class="action-block-data"
              *ngFor="
                let data of supportData | filter : [support_Search, 'title']
              "
              [ngClass]="data.class"
            >
              <div class="dummy-border-left"></div>
              <div class="img-block">
                <img src="{{ data.icon }}" />
              </div>
              <div class="content-block">
                <div class="title">{{ data.title }}</div>
                <div class="desc-text">{{ data.desc }}</div>
              </div>
              <div class="arrow-icon">
                <i class="si-carrotup" (click)="goToLink(data.link)"></i>
              </div>
            </div>
          </div>

          <!-- Support tab child Data -->
          <div class="dynamic-state-data" *ngIf="!supportParentData">
            <div
              class="action-block-data"
              *ngFor="
                let child of supportChildData
                  | filter : [support_Search, 'title']
              "
              [ngClass]="child.color"
            >
              <div class="dummy-border-left"></div>
              <div class="img-block">
                <img src="{{ child.icon }}" />
              </div>
              <div class="video-block-data">
                <video class="video" height="216" controls>
                  <source
                    src="https://www.w3schools.com/tags/movie.mp4"
                    type="video/mp4"
                  />
                  {{ 'onboarding_browser_video_tag' | translate }}
                </video>
              </div>
              <div class="content-block">
                <div class="title">{{ child.title }}</div>
                <div class="title-with-img">
                  <div class="img_block">
                    <img src="{{ child.icon }}" />
                  </div>
                  <div class="title-name">{{ child.title }}</div>
                </div>
                <div class="desc-text">{{ child.desc }}</div>
              </div>
              <div class="ext-icon-link">
                <i class="si-externallink" (click)="goToLink(child.link)"></i>
              </div>
            </div>
          </div>
          <!-- <div class="action-block-data">
                    <div class="dummy-border-left"></div>
                    <div class="img-block">
                      <img src="assets/icons/onboarding/book.svg">
                    </div>
                    <div class="content-block">
                      <div class="title">Manage Index Configurations</div>
                      <div class="desc-text">Configure Index and Organize data to enable quicker search responses to your end users quieries</div>
                    </div>
                    <div class="ext-icon-link">
                      <i class="si-externallink"></i>
                    </div>
                  </div> -->
        </div>
      </perfect-scrollbar>
    </div>
    <div id="faq" class="tab-pane fade">
      <div class="bread-cum-search faq-bread-cum">
        <div class="bread-cum-list">
          <div class="first-title">{{ 'sa_topic_guide' | translate }}</div>
          <i class="si-carrotup" *ngIf="!supportParentfaq"></i>
          <div class="secondary-title" *ngIf="!supportParentfaq">
            {{ breadcrumbNameFaq }}
          </div>
        </div>
        <div class="kr-sg-input-text" *ngIf="searchOpenFaq">
          <input
            type="text"
            placeholder="{{ 'onboarding_look_for_a_question' | translate }}"
            class="input-text"
            [(ngModel)]="faq_Search"
          />
          <i class="si-close" (click)="closeFaqSearch()"></i>
        </div>
        <!-- <div class="search-icon" *ngIf="!searchOpenFaq" (click)="openFaqSearch()">
              <i class="si-search"></i>
            </div> -->
      </div>
      <div class="loader w-100" *ngIf="showLoader">
        <!-- <img src="assets/images/logoIcon.png" class="loaderLogoImage"> -->
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">{{
          'sa_please_wait' | translate
        }}</span>
      </div>
      <div *ngIf="topicGuideObj.enableIframe" class="topicGuideIframeContainer">
        <!-- <iframe width="100%" height="100%" scrolling="yes" frameborder="0"  id="topicGuideIframe" class="iframeContainer" src="https://sunilsi-kore.github.io/koredotai-docs/platform/topic-guide/en/latest/Small%20Talk" [class.d-none]="showLoader" (load)="showHideSpinner()" allowfullscreen></iframe> -->
        <iframe
          width="100%"
          height="100%"
          scrolling="yes"
          frameborder="0"
          id="topicGuideIframe"
          class="iframeContainer"
          [src]="topicGuideUrl"
          [class.d-none]="showLoader"
          (load)="showHideSpinner()"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="modal fade bt-topicGuide_media-modal" id="topicGuideVideoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="krBackDropModal">
            <div class="videoMain">
              <div class="videoContainer">
                <span class="closeVideoModal" (click)="closeMediaModal($event)">
                  <i class="si-close"></i>
                </span>
                <div class="details-section">
                  <div class="loader w-100" *ngIf="showLoader">
                    <img
                      src="assets/images/logoIcon.png"
                      class="loaderLogoImage"
                    />
                  </div>
                  <div class="video">
                    <div class="loader w-100" *ngIf="showLoader1">
                      <!-- <img src="assets/images/logoIcon.png" class="loaderLogoImage"> -->
                      <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                      <span class="please-wait-message">{{
                        'sa_please_wait' | translate
                      }}</span>
                    </div>
                    <iframe
                      id="topicGuideMediaModal"
                      [src]="topicGuideVideoUrl | safe : 'resourceUrl'"
                      class="noBorder"
                      (load)="showHideSpinner()"
                      width="100% "
                      height="100% "
                      allow="autoplay"
                      iframe-onload="onMediaLoadedLoaded(this)"
                      allowfullscreen
                      controls
                    ></iframe>
                    <!-- <iframe id="topicGuideMediaModal" class="noBorder" allowfullscreen controls (load)="showHideSpinner();onMediaLoadedLoaded(this)" [src]="topicGuideVideoUrl" width="100% " height="100% " allow="autoplay" ></iframe> -->
                  </div>
                </div>
                <div class="vidoeDesc">
                  <h4>{{ mediaObj?.title }}</h4>
                  <p>{{ mediaObj?.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="appchecklist" class="tab-pane fade">
      <div class="applist-header">
        <div class="count-title">
          <i class="si-check-round"></i>
          <span
            >{{ checklistCount }}
            {{ 'onboarding_out_of_6_steps_completed' | translate }}</span
          >
        </div>
        <div class="toggle-check">
          <div class="status-bar-title">
            {{ 'onboarding_status_bar' | translate }}
          </div>
          <label class="kr-sg-toggle">
            <input
              type="checkbox"
              [(ngModel)]="statusSlider"
              (change)="toggleSlider()"
            />
            <div class="slider">
              <span class="enabled">{{ 'onboarding_show' | translate }}</span
              ><span class="disabled">{{ 'onboarding_show' | translate }}</span>
            </div>
          </label>
        </div>
      </div>
      <perfect-scrollbar class="scroll-content-data">
        <div class="data-inner-content">
          <div id="accordion" class="applist-acc-data">
            <div
              class="accordion-applist completed-state"
              [ngClass]="{ 'completed-tour-state': tourData && list.tourdata }"
              *ngFor="let list of checkList; let i = index"
            >
              <div class="card_header parent-data{{ i }}">
                <!--(mouseenter)="openAccordiandata(i)" (mouseleave)="playPause(i)" -->
                <a
                  class="card_link collapsed  data{{ i }}"
                  data-toggle="collapse"
                >
                  <!-- href="#collapse_{{i}} -->
                  <div
                    class="indication-block"
                    *ngIf="tourData && !list.tourdata"
                  >
                    <div class="dummy-border-left"></div>
                    <img src="{{ list.imgURL }}" />
                  </div>
                  <div
                    class="indication-block completed"
                    *ngIf="tourData && list.tourdata"
                  >
                    <!-- <div class="indication-block completed"> -->
                    <i class="si-check"></i>
                  </div>
                  <div class="title-heading">
                    <span class="steps-number">{{ list.step }}</span
                    >{{ list.title }}
                  </div>
                  <div class="desc-text">{{ list.desc }}</div>
                  <div class="actions-link">
                    <a class="link-name" (click)="gotoRoutes(list.route)"
                      >{{ 'onboarding_guide_me' | translate
                      }}<i class="si-externallink"></i
                    ></a>
                    <a class="link-name" (click)="goToLink(list.docUrl)"
                      >{{ 'onboarding_documentation' | translate
                      }}<i class="si-externallink"></i
                    ></a>
                  </div>
                  <!-- <div class="arrow-icon">
                      <i class="si-carrotup"></i>
                    </div> -->
                </a>
              </div>
              <!-- <div id="collapse_{{i}}" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div class="video-block">
                      <video class="video{{i}}" width="300" height="156" controls>
                         <source src={{list.videoUrl}} type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                    </div>
                  </div>
                </div> -->
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>
