
    <!-- <div class="scheduler-box" style="display: none;">
        <span class="scheduler-txt">Date</span>
          <input matInput [matDatepicker]="dp3" [min]="minDate" class="input-text date-pick" placeholder="Select Date" [(ngModel)] = "startDate" (dateInput)="addEvent('input', $event , 'regular')" (dateChange)="addEvent('change', $event ,'reguar')" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>

        <span class="scheduler-txt time">Time </span>
        <input id="scheduleHr" type="number" min="0" max="12" class="input-text timeHH" placeholder="HH" name = "timeHH" [(ngModel)] = "timeHH" (ngModelChange)="modelChangeFn($event,'HH')">  
        <input id="scheduleMn" type="number" min="0" max="59" class="input-text timeMM" placeholder="MM" name = "timeMM" [(ngModel)] = "timeMM" (ngModelChange)="modelChangeFn($event,'MM')"> 

        <div id ="schedule-AM" class="schedule-AM " [ngClass] = "{'active' : meridiem == 'AM'}" (click)="changeMeridiem('AM')">AM</div>
        <div id ="schedule-PM"  class="schedule-PM" [ngClass] = "{'active' : meridiem == 'PM'}" (click)="changeMeridiem('PM')">PM</div>

        <div class="kr-sg-dropdowns schedule-timZon">
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span [ngClass] = "{'schedule-drop-text' : stz == 'Time Zone'}">{{stz}}</span></button>                                            
              <ul class="dropdown-menu content-menu">                                               
                <li (click) = "timeZone('IST')"><a>IST</a></li>
                <li (click) = "timeZone('EST')"><a>EST</a></li>
                <li (click) = "timeZone('UTC')"><a>UTC</a></li>
              </ul>
            </div>
        </div>

        <span class="scheduler-Interval-txt">Frequency</span>
        <div class="kr-sg-dropdowns schedule-Interval">
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"> <span>{{rstz}}</span></button>                                            
              <ul class="dropdown-menu content-menu">                                               
                <li (click) = "repeatTimeZone('Does not repeat')"><a>Does not repeat</a></li>
                <li (click) = "repeatTimeZone('Daily')"><a>Daily</a></li>
                <li (click) = "repeatTimeZone('Weekly')"><a>Weekly</a></li>
                <li (click) = "repeatTimeZone('Monthly')"><a>Monthly</a></li>
                <li (click) = "repeatTimeZone('Anually')"><a>Anually</a></li>
                <li (click) = "repeatTimeZone('Every weekday(Monday to Friday)')"><a>Every weekday(Monday to Friday)</a></li>
                <li (click) = "openCustomRecModal('Custom')"><a>Custom</a></li>
              </ul>
            </div>
        </div>
      </div> -->


  <!-- Restrcure data     -->
  <div class="row m-0 schedular_row_data">
    <div class="col-4 row_column pl-2 pr-2">
      <div class="scheduletitle">Date</div>
      <div class="kr-sg-input-text">       
        <input type="text" matInput [matDatepicker]="mdp" [min]="minDate" placeholder="Select Date" class="input-text" [(ngModel)] = "startDate" (dateInput)="addEvent('input', $event , 'regular')" (dateChange)="addEvent('change', $event ,'reguar')" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="mdp" class="custome_date_picker"></mat-datepicker-toggle>
        <mat-datepicker #mdp disabled="false"></mat-datepicker>
      </div>
    </div>
    <div class="col-4 row_column middle_content pl-2 pr-2">      
      <div class="scheduletitle">Time</div>
      <div class="middle_content">
        <div class="kr-sg-input-text">          
          <input id="scheduleHr" type="number" min="0" max="12" placeholder="HH" name = "timeHH" [(ngModel)] = "timeHH" (ngModelChange)="modelChangeFn($event,'HH')" class="input-text">
        </div>
        <div class="kr-sg-input-text">          
          <input id="scheduleMn" type="number" min="0" max="59" class="input-text timeMM" placeholder="MM" name = "timeMM" [(ngModel)] = "timeMM" (ngModelChange)="modelChangeFn($event,'MM')"> 
        </div>
        <div id="schedule-AM" class="schedule-AM" [ngClass] = "{'active' : meridiem == 'AM'}" (click)="changeMeridiem('AM')">AM</div>
        <div id="schedule-PM"  class="schedule-PM" [ngClass] = "{'active' : meridiem == 'PM'}" (click)="changeMeridiem('PM')">PM</div>
        <div class="kr-sg-dropdowns schedule-timZon">
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span [ngClass] = "{'schedule-drop-text' : stz == 'Time Zone'}">{{stz}}</span></button>                                            
              <ul class="dropdown-menu content-menu">                                               
                <li (click) = "timeZone('IST')"><a>IST</a></li>
                <li (click) = "timeZone('EST')"><a>EST</a></li>
                <li (click) = "timeZone('UTC')"><a>UTC</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-4 row_column pl-2 pr-2">  
      <div class="scheduletitle">Frequency</div>   
      <div class="kr-sg-dropdowns schedule-Interval">
        <div class="dropdown dropdown-open">
            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"> <span>{{rstz}}</span></button>                                            
            <ul class="dropdown-menu content-menu">                                               
              <li (click) = "repeatTimeZone('Does not repeat')"><a>Does not repeat</a></li>
              <li (click) = "repeatTimeZone('Daily')"><a>Daily</a></li>
              <li (click) = "repeatTimeZone('Weekly')"><a>Weekly</a></li>
              <li (click) = "repeatTimeZone('Monthly')"><a>Monthly</a></li>
              <li (click) = "repeatTimeZone('Anually')"><a>Anually</a></li>
              <li (click) = "repeatTimeZone('Every weekday(Monday to Friday)')"><a>Every weekday(Monday to Friday)</a></li>
              <li (click) = "openCustomRecModal('Custom')"><a>Custom</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  <!-- End -->


  
<kr-modal modalType="default" #customRecurrence>
    <div class="status-modal-popup custom-ref">
      <div class="modal_content">
        <div class="modal-header">Custom Reccurence <img src="assets/images/close.svg" (click)="closeCustomRecModal()"></div>
        <div class="modal-body" >
          <div class="cust-ref">
            <span>Repeat Every</span>
            <input id="repeatveryId" type="number" min="1" max="30" class="input-text cust-repeat" placeholder="0" [(ngModel)] = "repeatEvery" (ngModelChange)="modelChangeFn($event,'repeatEvery')"> 
            <div class="kr-sg-dropdowns schedule-Interval">
              <div class="dropdown dropdown-open">
                  <button class="dropdown-toggle dropdown-input cust-repeat-type" data-toggle="dropdown"> {{custFreq}}</button>                                            
                  <ul class="dropdown-menu content-menu content-width">                                               
                    <li (click)="custFrequency('Days')"><a>Days</a></li>
                    <li (click)="custFrequency('Weeks')"><a>Weeks</a></li>
                    <li (click)="custFrequency('Months')"><a>Months</a></li>
                    <li (click)="custFrequency('Years')"><a>Years</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="repeat-on">
            <div>
              <span>Repeat On</span>
            </div>
            <div class="" *ngIf = "custFreq == 'Weeks'"> 
              <div class="circle cs" [ngClass] = "{'active' : weeKDay == 'SUN'}" (click)="custweeKday('SUN')">S</div>
              <div class="circle cm" [ngClass] = "{'active' : weeKDay == 'MON'}" (click)="custweeKday('MON')">M</div>
              <div class="circle ct" [ngClass] = "{'active' : weeKDay == 'TUE'}" (click)="custweeKday('TUE')">T</div>
              <div class="circle cw" [ngClass] = "{'active' : weeKDay == 'WED'}" (click)="custweeKday('WED')">W</div>
              <div class="circle cth" [ngClass] = "{'active' : weeKDay == 'THU'}" (click)="custweeKday('THU')">T</div>
              <div class="circle cf" [ngClass] = "{'active' : weeKDay == 'FRI'}" (click)="custweeKday('FRI')">F</div>
              <div class="circle csa" [ngClass] = "{'active' : weeKDay == 'SAT'}" (click)="custweeKday('SAT')">S</div>
            </div>
            <div class="custom-repeat-on" *ngIf = "custFreq != 'Weeks'"> 
                Every {{repeatEvery}} {{custFreq}} from {{month}} {{date}} {{year}}
            </div>
          </div>
          <div class="ends">
            <div>
              <span>Ends</span>
            </div>
            <div class="ends-never row">
              <input type="radio" name="radio" value ="endsNever" class="ends-radio" (click)="endsFreq('never')"> <span class="sp sp-n">Never</span>
            </div>
            <div class="ends-never sp-on row">
              <input type="radio" name="radio" value ="endsOn" class="ends-radio" (click)="endsFreq('on')"> <span class="sp">On</span>
              <div class="">       
                <input matInput [matDatepicker]="dpCust" [min]="minDate"  class="input-text date-pick" placeholder="Select Date" [(ngModel)] = "endDate" (dateInput)="addEvent('input', $event,'custom')" (dateChange)="addEvent('change', $event , 'custom')" autocomplete="off" [disabled] = "!endsOn" >
                <mat-datepicker-toggle matSuffix [for]="dpCust"></mat-datepicker-toggle>
                <mat-datepicker #dpCust [disabled]="!endsOn"></mat-datepicker>
              </div>
            </div>
            <div class="ends-never sp-at row ">
              <input type="radio" name="radio"  value ="endsAt" class="ends-radio" (click)="endsFreq('at')"> <span class="sp">At</span>
              <input id="occurenceId" type="number" min="0" max="30" class="input-text date-pick" placeholder="0" [(ngModel)] = "occurence" [disabled] = "!endsAt"> <span class="occur-span">Occurences</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">            
            <button type="button" class="kr-sg-button-secondary btn_md" data-dismiss="modal" (click)="cancelCustomRecModal()">Cancel</button>
            <button type="button" class="kr-sg-button-primary btn_md" data-dismiss="modal" (click)="proccedWithCrwal()">Ok</button>
        </div>
      </div>    
    </div> 
    
  </kr-modal>