
    <div class="scheduler-box">
        <span class="scheduler-txt">Date</span>
        <!-- <input id="scheduleDateId" type="text" class="input-text date-pick" placeholder="Select Date"> -->
          <input matInput [matDatepicker]="dp3"  class="input-text date-pick" placeholder="Select Date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>

        <span class="scheduler-txt time">Time : </span>
        <input id="scheduleHr" type="number" min="0" max="23" class="input-text timeHH" placeholder="HH">  <!-- <span class="scheduler-colon">:</span> -->
        <input id="scheduleMn" type="number" min="0" max="59" class="input-text timeMM" placeholder="MM">

        <div id ="schedule-AM" class="schedule-AM active">AM</div>
        <div id ="schedule-PM"  class="schedule-PM">PM</div>

        <!-- dropdown -->
        <div class="kr-sg-dropdowns schedule-timZon">
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span class="schedule-drop-text">Time Zone</span></button>                                            
              <ul class="dropdown-menu content-menu">                                               
                <li><a>IST</a></li>
                <li><a>EST</a></li>
                <li><a>NST</a></li>
              </ul>
            </div>
        </div>

        <span class="scheduler-Interval-txt">Interval</span>
        <div class="kr-sg-dropdowns schedule-Interval">
          <div class="dropdown dropdown-open">
              <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"> <span class="schedule-drop-text">Does not repeat</span></button>                                            
              <ul class="dropdown-menu content-menu">                                               
                <li><a>Does not repeat</a></li>
                <li><a>Daily</a></li>
                <li><a>Weekly</a></li>
                <li><a>Monthly</a></li>
                <li><a>Anually</a></li>
                <li><a>Every weekday(Monday to Friday)</a></li>
                <li (click) = "openCustomRecModal()"><a>Custom</a></li>
              </ul>
            </div>
        </div>
        <!--  dropdown -->
  <div>


  
<kr-modal modalType="default" #customRecurrence>
    <div class="status-modal-popup custom-ref">
      <div class="modal_content">
        <div class="modal-header">Custom Reccurence <img src="assets/images/close.svg" (click)="closeCustomRecModal()"></div>
        <div class="modal-body" >
          <div class="cust-ref">
            <span>Repeat Every</span>
            <input id="repeatveryId" type="number" min="0" max="30" class="input-text cust-repeat" placeholder="0"> 
            <div class="kr-sg-dropdowns schedule-Interval">
              <div class="dropdown dropdown-open">
                  <button class="dropdown-toggle dropdown-input cust-repeat-type" data-toggle="dropdown"> Days</button>                                            
                  <ul class="dropdown-menu content-menu content-width">                                               
                    <li><a>Days</a></li>
                    <li><a>Weeks</a></li>
                    <li><a>Months</a></li>
                    <li><a>Years</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="repeat-on">
            <div>
              <span>Repeat On</span>
            </div>
            <div class="">
              <div class="circle cs active">S</div>
              <div class="circle cm">M</div>
              <div class="circle ct">T</div>
              <div class="circle cw">W</div>
              <div class="circle cth">T</div>
              <div class="circle cf">F</div>
              <div class="circle csa">S</div>
            </div>
          </div>
          <div class="ends">
            <div>
              <span>Ends</span>
            </div>
            <div class="ends-never">
              <input type="radio" checked="checked" name="radio" class="ends-radio"> <span class="sp sp-n">Never</span>
            </div>
            <div class="ends-never sp-on">
              <input type="radio" checked="checked" name="radio" class="ends-radio"> <span class="sp">On</span>
              <input matInput [matDatepicker]="dpCust"  class="input-text date-pick" placeholder="Select Date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="dpCust"></mat-datepicker-toggle>
              <mat-datepicker #dpCust disabled="false"></mat-datepicker>
            </div>
            <div class="ends-never sp-at">
              <input type="radio" checked="checked" name="radio" class="ends-radio"> <span class="sp">At</span>
              <input id="occurenceId" type="number" min="0" max="30" class="input-text date-pick" placeholder="0"> <span class="occur-span">Occurences</span>
            </div>
          </div>
        </div>
        <div class="modal-footer" [ngClass]="{'centerModel': resourceIDToOpen}">
            <button type="button" class="kr-sg-button-primary btn_md" data-dismiss="modal" (click)="closeCustomRecModal()">Ok</button>
            <button type="button" class="kr-sg-button-secondary btn_md d-none" data-dismiss="modal" (click)="closeCustomRecModal()">Cancel</button>
        </div>
      </div>    
    </div> 
    
  </kr-modal>