@import './../../../app/scss/variables/variables.scss';
.faqmain-container{
    // position: relative;
    .header-sec{
        background: #F8F9FA;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 15px 30px;
      }
    .empty-scroll{
        height: calc(100vh - 162px);
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .boost-font{
        color: #ec998b;
        font-size: 10px;
        font-weight: 600;
    }
    .boost-trans{
        transform: rotate(180deg);
    }
    .faqsListContainer{
        .faq-header-sec{
            background: #F8F9FA;
            border-radius: 4px;
            padding: 5px 0px;
            margin: 20px 30px;
            align-items: center;
            margin: 20px 30px;
            .left-sec{
                .tab-sec{
                    .tab_title{
                        color: #202124;
                        border: 1px solid transparent;
                        padding: 6px 15px;
                        border-radius: 4px;                                                   
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0px 0 0 5px;
                        cursor: pointer;
                        span{
                            color: #5F6368;
                            padding-left: 4px;
                        }
                        &.active{                            
                            background: #FFFFFF;
                            border: 1px solid #E4E5E7;
                        }
                    }
                }
            }
            .right-sec{
                text-align: right;
                .title{
                    color: #202124;
                    font-weight: 500;
                    font-size: 12px;
                    cursor: pointer;
                    float: right;
                    padding: 0 20px;
                    img{
                        position: relative;
                        top: -1px;
                        margin-right: 6px;
                    }
                }
            }
        }
        .faq-content-boxes{
            height: 100vh;
            background: #E4E5E7;
            display: flex;
            .content{                
                &.left-content{
                    width: 45%;
                    .empty-questions-selected{
                        height: calc(100vh - 306px);
                    }
                }
                &.right-content{
                    width: 55%;
                }
            }
            .disableDiv {
                opacity: 0.5;
                pointer-events: none;
            }
            .info-div {
                padding: 10px 20px;
                div{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #979797;
                    margin: 0 0px 5px 0;
                }                
            }
            .content-boxes{                                                
                background: #fff;    
                height: 100%;            
                &.faq_tasks_list{
                    margin-right: 5px;                    
                    .header-sec{
                        display: flex;
                        align-items: center;
                        background: #F8F9FA;
                        padding: 23px 20px;                    
                        .kr-sg-input-search{
                            width: 215px;
                            position: relative;
                            .input-search{
                                border: 1px solid #E4E5E7;                            
                                border-radius: 4px;
                                padding-left: 36px;
                                padding-right: 15px;
                                font-size: 14px;
                                &:focus{
                                    border: 1px solid #1372ff;
                                }
                                &::placeholder{
                                    color: #BDC1C6;
                                }
                            }
                            .search-icon{
                                left: 12px;
                                top: 10px;
                            }
                            .close-icon{
                                position: absolute;
                                right: 11px;
                                top: 12px;
                                cursor: pointer;
                            }
                        }
                        .search-block {
                            color: #202124;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 34px;
                            // margin-right: 30px;
                            img {
                                margin-right: 7px;
                                cursor: pointer;
                                position: relative;
                                top: -1px;
                            }
                        } 
                        .kr-sg-dropdowns{
                            width: auto;
                            margin-left: 10px;
                            &.add{
                                .dropdown-open{
                                    .dropdown-input{
                                        padding: 0 27px 0 15px;
                                        &::before{
                                            display: block;
                                            background-image: url('^assets/icons/carrot-up.svg') !important;
                                            right: 8px;
                                            width: 10px;
                                            top: 1px;
                                        }
                                    }
                                }
                            }
                            .faq-filter-add{
                                max-height: 200px;
                                overflow: hidden;;
                            }
                            &.show {
                                .dropdown-open{
                                    .dropdown-input{
                                        background: #E4E5E7;
                                    }
                                }
                            }
                            .dropdown-open{
                                .dropdown-input{
                                    border: 1px solid #BDC1C6;
                                    box-sizing: border-box;
                                    border-radius: 4px;
                                    padding: 0 15px;
                                    font-size: 14px;
                                    color: #000000;
                                    img{
                                        margin-left: 6px;
                                    }
                                    &::before{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .reset-div{
                           .count-selected{
                                color: #202124;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 17px;
                           }
                        }
                        .reset-but{
                            cursor: pointer;
                            float: right;
                            background:rgb(197, 10, 10);
                            border-radius: 4px;
                            width: 78px;
                            height: 34px;
                            border: none;
                            color: white;
                        }
                    }
                    .body-content{
                        .accor-scroll{
                            height: calc(100vh - 203px);                       
                            &.show_footer{
                                height: calc(100vh - 275px);
                            }
                           
                        }
                        .selected-all-questions{
                            background: #FFED96;
                            border-radius: 4px;
                            color: #0D6EFD;
                            font-weight: 500;
                            font-size: 14px;
                            text-align: center;
                            margin: 5px;
                            padding: 10px;
                        }
                        .accordion-content{   
                            .card-content{
                                // box-shadow: inset 0px -1px 0px #E4E5E7;
                                .card_link{
                                    // display: flex;
                                    align-items: center;
                                    position: relative;
                                    padding: 19px 20px;
                                    cursor: pointer;
                                    transition: 0.3s all ease-in;
                                    box-shadow: inset 0px -1px 0px #E4E5E7;
                                    .published-que{                                    
                                        border-radius: 2px;
                                        padding: 2px 10px;
                                        font-size: 12px;                                    
                                        margin-left: 38px;
                                        display: inline-block;
                                        position: relative;
                                        top: -8px;
                                        background: #EAF6EC;
                                        color: #28A745;
                                        &.reverted{
                                            background: #FCEAED;
                                            color: #DD3646;
                                        }
                                    }
                                    &.is-checked{
                                        background: #E7F1FF;
                                        .kr-sg-checkbox{
                                            visibility: visible;
                                        }
                                    }
                                    &.is-selected-list{
                                        background: #E7F1FF;
                                    }
                                    &[aria-expanded="true"]{
                                        background: #E7F1FF;
                                        box-shadow: none;
                                        .kr-sg-checkbox{
                                            visibility: visible;
                                        }
                                    }
                                    .kr-sg-checkbox{
                                        visibility: hidden;
                                    }
                                    &:hover{
                                        background: #E7F1FF;
                                        .kr-sg-checkbox{
                                            visibility: visible;
                                        }
                                    }
                                    .restore-icon{
                                        visibility: hidden;
                                        position: absolute;
                                        right: 20px;
                                        top: 28px;
                                    }
                                    &:hover{
                                        background: #E7F1FF;
                                        .restore-icon{
                                            visibility: visible;
                                        }
                                    }
                                    // &:hover{
                                    //     background: #E7F1FF;
                                    //     .kr-sg-checkbox{
                                    //         visibility: visible;
                                    //     }
                                    // }
                                    .title-desc-sec{
                                        width: 86%;
                                        .title{
                                            color: #202124;
                                            font-weight: 500;
                                            font-size: 14px;
                                            margin-bottom: 2px;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            max-width: 100%;
                                            height: 20px;                                           
                                        }
                                        .desc{
                                            color: #5F6368;
                                            font-size: 12px;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            max-width: 100%;
                                            height: 20px;
                                            b{                                              
                                                font-weight: 400 !important;
                                            }
                                            .markdownItalic{
                                                font-style: normal;
                                            }
                                        }
                                    }
                                }                     
                                .cardbody{                            
                                    padding: 10px 0px 10px 78px;
                                    .acc-inner-que{
                                        padding: 19px 20px;
                                        border-left: 1px solid #E4E5E7;
                                        &.check-all{
                                            background: #E7F1FF;
                                        }
                                        .title{
                                            color: #202124;
                                            font-weight: 500;
                                            font-size: 14px;
                                            margin-bottom: 2px;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            max-width: 100%;
                                        }
                                        .desc{
                                            color: #5F6368;
                                            font-size: 12px;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            max-width: 100%;
                                        }
                                    }
                                    .emptyAltQuestions{
                                        padding-top: 10px;
                                        padding-right: 120px !important;
                                        height: 15px;
                                        padding-bottom: 13px;
                                    }
                                }
                            }   
                            .divBlockEmptylastChild{
                                display: none;
                                text-align: center;
                                width: 100%;
                                padding: 10%;
                                white-space: break-spaces;
                            }
                            div.divBlockEmptylastChild:first-child {
                                display: block !important;
                            }                                          
                        }
                        .pagination {
                            float: right;
                            margin: 10px 20px 0 0; 
                        }
                        .footer-btns{
                            background: #FFFFFF;
                            box-shadow: 0px -2px 5px rgba(32, 33, 36, 0.2);
                            padding: 13px 20px;
                            button{
                                font-size: 14px;
                                margin-right: 20px;
                                color: #FFFFFF;
                                &.kr-sg-button-primary{
                                    background: #0D6EFD;
                                    border-radius: 4px;
                                }
                                &.kr-sg-button-secondary{
                                    background: #DD3646;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
                &.train_your_questions{
                    margin-left: 5px;
                    // flex-shrink: 0;
                    .header-sec{
                        padding: 30px;
                        background: #EFF0F1;
                        &.with-info{
                            padding: 20px 30px 19px 30px;                         
                            .heading{
                                color: #9AA0A6;
                                font-size: 12px;
                                text-transform: uppercase; 
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                padding-right: 10px;                               
                            }
                            .info-title{
                                font-size: 14px;
                                color: #202124;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                padding-right: 10px;
                                span{
                                    font-size: 12px;
                                }
                            }
                            .kr-sg-button-primary{
                                font-size: 14px;
                                background: #0D6EFD;
                                border-radius: 4px;
                                color: #FFFFFF;
                            }
                            .kr-sg-dropdowns{
                                &.add{
                                    width: auto;
                                    &.show{
                                        .dropdown-open {
                                            .dropdown-input{
                                                background: #E4E5E7;  
                                            }
                                        }
                                    }
                                    .dropdown-open {
                                        .dropdown-input{
                                            border: 1px solid #BDC1C6;
                                            box-sizing: border-box;
                                            border-radius: 4px;
                                            padding: 0;
                                            font-size: 14px;
                                            color: #000000;
                                            width: 24px;
                                            text-align: center;
                                            margin-left: 5px;
                                            &::before{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            .comments-img{
                                cursor: pointer;
                                margin-left: 18px;
                                img{

                                }
                            }
                        }
                        .title{
                            color: #202124;
                            font-weight: 500;
                            font-size: 14px;
                            .questions-count{
                                font-size: 12px;
                                color: #0D6EFD;
                                margin-left: 15px;
                            }
                        }
                    }
                    .header-info-que{
                        display: flex;
                        align-items: center;                                               
                        padding: 21px 30px;
                        background: #EFF0F1;
                        border-bottom: 0px;
                        .lef-info{
                            .approved_title{
                                color: #9AA0A6;
                                text-transform: uppercase;
                                font-size: 12px;
                                line-height: 14px;
                                margin-bottom: 10px;
                            }
                            .approved_date{
                                color: #202124;
                                font-size: 14px;
                                line-height: 14px;
                            }
                        }
                        .actions-sec{
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            .dropdown-input{                                
                                &:hover{
                                    background: #fff;
                                    transition: 0.3s all ease;
                                }                                                                        
                            }
                            .info_header_dropdown, .comments_header_dropdown{
                                width: 34px;
                                height: 34px;
                                margin-right: 10px;
                                &.show{
                                    .dropdown{
                                        .dropdown-input{
                                            // background:#fff;
                                            // border: 1px solid #BDC1C6;
                                        }  
                                    }
                                }
                                .dropdown{
                                    .dropdown-input{
                                        border: 0;
                                        border: 1px solid transparent;
                                        background: transparent;
                                        cursor: pointer;
                                        padding: 0;
                                        text-align: center;
                                        img{
                                            width: 16px;
                                            height: 16px;
                                        }
                                        &:hover{
                                            background: #fff;
                                            border: 1px solid #BDC1C6;
                                            transition: 0.3s all ease;
                                        }
                                        &::before{
                                            display: none;
                                        }                                        
                                    }
                                }
                            }                          
                            .reset_btn{
                                padding: 0 10px;
                                background: #FFFFFF;
                                border: 1px solid #FFD6DA;
                                box-sizing: border-box;
                                border-radius: 4px;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                color: #DD3646;
                                img{
                                    margin-right: 4px;
                                }
                            }
                        }                        
                    }
                    .train-questions-body-scroll{
                        height: calc(100vh - 144px);
                    }
                    .body-content{      
                        padding-bottom: 50px;                  
                        .body-top-content{
                            padding: 8px 20px;
                        }
                        .question-content{
                            .title-que{
                                color: #202124;
                                font-weight: 500;
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                span{
                                    display: inline-block;
                                    max-width: 100%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding-right: 10px;
                                }
                                img{
                                   cursor: pointer;
                                }
                            }
                            .keywords{
                                font-size: 12px;
                                color: #9AA0A6;
                                .key-title{

                                }
                                .keys{
                                    padding: 0 0 0 8px;
                                }
                            }                            
                            .bot-response-title{
                                color: #9AA0A6;
                                font-weight: 500;
                                font-size: 12px;
                                text-transform: uppercase;
                                margin-bottom: 2px;
                                margin-top: 15px;
                            }
                            .condition-tags{
                                color: #9AA0A6;
                                font-weight: normal;
                                font-size: 12px;
                            }
                            .conditionalBlock{
                                color: #202124;
                                font-size: 14px;                                                                                              
                            }
                            .bot-response-view-mode{                                                              
                                .desc-info{
                                    line-height: 21px;
                                    padding: 10px 0 20px 0;
                                    // border-bottom: 1px solid #E4E5E7;
                                    &:last-child{
                                        border: 0;
                                        padding-bottom: 0;
                                    }
                                }
                                .img-view-mode{
                                    padding: 10px 0 20px 0;
                                    img{
                                        border-radius: 10px;
                                        width: 100%;
                                        // height: 200px;                                        
                                    }
                                }
                            }
                        }
                        .appearences-info{
                            background: #F8F9FA;
                            border-radius: 4px;
                            padding: 10px 20px;
                            margin: 20px 0 40px 0;
                            .source{
                                color: #9AA0A6;
                                text-transform: uppercase;
                                font-size: 12px;
                                img{
                                    position: relative;
                                    top: -2px;
                                }
                            }
                            .count{
                                color: #202124;
                                font-size: 14px;
                                padding-left: 8px;
                                font-weight: 600;
                            }
                        }
                        .add-alternative-questions{
                            padding: 14px 30px;
                            align-items: center;
                            background:transparent;
                            margin: 40px 0 0 0;
                            &.followup_questions{
                                margin-top: 22px;
                                border-top: 1px solid #BDC1C6;
                                padding-top: 25px;
                            }
                            .question-name{
                                color: #202124;
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 22px;
                            }
                            .que-desc{
                                color: #8A959F;
                                font-size: 12px;
                                line-height: 15px;
                            }
                            .kr-sg-button-primary{
                                border-radius: 4px;
                                font-size: 14px;
                                border: 1px solid #BDC1C6;
                                background: #FFFFFF;
                                color: #202124;
                            }
                        }
                        .added-questions-list{
                            padding: 13px 30px;
                            background: #FFFFFF;
                            // box-shadow: inset 0px -1px 0px #E4E5E7;
                            position: relative;
                            transition: 0.3s all ease;
                            .question-name{
                                color: #202124;
                                font-weight: 500;
                                font-size: 14px;
                                padding-right: 20px;
                            }
                            .added-tags{
                                color: #5F6368;
                                font-size: 12px;
                                padding-right: 20px;                                
                            }
                            .delete-icon{                               
                                display: none;
                                position: absolute;
                                right: 30px;
                                top: 27px;
                            }
                            &:hover{
                                .delete-icon{                                   
                                    display: block;
                                    &.pos-trash {
                                        top: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .kr-sg-checkbox{
                margin: 0;
                padding: 0;
                margin-right: 8px;
               
                .checkbox-custom{
                    height: auto;
                    width: auto;
                    position: absolute;                    
                    &:checked{
                        + .checkbox-custom-label{
                            &::before{
                                background-color: #0D6EFD;
                                border: 0;
                                background-image: url('^assets/icons/checkbox-check.svg');
                            }
                        }
                    }
                    + .checkbox-custom-label{
                        line-height: 0;
                        &::before{
                            border: 1px solid #BDC1C6;
                            margin-top: 0;
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                .checkbox-custom-label{
                    position: relative;
                }                      
            }
            .empty-questions-selected{
                width: 320px;
                margin: 0 auto;
                // height: calc(100% - 60px);
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;                       
                -webkit-box-pack: center;                       
                -ms-flex-pack: center;                       
                justify-content: center;   
                height: calc(100% - 146px);
                img{
                    width: 75%;
                    margin: 0 auto;
                }     
                .heading{
                    margin: 18px 0 8px 0;
                    color: $primaryColor;
                }
                .desc{
                    color: $secondaryColor;
                    font-size: 14px;
                }
            } 
        }
    }
    .log_section{
        top: 64px;
        position: absolute;
        right: 0;
        height: calc(100% - 10%);
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        width: 400px;
        padding: 18px;
        .header-log{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
                color: #26344A;
                letter-spacing: 0.714286px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
            }
            .close_log{
                cursor: pointer;
            }
        }
        .empty_log{
            height: calc(100% - 3px);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            img{
                margin-bottom: 20px;
            }
            .main-title{
                color: #8A959F;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 14px;
                margin-bottom: 10px;
            }
            .desc{
                color: #8A959F;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
            }
        }
        .panel {
            padding: 0 20px;
            max-height: 0;
            overflow: visible !important;
            transition: max-height 0.2s ease-out;
            a:focus {
                text-decoration: none;
                outline: none;
            }
        }
        .watch-log{
            margin: 20px 0px;
            border-bottom: 1px solid #ded3d3;
            cursor: pointer;
            .action-on-this{
                //padding: 5px;
                //border: 1px solid #979797;
                margin: 10px 0;
                .arr-txt{
                    font-weight: 600;
                    font-size: 12px;
                    color: #423F3F;
                }
                
                .arrow{
                    position: absolute;
                    right: 30px;
                    border: 1px solid #979797;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                .up {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                }
                .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }
            .arr-txt-desc{
                font-weight: normal;
                font-size: 10px;
                color: #979797;
            }
            .info{
                font-weight: 500;
                font-size: 12px;
                margin-left: 66%;
                color: #423F3F;
            }
            .log-header{
                font-weight: 600;
                font-size: 12px;
                color: #979797; 
            }
            .log-desc{
                font-size: 10px;
                color: #9B9B9B; 
            }
        }
        
    }
}

// .accordion-result-rank{
//     border: 0;
//     border-radius: 0;
//     //padding-left: 37px;
//     background-color: #FFFFFF;
//     border-top: 1px solid #DDDDDD;
//     //margin: -2px 5%;
//     margin: 0px 2% 0px 2%;
//     //border-bottom: 1px solid #DDDDDD;
//     a{
//         text-decoration: none;
//         color: #161928;
//     }
//     .active-header{
//         font-weight: 600 !important;
//         //white-space: nowrap !important;
//         //overflow: visible !important;
//         //text-overflow: none !important;
//     }
//     .wrapper {
//         white-space: nowrap !important;
//         overflow: hidden !important;
//         text-overflow: ellipsis !important;
//     }
//     .action-header{
//         position: relative;
//         font-weight: normal;
//         font-size: 12px;
//         line-height: 20px;
//         color: #161928;
        
//         .status{
//             position: relative;
//             margin-left: 8px;
//             background: #E7F1FF;
//             border-radius: 2px;
//             padding: 3px 6px;
//         }
        
//     }
//     .pl-pr-0{
//         padding-right: 0px;
//         padding-left: 0px;
//     }
//     .time{
//         position: relative;
        
//     }
//     .span-act{
//         font-weight: 600;
//     }
//     .mr-0{
//         margin-right: 0px
//     }
//     .action-desc{
//         position: relative;
//         font-weight: normal;
//         font-size: 10px;
//         line-height: 12px;
//         color: #979797;
//         margin-left: 20px;
//     }
//     .btn-rem{
//         background: #FFFFFF;
//         border: 1px solid #BDC1C6;
//         box-sizing: border-box;
//         border-radius: 4px;
//         width: 78px;
//         height: 25px;
//         align-items: flex-end;
//         text-align: center;
//         color: #202124;
//         font-size: 12px;
//         margin-left: 83%;
//     }
//     .action-on-this{
//         padding: 5px;
//         border: 1px solid #979797;
//         margin: 15px;
//         .arr-txt{
//             font-weight: 500;
//             font-size: 10px;
//             color: #979797;
//         }
//         .arrow{
//             border: 1px solid #979797;
//             border-width: 0 1px 1px 0;
//             display: inline-block;
//             padding: 3px;
//             margin-right: 10px;
//             margin-left: 10px;
//         }
//         .up {
//             transform: rotate(-135deg);
//             -webkit-transform: rotate(-135deg);
//         }
//         .down {
//             transform: rotate(45deg);
//             -webkit-transform: rotate(45deg);
//         }
//     }
//     .list-p{
//         list-style-type: none;
//         padding-right: 25px;
//         .list-c{
//             border-bottom: 1px solid #979797;
//             padding: 10px 17px 10px 0;
//             .arr-txt{
//                 font-weight: normal;
//                 font-size: 12px;
//             }
//             .arr-t{
//                 font-weight: 500;
//                 font-size: 12px;
//                 color: #9B9B9B;
//                 float: right;
//             }
//         }
//     }
    
// }
// .accordion-rr {
//     background-color: transparent !important;
//     color: #161928;
//     cursor: pointer;
//     padding: 18px;
//     width: 100%;
//     border: none;
//     text-align: left;
//     outline: none;
//     font-size: 14px;
//     transition: 0.4s;
//     cursor: pointer !important;
//     position: relative;
//     position: relative;
//     padding: 0px 0 0 20px;
//     margin-bottom: 15px;
//     .ml-8{
//         margin-left: 0.85rem!important;
//     }
//     .card {
//         border-top: 1px solid #DDDDDD;
//         border-bottom: 1px solid #DDDDDD;
//         box-shadow: inset 0px -0.5px 0px #DDDDDD;
//         height: 50px;
//         .card-header {
//             border: 0;
//             border-radius: 0;
//             padding: .75rem 1.25rem;
//             background-color: #FFFFFF
//             /* padding: 0; */
//             a{
//                 text-decoration: none;
//                 color: #161928;
//             }
//         }
//     }
// }

.accordion-sec{
    .acc-card{
        box-shadow: inset 0px -0.5px 0px #DDDDDD;    
        padding-bottom: 1px;    
        .acc-card-header{
            .acc-card-link{
                padding: 12px 15px 12px 25px;
                position: relative;
                &:hover{
                    background: #F8F9FA;
                    .row_data{
                        .remove-btn-sec{
                            visibility: visible;
                        }
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACASURBVHgB1Y8xDkAwFIbbx+AaYrIZiYUbmITNTXADR7BJ3EOsZiR6BAfQlg4kSDvzDX/+4fuT9xD6HFhE240OBRyp1a1OPZvoojJNC45lrrBXzo1aFBCRuFbFOStlMlAIU88k10knTT8VGEP+lGPfHG4/SEYvWUrTz1nbLQ76BztyjigRk3NkuwAAAABJRU5ErkJggg==');
                    height: 12px;
                    width: 12px;
                    background-repeat: no-repeat;
                    top: 16px;
                    left: 4px;
                }
                &.collapsed{
                    &:hover{
                        background: #F8F9FA;
                        .row_data{
                            .remove-btn-sec{
                                visibility: visible;
                                // background: rgba(249, 250, 251, 0.89);
                            }                           
                        }
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABtSURBVHgBpY27DYAwDEStI/SswAb0VCzBHIxEQ8MSVPTUVIyQBSJDAVIUmROfk1z4/J4s8ifjvFbDMYxBvASgcy6bmIS0UJWCSbBKJpkCk26FUxIg93HnCO8R0LR1uT35cMFLesAb2BC0Z/Cn7DfeLBtoGw1jAAAAAElFTkSuQmCC');                        
                        height: 12px;
                        width: 12px;
                        background-repeat: no-repeat;
                        top: 16px;
                        left: 4px;
                    }
                    .row_data{                                            
                        .remove-btn-sec{
                            visibility: hidden;                            
                        }
                        .desc-text-ranking{
                            display: none;
                        }
                        .main-title-text{
                            .title{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;    
                                width: calc(100% - 40px);   
                                font-weight: normal;                                                      
                            }
                         }
                    }                    
                }
                .row_data{
                   .main-title-text{
                        display: flex;                       
                        flex-wrap: wrap;
                        width: 100%;
                        .img-block{
                            width: 28px;
                            flex-shrink: 0;
                        }
                        .title{                            
                            color: #161928;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 20px;  
                            width: 80%;
                            font-weight: 600;                             
                        }
                   }
                   .desc-text-ranking{
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                        color: #979797;
                        margin: 11px 0 0 0;
                        padding-left: 28px;
                        display: block;
                   }
                   .info-data-pinned-or-boostead{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        padding-left: 25px;
                        margin-top: 12px;                        
                        .pinned{
                            background: #E7F1FF;
                            border-radius: 4px;
                            height: 22px;
                            padding: 5px;
                            display: flex;
                            align-items: center;
                            color: #0D6EFD;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 14px;
                            margin: 0 5px;
                            position: relative;                            
                            &.manual{
                                background: #EFF0F1;
                                color: #5F6368;
                            }
                            img{
                                margin-right: 4px;
                            }
                        }
                        .time-stamp{
                            padding: 0 10px;
                            color: #9B9B9B;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            position: relative;
                            margin-left: 5px;
                            &::before{
                                content: "";
                                position: absolute;
                                width: 1px;
                                height: 22px;
                                background: #EFF0F1;
                                left: 0px;
                                top: -4px;
                            }
                        }                        
                   }
                   .remove-btn-sec{
                        position: absolute;
                        right: 0;                        
                        height: 100%;
                        top: -8px;
                        width: 181px;                   
                        visibility: visible;
                        text-align: right;
                        padding: 15px 10px;
                        background: transparent;
                        .remove-btn{
                            background: #FFFFFF;
                            border: 1px solid #DD3646;
                            box-sizing: border-box;
                            border-radius: 4px;
                            color: #DD3646;
                            padding: 4px 10px;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            display: inline-block;
                        }
                   }                                       
                }                
            }
            .link-block{
                text-decoration: none;
                display: block;
            }
        }
        .card-body{
            padding: 8px 0px 8px 22px;
            .info-card{
                color: #979797;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                padding-right: 40px;
            }
            .inside-acc{
                .inside-acc-card{
                    .inside-acc-card-header{
                        .inside-acc-card-link{
                            color: #979797;
                            font-weight: 500;
                            font-size: 10px;
                            line-height: 12px;
                            padding: 15px 0px 0px 18px;
                            text-transform: uppercase;
                            position: relative;
                            &::before{
                                content: "";
                                position: absolute;
                                height: 16px;
                                width: 16px;
                                background-repeat: no-repeat;
                                left: -3px;
                                top: 13px;
                                transform: none;
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABYSURBVHgB7U+7DUAhCMQ3yVvNkinUKShdxVHcBCWx8hcKExsvIRd+xwHwcB9m1ySiv1KsYRExz2Y+xXIQbrlOoLuchFciRmt7VR8cMLOHyc8tFycOHs6iAKGxJUsf4Q6TAAAAAElFTkSuQmCC');
                            }
                            &.collapsed{
                                &::before{
                                    content: "";
                                    position: absolute;
                                    height: 16px;
                                    width: 16px;
                                    background-repeat: no-repeat;
                                    left: -3px;
                                    top: 13px;
                                    transform: rotate(94deg);
                                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABYSURBVHgB7U+7DUAhCMQ3yVvNkinUKShdxVHcBCWx8hcKExsvIRd+xwHwcB9m1ySiv1KsYRExz2Y+xXIQbrlOoLuchFciRmt7VR8cMLOHyc8tFycOHs6iAKGxJUsf4Q6TAAAAAElFTkSuQmCC');
                                }
                            }
                        }
                    }
                    .inside-card-body{
                        padding: 0 3px;
                        .inside-row-content{
                            align-items: center;
                            padding: 15px 0;
                            box-shadow: inset 0px -0.5px 0px #DDDDDD;
                            &:last-child{
                                box-shadow: none;
                            }
                            .inside-title{
                                color: #242424;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 14px;
                            }
                            .status-click{
                                color: #FF784B;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                display: flex;
                                align-items: center;
                                img{
                                    margin-right: 6px;
                                }
                            }
                            .time-stamp{
                                color: #9B9B9B;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


.log_section_data{
    position: absolute;
    top: 60px;
    right: 0;
    height: calc(100% - 60px);
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    width: 400px;
    .header-sec{
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .h-title{
            color: #26344A;
            letter-spacing: 0.714286px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
        }
        .close_icon{
            img{
                cursor: pointer;
            }
        }
    }
    perfect-scrollbar{
        height: calc(100% - 60px);
    }
    .body_content{
        padding: 0 18px;
        .accordion_sec{
            padding: 13px 0;
            background: #FFFFFF;
            box-shadow: inset 0px -0.5px 0px #DDDDDD;
            .card-acc{
                .card-header-acc{
                    .card-link-acc{
                        color: #423F3F;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 14px;
                    }
                    .link-block{
                        text-decoration: none;
                        display: block;
                    }
                }
            }
            .user-name{
                color: #9B9B9B;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
            }
            .time-stamp{
                color: #9B9B9B;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-left: 16px;
            }
            .card-body-acc{
                padding-top: 12px;
                .question-text{
                    color: #979797;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    margin-bottom: 2px;
                }
                .ans-info{
                    color: #9B9B9B;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }
}

.rotateimg180-move-up {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }