@import './../../../../app/scss/variables/variables.scss';

.manage-findlyion-popup{
    position: relative;
    height: 100%;
    .m-header{
        font-size: 24px;
        font-weight: 300;
        color: $primaryColor;
        border-radius: 4px;
        background-color: $backgroundColor;        
        padding: 20px 15px;
    }
    .m-body{
        padding: 0 43px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
        .info-text{
            color: $secondaryColor;
            font-size: 14px;
        }
        .clickable-text {
            color: #009dab;
            cursor: pointer;
            font-weight: 500;
        }
    }
    .m-footer{
        border-radius: 4px;
        background-color: $backgroundColor;
        padding: 15px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        button{
            margin-right: 10px;
        }
    }
}
.new-delete-popup{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 30px;
    .header-sec{
        // align-items: center;
        .title {
            color: #202124;
            font-weight: 600;
            font-size: 16px;
            line-height: 34px;
        }
        .close-popup{
            text-align: right;
            img{
                cursor: pointer;
                position: relative;
                top: 6px;
            }
        }
        .newTitle {
            color: #202124;
            // font:inter;
            font-weight:400;
            font-size: 22px;
            line-height: 34px;
        }
    }
    .body-info{
        color: #605E5C;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        margin: 20px 0 30px 0;
    }
    .btns-data{
        text-align: right;
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        button{
             margin-left: 10px;
        }
    }
}