@import './../../../app/scss/variables/variables.scss';

.dashboardContainer{
    padding: 52px 00px 0px 55px;
    background-color: $backgroundColor;
    // height: 100%;
    // overflow: auto;
    .realTime{
        height: 201px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
        background-color: rgba(38, 52, 74, 0.7);
        padding: 25px 40px;
        .tealtimeTitle{
            margin-bottom: 30px;
            h4{
                font-size: 18px;
                font-weight: normal;
                color: $whiteColor;
                display: inline-block;
            }
            .relatimeHeaderRight{
                float:right;
                .time{
                    font-size: 16px;
                    font-weight: normal;
                    color: $whiteColor;
                    background-color: transparent;
                    background: transparent;
                    cursor: default;
                    height: 30px;
                    line-height: 2;
                    border-radius: 2px;
                    pointer-events: none;
                    img{
                        margin-right: 5px;
                        position: relative;
                        top: -1px;
                    }
                    &:hover{
                        background-color: transparent;
                        background: transparent;
                    }

                    ::ng-deep .mat-button-focus-overlay{
                        display: none;
                    }
                    ::ng-deep .mat-ripple{
                        display: none;
                    }
                }
                .refresh{
                    font-size: 14px;
                    font-weight: normal;
                    color: $whiteColor;
                    background: rgba(255, 255, 255, 0.1);
                    height: 30px;
                    line-height: 2;
                    border-radius: 2px;
                    font-family: lato;
                    img{
                        margin-right: 5px;
                        position: relative;
                        top: -1px;
                    }
                }
                .timeSet{
                    display: inline-block;
                    .dropdown-toggle{
                        background: rgba(255, 255, 255, 0.1);
                        color: $whiteColor;
                        margin-left: 5px;
                        border: 0;
                        height: 30px;
                        line-height: 1;
                        border-radius: 2px;
                        padding: 5px;
                        position: relative;
                        top: -1px;
                    }
                    .dropdown-menu{
                        width: 195px;
                            padding: 20px;
                        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
                        left: auto;
                        right: 0;
                        top: 30px;
                        .heading{
                            font-size: 12px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        li{
                            position: relative;
                            a{
                                color: $secondaryColor;
                                font-size: 14px;
                                font-weight: normal;
                                padding: 8px 20px;
                               .checkTickIcon{
                                   position: absolute;
                                   left: 0;
                                   top: 18px;
                               }
                               &.active{
                                   color: $primaryColor;
                                   background-color: $whiteColor;
                               }
                               &:hover{
                                color: $primaryColor;  
                               }
                            }
                        }
                    }
                }
            }
        }
        .realTimeDetails{
            text-align: center;
            h5{
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 0;
                .arrowsDiv{
                    display: inline-block;
                    width: 20px;
                    position: relative;
                    margin-right: 20px;
                    top: -5px;
                    display: none;
                    // .arrow-green-up{
    
                    // }
                    // .arrow-green-down{
                    //     position: relative;
                    //     margin-right: 20px;
                    //     top: -5px;
                    // }
                    // .arrow-orange-up{
                    //     position: relative;
                    //     margin-right: 20px;
                    //     top: -5px;
                    // }
                }
                .countTitle{
                    font-size: 24px;
                    font-weight: normal;
                    color: $whiteColor;
                    display: inline-block;
                }
            }
            .countContainer{
                padding-left: 15px;
                // text-align: center;
                .count{
                    font-size: 30px;
                    font-weight: bold;
                    color: $whiteColor;
                    display: inline-block;
                    // margin-right: 15px;
                    // margin-left: 40px;
                }
                .percentage{
                    font-size: 18px;
                    font-weight: normal;
                    color: #83edbd;
                    display: inline-block;
                }
            }
        }
    }
    .realTimeReport {      
        background: $borderColor;
        padding: 15px 40px 20px 40px;
        .real-head {
            display: flex;
            justify-content: space-between;
            .det {                                         
                cursor: pointer;
                font-size: 16px;
                color: #26344a;
                padding-right: 40px;
                img{
                    margin: 0 12px;
                    position: relative;
                    top: -1px;
                }
            }
            .ref {
                padding: 5px 14px;
                height: 30px;
                line-height: 20px;               
                border-radius: 2px;
                background-color: #ffffff;
                font-size: 14px;
                cursor: pointer;
                color: #8a959f;
                font-weight: 600;
                margin-right: 4px;
                img{                   
                    position: relative;    
                    width: 13px;
                    height: 13px;        
                    margin: 0 10px 0 0;                   
                    top: -1px;
                }            
            }
            .timeSet-dropdown{
                .dropdown-toggle{
                    border: 0;
                    padding: 0;
                    width: 18px;
                    height: 30px;
                    border-radius: 2px;
                    background-color: #ffffff;
                    &::after{
                        content: "";
                        display: inline-block;                       
                        vertical-align: .255em;                      
                        border-top: .3em solid #8a959f;
                        border-right: .3em solid transparent;
                        border-bottom: 0;
                        border-left: .3em solid transparent;
                        position: relative;
                        top: 2px;
                    }
                }
                .dropdown-menu{
                    width: 230px;
                    padding: 20px 0 0 0;
                    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);                   
                    right: 0;
                    top: 4px !important;
                    left: -34px !important;
                    border: 0;
                    margin: 0;
                    li{                        
                        cursor: pointer;
                        position: relative;
                        &.heading{
                            font-size: 12px;
                            padding: 0 20px 10px 20px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        a{
                            padding: 10px 15px 10px 30px;
                            img{
                                position: absolute;
                                left: 12px;
                                top: 18px;
                            }
                            &:active{
                                background-color: #f2f3f5 !important;
                            }
                            &.active{
                               background: #f2f3f5; 
                            }
                        }
                    }                    
                }
            }
        }
        .real-body{
            padding: 14px 20px 0 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: nowrap; 
            .card-content{                               
                min-height: 140px;
                border-radius: 4px;
                background-color: $whiteColor;
                position: relative;
                padding: 18px 20px;
                .info-icon{
                    position: absolute;
                    right: 13px;
                    top: 10px;
                    cursor: pointer;
                    .tooltiptext{
                        visibility: hidden;
                        width: 200px;
                        padding: 15px;
                        background-color: #26344a;
                        color: $whiteColor;
                        text-align: center;
                        font-weight: normal;
                        border-radius: 6px;                        
                        position: absolute;                        
                        bottom: 125%;
                        z-index: 100;
                        left: 50%;
                        margin-left: -30px;
                        opacity: 0;
                        transition: opacity 0.3s;   
                        line-height: 18px;                 
                        &::after{
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 29px;
                            margin-left: -5px;
                            border-width: 6px;
                            border-style: solid;
                            border-color: #26344a transparent transparent transparent;
                        }
                    }
                    &:hover{
                        .tooltiptext{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }   
                .heading-title{
                    font-size: 18px;
                    margin-bottom: 8px;
                    font-weight: 500;
                    color: #26344a;
                }
                .content-sec{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .left-sec, .right-sec{
                        width: 50%;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        .title{
                            color: #8a959f;
                            font-size: 14px;  
                            margin-bottom: 3px;                              
                        }
                        .count{
                            font-size: 30px;
                            font-weight: bold;                               
                            color: #26344a;
                            padding-right: 12px;
                            img{
                                height: 25px;
                                width: 12px;
                                position: relative;
                                top: -4px;
                                margin-right: 10px;
                            }
                        }
                        .percentage{
                            color: #009dab;
                            font-size: 14px;
                            font-weight: 500;
                            &.orange{
                                color: #f5a623;
                            }
                        }
                    }
                }             
            }     
            .active-users-chart-sec{ 
                padding-right: 14px;   
                flex-grow: 1;
                .card-content{
                    .content-sec{
                        .right-sec{
                            position: absolute;
                            right: 20px;
                            .caption{
                                position: absolute;
                                bottom: 0;
                                left: 60px;
                                font-family: Lato;
                                font-size: 12px;
                                color: #8a959f;
                            }
                        }
                    }
                }                                            
            }     
            .virtual-agent-sec{
                padding-right: 14px;
                flex-grow: 1;
            } 
            .human-agent-sec{
                flex-grow: 1;
                .info-icon{
                    .tooltiptext{                        
                        margin-left: -170px;
                        &::after{
                            left: 84%;
                        }
                    }
                }
            }                                                    
        }     
    }

    .dashboardFilters{
        padding: 20px 0 20px 25px;
        .filtersRow{
           margin: 0; 
           padding-right: 5px;
           .dashboardFiltersLeft{
               padding: 0;
               .timeSet{
                   display: inline-block;
                   .dropdown-toggle{
                        width: 296px;
                        height: 36px;
                        border-radius: 2px;
                        box-shadow: 0 1px 2px 0 rgba(179, 186, 200, 0.58);
                        border: solid 1px $borderColor;
                        background-color: $whiteColor;
                        color: $primaryColor;
                        text-align: left;
                        font-weight: normal;
                        font-size: 16px;
                        position: relative;
                        top: 2px;
                        font-family: lato;
                        padding-left: 20px;
                        &::after{
                            display: none;
                        }
                        .dropdown-down{
                            position: absolute;
                            right: 20px;
                            top: 16px;
                            width: 8px;
                            opacity: .4;
                        }
                    }
                    .dropdown-menu{
                        // right: 0px;
                        // -webkit-transform: none !important;
                        // transform: none !important;
                        // bottom: auto;
                        // left: auto !important;
                        // top: 38px !important;
                        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
                        border: 0;
                        width: 296px;
                        .dropdown-item{
                            color: $primaryColor;
                            font-size: 14px;
                            font-weight: normal;
                            padding: 8px 20px;
                            &:hover{
                                color: $hoverColor;
                                background-color:$hoverTransparent;
                            }
                        }
                    }
                }
            }
           .dashboardFiltersRight{
               text-align: right;
               ::ng-deep .mat-button-toggle-group {               
                    position: relative;
                    margin-right: 0;
                    border: solid 1px #e5e8ec;
                    border-radius: 40px;             
                   .mat-button-toggle{
                    border-bottom: 0px solid $whiteColor;
                    border-right: 1px solid #dddddd;
                    font-size: 14px;
                    color: $secondaryColor;                    
                       .mat-button-toggle-button{
                           .mat-button-toggle-label-content{
                               line-height: 36px;
                               padding: 0px 21px;
                           }
                       }
                       &.selected{
                           background-color: $hoverColor;
                           border: 0;
                           font-size: 14px;
                           color: $whiteColor;
                       }
                    }
                }
                ngbd-datepicker-range{
                    position: absolute;
                    left: auto;
                    z-index: 999;
                    background: $whiteColor;
                    right: 0;
                    top: 45px;
                }
               .timeSet{
                   display: inline-block;
                    .dropdown-toggle{
                        width: 110px;
                        height: 38px;
                        border-radius: 2px;
                        box-shadow: 0 1px 2px 0 rgba(179, 186, 200, 0.58);
                        border: solid 1px $borderColor;
                        background-color: $whiteColor;
                        color: $secondaryColor;
                        text-align: left;
                        font-weight: normal;
                        font-size: 14px;
                        padding-left: 15px;
                        &::after{
                            display: none;
                        }
                        .carrot-down{
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            width: 11px;
                            height: 10px;
                            // opacity: .8;
                        }
                    }
                    .dropdown-menu{
                        right: 0px;
                        -webkit-transform: none !important;
                        transform: none !important;
                        bottom: auto;
                        left: auto !important;
                        top: 38px !important;
                        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
                        border: 0;
                        .dropdown-item{
                            color: $primaryColor;
                            font-size: 14px;
                            font-weight: normal;
                            padding: 8px 20px;
                            &:hover{
                                color: $hoverColor;
                                background-color:$hoverTransparent;
                            }
                        }
                    }
               }
           }
        }
    }
    .dashboardScroll{
        //height: calc(100vh - 334px);
        // height: calc(100vh - 130px);
        overflow-y: auto;
        padding: 0px 35px;
        transition: ease-in .33s;
        .dashboardRow{
            padding-bottom: 20px;
            // margin: 0;
            .dashboarSingle{
                padding: 0;
                .dashboardTile{
                    box-shadow: 0 1px 5px 0 rgba(179, 186, 200, 0.58);
                    background-color: $whiteColor;
                    border: 1px solid $borderColor;
                    // height: calc(100% - 21px);
                    height: calc(100vh - 194px);
                    // height: 385px;
                    border-radius: 5px;
                    .dashboardTileTitle{
                        font-size: 16px;
                        // font-weight: bold;
                        color: $primaryColor;
                        padding: 20px;
                        // border-bottom: 1px solid $borderColor;
                        // margin-bottom: 20px;
                        .minimize{
                            float: right;
                            cursor: pointer;
                            position: relative;
                            top: 4px;
                        }
                    }
                }
                .mainContainer{
                    &.call-flow{
                        padding: 0 30px 30px 30px;
                        height: calc(100% - 64px);
                    }
                    .loading {
                        position: absolute;
                        top: 45%;
                        left: 45%;
                        width: 100px;
                        height: 40px;
                        .loading-message {
                            position: relative;
                            color: #29293b;
                            top: -21px;
                            left: 25px;
                            font-size: 12px;
                        }
                    }
                }
            }
            .dashboarsLeft{
                padding: 0;
                .dashboardTile{
                    box-shadow: 0 1px 5px 0 rgba(179, 186, 200, 0.58);
                    background-color: $whiteColor;
                    border: 1px solid $borderColor;
                    height: 385px;
                    border-radius: 5px;
                    .dashboardTileTitle{
                        font-size: 16px;
                        // font-weight: bold;
                        color: $primaryColor;
                        padding: 30px;
                        // border-bottom: 1px solid $borderColor;
                        // margin-bottom: 20px;
                    }
                    .countDivRight{
                        float: right;
                        display: inline-block;
                        .total{
                            display: inline-block;
                            margin-right: 30px;
                            .title{
                                font-size: 14px;
                                font-weight: normal;
                                color: $secondaryColor;
                                display: inline-block;
                                margin-right: 10px;
                            }
                            .count{
                                font-size: 18px;
                                font-weight: bold;
                                color: $primaryColor;
                                display: inline-block;
                                margin-right: 5px;
                            }
                            .riseFall{
                                font-size: 12px;
                                font-weight: normal;
                                display: inline-block;
                                color: #0f9d58;
                                .arrowsDiv{
                                    width: 10px;
                                    display: inline-block;
                                    text-align: center;
                                    margin-right: 1px;
                                    position: relative;
                                    top: -1px;
                                    text-align: right;
                                    // display: none;
                                    img{
                                        height: 10px;
                                    }
                                }
                            }
                        }
                        .avg{
                            display: inline-block;
                            .title{
                                font-size: 14px;
                                font-weight: normal;
                                color: $secondaryColor;
                                display: inline-block;
                                margin-right: 10px;
                            }
                            .count{
                                font-size: 18px;
                                font-weight: bold;
                                color: $primaryColor;
                                display: inline-block;
                            }
                        }
                    }
                }
                .emptyState{
                    text-align: center;
                    padding-top: 25px;
                }
                .appInfoData{
                    padding: 10px 20px 0 20px;
                    margin: 0;
                    .infoName{
                        text-align: right;
                        font-size: 14px;
                        color: $secondaryColor;
                        flex: 0 0 150px;
                        max-width: 150px;
                    }
                    .infoValue{
                        text-align: left;
                        font-size: 14px;
                        color: $primaryColor;
                        padding-left: 30px;
                    }
                }
                .getStarted{
                    padding: 0px 20px;
                    .getStrtedInfo{
                        margin-bottom: 10px;
                        h6{
                            font-size: 14px;
                            color: $primaryColor;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: 12px;
                            color: $secondaryColor;
                            margin-bottom: 0;
                            .knowMoreLink{
                                font-size: 12px;
                                color: $hoverColor;
                            }
                        }
                    }
                    .lastLineDesc{
                        font-size: 12px;
                        color: $secondaryColor;
                        margin-bottom: 10px;
                    }
                }
            }
            .dashboarsRight{
                padding: 0;
                padding-left: 20px;
                .dashboardTile{
                    box-shadow: 0 1px 5px 0 rgba(179, 186, 200, 0.58);
                    background-color: $whiteColor;
                    border: 1px solid $borderColor;
                    height: 385px;
                    border-radius: 5px;
                    .dashboardTileTitle{
                        font-size: 16px;
                        // font-weight: bold;
                        color: $primaryColor;
                        padding: 30px;
                        // border-bottom: 1px solid $borderColor;
                    }
                }
                .emptyState{
                    text-align: center;
                    padding-top: 25px;
                }
            }
        }
    }
    &.callFlowExpand{
        background-color: $whiteColor;
        .realTime{
            display: none;
        }
        .dashboardFilters{
            display: none;
        }
        .dashboardScroll{
            height: calc(100vh - 53px);
            width: 100%;
            transition: ease-in .33s;
            padding-top: 12%;
            padding-left: 75px;
            padding-right: 75px;
            .dashboardRow{
                .dashboarSingle{
                    
                    .dashboardTile{
                        box-shadow: none;
                        border: 0;
                        .dashboardTileTitle{
                            display: none;
                        }
                    }
                }
                &.flowExpand{
                    display: none;
                }
            }
        }
    }
    #Group-18 {
        display: none;
    }
    #Group-18-Copy {
        display: none;
    }
    #Group-24 {
        display: none;
    }
    #Group-23 {
        display: none;
    }
    #Group-13-Copy-12 {
        display: none;
    }
    #Path-6-Copy-5 {
        display: none;
    }
    #Group-23-Copy-2 {
        display: none;
    }
    #Group-23-Copy {
        display: none;
    }
    #Group-19 {
        display: none;
    }
    #Group-13-Copy-10 {
        display: none;
    }
    #Group-13-Copy-14 {
        display: none;
    }
    #Group-13-Copy-19 {
        display: none;
    }
    #Group-13-Copy-14 {
        display: none;
    }
    #Group-13-Copy-15 {
        display: none;
    }
    #Path-6-Copy-14 {
        display: none;
    }
    #Path-6-Copy-11 {
        display: none;
    }
    #Path-6-Copy-6 {
        display: none;
    }
    #Path-6-Copy-7 {
        display: none;
    }
}
.dashboardContainerPerfectScroll{
    height: 100vh;
}

::ng-deep .tooltip {
   .arrow{
       display: none;
   }
   .tooltip-inner {
        border-radius: 3px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        border: solid 1px $borderColor;
        background-color:$whiteColor;
        max-width: 219px;
        min-width: 200px;
        text-align: left;
        padding:13px 15px;
        .headerBG{
            border-radius: 3px;
            background-color: $backgroundColor;
            text-align: center;
            font-size: 12px;
            font-weight: normal;
            line-height: 1.42;
            color: $primaryColor;
            padding: 8px 12px;
            margin-bottom: 10px;
        }
        .parent-div {
            padding:  0;
            .child {
                padding: 5px 0;
                font-size: 12px;
                color: $primaryColor;
                &.pointer {
                    cursor: pointer;
                }
                span{
                    font-size: 16px;
                }
                .countSpan{
                    display: inline-block;
                    position: relative;
                    top: -4px;
                    float: right;
                    .count{
                        display: inline-block;
                        font-size: 14px;
                        font-weight: normal;
                        color: $primaryColor;
                    }
                    .percentage{
                        font-size: 8px;
                        color: $whiteColor;
                        width: 30px;
                        height: 15px;
                        border-radius: 6px;
                        background-color:  $primaryColor;
                        display: inline-block;
                        margin-left: 2px;
                        text-align: center;
                        position: relative;
                        top: -2px;
                        // padding-top: 1.5px;
                        line-height: 15px;
                        &.sms{
                            background-color:  $secondaryColor;
                        }
                    }
                }
                &.dropOff{
                    color: #ff001f;
                    .percentage{
                        border: solid 1px rgba(255, 0, 31, 0.2);
                        background-color: #ffccd3;
                        color: #ff001f;
                    }
                }
            }
        }
   }
}

:host ::ng-deep #bl-line-chart {
    .line {
        fill: none;
        stroke: $hoverColor;
        stroke-width: 1px;
    }
    .grid {
        line {
            stroke: $borderColor;
        }
        path {
            stroke-width: 0;
        } 
        .tick {
            display:none;
            > text {
                display: none;
            }
        }
        .tick:nth-of-type(1) {
            display: block;
        }
    }
    // .grid:nth-child(2) {
    //     .tick {
    //         display: none;
    //     }
    // }

    g:not(.grid) {
        > .tick {
            display: none;
        }
        .domain {
            display: none;
        }
    }

}
.pl-20{
    padding-left: 20px;
}