.landing-page-common-block{
    padding: 0px 20px 0px 35px;
    .widget-header-block{
        padding: 35px 0px 15px 0px;
        &.second-header-block{
            padding: 25px 0px 15px 0px;
        }
        .widget-header{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #121314;
            padding-bottom: 10px;
        }
        .widget-desc{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #777A80;
        }
    }

    .landing-page-toggle{
        padding: 0 20px 25px 0px;
        .kr-sg-toggle{
            input{
                &:not(:checked){
                    + .slider{
                        span{
                            &.no{
                                color: #202124;
                            }
                        }
                    }
                }
            }
            &.with-label{
                margin-left: 49px;
                .slider{
                    .no{
                        margin-left: -49px;
                    }
                }
            }
        }
      }
      
    //   snippets css start from here
    .application-type{
        padding-top: 40px;
        .application-type-header{
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            padding-bottom: 15px;
        }
        .application-type-block{
            background: #F0F1F2;
            border-radius: 4px;
            height: 240px;
        }
    }
    
}

