<!-- Sidebar -->
<div class="sidebar-fixed position-fixed activeMenu" >
	<div class="list-group list-group-flush">
		<div class="logosDiv" [routerLink]="['/apps']" skipLocationChange (click)="preview('')">
			<img src="assets/images/findly-icon.png" class="logoIcon">
			<img src="assets/images/findly-logo.svg" class="logoKoreIcon">
		</div>
		<button [routerLink]="['/summary']" skipLocationChange routerLinkActive="active"  mat-button class="mat-button">
			<span class="inlineIconBox">
				<img src="assets/images/left-menu-icons/newIcons/dashboard.svg" class="dashboard">
				<img src="assets/images/left-menu-icons/newIcons/dashboard-white.svg" class="dashboard-white">
			</span>
			<span  class="linkTitle">Summary</span>
		</button>
		<div  class="mat-button mat_button_cutom_nav activeSubMenu">
			<div routerLinkActive="active">
				<span class="inlineIconBox" [routerLink]="['/source']" skipLocationChange>
					<img src="assets/images/left-menu-icons/newIcons/Assistant-Configuration-gray.svg" class="publish">
					<img src="assets/images/left-menu-icons/newIcons/Assistant-Configuration-white.svg" class="publish-white">
				</span>
				<span class="linkTitle" [routerLink]="['/source']" skipLocationChange>Source</span>
			</div>
			<div class="hoverIcons">
				<div class="subMenu" [routerLink]="['/content']" skipLocationChange routerLinkActive="active" (click)="preview('Content')" mat-button>
					Content
				</div>
				<div class="subMenu" [routerLink]="['/faqs']" skipLocationChange routerLinkActive="active"  (click)="preview('Content')" mat-button>
					Faqs
				</div>
				<div class="subMenu" [routerLink]="['/botActions']" skipLocationChange routerLinkActive="active" (click)="preview('Content')" mat-button>
					Bot Actions
				</div>
			</div>
		</div>
		<button mat-button>
			<span class="inlineIconBox leftAdjust">	
				<img src="assets/images/left-menu-icons/newIcons/Summery.svg" class="ivr">
				<img src="assets/images/left-menu-icons/newIcons/Summery-white.svg" class="ivr-white">
			</span>
			<span class="linkTitle">Preview</span>
		</button>
		
		<button  mat-button>
			<span class="inlineIconBox leftAdjust">
				<img src="assets/images/left-menu-icons/newIcons/Logs.svg" class="callHistory">
				<img src="assets/images/left-menu-icons/newIcons/Logs-white.svg" class="callHistory-white">
			</span>
			<span  class="linkTitle">Training</span> 
		</button>
		<button mat-button>
			<span class="inlineIconBox">
				<img src="assets/images/left-menu-icons/newIcons/publish.svg" class="publish">
				<img src="assets/images/left-menu-icons/newIcons/publish-white.svg" class="publish-white">
			</span>
			<span  class="linkTitle">Metrics</span> 
		</button>
		<button mat-button>
			<span class="inlineIconBox">
				<img src="assets/images/left-menu-icons/newIcons/publish.svg" class="publish">
				<img src="assets/images/left-menu-icons/newIcons/publish-white.svg" class="publish-white">
			</span>
			<span  class="linkTitle">Settings</span> 
		</button>
	</div>
</div>
<!-- Sidebar -->  