<!-- <div class="small-talk-body-data">
    <div class="title-heading">{{"genaralSettings_small_talk" | translate}}</div>
    <div class="title-desc-text">{{"genaralSettings_smalltalk_refres_to_desc" | translate}}</div>
    <label class="kr-sg-toggle">                                       
        <input type="checkbox" [(ngModel)]="enable">
        <div class="slider"><span  (click)="enableST(false)" class="enabled" >{{"genaralSettings_enabled" | translate}}</span>
            <span   (click)="enableST(true)" class="disabled">{{"genaralSettings_disabled" | translate}}</span>
        </div>
    </label>
</div> -->

<div class="landing-page-common-block">
  <div class="widget-header-block">
    <div class="widget-header">Small Talk</div>
    <div class="widget-desc">Small Talk refers to the casual conversations that a Search app can have with the end-users. Search apps that can answer social queries like "How Are You?" create a positive impression with human touch.</div>
  </div>
  <div class="landing-page-toggle">
    <label class="kr-sg-toggle with-label">
      <input type="checkbox" [checked]="smallTalkData?.enable" (change)="sildervaluechanged($event)">
      <div class="slider">
        <span class="no">Disable</span>
        <span class="yes">Enable</span>
      </div>
    </label>
  </div>
</div>
