<div class="landing-page-common-block">
  <div class="widget-header-block">
    <div class="widget-header">{{"smallTalk_Small_Talk" | translate}}
      <span class="module-topic" tooltipClass="tooltip-global-" [container]="'body'"
          ngbTooltip="{{'contentSource_topic_guide' | translate}}" placement="right-center"
          (click)="openUserMetaTagsSlider()">
          <i class="si-topic-guide-1"></i>
        </span>
    </div>
    <div class="widget-desc">{{"smallTalk_header_desc" | translate}}</div>
  </div>
  <div class="landing-page-toggle">
    <label class="kr-sg-toggle with-label">
      <input id="sa_smallTalk_toggle" type="checkbox" [checked]="smallTalkData?.enable" (change)="sildervaluechanged($event)">
      <div class="slider">
        <span class="no">{{"sa_disable" | translate}}</span>
        <span class="yes">{{"sa_enable" | translate}}</span>
      </div>
    </label>
  </div>
</div>
