<!--choose plan popup-->
<kr-modal modalType="center" modalClass="modal_popups_ kr-full" tabindex="-1" #choosePlanModel>
  <perfect-scrollbar>
    <div class="modal-body">
      <div class="pricing-paln-change-modal">
        <div class="close-modal" (click)="closeSelectedPopup('choose_plan')">Close <span class="close-span"><i class="si-close close-icon"></i></span></div>     
        <div class="pricing-main-header">
          <h2 class="pricing-header">Straight Forward Pricing</h2>
          <p class="pricing-desc">Simple usage-based pricing that align with your business goals.</p>
        </div>
  
        <div class="pricing-paln-types">
          <div class="pricing-paln-tab" *ngFor="let type of ['Monthly','Yearly']" (click)="typeOfPlan(type)" [ngClass]="{'tab-active':type===termPlan}">{{type}}</div>
        </div>
        
        <div class="pricing-plan-tiles-block"> 
          <div class="plan-tile-block" *ngFor="let plan of filterPlansData" [ngClass]="{'plan-tile-active':(plan?.name===selectedPlan?.planName&&selectedPlan?.billingUnit===plan?.billingUnit)}">
            <div class="plan-type-block">
              <div class="plan-img"><img src="assets/images/pricing-plan/pricing-plan-{{plan?.name|lowercase}}.svg" /></div>
              <div class="plan-details">
                <div class="plan-type">
                  <div class="plan-name">{{plan?.name}}</div>
                  <div class="plan-current-status" [ngClass]="{'d-none':(plan?.name|lowercase)!=='free'}">Free Forever</div>
                </div>
                <div class="plan-cost-details">
                  <div class="plan-cost">{{['free','standard'].includes(plan?.name|lowercase)?'$':'Custom Plans'}}{{plan?.planAmount}} <span class="plan-duration-type">{{['free','enterprise'].includes(plan?.name|lowercase)?'':'/ '}}{{(plan?.name|lowercase)==='free'?'Forever':(plan?.name|lowercase)==='enterprise'?'':plan?.billingUnit}}</span></div>
                </div>
              </div>
              <span class="plan-close" data-dismiss="modal"><i class="si-close"></i></span>
            </div>
            <div class="plan-tag-line">
              <div>{{plan?.description}}</div>
            </div>
            <div class="plan-upgrade-block">
              <button class="btn" [ngClass]="{'current-paln':plan?.name===selectedPlan?.planName}" *ngIf="(plan?.name|lowercase)==='free'" (click)="(plan?.name===selectedPlan?.planName)?null:(selectedPlan?.planName==='Enterprise')?contactusModel('open'):downgradePlan(plan)">{{(plan?.name===selectedPlan?.planName)?'Current Plan':(selectedPlan?.planName==='Enterprise')?'Talk to us':'Choose Plan'}}</button>
               <button class="btn" [ngClass]="{'current-paln':(plan?.name===selectedPlan?.planName&&selectedPlan?.billingUnit===plan?.billingUnit)}" *ngIf="(plan?.name|lowercase)==='standard'" (click)="((plan?.name===selectedPlan?.planName&&selectedPlan?.billingUnit===termPlan))?null:(selectedPlan?.billingUnit==='Monthly'&&selectedPlan?.planName!=='Enterprise')?downgradePlan(plan):(selectedPlan?.billingUnit==='Yearly'||selectedPlan?.planName==='Enterprise')?contactusModel('open'):[openSelectedPopup('payment_gateway'),orderConfirmData=plan]">{{(plan?.name===selectedPlan?.planName&&selectedPlan?.billingUnit===termPlan)?'Current Plan':(selectedPlan?.billingUnit==='Yearly'||selectedPlan?.planName==='Enterprise')?'Talk to us':'Choose Plan'}}<span class="d-none"><i class="si-right-arrow-large"></i></span></button>
              <button class="btn" [ngClass]="{'current-paln':plan?.name===selectedPlan?.planName}" *ngIf="(plan?.name|lowercase)==='enterprise'" (click)="plan?.name===selectedPlan?.planName?null:contactusModel('open')">{{(plan?.name===selectedPlan?.planName)?'Current Plan':'Talk to us'}}</button>
            </div>
            <div class="plan-features-block">
              <perfect-scrollbar class="paln-overflow-scroll">
                <div class="plan-feature-desc" [ngClass]="{'font-weight-bold':['standard','free'].includes(plan?.name|lowercase)}"><span class="icon-si"><i class="si-green-check"></i></span>{{(plan?.name|lowercase)==='enterprise'?plan?.featureAccess?.ingestDocs?.displayText:plan?.featureAccess?.ingestDocs?.fullDisplayText}} <span class="plan-records" *ngIf="['standard','free'].includes(plan?.name|lowercase)">records</span> </div>
                <div class="plan-feature-desc" [ngClass]="{'font-weight-bold':['standard','free'].includes(plan?.name|lowercase)}"><span class="icon-si"><i class="si-green-check"></i></span> {{(plan?.name|lowercase)==='enterprise'?plan?.featureAccess?.searchQueries?.displayText:plan?.featureAccess?.searchQueries?.fullDisplayText}} <span class="plan-records" *ngIf="['standard','free'].includes(plan?.name|lowercase)">queries/month</span> </div>
                <div class="plan-sub-features">
                  <div class="plan-sub-feature-hding" *ngIf="(plan?.name|lowercase)==='free'"><strong>Free</strong> Includes</div>
                  <div class="plan-sub-feature-hding" *ngIf="['standard','enterprise'].includes(plan?.name|lowercase)">Everything in <strong>{{(plan?.name|lowercase)==='standard'?'Free':'Standard'}}</strong>, plus:</div>
                  <ng-container *ngFor="let feature of plan?.featureData|slice:0:((plan?.name|lowercase)==='free'?featureLimit:(plan?.featureData?.length))">
                    <div class="plan-feature-desc" *ngIf="feature?.displayOnBanner"><span class="icon-si"><i class="si-green-check"></i></span> {{(feature?.name)}} </div>
                  </ng-container>
                  <div class="show-more" (click)="featureLimit=(plan?.featureData?.length);" [ngClass]="{'d-none':(featureLimit!==8||(plan?.name|lowercase)!=='free')}"><span class="icon-si"><i class="si-ellipsis-horizontal"></i></span> Show <span>10</span> more features </div>
                  <div class="plan-sub-feature-hding"><strong>{{(plan?.name|lowercase)==='free'?'Self-Service Support':'Support'}}</strong></div>
                  <div class="plan-feature-desc" *ngIf="(plan?.name|lowercase)==='free'"><span class="icon-si"><i class="si-green-check"></i></span>Kore.ai Community</div>
                  <div class="plan-feature-desc" *ngIf="(plan?.name|lowercase)==='free'"><span class="icon-si"><i class="si-green-check"></i></span>Kore.ai Academy</div>
                  <div class="plan-feature-desc" *ngIf="['standard','enterprise'].includes(plan?.name|lowercase)"><span class="icon-si"><i class="si-green-check"></i></span>{{plan?.name}} support upgrade option</div>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
        </div>

        <!-- compare plan start from here -->
        <div class="compare-plans-section">
          <div class="pricing-main-header">
            <h2 class="pricing-header">Compare Plans</h2>
            <p class="pricing-desc">Comapre the features of each plan and find the one that suites you best.</p>
          </div>

          <div class="compare-plan-tabs row">
            <div class="compare-plan-tab-name col-lg-3 offset-lg-3">Free</div>
            <div class="compare-plan-tab-name col-lg-3">Standard</div>
            <div class="compare-plan-tab-name col-lg-3">Enterprise</div>
          </div>
         <ng-container *ngFor="let feature of featureTypes">
          <div class="plan-table-block">
            <div class="plan-table-header">{{feature}}</div>
            <div class="row plan-table-body border-btm pad-10-0" *ngFor="let plan of listPlanFeaturesData[0]" [ngClass]="{'d-none':feature!==(plan[1]?.featureType)}">
              <div class="col col-lg-3">
                <div><span class="border-btm-dasshed">{{plan[1].name}}</span></div>
              </div>
              <div class="col col-lg-3">
                <div *ngIf="plan[1]?.fullDisplayText&&plan[1]?.fullDisplayText!=='-'"><span>{{plan[1]?.fullDisplayText}}</span></div>
                <div *ngIf="(plan[1]?.fullDisplayText===undefined||plan[1]?.fullDisplayText==='-')&&plan[1]?.access!=='none'"><span><i class="si-green-check"></i></span></div>
                <div *ngIf="(plan[1]?.fullDisplayText===undefined||plan[1]?.fullDisplayText==='-')&&plan[1]?.access==='none'"><span><i class="si-close-red"></i></span></div>
              </div>
              <div class="col col-lg-3">
                <div *ngIf="plan[2]?.fullDisplayText&&plan[2]?.fullDisplayText!=='-'"><span>{{plan[2]?.fullDisplayText}}</span></div>
                <div *ngIf="(plan[2]?.fullDisplayText===undefined||plan[2]?.fullDisplayText==='-')&&plan[2]?.access!=='none'"><span><i class="si-green-check"></i></span></div>
                <div *ngIf="(plan[2]?.fullDisplayText===undefined||plan[2]?.fullDisplayText==='-')&&plan[2]?.access==='none'"><span><i class="si-close-red"></i></span></div>
              </div>
              <div class="col col-lg-3">
                <div *ngIf="plan[3]?.fullDisplayText&&plan[3]?.fullDisplayText!=='-'"><span>{{plan[3]?.fullDisplayText}}</span></div>
                <div *ngIf="(plan[3]?.fullDisplayText===undefined||plan[3]?.fullDisplayText==='-')&&plan[3]?.access!=='none'"><span><i class="si-green-check"></i></span></div>
                <div *ngIf="(plan[3]?.fullDisplayText===undefined||plan[3]?.fullDisplayText==='-')&&plan[3]?.access==='none'"><span><i class="si-close-red"></i></span></div>
              </div>
            </div>
          </div>
        </ng-container>
        </div>
        <!-- compare plan ends here -->

        <!-- faq section start from here -->
        <div class="faq-list-section">
          <div class="faq-list-block">
            <div class="faq-list-header">
              Frequently Asked Questions
            </div>
            <div class="faq-list-acc-section">
              <div class="p-pricing-faq-tile" *ngFor="let faq of frequentFAQs;let i=index;">
                <div class="p-pricing-accordian-faq">
                    <a [href]="'#collap'+i" data-toggle="collapse" class="p-pricing-accordian-faq-header collapsed">
                        <div class="d-flex justify-content-between align-items-center p-pricing-accordian-faq-py">
                            <div class="ng-binding">{{faq?.question}}</div>
                        </div>
                        <i class="si si-carrotup icon-chev-angle"></i>
                    </a>
                </div>
                <div [id]="'collap'+i" class="p-pricing-faq-ans collapse">
                    <div class="desc">{{faq?.answer}}</div>                                          
                </div>
            </div>
            </div>
          </div>
        </div>
        <!-- faq section ends here -->
      </div>
   </div>
  </perfect-scrollbar>
</kr-modal>

<!--order confirm & payment gateway popup-->
<kr-modal modalType="center" modalClass="modal_popups_ payment_gateway" #paymentGatewayModel>
  <div class="modal-header">
    <div class="title">{{"plan.order_confirmation"| translate}}</div>
    <div class="close_icon" (click)="closeSelectedPopup('payment_gateway')">
      <img src="assets/icons/modal-close.svg">
    </div>
  </div>
<perfect-scrollbar class="scoll-iframe-load-payment">
    <div class="modal-body">
      <div class="plan-order-steps" [ngSwitch]="selectedPaymentPage">
               <!-- order conformation start fr`om here -->
               <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'!payment_confirm'">
              <div class="col-12">
                <div class="payment-success-route">
                  <div class="rotaion-img">
                    <img src="assets/images/pricing-plan/rotaion-spinner.svg" />
                  </div>
                  <div class="request-hding">Please wait</div>
                  <div class="request-desc">Thank you for your order, please wait while we get the order confirmation details. </div>
                </div>
              </div>
              <div class="col-12">
                <div class="payment-success-route">
                  <div class="rotaion-img">
                    <img src="assets/images/pricing-plan/rotaion-spinner.svg" />
                  </div>
                  <div class="request-hding">Please wait</div>
                  <div class="request-desc">Looks like it is taking longer than usual to process your transaction. </div>
                  <div class="request-desc">You can either choose to wait or close this window to continue with your work. We will let you know once the payment is done.</div>
                </div>
              </div>
              </div>
               <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_confirm'">
                <div class="col-6">
                  <div class="order-img">
                    <img src="assets/images/pricing-plan/plan-order/order-cart.svg" class="order-stage-img" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="order-header text-center">Order Summary</div>
                  <div class="order-summary-table">
                    <div class="order-summary-header">You are changing from {{selectedPlan?.planName}} plan to {{orderConfirmData?.name}} Plan</div>
                    <div class="row order-summary-table-body">
                      <div class="col col-lg-6">
                        <div class="order-summary-table-header">PLAN</div>
                      </div>
                      <div class="col col-lg-6">
                        <div class="order-summary-table-header text-right">AMOUNT</div>
                      </div>
                    </div>
      
                    <div class="row order-summary-table-body">
                      <div class="col col-lg-6">
                        <div class="order-summary-table-row">{{orderConfirmData?.name}} PLAN</div>
                      </div>
                      <div class="col col-lg-6">
                        <div class="order-summary-table-row text-right">$ {{orderConfirmData?.planAmount}}</div>
                      </div>
                    </div>      
                    <div class="order-type">
                      <div class="order-type-option" *ngFor="let type of ['Monthly','Yearly']" (click)="typeOfPlan(type);choosePlanType(type);" [ngClass]="{'order-option-selected':type===termPlan}">{{type}}</div>
                    </div>      
                  </div>
                </div>
              </div>
              <!-- iframe page start here -->                                         
              <div class="row col-12 m-0 h-100" id="i_frame_page" *ngSwitchCase="'payment_iframe'">
                <div class="payment-loader w-100" *ngIf="showLoader">
                  <img src="assets/images/logoIcon.png" class="loaderLogoImage">
                </div> 
                <iframe width="100%" height="100%" scrolling="yes" frameborder="0" [src]="urlSafe" [class.d-none]="showLoader" (load)="showHideSpinner()" allowfullscreen></iframe>
              </div>
              <!-- payment mode success screen start here -->
              <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_success'">
                <div class="col-6">
                  <div class="order-img">
                    <img src="assets/images/pricing-plan/plan-order/payment-confirm.svg" class="order-stage-img" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="payment-status-overview">
                    <div class="payment-status-img"> <img src="assets/images/pricing-plan/plan-order/payment-confirm-success.svg" /></div>
                    <div class="payment-status-header">Yay! Payment Successful...</div>
                    <div class="payment-status-desc">10K Searches added and 10K Queries added per month</div>
                    <div class="payment-status-expire">Expires on 20 June 2022</div>
                    <div class="payment-status-btn">
                      <button class="kr-sg-button-secondary btn_lg" (click)="downloadInvoice()">Download Invoice <span class="px-2"><i class="si si-download-file primaryColor"></i></span></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- payment mode failure screen start here -->
              <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_fail'">
                <div class="col-6">
                  <div class="order-img">
                    <img src="assets/images/pricing-plan/plan-order/payment-failed.svg" class="order-stage-img" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="payment-status-overview">
                    <div class="payment-status-img"> <img src="assets/images/pricing-plan/plan-order/payment-confirm-fail.svg" /></div>
                    <div class="payment-status-header">Payment Failed!</div>
                    <div class="payment-status-desc">10K Searches added and 10K Queries added per month</div>
                    <div class="payment-status-expire">Something Went Wrong</div>
                    <div class="payment-status-btn">
                      <button class="kr-sg-button-secondary btn_lg">Retry Payment <span class="px-2"><i class="si si-re-fresh primaryColor"></i></span></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- payment mode hold screen start here -->
              <div class="row col-12 m-0 align-items-center payment-status-block" *ngSwitchCase="'payment_hold'">
                <div class="col-6">
                  <div class="order-img">
                    <img src="assets/images/pricing-plan/plan-order/payment-hold.svg" class="order-stage-img" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="payment-status-overview">
                    <div class="payment-status-img"> <img src="assets/images/pricing-plan/plan-order/payment-confirm-hold.svg" /></div>
                    <div class="payment-status-header">Payment On Hold!</div>
                    <div class="payment-status-desc">We will send you an email if we need any further information from you. You can either wait or close this window to continue with your work. </div>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-right">
    <button class="kr-sg-button-primary btn_lg" (click)="openPaymentGateway()" *ngIf="selectedPaymentPage==='payment_confirm'">{{"plan.proceed"| translate}}</button>
    <button class="kr-sg-button-ghost btn_lg" (click)="closeSelectedPopup('payment_gateway')" *ngIf="['payment_confirm','payment_iframe'].includes(selectedPaymentPage)">{{"plan.cancel"|translate}}</button>
    <button class="kr-sg-button-ghost btn_lg" (click)="closeSelectedPopup('payment_gateway')" *ngIf="['payment_fail','payment_hold'].includes(selectedPaymentPage)">{{"plan.close"|translate}}</button>
  </div>
</kr-modal>

<!--Add overage modal-->
<kr-modal modalType="center" modalClass="modal_popups_ cancel_subscription_new" #addOverageModel>
  <div class="modal-header">
    <div class="title">{{"plan.order_confirmation"| translate}}</div>
    <div class="close_icon" (click)="overageModal('close')">
      <img src="assets/icons/modal-close.svg">
    </div>
  </div>
  <perfect-scrollbar>
    <div class="modal-body">
      <div class="row col-12 m-0 add-overage-block">
        <div class="col-5">
          <div class="order-img">
            <img src="assets/images/pricing-plan/plan-order/order-cart.svg" class="order-stage-img" />
          </div>
        </div>
        <div class="col-7">
         <section class="add-overage-section">
          <div class="order-header text-center">Order Summary</div>
          <div class="order-summary-table">
            <div class="row order-summary-table-body">
              <div class="col col-lg-10">
                <div class="order-summary-table-header">PLAN</div>
              </div>
              <div class="col col-lg-2">
                <div class="order-summary-table-header text-right">AMOUNT</div>
              </div>
            </div>
            <div class="row order-summary-table-body">
              <div class="col col-lg-10">
                <div class="order-summary-table-row">
                  <div class="order-summary-header">Document Overage</div>
                  <div class="count-btn-group">
                    <div class="count-btn count-dec" (click)="overageDeatils.docCount=overageDeatils.docCount>0?overageDeatils.docCount-1:0">-</div>
                    <div class="count-input"><input class="count-value" type="text" [value]="overageDeatils?.docCount" name="count-num" readonly/></div>
                    <div class="count-btn count-inc" (click)="overageDeatils.docCount=overageDeatils.docCount+1">+</div>
                  </div>
                  <div class="count-amount">{{(overageDeatils?.ingestDocs?.limit|valueFormat)}}</div>
                </div>
              </div>
              <div class="col col-lg-2 d-flex align-items-center">
                <div class="order-summary-table-row text-right">
                  <div class="row-amount-total">$ {{(overageDeatils?.ingestDocs?.amount*overageDeatils.docCount)}}</div>
                </div>
              </div>
            </div>
            <div class="row order-summary-table-body">
              <div class="col col-lg-10">
                <div class="order-summary-table-row">
                  <div class="order-summary-header">Queries Overage</div>
                  <div class="count-btn-group">
                    <div class="count-btn count-dec" (click)="overageDeatils.queriesCount=overageDeatils.queriesCount>0?overageDeatils.queriesCount-1:0">-</div>
                    <div class="count-input"><input class="count-value" type="text" [value]="overageDeatils?.queriesCount" name="count-num" readonly/></div>
                    <div class="count-btn count-inc" (click)="overageDeatils.queriesCount=overageDeatils.queriesCount+1">+</div>
                  </div>
                  <div class="count-amount">{{(overageDeatils?.searchQueries?.limit|valueFormat)}}</div>
                </div>
              </div>
              <div class="col col-lg-2 d-flex align-items-center">
                <div class="order-summary-table-row text-right">
                  <div class="row-amount-total">$ {{(overageDeatils?.searchQueries?.amount*overageDeatils.queriesCount)}}</div>
                </div>
              </div>
            </div>
            <div class="row order-summary-table-body table-footer">
              <div class="col col-lg-10">
                <div class="order-summary-table-row">
                  <div class="order-summary-header">Total Charges</div>
                </div>
              </div>
              <div class="col col-lg-2 d-flex align-items-center">
                <div class="order-summary-table-row text-right">
                  <div class="row-amount-total">$ {{(overageDeatils?.ingestDocs?.amount*overageDeatils?.docCount)+(overageDeatils?.searchQueries?.amount*overageDeatils.queriesCount)}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="order-compare-plan">
            <div class="order-suggation-type">
              <div class="suggation-text">You can also compare and upgrade to Enterprise plan</div>
              <div class="suggation-text">{{selectedPlan?.subscription?.planName}} Plan - {{(selectedPlan?.usage?.ingestDocs?.limit|valueFormat)}} Documents and {{(selectedPlan?.usage?.searchQueries?.limit|valueFormat)}} Queries per month.</div>
            </div>
            <div class="compare-plans-link" (click)="openSelectedPopup('choose_plan')">Compare all plans</div>
          </div>
         </section>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-right">
    <button class="kr-sg-button-primary btn_lg" (click)="buyOverage()" [disabled]="(overageDeatils?.docCount===0&&overageDeatils?.queriesCount===0)||btnLoader"><span class="loader-spin-inside-btn" *ngIf="btnLoader"></span>{{"plan.proceed"| translate}}</button>
    <button class="kr-sg-button-secondary btn_lg" (click)="overageModal('close')">{{"plan.no_thanks"| translate}}</button>
  </div>
</kr-modal>

<!--change plan/excess data show popup-->
<kr-modal modalType="above-modal-drop" modalClass="modal_popups_ order-confirmation excess-modal-data" #changePlanModel>
  <div class="modal-header">
    <div class="title">{{"plan.change_plan"| translate}}</div>
    <div class="close_icon"><img src="assets/icons/modal-close.svg"></div>
  </div>
  <perfect-scrollbar>
    <div class="modal-body">
      <div class="desc-text-info">
        {{"plan.choose_another_plan"| translate}} <span>{{"plan.delete_excess"| translate}}</span>.
      </div>
      <div class="excess-table-data">
        <div class="excess-header">{{"plan.features"| translate}}</div>
        <div class="excess-table-body col-12 row" *ngFor="let feature of featuresExceededUsage">
          <div class="excess-type col-6">{{feature}}</div>
          <div class="excess-name col-6">{{"plan.excess"| translate}}</div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-right">
    <button class="kr-sg-button-primary btn_lg">{{"plan.okay"| translate}}</button>
  </div>
</kr-modal>

<!--contact us form popup-->
<kr-modal modalType="above-modal-drop" modalClass="modal_popups_ contact-us-modal_" #contactUsModel>
  <div class="right-sec-form"> 
    <div class="modal-header">
      <div class="modal-hding">Talk to us</div>
      <div class="close_icon"><img (click)="contactusModel('close')" src="assets/icons/modal-close.svg"></div>
    </div>
  <perfect-scrollbar>
      <div class="scroll-content">       
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">Name</div>
          <input type="text" placeholder="Name" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.name">
        </div>
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">Email</div>
          <input type="text" placeholder="Email" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.email">
        </div>
        <div class="kr-sg-input-text mb-3">
          <div class="label-text">Contact Number</div>
          <input type="text" placeholder="Optional" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.phone">
        </div>
        <div class="kr-sg-input-text-area mb-3">
          <div class="label-text">Message</div>
          <textarea placeholder="Optional" class="input-text" autocomplete="off" [(ngModel)]="enterpriseForm.message"></textarea>
        </div>
        <div class="text-right">
          <button class="kr-sg-button-primary btn_lg" (click)="submitEnterpriseRequest()" [disabled]="btnLoader"><span class="loader-spin-inside-btn" *ngIf="btnLoader"></span>Submit Request</button>
        </div>
      </div>
  </perfect-scrollbar>
</div> 
</kr-modal>