<!-- <p>pricing works!</p>
<button (click)="openPopup1()">popup1</button>
<button (click)="openPopup2()">popup2</button>
<button (click)="openPopup3()">popup3</button> -->

<div class="pricing-container-wrapper">
  <div class="title-header">Plan Details</div>
  <perfect-scrollbar class="pricing-scroll">
    <div class="pricing-details-main-sec">
        <div class="row col-12 card-plans">
            <div class="col-6 current-plan">
              <div class="inner-content">
                <div class="title">Current Subscription Plan</div>
                <div class="kr-sg-dropdowns">                
                  <div class="dropdown dropdown-open">
                      <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><img src="assets/icons/pricing/overflow.svg"></button>                                            
                      <ul class="dropdown-menu content-menu" *ngIf="currentSubscriptionPlan">                                                                    
                        <li (click)="addOverage()" [attr.disabled] = "currentSubscriptionPlan.subscription.planName == 'Free' ? true : null"><a>Add Overage</a></li>
                        <li (click)="compare('choosePlans',currentSubscriptionPlan.subscription)"><a>Change Plan</a></li>
                        <li (click)="openPopup5()" [attr.disabled] = "currentSubscriptionPlan.subscription.planName == 'Free' ? true : null"><a>Cancel Subscription</a></li>
                      </ul>
                    </div>
                </div>
                <div class="plan-details" *ngIf="currentSubscriptionPlan">
                  <div class="type-plan-sec">
                    <div class="type-plan">{{ currentSubscriptionPlan.subscription.planName || 'Free' }} </div>
                    <div class="amount" *ngIf="currentSubscriptionPlan.subscription.planName != 'Free'">${{currentSubscriptionPlan.subscription.planAmount}}<span>/ month</span></div>
                  </div>
                  <div class="plan-time">
                    <div class="started-title">Started On</div>
                    <div class="started-date">{{ currentSubscriptionPlan.subscription.planName.createdAt | date: 'DD/MMM/YYYY' || '18 April 2021'}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 current-plan usage-plan">
              <div class="inner-content">
                <div class="title">Usage</div>
                <div class="queries">
                  <div class="queries-title">Queries</div>
                  <div class="queries-count"><span class="">0</span> / 10K</div>
                </div>
                <div class="bg_queries"></div>
                <div class="queries">
                  <div class="queries-title">Documents</div>
                  <div class="queries-count"><span class="">0</span> / 10K</div>
                </div>
                <div class="bg_queries"></div>
              </div>
            </div>
        </div>

        <div class="upgrade-details-prices row col-12" *ngIf ="currentSubscriptionPlan&&currentSubscriptionPlan.subscription.planName =='Free'">
          <div class="row col-12 upgrade-header-sec">
            <div class="title col-5 p-0">Upgrade to</div>
            <div class="upgrader-btn-sec col-7 p-0">
              <div class="btn-monthly" [ngClass]="{'active-btn' : termPlan == 'Monthly'}" (click)="typeOfPlan('Monthly')">Monthly</div>
              <div class="btn-monthly" [ngClass]="{ 'active-btn' : termPlan == 'Yearly' }" (click)="typeOfPlan('Yearly')">Annually</div>
              <div class="compare-plan" (click)="compare('choosePlans',currentSubscriptionPlan.subscription)">Compare Plans</div>
            </div>
          </div>
          <div class="col-4 upgrade-price-card" *ngFor='let plan of filterPlansData'>
            <div class="inner-content" *ngIf="plan.type!='free'">
              <img src="assets/icons/pricing/standard.svg" class="standard-img">
                <div class="title-sec">
                  <div class="title">{{plan.name}}</div>
                  <div class="price" [ngClass]='{"d-none":currentPlan===plan.name||plan.name=="Enterprise"}'>${{plan.planAmount}} <span>/ {{termPlan==='Monthly'?'month':'year'}}</span></div>
                  <div class="price" [ngClass]='{"d-none":plan.name!="Enterprise"}'>Custom</div>
                </div>
                <div class="card-desc" *ngFor="let info of plan.featureData" [hidden]="!(info.displayOnBanner)">{{info.displayText}}</div>
                <!-- <div class="card-desc">50k Queries per month</div>
                <div class="card-desc">Scheduled Crawling</div>
                <div class="card-desc">Experiments</div>
                <div class="card-desc">Community Support</div> -->
                <button class="kr-sg-button-secondary btn_lg" (click)="plan.name==='Enterprise'?'':compare('order',plan)">{{plan.name==='Enterprise'?'Contact Us':'Choose Plan'}}</button>
            </div>
          </div>

          <!-- <div class="col-4 upgrade-price-card">
            <div class="inner-content">
              <img src="assets/icons/pricing/pro.svg" class="pro-img">
                <div class="title-sec">
                  <div class="title">Pro</div>
                  <div class="price">$399 <span>/ month</span></div>
                </div>
                <div class="card-desc">50k Documents  </div>
                <div class="card-desc">100k Queries per month</div>
                <div class="card-desc">Connectors & Unstructured content</div>
                <div class="card-desc">Multiple indices</div>
                <div class="card-desc">E-mail Support</div>
                <button class="kr-sg-button-secondary btn_lg">Choose Plan</button>
            </div>
          </div>

          <div class="col-4 upgrade-price-card custom_">
            <div class="inner-content">
              <img src="assets/icons/pricing/enterprise.svg" class="enterprise-img">
              <div class="title-sec">
                <div class="title">Enterprise</div>
                <div class="custom-title">Custom</div>
              </div>
              <div class="card-desc">Any no. of documents </div>
              <div class="card-desc">Any no. of documents</div>
              <div class="card-desc">Custom SLAs</div>
              <div class="custom-desc-text">Fully Customizable & Tailored Solution for your business needs</div>
              <button class="kr-sg-button-secondary btn_lg">Contact US</button>
            </div>
          </div> -->
        </div>

        <div class="usage-metrics-sec row col-12 m-0">
          <div class="col-12 main-title">Usage Metrics</div>
          <div class="row col-12 m-0 p-0 cards-usage-metrics">
              <div class="col-6 metrics-data">
                <div class="inner-content">
                    <div class="title">Document Ingestion Analytics <span>| Jan - June (Last 6 Months)</span></div>
                    <div echarts [options]="documentGraph" class="demo-chart-graphMode" style="height: 320px;"></div>
                </div>
              </div>
              <div class="col-6 metrics-data">
                <div class="inner-content">
                    <div class="title">Query Usage Analytics <span>| Jan - June (Last 6 Months)</span></div>
                    <div echarts [options]="queryGraph" class="demo-chart-graphMode" style="height: 320px;"></div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </perfect-scrollbar>
</div>




<!--popup1-->
<!-- <kr-modal modalType="center" modalClass="modal_popups_ order-confirmation" #addPricingModel1>
      <div class="modal-header">
        <div class="title">Order Confirmation</div>
        <div class="close_icon"><img (click)="closePopup1()" src="assets/icons/modal-close.svg"></div>
      </div>
      <perfect-scrollbar>
        <div class="modal-body">
          <div class="plan-desc">You are Subscribing to <span>Standard Plan</span>. Please find the order summary below.</div>
          <div class="order-confirmation-table">
            <div class="order-confirmation-table-header row col-12 m-0">
              <div class="title col-9">PLAN</div>
              <div class="title col-3">AMOUNT</div>
            </div>
            <div class="order-confirmation-table-body row col-12 m-0">
              <div class="col-9 plan_details">
                <div class="plan-type">Standard Subscription</div>
                <div class="btn-monthly"  [ngClass]="{'active-btn' : termPlan == 'monthly'}" (click)="termPlan = 'monthly'">Monthly</div>
                <div class="btn-monthly" [ngClass]="{ 'active-btn' : termPlan == 'annually' }" (click)="termPlan = 'annually'">Annually</div>
              </div>            

              <div class="amount col-3">$ 99</div>
            </div>
            <div class="order-confirmation-table-body row col-12 m-0">             
              <div class="col-9 plan_details">
                <div class="plan-type">Document Overage</div>
                <div class="add-doc-btn-sec">
                  <div class="minus"><img src="assets/icons/pricing/minus-small.svg"></div>
                  <div class="increase-num">1</div>
                  <div class="plus"><img src="assets/icons/pricing/plus-small.svg"></div>
                </div>
                <div class="amount-increased">10 k</div>
              </div>

              <div class="amount col-3">$ 99</div>
            </div>
            <div class="order-confirmation-table-body row col-12 m-0">
              <div class="col-9 total-amount text-right">Total Amount</div>
              <div class="amount col-3">$ 99</div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
      <div class="modal-footer text-right">
        <button class="kr-sg-button-primary btn_lg" (click)="openPopup2()">Pay</button>
        <button class="kr-sg-button-secondary backbtn btn_md" (click)="closePopup1()">Cancel</button>
      </div>
</kr-modal> -->
<!--popup2-->
<!-- <kr-modal modalType="center" modalClass="modal_popups_ payment-confirmation-price" #addPricingModel2>
    <div class="modal-header">
      <div class="title">Payment Confirmation</div>
      <div class="close_icon">
        <img (click)="closePopup2()"src="assets/icons/modal-close.svg">
      </div>
    </div>
    <perfect-scrollbar>
      <div class="modal-body">
          <div class="payment-confiramtion-data d-none">
            <div class="img-block"><img src="assets/icons/pricing/payment-success.svg"></div>
            <div class="payment-success-message">
              <div class="title">Yay! Payment Successfull...</div>
              <button class="kr-sg-buttonicon-secondary btn_lg"><img src="assets/icons/pricing/download.svg">Download Invoice</button>
            </div>
          </div>
          <div class="payment-confiramtion-data pl-0 pr-0 m-0 row pt-5">
            <div class="img-block col-7 p-0"><img src="assets/icons/pricing/payment-failed.svg"></div>
            <div class="payment-success-message col-5 p-0">
              <div class="title">Oops! Payment Failed!!</div>
              <button class="kr-sg-buttonicon-primary btn_lg">Retry Payment</button>
            </div>
          </div>
      </div>
    </perfect-scrollbar>
    <div class="modal-footer text-right">
      <button class="kr-sg-button-primary btn_lg" (click)="closePopup2()">Done</button>     
    </div>
</kr-modal> -->
<!--popup3-->

<kr-modal modalType="center" modalClass="modal_popups_ overage_plan" #addOverageModel>
  <div class="modal-header">
    <div class="title">Overage Plan</div>
    <div class="close_icon">
      <img  (click)="closeOveragePopup()" src="assets/icons/modal-close.svg">
    </div>     
  </div>
  <perfect-scrollbar>
    <div class="modal-body">
      <div class="mian-title-desc">The document/query is reaching maximum limit for your current plan. No worries, We got you covered!!</div>
      
      
      <div class="col-12 p-0 mian-title">Add Overage</div>
      <div class="add_overage_data">        
        <div class="overage_card">
          <div class="titles-sec">
            <div class="title">Documents</div>
            <div class="price">${{overageDeatils.ingestDocs.amount}} <span>/ month</span></div>
          </div>
          <div class="info-card-overage">Add <span>Additional {{overageDeatils.ingestDocs.limit | valueFormat}}</span> documents to your plan</div>
          <div class="btn_add_doc text-right">
            <button class="kr-sg-button-secondary btn_lg" [ngClass] = "{'d-none': addDocOver}" (click) = "addDocument()">Add Documents </button>
            <div class="add-doc-block" [ngClass] = "{'d-none': !addDocOver}">
              <div class="minus-btn" (click)="count('doc','minus')"><img src="assets/icons/pricing/minus.svg"></div>
              <div class="number-doc">{{numberDoc}}</div>
              <div class="plus-btn" (click)="count('doc','plus')"><img src="assets/icons/pricing/plus.svg"></div>
            </div>
          </div>
        </div>
        <div class="overage_card">
          <div class="titles-sec">
            <div class="title">Queries</div>
            <div class="price">${{overageDeatils.searchQueries.amount}} <span>/ month</span></div>
          </div>
          <div class="info-card-overage">Add <span>Additional {{overageDeatils.searchQueries.limit | valueFormat}}</span> queries to your plan</div>
          <div class="btn_add_doc text-right">
            <button class="kr-sg-button-secondary btn_lg" [ngClass] = "{'d-none': addQueOver}" (click) = "addQuerry()">Add Queries</button>
            <div class="add-doc-block" [ngClass] = "{'d-none': !addQueOver}">
              <div class="minus-btn" (click)="count('query','minus')"><img src="assets/icons/pricing/minus.svg"></div>
              <div class="number-doc">{{numberQuery}}</div>
              <div class="plus-btn" (click)="count('query','plus')"><img src="assets/icons/pricing/plus.svg"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="change-plan-container" *ngIf="currentSubscriptionPlan">
        <button class="kr-sg-button-secondary btn_lg" (click)="compare('choosePlans',currentSubscriptionPlan.subscription)">Change Plan</button>
        <div class="info-text">You can also choose to <span>Upgrade your Plan</span> </div>
        <div class="info-text" *ngIf="currentSubscriptionPlan.subscription.planId == plansIdList.standardMonth">Upgrade to <u>Pro</u> to get <span>{{overageDeatils.ingestDocs.limit | valueFormat}} documents</span> and <span>{{overageDeatils.searchQueries.limit | valueFormat}} Queries</span> per month.</div>
        <div class="info-text">Upgrade to <u>Enterprise</u> to get <span>custom</span> no. of documents and queries per month.  </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-right">
    <button class="kr-sg-button-primary btn_lg mr-3" [disabled] = "!addDocOver && !addQueOver" (click)="compare('orderOverage')">Proceed</button>
    <button class="kr-sg-button-secondary backbtn btn_md mr-2" (click)="cancelOveragePopup()">Cancel</button>
  </div>
</kr-modal>

<kr-modal modalType="center" modalClass="modal_popups_ cancel_subscription" #cancelSubscriptionModel>
  <div class="modal-header">
    <div class="title">Cancel Subscription</div>
    <div class="close_icon">
      <img (click)="closeCancelSubsPopup()"src="assets/icons/modal-close.svg">
    </div>
  </div>
  <perfect-scrollbar>
    <div class="modal-body">
      <ul class="cancel-subscription-list">
        <li>Your subscription is valid till the end of billing cycle i.e.  <span>24 Nov 2021</span>.</li>
        <li>Post billing cycle your app will not respond to the end users.</li>
        <li>However, you will have access to your app for 15 more days after cancellation to either reactivate or take a backup of your application. After 15 days your app will be permanently deleted.</li>
      </ul>      
      <div class="cancel-subscription-data row m-0">
        <div class="img-block col-8"><img src="assets/icons/pricing/cancel_subscription.svg"></div>
        <div class="cancel-subscription-reasons col-4 p-0">
          <div class="group-checkbox">
            <div class="heading-title">What is the Reason you want to Cancel?</div>
            <div class="kr-sg-checkbox d-block">
                <input id="checkbox_grp3" class="checkbox-custom" type="checkbox">
                <label for="checkbox_grp3" class="checkbox-custom-label">It’s too costly</label>
            </div>
            <div class="kr-sg-checkbox d-block">
              <input id="checkbox_grp1" class="checkbox-custom" type="checkbox">
              <label for="checkbox_grp1" class="checkbox-custom-label">I found another product that fulfils my needs</label>
            </div>
            <div class="kr-sg-checkbox d-block">
                <input id="checkbox_grp4" class="checkbox-custom" type="checkbox">
                <label for="checkbox_grp4" class="checkbox-custom-label">I don’t use it enough</label>
            </div>
            <div class="kr-sg-checkbox d-block">
                <input id="checkbox_grp5" class="checkbox-custom" type="checkbox">
                <label for="checkbox_grp5" class="checkbox-custom-label">I don’t need it now</label>
            </div>
            <div class="kr-sg-checkbox d-block">
              <input id="checkbox_grp15" class="checkbox-custom" type="checkbox">
              <label for="checkbox_grp15" class="checkbox-custom-label">Other</label>
            </div>              
          </div>
          <div class="kr-sg-input-text-area">
            <div class="label-text">Comments</div>
            <textarea placeholder="Optional" class="input-text"></textarea>                                
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
  <div class="modal-footer text-right">    
    <button class="kr-sg-button-primary btn_lg" (click)="cancelSubscription()">Cancel Subscription</button>     
    <button class="kr-sg-button-secondary btn_lg">Later</button>
  </div>
</kr-modal>

<app-upgrade-plan #plans (overageModel)="closeOveragePopup()"></app-upgrade-plan>