<div class="user-guide">
  <div class="modal-header">
    <div class="modal-title">{{'addFaq_how_to_annotate' | translate}}</div>    
    <img class="closeCross" src="assets/images/close.svg" (click)="close()">
  </div>
  <div class="modal-body">
    <div class="desc-text">{{"addFaq_how_to_annotate_desc" | translate}}
      <br/>{{"addFaq_how_to_annotate_desc_to_annotate"  |translate}}</div>
    <div class="small-text">{{"addFaq_how_to_annotate_automation_desc_note" | translate}}</div>
    <div class="box-content">
        <div class="content">
          <div class="buttons-gruop">
            <div class="buttons">
              <button class="kr-sg-button-secondary heading_text">Heading</button>
              <button class="kr-sg-button-secondary header">Header</button>
              <button class="kr-sg-button-secondary footer">{{"addFaq_annotation_automation_footer" | translate}}</button>
              <button class="kr-sg-button-secondary ignore-text">{{"addFaq_annotation_automation_excludeExclude" | translate}}</button>
            </div>
          </div>
          <div class="heading">{{"addFaq_how_to_annotate_automation" | translate}}</div>
          <div class="desc-info">{{"addFaq_how_to_annotate_automation_desc" | translate}}</div>
          <a href="https://docs.kore.ai/searchassist/concepts/managing-content/adding-faqs/" target="_blank" rel="noopener noreferrer" class="learn-more-link">Learn more</a>
        </div>
    </div>    
  </div>
  <div class="modal-footer">    
    <button class="kr-sg-button-primary btn_lg" (click)="getStarted()">Get Started</button>
    <button class="kr-sg-button-secondary btn_lg" (click)="close('cancelFaqExtract')">Cancel</button>
  </div>
</div>