.advanceContainer{
    .header{
        padding: 14px 4px 0px 24px;
        height: 80px;
    }
    p{
        position: absolute;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        color: #9B9B9B;
        
        //padding: 24px 4px 24px 24px;
    }
    span{
        position: absolute;
        font-weight: 600;
        //font-size: 18px;
        line-height: 19px;
        color: #1A1A1A;
        padding-top : 15px;
        //padding: 22px 0px 24px 90px;
    }
    .mini-graph{
        background: #FFFFFF;
        border: 1px solid #A8C8DD;
        box-sizing: border-box;
        border-radius: 8px;
        position: absolute;
        left: 228px;
        top: 16px;
        height: 50px;
        width: 300px;
        padding-top: 6px;
        padding-left: 8px;
    }
    .search-val{
       // padding: 8px;
    }
    .click-val{
        padding-left: 62px;
        color: #0D6EFD;
    }
    .ctr-val{
        padding-left: 124px;
        color: #0D6EFD;
    }
    .tab-grp{
        padding: 0px 0px 0px 24px;
    }
    .mat-grp{
        padding: 69px 50px 0px 24px;
    }
    .tab-name{
        font-weight: 600;
        font-size: 14px;
        //line-height: 14px;
        letter-spacing: 0.714286px;
        text-transform: uppercase;
        padding: 12px;
        cursor: pointer;
    }
    .tab-act{
        margin-left: 125px;
    }
    .tab-slider{
        margin-top: 45px;
        margin-left: -15px;
    }
    .card_link{
        height: 50px;
        background: #FFFFFF;
        box-shadow: inset 0px -0.5px 0px #DDDDDD;
        text-decoration: none !important;
    }
    .data-val{
        border: 1px solid #A8C8DD;
        width: 85px;
        height: 37px;
        border-radius: 5px;
        margin-left: 182px;
        &:hover{

        }
    }
    .active{
        color: #0D6EFD;
        border-bottom: 1px solid #0D6EFD;
    }
    .accordion-ins-head{
        border: 0;
        border-radius: 0;
        //padding-left: 37px;
        background-color: #FFFFFF;
        border-top: 1px solid #DDDDDD;
        margin: -2px 5%;
        //border-bottom: 1px solid #DDDDDD;
        a{
            text-decoration: none;
            color: #161928;
        }
        .action-header{
            position: relative;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #161928;
            
            .status{
                position: relative;
                margin-left: 8px;
                background: #E7F1FF;
                border-radius: 2px;
                padding: 3px 6px;
            }
            
        }
        .pl-pr-0{
            padding-right: 0px;
            padding-left: 0px;
        }
        .time{
            position: relative;
            
        }
        .span-act{
            font-weight: 600;
        }
        .mr-0{
            margin-right: 0px
        }
        .action-desc{
            position: relative;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #979797;
            margin-left: 20px;
        }
    }   
    .accordion-ins {
        background-color: transparent !important;
        color: #161928;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
        cursor: pointer !important;
        position: relative;
        position: relative;
        padding: 0px 0 0 20px;
        margin-bottom: 15px;
        .card {
            border-top: 1px solid #DDDDDD;
            border-bottom: 1px solid #DDDDDD;
            box-shadow: inset 0px -0.5px 0px #DDDDDD;
            height: 50px;
            .card-header {
                border: 0;
                border-radius: 0;
                padding: .75rem 1.25rem;
                background-color: #FFFFFF
                /* padding: 0; */
                a{
                    text-decoration: none;
                    color: #161928;
                }
            }
        }
    }
    
}
.adv-opt-mode{
    transition-delay: 1s;
    position: absolute;
    top: 68px;
    z-index: 1000;
    height: 100%;
    //margin-left: 38%;
    width: calc(100% - 60%);
    box-shadow: -3px 0px 30px rgba(18, 61, 101, 0.2), inset -2px -4px 80px rgba(255, 255, 255, 0.18) !important;
    background: #FFFFFF;
    border-radius: 6px;
    bottom: 60px;
    min-height: 40px;
}
.dis{
   // display: none;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.transition-advance{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mat-tab-label-0-0{
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.714286px;
    text-transform: uppercase;
    color: #0D6EFD;
}

