.insights-container{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 67px;
    z-index: 1000;
    height: calc(100% - 84px);
    width: 555px;
    box-shadow: -3px 0px 15px rgba(18, 61, 101, 0.2), inset -2px -4px 80px rgba(255, 255, 255, 0.18) !important;
    background: #FFFFFF;
    border-radius: 6px 0px;
    bottom: 60px;
    min-height: 40px;
    right: 562px;
    .header-sec{
        padding: 18px 20px;
        .query{
            color: #9B9B9B;
            letter-spacing: 0.714286px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
        }
        .q-title{
            color: #1A1A1A;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
        }
        .graph-sec{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 15px !important;
            background: #FFFFFF;
            border: 1px solid #A8C8DD;
            box-sizing: border-box;
            border-radius: 8px;
            .data-counts{
                padding-right: 35px;
                img{
                    cursor: pointer;
                }
                &:last-child{
                    padding-right: 0;
                }
                .title{
                    color: #9B9B9B;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    margin-bottom: 2px;
                }
                .count{
                    color: #26344A;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    &.blue-color{
                        color: #3368BB;
                    }
                }
            }
        }
    }
    .tab-sec-data{
        .nav-tabs{
            padding: 13px 0px;
            margin: 0 20px;
            border-bottom: 1px solid #D8D8D8;
            position: relative;
            .nav-item{
                margin: 0;                
                .nav-link{
                    padding: 0 20px;
                    margin: 0;
                    color: #26344A;
                    letter-spacing: 0.714286px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    position: relative;
                    border: 0;
                    border-radius: 0;
                    &::before{
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        background: #0D6EFD;
                        bottom: -14px;
                        left: 0;
                        display: none;
                    }
                    &.active{
                        color: #0D6EFD;
                        &::before{
                            display: block;
                        }
                    }
                }
            }
            .type_sort_dropdown{
                position: absolute;
                right: 5px;
                padding: 0px 5px;
                border-radius: 4px;
                &.show{                    
                    background: #e5e8ec;
                }
            }
        }
        .tab-content{
            padding: 0 20px;
            .tab-data-content{
                .card-data{
                    padding: 12px 20px;
                    box-shadow: inset 0px -0.5px 0px #DDDDDD;
                    .card_header{
                        .card-link{
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            &::before{
                                content: "";
                                position: absolute;
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABuSURBVHgBdY6xDYAwDASDySgZgA7YIh1QITZLGxqyBEU6ahSJGRggMRIIYYz4yvrz2y/GeS2sD1owQYRMI2aT9Vv/AveAmAyFQLcolPz2BcMO4kfwTeDQlMoBN7taGdbqMc/neZIOZVzaSjmaPgBYiDNgfDRYNwAAAABJRU5ErkJggg==');                                
                                height: 10px;
                                width: 10px;
                                background-repeat: no-repeat;
                                left: -20px;
                                background-position: center;
                                top: 5px;
                            }
                            &[aria-expanded="true"]{
                                align-items: baseline;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBfc8/DkAwGAVwr+lBDD2ATThFN2HiJI7CRJh6CcRmlh6FftJB0vjTN3353m95GKc9Ohlk4IkxpPgBFjKg9kHOaWNFKhQRVX/IdlksFO5Hv+gSQPNEeSJae8MtXOyiz3SzlsOqX+Muzzgpsz8lQkgAAAAASUVORK5CYII=');                                
                                    height: 10px;
                                    width: 10px;
                                    background-repeat: no-repeat;
                                    left: -20px;
                                    background-position: center;
                                    top: 5px;
                                }
                                .title-data{
                                    white-space: normal !important;
                                    font-weight: 600;
                                    padding-right: 10px;
                                }
                            }
                            .title-data{
                                color: #161928;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 15px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                padding-left: 0;
                            }
                            .status-data{
                                padding-left: 0;
                                .img-block{
                                    margin-right: 15px;
                                }
                                .status{
                                    background: #E7F1FF;
                                    border-radius: 2px;
                                    color: #4788C7;
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 14px;
                                    padding: 2px 10px;
                                }
                            }
                            .time {
                                color: #9B9B9B;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                text-align: right;
                                padding: 0;
                            }
                        }
                    }
                    .card-body{
                        padding: 10px 0;
                        .desc-text{
                            color: #979797;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }
                }
            }
        }
    }
    .insight-menu{
        box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
        width: 140px;    
        min-width: 140px;
        li{        
            color: #202124;       
            cursor: pointer;
        }
    }
    .graphMode{
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        border: 0;
        width: 336px;
        top: 75px;
        right: 490px;
        padding: 15px 20px;
    
        .header{        
            .head-txt{
                font-weight: 500;
                font-size: 14px;
            }
            .closeCross{              
                cursor: pointer;
                float: right;                
            }
        }
        
        .legends{      
            .mr-10{
                margin-right: 10px;
            }     
            .searches{
                .head{
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    color: #9AA0A6;                
                }
                .val{
                    font-weight: 500;
                    font-size: 14px;                
                }
            }
            .clicks{
                .head{
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    color: #9AA0A6;                                
                }
                .val{
                    font-weight: 500;
                    font-size: 14px;                
                    color: #3368BB;
                }
            }
            .CTR{
                .head{
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                    color: #9AA0A6;                
                }
                .val{
                    font-weight: 500;
                    font-size: 14px;                
                    color: #009DAB;
                }
            }
        }
    }
    .scroll-content{
        height: calc(100vh - 225px);
    }
    .empty-screen{
        text-align: center;
        padding: 70px 0;        
    }
}

//Test 
.graph-insight{   
    .graphMode{
            top: 67px;
            z-index: 1000;
            right:300px;
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            border: 0;
            width: 336px;
            top: 150px;
            right: 172px;
            padding: 15px 20px;

            .header{        
                .head-txt{
                    font-weight: 500;
                    font-size: 14px;
                }
                .closeCross{              
                    cursor: pointer;
                    float: right;                
                }
            }
            .demo-chart-graphMode{
                height: 300px !important;
            }
            .legends{      
                .mr-10{
                    margin-right: 10px;
                }     
                .searches{
                    .head{
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 12px;
                        color: #9AA0A6;                
                    }
                    .val{
                        font-weight: 500;
                        font-size: 14px;                
                    }
                }
                .clicks{
                    .head{
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 12px;
                        color: #9AA0A6;                                
                    }
                    .val{
                        font-weight: 500;
                        font-size: 14px;                
                        color: #3368BB;
                    }
                }
                .CTR{
                    .head{
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 12px;
                        color: #9AA0A6;                
                    }
                    .val{
                        font-weight: 500;
                        font-size: 14px;                
                        color: #009DAB;
                    }
                }
            }
    }
}
// Test 



// New UI//

.query_analytics_content{
    position: absolute;
    top: 163px;
    right: 155px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    width: 185px;
    padding: 17px 15px;
    z-index: 10000;
    &::before{
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: #fff;
        transform: rotate(45deg);
        right: -6px;
        top: 45px;
        border: 1px solid rgb(0 0 0 / 10%);
        border-left: 0;
        border-bottom: 0;
    }
    .header-sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .title{
            color: #26344A;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
        .close-analytics{
            padding: 0px 8px;
            cursor: pointer;
        }
    }
    .analytics-counts{
        display: flex;
        align-items: center;
        .count-sec{
            margin-right: 30px;
            .title{
                color: #9AA0A6;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 2px;
            }
            .count{
                display: flex;
                align-items: center;
                color: #3C4043;
                font-weight: 500;
                font-size: 14px;
                img{
                    margin-right: 8px;
                }
                .feedback-thumb{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    color: #3C4043;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}