@import './../../../app/scss/variables/variables.scss';

.manage-deflection{
    padding-left: 55px;
    padding-top: 52px;   
    height: calc(100vh);
    overflow: hidden;
    .configure-setting-header{
        padding: 10px 20px;
        background-color: $borderColor;    
        .title{
            color: $primaryColor;
            font-size: 14px;
        }
        button{
            font-size: 12px;            
            padding: 0px 12px;
        }   
    }
    .configure-settions{
        padding: 0 0px 0 20px;
        height: calc(100% - 52px);      
        .preview-config{
            padding: 20px 0;
            .title{
                font-size: 14px;
                color: $secondaryColor;
            }
            .link-preview{
                color: $hoverColor;
                font-size: 12px;
                cursor: pointer;
                span{
                    padding-right: 12px;
                }
                .globalVariable{
                    margin-right: 10px;
                }
            }
        }
        .accordion-block-content{
            .acc-sec{
                padding-right: 130px;
                width: 100%;
                .card-content{
                    position: relative;
                    .card-header{
                        border-radius: 0;                      
                        background: $whiteColor;
                        padding: 0px 0px 0px 38px;
                        border: 0;
                        // border-bottom: 1px solid $borderColor;                        
                        a{
                            display: block;
                            padding: 20px 0px 15px 0px;
                            &::after{
                                content: "";
                                position: absolute;
                                width: 100%;
                                border-bottom: 1px solid $borderColor;
                                bottom: 0;
                                left: 0;                                
                            }
                            .title{
                                color: $primaryColor;
                                font-size: 14px;
                                font-weight: bold;
                                // margin-bottom: 5px;
                            }
                            .message-count{
                                color: $secondaryColor;
                                font-size: 14px;
                            }
                            .sub-title{
                                color: $secondaryColor;
                                font-size: 14px;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                background-image: url('/assets/images/carrot-right.svg');
                                width: 20px;
                                height: 20px;
                                left: 0;
                                background-repeat: no-repeat;
                                background-size: 100%;
                            }
                            &[aria-expanded="true"]{
                                &::before{                                   
                                    background-image: url('/assets/images/carrot-down.svg');                                   
                                } 
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }                  
                    .collapse-content{
                        padding: 0 0 20px 38px;
                        position: relative;
                        &.show{
                            &::before{
                                content: "";
                                position: absolute;
                                height: calc(100% + 30px);                          
                                left: 10px;
                                top: -38px;
                                width: 1px;
                                background: $borderColor;
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                width: calc(100% - 10px);
                                border-bottom: 1px solid $borderColor;
                                left: 10px;
                                bottom: 0;
                            }
                        }
                        .card-body-content{
                            .inner-content{
                                background-color: $backgroundColor;
                                padding: 10px;
                                .messages-list{
                                    margin-bottom: 8px;
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                    .input-box-content{
                                        border-radius: 10px;
                                        border: solid 1px $borderColor;
                                        background-color: $whiteColor;
                                        padding: 8px 10px;
                                      
                                        textarea {
                                            width: 100%;
                                            border: none;
                                            overflow: hidden;
                                        }
                                    }
                                }
                            }
                        }
                    }                    
                }
            }
            .left-side-sec{
                flex-shrink: 0;
                width: 300px;
                .config-preview{                    
                    border: solid 1px $borderColor;
                    background-color: $whiteColor;
                    padding: 20px;
                    .card-setup-data{
                        margin-bottom: 20px;
                        &:last-child{
                            margin: 0;
                        }
                        .heading-title{
                            text-align: center;
                            background-color: $borderColor;
                            padding: 8px;
                            font-weight: bold;
                        }
                        .header-body{
                            background-color: $backgroundColor;
                            padding: 20px 20px 17px 20px;
                            .name{
                                padding-bottom: 12px;
                                padding-left: 27px;
                                font-size: 14px;
                                color: $secondaryColor;
                                &:last-child{
                                    padding-bottom: 0;
                                }
                                img{
                                    margin-right: 11px;
                                }
                                &.status{
                                    padding-left: 0;
                                    color: $primaryColor;
                                }
                            }
                        }
                    }
                }
            }           
        }
    } 
    .pr-20{
        padding-right: 20px;
    }
    .pb-50 {
        padding-bottom: 50px;
    }   
}

* {
    outline: none;
}


.save-action-btn{
    position: absolute;
    bottom: 0;
    height: 50px;
    box-shadow: 0 -1px 10px 0 rgba(138, 149, 159, 0.5);
    z-index: 99;
    border: solid 1px #d8d8d8;
    background-color: $whiteColor;
    padding: 7px 7px 7px 80px;
    left: 0;
    width: 100%;                                         
    // button{
    //     min-width: 92px !important;
    // }
    .success-message{
        display: inline-block;
        position: relative;                    
        font-size: 14px;                                           
        color: #09a624;
        margin-left: 15px;
        img{
            margin-right: 20px;
        }
    }
    .error-message{
        display: inline-block;
        position: relative;                    
        font-size: 14px;                                           
        color: $warningRed;
        margin-left: 15px;
        img{
            margin-right: 20px;
        }
    }  
}

.manage-form-please-wait-all{
    position: absolute;
    top: 45%;
    left: 45%;
    box-shadow: 0 5px 10px 0 #e9eff5;
    background:  #fff;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }  
}

.error-container {
    text-align: center;
    margin: 10%;
    .err-msg {
        font-size: 20px;
        color: #26344a;
        margin-top: 20px;
    }
}