<div class="g-settings-container">
    <app-useronboarding-journey [componentType]='componentType'></app-useronboarding-journey>
    <div class="header-title">{{"genaralSettings_generalSettings" | translate}}
        <span class="module-topic" tooltipClass="tooltip-global-" [container]="'body'" ngbTooltip='{{"sa_topic_guide" | translate}}' 
 placement="right-center"(click)="openUserMetaTagsSlider()">
            <i class="si-topic-guide-1"></i>
        </span>
    </div>
    <perfect-scrollbar class="action-body-scroll">
        <div class="settings-general-data">
            <app-actions></app-actions>
            <app-small-talk > </app-small-talk>
        </div>
    </perfect-scrollbar>      
</div>
