@import "./../../../app/scss/variables/variables.scss";

.ml-threshold-container{
    padding: 0px 5px 0 70px;
    margin-right: 0;
    height: 100vh;
    .scrollBarContainer{
        height: calc(100vh - 30px);
        width: 100%;
        padding-bottom: 30px;
        .headerTitle{
            color: #202124;
            font-weight: 500;
            font-size: 20px;
        }
        .toggleContainer{
            &.paddinTop-30{
                padding-top: 30px;
            }
            .label{
                color: #202124;
                font-weight: 500;
                font-size: 14px;
            }
            .info{
                color: #5F6368;
                font-weight: normal;
                font-size: 12px;
                margin-bottom: 8px;
            }
            .kr-sg-toggle input:checked + .slider {
                background-color: #0D6EFD;
                box-shadow: 0 0 1px #0D6EFD;
            }
        }
        .sliderContainer{
            .label{
                color: #202124;
                font-weight: 500;
                font-size: 14px;
            }
            .info{
                color: #5F6368;
                font-weight: normal;
                font-size: 12px;
                margin-bottom: 8px;
            }
            .kr-sg-radiobutton .radio-custom:checked + .radio-custom-label::before {
                content: "";
                color: #ffffff;
                font-size: 12px;
                background-color: #0D6EFD;
                border: 1px solid #0D6EFD;
                box-shadow: inset 0 0 0 3px #ffffff;
            }
            .kr-sg-radiobutton .radio-custom:hover:not([disabled]) + .radio-custom-label {
                color: #0D6EFD;
            }
        }
    }
}

// .ml-threshold-container {
//     // padding-left: 20px;
//     // padding-right: 10px;
//     padding: 30px 5px 0 70px;
//     margin-right: 0;
//     .accordian-content-sec {
//         width: 100%;
//         height: calc(100vh - 94px); 
//         padding-right: 60px;
//         .inputFields-accordions {
//             padding-right: 10px;
//             padding-left: 10px;
//             clear: both;
//             .accr-sec {
//                 padding: 15px 0px;
//                 position: relative;
//                 &.line-activate {
//                     &::before {
//                         content: "";
//                         position: absolute;
//                         left: 6px;
//                         width: 1px;
//                         border-left: 1px solid #E4E5E7;
//                         height: 100%;
//                         height: calc(100% - 38px);
//                         top: 38px;
//                     }
//                 }
//                 &::after {
//                     content: "";
//                     position: absolute;
//                     left: 30px;
//                     width: calc(100% - 30px);
//                     border-bottom: 1px solid #E4E5E7;
//                     bottom: 0;
//                 }
//                 .acc-names-sec {
//                     display: flex;
//                     .arrow-btn {
//                         margin-right: 10px;
//                         width: 20px;
//                         cursor: pointer;
//                         .fa {
//                             font-size: 16px;
//                             color: $primaryColor;
//                             font-weight: bold;
//                         }
//                     }
//                     .text-header {
//                         cursor: pointer;
//                         width: 100%;
//                         .title {
//                             font-size: 14px;
//                             color: #202124;
//                         }
//                         .settings {
//                             font-size: 12px;
//                             float: right;
//                             color: #5F6368;
//                         }
//                         .desc {
//                             color: #5F6368;
//                             font-size: 12px;
//                         }
//                     }
//                 }
//                 .container-default {
//                     overflow: auto;
//                     &.container-show-scroll {
//                         overflow: auto;
//                     }
//                 }
//                 .scope-table-list {
//                     padding-left: 30px;
//                     margin: 10px 0px;
//                     .create-new-app {
//                         text-align: center;
//                     }
//                     .label {
//                         font-size: 14px;
//                         font-weight: 600;
//                         color: #202124;
//                     }
//                     .info {
//                         font-size: 12px;
//                         color: #5F6368;
//                         margin: 0 0 10px 0;
//                     }
//                     .with-label{
//                         margin-left: 40px;
//                     }
//                     .kr-sg-toggle.with-label.yesNo{
//                         margin-left: 10px;
//                     }
//                     .kr-sg-toggle .slider span.no {
//                         position: absolute;
//                         top: -4px;
//                         margin-left: -55px;
//                         &.leftMargin{
//                             margin-left: -26px;
//                         }
//                     }
//                     .kr-sg-toggle .slider span.yes {
//                         top: -4px;
//                     }
//                     .kr-sg-toggle input:checked + .slider{
//                         background-color: #0e6efd;
//                         box-shadow: 0 0 1px #0e6efd;
//                     }
//                 }
//                 .trashSlider{
//                     width: 300px;
//                 }
//             }
//         }
//     }
//     .protip-info {
//         color: #ec7d01;
//         display: flex;
//         padding: 9px 15px;
//         border-radius: 4px;
//         border: solid 1px #f3d19b;
//         background-color: #F8F9FA;
//         margin-bottom: 10px;
//         .bulb-icon {
//             margin-right: 22px;
//         }
//         .info-tip {
//             font-size: 14px;
//             color: #ec7d01;
//         }
//     }
//     .ml-threshold-train {
//         padding-left: 10px;
//         padding-top: 10px;
//         .helphint {
//             background-color: #f2f3f5;
//             padding: 15px;
//         }
//         .marginB20T0 {
//             margin-top: 0;
//             margin-bottom: 20px;
//         }
//     }
// }
// ::ng-deep.accordian-content-sec{
//     padding-right: 22px;
//     .SMtrainDiv{
//         .helphint{
//             border-radius: 5px;
//             display: flex;
//             .bulbicon{
//                 float: left;
//                 padding-right: 10px;
//             }
//             .textDiv{
//                 float: left;
//                 .name{
//                     color: #3C4043;
//                 }
//             }
//             .trainUtteraceBtn{
//                 display:none;
//             }
//         }
//     }
// }
// .ml-NERP{
//     margin-bottom: 20px;
// }
// .ml-NER{
//     margin-bottom: 20px;
// }
// .kr-sg-radiobutton .radio-custom:checked + .radio-custom-label::before{
//     background-color: #0e6efd;
//     border: 1px solid #0e6efd;
// }
// .note.margin_btm-20{
//     margin-bottom: 20px;
// }
// .single-slider{
//     margin-bottom: 25px;
//     .countThreshold{
//         width: 300px;
//         text-align: center;
//         font-size: 10px;
//         color: #5F6368;
//     }
// }
//  .dual-slider{
//     margin-bottom: 25px;
//     .countThreshold{
//         width: 300px;
//         text-align: center;
//         font-size: 10px;
//         color: #5F6368;
//     }
// }
// .circle{
//     width: 10px;
//     height: 10px;
//     border: 0;
//     border-radius: 50%;
//     display: inline-block;
// }
// .cb-1{
//     background-color: $borderColor;
// }
// .cb-2{
//     background-color: #ff9e33;
// }
// .cb-3{
//     background-color: #36ba5a;
// }
// .cb-4{
//     background-color: #8a959f;
// }
// .iconDesc{
//     font-size: 12px;
//     color: #5F6368;
//     margin-left: 6px !important;
// }

