<!--LOADER-->
<div class="loaderContainer" *ngIf="previewLoad">
  <img src="assets/images/logoIcon.png" class="loaderLogoImage" >
</div>
<!--LOADER-->

<div class="dashboardheaderDiv" *ngIf="!noQuery && queryavailable">
    <div class="row">
        <div class="left col-lg-6 dashboardTitleDiv" >
            <div class="title">Verizon</div>
            <div class="desc">Stats of Verizon database</div>
        </div>
        <div class="col-lg-4">
            <label for="name">Score</label>
            <input type="text" class="col-lg-4 form-control scoreInput" id="name" required [(ngModel)]="allScore" name="name" #name="ngModel">
            <div class="pull-right refreshScore" (click)="refreshWithScore()">
              <img class="refreshIcon pull-left" src="assets/images/refreshGray.svg"> <span>Refresh</span>
            </div>
            <div [hidden]="name.valid || name.pristine"  class="alert alert-warning">Score is 0.5 by default</div>
        </div> 
        <div class="right col-lg-2 paddingTen">
            <!-- <button [routerLink]="['/accounts']" matTooltip="Back to Dashboard" mat-button class="solidBTN float-right" >BACK</button> -->
        </div>
    </div>
</div>
<div class="grayContainer">
    <div class="row listContainer" *ngIf="!noQuery && queryavailable">
        <div class=" col-md-4 col-lg-4 leftContainer smallHeight">
            <div class="innerContainer">
        <div class="row searchRow">
          <div class="col-lg-12" >
                <p class="queryName text-center">Total Conversations</p>
          </div>
        </div>
        <div class="queryContainerInfoDiv totalCount" >
            <div *ngIf="!waitConverse" class="loader">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="textData" *ngIf="waitConverse">{{totalConversation | number:'':'en'}}</div>
        </div>
        </div>
        </div>
        
        <div class=" col-md-4 col-lg-4 leftContainer smallHeight">
            <div class="innerContainer">
          <div class="row searchRow">
            <div class="left col-lg-12">
              <p class="queryName text-center">Total Intents</p>
            </div>
          </div>
          <div class="queryContainerInfoDiv totalCount">
            <div *ngIf="!waitInt" class="loader">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
            <div class="textData" *ngIf="waitInt">{{totalIntents | number:'':'en'}}</div>
          </div>
          </div>
        </div>

        <div class=" col-md-4 col-lg-4 leftContainer smallHeight">
            <div class="innerContainer">
            <div class="row searchRow">
              <div class="left col-lg-12">
                <p class="queryName text-center">Conversations with atleast one Intent</p>
              </div>
            </div>
            <div class="queryContainerInfoDiv totalCount">
              <div *ngIf="!waitnoIntent" class="loader">
                  <div class="lds-ripple"><div></div><div></div></div>
              </div>
              <div class="textData" *ngIf="waitnoIntent">{{converseNoIntent | number:'':'en'}}</div>
            </div>
            </div>
          </div>
            
        </div>
<div class="row listContainer" *ngIf="!noQuery && queryavailable">
<div class=" col-md-6 col-lg-6 leftContainer">
<div  class="innerContainer">
<div class="row searchRow">
  <div class="left col-lg-10" >
        <p class="queryName">Top Intents with utterances count</p>
  </div> 
  <!-- <div class="right col-lg-2">
      <button matTooltip="" [routerLink]="['/editChart']" mat-button class="solidBTN">Edit</button>
  </div> -->
</div>
<div class="queryContainerInfoDiv" >
    <div class="loader" *ngIf="!waitTopInt" >
       <div class="lds-ripple"><div></div><div></div></div>
    </div>
    <div class="table-responsive" *ngIf="waitTopInt">
        <table class="table">
          <thead>
            <tr>
              <th >Intent</th>
              <th >Utterance Count</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of topIntentCount" >
              <td>{{row.intent}}</td>
              <td>{{row.count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
</div>
</div>

<div class=" col-md-6 col-lg-6 leftContainer">
  <div  class="innerContainer">
  <div class="row searchRow">
    <div class="left col-lg-10">
      <p class="queryName">Bottom Intents with utterances counts</p>
    </div> 
    <!-- <div class="right col-lg-2">
        <button matTooltip="" [routerLink]="['/editChart']" (click) = "openEditor()" mat-button class="solidBTN">Edit</button>
    </div> -->
  </div>
  <div class="queryContainerInfoDiv">
      <div class="loader" *ngIf="!waitbottomInt" >
         <div class="lds-ripple"><div></div><div></div></div>
      </div>
      <div class="table-responsive" *ngIf="waitbottomInt">
          <table class="table">
            <thead>
              <tr>
                <th>Intent</th>
                <th>Utterance Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let val of bottomIntentCount" >
                <td>{{val.intent}}</td>
                <td>{{val.count}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
  </div>
</div>
    
</div>
    <div class="row listContainer" *ngIf="!noQuery && queryavailable">
<div class=" col-md-4 col-lg-4 leftContainer">
    <div  class="innerContainer">
    <div class="row searchRow">
      <div class="left col-lg-12">
            <p class="queryName">Top 10 intents</p>
      </div>
    </div>
    <div class="queryContainerInfoDiv" >
        <div class="loader" *ngIf="!waittopIntUtter" >
           <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="table-responsive" *ngIf="waittopIntUtter">
            <table class="table">
              <!-- <thead>
                <tr>
                  <th>Intent</th>
                  <th>Utterance Count</th>
                </tr>
              </thead> -->
              <tbody>
                <tr class="onselect" *ngFor="let topInt of topIntentUtterance" >
                  <td (click) = "viewTopUtterances(topInt.intent)">{{topInt.intent}}</td>
                  <!-- <td>{{topInt.utterance?.length || '0'}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    </div>
    </div>
    
    <div class=" col-md-8 col-lg-8 leftContainer">
      <div  class="innerContainer">
      <div class="row searchRow">
        <div class="left col-lg-11">
          <p class="queryName">Utterances related to selected intent</p>
        </div> 
        <div class="right col-lg-1" *ngIf="waitTopUtter">            
            <span (click)="openDialog1()" class="iconBtn"><img src="assets/images/zoom-in-green.svg"></span>
        </div>
      </div>
      <div class="queryContainerInfoDiv">
          <div *ngIf="!waitTopUtter" class="emptyState">
              Click on any intent to show it's utterances
            </div>
          <div class="table-responsive" *ngIf="waitTopUtter">
              <table class="table">
                <thead>
                  <tr>
                    <th>Intent selected - {{selectedIntentName}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="onselect" *ngFor="let utter of currentUtterances; index as i" >
                    <td (click) = "viewUtteranceConvers(utter.id)">{{i+1}}.  {{utter.utterance}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
      </div>
    </div>
    </div>
    <div class="row listContainer" *ngIf="!noQuery && queryavailable">
        <div class=" col-md-4 col-lg-4 leftContainer">
            <div  class="innerContainer">
            <div class="row searchRow">
              <div class="left col-lg-12">
                <p class="queryName">Bottom 10 intents</p>
              </div>
            </div>
            <div class="queryContainerInfoDiv">
                <div class="loader" *ngIf="!waitBottomIntUtter" >
                   <div class="lds-ripple"><div></div><div></div></div>
                </div>
                <!-- <div class="left col-lg-12" *ngIf="waitBottomIntUtter" style="text-align: right;">
                    <label for="name">Score</label>
                    <input type="text" class="col-lg-3 form-control scoreInput" id="name" required [(ngModel)]="botIntScore" name="name" #name="ngModel">
                    <div [hidden]="name.valid || name.pristine"  class="alert alert-warning">Score is 0.5 by default</div>
                  </div>  -->
                <div class="table-responsive" *ngIf="waitBottomIntUtter">
                    <table class="table">
                      <tbody>
                        <tr class="onselect" *ngFor="let botInt of bottomIntentUtterance" >
                          <td (click) = "viewBottomUtterances(botInt.intent)"> {{botInt.intent}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
            </div>
          </div>
            
            <div class=" col-md-8 col-lg-8 leftContainer">
              <div  class="innerContainer">
              <div class="row searchRow">
                <div class="left col-lg-11">
                  <p class="queryName">Utterances related to selected intent</p>
                </div> 
                <div class="right col-lg-1" *ngIf="waitBottomUtter">
                    <span  (click)="openDialog1()" class="iconBtn"><img src="assets/images/zoom-in-green.svg"></span>
                </div>
              </div>
              <div class="queryContainerInfoDiv">
                  <div *ngIf="!waitBottomUtter" class="emptyState">
                      Click on any intent to show it's utterances
                    </div>
                    <div class="table-responsive" *ngIf="waitBottomUtter">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Intent selected - {{selectedbtIntentName}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="onselect" *ngFor="let utter of currentbtUtterances; index as i" >
                                <td (click) = "viewUtteranceConvers(utter.id)">{{i+1}}.  {{utter.utterance}}</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
              </div>
              </div>
            </div>
            </div>
            <div class="row listContainer" *ngIf="!noQuery && queryavailable">
                <div class=" col-md-4 col-lg-4 leftContainer">
                    <div  class="innerContainer">
                    <div class="row searchRow">
                      <div class="left col-lg-12">
                        <p class="queryName">All Intents</p>
                      </div>
                    </div>
                    <div class="queryContainerInfoDiv overflowHidden">
                        <div class="loader" *ngIf="!waitallIntUtter" >
                           <div class="lds-ripple"><div></div><div></div></div>
                        </div>
                        <div class="left col-lg-12" *ngIf="waitallIntUtter" style="display:inline-block;">
                            <form class="example-form" autocomplete="off">
                                <mat-form-field class="example-full-width">
                                  <input [(ngModel)]="searchIntent" matInput placeholder="Search Intent" [ngModelOptions]="{standalone: true}">
                                  <img src="assets/images/search.svg"   class="searchIcon">
                                </mat-form-field>
                              </form>
                        </div>
                        <!-- <div class="left col-lg-4" *ngIf="waitallIntUtter" style="display: inline-block;">
                            <label for="name">Score</label>
                            <input type="text" class="col-lg-7 form-control scoreInput" id="name" required [(ngModel)]="allIntScore" name="name" #name="ngModel">
                            <div [hidden]="name.valid || name.pristine"  class="alert alert-danger">Score is required</div>
                          </div> -->
                        <div class="table-responsive scroll-div" *ngIf="waitallIntUtter">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Intent</th>
                                  <th>Count</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="onselect" *ngFor="let allInt of allIntentsCount | filter :[searchIntent,'intent']" >
                                  <td (click) = "viewAllIntUtterances(allInt.intent)">{{allInt.intent}}</td>
                                  <td>{{allInt.count}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                    </div>
                  </div>
                    
                    <div class=" col-md-8 col-lg-8 leftContainer">
                      <div  class="innerContainer">
                      <div class="row searchRow">
                        <div class="left col-lg-11">
                          <p class="queryName">Utterances related to selected intent</p>
                        </div>
                        <div class="right col-lg-1" *ngIf="waitAllIntUtter">
                            <span (click)="openDialog3()" class="iconBtn"><img src="assets/images/zoom-in-green.svg"></span>
                        </div>
                      </div>
                      <div class="queryContainerInfoDiv">
                          <div *ngIf="!waitAllIntUtter" class="emptyState">
                              Click on any intent to show it's utterances
                            </div>
                          <div class="table-responsive" *ngIf="waitAllIntUtter">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Intent selected - {{selectedAllIntentName}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="onselect" *ngFor="let utter of currentbAllUtterances; index as i" >
                                        <td (click) = "viewUtteranceConvers(utter.id)">{{i+1}}.  {{utter.utterance}}</td>
                                      </tr>
                                  </tbody>
                                </table>
                            </div>
                      </div>
                      </div>
                    </div>
                    </div>
</div>
