
    <div class="onboarding-container" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
        <!-- <perfect-scrollbar> -->
        <div class="menu">
            <div (click)="scrollTo('section1')">
                <span [ngClass]="{'active-section': currentSection==='section1'}"></span>            
            </div>
            <div (click)="scrollTo('section2')">
                <span [ngClass]="{'active-section': currentSection==='section2'}"></span>           
            </div>
            <div (click)="scrollTo('section3')">
                <span [ngClass]="{'active-section': currentSection==='section3'}"></span>            
            </div>
        </div>      
        <div id="section1" class="container-fluid section-content">
            <img src="assets/images/onboarding/bg_image.png" class="bg_image">
            <div class="content-sec">
                <div class="title">How would you want your customers to reach SmartAssist.ai ?</div>
            </div>
            <div class="box-content-data">
                <div class="box ivr" (click)="onOptionSelect('deflectConfiguration', 'type', 'IVR')" [ngClass]="{'selected': config.deflectAppStatus.deflectConfiguration.type === 'IVR'}">
                    <div class="img-block"></div>
                    <div class="content">I have an IVR System and I will redirect some of my IVR Calls to SmartAssist.ai</div>
                </div>
                <div class="box phoneNumber" (click)="onOptionSelect('deflectConfiguration', 'type', 'phoneNumber')" [ngClass]="{'selected': config.deflectAppStatus.deflectConfiguration.type === 'phoneNumber'}">
                    <div class="img-block"></div>
                    <div class="content">I want a new SmartAssist.ai Phone Number and allow my customers to directly call this number</div>
                </div>
            </div>
            <div class="skip-button">
                <button class="kr-sg-button-secondary-two btn_md" (click)="scrollTo('section2')">Skip</button>
            </div>    
        </div>
        <div id="section2" class="container-fluid section-content">
            <div class="content-sec">
                <div class="title">Choose how your customer calls should be answered by SmartAssist.ai. ?</div>
            </div>
            <div class="box-content-data">
                <div class="box voice" (click)="onOptionSelect('virtualAssistant', 'type', 'voice')" [ngClass]="{'selected': config.deflectAppStatus.virtualAssistant.type === 'voice'}">
                    <div class="img-block"></div>
                    <div class="content">Use Virtual Voice Assistant to answer user queries.</div>
                </div>
                <div class="box chat" (click)="onOptionSelect('virtualAssistant', 'type', 'chat')" [ngClass]="{'selected': config.deflectAppStatus.virtualAssistant.type === 'chat'}">
                    <div class="img-block"></div>
                    <div class="content">Deflect the users to a chat interface for continuing the conversation with a virtual assistant.</div>
                </div>
            </div>
            <div class="skip-button">
                <button class="kr-sg-button-secondary-two btn_md" (click)="scrollTo('section3')">Skip</button>
            </div>    
        </div>
        <div id="section3" class="container-fluid section-content form-checkbox">
            <img src="assets/images/onboarding/lastRight.png" class="bg_image_last">
            <div class="content-sec">
                <div class="title">How would you like to handoff the conversations from virtual assistant to live agent ?</div>
            </div>
            <div class="box-content-data">
                <div class="box liveAgent" (click)="onOptionSelect('handOff', 'liveAgent')" [ngClass]="{'selected': config.deflectAppStatus.handOff.liveAgent}">
                    <div class="kr-sg-checkbox" (click)="$event.preventDefault()">
                        <input id="checkbox-1" class="checkbox-custom" type="checkbox" [checked]="config.deflectAppStatus.handOff.liveAgent">
                        <label for="checkbox-1" class="checkbox-custom-label"></label>
                    </div>
                    <div class="img-block"></div>
                    <div class="content text-center">Transfer chat to live agent</div>
                </div>
                <div class="box formSubmission" (click)="onOptionSelect('handOff', 'formSubmission')" [ngClass]="{'selected': config.deflectAppStatus.handOff.formSubmission}">
                    <div class="kr-sg-checkbox" (click)="$event.preventDefault()">
                        <input id="checkbox-2" class="checkbox-custom" type="checkbox" [checked]="config.deflectAppStatus.handOff.formSubmission">
                        <label for="checkbox-2" class="checkbox-custom-label"></label>
                    </div>
                    <div class="img-block"></div>
                    <div class="content">Capture customer's request using a form and send it to an agent</div>
                </div>                
            </div>
            <div class="w-100 text-center submit_button">
                <button class="kr-sg-button-primary btn_md" [disabled]="saveInProgress" (click)="onSubmit()">Submit</button>
            </div>

        </div> 
        <nav class="floting-icons">
            <div class="icon" *ngIf="currentSection === 'section2' || currentSection === 'section3'" (click)="onClickUpArrow()"><img src="assets/images/logos/carrot-up.svg"></div>
            <div class="icon" *ngIf="currentSection === 'section1' || currentSection === 'section2'" (click)="onClickDownArrow()"><img src="assets/images/logos/carrot-down.svg"></div>
        </nav>    

    <!-- </perfect-scrollbar>      -->
    </div>
