@import './../../../app/scss/variables/variables.scss';

.onboarding-container {
    height: 100vh;
    overflow: scroll;
    width: 100%;
    scroll-snap-type: y mandatory;
    padding-top: 52px;
    .menu {
        position: fixed;
        right: 75px;
        top: 50%;
        z-index: 999;
        div {
            cursor: pointer;
            span {
                padding: 5px;
                background-color: $borderColor;
                display: inline-block;
                border-radius: 100px;
                transition: 0.4s all ease;
                &.active-section {
                    background-color: $hoverColor !important;
                }
            }
        }
    }

    .floting-icons {
        position: fixed;
        // top: calc(100% - 107px);
        bottom: 18px;
        right: 62px;
        display: flex;
        .icon {
            width: 37px;
            height: 37px;
            opacity: 0.5;
            background-color: $borderColor;
            text-align: center;
            line-height: 37px;
            margin-left: 5px;
            cursor: pointer;
        }
    }
    .skip-button{
        position: absolute;
        bottom: 18px;
        left: 64px;
    }
    .section-content {
        height: 100vh;
        scroll-snap-align: center;
        padding: 0;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .bg_image {
            // position: absolute;
            // left: -715px;
            position: absolute;
            left: -538px;
            top: 50px;
            width: 94%;
        }
        .bg_image_last {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .submit_button {
            // margin: 50px 0 52px 0;
            position: absolute;
            bottom: 12px;
            button {
                width: 150px;
            }
        }
        &.form-checkbox {
            .box-content-data {
                .box {                   
                    .kr-sg-checkbox {
                        margin: 0 0 15px 0;
                        label {
                            margin: 0;
                            &::before {
                                width: 20px;
                                height: 20px;
                                font-size: 12px !important;
                                margin: 0;
                            }
                        }
                    }                    
                }
            }
        }

        .content-sec {
            .title {
                padding: 0 0 58px 0;
                font-size: 28px;
                font-weight: bold;
                color: $primaryColor;
                text-align: center;
            }
        }
        .box-content-data{
            width: 706px;            
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            z-index: 100;
            position: relative;
            .box {
                width: 328px;
                // max-height: 372px;
                // height: 372px;
                background-color: $whiteColor;
                border: solid 1px #dadfe7;
                padding: 33px 39px;
                cursor: pointer;
                border-radius: 10px;
                &.selected, &:hover {
                    border: solid 1px $whiteColor;
                    box-shadow: 3px 3px 10px 0 rgba(38, 52, 74, 0.45);
                }
                .img-block {
                    text-align: center;
                    height: 215px;
                    background-size: 100% !important;
                    width: 250px;
                    margin: 0 auto;
                    img{

                    }
                }
                .content {
                    padding: 16px 0 8px 0;
                    color: $primaryColor;
                    font-size: 15px;
                    line-height: 1.5;
                    text-align: center;
                }
                &.ivr {
                    .img-block {
                        background: url('/assets/images/onboarding/q1_a1_bw.svg') no-repeat center;
                    }
                    &.selected, &:hover {
                        .img-block {
                            background: url('/assets/images/onboarding/q1_a1_clr.svg') no-repeat center;
                        }
                    }
                }
                &.phoneNumber {
                    .img-block {
                        background: url('/assets/images/onboarding/q1_a2_bw.svg') no-repeat center;
                    }
                    &.selected, &:hover {
                        .img-block {
                            background: url('/assets/images/onboarding/q1_a2_clr.svg') no-repeat center;
                        }
                    }
                }
                &.voice {
                    .img-block {
                        background: url('/assets/images/onboarding/q2_a1_bw.svg') no-repeat center;
                    }
                    &.selected, &:hover {
                        .img-block {
                            background: url('/assets/images/onboarding/q2_a1_clr.svg') no-repeat center;
                        }
                    }
                }
                &.chat {
                    .img-block {
                        background: url('/assets/images/onboarding/q2_a2_bw.svg') no-repeat center;
                    }
                    &.selected, &:hover {
                        .img-block {
                            background: url('/assets/images/onboarding/q2_a2_clr.svg') no-repeat center;
                        }
                    }
                }

                &.liveAgent {
                    .img-block {
                        background: url('/assets/images/onboarding/q3_a1_bw.svg') no-repeat center;
                    }
                    &.selected, &:hover {
                        .img-block {
                            background: url('/assets/images/onboarding/q3_a1_clr.svg') no-repeat center;
                        }
                    }
                }

                &.formSubmission {
                    .img-block {
                        background: url('/assets/images/onboarding/q3_a2_bw.svg') no-repeat center;
                    }
                    &.selected, &:hover {
                        .img-block {
                            background: url('/assets/images/onboarding/q3_a2_clr.svg') no-repeat center;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1550px) {
    .onboarding-container {
        .section-content{
            .box-content-data{
                width: 52%;
                .box{
                    width: 47%;
                    .img-block{
                        height: 350px;
                        width: 320px;                        
                    }
                }
            }
        }
    }
}