<div class="call-logs-in-progress" *ngIf="isInProgress">
  <div class="mat-spin-contain">
    <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
    <span class="wait-message">Loading ...</span>
  </div>
</div>

<div class="call-logs-container">
  <div class="call-logs-header">
    <span class="close-button" (click)="closeModal()">
      <img src="assets/images/close.svg">
    </span>
    <span class="heading">	
      <h5 class="d-inline-block m-0">Call Logs</h5>
    </span>   
    <span class="results-container">
      Results(<span class="results-count">{{dataSourceCount}}</span>)
    </span>
    <span class="export-icon d-none">
      <img src="assets/images/export-blue.svg">
      <span class="export-message">Export</span>
    </span>
  </div>
  <div class="call-logs-section">
    <div class="search-bar d-none">
      <input type="text" class="search-inp" (keyup)="checkKey($event)" maxlength="25" placeholder="Search by User ID or Phone Number" [(ngModel)]="searchCallLogs">
      <img src="assets/images/search.svg">
    </div>
    <perfect-scrollbar [config]="config" (psScrollY)="isScrolling($event)" class="call-logs-table scroll-container scroll-container--position" id="ps-call-table" [disabled]="workflowService.disablePerfectScroll">
      <div id='table-logs'>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-0"> USERID </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.userId}}" matTooltipPosition="above"> {{(element.userId.length>18)? (element.userId | slice:0:18)+'...':(element.userId)}} </td>
          </ng-container>
          <ng-container matColumnDef="phNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PHONE NUMBER </th>
            <td mat-cell *matCellDef="let element"> {{element.phNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> START DATE & TIME </th>
            <td mat-cell *matCellDef="let element"> 
              <div>{{element.dateTime}}</div>
              <div class="time">{{element.time}}</div> 
            </td>
          </ng-container>
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DURATION </th>
            <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openChat(row)"></tr>
        </table>
        <div class="empty-message-contain" *ngIf="dataSourceCount == 0">
          <div class="empty-img">
            <img src="assets/images/empty-illustration.png">
          </div>
          <div class="empty-mess">
            NO CALL LOGS AVAILABLE  
          </div>
        </div>

      </div>
    </perfect-scrollbar>
  </div>
  <div class="call-logs-footer" [ngClass]="{'invisible': !isMoreAvalLoad}">
    <div class="more-loading">
      <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
      <span class="wait-message">Loading ...</span>
    </div>
  </div>
</div>