
.search-interface-container{
    .group-radiobutton{
        .pad-0{
            padding: 0 !important;
        }
    }
    .header_sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f8f9fa;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 15px 30px;
        .title {
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
        }
        .btn_sec {
          button {
            margin-left: 10px;
          }
        }
    }
    .body_content{
        display: flex;
        .search-interface-left-sec{
            width: 240px;
            border-right: 1px solid #E4E5EB;
            flex-shrink: 0;
            height: calc(100vh - 114px);
            .left-tabs{
                padding: 15px 15px 0 45px;
                .tab-name{
                    color: #5F6368;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 10px 13px;
                    position: relative;
                    cursor: pointer;
                    &::before{
                        content: "";
                        position: absolute;     
                        height: 100%;
                        left: 0;
                        width: 3px;
                        background: #0D6EFD;
                        top: 0;
                        display: none;                   
                    }                    
                    &.active-tab{
                        font-weight: bold;
                        color: #202124;
                        &::before{
                            content: "";
                            position: absolute;  
                            display: block;                      
                        }                       
                    }
                    &.disabled{
                        cursor: default;
                        opacity: 0.5;
                    }
                }
            }           
        }
        .scroll-interface{
            height: calc(100vh - 174px);
        }
        .footer-btns{
            text-align: right;
            padding: 13px 25px;
            position: fixed;
            width: calc(100% - 485px);
            bottom: -1px;
            left: 485px;
            background: #FFFFFF;
            box-shadow: inset 0px 1px 0px #BDC1C6;
        }
        .search-interface-right-sec{
            width: 100%;
            padding: 25px 15px;
            .radio-section{
                padding: 15px 0;
                border-bottom: 1px solid #EFF0F1;
                .main-title{
                    color: #000000;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 10px;
                }
                .label-desc{
                    color: #9AA0A6;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    padding-left: 28px;
                }
                .kr-sg-toggle{
                    margin: 10px 0 15px 0;
                    input{
                        &:checked {
                            + .slider{
                                background-color: #E7F1FF;
                                box-shadow: 0 0 1px #E7F1FF;
                            }
                        }
                    }
                }
                .kr-sg-dropdowns{
                    width: 250px;
                    .dropdown-open {
                        .dropdown-input{
                            background: #EFF0F1;
                            border-radius: 4px;
                            border: 0;
                            color: #BDC1C6;
                        }
                        .drop-enable{
                            border: solid 1px;
                            background: #ffffff;
                            color: #202124;
                        }
                    }
                    .dropdown-menu.content-menu .active{
                        font-weight: 600;
                    }
                }
                .group-radiobutton{
                    margin: 10px 0 30px 0;
                }
                .radio-block{
                    margin-bottom: 8px;                    
                    .label-name{
                        color: #202124;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                    }                    
                    .kr-sg-radiobutton{
                        margin: 0;                                                
                    }
                    .custom-input-block{
                        display: flex;
                        align-items: center;
                        padding-left: 28px;
                        .kr-sg-input-text{
                            width: 102px;
                            .input-text{
                                background: #EFF0F1;
                                border-radius: 4px;
                                border: 0;                                
                            }
                        }
                        .custom-desc-info{
                            color: #9AA0A6;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            padding-left: 5px;
                        }
                    }
                }                
                .result-appearences-section{
                    display: flex;
                    padding-left: 27px;
                    .input-left-sec{
                        width: 184px;
                        height: 100%;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            right: 0;
                            background: #85B7FE;
                            width: 1px;
                            height: 100%;
                        }
                        .input-name{
                            background: #EFF0F1;
                            border-radius: 4px;
                            margin: 0 10px 5px 0;
                            padding: 10px 20px;
                            color: #BDC1C6;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            min-height: 42px;
                            border: 1px solid transparent;
                            position: relative;
                            cursor: pointer;
                            &.add-new{
                                color: #85B7FE;
                            }
                            .drog-icon{
                                display: none;
                                position: absolute;
                                left: -20px;
                                cursor: pointer;
                            }
                            &.active-input{
                                background-color: #fff;
                                border: 1px solid #85B7FE;
                                border-radius: 4px 0px 0px 4px;
                                border-right: 0;
                                color: #202124;
                                font-weight: 500;
                                font-size: 14px;
                                .drog-icon{
                                    display: block;
                                }
                                span{
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        right: -10px;
                                        width: 1px;
                                        display: inline-block;
                                        height: 100%;
                                        background: #fff;
                                        top: 0;
                                    }
                                }
                                &::before{
                                    content: "";
                                    position: absolute;
                                    height: 1px;
                                    width: 15px;
                                    background: #85B7FE;
                                    top: -1px;
                                    right: -10px;
                                    border-radius: 4px;
                                }
                                &::after{
                                    content: "";
                                    position: absolute;
                                    width: 15px;
                                    height: 1px;
                                    background: #85B7FE;
                                    bottom: -1px;
                                    right: -10px;
                                }
                            }
                        }
                    }
                    .templates-dynamic-data{
                        width: 457px;
                        border: 1px solid #E4E5E7;
                        box-sizing: border-box;
                        border-radius: 4px;
                        margin-left: 10px;
                        padding: 20px;
                        z-index: 1;
                        transition: 0.4s all ease;
                        position: relative;
                        margin-bottom: 30px;
                        min-height: 230px;
                        .customize-button{
                            position: absolute;
                            right: 0;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            text-align: center;                            
                            align-items: center;
                            justify-content: center;
                            display: none;                            
                        }
                        &:hover{
                            background: #EFF0F1;
                            border-radius: 4px;                           
                            border: 1px solid transparent;
                            .customize-button{
                                display: flex;
                            }
                            &::before{
                                display: block;
                            }
                        }
                        &::before{
                            content: "";
                            display: none;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: rgba(239, 240, 241, 0.8);
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 4px;
                        }
                        .result-right-sec{        
                            &.if-carouse-container{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                min-height: 165px;
                                flex-wrap: wrap;
                            }                                                
                            .result-card{
                                background: #FFFFFF;
                                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                                border-radius: 8px;
                                padding: 12px 15px;
                                min-height: 64px;
                                margin-bottom: 7px;
                                z-index: -1;
                                position: relative;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                .r-title{
                                    color: #202124;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 20px;
                                    margin-bottom: 5px;
                                }
                                .alignTextCentre{
                                    text-align: center;
                                }
                                .r-desc{
                                    color: #9AA0A6;
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 16px;
                                }
                            }
                            .list_gridview_template{
                                display: flex;
                                flex-wrap: wrap;
                                margin: 0 -4px;
                                .result-card{
                                    width: 48%;
                                    margin: 4px !important;
                                }
                            }
                            &.list-template-2{
                                // background: #FFFFFF; // FLY-2012 for List-template-2 css coming white space
                                border: 1px solid #E7F1FF;
                                border-radius: 4px;
                                box-shadow: none;
                                .result-card{
                                    box-shadow: none;
                                    box-shadow: inset 0px -1px 0px #E4E5E7;
                                    border-radius: 0;
                                    &:last-child{
                                        box-shadow: none;
                                    }
                                }
                            }
                            &.list-template-3{                        
                                .list-template_3_parent{
                                    box-shadow: 0px 0px 11px rgb(0 0 0 / 10%);
                                    border-radius: 8px;
                                    padding: 0 10px;
                                    .result-card{
                                        box-shadow: inset 0px -1px 0px #e4e5e7;
                                        border-radius: 0;
                                        margin: 0;
                                        &:last-child{
                                            box-shadow: none;
                                        }
                                    }
                                }                        
        
                            }
                            &.with-accordion-state{
                                padding: 20px 15px;
                                &.list-template-2{
                                    .info-title{
                                        margin-bottom: 0;
                                    }
                                    .card-acc{
                                        box-shadow: inset 0px -1px 0px #e4e5e7;
                                        border-radius: 0;
                                        padding-left: 15px;
                                        margin-bottom: 0;
                                    }
                                }
                                &.list-template-3{
                                    .template-3-box-shadow{
                                        background: #FFFFFF;
                                        box-shadow: 0px 0px 11px rgb(0 0 0 / 10%);
                                        border-radius: 8px;
                                        padding: 6px 16px;
                                        margin-bottom: 10px;
                                        .card-acc{
                                            box-shadow: inset 0px -1px 0px #e4e5e7;
                                            border-radius: 0;
                                            padding-left: 15px;
                                            margin-bottom: 0;
                                            &:last-child{
                                                box-shadow: none;
                                            }
                                        }
                                    }
                                }
                                &.img-acc-template-2{
                                    .info-title{
                                        margin-bottom: 0;
                                    }
                                    .card-acc{
                                        box-shadow: inset 0px -1px 0px #e4e5e7;
                                        border-radius: 0;
                                        padding-left: 15px;
                                        margin-bottom: 0;
                                    }
                                }
                                &.img-acc-template-3{
                                    .template-3-box-shadow{
                                        background: #FFFFFF;
                                        box-shadow: 0px 0px 11px rgb(0 0 0 / 10%);
                                        border-radius: 8px;
                                        padding: 6px 16px;
                                        margin-bottom: 10px;
                                        .card-acc{
                                            box-shadow: inset 0px -1px 0px #e4e5e7;
                                            border-radius: 0;
                                            padding-left: 15px;
                                            margin-bottom: 0;
                                            &:last-child{
                                                box-shadow: none;
                                            }
                                        }
                                    }
                                }
                                .card-acc{
                                    background: #FFFFFF;
                                    box-shadow: 0px 0px 11px rgb(0 0 0 / 10%);
                                    border-radius: 8px;
                                    padding: 11px 11px 11px 32px;
                                    margin-bottom: 15px;
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                    .card_header{
                                        .card_link{
                                            position: relative;
                                            .r-title{
                                                color: #202124;
                                                font-weight: 600;
                                                font-size: 14px;
                                                line-height: 20px;
                                                margin-bottom: 5px;
                                            }
                                            .r-desc{
                                                color: #9AA0A6;
                                                font-weight: normal;
                                                font-size: 12px;
                                                line-height: 16px;
                                            }
                                            &::before{
                                                content: "";
                                                position: absolute;
                                                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB6SURBVHgBfY0xDkZAFIRnn5//Go6gJhEvRO8ITsYRdBLN04jWUdTCrt2KSHjVm5lvMqoXCQMEGT5uwzb+fHgRSDVfoK//FRWcdtCmfoMOmxUcd+REzklr9F4BZr0QszqotJlT6t4eZIo8grifNJg5Wd6WIDKHYgtP/wQh1ShM6hLxwQAAAABJRU5ErkJggg==');
                                                width: 10px;
                                                height: 6px;
                                                background-repeat: no-repeat;
                                                left: -18px;
                                                top: 4px;
                                            }
                                            &.collapsed{
                                                &::before{
                                                    content: "";
                                                    position: absolute;
                                                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACASURBVHgBZc2xDYNADAXQj5NQZ4SMkDaiiZvUYQLERozABtAhISRDAbSMwAgswB2mQLqDX939Z8uoRF6NDH+cQiHCb0AopBsTD46Hgc1dJHdKMaulf19A87xRIDueQWPxAC0XIANm/swerMamzNHk3djLH0f58b8TqNUy1rJ0tzdMySoYCEx//AAAAABJRU5ErkJggg==');
                                                    width: 6px;
                                                    height: 10px;
                                                    background-repeat: no-repeat;
                                                    left: -15px;
                                                    top: 4px;
                                                }
                                            }
                                        }
                                    }  
                                    .card-body{
                                        padding: 12px 0;
                                        color: #9AA0A6;
                                        font-weight: normal;
                                        font-size: 12px;
                                        line-height: 16px;
                                    }
                                }  
                                &.with_image_tile{
                                    .card-acc {
                                        .card_header {
                                            .card_link{
                                                .r-desc{
                                                    display: none;
                                                }
                                                &.collapsed{
                                                    .r-desc{
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }
                                        .card-body{
                                            padding: 7px 0 12px;
                                            .with-image-tile{
                                                display: flex;
                                                .img_block{
                                                    width: 135px;
                                                    height: 134px;
                                                    text-align: center;
                                                    flex-shrink: 0;
                                                    padding: 34px 29px;
                                                    margin-right: 12px;
                                                    background: #F8F9FA;
                                                    img{
        
                                                    }
                                                }
                                                .r-desc{
                                                    color: #9AA0A6;
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                    line-height: 16px;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.tile_with_centered_content{
                                    .card-acc {
                                        .card_header {
                                            .card_link{
                                                .r-desc{
                                                    display: none;
                                                }
                                                &.collapsed{
                                                    .r-desc{
                                                        display: block;
                                                    }
                                                }
                                            }
                                        }
                                        .card-body{
                                            padding: 7px 0 12px;
                                            .with-image-tile{                                       
                                                .img_block{
                                                    background: #F8F9FA;
                                                    padding: 23px;
                                                    text-align: center;
                                                    margin-bottom: 12px;
                                                    img{
        
                                                    }
                                                }
                                                .r-desc{
                                                    color: #9AA0A6;
                                                    font-weight: normal;
                                                    font-size: 12px;
                                                    line-height: 16px;
                                                }
                                            }
                                        }
                                    }
                                }                     
                            }
                            &.with-image{
                                &.image-tmplate-type-2{
                                    padding: 5px 15px;
                                    .result-card{
                                        box-shadow: inset 0px -1px 0px #e4e5e7;
                                        border-radius: 0;
                                        margin: 0;
                                        // &:last-child{
                                        //     box-shadow: none;
                                        // }
                                    }
                                }
                                &.image-tmplate-type-3{
                                   .with-image-template-3-shadow{
                                        box-shadow: 0px 0px 11px rgb(0 0 0 / 10%);
                                        border-radius: 8px;
                                        .result-card{
                                            box-shadow: inset 0px -1px 0px #e4e5e7;
                                            border-radius: 0;
                                            margin: 0;
                                            &:last-child{
                                                box-shadow: none;
                                            }
                                        }
                                   }                            
                                }
                                .with-image-grid-view{
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin: 0 -4px;
                                    .result-card{
                                        display: block !important;
                                        width: 48%;
                                        margin: 4px;
                                        padding: 12px 11px;
                                        .img-block{
                                            margin-right: 10px;
                                        }
                                        .content-sec{
                                            .r-title{
                                                margin-bottom: 0 !important;
                                            }
                                        }
                                        .r-desc{
                                            margin-top: 7px;
                                        }
                                    }
                                }
                                .result-card{
                                    display: flex;
                                    align-items: center;
                                    .img-block{
                                        margin-right: 15px;
                                    }
                                    .content-sec{
                                        max-width: 332px;
                                        word-break: break-word;
                                    }
                                }
                            }
                            &.with-centered-content{
                                border: 1px solid #E7F1FF;
                                border-radius: 4px;
                                padding: 10px 10px;
                                .grid-view-centered-content{
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin: 0 -4px;
                                    .result-card{
                                        width: 48%;
                                        margin: 4px;
                                        box-shadow: 0px 0px 80px rgb(0 0 0 / 7%), 0px 0px 10.0172px rgb(0 0 0 / 4%);
                                        border-radius: 8px;
                                        .img-block{
                                            border-radius: 8px 8px 0px 0px;
                                        }
                                        .content-sec{
                                            text-align: left;
                                            .r-title{
                                                margin-bottom: 8px;
                                            }
                                            .r-desc{
                                                padding: 10px 0;
                                            }
                                        }
                                    }
                                }
                                .result-card{
                                    box-shadow: 0px 0px 80px rgb(0 0 0 / 7%), 0px 0px 10.0172px rgb(0 0 0 / 4%);
                                    border-radius: 8px;
                                    text-align: center;
                                    padding: 0;
                                    .img-block{
                                        padding: 31px 0;
                                        min-height: 130px;
                                        background: #FFFFFF;
                                        box-shadow: 0px 0px 80px rgb(0 0 0 / 7%), 0px 0px 10.0172px rgb(0 0 0 / 4%);
                                        border-radius: 8px 8px 0px 0px;
                                    }
                                    .content-sec{
                                        min-height: 130px;
                                        padding: 20px;
                                        .r-title{
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                            .info-title{
                                color: #9AA0A6;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17px;
                                margin-bottom: 10px;
                            }                            
                        }
                    }                    
                }
            }
        }
    }
    .disable-url {
        opacity: 0.3 !important;
        pointer-events: none !important;
    }
}
.search-interface-modal {
    .breadcrum {
        img{
            margin: 0px 10px;
        }
        span{
            font-weight: 500;
            font-size: 14px;
        }
    }
}
.modal-header{
    .breadcrum {
        img{
            margin: 0px 10px;
        }
        span{
            font-weight: 500;
            font-size: 14px;
        }
    }
}
.ful-page-facet{
    margin: 15px 0 0 0;
    .label-text{
        color: #000000;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;
    }
    .helper-text{
        color: #9AA0A6;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .kr-sg-toggle{
        
    }
}
.w-400{
    width: 400px;
}

.kr-sg-dropdowns{
    .kr-sg-input-inline-search {
        input.input-search.err-block{
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 54, 70);
        }
    }
}

.result-right-sec.tileWithCenteredContent{
    .carousel{
        .slide{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
            .result-card{
                // width: 48%;
                margin: 4px;
                box-shadow: 0px 0px 80px rgb(0 0 0 / 7%), 0px 0px 10.0172px rgb(0 0 0 / 4%);
                border-radius: 8px;
                .img-block{
                    border-radius: 8px 8px 0px 0px;
                }
                .content-sec{
                    text-align: left;
                    .r-title{
                        margin-bottom: 8px;
                    }
                    .r-desc{
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}