<div class="search-interface-container">
  <div class="header_sec">
    <div class="title">Search Interface</div>
    <div class="btn_sec">     
      <button class="kr-sg-button-primary btn_lg" (click)="openPreviewModal()">Preview</button>
    </div>
  </div>
  <div class="body_content">
    <div class="search-interface-left-sec">
      <div class="left-tabs">
        <div class="tab-name">Search UI</div>
        <div class="tab-name">Search Experience</div>
        <div class="tab-name">Live Search</div>
        <div class="tab-name active-tab">Search</div>
        <div class="tab-name">Full Page Result</div>
      </div>
    </div>
    <perfect-scrollbar class="scroll-interface w-100">
      <div class="search-interface-right-sec">             
          <div class="radio-section">
            <div class="radio-block">
              <div class="main-title">No. of Results to be Displayed</div>
              <div class="kr-sg-radiobutton d-block">
                <input id="radio-17" name="radio" class="radio-custom" type="radio" checked>
                <label for="radio-17" class="radio-custom-label">
                  <div class="label-name">Fit to Viewport</div>          
                </label>
              </div>
              <div class="label-desc">Number of results to be displayed will depend on the Viewport size</div>
            </div>
            <div class="radio-block mb-0">
              <div class="kr-sg-radiobutton d-block mb-1">
                <input id="radio-18" name="radio" class="radio-custom" type="radio" checked>
                <label for="radio-18" class="radio-custom-label">
                  <div class="label-name">Custom</div>          
                </label>
              </div>   
              <div class="custom-input-block">
                <div class="kr-sg-input-text">            
                  <input type="text" value="0" class="input-text">            
                </div>
                <div class="custom-desc-info">Topmost results based on relevance</div>
              </div>     
            </div>
          </div>
          <div class="radio-section">
            <div class="main-title">Results Classification</div>
            <div class="label-desc p-0">Customize the result templates and choose the order in which the results should be displayed to the end-user</div>
            <label class="kr-sg-toggle">                                       
              <input type="checkbox" checked>
              <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
            </label>
            <div class="kr-sg-dropdowns">        
              <div class="dropdown dropdown-open">
                  <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">SourceType</button>                                            
                  <ul class="dropdown-menu content-menu">                                                   
                    <li><a>Option 1</a></li>
                    <li><a>Option 2</a></li>
                    <li><a>Option 3</a></li>
                  </ul>
              </div>
            </div>
          </div>    
          <div class="radio-section">
            <div class="main-title m-0">Results Appearance</div>
            <div class="label-desc p-0">Customize the result templates and choose the order in which the results should be displayed to the end-user.</div>
            <div class="group-radiobutton">         
              <div class="kr-sg-radiobutton">
                  <input id="radio-22" name="radio" class="radio-custom" type="radio">
                  <label for="radio-22" class="radio-custom-label">Order based on relevance<img tooltipClass="inner-width m-0" placement="top-center" ngbTooltip="Order will be decided based on the top matched result" container="body" src="assets/icons/Info_gray.svg" class="ml-2"></label>
              </div>
              <div class="kr-sg-radiobutton">
                  <input id="radio-23" name="radio" class="radio-custom" type="radio" checked>
                  <label for="radio-23" class="radio-custom-label">Custom order</label>
              </div>
            </div>
            <div class="result-appearences-section">
              <div cdkDropList (cdkDropListDropped)="drop($event,list)" class="input-left-sec">
                <div cdkDrag *ngFor="let list of list" class="input-name" [ngClass]="{'active-input' : list == 'Structured Data'}"><img src="assets/icons/search-interface/move.svg" class="drog-icon"><span>{{list}}</span></div>
                <!-- <div cdkDrag class="input-name"><img src="assets/icons/search-interface/move.svg" class="drog-icon"><span>Actions</span></div>
                <div cdkDrag class="input-name"><img src="assets/icons/search-interface/move.svg" class="drog-icon"><span>FAQs</span></div>
                <div cdkDrag class="input-name"><img src="assets/icons/search-interface/move.svg" class="drog-icon"><span>Pages</span></div>
                <div cdkDrag class="input-name active-input"><img src="assets/icons/search-interface/move.svg" class="drog-icon"><span>Structured Data</span></div> -->
                <div class="input-name add-new">+ Add New</div>
              </div>
              <div class="result-right-sec">
                <div class="result-card">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
                <div class="result-card">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
                <div class="result-card">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
                <div class="result-card">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
                <div class="customize-button">
                  <button class="kr-sg-button-secondary btn_lg" (click)="openCustomModal()">Customize</button>
                </div>
              </div>
            </div>
          </div>      
      </div>
      <div class="footer-btns">
        <button class="kr-sg-button-secondary btn_lg ml-3">Back</button>
        <button class="kr-sg-button-primary btn_lg ml-3">Save</button>        
      </div>
  </perfect-scrollbar>
  </div>
</div>


<kr-modal modalType="center" #customModal id="sourceSlider" modalClass="modal_popups_ search-interface-modal">
  <div class="modal-header">
    <div class="title">Customize Template</div>
    <div class="close_icon" (click)="closeCustomModal()"><img src="assets/icons/modal-close.svg"></div>
  </div>
  <div class="modal-body">
    <div class="customize-template-data">
      <div class="kr-sg-dropdowns template-type-dropdown">
        <div class="label-text">Template Type</div>
        <div class="dropdown dropdown-open">
            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">{{customizeTemplateObj.template.type}}</button>                                            
            <ul class="dropdown-menu content-menu">  
              <li *ngFor="let list of templateTypeList"  (click)="template(list.id)"><a>{{list.value}}</a></li>                                                          
              <!-- <li (click)="template('list')"><a>Option 1</a></li>
              <li (click)="template('list')"><a>Option 2</a></li>
              <li (click)="template('list')"><a>Option 3</a></li> -->
            </ul>
        </div>
      </div>
      <div class="customize-inner-content">

        <perfect-scrollbar class="customize-scroll-left">
          <div class="customize-left">
            <!-- Title with Text-->
            <div class="c-template">
              <div class="group-radiobutton">
                <div class="heading-title mb-2">Search Result Layout</div>
                <div class="kr-sg-radiobutton">
                    <input id="radio-TT" name="resultLayout" class="radio-custom" type="radio" (change)= "resultLayoutChange('titleWithText')" [checked] = "customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText'">
                    <label for="radio-TT" class="radio-custom-label">Tile with Text</label>
                </div> 
                <div class="template-type" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText'">
                  <div class="heading">Heading</div>
                  <div class="description">Description</div>
                </div> 
                <div class="show-clickble-true" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText'">
                  <div class="label-text mb-1">Clickable</div>
                  <label class="kr-sg-toggle">                                       
                    <input type="checkbox"  (change)= "clickableChange($event)" [checked] = "customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                  </label>  
                  <div class="group-radiobutton mt-3 mb-3" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable" [ngClass]="{'disable-url': !customizeTemplateObj.template.searchResultlayout.clickable }">
                    <div class="label-text mb-1">Click Behaviour</div>
                    <div class="kr-sg-radiobutton">
                        <input id="radio-32" name="radio" class="radio-custom" type="radio" checked>
                        <label for="radio-32" class="radio-custom-label">Open a Webpage</label>
                    </div> 
                    <div class="kr-sg-radiobutton">
                        <input id="radio-33" name="radio" class="radio-custom" type="radio">
                        <label for="radio-33" class="radio-custom-label">Postback</label>
                    </div> 
                  </div>  
                  <div class="kr-sg-input-text" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable" [ngClass]="{'disable-url': !customizeTemplateObj.template.searchResultlayout.clickable }">
                    <div class="label-text">URL</div>
                    <input type="text" placeholder="Enter Target URL" class="input-text">
                  </div>
                </div>                           
              </div>
            </div> 
            <!-- Title with Text-->
            <!-- Title with Image-->
            <div class="c-template">
              <div class="group-radiobutton">              
                <div class="kr-sg-radiobutton">
                    <input id="radio-TI" name="resultLayout" class="radio-custom" type="radio" (change)= "resultLayoutChange('titleWithImage')" [checked] = "customizeTemplateObj.template.searchResultlayout.layout == 'titleWithImage'">
                    <label for="radio-TI" class="radio-custom-label">Tile with Image</label>
                </div> 
                <div class="template-type d-flex" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithImage'">
                  <div class="img-block mr-2">
                    <img src="assets/icons/search-interface/dummy-small.svg">
                  </div>
                  <div class="content-block">
                    <div class="heading">Heading</div>
                    <div class="description">Description</div>
                  </div>
                </div> 
                <div class="show-clickble-true" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithImage'">
                  <div class="label-text mb-1">Clickable</div>
                  <label class="kr-sg-toggle">                                       
                    <input type="checkbox" (change)= "clickableChange($event)" [checked] = "customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                  </label>  
                  <div class="group-radiobutton mt-3 mb-3" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="label-text mb-1">Click Behaviour</div>
                    <div class="kr-sg-radiobutton">
                        <input id="radio-32" name="radio" class="radio-custom" type="radio" checked>
                        <label for="radio-32" class="radio-custom-label">Open a Webpage</label>
                    </div> 
                    <div class="kr-sg-radiobutton">
                        <input id="radio-33" name="radio" class="radio-custom" type="radio">
                        <label for="radio-33" class="radio-custom-label">Postback</label>
                    </div> 
                  </div>  
                  <div class="kr-sg-input-text" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="label-text">URL</div>
                    <input type="text" placeholder="Enter Target URL" class="input-text">
                  </div>
                </div>                                      
              </div>
            </div> 
            <!-- Title with Image-->
            <!-- Title with Centered Content-->
            <div class="c-template">
              <div class="group-radiobutton">              
                <div class="kr-sg-radiobutton">
                    <input id="radio-TCC" name="resultLayout" class="radio-custom" type="radio" (change)= "resultLayoutChange('titleWithCenteredContent')" [checked] = "customizeTemplateObj.template.searchResultlayout.layout == 'titleWithCenteredContent'">
                    <label for="radio-TCC" class="radio-custom-label">Tile with Centered Content</label>
                </div> 
                <div class="template-type centered-content" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithCenteredContent'">
                  <div class="img-block mb-3">
                    <img src="assets/icons/search-interface/dummy-large.svg">
                  </div>
                  <div class="content-block">
                    <div class="heading">Heading</div>
                    <div class="description">Description</div>
                  </div>
                </div> 
                <div class="show-clickble-true" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithCenteredContent'">
                  <div class="label-text mb-1">Clickable</div>
                  <label class="kr-sg-toggle">                                       
                    <input type="checkbox" (change)= "clickableChange($event)" [checked] = "customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                  </label>  
                  <div class="group-radiobutton mt-3 mb-3" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="label-text mb-1">Click Behaviour</div>
                    <div class="kr-sg-radiobutton">
                        <input id="radio-32" name="radio" class="radio-custom" type="radio">
                        <label for="radio-32" class="radio-custom-label">Open a Webpage</label>
                    </div> 
                    <div class="kr-sg-radiobutton">
                        <input id="radio-33" name="radio" class="radio-custom" type="radio">
                        <label for="radio-33" class="radio-custom-label">Postback</label>
                    </div> 
                  </div>  
                  <div class="kr-sg-input-text" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="label-text">URL</div>
                    <input type="text" placeholder="Enter Target URL" class="input-text">
                  </div>
                </div>                                      
              </div>
            </div> 
             <!-- Title with Centered Content-->
              <!-- Title with Header-->
            <div class="c-template">
              <div class="group-radiobutton">                
                <div class="kr-sg-radiobutton">
                    <input id="radio-TH" name="resultLayout" class="radio-custom" type="radio"  (change)= "resultLayoutChange('titleWithHeader')" [checked] = "customizeTemplateObj.template.searchResultlayout.layout == 'titleWithHeader'">
                    <label for="radio-TH" class="radio-custom-label">Tile with Header</label>
                </div> 
                <div class="template-type" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithHeader'">
                  <div class="heading m-0">Header</div>                  
                </div> 
                <div class="show-clickble-true" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithHeader'">
                  <div class="label-text mb-1">Clickable</div>
                  <label class="kr-sg-toggle">                                       
                    <input type="checkbox"  (change)= "clickableChange($event)" [checked] = "customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="slider"><span class="enabled">Yes</span><span class="disabled">No</span></div>
                  </label>  
                  <div class="group-radiobutton mt-3 mb-3" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="label-text mb-1">Click Behaviour</div>
                    <div class="kr-sg-radiobutton">
                        <input id="radio-32" name="radio" class="radio-custom" type="radio" checked>
                        <label for="radio-32" class="radio-custom-label">Open a Webpage</label>
                    </div> 
                    <div class="kr-sg-radiobutton">
                        <input id="radio-33" name="radio" class="radio-custom" type="radio">
                        <label for="radio-33" class="radio-custom-label">Postback</label>
                    </div> 
                  </div>  
                  <div class="kr-sg-input-text" *ngIf="customizeTemplateObj.template.searchResultlayout.clickable">
                    <div class="label-text">URL</div>
                    <input type="text" placeholder="Enter Target URL" class="input-text">
                  </div>
                </div>                           
              </div>
            </div> 
            <!-- Title with Header-->            
          </div>
        </perfect-scrollbar>          
        <perfect-scrollbar  class="customize-scroll-right">
          <div class="customize-right">
            <div class="label-text mb-1">Search Result Mapping</div>
            <div class="kr-sg-dropdowns seach-with-dropdown mb-3 pb-1">
              <div class="label-text">Heading</div>
              <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                  <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown"></button>    
                  <input type="text" placeholder="Select Field" class="input-search dropdown-toggle dropdown-input" data-toggle="dropdown" autocomplete="off">
                  <img src="assets/icons/search-interface/search.svg" class="search-icon">                                                           
                  <ul class="dropdown-menu content-menu">
                      <perfect-scrollbar class="country-code-perfect-scroll">
                        <li><a>Title</a></li>
                        <li><a>Field 2</a></li>
                        <li><a>Field 3</a></li>
                        <li><a>Field 4</a></li>
                        <li><a>Field 5</a></li>
                      </perfect-scrollbar>
                  </ul>
              </div>                        
            </div>
            <div class="kr-sg-dropdowns seach-with-dropdown mb-3 pb-1" *ngIf="showDescription">
              <div class="label-text">Description</div>
              <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                  <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown"></button>    
                  <input type="text" placeholder="Select Field" class="input-search dropdown-toggle dropdown-input" data-toggle="dropdown" autocomplete="off">
                  <img src="assets/icons/search-interface/search.svg" class="search-icon">                                                           
                  <ul class="dropdown-menu content-menu">
                      <perfect-scrollbar class="country-code-perfect-scroll">
                        <li><a>Title</a></li>
                        <li><a>Field 2</a></li>
                        <li><a>Field 3</a></li>
                        <li><a>Field 4</a></li>
                        <li><a>Field 5</a></li>
                      </perfect-scrollbar>
                  </ul>
              </div>                        
            </div>
            <div class="kr-sg-dropdowns seach-with-dropdown mb-3 pb-1" *ngIf="showImage">
              <div class="label-text">Image</div>
              <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                  <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown"></button>    
                  <input type="text" placeholder="Select Field" class="input-search dropdown-toggle dropdown-input" data-toggle="dropdown" autocomplete="off">
                  <img src="assets/icons/search-interface/search.svg" class="search-icon">                                                           
                  <ul class="dropdown-menu content-menu">
                      <perfect-scrollbar class="country-code-perfect-scroll">
                        <li><a>Title</a></li>
                        <li><a>URL 2</a></li>
                        <li><a>URL 3</a></li>
                        <li><a>URL 4</a></li>
                        <li><a>URL 5</a></li>
                      </perfect-scrollbar>
                  </ul>
              </div>                        
            </div>
            <!-- <div class="kr-sg-dropdowns seach-with-dropdown mb-3 pb-1">
              <div class="label-text">URL</div>
              <div class="kr-sg-input-inline-search dropdown dropdown-open line-height-0">
                  <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown"></button>    
                  <input type="text" placeholder="Select Field" class="input-search dropdown-toggle dropdown-input" data-toggle="dropdown" autocomplete="off">
                  <img src="assets/icons/search-interface/search.svg" class="search-icon">                                                           
                  <ul class="dropdown-menu content-menu">
                      <perfect-scrollbar class="country-code-perfect-scroll">
                        <li><a>Title</a></li>
                        <li><a>Field 2</a></li>
                        <li><a>Field 3</a></li>
                        <li><a>Field 4</a></li>
                        <li><a>Field 5</a></li>
                      </perfect-scrollbar>
                  </ul>
              </div>                        
            </div> -->
            <div class="p-selection mb-2">Preview as per above selection</div>
            <!-- New List SUNIL start-->
            <div class="result-right-sec list-2" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText' && customizeTemplateObj.template.searchResultlayout.clickable">
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>              
            </div>
            <div class="result-right-sec list-3" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText' && customizeTemplateObj.template.searchResultlayout.clickable">
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>              
            </div>
             <!-- New List SUNIL end-->
            <!-- Preview For Title with Text ClickAble-->
            <div class="result-right-sec" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText' && customizeTemplateObj.template.searchResultlayout.clickable">
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>
              <div class="result-card">
                <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
              </div>              
            </div>
            <!-- Preview For Title with Text ClickAble-->
            <!-- Preview For Title with Text Expandable-->
            <div class="result-right-sec with-accordion-state" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithText' && !customizeTemplateObj.template.searchResultlayout.clickable">             
              <div id="accordion">
                <div class="info-title">Collapsed state</div>
                <div class="card-acc">
                  <div class="card_header">
                    <div class="card_link collapsed" data-toggle="collapse" href="#collapseOne">
                      <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                      <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                    </div>
                  </div>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      
                    </div>
                  </div>
                </div>
                <div class="info-title">Expanded state</div>
                <div class="card-acc">
                  <div class="card_header">
                    <div class="card_link" data-toggle="collapse" href="#collapseTwo">
                      <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                      <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                    </div>
                  </div>
                  <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                </div>               
              </div>               
            </div>
            <!-- Preview For Title with Text Expandable-->
            <!-- Preview For Title with Image ClickAble-->
            <div class="result-right-sec with-image" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithImage' && customizeTemplateObj.template.searchResultlayout.clickable">
              <div class="result-card">
                <div class="img-block"><img src="assets/icons/search-interface/dummy-img.svg"></div>
                <div class="content-sec">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
              </div>
              <div class="result-card">
                <div class="img-block"><img src="assets/icons/search-interface/dummy-img.svg"></div>
                <div class="content-sec">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
              </div>
              <div class="result-card">
                <div class="img-block"><img src="assets/icons/search-interface/dummy-img.svg"></div>
                <div class="content-sec">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
              </div>
              <div class="result-card">
                <div class="img-block"><img src="assets/icons/search-interface/dummy-img.svg"></div>
                <div class="content-sec">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                </div>
              </div>
            </div>
           <!-- Preview For Title with Image ClickAble-->
           <!-- Preview For Title with Image Expandable-->
           <div class="result-right-sec with-accordion-state with_image_tile" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithImage' && !customizeTemplateObj.template.searchResultlayout.clickable">             
            <div id="accordion">
              <div class="info-title">Collapsed state</div>
              <div class="card-acc">
                <div class="card_header">
                  <div class="card_link collapsed" data-toggle="collapse" href="#collapse1">
                    <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                    <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                  </div>
                </div>
                <div id="collapse1" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                      <div class="with-image-tile">
                        <div class="img_block"><img src="assets/icons/search-interface/image_dummy_large.svg"></div>
                        <div class="r-desc">Field mapped for Description will appear here</div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="info-title">Expanded state</div>
              <div class="card-acc">
                <div class="card_header">
                  <div class="card_link" data-toggle="collapse" href="#collapse2">
                    <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                    <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                  </div>
                </div>
                <div id="collapse2" class="collapse show" data-parent="#accordion">
                  <div class="card-body">
                    <div class="with-image-tile">
                      <div class="img_block"><img src="assets/icons/search-interface/image_dummy_large.svg"></div>
                      <div class="r-desc">Field mapped for Description will appear here</div>
                    </div>
                  </div>
                </div>
              </div>               
            </div>               
          </div>
          <!-- Preview For Title with Image Expandable-->
           <!-- Preview For Title with Centered Content Clickable-->
            <div class="result-right-sec with-centered-content" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithCenteredContent' && customizeTemplateObj.template.searchResultlayout.clickable">             
              <div class="result-card">
                <div class="img-block"><img src="assets/icons/search-interface/image_dummy_large.svg"></div>
                <div class="content-sec">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here.</div>
                </div>
              </div>
              <div class="result-card">
                <div class="img-block"><img src="assets/icons/search-interface/image_dummy_large.svg"></div>
                <div class="content-sec">
                  <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                  <div class="r-desc text-truncate">Field mapped for Description will appear here.</div>
                </div>
              </div>
            </div>
            <!-- Preview For Title with Centered Content Clickable-->
            <!-- Preview For Title with Centered Content Expandable-->
            <div class="result-right-sec with-accordion-state tile_with_centered_content" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithCenteredContent' && !customizeTemplateObj.template.searchResultlayout.clickable">             
              <div id="accordion">
                <div class="info-title">Collapsed state</div>
                <div class="card-acc">
                  <div class="card_header">
                    <div class="card_link collapsed" data-toggle="collapse" href="#collapse1">
                      <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                      <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                    </div>
                  </div>
                  <div id="collapse1" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="with-image-tile">
                          <div class="img_block"><img src="assets/icons/search-interface/image_dummy_large.svg"></div>
                          <div class="r-desc">Field mapped for Description will appear here</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="info-title">Expanded state</div>
                <div class="card-acc">
                  <div class="card_header">
                    <div class="card_link" data-toggle="collapse" href="#collapse2">
                      <div class="r-title text-truncate">Field Mapped for heading will appear here</div>
                      <div class="r-desc text-truncate">Field mapped for Description will appear here</div>
                    </div>
                  </div>
                  <div id="collapse2" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                      <div class="with-image-tile">
                        <div class="img_block"><img src="assets/icons/search-interface/image_dummy_large.svg"></div>
                        <div class="r-desc">Field mapped for Description will appear here</div>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>               
            </div>
            <!-- Preview For Title with Centered Content Expandable-->
            <!-- Preview For Title with Header-->
            <div class="result-right-sec" *ngIf="customizeTemplateObj.template.searchResultlayout.layout == 'titleWithHeader'">
              <div class="result-card">
                <div class="r-title text-truncate m-0">Field Mapped for heading will appear here</div>                
              </div>
              <div class="result-card">
                <div class="r-title text-truncate m-0">Field Mapped for heading will appear here</div>                
              </div>
              <div class="result-card">
                <div class="r-title text-truncate m-0">Field Mapped for heading will appear here</div>                
              </div>
              <div class="result-card">
                <div class="r-title text-truncate m-0">Field Mapped for heading will appear here</div>                
              </div>
              <div class="result-card">
                <div class="r-title text-truncate m-0">Field Mapped for heading will appear here</div>                
              </div>              
            </div>
            <!-- Preview For Title with Header-->
          </div>
        </perfect-scrollbar>

      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="kr-sg-button-primary btn_lg" (click)="closeCustomModal()">Save</button>
      <button class="kr-sg-button-secondary btn_lg" (click)="closeCustomModal()">Cancel</button>
  </div>
</kr-modal> 

<kr-modal modalType="center" #previewModal id="sourceSlider" modalClass="modal_popups_ search-interface-modal">
  <div class="modal-header">
    <div class="title">Preview Template</div>
    <div class="close_icon" (click)="closePreviewModal()"><img src="assets/icons/modal-close.svg"></div>
  </div>
  
  <div class="modal-footer">
      <button class="kr-sg-button-primary btn_lg" (click)="closePreviewModal()">Save</button>
      <button class="kr-sg-button-secondary btn_lg" (click)="closePreviewModal()">Cancel</button>
  </div>
</kr-modal> 