@import './../../../app/scss/variables/variables.scss';
.indesxConfigSettingsComponent{
    .mainLoadingSpinner{
        position: absolute;
        top: 40%;
        background:  transparent;
        width: 223px;
        height: 40px;
        padding-top: 10px;
        border-radius: 4px;
        opacity: 0.95;
        padding-left: 5px;
        width: 100%;
        .please-wait-message {
            position: relative;
            color: #29293b;
            top: -16px;
            left: 25px;
            font-size: 12px;
        }  
    }

    .common_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 24px;
            margin: 0px 0px 10px 0px;
            background: #F5F8FA;
            border-radius: 4px;
            .title{               
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;                            
            }  
    }

    .index-config-settings-body{
        padding: 10px 24px;
        .body-header{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .body-header-block{
                .body-header-tag{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                    padding-bottom: 10px;
                }
                .body-header-desc{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #777A80;
                }
            }
            .body-header-link-btn{
                width: 15%;
                color: #2B75E4;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                cursor: pointer;
                .icon-add-span{
                    font-size: 11px;
                    .icon-add{
                        padding: 0 5px 0 0;
                        &::before{
                            color: #0d6efd;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
  
}

.index-config-lang-table{
    padding: 25px 0;
    .table_data_content{
        padding: 0 0px;
        text-align: left;
        .table_header{
            padding: 18px 0px;
            border-bottom: 1px solid #E4E5E7;
            .title{
                padding: 0 0px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #9AA0A6;                   
            }
            .col_{
                font-weight: 500;                       
                color: #9AA0A6;
                font-size: 12px;   
                cursor: pointer; 
                justify-content: center;          
            }
        }
        .table_body_content{
            height: calc(100vh - 300px);
            text-align: left;
            .table_body{
                padding: 18px 0px;
                box-shadow: inset 0px -1px 0px #E4E5E7;                        
                transition: 0.3s all ease-in;
                align-items: center;
                &:hover{
                    background: #F8F9FA;
                    .action_links{
                        visibility: visible;
                        .action_link-icon{
                            cursor: pointer;
                        }
                    }
                }
                .title{
                    padding: 0px 5px 0px 22px;
                    font-style: normal;
                    font-size: 14px;
                    line-height: normal;
                    color: #202124;   
                    cursor: default;
                    word-break: break-word;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                    img{
                        cursor: pointer;
                    }
                }
                .action_links{
                    padding: 0 5px;
                    visibility: hidden;
                    .field-edit-mode{
                        font-size: 10px;
                        .action_link-icon{
                            margin-right: 5px;
                            .si-check{
                                &::before{
                                    color: #0D6EFD;
                                }
                            }
                            .si-close{
                                color: #DD3646;
                            }
                            &:last-child{
                                margin-right: 0px;
                            }
                        }
                    }
                }
            }
        }
        .footer-simulate{
            text-align: right;
            margin: 30px 0;                    
        }
    }
}




::ng-deep .kr-modal{
    &.kr-center{
        &.smallModal{
            &.fieldsAddModalPopup{
                .modal-dialog{
                    max-width: 625px !important;
                    height: 430px !important;
                    .modal-content{
                        border-radius: 8px !important;
                    }
                    .add-fields-checkbox{
                        .kr-sg-checkbox{
                            padding-right: 25px !important;
                        }
                    }
                }
            }
        }
    }

}

::ng-deep ngb-modal-window{
    &.addLanguageModalPopup {
        .modal-dialog{
            .modal-content{
                border-radius: 4px !important;
                .modal-header{
                    .title{
                        font-weight: 700;
                    }
                    background: #F7F9FA !important;
                    padding: 10px 15px;
                    height: auto;
                    .close_icon{
                        background: #F7F9FA;
                    }
                }
                .modal-body{
                    padding: 10px 10px 0px 10px !important;
                    .search-field-bar{
                        .kr-sg-input-inline-search{
                            .input-search{
                                padding-left: 30px;
                            }
                            .search-icon{
                                font-size: 14px;
                                color: #BDC1C6;
                                &.close-icon{
                                    font-size: 10px;
                                    color: #BDC1C6;
                                }
                            }
                        }
                    }
                    .index-config-lang-table{
                        padding: 10px 0 0px 0 !important;
                        .table_data_content{
                            .table_header{
                                padding: 10px 0px;
                                .col_{
                                    color: #9DA1A6;
                                }
                            }
                            .table_body_content{
                                height: calc(100vh - 350px);
                                .table_body{
                                    height: auto;
                                    padding: 10px 0px;
                                    .title{
                                        font-size: 12px;
                                    }
                                    .kr-sg-checkbox{
                                        margin-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                .modal-footer{
                    .modal-footer-with-selected-count{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .slected-count{
                            color: #000000;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            .slected-count-num{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}


