@import "./../../../app/scss/variables/variables.scss";
.mainLoadingSpinner {
    position: absolute;
    top: 40%;
    // left: 30%;
    // box-shadow: 0 5px 10px 0 #e9eff5;
    background: transparent;
    width: 223px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    width: 100%;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }
}

.facets-main-container {
    position: relative;
    height: 100vh;
    .header-sec {
        // background: #f8f9fa;
        // font-weight: 500;
        // font-size: 18px;
        // line-height: 22px;
        // color: #000000;
        // padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 18px 9px 45px;
        margin: 0px 0px 20px 0px;
        background: #F5F8FA;
        border-radius: 4px;
        min-height: 52px;
        .title {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
        .kr-sg-input-search {
            display: inline-block;
            width: 0px;
            width: 215px;            
            position: relative;            
            &.active {
                display: block;
                width: 300px;
            }
            .close-icon {
                position: absolute;
                right: 11px;
                top: 12px;
                cursor: pointer;
            }
        }
        .seach-block {
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            img {
                margin-right: 7px;
                cursor: pointer;
            }
        }
        .kr-sg-button-primary {
            border: 1px solid #F5F8FA;
            box-sizing: border-box;
            border-radius: 4px;
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            background: #F5F8FA;
            img {
                margin-right: 5px;
            }
        }
    }
    .right-sec {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // .seach_add_feild{
        //         display: flex;
        //         align-items: center;
        //         justify-content: flex-end;
        //         padding: 17px 18px;
        //         margin: 10px 0px 10px 0px;
        //         background: #F5F8FA;
        //         border-radius: 4px;
        // }
        .kr-sg-input-text {
            width: 300px;
            right: 10px;
            width: 0px;
            display: none;
            position: relative;
            &.active {
                display: block;
                width: 300px;
            }
        }
        .seach-block {
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            margin-right: 30px;
            img {
                margin-right: 7px;
                cursor: pointer;
                position: relative;
                top: -1px;
            }
        }
        .add_feild {
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            margin-right: 30px;
            cursor: pointer;
            img {
                margin-right: 7px;
                position: relative;
                top: -1px;
            }
        }
        .clock {
            cursor: pointer;
            img {
                position: relative;
                top: -1px;
            }
        }
    }
}

.search-input-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 30px;
    .kr-sg-input-search {
        width: 252px;
        input {
            padding: 4px 10px 4px 35px !important;
        }
    }
    .actions {
        .selected_count {
            color: #5F6368;
            font-size: 14px;
        }
        button {
            margin-right: 12px;
        }
        img {
            margin-left: 12px;
            cursor: pointer;
        }
    }
}

.table_section {
    padding: 0 30px;
    margin-top: 27px;
    .header_sec {
        align-items: center;
        padding: 16px 0;
        height: 50px;
        border-bottom: 1px solid #e4e5e7;
        .content {
            color: #9aa0a6;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            padding: 0 11px;
            &.withcheckbox {
                display: flex;
                align-items: center;
                .kr-sg-checkbox {
                    .checkbox-custom {
                        height: auto;
                        position: absolute;
                        +.checkbox-custom-label {
                            &::before {
                                padding: 0;
                                margin-right: 0;
                                margin-top: 0px;
                            }
                        }
                    }
                }
                .title {
                    // padding-left: 28px;
                }
            }
        }
    }
    .scroll_table {
        height: calc(100vh - 198px);
    }
    .body_sec {
        align-items: center;
        padding: 13px 0px;
        min-height: 50px;
        // border-bottom: 1px solid #E4E5E7;
        cursor: pointer;
        transition: 0.3s all ease;
        margin-bottom: 1px !important;
        .drag_drop_icon {
            position: absolute;
            left: 14px;
            display: none;
        }
        &.selected {
            background: #f3f8ff;
            border-radius: 4px;
            border: 0;
            .content {
                &.withcheckbox {
                    .kr-sg-checkbox {
                        visibility: visible !important;
                    }
                }
            }
            &:hover {
                background: #f3f8ff;
            }
        }
        .content {
            color: #202124;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            &.withcheckbox {
                display: flex;
                align-items: center;
                .kr-sg-checkbox {
                    visibility: hidden;
                    .checkbox-custom {
                        height: auto;
                        position: absolute;
                        +.checkbox-custom-label {
                            &::before {
                                padding: 0;
                                margin-right: 0;
                                margin-top: 0px;
                            }
                        }
                    }
                }
                .title {
                    padding-left: 33px;
                    line-height: 17px;
                }
            }
            &.actions {
                text-align: right;
                display: none;
                img {
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
            .inActive {
                background: #EFF0F1;
                border-radius: 5px;
                padding: 5px 10px 5px 25px;
                position: relative;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                min-height: 24px;
                display: inline-block;
                &::before {
                    content: "";
                    height: 7px;
                    width: 7px;
                    left: 10px;
                    top: 8px;
                    border-radius: 5px;
                    position: absolute;
                    background: #9AA0A6;
                }
            }
            .active {
                background: #EAF6EC;
                border-radius: 5px;
                padding: 5px 10px 5px 25px;
                position: relative;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                min-height: 24px;
                display: inline-block;
                &::before {
                    content: "";
                    height: 7px;
                    width: 7px;
                    left: 10px;
                    top: 8px;
                    border-radius: 5px;
                    position: absolute;
                    background: #28A745;
                }
            }
        }
        &:hover {
            background: #f8f9fa;
            .drag_drop_icon {
                display: block;
            }
            .actions {
                display: block;
            }
            .content {
                &.withcheckbox {
                    .kr-sg-checkbox {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.log_section {
    top: 0;
    position: absolute;
    right: 0;
    height: calc(100% - 61px);
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    width: 400px;
    padding: 18px;
    .header-log {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            color: #26344a;
            letter-spacing: 0.714286px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
        }
        .close_log {
            cursor: pointer;
        }
    }
    .empty_log {
        height: calc(100% - 3px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img {
            margin-bottom: 20px;
        }
        .main-title {
            color: #8a959f;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 14px;
            margin-bottom: 10px;
        }
        .desc {
            color: #8a959f;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.disabled {
    pointer-events: none !important;
    opacity: 0.8;
}

.empty-list {
    width: 320px;
    margin: 0 auto;
    // height: calc(100% - 60px);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: calc(100% - 146px);
    img {
        width: 75%;
        margin: 0 auto;
    }
    .heading {
        margin: 18px 0 8px 0;
        color: $primaryColor;
    }
    .desc {
        color: $secondaryColor;
        font-size: 14px;
    }
}

.w-400 {
    width: 400px;
}

::ng-deep .facetModalPouup {
    .modal-dialog {
        width: 810px !important;
        max-width: 810px !important;
        height: 85% !important;
        .modal-content {
            border-radius: 8px !important;
            .modal-header{
                padding: 12px 30px;
                border-bottom: 0px solid #BDC1C6 !important;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                background: #fff !important;
                display: flex !important;
                margin-bottom: 4px;
                height: 54px !important;
                &.noShadow{
                    box-shadow: none;
                }
                .title{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #202124;
                    float: left;
                    width: auto;
                }
                .close_icon{
                    cursor: pointer;
                    float: right;
                    width: 30px;
                    height: 30px;
                    background: #fff;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 28px;
                    &:hover{
                        background:  #F3F8FF; 
                    }
                }
            }
        }
    }
    .modal-body {
        padding: 20px 30px !important;
        .nav{
            border: 0;
            margin: 0;
            padding: 0;
            li{
                margin-right: 20px;
                a{
                    border: 1px solid #BDC1C6;
                    box-sizing: border-box;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    padding: 6px 20px;
                    font-weight: normal;
                    height: 34px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #202124;
                    text-decoration: none !important;
                    cursor: pointer;
                    &.active{
                        background: #E4E5E7;
                    }
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
        .tab-content{
            padding: 20px 0 0 0;
            .filterfacet-content{
                .group-radiobutton{
                    margin-bottom: 18px;
                    .heading-title{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                        color: #202124;
                    }
                }
                .box-input-data{
                    padding: 0;
                    margin: 0px 0px 20px 0px;
                    .sort-section{
                        background: #F8F9FA;
                        border-radius: 4px;
                        padding: 6px 10px 12px 10px;
                        .inner-sort-inputs{
                            .label-text{
                                padding-left: 5px;
                                margin-bottom: 4px;
                            }
                            .kr-sg-dropdowns{
                                margin: 0 5px
                            }
                        }
                    }
                    .facet-size{
                        padding: 6px 0px 10px 15px;
                        .kr-sg-input-text {
                            input{
                                text-align: center;
                                padding: 0 50px;
                            }
                            .minus{
                                position: absolute;
                                left: 15px;
                                bottom: 8px;
                                cursor: pointer;
                            }
                            .plus{
                                position: absolute;
                                right: 15px;
                                bottom: 8px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .toggle-switch{
                    display: flex;
                    align-items: center;
                    .text-toggle{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        padding-left: 8px;
                    }
                }
                .range-data-rows-content{
                    background: #F8F9FA;
                    margin-bottom: 20px;
                    .range-data-box-inputs{
                        margin: 0;
                        padding: 10px 35px 10px 8px;
                        border-radius: 4px;
                        transition: 0.1s all ease;
                        &:hover{
                            background: #EFF0F1;
                            .delete-row{
                                display: block;
                            }
                        }
                        .delete-row{
                            position: absolute;
                            right: 15px;
                            top: 40px;
                            display: none;
                            cursor: pointer;
                        }
                    }
                    .add-range-btn{
                        display: inline-flex;
                        align-items: center;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #0D6EFD;
                        margin: 10px 0 13px 16px;
                        cursor: pointer;
                        img{
                            margin-right: 12px;
                        }
                    }
                }
            }
            .tabfacet-data{
                .search-filter-btn{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    .filter-btn{
                        background: #FFFFFF;
                        border: 1px solid #BDC1C6;
                        box-sizing: border-box;
                        border-radius: 4px;
                        width: 34px;
                        height: 34px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 20px;
                        flex-shrink: 0;
                        cursor: pointer;
                    }
                }
                .configured-facets{
                    .main-heading-title{
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        color: #202124;
                        margin-bottom: 10px;
                    }
                    .header-sec-config-facet{
                        padding: 9px 0;
                        margin: 0;
                        background: #FFFFFF;
                        box-shadow: inset 0px -1px 0px #e4e5e7;
                        align-items: center;
                        .title {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            text-transform: uppercase;
                            color: #9AA0A6;
                            padding: 0 10px;
                            &.values-data{
                                padding: 0 10px 0 26px;
                            }
                        }
                    }
                    .body-sec-config-facet{
                        margin: 0;
                        padding: 9px 0;
                        .title{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 16px;
                            color: #202124;
                            padding: 0 10px;
                            &.values-data{
                                padding: 0 10px 0 5px;
                                display: flex;
                                align-items: center;
                                img{
                                    cursor: move;
                                }
                                .title-value{
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #202124;
                                    padding-left: 16px;
                                }
                            }
                        }
                    }
                }
            }
           .tab-facet-info-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #EFF0F1;
                padding: 11px 20px;
                margin-bottom: 18px;
                .content-data{
                    display: flex;
                    align-items: center;
                    .warning-icon{
                        width: 28px;
                        height: 28px;
                        background: #F8F9FA;
                        flex-shrink: 0;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 12px;
                    }
                    .text-content{
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 18px;
                        color: #000000;
                    }
                }
                .ok-btn{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #0D6EFD;
                    cursor: pointer;
                }
           }
        }
        .search_block {
            border-bottom: 1px solid #f5f5f5;
            &.disabled{
                pointer-events: none !important;
                z-index: 99;
                position: relative;
                .kr-sg-dropdowns{
                    pointer-events: none;
                    .search-with-dropdown{
                        border: 1px solid #EFF0F1;
                        pointer-events: none;
                    }
                    input{
                        background: #EFF0F1;
                        pointer-events: none;
                        border: 1px solid #EFF0F1;
                    }
                }
            }
            .scroll-search-field {                
                max-height: 300px;
            }
            .title {
                color: #9aa0a6;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #5f6368;
                    padding-left: 2px;
                }
            }
            .kr-sg-dropdowns {
                .search-with-dropdown {
                    position: absolute;
                    border: 0;
                    cursor: auto;
                    &::before {
                        display: none;
                    }
                }
                input {
                    padding-left: 35px;
                }
            }
        }
        .config-facet-table{
            .table-header-facet{
                margin: 0;
                padding: 10px 0;
                background: #FFFFFF;
                box-shadow: inset 0px -1px 0px #e4e5e7;
                .checkbox-with-label{
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    .kr-sg-checkbox{
                        padding: 0;
                        margin: 0;
                    }
                    .title-checkbox{
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #9AA0A6;
                        padding-left: 20px;
                    }
                }
                .display-name{
                    padding: 0 10px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #9AA0A6;
                    text-transform: uppercase;
                }                
            }
            .table-body-facet{
                padding: 8px 0;
                margin: 0;
                background: #FFFFFF;
                box-shadow: inset 0px -1px 0px #e4e5e7;
                &.selected{
                    background: #EFF0F1;
                }
                .checkbox-with-label{
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    .kr-sg-checkbox{
                        padding: 0;
                        margin: 0;
                    }
                    .title-checkbox{
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: #202124;
                        padding-left: 20px;
                        .kr-sg-dropdowns {
                            .search-with-dropdown {
                                position: absolute;
                                border: 0;
                                &::before {
                                    display: none;
                                }
                            }
                            input {
                                padding-left: 10px;
                            }                      
                        }
                    }
                }
                .display-name{
                    padding: 0 10px;
                    .kr-sg-input-text{
                        width: 250px;
                    }
                }
                .delete{
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
            .add-value{
                cursor: pointer;
                padding-top: 14px;
                span{
                    color: #0D6EFD;
                    margin-left: 10px;
                }
            }
        }
    }
}

.seach_add_feild {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17px 18px;
    margin: 22px 24px 12px 24px;
    background: #F5F8FA;
    border-radius: 4px;
    .kr-sg-input-search {
        display: inline-block;
        width: 0px;
        display: none;
        width: 300px;
        height: 20px;
        position: relative;
        bottom: 6px;
        right: 10px;
        &.active {
            display: block;
            width: 300px;
        }
    }
    .seach-block {
        color: #202124;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        // line-height: 14px;
        margin-right: 30px;
        img {
            margin-right: 7px;
            cursor: pointer;
        }
    }
    .add_feild {
        color: #202124;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        img {
            margin-right: 7px;
        }
    }
}

::ng-deep perfect-scrollbar .ps--active-y {
    .ps__thumb-y {
        width: 3px !important;
    }
    .ps__rail-y {
        width: 3px !important;
    }
    .ps__thumb-x {
        display: none !important;
    }
    .ps__rail-x {
        display: none !important;
    }
}

.empty-scroll {
    height: calc(100vh - 162px);
}

.downArrow {
    top: 2.3px !important;
    margin-right: 0px !important;
    margin-left: -8px;
}

.upArrow {
    transform: rotate(180deg) !important;
}

.header_sec {
    .content {
        font-weight: 500;
        color: #9AA0A6;
        font-size: 12px;
        cursor: pointer;
        &.d-flex {
            align-items: center;
        }
        .selectall-title {
            // padding-left: 28px;
            padding-left: 90px;
        }
        .sortImg {
            position: static;
            &.upArrow {
                transform: none !important;
            }
            &.downArrow {
                transform: rotate(180deg) !important;
                top: -1px !important;
                position: relative;
            }
            &.assending {
                transform: rotate(180deg);
            }
            &.decending {
                transform: rotate(0deg);
            }
        }
        .type_sort_dropdown .dropdown-open .dropdown-input img {
            top: unset;
        }
    }
}

.kr-sg-checkbox {
    &.adjust-checkbox-padding {
        padding-left: 40px !important;
    }
    &.select-all-checkbox.adjust-checkbox-padding{
        padding-left: 35px !important;
    }
    &.partial-select-checkbox.adjust-checkbox-padding{
        padding-left: 35px !important;
    }
}

.pl-pr-17 {
    padding: 0 17px;
}

//Search Input styles//

.pl-33 {
    padding-left: 33px;
}

.pr-28 {
    padding-right: 28px;
}

.right-sec{
    button{
        margin-right: 10px;
    }
}
.selected_count{
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}

.partial-select-checkbox {
    img{
        margin-right: 12px;
        cursor: pointer;
    }
}

.row-content{
    .kr-sg-input-text {
        input.input-text.err-block{
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 54, 70);
        }
    }
}

.kr-sg-dropdowns{
    .kr-sg-input-search {
        input.input-search.err-block{
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 54, 70);
        }
    }
}

::ng-deep .my-custom-warning-class .tooltip-inner {
    max-width: 235px !important;
    text-align: left !important;
  }
  
  ::ng-deep .text-left-warning .tooltip-inner {
    text-align: left !important;
  }