@import "./../../../app/scss/variables/variables.scss";
.mainLoadingSpinner {
    position: absolute;
    top: 40%;
    // left: 30%;
    // box-shadow: 0 5px 10px 0 #e9eff5;
    background: transparent;
    width: 223px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    width: 100%;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }
}

.facets-main-container {
    position: relative;
    height: 100vh;
    .header-sec {
        // background: #f8f9fa;
        // font-weight: 500;
        // font-size: 18px;
        // line-height: 22px;
        // color: #000000;
        // padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 9px 18px 9px 45px;
        margin: 0px 0px 20px 0px;
        background: #F5F8FA;
        border-radius: 4px;
        min-height: 52px;
        .title {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
        .kr-sg-input-search {
            display: inline-block;
            width: 0px;
            width: 215px;            
            position: relative;            
            &.active {
                display: block;
                width: 300px;
            }
            .close-icon {
                position: absolute;
                right: 11px;
                top: 12px;
                cursor: pointer;
            }
        }
        .seach-block {
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            img {
                margin-right: 7px;
                cursor: pointer;
            }
        }
        .kr-sg-button-primary {
            border: 1px solid #F5F8FA;
            box-sizing: border-box;
            border-radius: 4px;
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            background: #F5F8FA;
            img {
                margin-right: 5px;
            }
        }
    }
    .right-sec {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // .seach_add_feild{
        //         display: flex;
        //         align-items: center;
        //         justify-content: flex-end;
        //         padding: 17px 18px;
        //         margin: 10px 0px 10px 0px;
        //         background: #F5F8FA;
        //         border-radius: 4px;
        // }
        .kr-sg-input-text {
            width: 300px;
            right: 10px;
            width: 0px;
            display: none;
            position: relative;
            &.active {
                display: block;
                width: 300px;
            }
        }
        .seach-block {
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            margin-right: 30px;
            img {
                margin-right: 7px;
                cursor: pointer;
                position: relative;
                top: -1px;
            }
        }
        .add_feild {
            color: #202124;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            margin-right: 30px;
            cursor: pointer;
            img {
                margin-right: 7px;
                position: relative;
                top: -1px;
            }
        }
        .clock {
            cursor: pointer;
            img {
                position: relative;
                top: -1px;
            }
        }
    }
}

.search-input-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 30px;
    .kr-sg-input-search {
        width: 252px;
        input {
            padding: 4px 10px 4px 35px !important;
        }
    }
    .actions {
        .selected_count {
            color: #5F6368;
            font-size: 14px;
        }
        button {
            margin-right: 12px;
        }
        img {
            margin-left: 12px;
            cursor: pointer;
        }
    }
}

.table_section {
    padding: 0 30px;
    margin-top: 27px;
    .header_sec {
        align-items: center;
        padding: 16px 0;
        height: 50px;
        border-bottom: 1px solid #e4e5e7;
        .content {
            color: #9aa0a6;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            padding: 0 11px;
            &.withcheckbox {
                display: flex;
                align-items: center;
                .kr-sg-checkbox {
                    .checkbox-custom {
                        height: auto;
                        position: absolute;
                        +.checkbox-custom-label {
                            &::before {
                                padding: 0;
                                margin-right: 0;
                                margin-top: 0px;
                            }
                        }
                    }
                }
                .title {
                    // padding-left: 28px;
                }
            }
        }
    }
    .scroll_table {
        height: calc(100vh - 198px);
    }
    .body_sec {
        align-items: center;
        padding: 13px 0px;
        min-height: 50px;
        // border-bottom: 1px solid #E4E5E7;
        cursor: pointer;
        transition: 0.3s all ease;
        margin-bottom: 1px !important;
        .drag_drop_icon {
            position: absolute;
            left: 14px;
            display: none;
        }
        &.selected {
            background: #f3f8ff;
            border-radius: 4px;
            border: 0;
            .content {
                &.withcheckbox {
                    .kr-sg-checkbox {
                        visibility: visible !important;
                    }
                }
            }
            &:hover {
                background: #f3f8ff;
            }
        }
        .content {
            color: #202124;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            &.withcheckbox {
                display: flex;
                align-items: center;
                .kr-sg-checkbox {
                    visibility: hidden;
                    .checkbox-custom {
                        height: auto;
                        position: absolute;
                        +.checkbox-custom-label {
                            &::before {
                                padding: 0;
                                margin-right: 0;
                                margin-top: 0px;
                            }
                        }
                    }
                }
                .title {
                    padding-left: 33px;
                    line-height: 17px;
                }
            }
            &.actions {
                text-align: right;
                display: none;
                img {
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
            .inActive {
                background: #EFF0F1;
                border-radius: 5px;
                padding: 5px 10px 5px 25px;
                position: relative;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                min-height: 24px;
                display: inline-block;
                &::before {
                    content: "";
                    height: 7px;
                    width: 7px;
                    left: 10px;
                    top: 8px;
                    border-radius: 5px;
                    position: absolute;
                    background: #9AA0A6;
                }
            }
            .active {
                background: #EAF6EC;
                border-radius: 5px;
                padding: 5px 10px 5px 25px;
                position: relative;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                min-height: 24px;
                display: inline-block;
                &::before {
                    content: "";
                    height: 7px;
                    width: 7px;
                    left: 10px;
                    top: 8px;
                    border-radius: 5px;
                    position: absolute;
                    background: #28A745;
                }
            }
        }
        &:hover {
            background: #f8f9fa;
            .drag_drop_icon {
                display: block;
            }
            .actions {
                display: block;
            }
            .content {
                &.withcheckbox {
                    .kr-sg-checkbox {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.log_section {
    top: 0;
    position: absolute;
    right: 0;
    height: calc(100% - 61px);
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    width: 400px;
    padding: 18px;
    .header-log {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            color: #26344a;
            letter-spacing: 0.714286px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
        }
        .close_log {
            cursor: pointer;
        }
    }
    .empty_log {
        height: calc(100% - 3px);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        img {
            margin-bottom: 20px;
        }
        .main-title {
            color: #8a959f;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 14px;
            margin-bottom: 10px;
        }
        .desc {
            color: #8a959f;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.disabled {
    pointer-events: none !important;
    opacity: 0.8;
}

.empty-list {
    width: 320px;
    margin: 0 auto;
    // height: calc(100% - 60px);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: calc(100% - 146px);
    img {
        width: 75%;
        margin: 0 auto;
    }
    .heading {
        margin: 18px 0 8px 0;
        color: $primaryColor;
    }
    .desc {
        color: $secondaryColor;
        font-size: 14px;
    }
}

.w-400 {
    width: 400px;
}

::ng-deep .facetModalPouup {
    .modal-dialog {
        width: 810px !important;
        max-width: 810px !important;
        height: 81% !important;
        .modal-content {
            border-radius: 8px !important;
        }
    }
    .toggle_switch {
        margin-right: 116px;
        line-height: normal;
        float: right;
        position: relative;
        top: 5px;
        .kr-sg-toggle {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            margin: 0;
            input {
                height: auto;
                &:checked {
                    +.slider {
                        border: 1px solid #0d6efd;
                        background-color: #0d6efd;
                        &::before {
                            transform: translateX(20px);
                            background-color: #ffffff;
                        }
                    }
                }
            }
            .slider {
                background-color: #ffffff;
                border: 1px solid #bdc1c6;
                &::before {
                    height: 12px;
                    top: 3px;
                    width: 12px;
                    left: 3px;
                    background: #bdc1c6;
                }
                .enabled,
                .disabled {
                    width: 136px;
                    font-size: 12px;
                    color: #202124;
                    padding-left: 50px;
                    top: 1px;
                }
                .enabled {
                    font-weight: 500;
                }
                .disabled {}
            }
        }
    }
    .modal-body {
        .search_block {
            padding-bottom: 25px;
            border-bottom: 1px solid #f5f5f5;
            .scroll-search-field {                
                max-height: 300px;
            }
            .title {
                color: #9aa0a6;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                span {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #5f6368;
                    padding-left: 2px;
                }
            }
            .kr-sg-dropdowns {
                .search-with-dropdown {
                    position: absolute;
                    border: 0;
                    &::before {
                        display: none;
                    }
                }
                input {
                    padding-left: 35px;
                }
            }
        }
        .row-content {
            align-items: center;
            margin: 28px 0;
            .checkbox-content {
                position: relative;
                top: 12px;
            }
        }
        .box-content {
            padding: 15px 10px;
            background: #f8f9fa;
            border-radius: 4px;
            &.adjust_padding {
                padding: 15px 10px;
            }
            .row_inputs {
                margin: 0 0px 20px 0;
                align-items: center;
                &:last-child {
                    margin-bottom: 0;
                }
                .add {
                    position: relative;
                    top: 12px;
                    text-align: right;
                    padding: 0;
                    img {
                        height: 34px;
                        width: 34px;
                        cursor: pointer;
                        &.trash {
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
            }
        }
        .kr-sg-input-text {
            &.box-content {
                background-color: #ffffff;
            }
        }
    }
    .modal-header{
        height: auto;
        padding: 22px 30px;
        border-bottom: 0px solid #BDC1C6 !important;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        background: #fff !important;
        display: block !important;
        margin-bottom: 4px;
        &.noShadow{
            box-shadow: none;
        }
        .title{
            color: #202124;
            font-weight: normal;
            font-size: 14px;
            float: left;
            font-weight: 400;
            width: auto;
        }
        .close_icon{
            cursor: pointer;
            float: right;
            width: 30px;
            height: 30px;
            background: #fff;
            border-radius: 100%;
            text-align: center;
            line-height: 28px;
            &:hover{
                background:  #F3F8FF; 
            }
        }
    }
}

.seach_add_feild {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 17px 18px;
    margin: 22px 24px 12px 24px;
    background: #F5F8FA;
    border-radius: 4px;
    .kr-sg-input-search {
        display: inline-block;
        width: 0px;
        display: none;
        width: 300px;
        height: 20px;
        position: relative;
        bottom: 6px;
        right: 10px;
        &.active {
            display: block;
            width: 300px;
        }
    }
    .seach-block {
        color: #202124;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        // line-height: 14px;
        margin-right: 30px;
        img {
            margin-right: 7px;
            cursor: pointer;
        }
    }
    .add_feild {
        color: #202124;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        cursor: pointer;
        img {
            margin-right: 7px;
        }
    }
}

::ng-deep perfect-scrollbar .ps--active-y {
    .ps__thumb-y {
        width: 3px !important;
    }
    .ps__rail-y {
        width: 3px !important;
    }
    .ps__thumb-x {
        display: none !important;
    }
    .ps__rail-x {
        display: none !important;
    }
}

.empty-scroll {
    height: calc(100vh - 162px);
}

.downArrow {
    top: 2.3px !important;
    margin-right: 0px !important;
    margin-left: -8px;
}

.upArrow {
    transform: rotate(180deg) !important;
}

.header_sec {
    .content {
        font-weight: 500;
        color: #9AA0A6;
        font-size: 12px;
        cursor: pointer;
        &.d-flex {
            align-items: center;
        }
        .selectall-title {
            // padding-left: 28px;
            padding-left: 90px;
        }
        .sortImg {
            position: static;
            &.upArrow {
                transform: none !important;
            }
            &.downArrow {
                transform: rotate(180deg) !important;
                top: -1px !important;
                position: relative;
            }
            &.assending {
                transform: rotate(180deg);
            }
            &.decending {
                transform: rotate(0deg);
            }
        }
        .type_sort_dropdown .dropdown-open .dropdown-input img {
            top: unset;
        }
    }
}

.kr-sg-checkbox {
    &.adjust-checkbox-padding {
        padding-left: 40px !important;
    }
    &.select-all-checkbox.adjust-checkbox-padding{
        padding-left: 35px !important;
    }
    &.partial-select-checkbox.adjust-checkbox-padding{
        padding-left: 35px !important;
    }
}

.pl-pr-17 {
    padding: 0 17px;
}

//Search Input styles//

.pl-33 {
    padding-left: 33px;
}

.pr-28 {
    padding-right: 28px;
}

.right-sec{
    button{
        margin-right: 10px;
    }
}
.selected_count{
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}

.partial-select-checkbox {
    img{
        margin-right: 12px;
        cursor: pointer;
    }
}

.row-content{
    .kr-sg-input-text {
        input.input-text.err-block{
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 54, 70);
        }
    }
}

.kr-sg-dropdowns{
    .kr-sg-input-search {
        input.input-search.err-block{
            background-color: rgb(255, 255, 255);
            border-color: rgb(221, 54, 70);
        }
    }
}