<div class="facets-main-container">
    <div class="header">Facets</div>
    <div class="search-input-block">
        <div class="kr-sg-input-search">                               
            <input type="text" placeholder="Search" class="input-search">
            <img src="assets/icons/search_gray.svg" class="search-icon">
        </div>
        <div class="actions">
            <button class="kr-sg-button-primary btn_lg">Add Facet</button>
            <button class="kr-sg-button-secondary btn_lg">Deselect</button>
            <button class="kr-sg-button-danger btn_lg">Delete Facets</button>
            <img src="assets/icons/clock.svg">
        </div>
    </div>
    <div class="table_section">
        <div class="header_sec row m-0">
            <div class="col-4 content withcheckbox">
                <div class="kr-sg-checkbox p-0 m-0">
                    <input id="checkbox-2" class="checkbox-custom" type="checkbox">
                    <label for="checkbox-2" class="checkbox-custom-label"></label>
                </div>
                <div class="title">FACET Name</div>
            </div>
            <div class="col-3 content">TYPE</div>
            <div class="col-3 content">MULTI SELECT</div>
            <div class="col-2 content"></div>
        </div>
        <perfect-scrollbar class="scroll_table">            
            <div class="body_sec row m-0">
                <div class="col-4 content withcheckbox">
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="checkbox-3" class="checkbox-custom" type="checkbox">
                        <label for="checkbox-3" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Product Type</div>
                </div>
                <div class="col-3 content">Value</div>
                <div class="col-3 content">Yes</div>
                <div class="col-2 content actions">
                    <img class="action_icon" [container]="'body'" (click)="openModal()" ngbTooltip='Edit' src="assets/images/edit-pencil.svg">
                    <img class="action_icon" ngbTooltip='Delete' [container]="'body'" src="assets/icons/delete-table.svg">
                </div>
            </div>
            <div class="body_sec row m-0 selected">
                <div class="col-4 content withcheckbox">
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="checkbox-1" class="checkbox-custom" type="checkbox">
                        <label for="checkbox-1" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Asset Class</div>
                </div>
                <div class="col-3 content">Value</div>
                <div class="col-3 content">Yes</div>
                <div class="col-2 content actions">
                    <img class="action_icon" [container]="'body'" ngbTooltip='Edit' src="assets/images/edit-pencil.svg">
                    <img class="action_icon" ngbTooltip='Delete' [container]="'body'" src="assets/icons/delete-table.svg">
                </div>
            </div>
            <div class="body_sec row m-0">
                <div class="col-4 content withcheckbox">
                    <div class="kr-sg-checkbox p-0 m-0">
                        <input id="checkbox-3" class="checkbox-custom" type="checkbox">
                        <label for="checkbox-3" class="checkbox-custom-label"></label>
                    </div>
                    <div class="title">Customer Type</div>
                </div>
                <div class="col-3 content">Value</div>
                <div class="col-3 content">Yes</div>
                <div class="col-2 content actions">
                    <img class="action_icon" [container]="'body'" ngbTooltip='Edit' src="assets/images/edit-pencil.svg">
                    <img class="action_icon" ngbTooltip='Delete' [container]="'body'" src="assets/icons/delete-table.svg">
                </div>
            </div>            
        </perfect-scrollbar>
    </div>

    <div class="log_section d-none">
        <div class="header-log">
            <div class="title">Log</div>
            <div class="close_log"><img src="assets/images/close-cross.svg"></div>
        </div>
        <div class="empty_log">
            <img src="assets/icons/empty-log.svg">
            <div class="main-title">Nothing in log to display</div>
            <div class="desc">Go ahead and make some changes.</div>
        </div>
    </div>
</div>


<kr-modal modalType="center" modalClass="modal_popups_ facetModalPouup"  #facetModalPouup>   
    <div class="modal-header">
        <div class="title">Add Facet</div>
        <div class="close_icon"><img (click)="closeModal()" src="assets/icons/modal-close.svg"></div>
    </div>
    <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body textAlignLeft">
        <div class="search_block">
            <div class="label-text">Field Name</div>             
            <div class="row m-0 align-items-center">
                <div class="kr-sg-dropdowns col-10 pl-0">
                    <div class="kr-sg-input-search dropdown dropdown-open line-height-0">
                        <button class="dropdown-toggle dropdown-input search-with-dropdown" data-toggle="dropdown"></button>    
                        <input type="text" placeholder="Search for Field" class="input-search dropdown-toggle dropdown-input" data-toggle="dropdown">
                        <img src="assets/images/search_gray.svg" class="search-icon">                                                         
                        <ul class="dropdown-menu content-menu">
                            <li><a>Option 1</a></li>
                            <li><a>Option 2</a></li>
                            <li><a>Option 3</a></li>
                        </ul>
                    </div>                        
                </div>
                <div class="col-2 pr-0">
                    <div class="title">Field Type :<span class="string">String</span></div>
                </div>
            </div>
        </div>          
        <div class="row-content row">
            <div class="kr-sg-input-text col-7 pl-0">
                <div class="label-text">Label</div>
                <input type="text" placeholder="Placeholder text" class="input-text">                
            </div>
            <div class="kr-sg-dropdowns col-3 pl-2">
                <div class="label-text">Label</div>
                <div class="dropdown dropdown-open">
                    <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                    <ul class="dropdown-menu content-menu">                                                                   
                      <li><a>Option 1</a></li>
                      <li><a>Option 2</a></li>
                      <li><a>Option 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="kr-sg-checkbox d-block col-2 checkbox-content pr-0 pl-2 m-0">
                <input id="checkbox_drp1" class="checkbox-custom" type="checkbox">
                <label for="checkbox_drp1" class="checkbox-custom-label">Multi Select</label>
            </div>
        </div>  
        <div class="box-content">
            <div class="row row_inputs">
                <div class="kr-sg-input-text col-7 pl-0">
                    <div class="label-text">Range Name (Optional)</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
                <div class="kr-sg-input-text col-2 pl-2">
                    <div class="label-text">From</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
                <div class="kr-sg-input-text col-2 pl-2">
                    <div class="label-text">To</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
            </div>
            <div class="row row_inputs">
                <div class="kr-sg-input-text col-7 pl-0">
                    <div class="label-text">Range Name (Optional)</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
                <div class="kr-sg-input-text col-2 pl-2">
                    <div class="label-text">From</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
                <div class="kr-sg-input-text col-2 pl-2">
                    <div class="label-text">To</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
                <div class="col-1 pl-2 add">
                    <img src="assets/images/add-input-field.svg">               
                </div>
            </div>
        </div>
        <div class="box-content adjust_padding">
            <div class="row row_inputs">
                <div class="kr-sg-input-text col-6 pl-0">
                    <div class="label-text">Size (Optional)</div>
                    <input type="text" placeholder="Placeholder text" class="input-text">                   
                </div>
                <div class="kr-sg-dropdowns col-3 pl-2">
                    <div class="label-text">Order (Optional)</div>
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                        <ul class="dropdown-menu content-menu">                                                                   
                          <li><a href="#">Option 1</a></li>
                          <li><a href="#">Option 2</a></li>
                          <li><a href="#">Option 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="kr-sg-dropdowns col-3 pl-2 pr-0">
                    <div class="label-text">Sort</div>
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                        <ul class="dropdown-menu content-menu">                                                                   
                          <li><a href="#">Option 1</a></li>
                          <li><a href="#">Option 2</a></li>
                          <li><a href="#">Option 3</a></li>
                        </ul>
                    </div>
                </div>                
            </div>            
        </div>   
    </div>
    </perfect-scrollbar> 
    <div class="modal-footer">          
        <button type="button" class="kr-sg-button-primary btn_lg float-right">Add</button>        
        <button type="button" class="kr-sg-button-secondary btn_lg float-right">Cancel</button>
    </div>    
</kr-modal>