@import './../../../app/scss/variables/variables.scss';

.overview-container{
    .header{
        background: #F8F9FA;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 15px 30px;
    }
    .scroll_content{
        height: calc(100vh - 62px);
        background: #FFFFFF;
    }
    .body-overview{
        padding: 15px 15px 15px 15px;    
        .right-sec{
            .activities-table-data{
                background: #FFFFFF;
                box-shadow: 0px -4px 80px rgba(0, 0, 0, 0.07), 0px -1.48494px 6.91958px rgba(0, 0, 0, 0.0186561);
                border-radius: 6px;
                padding: 20px;
                margin-bottom: 20px;
                .main-title{
                    color: #202124;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #BDC1C6;
                }
                .table-activity{
                    padding: 16px 0;
                    border-bottom: 1px solid #E4E5E7;
                    .title {
                        color: #26344A;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    .timehour {
                        color: #9AA0A6;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: right;
                    }
                }
                .show_more_link{
                    color: #0D6EFD;
                    display: inline-block;
                    cursor: pointer;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 20px 0 0 0;
                }                
            }
            .experment_data{
                background: #FFFFFF;
                box-shadow: 0px -4px 80px rgba(0, 0, 0, 0.07), 0px -1.48494px 6.91958px rgba(0, 0, 0, 0.0186561);
                border-radius: 6px;
                padding: 20px;
                min-height: 171px;
                margin-bottom: 20px;
                .main-title{
                    color: #202124;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    padding-bottom: 20px;
                }
                .columns-data{
                    padding: 10px 0;
                    .title{
                        color: #202124;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;                    
                    }
                    .create_link{
                        color: #0D6EFD;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        cursor: pointer;
                        display: inline-block;
                    }                    
                }                
            }
            .config-channels{
                background: #FFFFFF;
                box-shadow: 0px -4px 80px rgba(0, 0, 0, 0.07), 0px -1.48494px 6.91958px rgba(0, 0, 0, 0.0186561);
                border-radius: 6px;
                padding: 20px;
                .main-title{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #202124;
                }
                .config-card{
                    background: #F8F9FA;
                    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    display: inline-block;
                    text-align: center;
                    padding: 10px 15px;
                    margin: 20px 10px;
                    cursor: pointer;
                    .title{
                        color: #202124;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;
                        margin-top: 5px;                    
                    }
                }
                .show-all-channels-link{
                    color: #0D6EFD;
                    width: auto;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    max-width: 160px;
                    cursor: pointer;
                }
            }
        }
    }
    .g-analytics{
        padding: 20px 35px;
        color: #0D6EFD;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        display: block;
        span{
            cursor: pointer;
        }
    }
    .top-cards-section{
        border-radius: 6px;
        padding: 0px 25px 10px 25px; 
        .cards-data{
            padding: 0 10px;
            .content{
                background: #FFFFFF;
                border: 1px solid #F3F8FF;
                box-sizing: border-box;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                height: 100%;
                padding: 17px 20px;
                .title-info{
                    color: #5F6368;
                    font-weight: 500;
                    font-size: 13px;
                    img{
                        cursor: pointer;
                    }
                }
                .bottom-sec{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left-sec{
                        width: 42%;
                        .count{
                            color: #202124;
                            font-weight: bold;
                            font-size: 25px;
                            padding: 11px 0;
                            .ctr{
                                color: #9AA0A6;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 17px;
                                padding-left: 30px;
                                display: inline-block;
                                position: relative;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    width: 1px;
                                    height: 100%;
                                    background: #9AA0A6;
                                    top: 0;
                                    left: 15px;
                                }
                                .ctr-count{
                                    font-weight: 600;
                                }
                            }
                        }
                        .data-percentage{
                            display: flex;
                            align-items: center;
                            .percentage{
                                color: #9AA0A6;
                                font-size: 14px;
                                padding-left: 5px;
                            }
                            &.failed{
                                img{
                                    background: #DD3646;
                                }
                            }
                            img{
                                background: #28A745;
                                border-radius: 100%;
                                padding: 1px;
                            }
                        }
                    }
                    .right-sec{
                        width: 58%;
                        text-align: left;
                        position: relative;
                        .view-insights{
                            color: #0D6EFD;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            text-align: right;
                            position: absolute;
                            right: 0;
                            bottom: -22px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }  
    .table-data{
        padding: 0px 25px; 
        .table-data-content{
            padding: 10px;
            .content-sec{
                background: #FFFFFF;
                box-shadow: 0px -4px 80px rgba(0, 0, 0, 0.07), 0px -1.48494px 6.91958px rgba(0, 0, 0, 0.0186561);
                border-radius: 6px;
                padding: 15px;
                // height: 100%;
                &.config_channels{
                    padding: 15px 4px;  
                    .title-sec{
                        padding: 0 10px 8px 10px;
                    }
                    .create_new_link{
                        padding: 12px 0px 0 11px;
                    }
                }
                &.active_experments{
                    .body-data{
                        padding: 12px 0;
                        height: 73px;
                    }
                }
                .cards_sec_main{
                    .pad-div{
                        padding: 10px;
                        .card_data{
                            width: 106px;
                            height: 70px;                            
                            background: #FFFFFF;
                            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                            border-radius: 3px;
                            text-align: center; 
                            padding: 12px 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            .img-block{
                                margin-bottom: 16px;
                                img{
                                    width: 31px;
                                    height: 29px;
                                    left: 87px;
                                    top: 545px;
                                    // text-align: center;

                                }
                            }
                            
                            .c-title{
                                color: #5F6368;
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 12px;                                
                                position: absolute;
                                right: 10px;
                                left: 10px;
                                width: 83px;
                                bottom: 12px;
                            }                        
                        }
                    }
                }
                .title-sec{     
                    padding-bottom: 18px;              
                    .title{
                        color: #5F6368;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    .create_new_link{
                        color: #0D6EFD;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        display: inline-block;
                        cursor: pointer;   
                        padding: 0;                                 
                    }
                }
                .header-data{
                    padding: 0;
                    .title{
                        padding-left: 0;
                        color: #BDC1C6;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
                .body-data{
                    padding: 16px 0;
                    border-bottom: 1px solid #E4E5E7; 
                    align-items: center;                   
                    &:last-child{
                        border: 0;
                    }
                    .title{
                        color: #26344A;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;  
                        padding-left: 0;      
                        word-break: break-all;
                        &.time-stamp{
                            text-align: center;
                            color: #BDC1C6;
                            font-size: 14px;
                            line-height: 17px;
                        }       
                    } 
                    .variants {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        padding-left: 0;
                        .variants-block{
                            .v-name{
                                background: #28A745;
                                display: inline-block;
                                width: 25px;
                                height: 25px;
                                text-align: center;
                                border-radius: 100%;
                                border: 1.5px solid #FFFFFF;
                                color: #fff;
                                font-weight: 500;
                                font-size: 12px;
                                margin-left: -4px;
                                &:first-child{
                                    margin: 0;
                                }
                            }
                            &.left{
                                padding-right: 14px;
                            }
                            &.right{
                                padding-left: 14px;
                            }
                        }
                        .prize{
                            margin-left: 5px;
                        }
                        .success{
                            font-family: Inter;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            color: #9AA0A6;
                            padding:5px;
                        }
                    }
                    .status {
                        padding-left: 0;
                        .a-status{
                            background: #F1E9FB;
                            border-radius: 5px;
                            display: inline-block;
                            min-width: 83px;
                            text-align: center;
                            color: #381472;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 14px;
                            padding: 5px 10px;
                            margin-right: 8px;
                            &.paused{
                                background: #FFFBEA;
                                color: #806D16;
                            }
                            &.completed{
                                background: #EAF6EC;
                                color: #135423;
                            }
                            &.configured {
                                background: #e7f1ff;
                                color: #0d6efd;
                              }
                              &.stopped {
                                background: #fceaed;
                                color: #dd3646;
                              }
                        }
                        img{
                            cursor: pointer;
                        }
                    }                   
                }    
                .create_new_link{
                    color: #0D6EFD;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    display: inline-block;
                    cursor: pointer;   
                    padding: 12px 0px 0 0px;                 
                }            
            }
            .center-image{
                // position: absolute;
                // left: 50%;
                // top: 50%;
                // transform: translate(-50%, -50%);
                text-align: center;
            }                                   
        } 
    }
    
}

.over-view-config-tour{
    background: #202124;
    border-radius: 4px;
    padding: 20px 24px;
    width: 364px;
    height: 168px;
    color: #fff;
    position: absolute;
    top: 77px;
    z-index: 1;
    left: 40px;
    &::before{
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background: #202124;
        transform: rotate(-45deg);
        top: -8px;
        left: 60px;
    }
    .tour-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title{
            color: #FFFFFF;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
        }
        .close-tour{
            cursor: pointer;
        }
    }
    .tour-info{
        color: #FFFFFF;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 15px 0px;
    }
}


::ng-deep .no-back-drop{
    background: #fff;
    opacity: 0.8 !important;
    z-index: 1 !important;
}

::ng-deep .onboarding-journey-modal{    
    padding-top: 72px !important;
    .modal-dialog{
        width: 743px;        
        .modal-content{
            box-shadow: 0px 20px 40px rgb(32 33 36 / 20%);
            .modal-header{
                height: auto;
                margin: 0;
                padding: 20px 20px 15px 20px;
                border: 0;
                box-shadow: none;
                .title{
                    color: #202124;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                }
                .close-icon{
                    height: auto;
                    float: right;
                    cursor: pointer;
                }
            }
            .modal-footer{
                height: auto;
                box-shadow: none;
                color: #0D6EFD;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                float: right;
                cursor: pointer;
            }
        }
        .accodion-content{
            padding: 0px 20px;
            .card_{
                padding: 0 7px;
                margin: 1px 0;
                background: #FFFFFF;
                box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
                .card_header{
                    padding: 11px 0px;
                    .card_link{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        position: relative;
                        &::before{
                            content: "";
                            background-repeat: no-repeat;
                            width: 11px;
                            height: 7px;
                            background-position: right;
                            right: 0;
                            position: absolute;
                            background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACZSURBVHgBlc2xDcIwEAXQ7/MaIFuwACUiIJ1kBmADxAYZgRFYgY6OmoY4EqIFJsBSmoxAY4JTWCKRm1x5/919YMDIJZvHWE8+lXu/UmDOrJWeBqNK+sLvBJpDxmabghKyCPnxbu1TVs7VI60uBHEKDXVs+Ic3e923OxG/LJhnBCoaiNzDl33YwfFAgM7tug+Ts2KzyXidp7IfuiQ4KQHD4xkAAAAASUVORK5CYII=');

                        }
                        &.collapsed{
                            &::before{
                                content: "";
                                background-repeat: no-repeat;
                                width: 7px;
                                height: 11px;
                                background-position: right;
                                right: 0;
                                position: absolute;
                                background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAYAAACzkJeoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACtSURBVHgBbZDBDcIwDEV/Qrh3hDIB4oYESK7KADBB2YAVGIENYAO4owojRK90BTbgTpPgIgW1Vf/J8tO3v60WlK48sDWwa2Z+oyF95/ws8FXBXIkoakIVihmlRwU1NqiSMEEH+OB8A/jbB4PnlChuOYPmtNx5+MzCJroLFXwpjlhjGLWg7M3EdXCwk4IvZTNQJq69g0sK5vK/sw/8oAQgwJ26oJaRu+rGqPudWl8rXElx7SKjdAAAAABJRU5ErkJggg==');
                            }
                        }
                        .instruction-number{
                            border: 0.75px solid #9AA0A6;
                            box-sizing: border-box;
                            width: 19px;
                            height: 19px;
                            border-radius: 100%;
                            text-align: center;
                            color: #9AA0A6;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            padding: 2px 0;
                            margin-right: 15px;
                        }
                        .guide-name{
                            color: #3C4043;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
                .card-body{
                    padding: 0 0px 11px 34px;
                    .guide-inner-info{
                        color: #5F6368;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        margin-bottom: 10px;
                        width: 540px;
                    }
                }
            }
        }
    }
}

.configured-dropdown{
    width: 393px;
    position: fixed;
    top: 70px;
    z-index: 999;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    &.all-steps-done{        
        .dropdown-open {
            .dropdown-input{
                border: 1px solid #93D3A2;
                background: #EAF6EC;
            }
        }
    }
    &.show {
      .dropdown-open {
        .dropdown-input{
            border-radius: 4px 4px 0px 0px;
            box-shadow: 0px 20px 40px rgb(32 33 36 / 20%);
        }
      }
    }
    .dropdown-open {
        .dropdown-input{
            padding: 0 12px 0 17px;
            &:hover{
                border: solid 1px #1372ff;
            }
            &::before{
                display: none;
            }
            .not-configured-title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    color: #202124;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                }
                .start-now{
                    color: #0D6EFD;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
            .check-list-steps{
                display: flex;
                justify-content: space-between;
                .left-sec{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 10px;
                    }
                    .steps-info{
                        color: #202124;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;                    
                    }
                }
                .right-sec{
                    display: flex;
                    align-items: center;
                    .checklist-btn{
                        color: #0D6EFD;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .close-img{
                        height: 20px;                     
                        text-align: center;
                        padding-left: 10px;
                        margin-left: 7px;
                        border-left: 1px solid #BDC1C6;
                        cursor: pointer;
                        img{
                            vertical-align: top;
                            position: relative;
                            top: 5px;
                        }
                    }
                }
            }
        }
    }
    .content-menu{
        border: 1px solid #BDC1C6;
        box-sizing: border-box;
        box-shadow: 0px 20px 40px rgb(32 33 36 / 20%);
        border-radius: 0px 0px 4px 4px;
        width: 100%;
        border-top: 0;
        margin: 0px 0 0 0;
        padding: 16px 17px;
        .configured-dropdown-content{
            .title-info{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #3C4043;
            }
            .state-type{
                color: #9AA0A6;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                padding-left: 5px;
                margin-left: 5px;
                border-left: 1px solid #9AA0A6;
            }
        }

    }
}