<app-useronboarding-journey #onboard [componentType]='componentType'></app-useronboarding-journey>
<!-- <div class="over-view-config-tour" *ngIf="!showOverview">
<div class="tour-header">
<div class="title">{{'overview.overview' | translate}} </div>
<div class="close-tour"><img src="assets/icons/close-white.svg" (click)="openOnBoardingModal()"></div>
</div>
<div class="tour-info">{{'overview.tour_info' | translate}}</div>
<button class="kr-sg-button-primary btn_lg" (click)="openOnBoardingModal()">{{'overview.gotIt' | translate}}</button>
</div> -->


<perfect-scrollbar class="scroll-data-overview">
  <div class="overview_container_data">
    <div class="top-cards-data row col-12">
      <div class="col-3 card-data">
        <div class="inner-content">
          <ng-container *ngIf="!loading_skelton">
            <div class="title">{{'overview.totalUsers' | translate}} <span>({{'overview.last_24hrs' |
                translate}})</span></div>
            <div class="count-graph-data">
              <div class="count-sec">
                <div class="count">{{totalUsersStats?.totalUsers}}</div>
                <!--*ngIf="totalUsersStats?.percentageIncrease!=0" -->
                <div class="cont-up-down">
                  <span class="bg-type" [ngClass]="{'fail':totalUsersStats?.percentageIncrease<0}"><img
                      [src]="totalUsersStats?.percentageIncrease<0?'assets/icons/arrow-decrease.svg':'assets/icons/overview/arrow-increase.svg'"></span>{{
                  math.abs(totalUsersStats?.percentageIncrease) }}%
                </div>
              </div>
              <div class="graph-sec">
                <img
                  [src]="totalUsersStats?.percentageIncrease>=0?'assets/icons/overview/graph-1.svg':'assets/icons/overview/graph-3.svg'">
              </div>
            </div>
            <div class="view-insights" (click)="userViewAll()">View Insights</div>
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-1.svg">
            </div>
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-2.svg">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-3 card-data">
        <div class="inner-content">
          <ng-container *ngIf="!loading_skelton">
            <div class="title">{{'overview.totalSearches'| translate}} <span>({{'overview.last_24hrs' |
                translate}})</span></div>
            <div class="count-graph-data">
              <div class="count-sec">
                <div class="count">{{totalSearchesStats?.totalSearches}}</div>
                <div class="cont-up-down">
                  <!--*ngIf="totalSearchesStats?.searchRate!=0" -->
                  <span class="bg-type" [ngClass]="{'fail':totalSearchesStats?.searchRate<0}"><img
                      [src]="totalSearchesStats?.searchRate<0?'assets/icons/arrow-decrease.svg':'assets/icons/overview/arrow-increase.svg'"></span>{{
                  math.abs(totalSearchesStats.searchRate) }}%
                </div>
              </div>
              <div class="graph-sec">
                <img
                  [src]="totalSearchesStats?.searchRate>=0?'assets/icons/overview/graph-1.svg':'assets/icons/overview/graph-3.svg'">
              </div>
            </div>
            <div class="view-insights" (click)="searchViewAll()">{{'overview.viewInsights' | translate}}</div>
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-1.svg">
            </div>
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-2.svg">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-3 card-data">
        <div class="inner-content">
          <ng-container *ngIf="!loading_skelton">
            <div class="title">{{'overview.resultRate' | translate}} <span>({{'overview.last_24hrs' |
                translate}})</span></div>
            <div class="count-graph-data">
              <div class="count-sec">
                <div class="count">
                  <span class="d-inline-block text-truncate"
                    title="{{totalSearchesStats?.searchesWithResults}}">{{totalSearchesStats?.searchesWithResults==null?0:totalSearchesStats.searchesWithResults}}</span>
                  <span class="ctr-data">| {{'overview.Result_rate' | translate}}:
                    <b>{{totalSearchesStats?.resultRate!=null?totalSearchesStats?.resultRate:0}}%</b></span>
                </div>
                <div class="d-flex align-items-center">
                  <!-- *ngIf="![0,null].includes(totalSearchesStats.resultRate)" -->
                  <div class="cont-up-down">
                    <span class="bg-type" [ngClass]="{'fail':totalSearchesStats?.increasedResultRate<0}"><img
                        [src]="totalSearchesStats?.increasedResultRate<0?'assets/icons/arrow-decrease.svg':'assets/icons/overview/arrow-increase.svg'"></span>{{math.abs(totalSearchesStats?.increasedResultRate)}}%
                  </div>
                  <div class="graph-sec pl-4 pt-0">
                    <img
                      [src]="totalSearchesStats?.increasedResultRate>=0?'assets/icons/overview/graph-1.svg':'assets/icons/overview/graph-3.svg'">
                  </div>
                </div>
              </div>
            </div>
            <div class="view-insights" (click)="resultViewAll()">{{'overview.viewInsights' | translate}}</div>
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-1.svg">
            </div>
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-2.svg">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-3 card-data">
        <div class="inner-content" style="min-height: 123px;">
          <ng-container *ngIf="!loading_skelton">
            <div class="title">{{'overview.clicks' | translate}} <span>({{'overview.last_24hrs' | translate}})</span>
            </div>
            <div class="count-graph-data">
              <div class="count-sec">
                <div class="count">
                  <span class="d-inline-block text-truncate"
                    title="{{totalSearchesStats?.clicks }}">{{totalSearchesStats?.clicks }}</span>
                  <span class="ctr-data">| {{'overview.CTR' | translate}}: <b>{{totalSearchesStats?.ctr}}%</b></span>
                </div>
                <div class="cont-up-down" *ngIf="totalSearchesStats?.clicks!=0">
                  <span class="bg-type" [ngClass]="{'fail':totalSearchesStats?.clickRate<0}"><img
                      [src]="totalSearchesStats?.clickRate<0?'assets/icons/arrow-decrease.svg':'assets/icons/overview/arrow-increase.svg'"></span>{{math.abs(totalSearchesStats?.clickRate)}}%
                </div>
              </div>
            </div>
            <!-- <div class="view-insights">View Insights</div> -->
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-1.svg">
            </div>
            <div class="skelton-img">
              <img src="assets/icons/overview/skelton-2.svg">
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="body-cards-data row col-12">
      <div class="col-6 cards-data lef-sec-data">
        <div class="inner-content">
          <div class="title-heading">{{'overview.Sources' | translate}} <span *ngIf="!loading_skelton&&show_indices"> |
              {{indices?.indexPipeLineCount}} {{'overview.indices' | translate}}</span></div>
          <ng-container *ngIf="!loading_skelton&&show_indices">
            <div class="add-more" (click)="openSource()"><img src="assets/icons/overview/add.svg">{{'overview.add_more'
              | translate}}</div>
            <ng-container>
              <div class="table-data col-12 row">
                <div class="col-5 image-with-title">
                  <img src="assets/icons/overview/data.svg">
                  <span class="title">{{'overview.data' | translate}}</span>
                </div>
                <div class="col-7 data-count">{{indices?.structuredDataCount}} {{'overview.documents' | translate}}
                </div>
              </div>
              <div class="table-data col-12 row">
                <div class="col-5 image-with-title">
                  <img src="assets/icons/overview/files.svg">
                  <span class="title">{{'overview.files' | translate}}</span>
                </div>
                <div class="col-7 data-count">{{indices?.files}} {{'overview.documents' | translate}}</div>
              </div>
              <div class="table-data col-12 row">
                <div class="col-5 image-with-title">
                  <img src="assets/icons/overview/web.svg">
                  <span class="title">{{'overview.web' | translate}}</span>
                </div>
                <div class="col-7 data-count">{{indices?.web?.domains}} {{'overview.domains' | translate}} |
                  {{indices?.web?.numOfDocs}} {{'overview.documents' | translate}} </div>
              </div>
              <div class="table-data col-12 row">
                <div class="col-5 image-with-title">
                  <img src="assets/icons/overview/connections.svg">
                  <span class="title">{{'overview.connectors' | translate}}</span>
                </div>
                <div class="col-7 data-count"> {{indices?.connectors}} {{'overview.documents' | translate}}</div>
              </div>
              <div class="table-data col-12 row">
                <div class="col-5 image-with-title">
                  <img src="assets/icons/overview/faqs.svg">
                  <span class="title">{{'overview.FAQS' | translate}}</span>
                </div>
                <div class="col-7 data-count">{{'overview.in_draft' | translate}} - {{indices?.faqs?.draft}} |
                  {{'overview.in_review' | translate}} - {{indices?.faqs?.in_review}} | {{'overview.approved' |
                  translate}} - {{indices?.faqs?.approved}} </div>
              </div>
              <div class="table-data col-12 row">
                <div class="col-5 image-with-title">
                  <img src="assets/icons/overview/actions.svg">
                  <span class="title">{{'overview.ACTIONS' | translate}}</span>
                </div>
                <div class="col-7 data-count"
                  *ngIf="indices?.botActions?.linked_bot_name!=null&&indices?.botActions?.tasks!=0">
                  {{indices?.botActions?.linked_bot_name}} | {{indices?.botActions?.tasks}} {{'overview.Tasks' |
                  translate}}</div>
                <div class="col-7 data-count"
                  *ngIf="indices?.botActions?.linked_bot_name==null&&indices?.botActions?.tasks==0">
                  {{'overview.link_bot' | translate}}</div>
              </div>
            </ng-container>
            <div class="goto-sources" (click)="openSource()">{{'overview.go_to_sources' | translate}}</div>
          </ng-container>
          <ng-container *ngIf="!loading_skelton&&!show_indices">
            <div class="empty-data">
              <img src="assets/icons/overview/empty-sources.svg">
              <div class="empty-title">{{'overview.no_sources_yet' | translate}}</div>
              <div class="create-exp-btn" (click)="openSource()">{{'overview.add_sources' | translate}}</div>
            </div>
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/group-skelton.svg">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-6 cards-data row m-0">
        <div class="col-12 inner-content mb-20 right-sec-cards h-auto">
          <div class="title-heading">{{'plan.current_subscription_plan' | translate}}</div>
          <ng-container *ngIf="!loading_skelton">
            <div class="upgrade-btn" (click)="redirectToPricing()">
              {{currentPlan?.changesScheduledFor=='none'||currentPlan?.changesScheduledFor=='downgrade'||currentPlan?.planName!='Free'?("plan.upgrade_btn"|
              translate):(currentPlan?.changesScheduledFor=='cancel'&&currentPlan?.status!='expired')?("plan.revert_cancellation_btn"|
              translate):("plan.reactivate_btn"| translate)}}</div>
            <div class="free-status-title">
              <div class="type-plan">{{currentPlan?.planName}}</div>
              <div class="started-on">{{'plan.started_on' | translate}} : <span>{{(currentPlan?.createdAt|
                  dateFormatPipe:'D MMMM YYYY')}}</span></div>
            </div>
            <div class="queries-documents">
              <div class="query-type border-">
                <div class="title-query"><img src="assets/icons/overview/question.svg">{{'plan.queries' | translate}}
                </div>
                <div class="range-data">
                  <div class="count-type">{{usageDetails?.searchCount | valueFormat}} /
                    <span>{{usageDetails?.searchLimit| valueFormat}}</span>
                  </div>
                  <div style="margin-top: 6px;">
                    <ngb-progressbar height="6px" [type]="usageDetails?.searchQueries<80?'primary':'danger'"
                      [value]="usageDetails?.searchQueries" max="100"></ngb-progressbar>
                  </div>
                </div>
              </div>
              <div class="query-type">
                <div class="title-query"><img src="assets/icons/overview/document.svg">{{'plan.documents' | translate}}
                </div>
                <div class="range-data">
                  <div class="count-type">{{usageDetails?.ingestCount| valueFormat}} /
                    <span>{{usageDetails?.ingestLimit| valueFormat}}</span>
                  </div>
                  <div style="margin-top: 6px;">
                    <ngb-progressbar height="6px" [type]="usageDetails?.ingestDocs<80?'success':'danger'"
                      [value]="usageDetails?.ingestDocs" max="100"></ngb-progressbar>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/group-skelton.svg">
              <!-- <div class="empty-title">{{'overview.no_experiments_created_yet' | translate}}</div>
                <div class="create-exp-btn">{{'overview.create_experiment' | translate}}</div> -->
            </div>
          </ng-container>
        </div>
        <div class="col-12 inner-content right-sec-cards h-auto">
          <div class="title-heading mb-1">{{'overview.experiments' |translate}}</div>
          <ng-container *ngIf="!loading_skelton&&experiments.length>0">
            <div class="add-more" (click)="openExp()"><img src="assets/icons/overview/add.svg">{{'overview.create_New'
              |translate}}</div>
            <ng-container>
              <div class="table-experiments col-12 row" *ngFor="let experiment of experiments">
                <div class="col-9 title">{{experiment.name |titlecase}}</div>
                <div class="col-3 status">
                  <span class="status-type" [ngClass]="experiment.state">{{experiment.state |titlecase }}</span>
                </div>
              </div>
            </ng-container>
            <div class="goto-sources" (click)="openExp()">{{'overview.go_to_experiments' | translate}}</div>
          </ng-container>
          <ng-container *ngIf="!loading_skelton&&experiments.length==0">
            <div class="empty-data">
              <img src="assets/icons/overview/expermintes-empty.svg">
              <div class="empty-title">{{'overview.no_experiments_created_yet' | translate}}</div>
              <div class="create-exp-btn" (click)="openExp()">{{'overview.create_experiment' | translate}}</div>
            </div>
          </ng-container>
          <ng-container *ngIf="loading_skelton">
            <div class="skelton-img">
              <img src="assets/icons/overview/group-skelton.svg">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>