<div class="ai row">
  <div class="img col-6">
    <img src="assets/images/logos/ai-logo.jpg" alt="logo" />
  </div>
  <div class="detail col-6">
    <h5 class="u-text u-text-1">Future innovations</h5>
    <h1 class="u-text u-title u-text-2">Technology Revolution</h1>
    <p class="u-large-text u-text u-text-variant u-text-3">
      The future is fast approaching,&nbsp;and a new era of digital
      innovation&nbsp;&nbsp;and disruption is here.
    </p>
    <button class="btn btn-info" routerLink="">Go to apps</button>
  </div>
</div>
