<!-- <div class="contentContainer">
    <div class="mainLoadingSpinner" *ngIf="loadingContent" >
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">Please Wait!</span>
    </div>
    <ng-container *ngIf="!loadingContent">
    <div class="header-sec-stopwords">
        <div class="title">Index Configurations</div>
        <div class="restore_text">
            <button type="button" class="kr-sg-button-secondary btn_lg mr-2">Save Configuration</button>
            <button type="button" class="kr-sg-button-primary btn_lg mr-2">Re-Index</button>
        </div>                   
    </div> 
    <div class="indexmain-container">
        <div class="indexsListContainer">
            <div class="index-content-boxes">
                <div class="content left-content">
                    <div class="content-boxes index_tasks_list">
                        <div class="stagsHeader p-2">
                            <span>Stages <img src="assets/icons/editor/plus-add.svg" class="ml-4" (click)="createNewMap()"></span>
                        </div>
                        <perfect-scrollbar class="">
                        <ng-container *ngIf="newStageObj.addNew">
                            <span>
                                {{newStage.name}}
                                <img src="assets/images/closeCross.svg" class="ml-4">
                            </span>
                        </ng-container>
                        <ng-container *ngIf="indexMappings && indexMappings.length">
                            <div *ngFor="let mapping of indexMappings" class="p-2" (click)="selectmapping(mapping.stage)">
                               <span>{{mapping.stage}}</span>
                            </div>
                        </ng-container>

                        <div class="fields p-5" (click)="selectmapping('field_mapping')">
                           <span>Fields</span>
                        </div>
                        </perfect-scrollbar>
                    </div>
                </div>            
                <div class="content right-content">
                    <div class="content-boxes train_your_questions">
                        <div class="table-list-content">
                            <div *ngIf="newStageObj.addNew">
                              <div class="p-2">
                                <div class="kr-sg-dropdowns w-100">
                                    <div class="label-text">Stage Type</div>
                                    <div class="dropdown dropdown-open">
                                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">{{newStageObj.type?defaultStageTypesObj[newStageObj.type].name:'Choose an option'}}</button>                                            
                                        <ul class="dropdown-menu content-menu">
                                          <li *ngFor="let item of defaultStageTypes" (click)="selectNewItem(item)">{{item.name}}</li>
                                        </ul>
                                      </div>
                                </div>
                                <div class="kr-sg-input-text pt-2">
                                    <div class="label-text">Stage Name</div>
                                    <input type="text" placeholder="Placeholder text" class="input-text" [(ngModel)]="newStage.name">
                                </div>
                                <div class="kr-sg-input-text pt-2">
                                    <div class="label-text">Condition</div>
                                    <input type="text" placeholder="Placeholder text" class="input-text" [(ngModel)]="newStage.condition">
                                </div>
                              </div>
                            </div>
                            <div class="kr-sg-data-table" *ngIf="!newStageObj.addNew">
                              <div class="table-action-header">
                                <div>
                                  <div class="kr-sg-dropdowns">
                                    <div class="dropdown dropdown-open">
                                      <button class="dropdown-toggle dropdown-input"><img src="assets/icons/sidemenu/plus-table.svg">Add Field</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <div class="fieldContnet">
                          
                            <div class="kr-sg-data-table">
                                <section class="table-content">
                                    <header class="table-header">
                                        <div class="col_ col-2">Field Name</div>
                                        <div class="col_ col-2">Type</div>
                                        <div class="col_ col-2">Multi-Value</div>
                                        <div class="col_ col-2">Required</div>
                                        <div class="col_ col-2">Stored</div>
                                        <div class="col_ col-2">Indexed</div>
                                    </header>
                                    <div class="content-body" *ngFor="let item of selectedMapping">
                                        <div class="col_ col-2">{{item.name}}</div>
                                        <div class="col_ col-2">{{item.type}}</div>
                                        <div class="col_ col-2">{{item.multiValue}}</div>
                                        <div class="col_ col-2">{{item.required}}</div>
                                        <div class="col_ col-2">{{item.stored}}</div>
                                        <div class="col_ col-2 pr-0">
                                            <span>{{item.index?'Yes':'No'}} <span class="actions-links"><img class="action_icon arrow-icon" src="assets/icons/trashIcon.svg"></span></span>
                                        </div>
                                    </div>
                                </section>                               
                            </div>   
                           
                            </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    </ng-container>
</div> -->

<div class="workbench_main_container">
    <div class="mainLoadingSpinner" *ngIf="loadingContent" >
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="please-wait-message">Please Wait!</span>
    </div>
    <div class="header_sec">
        <div class="title">Index Configurations</div>
        <div class="btn_sec">            
            <button class="kr-sg-button-secondary btn_lg">Save Configuration</button>
            <button class="kr-sg-button-primary btn_lg">Re-Index</button>
        </div>
    </div>
    <div class="split_section_stage_table">
        <div class="stage_sec">
            <div class="stage_header">
                <div class="title">Stages</div>
                <div class="add" (click)="createNewMap()" placement="bottom-right" ngbTooltip="Click here to get started by adding a stage" [container]='"body"' tooltipClass="custom_tooltip_class"><img src="assets/icons/add_plus.svg"></div>
            </div>
            <perfect-scrollbar class="scroll_stage_content">
                <div class="field_data">
                    <div class="drag_drop_icon"><img src="assets/icons/drog_drop.svg"></div>
                    <div class="title text-truncate">Field Mapping</div>
                    <div class="close_icon"><img src="assets/icons/close_field.svg"></div>
                </div>
                <div class="field_data">
                    <div class="drag_drop_icon"><img src="assets/icons/drog_drop.svg"></div>
                    <div class="title text-truncate">Entity Extraction</div>
                    <div class="close_icon"><img src="assets/icons/close_field.svg"></div>
                </div>
                <div class="field_data">
                    <div class="drag_drop_icon"><img src="assets/icons/drog_drop.svg"></div>
                    <div class="title text-truncate">Keyword Extraction</div>
                    <div class="close_icon"><img src="assets/icons/close_field.svg"></div>
                </div>
                <div class="field_data">
                    <div class="drag_drop_icon"><img src="assets/icons/drog_drop.svg"></div>
                    <div class="title text-truncate">Traits</div>
                    <div class="close_icon"><img src="assets/icons/close_field.svg"></div>
                </div>
                <div class="field_data">
                    <div class="drag_drop_icon"><img src="assets/icons/drog_drop.svg"></div>
                    <div class="title text-truncate">Scripts</div>
                    <div class="close_icon"><img src="assets/icons/close_field.svg"></div>
                </div>    
                <div class="divider"></div>           
                <div class="feilds-indicator" (click)="selectmapping('field_mapping')">Fields</div>
            </perfect-scrollbar>   
        </div>
        <div class="table_sec">
            <div class="seach_add_feild">
                <div class="seach-block"><img src="assets/icons/search.svg">Seach</div>
                <div class="add_feild" (click)="openModalPopup()"><img src="assets/icons/add_plus.svg">Add Field</div>
            </div>            
            <div class="table_data_content">
                <div class="table_header row m-0">
                    <div class="col-2 title">Field Name</div>
                    <div class="col-2 title">Type</div>
                    <div class="col-2 title">Multi-Value</div>
                    <div class="col-2 title">Required</div>
                    <div class="col-2 title">Stored</div>
                    <div class="col-1 title">Indexed</div>
                    <div class="col-1 title"></div>
                </div>
                <perfect-scrollbar class="table_body_content">
                    <div class="table_body row m-0">
                        <div class="col-2 title">AssetClass</div>
                        <div class="col-2 title">String</div>
                        <div class="col-2 title">Yes</div>
                        <div class="col-2 title">Yes</div>
                        <div class="col-2 title">Yes</div>
                        <div class="col-1 title">No</div>
                        <div class="col-1 action_links text-right">
                            <img src="assets/images/edit-pencil.svg">
                            <img src="assets/icons/delete-table.svg" class="ml-3">
                        </div>
                    </div>
                </perfect-scrollbar>  
                <div class="footer-simulate">
                    <button class="kr-sg-button-primary btn_lg"><img src="assets/images/simulate.svg" class="mr-1">Simulate</button>
                </div>              
            </div>
        </div>
        <div class="form_sec d-none">
            <perfect-scrollbar class="scroll_form">
                <div class="form_edit_content">
                    <div class="kr-sg-dropdowns mb-20">
                        <div class="label-text">Stage Type</div>
                        <div class="dropdown dropdown-open">
                            <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                            <ul class="dropdown-menu content-menu">                                                                    
                              <li><a href="#">Option 1</a></li>
                              <li><a href="#">Option 2</a></li>
                              <li><a href="#">Option 3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="kr-sg-input-text mb-20">
                        <div class="label-text">Stage Name</div>
                        <input type="text" placeholder="Placeholder text" class="input-text">
                    </div>
                    <div class="kr-sg-input-text mb-20">
                        <div class="label-text">Condition</div>
                        <input type="text" placeholder="Specify Condition" class="input-text">
                    </div>
                </div>
                <div class="form_inputs_data">
                    <div class="row m-0 form_list">
                        <div class="drag_drop"><img src="assets/icons/drog_drop.svg"></div>
                        <div class="kr-sg-dropdowns col-4 input-box">
                            <div class="label-text">Action</div>
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                                <ul class="dropdown-menu content-menu">                                                                    
                                  <li><a href="#">Option 1</a></li>
                                  <li><a href="#">Option 2</a></li>
                                  <li><a href="#">Option 3</a></li>
                                </ul>
                            </div>
                        </div> 
                        <div class="kr-sg-input-text col-4 input-box">
                            <div class="label-text">Field Name</div>
                            <input type="text" placeholder="Placeholder text" class="input-text">
                        </div>
                        <div class="kr-sg-input-text col-4 input-box">
                            <div class="label-text">Value</div>
                            <input type="text" placeholder="Specify Condition" class="input-text">
                        </div>  
                        <div class="delete_icon"><img src="assets/icons/delete-table.svg"></div>                 
                    </div>
                    <div class="row m-0 form_list">
                        <div class="drag_drop"><img src="assets/icons/drog_drop.svg"></div>
                        <div class="kr-sg-dropdowns col-4 input-box">
                            <div class="label-text">Action</div>
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                                <ul class="dropdown-menu content-menu">                                                                    
                                  <li><a href="#">Option 1</a></li>
                                  <li><a href="#">Option 2</a></li>
                                  <li><a href="#">Option 3</a></li>
                                </ul>
                            </div>
                        </div> 
                        <div class="kr-sg-input-text col-4 input-box">
                            <div class="label-text">Field Name</div>
                            <input type="text" placeholder="Placeholder text" class="input-text">
                        </div>
                        <div class="kr-sg-input-text col-4 input-box">
                            <div class="label-text">Value</div>
                            <input type="text" placeholder="Specify Condition" class="input-text">
                        </div>                      
                        <div class="add_icon"><img src="assets/images/add-input-field.svg"></div>                                   
                    </div>
                </div>
            </perfect-scrollbar>    
            <div class="footer-simulate-form">
                <button class="kr-sg-button-secondary btn_lg">Cancel</button>
                <button class="kr-sg-button-primary btn_lg"><img src="assets/images/simulate.svg" class="mr-1">Simulate</button>
            </div> 
        </div>          
    </div>
    <div class="simulator-div d-none">
        <div class="header">
            <div class="title">Simulator</div>
            <div class="close_icon"><img src="assets/images/close.svg"></div>
        </div>
        <div class="row m-0 input-boxes">
            <div class="kr-sg-dropdowns col-6 pl-0 pr-2">
                <div class="label-text">Stage Type</div>
                <div class="dropdown dropdown-open">
                    <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                    <ul class="dropdown-menu content-menu">                                                                    
                      <li><a href="#">Option 1</a></li>
                      <li><a href="#">Option 2</a></li>
                      <li><a href="#">Option 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="kr-sg-dropdowns col-6 pr-0 pl-2">
                <div class="label-text">Stage Name</div>
                <div class="dropdown dropdown-open">
                    <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                    <ul class="dropdown-menu content-menu">                                                                    
                      <li><a href="#">Option 1</a></li>
                      <li><a href="#">Option 2</a></li>
                      <li><a href="#">Option 3</a></li>
                    </ul>
                </div>
            </div>                     
        </div>
        <perfect-scrollbar class="content_body">
            Annotation Tool.pdf
            id: “Annotation Tool.pdf”
                > context: “batchId”:”98hwbbf7w-38h2f8f2-vhd8d-8vdhbss8-yvhswy7659”,”simulate”:tru,”async”
                > fields: [62]     >access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > diagnostic_id:fill_in_form:file      
                > id=98hwbbf7w-38h2f8f2-vhd8d-8vdhbss8- yvhswy7659:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true      
                > access_permissions:can_print_degraded:true
                > absolute_resource_name:fill_in_form:true > absolute_resource_name:fill_in_form:true      
        </perfect-scrollbar>
    </div>
</div>


<kr-modal modalType="center" modalClass="modal_popups_ addFieldModalPop"  #addFieldModalPop>   
    <div class="modal-header">
        <div class="title">Add Field</div>
        <div class="close_icon" (click)="closeModalPopup()"><img src="assets/icons/modal-close.svg"></div>
    </div>
    <perfect-scrollbar class="perfect-scroll-modal-body">
    <div class="modal-body textAlignLeft">
        <div class="top_sec">
            <div class="row m-0 mb-20">
                <div class="kr-sg-input-text col-10 p-0">
                    <div class="label-text">Field Name</div>
                    <input type="text" placeholder="Specify Condition" class="input-text">
                </div>
            </div>
            <div class="label-text col-12 p-0">Field Type</div>
            <div class="row m-0 align-items-center">                         
                <div class="kr-sg-dropdowns col-10 p-0">                    
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown">Choose an option</button>                                            
                        <ul class="dropdown-menu content-menu">                                                                    
                          <li><a href="#">Option 1</a></li>
                          <li><a href="#">Option 2</a></li>
                          <li><a href="#">Option 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="kr-sg-checkbox col-2 pl-5 pr-0 m-0">
                    <input id="checkbox-1" class="checkbox-custom" type="checkbox" checked>
                    <label for="checkbox-1" class="checkbox-custom-label">Dynamic</label>
                </div>  
            </div>
        </div>
        <div class="bottom_sec">
            <div class="group-checkbox mb-3">
                <div class="label-text mb-2">Select ones that apply</div>
                <div class="kr-sg-checkbox">
                    <input id="checkbox_grpd" class="checkbox-custom" type="checkbox" checked>
                    <label for="checkbox_grpd" class="checkbox-custom-label">Stored</label>
                </div>
                <div class="kr-sg-checkbox">
                    <input id="checkbox_grpe" class="checkbox-custom" type="checkbox" checked>
                    <label for="checkbox_grpe" class="checkbox-custom-label">Indexed</label>
                </div>
                <div class="kr-sg-checkbox">
                    <input id="checkbox_grpf" class="checkbox-custom" type="checkbox">
                    <label for="checkbox_grpf" class="checkbox-custom-label">Required</label>
                </div>
                <div class="kr-sg-checkbox">
                    <input id="checkbox_grpfd" class="checkbox-custom" type="checkbox" checked>
                    <label for="checkbox_grpfd" class="checkbox-custom-label">Multi-Valued</label>
                </div>
            </div>
            <div class="kr-sg-input-text col-10 p-0">
                <div class="label-text">Default Value (Optional)</div>
                <input type="text" placeholder="Add value here" class="input-text">
            </div>
        </div>
    </div>
    </perfect-scrollbar> 
    <div class="modal-footer text-left">
        <button type="button" class="kr-sg-button-primary btn_lg float-right" style="margin: 0 !important;">Add</button>                   
        <button type="button" class="kr-sg-button-secondary btn_lg float-right" (click)="closeModalPopup()">Cancel</button>
    </div>    
</kr-modal>