<div class="manage-credentials-container">
<ng-container  *ngIf="!(channnelConguired && channnelConguired.length) && loadingContent1"> 
    <perfect-scrollbar class="empty-scroll">
    <div  class="empty-landing-screen">
      <div class="img-block"*ngIf="!emptyItems"><img class="action_icon" (load)="imageLoad()"src="assets/images/credentials-empty.svg"></div>
      <ng-container *ngIf="loadImageText">
          <div class="empty-title">You haven’t configured any credentials yet!</div>
          <div class="desc-text"> SearchAssist allows you to configure Credentials to enable channels and API Scopes for your SearchAssist application.
          </div>
          <div class="kr-sg-dropdowns" ngbDropdown [container]="'body'">                                         
             
            <button class="kr-sg-button-primary btn_lg px-2" (click)="newCredential()"> Configure</button>                                            
          </div>
      </ng-container>
      <ng-container *ngIf="noItems && emptySearchResults">
          <div class="desc-text">Your Search Query doesn't match with any record.</div>
      </ng-container>
  </div>
</perfect-scrollbar>
</ng-container>
    <div class="header-sec col-12 row m-0"  *ngIf="(channnelConguired && channnelConguired.length)">
        <div class="col-4 p-0 title-header"> Manage Credentials</div>
         <div class="col-8 right-sec p-0">            
                <div class="kr-sg-input-text m-0" [ngClass]="{'active': showSearch}">
                    <input type="text" placeholder="Search" autocomplete="off" class="input-search" placeholder="Search" [(ngModel)]="searchcredential">
                </div>
                <div class="seach-block"  (click)="toggleSearch()"><img *ngIf="!showSearch" src="assets/icons/search.svg"><img  *ngIf="showSearch" src="assets/images/close.svg" >Search
                </div>
                <div class="add_feild" (click)="newCredential()"><img src="assets/icons/add_plus.svg" >Add Credential
                </div>
                <div class="clock"><img src="assets/icons/clock.svg"></div>
         </div>
    </div>
    <perfect-scrollbar class="scroll-table" >
        <div class="table-data" *ngIf="(channnelConguired && channnelConguired.length) ">
            <div class="table-header row m-0" >
                <div class="col-3 title">Credential Name</div>
                <div class="col-3 title">Credential usage</div>
                <div class="col-3 title">last updated<img src="assets/icons/dropdown_gray.svg" class="ml-1"></div>
                <div class="col-3 title">last updated by</div>
            </div>
            <div class="table-body-content row m-0 align-items-center" *ngFor="let data of channnelConguired | filter :[searchcredential, 'appName']">
                <div class="col-3 title">{{data.appName}}</div>
                <div class="col-3 title">{{data.appUsage}}</div>
                <div class="col-3 title">{{data.lastModifiedOn | dateFormatPipe: 'MM-DD-YYYY hh:mm A'}}</div>
                <div class="col-3 title">
                    <span class="">{{data.lastModifiedBy.firstName + ' ' + data.lastModifiedBy.lastName}}</span>
                    <span class="float-right action-links">
                        <!-- <span class="actions-links mr-3" ngbTooltip='Edit' [container]='"body"' (click)="editnewCredential(event,data)"><img class="action_icon" src="assets/images/edit-pencil.svg"></span> -->
                        <span class="actions-links" ngbTooltip='Delete' [container]='"body"' (click)="deleteCredential(data)"><img class="action_icon" src="assets/icons/delete-table.svg"></span>
                    </span>
                </div>
            </div>
        </div>
    </perfect-scrollbar>   
    <kr-modal modalType="center" #addCredential modalClass="modal_popups_ view-query-modal"> 
        <div class="modal-header">
            <span> Add Credential</span>
            <div class="close_icon" (click)="closeModalPopup()"><img src="assets/icons/modal-close.svg"></div>
        </div>
        <!-- <perfect-scrollbar class="perfect-scroll-modal-body"> -->
        <div class="modal-body">
            <div class="kr-sg-input-text mb-4">
                <div class="label-text">Credential Name</div>
            
                <input type="text" autocomplete="off" name="credname" placeholder="Enter Name" [(ngModel)]="credntial.name"  id="addSourceTitleInput" (change)="inputChanged('title')"
                    class="input-text">
               <img id="infoWarning1" src="assets/icons/warning_escalation.svg" style="display: none;" height="12" width="12" />

            </div>
            <div class="kr-sg-checkbox d-none">
                <input id="checkbox_1" class="checkbox-custom" type="checkbox" [(ngModel)]="credntial.anonymus">
                <label for="checkbox_1" class="checkbox-custom-label">Allow anonymous users to chat with bot</label>
            </div>
            <div class="kr-sg-checkbox  d-none">
                <input id="checkbox_2" class="checkbox-custom" type="checkbox" [(ngModel)]="credntial.register">
                <label for="checkbox_2" class="checkbox-custom-label">Auto register new user Kore.ai Bots Platform</label>
            </div>
            <hr class="mt-4 mb-4">
    
            <div class="label-text">JWT Signing Algorithm Used For Client App Authentication</div>
            <div class="kr-sg-dropdowns">
                <div class="dropdown dropdown-open" >
                    <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span class="select-placeholder">
                            {{credntial.awt}}</span> </button>
                    <ul class="dropdown-menu content-menu">
                        <li (click)="jwtAuth('RS256')"><a>RS256</a></li>
                        <li (click)="jwtAuth('HS256')"><a>HS256</a></li>
                    </ul>
                </div>
            </div>
            <div class="switch-toggle mt-4 d-none">                
                <label class="kr-sg-toggle">
                    <input type="checkbox" [(ngModel)]="credntial.enabled">
                    <div class="slider"><span class="enabled">Push Notifications Enabled</span><span class="disabled">Push Notifications Enabled</span></div>
                </label>
            </div>
    
    
        </div>
        <!-- </perfect-scrollbar> -->
        <div class="modal-footer">
            <button class="kr-sg-button-primary btn_lg" (click)="validateSource()">Add</button>
            <button class="kr-sg-button-secondary btn_lg" (click)="closeModalPopup()">Cancel</button>
        </div>
    </kr-modal> 
    <kr-modal modalType="center" #editCredential modalClass="modal_popups_ view-query-modal">
        <div class="modal-header">
            <span> Edit Credential</span>
            <div class="close_icon" (click)="closeEditModalPopup()"><img src="assets/icons/modal-close.svg"></div>
        </div>
        <!-- <perfect-scrollbar class="perfect-scroll-modal-body"> -->
        <div class="modal-body">
            <div class="kr-sg-input-text mb-4">
                <div class="label-text">Credential Name</div>
                <input type="text" autocomplete="off" name="credname" placeholder="Enter Name" [(ngModel)]="editCreden.name"
                    class="input-text">
            </div>
            <div class="kr-sg-checkbox d-block p-0 ">
                <input id="checkbox_1" class="checkbox-custom" type="checkbox" [(ngModel)]="editCreden.anonymus">
                <label for="checkbox_1" class="checkbox-custom-label">Allow anonymous users to chat with bot</label>
            </div>
            <div class="kr-sg-checkbox d-block p-0 ">
                <input id="checkbox_2" class="checkbox-custom" type="checkbox" [(ngModel)]="editCreden.register">
                <label for="checkbox_2" class="checkbox-custom-label">Auto register new user Kore.ai Bots Platform</label>
            </div>
            <hr class="mt-4 mb-4">
    
            <div class="label-text">JWT Signing Algorithm Used For Client App Authentication</div>
            <div class="kr-sg-dropdowns">
                <div class="dropdown dropdown-open">
                    <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><span class="select-placeholder">
                            {{editCreden.awt}}</span> </button>
                    <ul class="dropdown-menu content-menu">
                        <li (click)="jwtAuth('RS256')"><a>RS256</a></li>
                        <li (click)="jwtAuth('HS256')"><a>HS256</a></li>
                    </ul>
                </div>
            </div>
            <div class="switch-toggle mt-4">                
                <label class="kr-sg-toggle">
                    <input type="checkbox" [(ngModel)]="editCreden.enabled">
                    <div class="slider"><span class="enabled">Push Notifications Enabled</span><span class="disabled">Push Notifications Enabled</span></div>
                </label>
            </div>
    
    
        </div>
        <!-- </perfect-scrollbar> -->
        <div class="modal-footer">
            <button class="kr-sg-button-primary btn_lg" (click)="saveEditCredential()" >Save</button>
            <button class="kr-sg-button-secondary btn_lg" (click)="closeEditModalPopup()">Cancel</button>
        </div>
    </kr-modal> 
</div>