.manage-credentials-container{
    .header-sec{        
        padding: 15px 25px;
        background: #F8F9FA;
        .title-header{            
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
        .right-sec{
            display: flex;
            align-items: center;
            justify-content: flex-end;  
            
            .kr-sg-input-search{
                width: 300px;
                right: 10px;
                position: relative;
                &.active{
                    display: block;
                    width: 300px;
                }
                .close-icon{
                    position: absolute;
                    right: 11px;
                    top: 12px;
                    cursor: pointer;
                }
                .input-search{
                    border: 1px solid #E4E5E7;                            
                    border-radius: 4px;
                    padding-left: 36px;
                    padding-right: 15px;
                    font-size: 14px;
                    &:focus{
                        border: 1px solid #1372ff;
                    }
                    &::placeholder{
                        color: #BDC1C6;
                    }
                }
            }
            .kr-sg-input-text{
                width: 300px;
                right: 10px;
                width: 0px;
                display: none; 
                position: relative;
                &.active{
                    display: block;
                    width: 300px;
                }
            }
            .seach-block{
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                margin-right: 30px;
                img{
                    margin-right: 7px;
                    cursor: pointer;
                    position: relative;
                    top: -1px;
                }
            }
            .add_feild{
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                margin-right: 30px;
                cursor: pointer;
                img{
                    margin-right: 7px;
                    position: relative;
                    top: -1px;
                }
            }
            .clock{
                cursor: pointer;
                img{
                    position: relative;
                    top: -1px;
                }
                
            }
        }
    } 
    .scroll-table{
        height: calc(100vh - 114px);
    }
    .table-data{
        padding: 10px 25px;
        .table-header{
            box-shadow: inset 0px -1px 0px #E4E5E7;
            padding: 18px 0;
            .title{
                color: #9AA0A6;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                padding: 0 10px;
            }
        }
        .table-body-content{
            padding: 18px 0;
            background: #FFFFFF;
            box-shadow: inset 0px -1px 0px #E4E5E7;
            transition: 0.2s all ease-in;
            &:hover{
                background: #F8F9FA;
            }
            .title{
                color: #202124;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                padding: 0 10px;
            }
            .action-links{
                .actions-links{
                    cursor: pointer;
                }
            }
        }
    }    
}
::ng-deep .view-query-modal{
    .switch-toggle{
        .kr-sg-toggle{
            span{
                width: 600px !important;
            }
        }       
    }
}
.empty-scroll{
    height: calc(100vh - 62px);
}