.manage-credentials-container{
    .header-sec{        
        padding: 0px 25px;
        height: 52px;
        background: #F8F9FA;
        align-items: center;
        .title-header{            
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
        .right-sec{
            display: flex;
            align-items: center;
            justify-content: flex-end;  
            
            .kr-sg-input-search{
                width: 215px;
                right: 10px;
                position: relative;
                &.active{
                    display: block;
                    width: 215px;
                }
                .close-icon{
                    position: absolute;
                    right: 11px;
                    top: 12px;
                    cursor: pointer;
                }
                .input-search{
                    border: 1px solid #E4E5E7;                            
                    border-radius: 4px;
                    padding-left: 36px;
                    padding-right: 15px;
                    font-size: 14px;
                    &:focus{
                        border: 1px solid #1372ff;
                    }
                    &::placeholder{
                        color: #BDC1C6;
                    }
                }
            }
            .kr-sg-input-text{
                width: 300px;
                right: 10px;
                width: 0px;
                display: none; 
                position: relative;
                &.active{
                    display: block;
                    width: 300px;
                }
            }
            .seach-block{
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                margin-right: 30px;
                img{
                    margin-right: 7px;
                    cursor: pointer;
                    position: relative;
                    top: -1px;
                }
            }
            .add_feild{
                color: #202124;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                margin-right: 30px;
                cursor: pointer;
                img{
                    margin-right: 7px;
                    position: relative;
                    top: -1px;
                }
            }
            .clock{
                cursor: pointer;
                img{
                    position: relative;
                    top: -1px;
                }
                
            }
        }
    } 
    .scroll-table{
        height: calc(100vh - 114px);
    }
    .table-data{
        padding: 10px 25px;
        .table-header{
            box-shadow: inset 0px -1px 0px #E4E5E7;
            padding: 18px 0;
            .title{
                color: #9AA0A6;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                padding: 0 10px;
            }
        }
        .table-body-content{
            padding: 18px 0;
            background: #FFFFFF;
            box-shadow: inset 0px -1px 0px #E4E5E7;
            transition: 0.2s all ease-in;
            &:hover{
                background: #F8F9FA;
            }
            .title{
                color: #202124;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                padding: 0 10px;
            }
            .last-updates{
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #202124;
                span{
                    color: #9AA0A6;
                }
            }
            .api-scope-data{
                display: flex;
                align-items: center;
                .name-scope{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #202124;
                    max-width: calc(100% - 30px);
                    flex-shrink: 0;
                    min-height: 18px;
                }
                .kr-sg-dropdowns{
                    width: auto;
                    margin-left: 8px;
                    .dropdown-input{
                        background: #F3F8FF;
                        border: 1px solid #E7F1FF;
                        box-sizing: border-box;
                        padding: 0;
                        margin: 0;                        
                        width: 22px;
                        height: 22px;
                        border-radius: 100%;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 20px;
                        color: #9AA0A6;                        
                        text-align: center;
                        &::before{
                            display: none;
                        }
                    }
                    .api-scopes-manage-credentials-dropdown{
                        max-width: 400px !important;
                        width: 400px !important;
                        max-height: 400px;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                        border: 0;
                        margin: 0;
                        margin-left: 12px;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 14px;
                            height: 14px;
                            background: #fff;
                            left: -6px;
                            top: 5px;
                            transform: rotate(45deg);                            
                        }
                        .api-scope-dropdown-content{
                            .header-sec-dropdown{
                                display: flex;
                                align-items: center;
                                padding: 15px 25px 5px 25px;
                                justify-content: space-between;
                                .title_header{
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #3C4043;
                                    text-transform: uppercase;
                                }
                                .close-dropdowm{
                                    cursor: pointer;
                                }
                            }
                            .scroll-data{
                                max-height: 326px;
                            }
                            .data-scroll{
                                padding: 0 25px;
                                max-height: 326px;
                                padding-bottom: 20px;
                                .scope-sec-title{
                                    padding: 12px 0;
                                    border-bottom: 1px solid #EFF0F1;
                                    .scope-name{
                                        font-weight: normal;
                                        font-size: 14px;
                                        line-height: 20px;
                                        margin-bottom: 6px;
                                    }
                                    .scope-desc{
                                        font-weight: normal;
                                        font-size: 14px;
                                        line-height: 20px;
                                        color: #9AA0A6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .actions-links{
                cursor: pointer;
                position: absolute;
                right: 12px;                
            }
        }
    }    
}
::ng-deep .add-credentials-popup{
    .modal-dialog{             
        .modal-content{      
            .nav-tabs{
                border: 0;
                margin: 0;
                padding: 0 30px;
                .nav-item{
                    .nav-link {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        padding: 10px 0;
                        border-bottom: 2px solid transparent;
                        border: 0;
                        outline: 0 !important;
                        margin-right: 18px;
                        &.active{
                            border-bottom: 2px solid #0D6EFD;
                        }
                    }
                }
            } 
            .client-input-box-container{
                margin: 20px 0;
                padding: 24px;
                background: #F8F9FA;
                border-radius: 4px;
                .input-box-content{
                    display: flex;
                    align-items: center;
                    .padssword{
                        position: absolute;
                        right: 15px;
                        top: 10px;
                    }
                }
            }     
            .api-scope-check-list{
                padding: 12px 15px;
                display: flex;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid #E4E5E7;
                transition: 0.2s all ease;
                &.selected-item{
                    .kr-sg-checkbox{
                        visibility: visible !important;
                    }
                }
                &:hover{
                    background: #F8F9FA;
                    .kr-sg-checkbox{
                        visibility: visible;
                    }
                }
                .kr-sg-checkbox{
                    margin: 0;
                    padding: 0;
                    padding-right: 13px;
                    visibility: hidden;
                }
                .contet-sec{
                    .primary-text{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #202124;
                        margin-bottom: 5px;
                    }
                    .secondary-text{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #9AA0A6;
                    }
                }                
            }            
            .kr-sg-dropdowns {
                .dropdown-open {
                    .dropdown-input{
                        border: solid 1px #EFF0F1 !important;
                        background: #EFF0F1;
                        &::before{
                            opacity: 0.4;
                        }
                    }
                }
            }
            .switch-toggle{
                padding-bottom: 16px;
                border-bottom: 1px solid #E4E5E7;
                .kr-sg-toggle{
                    span{
                        width: 600px !important;
                    }
                }       
            }

        }
    }    
}
.empty-scroll{
    height: calc(100vh - 62px);
}