@import './../../../app/scss/variables/variables.scss';
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.mainLoadingSpinner{
    position: absolute;
    top: 45%;
    left: 45%;
    // box-shadow: 0 5px 10px 0 #e9eff5;
    background:  transparent;
    width: 223px;
    height: 40px;
    padding-top: 10px;
    border-radius: 4px;
    opacity: 0.95;
    padding-left: 5px;
    .please-wait-message {
        position: relative;
        color: #29293b;
        top: -16px;
        left: 25px;
        font-size: 12px;
    }  
}

.contentContainer{
   padding: 30px 65px 0 70px;
    height: calc(100vh - 62px);
    overflow: hidden;    
    background: #fff;
    .title-content{
        background: #F8F9FA;
        padding: 9px 30px;
        height: 53px;
        display: flex;
        align-items: center;
        color: #000000;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    .scoll-empty-screen{
        height: calc(100vh - 115px);       
    }
    .table-list-content{
        padding-right: 0px;
        .kr-sg-data-table{
            // margin: 0 0 10px 0;
            .header-sec {
                background: #F8F9FA;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                padding: 15px 30px;
            }
            .right-sec {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                
                .clock{
                    cursor: pointer;
                    img{
                        position: relative;
                        top: -1px;
                    }
                    
                }
                .modal-control-text {
                    font-weight: 500;
                    font-style: normal;
                    font-size: 12px;
                    cursor: pointer;
                    margin-right: 25px;
                }
            }
        }
    }
    .empty-case-showing-cotent{
        margin: 0 -5px;
    }
    .kr-sg-data-table section.table-content .content-body{
        cursor: default;
    }
    .kr-sg-data-table{
        section{
            .empty{
                display: none;
                text-align: center;
                width: 100%;
                padding: 10%;
                white-space: break-spaces;
            }
            div.empty:first-child {
                display: block !important;
              }
            .last-child {
                max-width: 90px !important;
            }
        }
    }
    .table-list-content{
        .kr-sg-data-table{
            .table-action-header{
                margin: 0;
                height: 53px;
                padding: 0 30px;
                justify-content: space-between;                
                background: #F8F9FA;                
                border-radius: 4px;    
                .title-main{
                    color: #000000;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
                .search-block {
                    color: #202124;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    // margin-right: 30px;
                    img {
                        margin-right: 7px;
                        cursor: pointer;
                        position: relative;
                        top: -1px;
                    }
                }                    
                .kr-sg-input-search{
                    width: 215px;
                    input{
                        padding-left: 34px;
                        padding-right: 10px;
                    }
                    .search-icon{
                        left: 10px;
                        width: 16px;
                        height: 16px;
                    }
                    .close-icon {
                        position: absolute;
                        right: 11px;
                        top: 12px;
                        cursor: pointer;
                    }
                 } 
                .kr-sg-dropdowns{
                    width: 124px;
                    margin-left: 15px;
                    .dropdown-open{
                        &.show{
                            background: #fff;
                            .dropdown-input{
                                border: 1px solid #E4E5E7;
                            }
                        }
                        .dropdown-input{
                            font-size: 12px;
                            padding: 0 15px;
                            border: 1px solid transparent;
                            background: transparent;
                            border-radius: 4px;
                            font-weight: 500;
                            img{
                                margin-right: 6px;
                                position: relative;
                                top: -1px;
                            }
                            &::before{
                                display: none;
                            }
                            &::after{
                                display: none;
                            }
                        }
                        .content-menu{
                            box-shadow: 0px 10px 35px rgba(32, 33, 36, 0.2);
                            width: 140px;
                            top: 3px !important;
                            min-width: 150px;
                            padding: 10px 20px;
                            li{
                                font-size: 12px;
                                color: #202124;
                                padding: 8px 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .grid-list-view-table{
                    margin-left: 15px;
                    cursor: pointer;
                    width: 20px;
                    text-align: right;
                }
            }  
            .table-content{
                margin-top: 0px;      
                padding: 0 30px; 
                
                
                .table-header{
                    background: #fff;
                    border-bottom: 1px solid #E4E5E7;
                    color: #9AA0A6;
                    .col_{
                        font-weight: 500;                       
                        color: #9AA0A6;
                        font-size: 12px;   
                        cursor: pointer;         
                        .sortImg{                                                       
                            position: static;
                            &.upArrow {
                                transform: none !important;
                            }
                            &.downArrow {
                                transform: rotate(180deg) !important;
                                top: -1px !important;
                                position: relative;
                            }
                            &.assending{
                                transform: rotate(180deg);
                            }
                            &.decending{
                                transform: rotate(0deg);
                            }
                        }            
                    }
                }
                .col{
                    .action_icon{                        
                        cursor: pointer;
                        visibility: hidden;
                    }
                }
                .content-body{
                    padding: 9px 0;
                    border-bottom: 1px solid #E4E5E7;
                    .col_{
                        padding: 0px 10px 0px 25px;
                        .failed-img{
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .col{
                        color: #202124;
                        font-size: 14px;
                        &.success{
                            color: #28A745;
                        }
                        &.in-progress{
                            color: #0D6EFD;
                        }
                        &.failed{
                            color: #DD3646;
                        }
                        
                    }
                    .inProgress{
                        width: 20px;
                        height: 20px;
                        -webkit-animation:spin 4s linear infinite;
                        -moz-animation:spin 4s linear infinite;
                        animation:spin 4s linear infinite;
                    }
                    &:hover{
                        background: #F8F9FA;
                        .action_icon{
                            visibility: visible;
                        }
                    }
                    .ml-2{
                        margin-left: 2%;
                    }
                    .sch-createdOn{
                        color: #9AA0A6;
                        font-weight: normal;
                        font-size: 12px;
                    }
                }
            }                     
        }
        .table-scroll-perfect{
            height: calc(100vh - 185px);
            &.list{
                height: calc(100vh - 125px);
            }
        }
    }  
    
}
::ng-deep perfect-scrollbar .ps--active-y{
    .ps__thumb-y{
        width: 3px !important;
    }
    .ps__rail-y{
        width: 3px !important;
    }
    .ps__thumb-x{
        display: none !important;
    }
    .ps__rail-x{
        display: none !important;
    }
}
::ng-deep perfect-scrollbar .ps-content{
    .empty{
        display: none;
        text-align: center;
        width: 100%;
        padding: 10%;
        white-space: break-spaces;
    }
    div.empty:first-child {
        display: block !important;
      } 
  }
    ::ng-deep.sliderComponent {
        // background: rgba(38, 52, 74,0.5);
        .mainLoadingSpinner{
            left: 35%;
            .please-wait-message {
                top: -19px !important;
                left: -12px !important;
                font-size: 12px;
            }
        }
        .modal-content{
            box-shadow: 0px 20px 40px rgba(32, 33, 36, 0.2);            
            .modal-body{
                height: calc(100vh - 70px);
               // padding: 20px 0 60px 30px !important;
                perfect-scrollbar{
                    &.scroll-table{
                        // padding-right: 30px;
                    }
                }
                .table-view-details{
                    .view-details-data{
                        margin-bottom: 25px;
                        .title{
                            color: #202124;
                            font-weight: 600;
                            font-size: 14px;
                            margin-bottom: 6px;
                        }
                        .desc-info{
                            color: #202124;
                            font-weight: normal;
                            font-size: 14px;
                            margin-bottom: 10px;
                            img{
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .noPages{
                    padding-top: 20%;
                    text-align: center;
                }
                .info-content{
                    padding: 15px;                
                    border-radius: 8px;
                    &.pageTitleContainer{
                        padding-bottom: 30px;
                    }
                    &.previewSection{
                        overflow-y: scroll;
                        max-height: 100px;
                        .previewContent {
                            white-space: pre-wrap;
                        }
                    }
                    &.bg-color{
                        background: #f2f3f5;
                    }
                    .viewPageDetails{
                        position: relative;
                        display: block;
                        left: -110px;
                        top: 5px;
                        margin-left: 106px;
                        a{
                            text-decoration: underline;
                            color: #0D6EFD;
                            padding-left: 5px;
                            cursor: pointer;
                        }
                    }
                    .row_content{
                        padding: 3px 0;
                        .left-info-title{
                            color: #9AA0A6;
                            font-size: 14px;
                            span{
                                float: right;
                            }
                        }
                        .right-info-title{
                            color: #202124;
                            font-size: 14px;
                            padding-left: 25px;
                            a{
                                text-decoration: underline;
                                color: #0D6EFD;
                                padding-left: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .content-accordion-sec{
                    .search-header{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 10px;
                        line-height: 34px;
                        justify-content: space-between;        
                        .tabs-sec{
                            .tabname{
                                padding: 8px 10px;
                                border-bottom: 1px solid transparent;
                                color: #202124;
                                font-weight: 500;
                                font-size: 14px;
                                margin-right: 2px;
                                cursor: pointer;
                                &.active{
                                    border-bottom: 1px solid #0D6EFD;
                                }
                            }
                        }  
                        .right-side{
                            display: flex;
                            align-items: center;
                            .add-page{
                                color: #202124;
                                font-weight: 500;
                                font-size: 12px;
                                margin-left: 25px;
                                padding: 0 15px;
                                cursor: pointer;
                                img{
                                    position: relative;
                                    top: -1px;
                                    margin-right: 8px;
                                }
                            }
                            .search-block {
                                color: #202124;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                // margin-right: 30px;
                                img {
                                    margin-right: 7px;
                                    cursor: pointer;
                                    position: relative;
                                    top: -1px;
                                }
                            } 
                            .kr-sg-input-search{
                                width: 215px;
                                margin-right: 30px;
                                input{
                                    padding: 4px 10px 4px 32px;
                                    background: #FFFFFF;
                                    border: 1px solid #E4E5E7;
                                    box-sizing: border-box;
                                    border-radius: 4px;
                                    font-weight: 300;
                                    font-size: 14px;
                                    &::placeholder{
                                        color: #BDC1C6;
                                    }
                                }
                                .search-icon{
                                    position: absolute;
                                    left: 10px;
                                    top: 9px;
                                    cursor: pointer;
                                    right: 0;                            
                                }
                                .close-icon {
                                    position: absolute;
                                    right: 11px;
                                    top: 12px;
                                    cursor: pointer;
                                }
                            }
                        }                                      
                    }  
                    .header-sec{
                        padding: 15px 10px;
                        background: #fff;
                        border-bottom: 1px solid #E4E5E7;
                        .label_text{
                            color: #9AA0A6;
                            font-weight: 500;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }    
                    .accordion-section{
                        margin-bottom: 20px;
                        .card_content{
                            border-bottom: 1px solid #E4E5E7;
                            .card_header{
                                .card_link{
                                    display: block;
                                    padding: 15px 10px;
                                    text-decoration: none !important;
                                    color: #202124;                                    
                                    position: relative;
                                    &.collapsed{
                                        background: #fff;
                                        &::before{                                                                
                                            content: "";                                       
                                            background-image: url('/assets/icons/carrot-right.svg');                                                                    
                                        }
                                        &:hover{
                                            background: #F8F9FA;
                                            .actions{
                                                display: block;
                                            }
                                        }
                                    }
                                    &::before{                                                                
                                        content: "";
                                        position: absolute;
                                        background-image: url('/assets/icons/carrot-down-comp.svg');
                                        background-size: 14px;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        width: 14px;
                                        left: 3px;                                   
                                        height: 100%;
                                        top: 0;                                   
                                    }                                
                                    &:hover{
                                        background: #fff;
                                        .actions{
                                            display: block !important;
                                        }
                                    }
                                    .content{
                                        .link-name{
                                            font-size: 14px;
                                            color: #202124;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            max-width: 100%;
                                            text-overflow: ellipsis;
                                            padding-right: 15px !important;
                                        }
                                        .date{
                                            font-size: 14px;                                        
                                            color: #202124;
                                        }
                                        .actions{
                                            text-align: right;
                                            display: none;
                                            img{
                                                margin: 0 0 0 20px;
                                            }
                                        }
                                    }
                                }
                            }
                            // .pad_adjust{
                            //     padding: 0 0 20px 0;
                            // }
                            .collapse{
                                position: relative;
                                &.show{
                                   
                                }
                                &::before{
                                    content: '';
                                    position: absolute;
                                    width: 1px;
                                    height: 100%;
                                    background: #BDC1C6;
                                    left: 10px;
                                    top: -10px;
                                }
                                .card_body{
                                    padding: 0px 0px 0px 30px;
                                    .info-content{
                                        border-radius: 8px;
                                        background: #fff !important;
                                        border: 1px solid #BDC1C6;
                                        padding: 15px 20px;
                                        max-height: 130px;
                                        overflow: hidden;
                                        white-space: pre;
                                        margin-bottom: 20px;
                                        .viewPageDetails{
                                            margin-left: 106px;
                                            a{
                                                text-decoration: underline;
                                                color: #0D6EFD;
                                                padding-left: 5px;
                                                cursor: pointer;
                                            }
                                        }                                   
                                    }
                                }
                            }
                        }
                    }          
                }
                .kr-sg-data-table{
                    .content-body{
                        &.par{
                            cursor: default;
                            .actions-images{
                                img{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            .footer-btns{
                background: #FFFFFF;
                box-shadow: inset 0px 1px 0px #BDC1C6;
                padding: 13px 30px;
                button{
                    margin-right: 20px;
                    font-size: 14px;
                    border: 0;
                }
                .kr-sg-button-primary{
                    background: #0D6EFD;
                    border-radius: 4px;
                    color: #FFFFFF;
                    font-size: 14px;
                    float : right;
                }
                .kr-sg-button-secondary{
                    background: #FFFFFF;
                    border: 1px solid #BDC1C6;                 
                    border-radius: 4px;
                    color: #202124;
                    float : right;
                }
                .kr-sg-button-secondary-two{
                    background: #DD3646;
                    border-radius: 4px;
                    color: #FFFFFF;
                    float: left !important;
                }
                .parentloader{
                    position: relative;
                    .mainLoadingSpinner{
                        position: absolute;
                        left:92%;
                        // right: -12px;
                        // bottom: -24px;
                    }
                }
            }
        }        
    }

    .hide {
        display: none !important;
    }
    .paginations-custon.numbers:first{
        color: #0D6EFD !important;
        border-bottom: 1px solid #0D6EFD !important;
    }
    .paginations-custon.numbers{
        font-weight: 600 !important;
        font-size: 10px !important;
        line-height: 14px;
    }
    .accordion-content-info{ 
        // margin-right: 30px;    
        .table-list-content{
            .kr-sg-data-table{
                .table-content {
                    padding: 0;
                    margin-top: 20px;
                    .table-header{
                        padding: 15px 0px !important;
                    }
                    .content-body{
                        padding: 15px 0;
                        .eye-img{
                            // position: absolute;
                            // right: 10px;
                            // top: 0;
                        }
                        .actions-images{
                            display: none;
                            white-space: normal;
                            img{
                                margin: 0 7px;
                            }
                        }
                        &:hover{
                            .actions-images{
                                display: block;
                            }
                        }
                        .wid{
                            width: 100%;
                            border: solid 1px #BDC1C6;
                            border-radius: 4px;
                           
                            &:focus {
                                border: solid 1px #BDC1C6;  
                                box-shadow: 0 0 0 #bdc1c6;
                            }  
                        }
                        
                    }
                }
            }
        }
        .input-paddings {
            margin: 8px 0;
        }
        .group-checkbox{
            margin-top: 12px;
            .kr-sg-checkbox{
                margin-bottom: 20px;
            }
        } 
        .site-map-url-sec{
            margin: 10px 0 0 0;
            .label_text{
                font-weight: 600;
                font-size: 12px;
                color: #202124;
            }
            .urls_{
                background: #FFFFFF;
                border: 1px solid #E4E5E7;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 18px 20px;
                .site-url{
                    color: #202124;
                    font-size: 14px;
                    margin-bottom: 11px;
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        .toggle-swich-row{
            margin: 20px 0 0 0;
            border-top: 1px solid #E4E5E7;
            .row_data{
                padding: 15px 0;
                //box-shadow: inset 0px -1px 0px #E4E5E7;
                .title{
                    font-weight: normal;
                    font-size: 14px;
                    color: #202124;
                }
                .toggle-label{

                }
            }
            .schedule-box{
                box-shadow: inset 0px -1px 0px #E4E5E7;
                padding-bottom: 1px;
            }
        }
        .inner-content{            
            .tooltip-custom{
                position: relative;  
                display: inline-block;   
                cursor: pointer;      
                &:hover{
                    .tooltiptext{
                        visibility: visible;
                    }
                }
                .tooltiptext{               
                    width: 360px;
                    color: #fff;
                    position: absolute;
                    visibility: hidden;
                    z-index: 1;
                    top: -12px;
                    left: 23px;
                    display: block;
                    height: 50px;
                    text-align: left;
                    padding: 10px 10px;
                    background: #202124;
                    box-shadow: 0px 4px 4px rgb(32 33 36 / 20%);
                    border-radius: 4px;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 100%;
                        margin-top: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent #202124 transparent transparent;                      
                        width: 100%;
                        z-index: -1;
                    }         
                    .t-text{
                        color: #FFFFFF;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        padding-left: 10px;
                    }
                    .v-text{
                        color: #BDC1C6;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        margin-top: 4px;
                        padding-left: 10px;
                    }
                }
            }                              
            &.crawl-option{
                margin-top: 10px !important;
            }
            &:last-child{
                box-shadow: none;
            }
            .input-paddings{
                padding: 0 10px;
                position: relative;
                margin: 8px 0;
                .kr-sg-input-text{
                    input{
                        padding-right: 58px;
                        &.pointer-none{
                            pointer-events: none;
                            font-weight: 500;
                            font-size: 12px;
                        }
                    }
                }
                .kr-sg-toggle{
                    position: absolute;
                    top: 7px;
                    right: 10px;
                    &.full-input{
                        right: 8px;
                    }
                }
                
            }
        }
        .allow-list-data-label{
            color: #202124 !important;
            padding: 15px 10px !important;
            position: relative;
            font-weight: 500 !important;
            font-size: 12px !important;
            box-shadow: inset 0px -1px 0px #E4E5E7;
            //margin-bottom: 16px;
            img{

                cursor: pointer;
            }
            .list{
                position: absolute;
                right: 8px;
            }
        }
        .mt-16{
            margin-top: 16px;
        }
        .allow-urls-sec{
            align-items: center;
            padding: 19px 10px 5px 20px;
            margin: 0 0 20px 0;
            background: #FFFFFF;
            //border: 1px solid #BDC1C6;
            box-sizing: border-box;
            border-radius: 4px;
            .title{
                color: #202124;
                font-size: 14px;
            }
            .kr-sg-dropdowns{
                margin-right: 10px;
            }
            .kr-sg-input-text{
                margin-right: 10px;
            }
            .add-urls{
                background: #EFF0F1;
                border-radius: 4px;
                height: 34px;
                width: 34px;
                text-align: center;
                line-height: 33px;
                flex-shrink: 0;
                cursor: pointer;
            }
        }
        .allow-urlBox{
            margin: 0px 0px 0px 0px;
            border-radius: 4px 4px 0px 0px;
        }
        .alw-list-bor{
            margin: 0px 0px -1px 0px;
            border-radius: 0px 0px 0px 0px !important;
            //border: 1px solid #bdc1c6;
            border-bottom: none;
        }
        .last-record{
            border-radius: 0px 0px 4px 4px;
            border-bottom: 1px solid #bdc1c6;;
        }
        .path-data{
            padding: 14px 20px;
            background: #FFFFFF;
            //border: 1px solid #E4E5E7;
            box-sizing: border-box;
            border-radius: 4px;
            .title{
                color: #202124;
            }
            .close-path{
                img{
                    cursor: pointer;
                }
            }
        }
        .kr-sg-toggle {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            margin: 0;
            input{
                opacity: 0;
                width: 0;
                height: 0;
                &:checked{
                    + .slider{
                        background: #0D6EFD; 
                        border: 1px solid #0D6EFD;                       
                        &::before{
                            -webkit-transform: translateX(17px);
                            -ms-transform: translateX(17px);
                            transform: translateX(17px);
                            background: #fff;
                        }               
                    }
                    &:disabled{
                        + .slider{
                            background-color: $hoverColor;
                            opacity: 0.3;                            
                        }
                    }
                }
                &:focus{
                    + .slider{                
                        // box-shadow: 0 0 1px $hoverColor;
                        border: 1px solid #0D6EFD;
                    }
                }   
                &:disabled{
                    cursor: auto;            
                }   
            }
            .slider{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 18px;
                border: 1px solid #BDC1C6;
                background: #fff;
                span{
                    font-size: 12px;
                    color: $secondaryColor;
                    &.yes{                
                        padding-left: 37px;
                        position: absolute;
                        top: -2px;
                    }
                    &.no{                
                        position: absolute;
                        top: -2px;
                        margin-left: -25px;
                    }           
                }
                &::before{
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 12px;
                    background: #BDC1C6;
                    top: 3px;
                    left: 4px;
                    right: 0;
                    transition: .4s;
                    border-radius: 50%;
                }
            }
        }
        .list{
            margin-left: 894px;
        }
        // .execution{
        //     .execute-success{
        //         background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFuSURBVHgBjZJBTsJQEIZnRiq4Em+AC5PCSk5gEwGXhp1oTOAEhRMYTiCcABMDuCNsxcXjBLrSupIbWFdWq2+cVygIkcRZte/9X/vPP4Pwq+zrgsMWuaS1w4hpZPY1kcJQt73zOxXrKH7I3pQuIUEdAcbvH1+7XmWEjIm8gENzHt3PCmOAmXeCIKxPasqHlcp0nHQqabWQ8PXp5LaBxpL5UhB85v8ClsDU5j2ArhFb4AJwcx2Q6xb3s72jyAGybjNQnUiDA7Ch1gGacCDi6F56vSLkA7D7RV6EUXT3RBgDdr/0kpu9zxMWPZlYjd8olW8YbxAM7G6xav5AmsuPZ6OHBeBkEMEnTaC2komqOTQCsVsGwotVICptOZpxjHZf0gOU9MJ/pGdJelybzql32GKkbQEba+eUSsos9dvz6aiO8xCm4DFoaAKFyquoiREb67JSLjMMDRD1vpxMwZFGXdAouweye+ADsRKg7VUWu/cDNeW+BP2nnYMAAAAASUVORK5CYII=');
        //     }
        //     .execute-failed{
        //         background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFVSURBVHgBjVLNSsNAEJ6Ztdub9g1MsQreIpjWmym00Zv6BDVv0DdK+wjexArGmxChuQnWmPgEFm+2ZMfdglpCqh1YWJjv++bvQyjEs9O1BbOriGqk1DRHDPeiUbyMwe/Pk+1a1UolYECbiYfMONVJS79jZM4+53N/Pw6zX3W7ayeO9z5pnfShJJJWp//a9FLTxaKSqSClvGOtplWznWjklxEnhx2XiIKP2eyAZHXjHHTfjWjU1q1h4nSDMtLu423IAPebUvYJmHoqz4cm0YhuLv8islIDYDiDpOlxMfnieINVRIOnssR/FQ0pNkOuQ1zgGGJSAFckRG+digsc4RBT260pKcdKKd9sqIxsZtQb22ZES6+9TfU4nBLzhdA3SFYcVwCPjVMMrv5wnf3YKD06tXLOA2S0zN0U8xshbIEC3SLHQgjfEAwWi6qptopaMixpgXrBsF8zdqxMNhuxtQAAAABJRU5ErkJggg==');
        //     }
        // }
        .execution{
            .execute-success{
                position: relative;
                cursor: pointer;
            }
        }       
        .special-text__tooltip{
            font-size: 14px;
            position: absolute;
            width: 100%;
            left: 0%;
            bottom: 100%;
            margin-bottom: 15px;
            padding: 10px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            border: 5px solid #FF00FF;
            border-radius: 3px;
            visibility: hidden;
            opacity: 0;
            text-align: left;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            transition-property: opacity;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: linear;
            -moz-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: initial;
            -moz-transition-delay: initial;
            transition-delay: initial;
            &::before{
                content: "";
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                top: 100%;
                left: 50%;
                margin-left: -10px;
                border-top: 10px solid #FF00FF;
                margin-top: 4px;
            }
            &::after{
                content: "";
                position: absolute;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                top: 100%;
                left: 50%;
                margin-left: -10px;
            }
        } 
    }
    
    .pl-pr-10{
        padding: 0 10px;
    }
    .m1010{
        margin: 1px 0px 1px 0px;
    }
    .pre-arrow{
        border: solid #202124;
        border-width: 0 2px 2px 0 ;
        display: inline-block ;
        padding: 3px ;
        transform: rotate(135deg) ;
        -webkit-transform: rotate(135deg) ;
    }
    .nxt-arrow{
        border: solid #202124;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .numbers-page {
        padding: 10px 20px;
        font-size: 12px;
    }
    .dis-arow {
        border: solid #c5c7ce;
        border-width: 0 2px 2px 0;
    }
    .scroll-table{
        height: calc(100vh - 240px);
    }
    .scroll-table-allowRow{
        height: calc(100vh - 230px);
    }
    .scroll-table-sourceContent{
        height: calc(100vh - 180px);
    }
    .scroll-table-sourceContent-pageBody{
        height: calc(100vh - 80px);
    }
    .schedule-comp{
        position: relative;
        margin-top: 20px;
    }

    .moadal-footer-config{
        border-top: solid 1px #e5e8ec;
        background-color: #ffffff !important;
        .btn-left-config-ca{
            position: absolute;
            left: 102px;
        }
        .btn-left-config-ok{
            position: absolute;
            left: 24px;
        }
    }
    
    .mod-foot{
        justify-content: left !important;
        height: 60px;
        border-top: solid 0px #e5e8ec;
        /* background-color: #f2f3f5; */
        padding: 6px 30px;
        // display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom-right-radius: calc(.3rem - 1px);
        border-bottom-left-radius: calc(.3rem - 1px);
        .btn_lg{
            margin: 4px;
            float: right;
        }
    }
    .par{
        .actions-images{
            display: none;
            white-space: normal;
            img{
                margin: 0 6px;
            }
        }
        &:hover{
            .actions-images{
                display: block;
            }
        }
    }
    .downArrow {
        top: 2.3px !important;
        margin-right: 0px !important;
        margin-left: -8px;
    }
    .upArrow {
        transform: rotate(180deg) !important;       
    }
    .display-none {
        visibility: hidden;
    }
    .display-block {
        visibility: visible;
    }
    
    .dropdown-toggle{
        .custom-dropdown-toggle-icon {
            margin-left: 10px !important;
        }
    }
    

    .grid-data-sec{ 
        margin: 10px 0;    
        padding: 0 20px !important;  
        .grid-card{
            padding: 10px;
            .card_sec{
                background: #FFFFFF;
                border: 1px solid #BDC1C6;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 16px 18px;   
                transition: 0.2s all ease-in;
                position: relative;
               
                .delete-refresh{
                    display: none;
                    position: absolute;
                    right: 16px;
                    top: 12px;
                    img{
                        margin-left: 14px;
                        cursor: pointer;
                    }
                }
                &:hover{
                    border: 1px solid #0D6EFD;
                    background: #F3F8FF;
                    .delete-refresh{
                        display: inline-block;
                    }
                }       
                .titles-sec{
                    margin-bottom: 19px;
                    padding-right: 40px;
                    display: flex;
                    align-items: center;
                    .name{
                        color: #202124;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        padding-right: 6px;
                        border-right: 2px solid #BDC1C6;
                        display: inline-block;
                        max-width: 70%;
                    }
                    .type-data{
                        color: #0D6EFD;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: normal;
                        padding-left: 6px;
                        &.doc{
                            color: #28A745;
                        }
                    }
                }
                .timestamp{
                    color: #9AA0A6;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                }
                .status{
                    text-align: right;

                    .status-title{                    
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        padding-left: 9px;
                        &.failed{
                            color: #DD3646;
                        }
                    }
                    .inProgress{
                        width: 20px;
                        height: 20px;
                        -webkit-animation:spin 4s linear infinite;
                        -moz-animation:spin 4s linear infinite;
                        animation:spin 4s linear infinite;
                    }
                }
                .pages-count{
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 20px;
                    color: #9AA0A6;
                    .count{
                        color: #202124;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;
                        padding-right: 6px;
                    }
                }
               
            }
        }        
    }
    .run-percentageDone {
        position: absolute;
        left: 100px;
        top: 2px;
        font-size: 10px;
        color: #a6bdda;
    }
   
    .execution-table-data{
        .content-body{
            position: relative;
            cursor: default;
            .col_{
                position: relative;
            }
            .eye-img{
                cursor: pointer;
                position: absolute;
                left: calc(21% - 27px);
                z-index: 1;
                &:hover{
                    .execute-log{
                        display: block;
                    }
                }
                .execute-log{
                    position: absolute;             
                    padding: 15px 20px;
                    width: 265px;
                   // width: 332px;
                   // height: 290px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    top: -7px;
                    margin-left: 26px;
                    display: none;
                    z-index: 9999;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 19px;
                        right: 100%;
                        margin-top: -8px;
                        border-width: 8px;
                        border-style: solid;
                        border-color: transparent #fff transparent transparent;
                    }
                    .header-title{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        .title{
                            color: #979797;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                        }
                        .close-log{
                            img{
                                cursor: pointer;
                            }
                        }
                    }
                    .log-details{
                        display: flex;
                        align-items: center;
                        padding: 7px 0;
                        img{
                            margin-right: 13px;
                        }
                        .log-name{
                            color: #202124;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            .time{
                                color: #979797;
                                font-size: 12px;
                                padding-left: 4px;
                            }
                        }
                    }
                }
            }            
        }
    
    }
    .title-text{
        color: #202124;
        font-weight: 600;
        font-size: 13px;
        line-height: 10px;
        margin-bottom: 5px;
        min-height: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
            .dwnld-image{
                display: inline-block !important;
            }
            img{
                display: none;
                padding-left: 8px;
            }
            &:hover{
                img{
                    display: inline-block;
                }
            }
        }
        
        .title-desc-text{
        color: #202124;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 20px;
        }
        .run-percentageDoneGrid{
            position: absolute;
            left: 290px;
            top: 2px;
            font-size: 10px;
            color: #a6bdda;
        }
   
        .kr-sg-input-text-area textarea.desc-text-area{
            min-height: inherit !important;
        }

        .info-no-limit{
            background: #FFFBEA;            
            border: 1px solid #806D16;
            box-sizing: border-box;
            border-radius: 4px;
            display: flex;
            align-content: center;
            padding: 9px 10px;                        
            img{

            }
            span{
                color: #806D16;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                padding-left: 10px;
            }
        }

        .empty-page-data-container{
            width: 240px;
            margin: 0 auto;
            text-align: center;
            .title{
                font-weight: normal;
                font-size: 14px;
                line-height: 25px;
                color: #3C4043;
                span{
                    color: #0D6EFD;
                    cursor: pointer;
                }
            }
        }