<app-useronboarding-journey [componentType]='componentType'></app-useronboarding-journey>
<div class="connectors-container">
    <div class="seach_add_feild">
        <div class="title">{{'connectors.connector'|translate}}</div>
        <div class="d-flex align-items-center">
            <div class="kr-sg-input-search m-0 d-none">
                <input type="text" placeholder="{{'search' | translate}}" maxlength="60" class="input-search">
                <img class="close-icon" src="assets/icons/close_icon.svg" placement="top-center" container='body'
                    ngbTooltip="{{'fields.cancel' | translate}}" tooltipClass="ngb_tooltip_custom_class sampleJson">
            </div>
            <div class="seach-block" *ngIf="selectedContent==='list'">
                <span class="mr-3" id="btn_toggle_search_structured_data">
                    <img src="assets/icons/search.svg">{{'search' | translate}}
                </span>
            </div>
        </div>
    </div>
    <div [ngSwitch]="selectedContent">
        <div *ngSwitchCase="'list'">
            <div class="connector-cards-data full-height-show">
                <perfect-scrollbar>
                    <div class="inner-content-data">
                        <ng-container>
                            <div class="desc-text-heading">{{'connectors.picksourceandconfigure'|translate}}</div>
                            <ng-container *ngIf="connectorsData?.length">
                                <div class="heading-with-line">
                                    <div class="main-heading">{{'connectors.connected'|translate}}</div>
                                    <div class="line-border"></div>
                                </div>
                                <div class="card-connectors-info row">
                                    <div class="card-connector-column" *ngFor="let connector of connectorsData">
                                        <div class="inner-card" [ngClass]="{'active-connector':connector.isActive,'disable-connector':connector.isActive===false}" style="cursor:default;">
                                            <label class="kr-sg-toggle">
                                                <input type="checkbox" [(ngModel)]="connector.isActive" (change)="openConnectorDialog(connector,$event);">
                                                <div class="slider"></div>
                                            </label>
                                            <div class="icon-block">
                                                <img [src]="connector?.image" alt="connector-img">
                                            </div>
                                            <div class="content-block text-truncate">
                                                <div class="title add-new-link">
                                                    <div class="connector-name text-truncate">{{connector?.connector_name}}</div>
                                                    <div class="details-span" (click)="connector.isActive?changeContent('edit',connector):null"><a href="javascript:void(0)" class="details-link">details</a></div>
                                                </div>
                                                    <!-- <div class="title" *ngIf="connector?.type==='confluenceServer'">(Server)</div> -->
                                                <div class="desc-text text-truncate">({{connector?.name}})</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="availableConnectorsData?.length">
                                <div class="heading-with-line" *ngIf="connectorsData?.length">
                                    <div class="main-heading">{{'connectors.available'|translate}}</div>
                                    <div class="line-border"></div>
                                </div>
                                <div class="card-connectors-info row">
                                    <div class="card-connector-column" *ngFor="let avaiable of availableConnectorsData" (click)="changeContent('add',avaiable)">
                                        <div class="inner-card">
                                            <!-- <div class="connect-link" *ngIf="avaiable?.type==='confluenceServer'">
                                                Connect</div> -->
                                            <div class="icon-block">
                                                <img [src]="avaiable.image">
                                            </div>
                                            <div class="content-block text-truncate">
                                                <div class="title">{{avaiable?.connector_name}}</div>
                                                <div class="desc-text text-truncate">{{avaiable?.description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </perfect-scrollbar>
                <!-- <div class="view-more-btn">
                    <div>
                        <button class="kr-sg-button-secondary btn_lg">{{'connectors.cancel_button'|translate}}</button>
                        <button class="kr-sg-button-primary btn_lg">{{'connectors.save_changes_button'|translate}}</button>
                    </div>
                    <div class="">
                        <button class="kr-sg-button-primary btn_lg">{{'connectors.save_changes_button'|translate}}</button>
                        <button class="kr-sg-button-danger btn_lg"><i class="si-delete"></i>{{'connectors.remove_content_source_button'|translate}}</button>
                    </div>
                </div> -->
            </div>
        </div>
        <!---Add functionality-->
        <div *ngSwitchCase="'add'">
            <div class="configuration-connectors-sec">
                <div class="body-config-data">
                   
                        <div class="inner-scroll-data" [ngSwitch]="selectAddContent">
                            <div class="connector-brand m-0">
                                <div class="c-img">
                                    <img [src]="selectedConnector?.image">
                                </div>
                                <div class="c-content-sec">
                                    <div class="title">{{selectedConnector?.connector_name}}</div>
                                    <div class="sub-text">{{selectedConnector?.tag}}</div>
                                </div>
                            </div>
                            <div class="header-configuration-data">
                                <div class="progress-indicators">
                                    <div class="indicator-bg"  *ngFor="let item of addConnectorSteps" [ngClass]="{'active-indicator':item.isCompleted}"></div>
                                </div>
                            </div>
                            <perfect-scrollbar class="inside-scroll-bar">
                            <div class="instruction-setup" *ngSwitchCase="'instructions'">
                                <div class="header-configuration-data mt-0">
                                    <div class="config-tab">
                                        <div class="icon-config">
                                            <i class="si-instructions"></i>
                                        </div>
                                        <div class="title">Introduction</div>
                                    </div>
                                </div>
                                <div class="desc-text mb-4">{{'connectors.quick_setup_desc'|translate}}</div>
                                <div class="instruction-steps-data">
                                    <div class="right-block">
                                        <div class="steps-hint-data">
                                            <div class="step-data-title">Step 1</div>
                                            <div class="steps-info-sec">
                                                <div class="h-title">Configure an OAuth application</div>
                                                <a [href]="selectedConnector.doc_url" target="_blank"><i class="si-external-link"></i> Documentation</a>
                                                <div class="text-desc">Setup a secure OAuth application through the
                                                    content source that you or your team will use to connect and
                                                    synchronize content. You only have to do this once per content
                                                    source.</div>
                                            </div>
                                        </div>
                                        <div class="steps-hint-data">
                                            <div class="step-data-title">Step 2</div>
                                            <div class="steps-info-sec">
                                                <div class="h-title">Connect the content source</div>
                                                <div class="text-desc">Use the new OAuth application to connect any
                                                    number of instances of the content source to Search Assist.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="steps-hint-data">
                                            <div class="step-data-title">Step 3</div>
                                            <div class="steps-info-sec">
                                                <div class="h-title">Follow authentication flow</div>
                                                <div class="text-desc">Follow the {{selectedConnector?.connector_name}}
                                                    authentication flow
                                                    as
                                                    presented in the <a [href]="selectedConnector.doc_url" target="_blank">documentation link</a>.</div>
                                            </div>
                                        </div>
                                        <div class="steps-hint-data">
                                            <div class="step-data-title">Step 4</div>
                                            <div class="steps-info-sec">
                                                <div class="h-title">Authentication</div>
                                                <div class="text-desc">Upon the successful authentication flow, you
                                                    will
                                                    be redirected to Search
                                                    Assist.<br /><br />{{selectedConnector?.connector_name}} content
                                                    will
                                                    now be captured and will be ready for search gradually as it is
                                                    synced. Once successfully configured and connected, the
                                                    {{selectedConnector?.connector_name}}
                                                    will synchronize automatically.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="configuration-setup" *ngSwitchCase="'configurtion'">
                                <div class="header-configuration-data mt-0">
                                    <div class="config-tab">
                                        <div class="icon-config">
                                            <i class="si-instructions"></i>
                                        </div>
                                        <div class="title">Configuration & Authentication</div>
                                    </div>
                                </div>
                                <div class="desc-text">Setup a secure OAuth application through the content source
                                    that
                                    you or your team will use to connect and synchronize content. You only have to
                                    do
                                    this once per content source. Follow the {{selectedConnector?.connector_name}}
                                    authentication flow as
                                    presented in the <a [href]="selectedConnector.doc_url" target="_blank">documentation link.</a></div>
                                <!-- <div class="connector-brand">
                                    <div class="c-img">
                                        <img [src]="selectedConnector?.image">
                                    </div>
                                    <div class="c-content-sec">
                                        <div class="title">{{selectedConnector?.connector_name}}</div>
                                        <div class="sub-text">{{selectedConnector?.tag}}</div>
                                    </div>
                                </div> -->
                                <div class="config-steps-boxes">
                                    <div class="left-box">
                                        <div class="inner-content">
                                            <div class="box-data-step">
                                                <!-- <div class="text-data-desc">After generating configuration
                                                    information
                                                    from step 1, please provide valid credintials to connect to
                                                    {{selectedConnector?.connector_name}}.</div> -->
                                                <div class="heading-label">{{'connectors.provide_appropriate_config_info'|translate}}</div>
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.name'|translate}}</div>
                                                    <input type="text" placeholder="Enter name here" class="input-text" [(ngModel)]="configurationObj.name">
                                                </div>
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.clientid'|translate}}</div>
                                                    <input [type]="showProtecedText.isClientShow?'text':'password'" placeholder="Paste Client ID here" class="input-text" [(ngModel)]="configurationObj.clientId">
                                                    <i class="si-eye" *ngIf="!showProtecedText.isClientShow" (click)="showProtecedText.isClientShow=!showProtecedText.isClientShow"></i>
                                                    <i class="si-eyeshow" *ngIf="showProtecedText.isClientShow" (click)="showProtecedText.isClientShow=!showProtecedText.isClientShow"></i>
                                                </div>
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.clientsecretId'|translate}}</div>
                                                    <input [type]="showProtecedText.isSecretShow?'text':'password'" placeholder="Paste Secret ID here" class="input-text" [(ngModel)]="configurationObj.clientSecret">
                                                    <i class="si-eye" *ngIf="!showProtecedText.isSecretShow" (click)="showProtecedText.isSecretShow=!showProtecedText.isSecretShow"></i>
                                                    <i class="si-eyeshow" *ngIf="showProtecedText.isSecretShow" (click)="showProtecedText.isSecretShow=!showProtecedText.isSecretShow"></i>
                                                </div>
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.hostURL'|translate}}</div>
                                                    <input type="text" placeholder="Enter HostURL here" class="input-text" [(ngModel)]="configurationObj.hostUrl">
                                                    <!-- <i class="si-eye"></i> -->
                                                </div>
                                                <div class="kr-sg-input-text mb-3" *ngIf="selectedConnector.type!=='serviceNow'">
                                                    <div class="label-text">{{'connectors.host_domain_name'|translate}}</div>
                                                    <input type="text" placeholder="Enter Host DomainName" class="input-text" [(ngModel)]="configurationObj.hostDomainName">
                                                    <!-- <i class="si-eye"></i> -->
                                                </div>
                                                <ng-container *ngIf="selectedConnector.type==='serviceNow'">
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.username'|translate}}</div>
                                                    <input type="text" placeholder="Enter username here" class="input-text" [(ngModel)]="configurationObj.username">
                                                </div>
                                                <div class="kr-sg-input-text">
                                                    <div class="label-text">{{'connectors.password'|translate}}</div>
                                                    <input [type]="showProtecedText.isPassword?'text':'password'" placeholder="Enter password here" class="input-text" [(ngModel)]="configurationObj.password">
                                                    <i class="si-eye" *ngIf="!showProtecedText.isPassword" (click)="showProtecedText.isPassword=!showProtecedText.isPassword"></i>
                                                    <i class="si-eyeshow" *ngIf="showProtecedText.isPassword" (click)="showProtecedText.isPassword=!showProtecedText.isPassword"></i>
                                                </div>
                                            </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-box" *ngIf="false">
                                        <div class="inner-content">
                                            <div class="h-title">Document - level permissions</div>
                                            <div class="desc-text">document - level permission information will be syncronized. Additional configuration is required following the initial connection before documents are available for search</div>
                                            <div class="d-flex align-items-center">
                                                <div class="b-text pr-3">Enable document - level permission synchronization</div>
                                                <label class="kr-sg-toggle">
                                                    <input type="checkbox" checked>
                                                    <div class="slider"></div>
                                                </label>
                                            </div>
                                            <div class="info-tip">
                                                <i class="si-info"></i>
                                                <span>Which option should I choose?</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="authentication-sec" *ngSwitchCase="'authentication'">
                                <div class="desc-text">Upon successful authentication,
                                    {{selectedConnector?.connector_name}} content will now
                                    be
                                    captured and will be ready for search gradually as it is synced. Once
                                    successfully
                                    configured and connected, the {{selectedConnector?.connector_name}} synchronization
                                    automatically.</div>
                                <div class="connector-brand">
                                    <div class="c-img">
                                        <img [src]="selectedConnector?.image">
                                    </div>
                                    <div class="c-content-sec">
                                        <div class="title m-0">{{selectedConnector?.connector_name}}</div>
                                        <!-- <div class="sub-text">File Sharing, Storage, Cloud, G Suite</div> -->
                                    </div>
                                </div>
                                <!-- <div class="documentation-text">
                                    {{'connectors.document_level_permissions'|translate}}
                                </div>
                                <div class="document-desc">
                                    {{'connectors.document_level_permissions_info'|translate}}
                                </div>
                                <div class="toggle-with-text">
                                    <div class="t-title">
                                        {{'connectors.enable_document_level_permission_synchronization'|translate}}
                                    </div>
                                    <label class="kr-sg-toggle">
                                        <input type="checkbox" checked>
                                        <div class="slider"></div>
                                    </label>
                                </div>
                                <div class="info-link">
                                    <i class="si-info"></i>{{'connectors.which_option_should_i_choose'|translate}}
                                </div> -->
                            </div>
                            </perfect-scrollbar>
                        </div>
                 
                    <div class="footer-btns">
                        <div class="left-btn">
                            <button class="kr-sg-button-secondary btn_lg" (click)="backToPage('back')" *ngIf="selectAddContent!=='instructions'">{{'connectors.back_button'|translate}}</button>
                        </div>
                        <div class="right-btn">
                            <button class="kr-sg-button-secondary btn_lg" (click)="backToPage('cancel')">{{'connectors.cancel_button'|translate}}</button>
                            <button class="kr-sg-button-primary btn_lg" *ngIf="selectAddContent==='instructions'" (click)="backToPage('submit')">{{'connectors.proceed_button'|translate}}</button>
                            <button class="kr-sg-button-primary btn_lg" *ngIf="selectAddContent==='configurtion'" (click)="backToPage('submit')" [disabled]="!(configurationObj?.clientId?.length && configurationObj?.clientSecret?.length)">{{'connectors.save_configuration'|translate}}</button>
                            <button class="kr-sg-button-primary btn_lg" *ngIf="selectAddContent==='authentication'" (click)="backToPage('submit')">{{'connectors.connect'|translate}} {{selectedConnector?.connector_name}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---Edit functionality-->
        <div class="connector-cards-data" *ngSwitchCase="'edit'">        
                <div class="inner-content-data">
                    <!-- <div class="desc-text">{{'connectors.editremoveconnectedsources'|translate}}</div> -->
                    <div class="back-to-block"><div class="back-to-page" (click)="backToPage('cancel')"><i class="si-carrotup"></i></div> Back</div>
                    <div class="connector-brand">
                        <div class="c-img">
                            <img [src]="selectedConnector.image">
                        </div>
                        <div class="c-content-sec">
                            <div class="title">{{selectedConnector?.connector_name}}</div>
                            <div class="sub-text">Created {{selectedConnector?.createdOn | date:'mediumDate'}}</div>
                        </div>
                    </div>
                    <div class="edit-connectors-block">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" *ngFor="let tab of connectorTabs">
                                <span class="nav-link" [ngClass]="{'active':tab.type===selectedTab}" data-toggle="tab" (click)="changeEditTabs(tab.type)">{{tab.name}}</span>
                            </li>                                                      
                        </ul>

                        <div class="tab-content" [ngSwitch]="selectedTab">                           
                            <div class="tab-pane active" *ngSwitchCase="'overview'">
                                <perfect-scrollbar class="tab-content-scroll-data">
                                    <div class="overview-tab-data">
                                        <div class="heading-summery">
                                            {{'connectors.summary'|translate}}</div>
                                        <div class="overview-summery-cards">
                                            <div class="table-summery">
                                                <div class="table-heading-summery">
                                                    <div class="title">{{'connectors.source_type'|translate}}</div>
                                                    <div class="title text-right">{{'connectors.items'|translate}}</div>
                                                </div>
                                                <ng-container *ngFor="let overview of overViewData?.overview">
                                                    <div class="repeat-table-body">
                                                        <div class="title user-type">{{overview?.key|titlecase}}</div>
                                                        <div class="title item-count">{{overview?.doc_count}}</div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                            <div class="source-data">
                                                <div class="source-card sync-source-card">
                                                    <div class="sync-card-title">Synchronization</div>
                                                    <div class="sync-card-btn"><button class="kr-sg-button-primary btn_lg" (click)="selectedTab='configurations'">Synchronize content now</button></div>
                                                    <div class="sync-card-desc">You can also configure your <span class="sync-card-link">sync frequency.</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="tab-pane active" *ngSwitchCase="'connectionSettings'">
                                <perfect-scrollbar class="tab-content-scroll-data">
                                <div class="connection-settings-tab-data">
                                        <div class="connection-settings-title">
                                            Content source configuration
                                            <span class="connection-settings-desc pl-2">Edit content source connector settings</span>
                                        </div>
                                        <div class="connection-settings-form">
                                            <div class="kr-sg-input-text mb-3">
                                                <div class="label-text">{{'connectors.name'|translate}}</div>
                                                <input class="input-text" placeholder="Enter name here" type="text" [(ngModel)]="configurationObj.name">
                                                    <!-- <i class="si-eye"></i> -->
                                            </div>
                                            <div class="kr-sg-input-text mb-3">
                                                <div class="label-text">{{'connectors.clientid'|translate}}</div>
                                                <input class="input-text" placeholder="Paste Client ID here" [type]="showProtecedText.isClientShow?'text':'password'" [(ngModel)]="configurationObj.clientId">
                                                <i class="si-eye" *ngIf="!showProtecedText.isClientShow" (click)="showProtecedText.isClientShow=!showProtecedText.isClientShow"></i>
                                                <i class="si-eyeshow" *ngIf="showProtecedText.isClientShow" (click)="showProtecedText.isClientShow=!showProtecedText.isClientShow"></i>
                                            </div>
                                            <div class="kr-sg-input-text mb-3">
                                                <div class="label-text">{{'connectors.clientsecretId'|translate}}</div>
                                                <input class="input-text" placeholder="Paste Secret ID here" [type]="showProtecedText.isSecretShow?'text':'password'" [(ngModel)]="configurationObj.clientSecret">
                                                <i class="si-eye" *ngIf="!showProtecedText.isSecretShow" (click)="showProtecedText.isSecretShow=!showProtecedText.isSecretShow"></i>
                                                <i class="si-eyeshow" *ngIf="showProtecedText.isSecretShow" (click)="showProtecedText.isSecretShow=!showProtecedText.isSecretShow"></i>
                                            </div>
                                            <div class="kr-sg-input-text mb-3">
                                                <div class="label-text">{{'connectors.hostURL'|translate}}</div>
                                                <input type="text" placeholder="Enter Host URL here" class="input-text" [(ngModel)]="configurationObj.hostUrl">
                                            </div>
                                            <div class="kr-sg-input-text mb-3" *ngIf="selectedConnector.type!=='serviceNow'">
                                                <div class="label-text">{{'connectors.host_domain_name'|translate}}</div>
                                                <input type="text" placeholder="Enter Host DomainName here" class="input-text" [(ngModel)]="configurationObj.hostDomainName">
                                            </div>
                                            <ng-container  *ngIf="selectedConnector.type==='serviceNow'">
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.username'|translate}}</div>
                                                    <input type="text" placeholder="Enter Username here" class="input-text" [(ngModel)]="configurationObj.username">
                                                </div>
                                                <div class="kr-sg-input-text mb-3">
                                                    <div class="label-text">{{'connectors.password'|translate}}</div>
                                                    <input [type]="showProtecedText.isPassword?'text':'password'" placeholder="Enter password here" class="input-text" [(ngModel)]="configurationObj.password">
                                                    <i class="si-eye" *ngIf="!showProtecedText.isPassword" (click)="showProtecedText.isPassword=!showProtecedText.isPassword"></i>
                                                    <i class="si-eyeshow" *ngIf="showProtecedText.isPassword" (click)="showProtecedText.isPassword=!showProtecedText.isPassword"></i>
                                                </div>
                                            </ng-container>                                           
                                        </div>
                                </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="tab-pane active" *ngSwitchCase="'content'">
                                <perfect-scrollbar class="tab-content-scroll-data">
                                <div class="content-settings-tab-data">
                                    <div class="search-tab">
                                        <div class="kr-sg-input-search">
                                            <input autocomplete="off" class="input-search pl-33" id="inputSearch" maxlength="60" placeholder="Search" type="text" [(ngModel)]="searchContent">
                                          <img class="search-icon" src="assets/icons/search_gray.svg">
                                          <img class="close-icon" src="assets/icons/close_icon.svg" (click)="searchContent=''">
                                        </div>
                                    </div>
                                    <div class="content-data-table">
                                        <div class="kr-sg-data-table">
                                            <section class="table-content">
                                                <header class="table-header">
                                                    <div class="col-4 p-0">Title</div>
                                                    <div class="col-4">URL</div>
                                                    <div class="col-4">Last Update</div>
                                                </header>
                                                <div class="content-body" *ngFor="let content of overViewData.content | filter: [ searchContent, 'title']">
                                                    <div class="col-4 p-0">{{content?.title}}</div>
                                                    <div class="col-4"><a [href]="content?.url" class="url-link" target="_blank">{{content?.url}}</a></div>
                                                    <div class="col-4">{{content?.lastUpdatedAt | date:'d/M/yyyy, h:mm:s a'}}</div>
                                                </div>
                                            </section>
                                            <app-record-pagination [totalRecord]='total_records' [limitpage]='10' (pageChanged)="paginate($event)">
                                            </app-record-pagination>                               
                                        </div>
                                    </div>
                                </div>
                                </perfect-scrollbar>
                            </div>
                            <div class="tab-pane active" *ngSwitchCase="'configurations'">
                                <perfect-scrollbar class="tab-content-scroll-data">
                                <div class="configurations-tab-data">
                                    <div class="connection-settings-title">
                                        Content source name
                                        <span class="connection-settings-desc pl-2">Customize the name of the content source</span>
                                    </div>
                                    <div class="configurations-form w-60">
                                        <div class="kr-sg-input-text mb-3">
                                            <input type="text" placeholder="Enter name here" class="input-text" [(ngModel)]="configurationObj.name">
                                        </div>
                                    </div>
                                    <div class="sync-frequency-block">
                                        <div class="sync-frequency-title">Sync frequency</div>
                                        <div class="sync-frequency-form-block">
                                            <div class="sync-frequency-left">
                                                <div class="label-text sync-title col-2 pl-0">Sync every</div>
                                                <div class="kr-sg-dropdowns">
                                                    <div class="dropdown dropdown-open">
                                                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" aria-expanded="false">{{syncCount.days===0?'Days':syncCount.days}}</button>
                                                        <ul class="dropdown-menu content-menu">
                                                            <perfect-scrollbar class="scroll-search-field h-200">
                                                              <li class="p-0" *ngFor="let count of syncCount.count | slice:0:31" (click)="syncCount.days=count"><a>{{count}}</a></li>
                                                            </perfect-scrollbar>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="kr-sg-dropdowns">
                                                    <div class="dropdown dropdown-open">
                                                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" aria-expanded="false">{{syncCount.hours===0?'Hours':syncCount.hours}}</button>
                                                        <ul class="dropdown-menu content-menu">
                                                            <perfect-scrollbar class="scroll-search-field h-200">
                                                                <li class="p-0" *ngFor="let count of syncCount.count | slice:0:24" (click)="syncCount.hours=count"><a>{{count}}</a></li>
                                                              </perfect-scrollbar>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="kr-sg-dropdowns">
                                                    <div class="dropdown dropdown-open">
                                                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown" aria-expanded="false">{{syncCount.minutes===0?'Mins':syncCount.minutes}}</button>
                                                        <ul class="dropdown-menu content-menu">
                                                            <perfect-scrollbar class="scroll-search-field h-200">
                                                                <li class="p-0" *ngFor="let count of syncCount.count | slice:0:60" (click)="syncCount.minutes=count"><a>{{count}}</a></li>
                                                              </perfect-scrollbar>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sync-frequency-right" *ngIf="false">
                                                <div class="sync-timer">
                                                    <span class="pr-2"><img src="assets/images/timer.svg" /></span> <span>26 Mins ago</span>
                                                </div>
                                                <div class="sync-estimated-time">
                                                    <span>Estimated time</span> : <span>Few seconds</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="view-more-btn">
                <div *ngIf="['connectionSettings','configurations'].includes(selectedTab)">
                    <button class="kr-sg-button-secondary btn_lg" (click)="backToPage('cancel')">Cancel</button>
                    <button class="kr-sg-button-primary btn_lg" (click)="selectedTab==='configurations'?updateSyncFrequency():updateConnector()">{{selectedTab==='configurations'?'Save Changes':'Connect'}}</button>
                </div>
                <div *ngIf="selectedTab==='connectionSettings'">
                    <button class="kr-sg-button-danger btn_lg" (click)="openDeleteModel('open')"><i class="si-delete"></i>Remove this content source</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--kr model for delete connectors-->
<kr-modal modalType="center" modalClass="modal_popups_ delete-connectors-data" #deleteModel>
    <div class="delete-connectors-info">
        <div class="modal-header" *ngIf="isPopupDelete">
            <div class="title">Remove Content Source</div>
            <div class="close_icon" (click)="openDeleteModel('close')">
                <img src="assets/icons/modal-close.svg">
            </div>
        </div>
        <div class="modal-body">
            <ng-container *ngIf="isPopupDelete">
            <div class="title-text">Are you sure you want to remove following content source?</div>
            <div class="info-text">
                <i class="si-info"></i>
                <span>This action cannot be undone.</span>
            </div>
           </ng-container>
            <div class="connector-brand">
                <div class="c-img">
                    <img [src]="selectedConnector?.image" alt="">
                </div>
                <div class="c-content-sec">
                    <div class="title">{{selectedConnector?.connector_name}}</div>
                    <!-- <div class="sub-text">Tomcat web server and hsql database, and also supports other databases.</div> -->
                    <!--show authorization success or failure-->
                   
                </div>
            </div>
            <div class="hint-connector-text" *ngIf="!isPopupDelete&&isAuthorizeStatus">
                <i class="si-check-round"></i>
                <span>Connection authenticated successfully</span>
            </div>
            <div class="hint-connector-text if-error" *ngIf="!isPopupDelete&&!isAuthorizeStatus">
                <i class="si-warning"></i>
                <span>Connection Authentication failed</span>
            </div>
        </div>
        <div class="modal-footer text-right" *ngIf="isPopupDelete">
            <button class="kr-sg-button-danger btn_lg"  (click)="deleteConnector()">Yes</button>
            <button class="kr-sg-button-secondary btn_lg" (click)="openDeleteModel('close')">No</button>
        </div>
        <div class="modal-footer text-right" *ngIf="!isPopupDelete">
            <button class="kr-sg-button-primary btn_lg" (click)="isAuthorizeStatus?goBacktoListPage():authorizeConnector()">{{isAuthorizeStatus?'Done':'Retry'}}</button>
            <button class="kr-sg-button-secondary btn_lg" (click)="openDeleteModel('close')" *ngIf="!isAuthorizeStatus">Cancel</button>
        </div>
    </div>
</kr-modal>
