@import "../../../../scss/variables/variables.scss";
@import "../../scss/theme-picker.scss";
// Variable
// $titleColor: var(--headingColor);
// $headerColor: var(--headingColor);
// $footerColor: var(--headingColor);
// $ignoreColor: var(--headingColor);

$headingColor: var(--headingColor);
$headerColor: var(--headerColor);
$footerColor: var(--footerColor);
$excludeColor: var(--excludeColor);
//  Classes
%kr-display-flex {
	display: flex;
	align-items: center;
}
.right-nav {
    position: fixed;
    cursor: pointer;
    background: #fff;
    width: 45px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    right: 0;
    top: 48px;
	height: 100%;
	.title {
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
		font-size: 14px;
		color: #202124;
		top: 40px;
		right: -85px;
		position: absolute;
		width: 120px;
		font-weight: bold;
	}
}
.pdf-annotation {
	height: calc(100vh - 62px);
	background-color: #f2f3f5;	
	.pdf-annotation-iframe-content{
		padding: 0;
		height: 100%;
		.content-block{
			height: 100%;
			justify-content: space-between;
			.left-sec-pdf{
				width: calc(100% - 390px);
				background: #fff;    
				padding: 20px 30px !important;
				.header-sec{
					padding: 5px;
					align-items: center;
					height: auto;
					background: #F8F9FA;					
					border-radius: 4px; 					
					.kr-sg-input-search{
					   width: 250px;
					   input{
						   padding-left: 34px;
						   padding-right: 10px;
					   }
					   .search-icon{
						   left: 10px;
						   top: 10px;
					   }
					}
					.checkbox-input{
						padding-right: 25px;
					}              					              
				}
			}
			.right-sec-pdf{
				height: 100% !important;
				width: 380px;				
				background: #fff;
				.right-sec-scroll{					
					.kr-card{
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}			
			.pdf-viewer {		
				display: block;		
			}
			.pdf-container {
				position: relative;
				box-sizing: border-box;
			}
			.pdf-perfect-scroll {						
				height: calc(100vh - 200px);
			}
			.thumb-nails {
				height: 100vh;
				overflow: auto;
			}
			.ng2-pdf-viewer-container {					
				overflow-x: auto;		
			}
			.kr-card {
				background: #ffffff;
				padding: 10px 0px;
				border-bottom: 1px solid #E4E5E7;
				margin-bottom: 0;
				border-radius: 2px;
				margin: 0 30px;
				.kr-title {
					font-size: 14px;
					font-weight: 500;
					line-height: 1.17;
					color: #202124;
					padding: 10px 0px;
				}
				.details {					
					font-size: 12px;
					font-weight: normal;
					line-height: 1.4;
					color: #9AA0A6;
					@extend %kr-display-flex;
					justify-content: space-between;
					padding: 5px 0px;	
					.description{
						color: #202124;	
					}				
				}
				.details-table {
					padding: 10px 0px;
					.kr-row {
						@extend %kr-display-flex;						
						margin-left: 10px !important;
						padding: 5px 0px;
						box-shadow: inset 0px -1px 0px #E4E5E7;
    					border: 0;
						.heading {							
							font-size: 12px;							
    						padding-left: 4px !important;							
							color: #202124;							
							.headingColor {
								background-color: $headingColor;
								padding: 5px 2px;
								margin-right: 10px;
								margin-left: -14px;
								position: relative;
								top: 1px;
							}
							.headerColor {
								background-color: $headerColor;
								padding: 5px 2px;
								margin-right: 10px;
								margin-left: -14px;
								position: relative;
								top: 1px;
							}
							.footerColor {
								background-color: $footerColor;
								padding: 5px 2px;
								margin-right: 10px;
								margin-left: -14px;
								position: relative;
								top: 1px;
							}
							.excludeColor {
								background-color: $excludeColor;
								padding: 5px 2px;
								margin-right: 10px;
								margin-left: -14px;
								position: relative;
								top: 1px;
							}
						}
						.page {
							font-size: 12px;							
							color: #9AA0A6;						
							text-align: center;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							.description {
								color: #202124;	
							}
						}
						.document {
							font-size: 12px;						
							color: #202124;						
							text-align: center;
						}
						.document-title{
							font-size: 12px;						
							color:#9AA0A6;						
							text-align: center;
						}
					}
				}
				.ignored-pages {
					font-size: 12px;										
					color: #9AA0A6;
					padding: 10px 10px 5px 10px;
					border-top: 0px solid #eee;
					.description {
						color: #202124;
						padding-left: 8px;
					}
				}
				.classification-annotation{
					margin-left: 0px;
					margin-top: 6px;
					position: relative;
					.title{
						padding-left: 52px;						
						span{
							font-size: 12px;
							padding: 5px;							
							display: inline-block;
							border-radius: 2px;
							margin-bottom: 5px;
						}
						&::before{
							content: "";
							position: absolute;
							width: 52px;
							height: 1px;
							margin-top: 15px;
							margin-left: -52px;
						}
						&::after{
							content: "";
							position: absolute;
							width: 1px;
							background: #4a90e2;
							opacity: 0.55;
							left: 0;
							top: 0px;					
						}
						&.title-1{
							span{
								background-color: #b7d3f3;
							}
							&::before{								
								background: #4a90e2;
								opacity: 0.55;
							}
							&::after{
								content: "";
								position: absolute;
								height: calc(100% - 173px);
								opacity: 0.55;
								top: 16px;
							}
						}
						&.title-2{
							position: relative;
							span{
								background-color: #abe1b4;
							}
							&::before{
								background: #09a624;
								opacity: 0.55;
								margin-left: -42px;
								width: 42px;
							}
							&::after{
								content: "";
								position: absolute;
								opacity: 0.55;
								background: #09a624;
								height: 85px;
								left: 10px;
								top: 15px;
							}
						}
					}
					.box-content{
						padding: 0;
						position: relative;
						margin-bottom: 10px;						
						.content{
							border-radius: 2px;
							border: solid 1px #EFF0F1;
							padding: 7px 20px 6px 20px;
							.b_title{
								font-size: 10px;
								font-weight: 600;
								color: #202124;																	
								span{
									width: 6px;
									height: 6px;
									background: #FF784B;
									display: inline-block;
									border-radius: 100px;
									margin-right: 5px;
								}						
								&::before{
									content: "";
									position: absolute;
									top: 18px;
									width: 26px;
									height: 1px;
									background-color: #FFBCA5;
									border-radius: 100px;
									margin-left: -8px;
									right: -6px;
								}
								&::after{
									content: "";
									position: absolute;
									width: 1px;
									height: calc(100% + 79px);
									background:#FFBCA5;
									top: 18px;
									right: -7px;
								}
								&.footertext{
									position: relative;
									&::before{
										content: "";
										position: absolute;
										top: 11px;
										width: 26px;
										height: 1px;
										background-color:#FFBCA5;
										border-radius: 100px;
										margin-left: -8px;
										right: -27px;
									}
									&::after{
										content: "";
										position: absolute;
										display:none;
									}
								}
							}
							.intro-heading{
								font-size: 10px;
								font-weight: 600;
								margin: 5px 0;
								color: #202124;
								span{
									width: 6px;
									height: 6px;
									background: #0D6EFD;
									display: inline-block;
									border-radius: 100px;
									margin-right: 5px;
								}
								&::before{
									content: "";
									position: absolute;
									height: 1px;
									background:#85B7FE;
									width: 27px;
									left: -6px;
									margin-top: 10px;									
								}
								&::after{
									content: "";
									position: absolute;
									height: calc(100% + 4px);
									background: #85B7FE;
									width: 1px;
									left: -6px;
									margin-top: 10px;									
								}
								&.automation-text{
									&::after{
										content: "";
										position: absolute;
										height: 1px;
										background: #4a90e2;
										width: 22px;
										left: -8px;
										margin-top: 9px;
										opacity: 0.55;
										display: none;
									}									
								}
							}
							.desc{
								color: #8a959f;
								font-size: 10px;
								margin-bottom: 5px;								
								margin-left: 10px;
								span{
									position: relative;
									&::before{
										content: "";
										position: absolute;
										width: 6px;
										height: 6px;
										background-color: #28A745;
										margin-left: -12px;
										margin-top: 6px;
										border-radius: 100px;
										display: inline-block;
									}
								}
								&::before{
									content: "";
									position: absolute;
									width: 35px;
									height: 1px;
									background-color: #93D3A2;
									margin-left: 0;
									margin-top: 8px;
									border-radius: 100px;
									left: -16px;
								}
								&::after{
									content: "";
									position: absolute;
									width: 1px;
									height: calc(100% + 20px);
									left: -16px;
									background: #93D3A2;
									top: 37px;
								}
								&.bold{
									color: #202124;									
								}
								&.no-circle{
									&::before{
										display: none;
									}
									&::after{
										display: none;
									}
								}
								&.withcircles{
									position: relative;
									&::before{
										content: "";
										position: absolute;
										width: 6px;
										height: 6px;
										background-color: #FF784B;
										margin-left: 0;
										margin-top: 8px;
										border-radius: 100px;
										right: 25px;
										top: 20px;
										left: auto;
									}
									&::after{
										content: "";
										position: absolute;
										width: 52px;
										height: 1px;
										right: -27px;
										background:#FFBCA5;
										top: 31px;
										left: auto;
									}
								}
							}
						}						
					}
					.footer-text{
						position: relative;
						background-color: #f9d4b5;
						padding: 3px 10px;
						background: #FFF1ED;
						border: 1px solid #FFBCA5;
						box-sizing: border-box;
						border-radius: 4px;
						font-size: 10px;
						line-height: 12px;
						color: #FF784B;
						font-weight: normal;
						margin-right: 25px;
						margin-bottom: 5px;
						&::before{
							content: "";
							position: absolute;
							width: 31px;
							height: 1px;
							background: #FFBCA5;
							right: -32px;
							top: 15px;
						}
						&::after{
							content: "";
							position: absolute;
						}
					}
					.header-text{
						background: #F3F8FF;
						border: 1px solid #85B7FE;
						box-sizing: border-box;
						border-radius: 4px;
						color: #0D6EFD;
						font-size: 10px;
						line-height: 12px;
						padding: 5px 10px;
						font-weight: normal;
						display: inline-block;
						margin-bottom: 5px;
						position: relative;
						&::before{
							content: "";
							position: absolute;
							width: 7px;
							height: 1px;
							background: #85B7FE;
							left: -7px;
							top: 10px;
						}
						&::after{
							content: "";
							position: absolute;
						}
					}					
					.paragraph-text{
						position: relative;
						background: #EAF6EC;
						border: 1px solid #93D3A2;
						box-sizing: border-box;
						border-radius: 4px;
						color: #28A745;
						font-size: 10px;
						line-height: 12px;
						display: inline-block;
						padding: 5px 10px;
						width: auto;						
						margin-right: 25px;
						margin-bottom: 5px;
						&::before{
							content: "";
							position: absolute;
							width: 17px;
							height: 1px;
							background: #93D3A2;
							left: -17px;
							top: 16px;
						}
						&::after{
							content: "";
							position: absolute;
						}
					}
				}
			}
			.kr-line {
				border-bottom: 1px solid #eee;
			}                                  
			.buttons-grp{
				border-radius: 2px;
				box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
				border: solid 1px #e5e8ec;
				background-color: #ffffff;
				display: inline-block;
				button{
					padding: 0px 8px;
					border-radius: 0px;
					margin: 0;
					cursor: pointer;
					&:hover{
						background-color: #e5e8ec;
					}
					&.heading_text{
						color: $headingColor;
						border: 0px !important;
						border-right: 1px solid #e5e8ec !important;                                 
					}
					&.header{
						color: $headerColor;
						border: 0px !important;
						border-right: 1px solid #e5e8ec !important;
					}
					&.footer{
						color: $footerColor;
						border: 0px !important;
						border-right: 1px solid #e5e8ec !important;
					}
					&.ignore-text{
						color: $excludeColor;
						border: 0px !important;                                
					}
				}
			}		

			.pagination-bottom{
				.pagination {
					@extend %kr-display-flex;
					justify-content: flex-end;
					margin: 10px 0;
					.kr-sg-button-secondary {					
						img{
							position: relative;
							top: -1px;
						}
					}
					button{
						padding: 0;
						width: 34px;
						height: 34px;
						border: 0;
						background: #EFF0F1;
						border-radius: 4px;
					}
					.pages {						
						min-width: 41px;
						height: 34px;
						text-align: center;
						font-size: 12px;
						line-height: 34px;
						margin: 0 10px;
						padding: 0 14px;
						border: 1px solid #E4E5E7;
						border-radius: 4px;
						color: #202124;
						cursor: pointer;
						.search-page-input {
							max-width: 34px;
							height: 34px;
							outline: 0;														
							text-align: center;
							padding: 0;
							border: 0 !important;
							outline: 0 !important;
						}
					}					
				}
			}			
			.header-title {
				.title {
					color: $primaryColor !important;
					font-size: 20px;
					margin-bottom: 0px;
				}
			}
			.card-title {
				color: $primaryColor;
				font-size: 14px;
				font-weight: bold;				
			}
			.card-subtitle {
				color: $secondaryColor;
				font-size: 14px;
				font-weight: normal;
				margin-bottom: 15px;
			}
			// ANNOTATION COLORS STARTS
			.headingColor {
				color: $headingColor;
			}
			.headerColor {
				color: $headerColor;
			}
			.footerColor {
				color: $footerColor;
			}
			.excludeColor {
				color: $excludeColor;
			}
			.heading-highlight {
				background-color: $headingColor;
			}
			.header-highlight {
				background-color: $headerColor;
			}
			.footer-highlight {
				background-color: $footerColor;
			}
			.exclude-highlight {
				background-color: $excludeColor;
			}
			.heading-highlight, .header-highlight, .footer-highlight, .exclude-highlight {
				cursor: pointer;
			}
			
			.disable-selection {
				cursor: not-allowed;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			// .indicator-container {
			// 	position: absolute;
			// 	z-index: 20;
			// 	padding: 5px 11px;
			// 	font-size: 12px;
			// 	font-weight: normal;
			// 	line-height: 1.4;
			// 	color: #8a959f;
			// 	cursor: pointer;
			// 	width: 120px;
			// 	height: 26px;
			// 	border-radius: 4px;
			// 	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
			// 	border: solid 1px #e5e8ec;
			// 	background-color: #f6f8fa;
			// 	margin: -118px 0 0 -14px;
			// }
			.indicator {
				background-color: fade($modalBorderColor, 10%);
				position: absolute;
				z-index: 20;
				.selected-text {
					color: $primaryColor;
					padding: 10px 0px;
					font-size: 14px;
					font-weight: bold;
				}
				.remove-annotation {
					padding: 5px 11px;
					font-size: 12px;
					font-weight: normal;
					line-height: 1.4;
					color: #8a959f;
					cursor: pointer;
					width: 120px;
					height: 26px;
					border-radius: 4px;
					box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
					border: solid 1px #e5e8ec;
					background-color: #f6f8fa;
					margin: 2px -22px;
				}
				.remove-actions {
					padding: 5px 8px;
					background: #fff;
					border: 1px solid #eee;
					border-radius: 2px;
					box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
					background-color: #ffffff;
					width: 148px;
					height: 41px;
					margin: -12px -23px;
					button.kr-sg-button-primary {
						width: 60px;
						height: 26px;
						border-radius: 4px;
						padding: 0;
						cursor: pointer;
					}
					button.kr-sg-button-secondary {
						width: 60px;
						height: 26px;
						padding: 0;
						cursor: pointer;
					}
				}				
				&__cta {
					top: -130px;
					left: 3%;
					position: absolute;
					width: 700px;
				}
		
				&__cta-link {
					border: 1px solid $backgroundColor;
					background-color: $backgroundColor;
					border-radius: 5px 5px 5px 5px;
					bottom: 0px;
					box-shadow: 2px 2px 5px fade($backgroundColor, 30%);
					color: #ffffff;
					cursor: pointer;
					left: 0px;
					padding: 11px 22px 10px 22px;
					position: absolute;
					transform: translateX(-50%);					
				}
			}
			.highlight.selected {
				background-color: yellow !important;
			}
			.highlight {
				background-color: #f7f31d !important;
			}
			.zoom-option {
				position: fixed;
				bottom: 1%;
				left: 2%;
				z-index: 10;
				font-size: 20px;
				text-align: center;
				cursor: pointer;
				opacity: 0.4;			
				.zoom-in,
				.zoom-out {
					margin-bottom: 5px;
					color: #202124;
					background: #8a959f;
					padding: 3px 8px;
					border-radius: 3px;
				}
			}
			.kr-popover {
				cursor: pointer;
				img {
					height: 15px;
					width: 10px;
				}
			}
			.pagintion {
				text-align: left;
				padding-left: 4%;
				.count {
					color: $primaryColor;
					font-size: 14px;
					font-weight: bold;
					padding: 0 10px;
				}
			}
			.drop-down-options {
				.dropdown {
					img {
						height: 16px;
						width: 100%;
						cursor: pointer;
					}
				}
				.dropdown-menu.show {
					display: block;
					box-shadow: 0px 0px 3px 1px #d0d5d9;
					top: 10px;
				}
				.dropdown-menu {
					li {
						font-size: 16px;
						padding: 7px 15px;
						cursor: pointer;
					}
					li:hover {
						background: $modalBorderColor;
					}
				}
			}
			.close-link {
				position: relative;				
				img {
					cursor: pointer;
				}
				.close-cross {
					background: $whiteColor;
					padding: 5px;
					border-radius: 50%;
					transition: all 0.5s ease;
					&:hover {
						background: $backgroundColor;
					}
				}
			}
			.no-data-found {
				text-align: center;
				.no-title {
					padding: 20px 0 0 0;
					font-size: 24px;
					font-weight: 300;
					color: $primaryColor;
				}
				.no-description {
					padding: 10px 50px 20px 50px;
					font-size: 14px;
					font-weight: normal;
					color: #202124;
					a {
						font-weight: bold;
						color: #0D6EFD;
					}
				}
			}
			.mr-10 {
				margin-right: 10px;
			}
			.marginBottom {
				margin-bottom: 10px;
			}
			.zeroPaddingRight {
				padding-right: 0;
			}
			.hide {
				display: none;
			}
			.kr-sg-button-secondary.btn_md:disabled {
				pointer-events: none;
				cursor: not-allowed;
				-webkit-box-shadow: none;
				box-shadow: none;
				opacity: 0.65;
			}
		}
	}	
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #009dab;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

// ANNO HEADER
.anno-header {	
    box-shadow: 0px 0px 6px #A8C8DD;
	border-left: 0;
	border-right: 0;
	background-color: #ffffff;
	padding: 0;      
	margin-bottom: 2px;
	.navbar{
		@extend %kr-display-flex;
		justify-content: space-between;
		padding: 0 16px 0 20px;
		.leftPanel {
			padding: 20px 0px;
			margin: 0;
			.back-arrow {                   
				cursor: pointer;
			}
			.header-title {
				font-size: 14px;                                       
				color: #202124;
				padding: 0px 0px 0px 10px;
				font-weight: normal;
				.name{
					color: #202124;
					font-weight: normal;
					padding-right: 5px;
				}
				.carrot-right img {
					transform: rotate(-90deg);
					width: 11px;
					height: 11px;
					position: relative;
					top: -1px;
				}                   
				.automation {
					color: #202124;
					font-size: 14px;
					padding-left: 5px;
				}
			}
		}
		.rightPanel {
			margin: 0 !important;
			padding: 0;
			position: relative;
			.ellipsisDropdown{
				position: relative;
				top: 8px;
				&.open{
					.dropdown-toggle{
						background-color: #e5e8ec;
					}
				}
				.dropdown-toggle{
					padding: 0;
					width: 15px;
					height: 26px;
					border-radius: 2px;                        
					padding: 0;
					img{
						position: relative;
						top: 2px;
					}
					&:hover{
						background-color: #e5e8ec;
					}
				}
				.dropdown-custom{
					border-radius: 3px;
					box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
					background-color: #ffffff;
					margin: 0;
					margin-top: 0px;
					padding: 6px 12px;
					li{
						a{
							padding: 5px 0;
						}
					}
				}
			}
			.extract-btn {
				padding: 0;
				.loader-spinner-circle{
					display: inline-block;
					border: 3px solid #8a959f;
					margin: 0 7px;
					border-radius: 50%;
					border-top: 3px solid #009dab;
					width: 20px;
					height: 20px;
					position: relative;
					top: 5px;
					-webkit-animation: spin-loader 2s linear infinite; /* Safari */
					animation: spin-loader 2s linear infinite;
				}
			}
			.gHelp{
				.anno-help{
					.help-button{
						top: 12px;
					}
				}
			}
		}  
	}         
}
@media screen and (min-width: 1800px) {	
	.pdf-annotation{
		.pdf-annotation-iframe-content{
			.content-block{
				.kr-card {
					.classification-annotation {
						.title{
							&.title-1{
								&::after{
									// height: calc(100% - 144px);
								}
							}
						}
					}
				}
			}
		}
	}
}


.pdfViewer{
	width: 100% !important;
	background-color: #fff;
	.page{
		margin: auto !important;
	}
}
.custom-mat-rogress-bar-pdf{
	.mat-progress-bar-buffer{
		background-color:#e5e8ec;
	}
	.mat-progress-bar-fill{
		&::after{
			background-color: #0D6EFD;
		}
	}
}
.annotationLayer {
    display: none;
}
.textLayer>div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    -webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.textLayer::selection {
    background: #009dab;
}