
<!-- HEADER START HERE -->
<div class="container-fluid anno-header">
  <div class="navbar" id="pdfAnno">
    <ul class="nav leftPanel">
      <li class="back-arrow">
        <img (click)='closeModal()' src="assets/icons/carrot_left.svg" alt="closeCross">
      </li>
      <li class="header-title">
        <span class="name">Annotate Document</span>
        <span class="carrot-right">
          <img class="info-icon" src="assets/icons/carrot-up.svg">
        </span>
        <span class="automation">{{fileName || '---'}}</span>
      </li>
    </ul>
    <ul class="nav rightPanel">
      <li class="extract-btn">
        <div *ngIf="extractionLoader" class="loader-spinner-circle"></div>
        <button type='button' [disabled]="!isFormValid || extractionLoader"
          class='kr-sg-button-primary btn_lg marginRightTen' (click)='extractPDF()'>
          {{extractionLoader === true? 'Extracting': 'Extract'}}
        </button>
      </li>
      <li class="rotate">          
        <div class="kr-sg-dropdowns annotation_clockwise_dropdown" ngbDropdown [placement]="'bottom-right'">
          <div class="dropdown dropdown-open">
            <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>                 
              <img class="action_icon" src="assets/icons/overflow_annotation.svg">
            </button>
            <ul class="dropdown-menu content-menu type_sort_dropdown-content" ngbDropdownMenu>
              <li (click)="rotateClock()"><a>Rotate clockwise</a></li>
              <li (click)="rotateAntiClock()"><a>Rotate anticlockwise</a></li>                 
            </ul>
          </div>
        </div>
      </li>     
    </ul>
  </div>
</div>
<!-- <div class="right-nav">
  <div class="tooltip-hover" data-toggle="tooltip" data-placement="left"
    title="Annotations of this are modified. Initiate extraction if the annotation is complete"
    (click)="reviewQuestions()" class="title">
    Review Questions
  </div>
</div> -->

<!-- HEADER END -->
<div class="pdf-annotation">
  <!-- PDF ANNO STARTS HERE -->
  <!-- *ngIf="!noDataFound" -->
  <div class="container-fluid pdf-annotation-iframe-content pr-0" [formGroup]="pdfForm">
    <div class="row m-0 content-block">
      <div class="left-sec-pdf p-0">
        <div class="row header-sec m-0">
          <div class="col-md-4 search-block p-0">
            <div class="kr-sg-input-search m-0">                               
              <input type="text" placeholder="Search text" class="input-search" autocomplete="off" maxlength="200" (keyup)="searchText($event.target.value)">           
              <img src="assets/icons/search_gray.svg" class="search-icon">
            </div>
          </div>
          <div class="col-md-8 checkbox-input pl-0 text-right">
            <div class="kr-sg-checkbox m-0 p-0">
              <input id="checkbox_grp7" formControlName="ignorePages" (change)="ignorePages($event)"
                class="checkbox-custom" type="checkbox">
              <label for="checkbox_grp7" class="checkbox-custom-label">Ignore page</label>
            </div>
          </div>
          <!-- Zoom option -->
          <!-- <div class="zoom-option hide">
            <div class="zoom-in" (click)="zoom()" title="Zoom In">
              +
            </div>
            <div class="zoom-out" (click)="zoomOut()" title="Zoom Out">
              -
            </div>
          </div> -->
        </div>
        <!-- LOADER START -->
        <div class="loaderContainer loaderContainer-views-dashboard" style="position: initial;"
          *ngIf="removeProgressBar">
          <div>
            <i class="fa fa-circle-o-notch fa-spin-fast innerloaderLogoImage"></i>
            <span class="loadingLogo">Loading...</span>
          </div>
        </div>
        <mat-progress-bar mode="determinate" [value]="pdfProgressPerc" *ngIf="loaderFlag"
          class="custom-mat-rogress-bar-pdf"></mat-progress-bar>
        <div class="loaderContainer loaderContainer-views-dashboard" style="position: initial;" *ngIf="loaderFlag">
          <div>
            <i class="fa fa-circle-o-notch fa-spin-fast innerloaderLogoImage"></i>
            <span class="loadingLogo">Loading...</span>
          </div>
        </div>
        <!-- LOADER END -->
        <!-- PDF VIEWER STARTS HERE -->
        <div class="pdf-container" (mouseleave)="mouseLeavePDF($event)" (mouseup)="textLayerMouseup($event)">
          <div [ngClass]="pdfForm.get('ignorePages').value === true ?'disable-selection': ''">
            <ngx-simplebar [options]="options" class="ngx-simplebar" id="simpleBar">
            <!-- <perfect-scrollbar #perfectScroll class="pdf-perfect-scroll" (psScrollY)="onScrollEvent($event)"
              (psXReachEnd)="onScrollEvent($event)" (psYReachEnd)="onScrollEvent($event)"
              (psXReachStart)="onScrollEvent($event)" (psYReachStart)="onScrollEvent($event)"> -->
              <!-- <div (mouseup)="textLayerMouseup($event); NATIVE> -->
              <pdf-viewer id="pdf-report-id" class="pdf-viewer" [src]="pdfConfig.pdfUrl" [zoom]="pdfConfig.zoom"
                [show-all]="pdfConfig.showAll" [render-text]="pdfConfig.renderText"
                [render-text-mode]="pdfConfig.renderTextMode" [rotation]="pdfConfig.rotate"
                [page]="pdfConfig.currentPage" [original-size]="pdfConfig.originalSize"
                [fit-to-page]="pdfConfig.fitToPage" [autoresize]="pdfConfig.autoResize"
                (after-load-complete)="afterLoadComplete($event)" (page-rendered)="pageRendered($event)"
                (pagechanging)="pagechanging($event)" (text-layer-rendered)="textLayerRendered($event)"
                (error)="onError($event)" (on-progress)="onProgress($event)" [c-maps-url]="'assets/js/pdf-dist/cmaps/'" style="display: block;">
              </pdf-viewer>
            <!-- </perfect-scrollbar> -->
          </ngx-simplebar>
          </div>
          <div *ngIf="hostRectangle" class="indicator options-indicator" [style.left.px]="hostRectangle.left"
            [style.top.px]="hostRectangle.top" [style.width.px]="hostRectangle.width"
            [style.height.px]="hostRectangle.height || 0">
            <div class="indicator__cta">
              <div class="buttons-grp" (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation();">
                <button class="kr-sg-button-secondary heading_text headingColor"
                  (click)="optionSelection('heading-highlight', '1', $event)">Heading</button>
                <button class="kr-sg-button-secondary header headerColor"
                  (click)="optionSelection('header-highlight', '2', $event)">Header</button>
                <button class="kr-sg-button-secondary footer footerColor"
                  (click)="optionSelection('footer-highlight', '3', $event)">Footer</button>
                <button class="kr-sg-button-secondary ignore-text excludeColor"
                  (click)="optionSelection('exclude-highlight', '4', $event)">Exclude</button>
              </div>
            </div>
          </div>
          <div class="indicator remove-indicator" (clickOutside)="overRectange =null;" *ngIf="overRectange"
            [style.left.px]="overRectange.left" [style.top.px]="overRectange.top" [style.width.px]="overRectange.width"
            [style.height.px]="overRectange.height || 0">
            <div class="indicator__cta">
              <div class="remove-annotation" (click)="removeAnnotationFlag = true;$event.stopPropagation();"
                *ngIf="!removeAnnotationFlag">
                Remove Annotation
              </div>
              <div class="remove-actions" *ngIf="removeAnnotationFlag">
                <div class="action-btns">
                  <button class="kr-sg-button-primary mr-10" (click)="confirmText()">Confirm</button>
                  <button class="kr-sg-button-secondary" (click)="cancelText();">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="indicator-container remove-indicator" *ngIf="overRectange" [style.left.px]="overRectange.left"
            [style.top.px]="overRectange.top" (clickOutside)="overRectange =null;">
            Remove Annotation
          </div> -->
        </div>
        <!-- PDF VIEWER STARTS END -->
        <!-- PAGE NAVIGATION START -->
        <div class="row pagination-bottom m-0" *ngIf="pdfConfig.currentPage && pdfConfig.totalPages">
          <div class="col-md-12 pagination p-0">
            <button title="Previous page" class="kr-sg-button-secondary" (click)="prevPage()"
              [disabled]="pdfConfig.currentPage === 1">
              <img src="assets/icons/arrow-back.svg" alt="ellipsisGray">
            </button>
            <div class="pages padding-5" *ngIf="!togglePage" (click)="focusInput();" title="Click to search page">
              {{ pdfConfig.currentPage || 0}} / {{ pdfConfig.totalPages || 0}}
            </div>
            <div class="pages" *ngIf="togglePage">
              <input type="text" id="pageInput" [ngClass]="pageNumberValid === true ? 'border-red': ''"
              class="search-page-input" #pageInput [value]="pdfConfig.currentPage" (keyup.enter)="searchPage($event)"
              (keypress)="numberOnly($event)" (focusout)="searchPage($event)" required>
            </div>
            <button title="Next page" class="kr-sg-button-secondary" (click)="nextPage()"
              [disabled]="pdfConfig.currentPage === pdfConfig.totalPages">
              <img src="assets/icons/arrow-next.svg" alt="ellipsisGray">
            </button>
          </div>
        </div>
        <!-- PAGE NAVIGATION END -->
      </div>     
      <div class="right-sec-pdf p-0">
        <perfect-scrollbar class="right-sec-scroll">
          <!-- DOCUMENT INFO START -->
          <div class="kr-card">
            <div class="kr-title">Document Info</div>
            <div class="details row m-0">
              <div class="label col-6 p-0">Total pages</div>
              <div class="description col-6 p-0 text-right">{{ pdfConfig.totalPages || 0}}</div>
            </div>
            <div class="details row m-0">
              <div class="label col-6 p-0">File size</div>
              <div class="description col-6 p-0 text-right">{{pdfSize || '0KB'}}</div>
            </div>
          </div>
          <!-- DOCUMENT INFO END -->
          <!-- ANNOTATION SUMMARY START -->
          <div class="kr-card">
            <div class="kr-title">
              Annotation Summary
            </div>
            <div class="details-table">
              <div class="kr-row row m-0">
                <div class="heading col-4 p-0">

                </div>
                <div class="page col-4 p-0">
                  In Page
                </div>
                <div class="document-title col-4 p-0">
                  In Document
                </div>
              </div>
              <div class="kr-row kr-line row m-0">
                <div class="heading col-4 p-0">
                  <span class="headingColor"></span>
                  Headings
                </div>
                <div class="page col-4 p-0">
                  <ng-container *ngIf="pdfPayload.title_pageno && pdfPayload.title_pageno.length; else noDataFound">
                    <div class="tooltip-hover" data-toggle="tooltip" data-placement="top"
                      title="{{tooltipText(pdfPayload.title_pageno)}}">
                      {{ uniqueListFromArray(pdfPayload.title_pageno) || 0 }}
                    </div>
                  </ng-container>
                  <ng-template #noDataFound>
                    <span class="description"> 0</span>
                  </ng-template>
                </div>
                <div class="document col-4 p-0">
                  {{ pdfPayload.title.length || 0 }}
                </div>
              </div>
              <div class="kr-row kr-line row m-0">
                <div class="heading col-4 p-0">
                  <span class="headerColor"></span>
                  Headers
                </div>
                <div class="page col-4 p-0">
                  <ng-container *ngIf="pdfPayload.header_pageno && pdfPayload.header_pageno.length; else noDataFound">
                    <div class="tooltip-hover" data-toggle="tooltip" data-placement="top"
                      title="{{tooltipText(pdfPayload.header_pageno)}}">
                      {{ uniqueListFromArray(pdfPayload.header_pageno) || 0 }}
                    </div>
                  </ng-container>
                  <ng-template #noDataFound>
                    <span class="description"> 0</span>
                  </ng-template>
                </div>
                <div class="document col-4 p-0">
                  {{ pdfPayload.header.length || 0}}
                </div>
              </div>
              <div class="kr-row kr-line row m-0">
                <div class="heading col-4 p-0">
                  <span class="footerColor"></span>
                  Footers
                </div>
                <div class="page col-4 p-0">
                  <ng-container *ngIf="pdfPayload.footer_pageno && pdfPayload.footer_pageno.length; else noDataFound">
                    <div class="tooltip-hover" data-toggle="tooltip" data-placement="top"
                      title="{{tooltipText(pdfPayload.footer_pageno)}}">
                      {{ uniqueListFromArray(pdfPayload.footer_pageno) || 0 }}
                    </div>
                  </ng-container>
                  <ng-template #noDataFound>
                    <span class="description"> 0</span>
                  </ng-template>
                </div>
                <div class="document col-4 p-0">
                  {{ pdfPayload.footer.length || 0}}
                </div>
              </div>
              <div class="kr-row row m-0">
                <div class="heading col-4 p-0">
                  <span class="excludeColor"></span>
                  Exclusions
                </div>
                <div class="page col-4 p-0">
                  <ng-container
                    *ngIf="pdfPayload.ignoreTextPageno && pdfPayload.ignoreTextPageno.length; else noDataFound">
                    <div class="tooltip-hover" data-toggle="tooltip" data-placement="top"
                      title="{{tooltipText(pdfPayload.ignoreTextPageno)}}">
                      {{ uniqueListFromArray(pdfPayload.ignoreTextPageno) || 0 }}
                    </div>
                  </ng-container>
                  <ng-template #noDataFound>
                    <span class="description"> 0</span>
                  </ng-template>
                </div>
                <div class="document col-4 p-0">
                  {{ pdfPayload.ignoreText.length || 0}}
                </div>
              </div>
            </div>
            <div class="ignored-pages">
              <div class="label">
                Ignored pages:
                <span class="description"
                  *ngIf="pdfPayload.ignorePages && pdfPayload.ignorePages.length; else noDataFound">
                  <ng-container *ngFor="let item of ignoredPages(pdfPayload.ignorePages); last as isLast">
                    {{ item }}<span *ngIf="!isLast">, </span> </ng-container>
                </span>
                <ng-template #noDataFound>
                  <span class="description"> 0</span>
                </ng-template>
              </div>
            </div>
          </div>
          <!-- ANNOTATION SUMMARY END -->
          <!-- CLASSIFICATION OF ANNOTATION START -->
          <div class="kr-card">
            <div class="kr-title">
              Classification of Annotations
            </div>
            <div class="classification-annotation">              
              <div class="box-content">
                <div class="content">
                  <div class="d-flex justify-content-between">                    
                    <div class="intro-heading m-0"><span></span>Introduction</div>
                    <div class="text-right b_title"><span></span>Header</div>
                  </div>
                  <div class="desc"><span>We’re breaking out of the categories of see, hear and recommend. Pioneering organizations have already evolved from automation to value creation, and are expecting radical changes in business models over the coming years.</span> </div>
                  <div class="intro-heading automation-text"><span></span>Automation as of now</div>
                  <div class="desc no-circle">Two years ago, we highlighted ens as our meta-trend. In retrospect, that led directly to last year’s meta-trend,</div>
                  <div class="desc bold bold withcircles">Now, that search has evolved into a re-evaluation of purpose and place in the world by governments, businesses and individuals alike.</div>
                  <div class="text-right b_title footertext"><span></span>Footer</div>
                </div>
              </div>
              <div class="header-text">Headings are classified as questions </div>
              <div class="paragraph-text">Paragraphs between two consecutive headings will be an answer</div>
              <div class="footer-text">Text marked as Headers and Footers is not considered for extraction</div>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <!-- PDF ANNO STARTS END -->
</div>