<div class="cc-landing-page-block">
  <div class="splitter-header">
    <div class="widget-header-block">
      <div class="widget-header">
        {{ 'search_settings_custom_configurations' | translate }}
        <span
          class="module-topic"
          tooltipClass="tooltip-global-"
          [container]="'body'"
          ngbTooltip="{{ 'contentSource_topic_guide' | translate }}"
          placement="right-center"
          (click)="openUserMetaTagsSlider()"
        >
          <i class="si-topic-guide-1"></i>
        </span>
      </div>
      <div class="widget-desc">
        {{ 'search_settings_key_value_pair' | translate }}
      </div>
    </div>
    <div class="add-field-link-btn">
      <span class="icon-add-span"><i class="si-add-plus icon-add"></i></span>
      {{ 'contentSource_add_field' | translate }}
    </div>
  </div>

  <div class="cc-table-block">
    <app-custom-config-form
      [formData]="formData"
      (onFormSubmit)="onFormSubmit($event)"
    ></app-custom-config-form>

    <!-- table start from here -->
    <div class="custom-config-table row m-0">
      <div class="table_data_content col-12">
        <div class="table_header row m-0">
          <div
            class="col_ col-5 title d-flex align-items-center justify-content-start"
          >
            <span
              class="d-flex align-items-center flex-column mr-2 filter-sort"
            >
              <i class="si-chev-up icon-up"></i>
              <i class="si-chev-down icon-down"></i>
            </span>
            {{ 'search_settings_custom_configurations_key' | translate }}
          </div>
          <div
            class="col_ col-5 title d-flex align-items-center justify-content-start"
          >
            <span
              class="d-flex align-items-center flex-column mr-2 filter-sort"
            >
              <i class="si-chev-up icon-up"></i>
              <i class="si-chev-down icon-down"></i>
            </span>
            {{ 'search_settings_custom_configurations_value' | translate }}
          </div>
          <div
            class="col_ col-2 title d-flex align-items-center justify-content-start"
          >
            {{ 'search_settings_custom_configurations_action' | translate }}
          </div>
        </div>
        <perfect-scrollbar class="table_body_content custom-config-table-body">
          <app-custom-config-list
            [customConfigList]="customConfig"
            [isLoading]="isLoading"
            (onDelete)="deleteCustomConfig($event)"
            (onUpdate)="updateCustomConfig($event)"
          ></app-custom-config-list>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</div>
