<div class="callHistoryContainer">
  <div class="scrollContainer no-scroll">
    <div class="empty-state-wrap d-none">
      <div class="empty-image">
        <img src="assets/images/empty-manage-form.png">
      </div>
      <div class="empty-message-wrap">
        <h5 class="empty-head">Call History</h5>
        <p>Define the fields to be presented to your customers for capturing their queries.</p>
        <!-- <button (click)="openFormField()" class="addFieldBTN">Add Field</button> -->
      </div>
    </div>
    <div class="row searchFilterContainer d-none">
      <div class="col-4">
        <span class="form-group searchContainer">
          <input type="text" placeholder="Search" id="searchKey" class="w-100 searchInput">
          <img src="assets/images/search.svg" class="searchIcon">
        </span>
      </div>
      <div class="col-8">
        <div class="filterContainer">
          <div class="showingResult">Showing last one week (07-16-2018 to 07-23-2018) results</div>
          <button class="filterBtn" mat-button (click)="openCallHistoryFilter()">Filter</button>
          <div class="exportHistory">
            <img src="assets/images/export.svg">
          </div>
        </div>
      </div>
    </div>
    <perfect-scrollbar [config]="config" (psScrollY)="isScrolling($event)" class="call-logs-table" [disabled]="workflowService.disablePerfectScroll">
      <div class="callHistoryTableDiv">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="userId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> USER ID </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.email || element.userId}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let element" > {{element.phNumber}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="startDateAandTime">
            <mat-header-cell *matHeaderCellDef> Start Date & Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> <span class="date">{{element.startTime | date:'MM-dd-yyyy'}}</span>
              <span class="time">{{element.startTime | date:'shortTime'}}</span></mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="endDateAandTime">
            <mat-header-cell *matHeaderCellDef> End Date & Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> <span class="date">{{element.endTime | date:'MM-dd-yyyy'}} </span>
              <span class="time">{{element.endTime | date:'shortTime'}}</span></mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="flow">
            <mat-header-cell *matHeaderCellDef> Flow </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openCallHistoryDetails(row)"></mat-row>
        </mat-table>
        <div class="empty-container" *ngIf="!dataSource.data?.length">
          <div class="empty-image">
            <img src="assets/images/empty-illustration.png" alt="">
          </div>
          <div class="empty-message">
            <span class="head">No records found</span>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
    <div class="call-logs-footer" [ngClass]="{'invisible': !isMoreAvalLoad}">
      <div class="more-loading">
        <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
        <span class="wait-message">Loading ...</span>
      </div>
    </div>

  </div>
  <app-slider-component id="callHistoryFilter">
    <div class="sliderContainer width500">
      <div class="sliderHeader">
        <h4 class="slider-title"><img src="assets/images/closeCross.png" class="closeCross" (click)="closeCallHistoryFilter()">Filters</h4>
      </div>
      <perfect-scrollbar [disabled]="workflowService.disablePerfectScroll">
        <div class="sliderBody call-history-filter">
          <div class="inputsDiv">
           <div class="d-flex justify-content-between align-items-center mb-1 date-period-buttons">
            <label class="m-0">Date Period</label>
            <div>
              <button type="button" class="dateRangeBtn" (click)="getDateRange(1)">Today</button>
              <button type="button" class="dateRangeBtn" (click)="getDateRange(7)">Last 7 days</button>
            </div>
           </div>         
           <div class="dateRangeDiv">
            <input (click)="showDateRange = !showDateRange" readonly id="filterDate" placeholder="MM/DD/YYYY">
            <ngbd-datepicker-range (messageEvent)="receiveMessage($event)" *ngIf="showDateRange"></ngbd-datepicker-range>
            <img src="assets/images/calendar.svg" class="calendar" (click)="showDateRange = !showDateRange">
          </div>
          </div>
          <div class="inputsDiv">        
            <div class="kr-sg-dropdowns">
              <div class="label-text font-weight-bold">Status</div>
              <div class="dropdown dropdown-open">
                  <button class="dropdown-toggle dropdown-input mb-0" data-toggle="dropdown">Select</button>                                            
                  <ul class="dropdown-menu content-menu">                                                                                          
                  <li><a>test</a></li>
                  <li><a>test</a></li>
                  <li><a>test</a></li>
                  </ul>
              </div>
          </div> 
          </div>    
          <div class="inputsDiv">        
            <div class="kr-sg-dropdowns">
              <div class="label-text font-weight-bold">Status</div>
              <div class="dropdown dropdown-open">
                  <button class="dropdown-toggle dropdown-input mb-0" data-toggle="dropdown">Select</button>                                            
                  <ul class="dropdown-menu content-menu">                                                                                          
                  <li><a>test</a></li>
                  <li><a>test</a></li>
                  <li><a>test</a></li>
                  </ul>
              </div>
          </div> 
          </div>
        </div>
      </perfect-scrollbar>
      <div class="sliderFooter">
        <button class="btn">Apply</button>
      </div>
    </div>
  </app-slider-component>
  <app-slider-component id="callHistoryDetails">
    <div class="sliderContainer width500 callHistory">
      <div class="sliderHeader">        
        <!-- <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#details">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToActive()" data-toggle="tab" href="#chathistory">Chat history</a>
          </li>          
        </ul> -->
        <div class="close-icon-div">
          <img src="assets/images/close.svg" class="closeCross" (click)="closecallHistoryDetails()">
        </div>
        <h6>Chat History</h6>   
      </div>
      <div class="sliderBody">    
        <div class="tab-content">
          <!-- <div id="details" class="tab-pane active">
            <h3>Details</h3>            
          </div> -->
          <div id="chathistory" class="tab-pane active">
            <div class="chat-history-in-progress" *ngIf="isInProgress">
              <div class="mat-spin-contain">
                <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
                <span class="wait-message">Loading ...</span>
              </div>
            </div>
            <div class="chat-history-container" *ngIf="!isInProgress">
              <div class="chat-history-section">
                <perfect-scrollbar [disabled]="workflowService.disablePerfectScroll">
                  <div class="message-contain" *ngIf="chatHistData.messages.length > 0">
                    <div *ngFor="let mess of chatHistData.messages">
                      <div class="bot-message-contain" *ngIf="mess.type == 'outgoing'">
                        <div class="user-time">{{mess.createdOn | date: 'EEE MMM dd yyyy hh:mm:ss aa'}}</div>
                        <span class="bot-image">
                          <img src="assets/images/bot-icon.svg">
                        </span>
                        <span class="bot-message" [ngClass]="{'active': mess._id == messageId}">
                          {{mess.components[0].data.text}} 
                        </span>
                      </div>
                      <div class="user-message-contain" *ngIf="mess.type == 'incoming'">
                        <div class="user-time">{{mess.createdOn | date: 'EEE MMM dd yyyy hh:mm:ss aa'}}</div>
                        <span class="user-message" [ngClass]="{'active': mess._id == messageId}">
                          {{mess.components[0].data.text}} 
                          <div class="sub-title-contain" *ngIf="mess.type == 'incoming'">
                            <span class="message">Intent: FAQ</span>
                          </div>
                        </span>
                        <span class="user-image">
                          <img src="assets/images/user-icon.svg">
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="empty-message-contain"  *ngIf="chatHistData.messages.length == 0">
                    <div class="empty-img">
                      <img src="assets/images/empty-illustration.png">
                    </div>
                    <div class="empty-mess">
                      NO CHAT HISTORY AVAILABLE  
                    </div>
                  </div>
                </perfect-scrollbar>
              </div>
              <div class="chat-history-footer">

              </div>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </app-slider-component>
</div>