<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="suggInp selection">
      <mat-chip
        *ngFor="let suggInp of suggInps"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(suggInp)">
        {{suggInp}}
        <mat-icon matChipRemove *ngIf="removable"><img src="assets/images/close.svg"></mat-icon>
      </mat-chip>
      <input
        placeholder="Type & enter"
        #suggInpInput
        [formControl]="suggInpCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <!-- <mat-option *ngFor="let suggInp of filteredsuggInps | async" [value]="suggInp"> -->
      <mat-option *ngFor="let suggInp of allSuggestions" [value]="suggInp">
        {{suggInp}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>