<div class="status-modal-popup">
    <div class="modal_content">
      <div class="modal-header">{{'structuredData.structuredDataImport' | translate}} <img src="assets/images/close.svg"
          (click)="closeModal()"></div>
      <div class="modal-body">
        <div class="success-check pb-4" [ngClass]="{'in-progress' : (docStatusObject.status==='IN_PROGRESS')}" *ngIf="(docStatusObject.status==='SUCCESS' || docStatusObject.status==='IN_PROGRESS')">
          <img src="assets/icons/successCheck.svg">
        </div>
        <div class="error-check" *ngIf="(docStatusObject.status==='FAILURE')">
          <img src="assets/images/exclamationCircle-Red.svg">
        </div>
        <div class="message-success text-center" *ngIf="(docStatusObject.status==='IN_PROGRESS' && (docStatusObject.validation && !docStatusObject.validation.fileValidation))">
            {{'structuredData.validation_progress' | translate}}
        </div>
        <div class="message-success text-center" *ngIf="(docStatusObject.status==='IN_PROGRESS' && (docStatusObject.validation && docStatusObject.validation.fileValidation))">
          {{'structuredData.validation_success' | translate}}
        </div>
        <div class="message-success text-center" *ngIf="(docStatusObject.status==='SUCCESS')">
          {{'structuredData.imported_success' | translate}}
        </div>
        <div class="message-success text-center" *ngIf="(docStatusObject.status==='FAILURE' && (docStatusObject.validation && docStatusObject.validation.fileValidation))">
          {{'structuredData.configuration_failed' | translate}}
        </div>
        <div class="message-success text-center" *ngIf="(docStatusObject.status==='FAILURE' && (docStatusObject.validation && !docStatusObject.validation.fileValidation))">
          {{'structuredData.validation_failed' | translate}}
        </div>
        <ng-container *ngIf="docStatusObject && (docStatusObject.validation && docStatusObject.validation.fileValidation) && !(docStatusObject.status==='FAILURE')">
          <div class="status-identification-content"
            *ngIf="!(docStatusObject.status==='FAILURE') && !(docStatusObject.status==='SUCCESS')">
            <div class="content-title text-center">
              <img src="assets/images/source-icos/check-green.svg" class="successfullyConnected">
              <span>{{'structuredData.initial_file_validation' | translate}} </span> <!--  <span >done</span> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="(docStatusObject.status==='FAILURE' && (docStatusObject.validation && !docStatusObject.validation.fileValidation))">
          <div class="content-title text-center">
            <img src="assets/icons/docker/info.svg" class="successfullyConnected" [ngbTooltip]="docStatusObject.store.statusMessage">
            <span>{{'structuredData.file_validation_failed' | translate}} </span> <!--  <span >done</span> -->
          </div>
        </ng-container>
        <div class="progressNote" *ngIf="(docStatusObject.status==='IN_PROGRESS')">
          <div>{{'structuredData.import_progress' | translate}}</div>
        </div>
        <div class="text-center" *ngIf="!((docStatusObject.status==='SUCCESS') || (docStatusObject.status==='FAILURE'))">
          <mat-progress-bar mode="indeterminate" class="mat_progress_bar"></mat-progress-bar>
          <div class="relaxNote">{{'structuredData.notified_when_done' | translate}}</div>
        </div>
        <div class="text-center" *ngIf="(docStatusObject.status==='FAILURE' && (docStatusObject.validation && docStatusObject.validation.fileValidation))">
          <div class="relaxNote">{{docStatusObject.store.statusMessage}}</div>
        </div>
      </div>
      <div class="modal-footer text-right">
        <!-- <button type="button" (click)="abortDoc()" class="kr-sg-button-secondary btn_lg float-none ml-2 mr-0" [ngClass]="{'d-none': ((docStatusObject.status==='SUCCESS') || (docStatusObject.status === 'FAILURE'))}" data-dismiss="modal">{{'structuredData.abort' | translate}}</button> -->
        <button type="button" class="kr-sg-button-primary btn_lg float-none ml-2 mr-0" data-dismiss="modal" [disabled]="(docStatusObject.status==='IN_PROGRESS' && !(docStatusObject.validation))"
          (click)="closeModal()">{{'structuredData.ok' | translate}}</button>
      </div>
    </div>
  </div>