.widget-header-block {
    padding: 35px 20px 15px 35px;

    .widget-header {
        font-weight: 500;
        font-size: 18px;
        line-height: 17px;
        color: #121314;
        padding-bottom: 10px;
    }

    .widget-desc {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #777A80;
    }
}

.landing-page-block {
    padding: 15px 20px 15px 35px;

    .page-sub-header {
        .header-title {
            padding-bottom: 5px;
            padding-top: 20px;
            color: #121314;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
        }

        .header-desc {
            color: #777A80;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
        }
    }

    .landing-page-toggle {
        padding: 0 0 10px 0;

        .kr-sg-toggle {
            input {
                &:not(:checked) {
                    +.slider {
                        span {
                            &.no {
                                color: #202124;
                            }
                        }
                    }
                }
            }

            &.with-label {
                margin-left: 49px;

                .slider {
                    .no {
                        margin-left: -49px;
                    }
                }
            }
        }
    }

    .show-more-less-link-btn {
        color: #2B75E4;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        padding: 10px 0 20px 0;

        &.show-less {
            .icon-add-span {
                position: relative;
                transform: rotate(180deg);
                padding: 0 5px;
            }
        }

        .icon-add-span {
            cursor: pointer;
            padding: 0 5px;

            .icon-down-1 {
                position: relative;
                top: 3px;
                font-size: 10px;
                font-weight: 600;
            }

            .icon-down-2 {
                position: relative;
                top: -2px;
                font-size: 10px;
                font-weight: 600;
            }
        }

        .show-more-less-txt {
            cursor: pointer;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
        }
    }

    .block-separate-line {
        border-bottom: 1px solid #E3E4E6;
    }

    .show-hide-container {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;

        &.showmore {
            max-height: 215px;
            transition: max-height 0.25s ease-in;
        }
    }

    .show-hide-block {
        padding: 15px 15px;
        background: #F7F9FA;
        border-radius: 4px;

        &.block-1 {
            margin: 15px 0 20px 0;
        }

        &.block-2 {
            margin: 20px 0 10px 0;
        }

        .toggle-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .width-25 {
                width: 25%;
            }

            .width-55 {
                width: 55%;
            }

            .width-15 {
                width: 15%;
            }

            .toggle-block-header {
                .toggle-block-hding {
                    color: #121314;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 17px;
                    padding-bottom: 10px;
                }

                .toggle-block-desc {
                    color: #777A80;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            .toggle-block-btn {
                padding-right: 25px;
            }

            .toggle-count-btn {
                background: #FFFFFF;
                border: 1px solid #BDC1C6;
                border-radius: 4px;
                height: 34px;
                padding: 8px 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .toggle-count-add {
                    cursor: pointer;
                    color: #0D6EFD;
                }

                .toggle-count-num {
                    color: #202124;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                }

                .toggle-count-sub {
                    cursor: pointer;
                    color: #0D6EFD;
                }
            }
        }

        .text-note-warning {
            border: 1px solid #FAE29B;
            border-radius: 4px;
            background: #FEF8E6;
            color: #916E03;
            font-weight: 400;
            padding: 5px 5px;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            margin-top: 20px;

            .warning-icon-span {
                padding: 0 6px 0 0;

                .si-warning {
                    &::before {
                        color: #916E03;
                    }
                }
            }
        }

    }

}

.disableminus {
    opacity: 0.251;
    pointer-events: none;
}
