@import 'variables/variables.scss';

.status-modal-popup {
  .modal_content {
    .modal-header {
      background: #ffffff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      height: auto;
      text-align: left;
      display: block;
      padding: 17px 30px;
      font-weight: 600;
      img {
        float: right;
        cursor: pointer;
      }
    }
    .modal-body {
      padding: 45px 35px;
      background: #eff0f1;
      .configInProgress {
        margin-bottom: 28px;
      }
      .message-success {
        color: #202124;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .content-title {
        color: #202124;
        font-size: 14px;
        margin-bottom: 15px;
        img {
          margin-right: 12px;
        }
      }
      .status-identification-content {
        width: 230px;
        margin: 0 auto;
        text-align: left;
      }
      .progressNote {
        color: #202124;
        font-weight: 500;
        font-size: 14px;
        margin: 40px 0 20px 0;
      }
      .relaxNote {
        color: #9aa0a6;
        font-size: 14px;
        font-weight: normal;
        margin: 20px 0 0 0;
      }
      .mat_progress_bar {
        width: 275px;
        margin: 0 auto;
        background: #bdc1c6;
        border-radius: 2px;
      }
      .error-check {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 10px auto;
        margin-bottom: 15px;
        position: relative;
        img {
          width: 50px;
          height: 50px;
          left: 0px;
          top: -25px;
          position: relative;
        }
      }
    }
    .modal-footer {
      text-align: right;
      display: block;
      height: auto;
      padding: 10px 30px;
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 0 0 5px rgb(0 0 0 / 10%);
      .kr-sg-button-primary {
        height: 34px;
        margin: 0 15px 0 0;
        background: #0d6efd;
        color: #fff;
        &:disabled {
          background: #f3f2f1;
          color: #9aa0a6;
        }
      }
      .kr-sg-button-secondary {
        height: 34px;
        margin: 0 15px 0 0;
        background: #fff;
        border: 1px solid #bdc1c6;
        border-radius: 4px;
        color: #202124;
        &:disabled {
          color: #bdc1c6;
        }
      }
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
.status-modal-popup.custom-ref::before {
  content: '';
  position: fixed;
  background: rgba(32, 33, 36, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
::ng-deep perfect-scrollbar .ps--active-y {
  .ps__thumb-y {
    width: 3px !important;
  }
  .ps__rail-y {
    width: 3px !important;
  }
  .ps__thumb-x {
    width: 3px !important;
    display: none;
  }
  .ps__rail-x {
    width: 3px !important;
    display: none;
  }
}

::ng-deep.mat_progress_bar {
  width: 275px;
  margin: 0 auto;
  background: #bdc1c6;
  border-radius: 2px;
  .mat-progress-bar-fill {
    background: #0d6efd;
    &::after {
      background: #0d6efd;
    }
  }
}

.input-text .pointer-none {
  border: none;
}
.border-btm {
  border-bottom: 1px solid #bdc1c6;
}
.border-no {
  border: none !important;
}
.scheduler-box {
  //position: absolute;
  width: 981px;
  // height: 50px;
  background: #ffffff;
  // box-shadow: inset 0px -1px 0px #E4E5E7;
  .scheduler-txt {
    position: absolute;
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .scheduler-Interval-txt {
    position: absolute;
    margin-left: 664px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .date-pick {
    position: absolute;
    height: 34px;
    margin-top: 18px;
    margin-left: 10px;
    width: 293px;
    //left: 223px;
    background: #ffffff;
    border: 1px solid #bdc1c6;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .time {
    margin-left: 328px;
  }
  .scheduler-colon {
    font-weight: 500;
    font-size: 12px;
    margin-top: 18px;
    margin-left: 437px;
  }
  .timeHH {
    position: absolute;
    margin-top: 18px;
    margin-left: 329px;
    width: 50px;
    height: 34px;
  }
  .timeMM {
    position: absolute;
    margin-top: 18px;
    margin-left: 387px;
    width: 50px;
    height: 34px;
  }
  .active {
    background: #f3f8ff;
    border: 1px solid #0d6efd !important;
    box-sizing: border-box !important;
    color: #0d6efd !important;
  }
  .schedule-AM {
    position: absolute;
    border: 1px solid #bdc1c6;
    margin-top: 18px;
    margin-left: 441px;
    width: 41px;
    height: 34px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    padding: 6px;
    color: #bdc1c6;
    cursor: pointer;
  }
  .schedule-PM {
    position: absolute;
    margin-top: 18px;
    border: 1px solid #bdc1c6;
    margin-left: 482px;
    width: 41px;
    height: 34px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding: 6px;
    color: #bdc1c6;
    cursor: pointer;
  }
  .schedule-timZon {
    position: absolute;
    width: 114px;
    height: 34px;
    margin-left: 530px;
    margin-top: 18px;
  }
  .schedule-Interval {
    position: absolute;
    width: 293px;
    height: 34px;
    margin-left: 664px;
    margin-top: 18px;
  }
  .schedule-drop-text {
    color: #bdc1c6;
  }
}
.custom-ref {
  &.new-custom-ref {
    width: 311px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    .modal_content {
      .shedualr-seacondary-header {
        padding: 15px 0 20px 0;
        .cr-chev-left-icon {
          display: inline-block;
          transform: rotate(-270deg);
          padding: 0;
          cursor: pointer;
        }
        .shedualr-seacondary-heading {
          padding-left: 15px;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #121314;
        }
      }
    }
  }
  .modal-body {
    height: 400px;
    padding: 0px 0px 0px 0px !important;
    .cust-ref {
      &.inner-modal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .label-text {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #121314;
        }
        .repeat-input {
          .cust-repeat {
            text-align: center;
            position: relative;
            left: auto;
            top: auto;
            padding-left: 2px;
          }
        }
        .schedule-Interval {
          width: 30%;
          .cust-repeat-type {
            position: relative;
            width: 100%;
            left: auto;
            top: auto;
          }
        }
      }
      // span{
      //     position: absolute;
      //     left: 30px;
      //     font-weight: 500;
      //     font-size: 14px;
      // }
      // .cust-repeat{
      //     position: absolute;
      //     left: 127px;
      //     top: 38px;
      // }
      // .cust-repeat-type{
      //     position: absolute;
      //     width: 100px;
      //     left: 187px;
      //     top: -7px;
      // }
      // .content-width{
      //     width: 25%;
      // }
    }
    .repeat-on {
      .label-text {
        margin-bottom: 11px;
      }
      .days-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
        .circle {
          position: relative;
          top: auto;
          background: #fff;
          border-radius: 4px;
          border: 1px solid #bdc1c6;
          &.active {
            background: #f3f8ff;
            color: #000000;
            font-weight: 600;
            font-size: 14px;
            border: 1px solid #0d6efd;
          }
        }
      }
      span {
        position: absolute;
        top: 100px;
        left: 30px;
        font-weight: 500;
        font-size: 14px;
      }
      .circle {
        position: absolute;
        cursor: pointer;
        width: 34px;
        height: 34px;
        padding: 6px;
        top: 130px;
        border-radius: 50%;
        background: #e4e5e7;
      }
      .custom-repeat-on {
        background: white;
        padding: 8px;
        border-radius: 5px;
      }
      .active {
        background: #0d6efd;
        color: #e4e5e7;
      }
      .cs {
        //top: 114px;
      }
      //    .cm{
      //        left: 77px;
      //    }
      //    .ct{
      //     left: 116px;
      //    }
      //    .cw{
      //     left: 154px;
      //    }
      //    .cth{
      //     left: 193px;
      //    }
      //    .cf{
      //     left: 232px;
      //    }
      //    .csa{
      //     left: 271px;
      //    }
    }

    .ends {
      &.shedular-ends-form {
        .ends-never {
          position: relative;
          left: auto;
          top: auto;
          margin: 0 0 10px 0;
          height: 40px;
          .ends-radio {
            cursor: pointer;
          }
          .sp {
            position: absolute;
            top: 8px;
          }
          &.sp-at {
            .occur-span {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              display: flex;
              align-items: center;
              color: #121314;
            }
          }
          .date-pick {
            text-align: center;
            font-weight: 600;
            padding-left: 2px;
          }
          .mat-datepicker-input {
            text-align: left;
            padding-left: 8px;
            font-weight: 500;
          }
        }
      }

      span {
        position: absolute;
        left: 30px;
        top: 200px;
      }
      .sp {
        position: absolute;
        left: 27px;
        top: 6px;
      }
      .sp-on {
        margin-top: 45px;
      }
      .sp-at {
        margin-top: 90px;
      }
      .ends-radio {
        position: absolute;
        width: 20px;
      }
      .ends-never {
        position: absolute;
        left: 45px;
        top: 230px;
        .date-pick {
          position: relative;
          margin-left: 100px;
        }
        .occur-span {
          position: absolute;
          left: 190px;
          top: 6px;
        }
        ::ng-deep mat-datepicker-toggle {
          position: absolute;
          top: -9px;
          right: 0;
        }
      }
    }
  }
}

::ng-deep .mat-date-icon {
  position: absolute;
  margin-left: 265px !important;
  margin-top: 15px !important;
}

.schedular_row_data {
  margin-bottom: 20px !important;
  &.bg-rows {
    .kr-sg-input-text {
      input {
        border: 0;
        background: #eff0f1;
      }
    }
    .schedule-AM {
      border: 0 !important;
      background: #eff0f1 !important;
    }
    .schedule-PM {
      border: 0 !important;
      background: #eff0f1 !important;
    }
    .kr-sg-dropdowns {
      .dropdown-open {
        .dropdown-input {
          border: 0;
          background: #eff0f1;
          color: #9b9b9b;
        }
      }
    }
  }
  .row_column {
    .scheduletitle {
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 15px;
    }
    .middle_content {
      display: flex;
      border-bottom: 1px solid #e4e5e7;
      padding-bottom: 15px;
      .kr-sg-input-text {
        margin-right: 5px;
        position: relative;
      }

      .schedule-AM {
        color: #bdc1c6;
        background: #fff;
        border: 1px solid #bdc1c6;
        border-radius: 4px 0px 0px 4px;
        height: 34px;
        padding: 6px 9px;
        width: 40px;
        text-align: center;
        border-right: 0;
        cursor: pointer;
        &.active {
          background: #f3f8ff;
          border: 1px solid #0d6efd;
          color: #0d6efd;
        }
        &:hover {
          background: #f3f8ff;
          border: 1px solid #0d6efd;
          color: #0d6efd;
        }
      }
      .schedule-PM {
        color: #bdc1c6;
        background: #fff;
        border: 1px solid #bdc1c6;
        border-radius: 0px 4px 4px 0px;
        border-left: 0;
        height: 34px;
        padding: 6px 9px;
        width: 40px;
        text-align: center;
        margin-right: 5px;
        cursor: pointer;
        &.active {
          background: #f3f8ff;
          color: #0d6efd;
          border: 1px solid #0d6efd;
        }
        &:hover {
          background: #f3f8ff;
          border: 1px solid #0d6efd;
          color: #0d6efd;
        }
      }
      .schedule-timZon {
        width: 114px;
        flex-shrink: 0;
      }
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.custome_date_picker {
  cursor: pointer;
  position: absolute;
  right: 4px;
  bottom: -1px;
}

.mt-15 {
  margin-top: 15px;
}
.recurringFrequencyBlock {
  .schedule-Interval {
    // border-bottom: 1px solid #E4E5E7;
    padding-bottom: 15px;
  }
}
.dropdown-disable {
  background: #eff0f1 !important;
  border: 0 !important;
  color: #bdc1c6 !important;
  cursor: default;
}
.shedular-footer {
  border-top: 1px solid #e4e5e7;
}

::ng-deep ngb-modal-window {
  &.schedualarDataModelPop {
    .modal-dialog {
      background: rgb(94 99 105 / 20%);
      .modal-content {
        .perfect-scroll-modal-body {
          padding: 0 20px;
        }
      }
    }
  }
}

::ng-deep .schedualarDataModelPop {
  .modal-dialog {
    .modal-content {
      height: 551px !important;
      width: 366px !important;
      margin: 15px auto;
      border-radius: 4px !important;
      .modal-header {
        border-bottom: 1px solid transparent !important;
        box-shadow: none !important;
        padding: 22px 20px 0px 20px;
        .title {
          font-weight: 600;
          color: #000000;
        }
      }
      app-scheduler {
        .schedular_row_data {
          padding: 15px 20px;
          margin: 0px !important;
          padding-bottom: 0px !important;
          .row_column {
            margin-bottom: 15px;
            border-bottom: 1px solid #e4e5e7;
            padding: 0 0 15px 0 !important;
            &:first-child {
              border-bottom: 1px solid transparent;
            }
            .kr-sg-input-text {
              mat-card {
                width: 70%;
              }
            }
            .calender {
              mat-card {
                &.demo-inline-calendar-card {
                  box-shadow: 0px 4px 4px rgb(32 33 36 / 20%),
                    0px 1px 2px rgb(32 33 36 / 10%);
                  .mat-calendar {
                    .mat-calendar-content {
                      mat-month-view {
                        .mat-calendar-table {
                          .mat-calendar-body {
                            .mat-calendar-body-cell {
                              .mat-calendar-body-cell-content {
                                &.mat-calendar-body-selected {
                                  box-shadow: inset 0 0 0 1px #0d6efd;
                                  background-color: #0d6efd;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .status-modal-popup {
            &.custom-ref {
              width: 100%;
              .modal_content {
                .modal-body {
                  background-color: #fff;
                  .cust-ref {
                    .cust-repeat {
                      position: absolute;
                      left: 127px;
                      top: 18px !important;
                    }
                  }
                  .repeat-on {
                    .circle {
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .shedular-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        width: 100%;
        padding: 15px 20px;
        .kr-sg-button-secondary {
          border: 1px solid transparent;
        }
      }
    }
  }
}
