<mat-form-field class="example-chip-list" appearance="outline">
  <mat-chip-grid #chipList aria-label="group selection">
    <mat-chip-row
      *ngFor="let group of groups"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(group)"
    >
      {{ group }}
      <button matChipRemove>
        <i class="si-close"></i>
      </button>
    </mat-chip-row>
    <input
      placeholder="New group..."
      #groupInput
      (ngModelChange)="changeList($event)"
      [formControl]="groupCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-grid>
  <mat-autocomplete
    #auto="matAutocomplete"
    class="mat_autofocus_dropdown"
    (optionSelected)="selected($event)"
  >
    <!-- <mat-option *ngFor="let group of filteredgroups | async" [value]="group"> -->
    <mat-option *ngFor="let group of currentSugg" [value]="group">
      {{ group }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
