.main-metrics-container{
    background: #F8F9FB;
    height: calc(100vh - 61px);
    .tab-sec{
        display: flex;
        align-items: center;
        padding: 24px 0;
        margin: 0 80px;
        border-bottom: 1px solid #E4E5E7;
        .tab-name{
            border: 1px solid #85B7FE;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 6px 10px;
            height: 35px;
            line-height: 20px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            width: 180px;
            margin-right: 16px;
            cursor: pointer;
            transition: 0.3s all ease-in;
            &:hover{
                background: #0D6EFD;
                color:#fff;
                border: 1px solid #0D6EFD;
            }
            &:last-child{
                margin:0;
            }
            &.active{
                background: #0D6EFD;
                color:#fff;
                border: 1px solid #0D6EFD;
            }
        }
    }
    .filters-date-sec{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 19px 80px;
        .date-info{
            color: #202124;
            font-size: 14px;
            line-height: 17px;
            font-weight: normal;
            margin-right: 12px;
            .bold-text{
                font-weight: bold;
            }
        }
        .date-select{
            background: #FFFFFF;
            border: 1px solid #E4E5E7;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 3px 4px;
            margin-right: 16px;
            .time{
                background: #fff;
                border-radius: 4px;
                font-weight: normal;
                font-size: 12px;
                color: #202124;
                padding: 3px 10px;                
                display: inline-block;
                cursor: pointer;
                &.active{
                    background: #0D6EFD;
                    color: #ffffff;
                }
            }
        }
        .export{
            cursor: pointer;
        }
    }
    .top-cards-section{
        padding: 11px 66px;
        .cards-data{
            padding: 0 14px;
            .content{
                background: #FFFFFF;
                border: 1px solid #F3F8FF;
                box-sizing: border-box;
                box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                height: 100%;
                padding: 18px 20px;
                .title-info{
                    color: #5F6368;
                    font-weight: 500;
                    font-size: 14px;
                    img{
                        cursor: pointer;
                    }
                }
                .bottom-sec{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left-sec{
                        width: 50%;
                        .count{
                            color: #202124;
                            font-weight: bold;
                            font-size: 25px;
                            padding: 11px 0;
                        }
                        .data-percentage{
                            display: flex;
                            align-items: center;
                            .percentage{
                                color: #9AA0A6;
                                font-size: 14px;
                                padding-left: 5px;
                            }
                            &.failed{
                                img{
                                    background: #DD3646;
                                }
                            }
                            img{
                                background: #28A745;
                                border-radius: 100%;
                                padding: 1px;
                            }
                        }
                    }
                    .right-sec{
                        width: 50%;
                        text-align: right;
                    }
                }
            }
        }
    }
    .scroll_content{
        height: calc(100vh - 150px);  // 218px
    }
    .filter-dropdown{
        position: absolute;
        right: 20px;
        top: 15px;
        width: auto;
        &.show{
            .dropdown{
                .dropdown-input{                   
                    background: #EFF0F1;                                       
                }
            }
        }
        .dropdown{
            .dropdown-input{
                border: 0;
                height: 34px;
                padding: 0 12px;
                background: #ffffff;
                border-radius: 4px;
                &::before{
                    display: none;
                }
            }
        }
        .content-menu{
            background: #FFFFFF;
            box-shadow: 0px 10px 30px rgba(32, 33, 36, 0.3);
            border-radius: 4px;
            border: 0;
            min-width: 160px;
            padding: 20px;
        }
    }
    .data-information-content{        
        .info-icon{
            position: absolute;
            right: 15px;
            top: 10px;
            line-height: normal;
            cursor: pointer;
            img{
                width: 12px;
                height: 12px;
            }
        }  
        &.split-tables{
            padding: 10px 65px;
        }            
        .box-content{    
            padding:5px 15px;     
            position: relative;                 
            .title-card{
                margin-bottom: 12px;
                color: #202124;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;                
            }   
            .paginations_list{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 20px 0 5px 0;
                img{
                    cursor: pointer;
                }
                span{
                    padding: 0 5px;
                    cursor: pointer;
                    &.active{
                        border-bottom: 1px solid #009dab;
                        color: #009dab;
                    }
                }
            }
            .count-sec{
                .arrowsDiv{
                    img{
                        vertical-align: baseline;
                    }
                }
                .count{
                    color: #009dab;
                    font-size: 18px;
                    font-weight: normal;
                    padding: 0 10px;
                }
                .percentage{
                    color: #09a624;
                    font-size: 14px;
                    &.red{
                        color: #FF001F;
                    }
                }
            }
            .table-content-data{               
                .table_header{
                    padding: 15px 0;
                    box-shadow: inset 0px -1px 0px #E4E5E7;
                    .header-title{
                        padding: 0;
                        color: #9AA0A6;
                        font-weight: 500;
                        font-size: 14px;
                        img{
                            cursor: pointer;  
                            vertical-align: baseline;                          
                        }                        
                    }
                }
                .table_body{
                    padding: 15px 0;
                    box-shadow: inset 0px -1px 0px #E4E5E7;
                    .body-title{
                        padding: 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;     
                        color: #202124;
                        font-size: 14px;
                        &.count{
                            color: #009DAB;
                        }
                    }
                    // &:hover{
                    //     transition: 0.3s all ease-in;
                    //     background-color: #f2f3f5;
                    //     cursor: pointer;
                    // }
                }
            }            
            .full-card{
                padding: 28px 30px 50px 30px;
                position: relative;
                height: 100%;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 8px;                                                              
            }            
        }                
    }
    .legends-info{
        display: flex;
        .content{
            margin-right: 60px;
            .title{
                color: #202124;
                font-weight: 500;
                font-size: 14px;
                span{                    
                    width: 48px;
                    display: inline-block;
                    margin-left: 10px;
                    &.toatlsearches{
                        border-top: 4px solid #0D6EFD;
                    }
                    &.withresults{
                        border-top: 4px solid #28A745;
                    }
                    &.clicks{
                        border-top: 4px solid #7027E5;
                    }
                }               
            }
            .count-data{
                padding-top: 10px;
                .count{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    img{
                        margin-right: 5px;
                        vertical-align: baseline;
                    }
                }
                .percentage{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #09A624;
                    padding-left: 8px;
                }
            }
        }
    }
}

::ng-deep perfect-scrollbar .ps--active-y{
    .ps__thumb-y{
        width: 3px !important;
    }
    .ps__rail-y{
        width: 3px !important;
    }
    .ps__thumb-x{
        display: none !important;
    }
    .ps__rail-x{
        display: none !important;
    }
}

.metrics-tooltips-hover{
    filter: drop-shadow(0px 5px 15px rgba(38, 52, 74, 0.3));
    border-radius: 4px;
    background: #fff;
    display: inline-block;
    // max-width: 500px;
    max-width: 360px;
    padding: 20px 30px;
    font-size: 12px;
    position: relative;
    white-space: normal;
    &::before{
        // display: none;
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 9px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }
    .main-title{
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        color:  #202124;
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 14px;
        color: #202124;
    }
    .data-content{
        display: flex;
        line-height: normal;
        align-items: center;
        margin-bottom: 10px;
        .indication{            
            width: 19px;
            height: 19px;
            display: inline-block;
            margin-right: 10px;
            &.voice{
                background: #009DAB;
            }
            &.chat{            
                background: #F5A623;                        
            }
            &.withfailures{
                background: #009DAB;
            }
            &.withoutfailures{
                background: #007D88;
            }
            &.searches{
                background: #0D6EFD;
                border-radius: 16px;
            }
            &.result{
                background: #28A745;
                border-radius: 17px;
            }
            &.clicks{
                background: #7027E5;
                border-radius: 14px;
            }
        }
        .title{
            font-size: 12px;
            line-height: 14px;            
            color: #9AA0A6;
        }
        .count-data{
            color:  #202124;
            font-size: 12px;
            font-weight: 700;
            padding-left: 5px;
        }        
    }
    .success_message_data{
        color: #09A624;
        font-size: 12px;
        line-height: 14px;
        font-weight: normal;
        margin: 15px 0 0 0;
    }
    .info_message_data{
        font-size: 12px;
        line-height: 14px;
        color:  #202124;
    }
    &.total_conversatins_tooltips{               
        .data-content{
            .total-all{
                .self{
                    width: 24px;
                    height: 7px;
                    background: #E5E8EC;
                    display: block;
                }
                .dropoff{
                    width: 24px;
                    height: 7px;
                    background:  #202124;
                    display: block;
                }
                .agent{
                    width: 24px;
                    height: 7px;
                    background: #009DAB;
                    display: block;
                }
            }
            .self{
                width: 24px;
                height: 19px;
                background: #E5E8EC;
                display: block;
            }
            .dropoff{
                width: 24px;
                height: 19px;
                background:  #202124;
                display: block;
            }
            .agent{
                width: 24px;
                height: 19px;
                background: #009DAB;
                display: block;
            }
        }
    }
    &.engagement_analysis_tooltip{
        padding: 18px 20px;
        width: 235px;      
    }
    &.agent_drop_tolltip{
        .split-sec{
            display: flex;
            align-items: center;
            .main-title{
                padding-right: 15px;
                margin: 0;
            }
            .data-content{
                padding-left: 15px;
                border-left: 1px solid #979797;
                margin: 0;
            }
        }
        .indication_text{
            color: #8A959F;
            font-size: 12px;
            line-height: 14px;
            margin: 15px 0;
        }
    }
    .mr-10{
        margin-right: 10px;
    } 
}