.experiment-container {
  .empty-landing-screen{
    .kr-sg-button-primary{
      margin-top: 20px;
    }
  }
  .header-sec {
    background: #f8f9fa;
    border-radius: 4px;
    padding: 12px 10px;
    margin: 22px 30px;
    align-items: center;
    .left-sec {
      .tab-sec {
        .tab_title {
          color: #202124;
          border: 1px solid transparent;
          padding: 6px 15px;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 500;
          margin: 0px 0 0 5px;
          cursor: pointer;
          span {
            color: #5f6368;
            padding-left: 4px;
          }
          &.active {
            background: #ffffff;
            border: 1px solid #e4e5e7;
          }
        }
      }
    }
    .right-sec {
      text-align: right;
      .title {
        color: #202124;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        float: right;
        padding: 0 20px;
        img {
          position: relative;
          top: -1px;
          margin-right: 6px;
        }
      }
    }
  }
  .no-experiments {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 200px);
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #202124;
      margin-top: 30px;
      margin-bottom: 6px;
    }
    .dec {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #9aa0a6;
    }
  }
  .p-scroll-data {
    height: calc(100vh - 150px);
    &.scroll-empty-screen{
      height: calc(100vh - 62px);
    }
  }
  .table-data-content {
    padding: 0 30px 20px 30px;
    .header-data {
      padding: 10px 0;
      border-bottom: 1px solid #e4e5e7;
      .sortImg{                                                       
        position: static;
        &.upArrow {
            transform: none !important;
        }
        &.downArrow {
            transform: rotate(180deg) !important;
            top: -1px !important;
            position: relative;
        }
        &.assending{
            transform: rotate(180deg);
        }
        &.decending{
            transform: rotate(0deg);
        }
    }            
      .h-title {
        color: #5f6368;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
      }
    }
    .acc-card {
      border-bottom: 1px solid #e4e5e7;
      .acc-card-header {
        .acc-card-link {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            left: 8px;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            z-index: 1;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB9SURBVHgBfY3LDYNADETHKAVQwpAlZ9ISHSQd0Ek2FVACUAEN8NlCEGZBQgJp4V0s2eM3QqYfRJq5oc8RgGQMeVRQfCNgsoDEfJrfdggGtXGuqw8HY5mk7f7AlcSMvrnYM3I2GQuRDCo5ZC79/HtjgStWk2/Qo/EW8vUO7RdWEyQoCF1cdgAAAABJRU5ErkJggg==");
          }
          &.collapsed {
            &::before {
              content: "";
              position: absolute;
              width: 10px;
              left: 8px;
              background-repeat: no-repeat;
              background-position: center;
              height: 100%;
              z-index: 1;
              background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB+SURBVHgBbY7NEURQEIT7EcBO7W4AvbwANjRHN0IgAlIQgRKBCBQR8I5UqfJ34tGHOfQ3M90gdUDPz2DJAeYci/rT05ENQVL489szdPdhjBlFXgWgEnl/xAx9paxLQrnl9jp18Cy5bB851PE9/G7q+mLurUS+IbBMXdcEZ7ACSVkhlEoOB4IAAAAASUVORK5CYII=");
            }
          }
          .row_data {
            padding: 9px 0;
            align-items: center;
            position: relative;
            transition: 0.3s all ease-in;
            cursor: pointer;
            &:hover {
              background: #f8f9fa;
              .delete-table {
                display: block;
              }
            }
            .delete-table {
              display: none;
              position: absolute;
              right: 20px;
              img {
                margin-left: 15px;
                cursor: pointer;
              }
            }
            .ex-title {
              color: #202124;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              padding-left: 30px;
              word-break: break-all;
            }
            .variants {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              .variants-block {
                .v-name {
                  background: #28a745;
                  display: inline-block;
                  width: 25px;
                  height: 25px;
                  text-align: center;
                  border-radius: 100%;
                  border: 1.5px solid #ffffff;
                  color: #fff;
                  font-weight: 500;
                  font-size: 12px;
                  margin-left: -4px;
                  line-height: 21px;
                  &:first-child {
                    margin: 0;
                  }
                  &.status{
                    margin-left: -4px;
                  }
                }
                &.left {
                  padding-right: 30px;  
                  min-width: 100px;
                }
                &.right {
                  padding-left: 20px;
                  position: relative;
                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    background: #e4e5e7;
                    height: 100%;
                    width: 1px;
                  }
                }
              }
              .winner {
                color: #9aa0a6;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                margin-left: 5px;
                margin-right: 5px;
              }
            }
            .status {
              .a-status {
                background: #f1e9fb;
                border-radius: 5px;
                display: inline-block;
                min-width: 83px;
                text-align: center;
                color: #381472;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                padding: 5px 10px;
                margin-right: 8px;
                &.paused {
                  background: #fffbea;
                  color: #806d16;
                }
                &.completed {
                  background: #eaf6ec;
                  color: #135423;
                }
                &.configured {
                  background: #e7f1ff;
                  color: #0d6efd;
                }
                &.stopped {
                  background: #fceaed;
                  color: #dd3646;
                }
              }
              img {
                cursor: pointer;
              }
            }
            .date-stamp {
              color: #5F6368;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              margin-bottom: 4px;
              .s-color{               
                color: #9AA0A6;
              }
            }
            .hours {
              color: #202124;
              font-weight: normal;
              font-size: 9px;
              line-height: 12px;
              margin-bottom: 4px;
            }
            .duration-data {
              align-items: center;
              .info-data {
                color: #0d6efd;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                img {
                  margin-right: 6px;
                }
              }
              .info-text {
                color: #0d6efd;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                img {
                  margin-right: 4px;
                }
              }
              .left-sec {
                padding-right: 10px;
                // border-right: 1px solid #e4e5e7;
                min-height: 32px;
                display: flex;
                // align-items: center;
                flex-direction: column;
                justify-content: center;
                position: relative;
                width: 170px;
                &::before{
                  content: "";
                  position: absolute;
                  background: #E4E5E7;
                  height: 34px;
                  width: 1px;
                  right: 12px;
                }
                &.before-none{
                  &::before{
                    display: none;
                  }
                }
              }
              .right-sec {
                // border-left: 1px solid #e4e5e7;
                padding-left: 10px;
                position: relative;
                // &::before{
                //     content: "";
                //     position: absolute;
                //     left: 0;
                //     background: #E4E5E7;
                //     height: 34px;
                //     width: 1px;
                // }
                ngb-progressbar {
                  .progress {
                    height: 6px;
                    background: #e4e5e7;
                    border-radius: 6px;
                    margin-top: 6px;
                    .progress-bar {
                      &.bg-secondary {
                        border-radius: 6px;
                        background: #bdc1c6 !important;
                      }
                    }
                  }
                }
              }
              .date-stamp{
                color: #5F6368;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;                
                &.bottom{
                  width: 125px;
                }
              }             
              .hour{
                width: 125px;
                display: inline-block;                
              }              
              .inline-block{
                line-height: 0;
              }
            }
          }
        }
      }
      .acc-card-body {
        padding: 10px 0 20px 30px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          background: #e4e5e7;
          height: calc(100% - 10px);
          top: -11px;
          left: 12px;
        }
        .bg-sec {
          background: #f8f9fa;
          border-radius: 8px;
          padding: 18px 15px;
          .acc-row-header {
            padding: 0 0 6px 0;
            .title {
              color: #5f6368;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 10px;
              line-height: 14px;
            }
          }
          .acc-row-body {
            padding: 8px 0;
            .varient-data {
              .name-letter {
                background: #28a745;
                display: inline-block;
                width: 25px;
                height: 25px;
                text-align: center;
                border-radius: 100%;
                border: 1.5px solid #ffffff;
                color: #fff;
                font-weight: 500;
                font-size: 12px;
                line-height: 21px;
                flex-shrink: inherit;
              }
              .name {
                color: #202124;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                margin-left: 10px;
                word-break: break-all;
              }
            }
            .title {
              color: #202124;
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              &.leader_percent{
                color: #0D6EFD !important;
              }
            }
          }
          .v-search-config {
            color: #5f6368;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            margin: 0px 10px;
            text-align: right;
            span {
              cursor: pointer;
              &:hover{
                color: #0d6efd;
              }
            }
          }
        }
      }
    }
  }
}

.varient {
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.input-icons .varient {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

::ng-deep .addFieldModalPop {
  .info-notifcation {
    display: inline-flex;
    align-items: center;
    background: #e7f1ff;
    border-radius: 3px;
    padding: 7px 10px;
    margin-bottom: 20px;
    margin-top: -8px;
    .title {
      color: #0d6efd;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
    }
    img {
      margin-right: 8px;
    }
  }
  .pr-30 {
    padding-right: 30px !important;
  }
  .delete-rule {
    position: absolute;
    right: 0;
    bottom: 8px;
    cursor: pointer;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .modal-dialog {
    .modal-content {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) !important;
      border-radius: 8px !important;
      .modal-header {
        .title {
          color: #202124;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        }
      }
      .modal-body {
        padding: 25px 25px !important;
        .duration-sec {
          padding-left: 5px;
          .kr-sg-input-text {
            position: relative;
            display: inline-block;
            width: auto;
            input {
              background: #ffffff;
              border: 1px solid #bdc1c6;
              box-sizing: border-box;
              border-radius: 4px;
              width: 102px;
              padding: 0 27px;
            }
            .minus {
              position: absolute;
              left: 9px;
              bottom: 17px;
              cursor: pointer;
            }
            .plus {
              position: absolute;
              right: 9px;
              bottom: 11px;
              cursor: pointer;
            }
          }
        }
        .variant-add {
          color: #0d6efd;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          display: inline-block;
          cursor: pointer;
          padding-left: 5px;
          img {
            margin-right: 10px;
          }
        }
        .trafic-sec {
          display: flex;
          .slider-sec {
            min-width: 300px;
            margin-right: 35px;
          }
          .percentage-sec {
            display: flex;
            align-items: center;
            margin-left: 30px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: -30px;
              background: #e4e5e7;
              height: 100%;
              width: 2px;
              top: 0;
            }
            .names {
              display: flex;
              align-items: center;
              margin-right: 20px;
              .name {
                border: 1px solid #ffffff;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                color: #fff;
                text-align: center;
                font-weight: 500;
                font-size: 12px;
                line-height: 21px;
              }
              .perentage {
                color: #9aa0a6;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                margin-left: 10px;
              }
            }
          }
        }
        .kr-sg-input-text {
          position: relative;
          &.ifvariant {
            .input-text {
              padding-left: 35px !important;
            }
          }
          .v-name {
            border: 1.5px solid #ffffff;
            display: inline-block;
            width: 23px;
            height: 23px;
            text-align: center;
            border-radius: 100%;
            color: #ffffff;
            font-weight: 500;
            font-size: 12px;
            position: absolute;
            left: 10px;
            bottom: 6px;
          }
        }
      }
    }
  }
}
.pl-pr-5 {
  padding: 0 5px 0 5px;
}
.kr-sg-input-search {
  display: inline-block;
  width: 0px;
  display: none;
  width: 300px;
  height: 20px;
  position: relative;
  bottom: 6px;
  right: 10px;
  &.active {
    display: block;
    width: 300px;
  }
}
.seach-block {
  color: #202124;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  // line-height: 14px;
  margin-right: 30px;
  img {
    margin-right: 7px;
    cursor: pointer;
  }
}

.dropdown-menu li {
  padding: 7px;
  cursor: pointer;
}
.disable_edit {
  background-color: #eff0f1;
}
.winner-block{
  .variants-block{
    .v-name {
      background: #28a745;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 100%;
      border: 1.5px solid #ffffff;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      margin-left: -4px;
      line-height: 21px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .winner-content{
    margin-left: -4px;
    &:first-child {
      margin: 0;
    }
  }
}



.upgrade-experience{
  width: 586px;
  margin: 0 auto;
  text-align: center;
  .title{
    color: #202124;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin: 30px 0;
  }
}