/* You can add global styles to this file, and also import other style files */
:root { 
    --primary-color1: #009DAB;
    --primary-color2: #26344A;
    --primary-color3: #8A959F;
    --background-color1: #F3F3F4;
    --white-color: #FFFFFF;
    --background-color2: #F2F3F5;
    --background-color3: #E5E8EC;
    --green-alert-color: #09A624;
    --red-alert-color:#FF001F;
    --blue-focus-color:#1372FF;
    --yellow-color:#F5A623;
    --light-red-color:#FF5D5D;
    --blue-color:#4A90E2;
    --peach-color:#F3A160;
    --orange-color:#FC8500;
    --corner-radius:2px;
  }