
<div class="mainLoadingSpinner" *ngIf="loadingFaqs" [@fadeInOutAnimation]>
    <mat-spinner diameter="18" strokeWidth="2"></mat-spinner>
    <span class="please-wait-message">{{'please_wait' | translate}}</span>
</div>
<div class="faqmain-container" *ngIf="!loadingFaqs">
    <div class="faqsListContainer">
        <div class="faq-header-sec row">
            <div class="col-8 left-sec p-0">
                <div class="tab-sec d-flex">
                    <div class="tab_title" (click)="selectTab('draft')" [ngClass]="{'active': (selectedtab === 'draft')}">Drafts<span class="">({{faqSelectionObj.stats.draft || 0}})</span></div>
                    <div class="tab_title" (click)="selectTab('in_review')" [ngClass]="{'active': (selectedtab === 'in_review')}">In-review<span class="">({{faqSelectionObj.stats.in_review || 0}})</span></div>
                    <div class="tab_title" (click)="selectTab('approved')" [ngClass]="{'active': (selectedtab === 'approved')}">Approved<span class="">({{faqSelectionObj.stats.approved || 0}})</span></div>
                </div>
            </div>
            <div class="col-4 p-0 right-sec">
                <div (click)="openStatusModal()" class="title"><img src="assets/icons/manage-extraction.svg">Manage Extracts</div>
            </div>
        </div>
        <div class="faq-content-boxes">
            <div class="content left-content">
                <div class="content-boxes faq_tasks_list">
                    <div class="header-sec">
                        <div class="kr-sg-checkbox">
                            <input class="checkbox-custom" type="checkbox" id="selectAllFaqs" (change)="selectAll()" [(ngModel)]="faqSelectionObj.selectAll" autocomplete="off">
                            <label for="selectAllFaqs" class="checkbox-custom-label"></label>
                        </div>
                        <div class="kr-sg-input-search">                               
                            <input type="text" placeholder="Search" class="input-search" [(ngModel)]="searchFaq" id="searchFaqs" name='faqsSearch' (keyup)="searchFaqs()" autocomplete="off">
                            <img src="assets/icons/search-gray.svg" class="search-icon">
                        </div>
                        <div class="kr-sg-dropdowns" #selectResourceDrop='ngbDropdown' ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                            <div class="dropdown dropdown-open">
                                <!-- <span class="filter-count"  placement="top" ngbTooltip="{{(selectedResource && selectedResource._id)?selectedResource.name:'All'}}">{{(selectedResource && selectedResource._id)?selectedResource.name:'All'}}</span> -->
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Filter<img src="assets/icons/filter.svg"></button>                                            
                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                    <li  (click)="selectResourceDrop.close();selectResourceFilter()"><span class="list-name">All</span><img *ngIf="!(selectedResource && selectedResource._id)" src="assets/icons/check-blue.svg"></li>
                                    <ng-container *ngFor="let source of resources">                                        
                                        <li *ngIf="source.status==='success'" (click)="selectResourceDrop.close();selectResourceFilter(source)"><span class="list-name">{{source.name}}</span><img *ngIf="selectedResource && (source._id ===  selectedResource._id)" src="assets/icons/check-blue.svg"></li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                        <div class="kr-sg-dropdowns add"  #selectSourceDrop='ngbDropdown'ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                            <div class="dropdown dropdown-open">
                                <button class="dropdown-toggle dropdown-input" ngbDropdownToggle>Add</button>                                            
                                <ul class="dropdown-menu content-menu faq-filter-add" ngbDropdownMenu>
                                  <li (click)="selectSourceDrop.close();addFaqSource('faqWeb')">Extract FAQs</li>
                                  <li (click)="selectSourceDrop.close();addFaqSource('faqDoc')">Import FAQs</li>
                                  <li (click)="selectSourceDrop.close();addFaqSource('manual')">Add FAQs Manually</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="body-content">
                        <ng-container  *ngIf="(faqs && faqs.length) && !loadingTab" >
                        <perfect-scrollbar class="accor-scroll" #fqasScrollContainer [ngClass]="{'show_footer': faqSelectionObj.selectedCount}" (psYReachEnd)="onScrolledEnd($event)">
                            <div class="selected-all-questions" *ngIf="faqSelectionObj.selectAll">Do you want to select all {{faqSelectionObj.totalFaqsCount || ''}} questions?</div>
                            <div id="accordion" class="accordion-content">
                                <div *ngFor="let faq of faqs">
                                    <div class="card-content" *ngIf="faq.action!=='delete'">
                                        <div [attr.id]="'faqquestionAcc' + faq._id" (click)="selectedFaqToTrain(faq, $event)"  class="card_link collapsed" [ngClass]="{'is-checked':(selectedFaq && selectedFaq._id===faq._id) ||  ((faqSelectionObj && faqSelectionObj.selectedItems[faq._id]) || faqSelectionObj.selectAll)}" data-toggle="collapse" [attr.data-target]="'#'+faq._id" [attr.aria-controls]="collapseOne">      
                                            <span class="published-que" *ngIf="(faq.state==='published')" [ngClass]="{'reverted': (faq.state==='reverted')}">{{faq.state | titlecase}}</span>
                                            <div class="d-flex align-items-center">
                                                <div class="kr-sg-checkbox" (click)="$event.stopImmediatePropagation();">
                                                    <input  [attr.id]="'selectFaqCheckBox_' + faq._id" (change)="checkUncheckfaqs(faq)" class="checkbox-custom selectEachfaqInput" type="checkbox" autocomplete="off">
                                                    <label [attr.for]="'selectFaqCheckBox_' + faq._id" class="checkbox-custom-label"></label>
                                                </div>
                                                <div class="title-desc-sec">
                                                    <div class="title">{{faq.question}}</div>
                                                    <div class="desc" *ngIf="faq && faq.defaultAnswers && faq.defaultAnswers.length && faq.defaultAnswers[0] && faq.defaultAnswers[0].type==='string'" [innerHtml]='convertMDtoHTML.helpers.convertMDtoHTML(faq.defaultAnswers[0].payload)'></div>
                                                    <div class="desc" *ngIf="faq && faq.defaultAnswers && faq.defaultAnswers.length && faq.defaultAnswers[0] && faq.defaultAnswers[0].type==='javascript'">Javascript message</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="{{faq._id}}" class="collapse"  [attr.aria-labelledby]="'faqquestionAcc' + faq._id" data-parent="#accordion">
                                            <div class="cardbody">
                                                <ng-container *ngIf="faq.alternateQuestions && faq.alternateQuestions.length">
                                                    <div class="acc-inner-que" [ngClass]="{'check-all': ((faqSelectionObj && faqSelectionObj.selectedItems[faq._is]) || faqSelectionObj.selectAll)}" *ngFor="let altQuestion of faq.alternateQuestions">
                                                        <div class="title">{{altQuestion.question}}</div>
                                                        <div class="desc" *ngIf="altQuestion && altQuestion.answer">{{altQuestion.answer}}</div>
                                                        <div class="desc" *ngIf="altQuestion && altQuestion.defaultAnswers && altQuestion.defaultAnswers.length && altQuestion.defaultAnswers[0] && altQuestion.defaultAnswers[0].type==='string'" [innerHtml]='convertMDtoHTML.helpers.convertMDtoHTML(altQuestion.defaultAnswers[0].payload)'></div>
                                                       <div class="desc" *ngIf="altQuestion && altQuestion.defaultAnswers && altQuestion.defaultAnswers.length && altQuestion.defaultAnswers[0] && altQuestion.defaultAnswers[0].type==='javascript'">Javascript message</div>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="empty-questions-selected divBlockEmptylastChild">
                                    <div class="heading">No search results</div>
                                </div>
                            </div>
                            <div class="text-center p-4" [ngClass]="{'hide': !moreLoading.loading}">{{moreLoading.loading?moreLoading.loadingText:'Loading.........'}}</div>
                        </perfect-scrollbar>
                       </ng-container>
                       <div class="empty-questions-selected"  *ngIf="loadingTab">
                        <div >
                            <div class="heading">{{'please_wait' | translate}}</div>
                        </div>
                      </div>
                        <div class="empty-questions-selected"  *ngIf="!(faqs && faqs.length) && !searchFaq">
                            <ng-container *ngIf="!loadingTab">
                                <img src="assets/images/icons/empty_ill.svg">
                                <div class="heading">No Questions</div>
                                <div class="desc">Please add questions</div>
                            </ng-container>
                        </div>
                        <div class="footer-btns" *ngIf="faqSelectionObj.selectedCount">
                            <button class="kr-sg-button-primary btn_lg" *ngIf="selectedtab === 'in_review'" (click)="bulkUpdate('update','approved')">Approve</button>
                            <button class="kr-sg-button-primary btn_lg" *ngIf="(selectedtab === 'draft')  || (selectedtab === 'approved')" (click)="bulkUpdate('update','in_review')">Send for Review</button>
                            <button class="kr-sg-button-primary btn_lg" *ngIf="(selectedtab === 'in_review') || (selectedtab === 'approved')" (click)="bulkUpdate('update','draft')">Needs Rework</button>
                            <button class="kr-sg-button-secondary btn_lg" *ngIf="(selectedtab === 'draft')" (click)="deleteQuestion('qstnFAQ',singleSelectedFaq,{})">Delete</button>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="content right-content">
                <div class="content-boxes train_your_questions">
                    <div class="header-sec row m-0 d-none">
                        <div class="col-4 p-0 title">Train your questions</div>
                        <div class="col-8 p-0 title text-right" *ngIf="selectedFaq">
                            <span class="questions-count">Alternate Questions ({{(selectedFaq.alternateQuestions?selectedFaq.alternateQuestions.length:0)}})</span>
                            <span class="questions-count">Followup Questions ({{(selectedFaq.followupQuestions?selectedFaq.followupQuestions.length:0)}})</span>
                        </div>
                    </div>
                    <ng-container *ngIf="!selectedFaq">
                        <div class="empty-questions-selected">
                        <img src="assets/images/icons/empty_ill.svg">
                        <div class="heading">No Questions</div>
                        <div class="desc">Please select a question</div>
                       </div>
                    </ng-container>
                    <ng-container *ngIf="selectedFaq">
                    <div class="header-sec with-info row m-0" *ngIf="selectedFaq && selectedFaq.state === 'in_review'">
                        <div class="col_ p-0 source col-2" ngbTooltip="{{(selectedFaq.sourceName || contentTypes[selectedFaq.source]) | titlecase}}" placement="top">
                            <div class="heading">Source</div>
                            <div class="info-title">{{(selectedFaq.sourceName || contentTypes[selectedFaq.source]) | titlecase}}</div>
                        </div>
                        <div class="col_ p-0 type col-1" ngbTooltip="{{(selectedFaq.resource || contentTypes[selectedFaq.source]) | titlecase}}" placement="top">
                            <div class="heading">Type</div>
                            <div class="info-title">{{contentTypes[selectedFaq.source] | titlecase}}</div>
                        </div>
                        <div class="col-2 p-0 col_">
                            <div class="heading">Editor</div>
                            <div class="info-title">{{selectedFaq.userDetails?selectedFaq.userDetails.fullName:'---'}}</div>
                        </div>
                        <div class="col-3 p-0 col_">
                            <div class="heading">Req. Date & Time</div>
                            <div class="info-title">{{selectedFaq.modifiedOn | dateFormatPipe:'MM-DD-YYYY'}}<span class="time"> {{selectedFaq.modifiedOn | dateFormatPipe:'hh:ss:sss'}}</span></div>
                        </div>
                        <div class="col-4 p-0 col_">
                            <div class="d-flex align-items-center justify-content-end">
                                <button class="kr-sg-button-primary btn_lg" (click)="updateFaq(selectedFaq,'stateUpdate','approved')">Approve</button>
                                <div class="kr-sg-dropdowns add" ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                                    <div class="dropdown dropdown-open">
                                        <button class="dropdown-toggle dropdown-input" ngbDropdownToggle data-toggle="dropdown"><img src="assets/icons/dropdown-arrow.svg"></button>                                            
                                        <ul class="dropdown-menu content-menu faq-filter-add pt-1 pb-1" ngbDropdownMenu>
                                          <li (click)="updateFaq(selectedFaq,'stateUpdate','draft')">Needs Rework</li>                                         
                                        </ul>
                                    </div>
                                </div>
                                <div class="comments-img cursor-pointer">
                                    <img class="cursor" src="assets/icons/comment.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-info-que" *ngIf="selectedFaq && selectedFaq.state === 'draft'">
                        <div class="col_ p-0 source col-2" ngbTooltip="{{(selectedFaq.sourceName || contentTypes[selectedFaq.source]) | titlecase}}" placement="top">
                            <div class="heading">Source</div>
                            <div class="info-title">{{(selectedFaq.sourceName || contentTypes[selectedFaq.source] || 'Manual') | titlecase}}</div>
                        </div>
                        <div class="col_ p-0 type" ngbTooltip="{{(selectedFaq.resource || contentTypes[selectedFaq.source]) | titlecase}}" placement="top">
                            <div class="heading">Type</div>
                            <div class="info-title">{{(contentTypes[selectedFaq.source] || 'Manual') | titlecase}}</div>
                        </div>
                        <div class="col_ p-0" ngbTooltip="{{selectedFaq.userDetails?selectedFaq.userDetails.fullName:'---'}}" placement="top">
                            <div class="heading">Created</div>
                            <div class="info-title">{{selectedFaq.userDetails?selectedFaq.userDetails.fullName:'---'}}</div>
                        </div>
                        <div class="col_ p-0 review-btn">
                            <button class="kr-sg-button-primary btn_lg" (click)="updateFaq(selectedFaq,'stateUpdate','in_review')" >Send for Review</button>
                            <div class="comments-img cursor-pointer">
                                <img class="cursor" src="assets/icons/comment.svg">
                            </div> 
                            <img src="assets/icons/delete-table.svg" class="cursor cursor-pointer" (click)="deleteInfividualQuestion(selectedFaq)" ngbTooltip='Delete' >
                        </div>    
                                      
                    </div>
                    <div class="header-info-que with-info" *ngIf="selectedFaq && selectedFaq.state === 'approved'">
                        <div class="col-2 p-0" ngbTooltip='{{(selectedFaq.sourceName || contentTypes[selectedFaq.source]) | titlecase}}'  placement="top">
                            <div class="heading">Source</div>
                            <div class="info-title">{{(selectedFaq.sourceName  || contentTypes[selectedFaq.source]) | titlecase}}</div>
                        </div>
                        <div class="col-2 p-0" ngbTooltip='{{selectedFaq.source | titlecase}}' placement="top">
                            <div class="heading">Type</div>
                            <div class="info-title">{{contentTypes[selectedFaq.source] | titlecase}}</div>
                        </div>
                        <div class="col-2 p-0" ngbTooltip="{{selectedFaq.userDetails?selectedFaq.userDetails.fullName:'---'}}" placement="top">
                            <div class="heading">Edited by</div>
                            <div class="info-title">{{selectedFaq.userDetails?selectedFaq.userDetails.fullName:'---'}}</div>
                        </div>
                        <div class="col-2 p-0" ngbTooltip="{{(selectedFaq.reviewerDetails?selectedFaq.reviewerDetails.fullName:'---')}}" placement="top">
                            <div class="heading">Reviewed by</div>
                            <div class="info-title">{{(selectedFaq.reviewerDetails?selectedFaq.reviewerDetails.fullName:'---')}}</div>
                        </div>
                        <div class="col-3 p-0" ngbTooltip="{{selectedFaq.modifiedOn | dateFormatPipe:'MM-DD-YYYY hh:mm:ss'}}">
                            <div class="heading">Approved at</div>
                            <div class="info-title">{{selectedFaq.modifiedOn | dateFormatPipe:'MM-DD-YYYY hh:mm:ss'}}</div>
                        </div>                       
                        <div class="col-1 p-0 text-right d-flex align-items-center">
                            <div class="comments-img">
                                <img class="cursor" src="assets/icons/comment.svg">
                            </div>  
                            <div class="kr-sg-dropdowns elipse-dropdown" ngbDropdown [container]="'body'" [placement]="'bottom-right'">                                        
                                <div class="dropdown dropdown-open">
                                    <button class="dropdown-toggle dropdown-input" ngbDropdownToggle data-toggle="dropdown"><img src="assets/icons/elipse.svg"></button>                                            
                                    <ul class="dropdown-menu content-menu faq-filter-add pt-1 pb-1" ngbDropdownMenu>
                                      <li (click)="updateFaq(selectedFaq,'stateUpdate','draft')">Move to Drafts</li>      
                                      <li (click)="updateFaq(selectedFaq,'stateUpdate','in_review')">Send for Review</li>                                
                                      <li class="delete-text cursor-pointer" (click)="deleteInfividualQuestion(selectedFaq)">Delete</li>                                   
                                    </ul>
                                </div>
                            </div>
                        </div>                       
                    </div>
                    <perfect-scrollbar class="train-questions-body-scroll" #editQaScrollContainer>               
                        <div class="body-content" id="questionList">
                            <!-- <app-add-faq (editFaq)="editFaq($event)" [faqData]="selectedFaq" (cancelfaqEvent)="faqCancle()" *ngIf="editfaq && selectedFaq"></app-add-faq> -->
                            <div class="body-top-content" *ngIf="!editfaq">
                                <div class="question-content">
                                    <div class="title-que">
                                        <span class="">{{selectedFaq.question}}</span>
                                        <img src="assets/icons/edit.svg" (click)="editThisQa()" ngbTooltip='Edit'  placement="bottom">
                                    </div>
                                    <div class="keywords">
                                        <span class="key-title">Key Terms :</span>
                                        <span class="keys" *ngFor="let keyword of selectedFaq.keywords">{{keyword}}</span>
                                    </div>  
                                    <div class="bot-response-view-mode">
                                        <ng-container *ngIf="selectedFaq && selectedFaq.defaultAnswers && selectedFaq.defaultAnswers.length">
                                            <ng-container *ngFor="let answer of selectedFaq.defaultAnswers ;let i = index;">
                                                <div class="bot-response-title">Bot Response <span>{{ ' ' + (i + 1)}}</span></div> 
                                                <div class="img-view-mode" *ngIf="answer && answer.multimedia && answer.multimedia.url">
                                                    <img src="{{answer.multimedia.url}}">
                                                </div>
                                                <div class="desc-info" *ngIf="answer.type==='string'" [innerHtml]='convertMDtoHTML.helpers.convertMDtoHTML(answer.payload)'></div>
                                                <div class="desc-info desc-info-javascript-message" *ngIf="answer.type==='javascript'">Javascript message</div>
                                            </ng-container> 
                                        </ng-container>
                                    </div>
                                    <div class="conditionalBlock bot-response-view-mode" >
                                        <ng-container *ngIf="selectedFaq && selectedFaq.conditionalAnswers && selectedFaq.conditionalAnswers.length">
                                        <ng-container *ngFor="let consitionalAnswer of selectedFaq.conditionalAnswers; let i = index;">
                                            <div class="bot-response-title">Bot Response <span>{{ ' ' + (i + 1 + (selectedFaq.defaultAnswers?selectedFaq.defaultAnswers.length:0))}}</span></div> 
                                            <div class="condition-tags">Conditions : <span *ngIf="consitionalAnswer && consitionalAnswer.answers && consitionalAnswer.conditions.length"><span *ngFor="let item of consitionalAnswer.conditions;  let index = index"><span *ngIf="index">,</span>{{item.value}}</span></span></div>
                                            <div *ngIf="consitionalAnswer && consitionalAnswer.answers && consitionalAnswer.answers.length">
                                                <div *ngFor="let ans of consitionalAnswer.answers">
                                                    <div class="img-view-mode" *ngIf="ans.multimedia && ans.multimedia.url">
                                                        <img src="{{ans.multimedia.url}}">
                                                    </div>
                                                    <ng-container>
                                                        <div class="desc-info" *ngIf="ans.type==='string'" [innerHtml]='convertMDtoHTML.helpers.convertMDtoHTML(ans.payload)'></div>
                                                         <div class="desc-info desc-info-javascript-message" *ngIf="ans.type==='javascript'">Javascript message</div>
                                                    </ng-container> 
                                                </div>
                                            </div>
                                        </ng-container>
                                            </ng-container> 
                                    </div>
                                    <!-- <div class="added-answer" [innerHtml]='convertMDtoHTML.helpers.convertMDtoHTML(selectedFaq.answer)'></div> -->
                                </div>
                                <div class="appearences-info row" *ngIf="selectedFaq && selectedFaq.feedback">
                                    <div class="col-4 p-0">
                                        <span class="source">Appearances:</span>
                                        <span class="count">{{selectedFaq.feedback.expand}}</span>
                                    </div>
                                    <div class="col-3 p-0">
                                        <span class="source">Clicks:</span>
                                        <span class="count">{{selectedFaq.feedback.click}}</span>
                                    </div>
                                    <div class="col-2 p-0">
                                        <span class="source cursor-pointer"><img src="assets/icons/like.svg"></span>
                                        <span class="count">{{selectedFaq.feedback.thumbsup}}</span>
                                    </div>
                                    <div class="col-3 p-0">
                                        <span class="sourc cursor-pointer"><img src="assets/icons/dislike.svg"></span>
                                        <span class="count">{{selectedFaq.feedback.thumbsdown}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="add-alternative-questions row">
                                <div class="col-10 pl-0 pr-2">
                                    <div class="question-name text-truncate">Alternate Questions
                                        <span>{{selectedFaq.alternateQuestions?.length>0?'('+selectedFaq.alternateQuestions?.length+')':''}}</span>
                                        <!-- ({{(selectedFaq.alternateQuestions?selectedFaq.alternateQuestions.length:0)}}) -->
                                    </div>
                                    <div class="added-tags text-truncate">Add alternate forms of the question, key terms.</div>
                                </div>
                                <div class="col-2 p-0 text-right">
                                    <button class="kr-sg-button-primary btn_lg" (click)="addAlternate()">Add</button>
                                </div>
                            </div>
                            <div *ngIf="selectedFaq.isAlt">
                                <app-add-alternate-question [faqServ]="faqServiceAlt"></app-add-alternate-question>
                            </div>
                            <ng-container *ngIf="selectedFaq.alternateQuestions?.length">
                            <div class="added-questions-list" *ngFor="let alternateQuestion of selectedFaq?.alternateQuestions">
                                <div class="question-name text-truncate">{{alternateQuestion.question}}</div>
                                <div class="added-tags text-truncate">
                                    <span class="tags-data" *ngFor="let keyword of alternateQuestion?.keywords">#{{keyword.keyword}}&nbsp;</span>
                                </div>
                                <img src="assets/icons/delete-table.svg" (click)="delAltQues(alternateQuestion)" class="delete-icon cursor-pointer" [ngClass]="{'pos-trash': alternateQuestion?.keywords?.length == 0}">
                            </div>
                           </ng-container>
                            <div class="add-alternative-questions row">
                                <div class="col-10 pl-0 pr-2">
                                    <div class="question-name text-truncate">Followup Questions 
                                        {{(selectedFaq.followupQuestions?.length>0?'('+selectedFaq.followupQuestions.length+')':'')}}
                                    </div>
                                    <div class="added-tags text-truncate">Add followup the question, key terms.</div>
                                </div>
                                <div class="col-2 p-0 text-right">
                                    <button class="kr-sg-button-primary btn_lg" (click)="addFollowUp()">Add</button>
                                </div>
                            </div>
                            <div *ngIf="selectedFaq.isAddFollow">
                                <app-add-faq (addFaq)="addNewFollowUp($event)" (cancelfaqEvent)="selectedFaq.isAddFollow = null"></app-add-faq>  
                                <!-- <app-add-alternate-question [faqServ]="faqServiceFollow"></app-add-alternate-question> -->
                            </div>

                            <ng-container *ngIf="selectedFaq.followupQuestions?.length">
                                <div class="added-questions-list" *ngFor="let followQues of selectedFaq.followupQuestions">
                                    <div class="question-name text-truncate">{{followQues.question}}</div>
                                    <div class="added-tags text-truncate">
                                        <span class="tags-data" *ngFor="let keyword of followQues?.keywords">#{{keyword.keyword}}&nbsp;</span>
                                    </div>
                                    <img src="assets/icons/delete-table.svg" (click)="delFollowQues(followQues)" class="delete-icon cursor-pointer" [ngClass]="{'pos-trash': followQues?.keywords?.length == 0}">
                                </div>
                            </ng-container>
                        </div>
                    </perfect-scrollbar>
                   </ng-container>
                </div>
            </div>
        </div>        
    </div>
</div>


<kr-modal modalType="center" modalClass="addSourceModalComponent" #statusModalPop>
    <div class="modal-header modal-table-actions">               
        <div class="table-action-header row m-0"> 
            <div class="close_modal" (click)='closeStatusModal()'><img src="assets/icons/modal-close.svg"></div> 
            <div class="d-flex align-items-center">
                <div class="kr-sg-input-search">                               
                    <input type="text" name='searchSources' placeholder="Search" id="searchContentSources" class="input-search" [(ngModel)]="searchSources" autocomplete="off">
                    <img *ngIf="!searchSources" src="assets/images/search_gray.svg" class="search-icon">
                    <img *ngIf="searchSources" src="assets/images/close.svg" class="search-icon close-modal">                
                </div>                         
                  <div class="kr-sg-dropdowns">            
                    <div class="dropdown dropdown-open">
                        <button class="dropdown-toggle dropdown-input" data-toggle="dropdown"><img src="assets/icons/sidemenu/plus-table.svg">Add FAQs</button>                                            
                        <ul class="dropdown-menu content-menu">                                                              
                          <li (click)="addFaqSource('faqWeb')">Web URL</li>
                          <li (click)="addFaqSource('faqDoc')">Upload File</li>
                        </ul>
                    </div>
                  </div>
                  <div *ngIf="currentView === 'list'" class="grid-list-view-table" (click)="currentView='grid'"><img src="assets/icons/grid-view.svg"></div>
                  <div *ngIf="currentView === 'grid'" class="grid-list-view-table" (click)="currentView='list'"><img src="assets/icons/list-view.svg"></div>
            </div>
        </div> 
    </div>
    <div *ngIf="!(resources && resources.length)" class="empty-source-modal">
        <div class="empty-sources">
            <img src="assets/images/icons/empty_ill.svg">
            <div class="heading">No FAQ sources are available</div>
        </div>
    </div>
    <div class="modal-body source-modal-popup" *ngIf="resources && resources.length">
        <ng-container  *ngIf="currentView === 'list'">
            <div class="table-list-content">
                <div class="kr-sg-data-table with-checkbox"  *ngIf="resources && resources.length">
                <section class="table-content">
                    <header class="table-header">
                        <div class="col" (click)="sortBy('name')">Title<img src="assets/icons/caretDown.svg" class="ml-1 hide"></div>
                        <div class="col" (click)="sortBy('type')">Type <img src="assets/icons/caretDown.svg" class="ml-1 hide"></div>
                        <div class="col" (click)="sortBy('recentStatus')">Status <img src="assets/icons/caretDown.svg" class="ml-1 hide"></div>
                        <div class="col" (click)="sortBy('extrated')">Extrated <img src="assets/icons/caretDown.svg" class="ml-1 hide"></div>
                        <div class="col" (click)="sortBy('createdOn')">Created By<img src="assets/icons/caretDown.svg" class="ml-1 hide"></div>
                        <div class="col" (click)="sortBy('createdOn')">Reviewed By<img src="assets/icons/caretDown.svg" class="ml-1 hide"></div>
                        <div class="col last-child" (click)="sortBy('name')"></div>
                    </header>
                    <perfect-scrollbar class="faqScurceListScroll" [disabled]="workflowService.disablePerfectScroll">
                    <div class="content-body" *ngFor="let source of resources | filter: [ searchSources, 'name']">
                        <div class="col">{{source.title || source.name}}</div>
                        <div class="col">{{source.source | titlecase}}</div>
                        <div class="col">
                            <span *ngIf="source.recentStatus && statusObj[source.recentStatus]" [ngStyle]="{color: (source.recentStatus && statusObj[source.recentStatus])?statusObj[source.recentStatus].color:'black'}">{{statusObj[source.recentStatus].name}}</span>
                            <span *ngIf="!(source.recentStatus && statusObj[source.recentStatus])">---</span>
                        </div>

                        <div class="col">{{source.extractedFaqsCount || '0'}}</div>
                        <div class="col" *ngIf="source && source.userDetails" >{{source.userDetails.fullName || source.userDetails.firstName + ' ' + source.userDetails.lastName }}</div>

                        <!-- <div class="col">{{source.extracted || '0'}}</div>
                        <div class="col">{{source.staged || '0'}}</div> -->
                        <div class="col">{{source.createdOn | dateFormatPipe:'MM-DD-YYYY'}}</div>
                        <div class="col text-right last-child">
                            <span class="actions-links" (click)="deleteSource(source,$event)"  ngbTooltip='Delete'><img class="action_icon" src="assets/icons/sidemenu/delete-table.svg"></span>
                            <!-- <span class="actions-links"><img class="action_icon" src="assets/images/list.svg"></span> -->
                        </div>
                    </div>
                    <div class="empty">No Search Results found</div>
                    </perfect-scrollbar>
                    
                </section>                               
            </div>
            <div class="divBlockEmptylastChild">{{searchSources?'No Data Found': 'No search results'}}</div>
            </div>
        </ng-container>
        <ng-container  *ngIf="currentView === 'grid'">
            <div class="list-view-data">
                <div class="row row_list">
                    <div class="box-content" *ngFor="let source of resources | filter: [ searchSources , 'name']"
                    (click)="openStatusSlider(source)">
                    <div class="box">
                      <div class="title">{{source.title || source.name}}</div>
                      <div class="type" [ngClass]="{'doc': (source.type==='document')}">{{contentTypes[source.source] | titlecase}}</div>
                      <div class="status-data">
                        <div class="count-pages" *ngIf="statusObj[source.recentStatus].name == 'Success'"><span class="pagelength">{{source.extractedFaqsCount}}</span> FAQs</div>
                        <div class="status-info" *ngIf="source.recentStatus && statusObj[source.recentStatus] && (source.recentStatus !== 'success') " [ngStyle]="{color: (source.recentStatus && statusObj[source.recentStatus])?statusObj[source.recentStatus].color:'#202124'}">
                          <img src="assets/icons/failed-status.svg" *ngIf="statusObj[source.recentStatus].name == 'Failed'">
                          <img class="inprogressLoader" src="assets/icons/ringLoading.svg"
                            *ngIf="statusObj[source.recentStatus].name == 'In Progress'">
                          <div class="status-name" *ngIf="statusObj[source.recentStatus].name !== 'Success'">{{statusObj[source.recentStatus].name}}</div>
                        </div>
                        <div *ngIf="!(source.recentStatus && statusObj[source.recentStatus])">---</div>
                        <div class="created-date" *ngIf="statusObj[source.recentStatus].name == 'Success'">
                          {{source.createdOn | dateFormatPipe}}
                        </div>
                      </div>
                        <div class="actions-delete">                           
                            <span class="actions-links d-none"><img class="action_icon" src="assets/icons/sidemenu/table-refresh.svg"></span>
                            <span class="actions-links" (click)="deleteSource(source,$event)"  ngbTooltip='Delete'><img class="action_icon" src="assets/icons/sidemenu/delete-table.svg"></span>
                        </div>
                    </div>
                  </div>          
                </div>
            </div> 
        </ng-container>
    </div>
</kr-modal>

<kr-modal modalType="center" modalClass="add-web-croling-upload-file" #addfaqSourceModalPop>
    <ng-container *ngIf="showSourceAddition">
        <app-add-source [inputClass]='"faqSourceAddition"' [resourceIDToOpen]="showSourceAddition" (saveEvent)="onSourceAdditionSave($event)" (cancleEvent)="onSourceAdditionClose($event)"></app-add-source>
    </ng-container>
</kr-modal>
<kr-modal modalType="center" #editfaqSourceModalPop modalClass="modal_popups_">
    <ng-container  *ngIf="editfaq && selectedFaq">
  <div class="modal-header">
    <div class="title">Edit FAQ</div>
    <div class="close_icon"><img class="ng-tns-c11-2" (click)="faqCancle()" src="assets/icons/modal-close.svg"></div>
  </div>
<perfect-scrollbar class="perfect-scroll-modal-body">
  <div class="modal-body">
    <app-add-faq [faqUpdate]="faqUpdate.asObservable()" (editFaq)="editFaq($event)" [faqData]="selectedFaq" (cancelfaqEvent)="faqCancle()"></app-add-faq>
  </div>
</perfect-scrollbar> 
  <div class="modal-footer">
      <button class="kr-sg-button-primary btn_lg" (click)="faqUpdateEvent()">Save</button>
      <button class="kr-sg-button-secondary btn_lg" (click)="faqCancle()">Cancel</button>
  </div>
</ng-container>
</kr-modal>
